<div *ngIf="!isView">Loading Data...</div>
<div class="card" *ngIf="isView">
    <div class="card-header">New Batch Stages</div>
    <div class="card-block">
      <div class="card-text">
        <table class="table">
          <tr>
            <td style="text-align: left; width: 20%;;">Product Code:</td>
            <td style="text-align: left;">{{ details['product_code'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left; width: 20%;;">Product Name:</td>
            <td style="text-align: left;">{{ details['product_name'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left; width: 20%;;">Batch Size:</td>
            <td style="text-align: left;">{{ details['batch_size'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left; width: 20%;;">Stage No:</td>
            <td style="text-align: left;">{{ details['stage_no'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left; width: 20%;;">Stage For:</td>
            <td style="text-align: left;">{{ details['stage_for'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left; width: 20%;;">Stage:</td>
            <td style="text-align: left;">{{ details['stage'] }}</td>
          </tr>
          
        </table>

        <clr-checkbox-container clrInline *ngIf="details['stage'] != 'DISPENSING'">
          <label>Check Applicable:</label>
          <clr-checkbox-wrapper *ngFor="let option of options">
            <input type="checkbox" clrCheckbox name="options" [value]="option.option" [(ngModel)]="option.status"/>
            <label>{{ option.name }}</label>
          </clr-checkbox-wrapper>
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox name="inprocess_testing" [(ngModel)]="inprocess_testing"/>
            <label>Inprocess Testing</label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
        
        <h3>General Instruction:</h3>
        <table class="table">
          <tr>
            <th style="width: 50px;">Sr.</th>
            <th>Instruction</th>
            <th style="width: 13%;">ADD</th>
          </tr>
          <tr>
            <td>0</td>
            <td style="padding: 0px;height: 34px;">
              <input style="height: 33px;margin: 0px;" type="text" name="general_instruction" [(ngModel)]="general_instruction">
            </td>
            <td style="padding: 0px; vertical-align: middle;">
              <button class="btn btn-sm btn-info" (click)="addInstruction()">{{'common.add' | translate}}</button>
            </td>
          </tr>
          <tr *ngFor="let def of selectedInstructions; let i = index">
            <td>{{ i + 1 }}</td>
            <td style="text-align: left;font-size: 16px;">{{ def.general_instruction }}</td>
            <td>#</td>
          </tr>
          <tr>
            <td colspan="3" class="tdinput" *ngIf="selectedInstructions.length === 0" style="height: 34px;">{{'common.noRecords' | translate}}</td>
          </tr>
        </table>

        <div *ngIf="details['stage'] == 'DISPENSING'">
          <h3>Line Clearance:</h3>
          <table class="table">
            <tr>
              <th style="width: 50px;">Sr.</th>
              <th>Check Point</th>
              <th style="width: 13%;">ADD</th>
            </tr>
            <tr>
              <td>0</td>
              <td style="padding: 0px;height: 34px;">
                <input style="height: 33px;margin: 0px;" type="text" name="line_clearance" [(ngModel)]="line_clearance">
              </td>
              <td style="padding: 0px; vertical-align: middle;">
                <button class="btn btn-sm btn-info" (click)="addLines()">{{'common.add' | translate}}</button>
              </td>
            </tr>
            <tr *ngFor="let def of selectedLines; let i = index">
              <td>{{ i + 1 }}</td>
              <td style="text-align: left;font-size: 16px;">{{ def.line_clearance }}</td>
              <td>#</td>
            </tr>
            <tr>
              <td colspan="3" class="tdinput" *ngIf="selectedLines.length === 0" style="height: 34px;">{{'common.noRecords' | translate}}</td>
            </tr>
          </table>
        </div>
      
        <div *ngIf="details['stage'] != 'DISPENSING'">
          <h3>Procedure Description:</h3>
          <table class="table">
            <tr>
              <th style="width: 50px;">Sr.</th>
              <th>{{'common.description' | translate}}</th>
              <th style="width: 13%;">ADD</th>
            </tr>
            <tr>
              <td>0</td>
              <td style="padding: 0px;height: 34px;">
                <input style="height: 33px;margin: 0px;" type="text" name="test_description" [(ngModel)]="test_description">
              </td>
              <td style="padding: 0px; vertical-align: middle;">
                <button class="btn btn-sm btn-info" (click)="addDescription()">{{'common.add' | translate}}</button>
              </td>
            </tr>
            <tr *ngFor="let def of selectedDescriptions; let i = index">
              <td>{{ i + 1 }}</td>
              <td style="text-align: left;font-size: 16px;">{{ def.test_description }}</td>
              <td>#</td>
            </tr>
            <tr>
              <td colspan="3" class="tdinput" *ngIf="selectedDescriptions.length === 0" style="height: 34px;">{{'common.noRecords' | translate}}</td>
            </tr>
          </table>

          <div *ngFor="let option of options; let i = index">
            <h3>{{ option['name'] }}:</h3>
            <div *ngIf="option['status']">
              

              <table class="table" *ngIf="option['option'] == 'equipment'">
                <tr>
                  <th style="width: 50px;">Sr.</th>
                  <th>Equipment Name</th>
                  <th>Make</th>
                  <th>Capacity</th>
                  <th style="width: 13%;">ADD</th>
                </tr>
                <tr>
                  <td>0</td>
                  <td style="padding: 0px;">
                    <select name="equipment_name" ngModel (change)="getEquipmentDetails($event.target.selectedIndex)" style="height: 33px;margin: 0px;">
                      <option></option>
                      <option *ngFor="let equipment of equipements">{{ equipment.equipment_name }}</option>
                    </select>
                  </td>
                  <td>{{ selectedEquipment['make'] }}</td>
                  <td>{{ selectedEquipment['capacity'] }}</td>
                  <td>
                    <button class="btn btn-sm btn-icon" (click)="addEquipment(i)">{{'common.add' | translate}}</button>
                  </td>
                </tr>
                <tr *ngFor="let user of option['list']; let j = index">
                  <td>{{ j + 1 }}.</td>
                  <td style="text-align: left;">{{ user.equipment_name }}</td>
                  <td>{{ user.make }}</td>
                  <td>{{ user.capacity }}</td>
                  <td>#</td>
                </tr>
                <tr *ngIf="option['list']?.length == 0">
                  <td colspan="5">{{'common.noRecords' | translate}}</td>
                </tr>
              </table>
            

              <table class="table" *ngIf="option['option'] == 'line_clearance'" >
                <tr>
                  <th style="width: 50px;">Sr.</th>
                  <th>Line Clearance</th>
                  <th style="width: 13%;">ADD</th>
                </tr>
                <tr>
                  <td>0.</td>
                  <td style="padding: 0px;height: 34px;">
                    <input style="height: 33px;margin: 0px;" type="text" name="line_clearance" [(ngModel)]="line_clearance">
                  </td>
                  <td style="padding: 0px; vertical-align: middle;">
                    <button class="btn btn-sm btn-info" (click)="addLineClearance(i)">{{'common.add' | translate}}</button>
                  </td>
                </tr>
                <tr *ngFor="let def of option['list']; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td style="text-align: left;font-size: 16px;">{{ def.checkpoint }}</td>
                  <td>#</td>
                </tr>
                <tr>
                  <td colspan="3" *ngIf="option['list'].length === 0">{{'common.noRecords' | translate}}</td>
                </tr>
              </table>

            
              <table class="table" *ngIf="option['option'] == 'enviornmental_checks'">
                <tr>
                  <th style="width: 50px;">Sr.</th>
                  <th>Enviornmental Checks</th>
                  <th style="width: 13%;">ADD</th>
                </tr>
                <tr>
                  <td>0.</td>
                  <td style="padding: 0px;height: 34px;">
                    <input style="height: 33px;margin: 0px;" type="text" name="enviornmental_checks" [(ngModel)]="enviornmental_checks">
                  </td>
                  <td style="padding: 0px; vertical-align: middle;">
                    <button class="btn btn-sm btn-info" (click)="addEnviornmentChecks(i)">{{'common.add' | translate}}</button>
                  </td>
                </tr>
                <tr *ngFor="let def of option['list']; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td style="text-align: left;font-size: 16px;">{{ def.checkpoint }}</td>
                  <td>#</td>
                </tr>
                <tr>
                  <td colspan="3" *ngIf="option['list'].length === 0">{{'common.noRecords' | translate}}</td>
                </tr>
              </table>

              
              <table class="table" *ngIf="option['option'] == 'inprocess_checks'">
                <tr>
                  <th style="width: 50px;">Sr.</th>
                  <th>Inprocess Checks</th>
                  <th style="width: 13%;">ADD</th>
                </tr>
                <tr>
                  <td>0.</td>
                  <td style="padding: 0px;height: 34px;">
                    <input style="height: 33px;margin: 0px;" type="text" name="inprocess_checks" [(ngModel)]="inprocess_checks">
                  </td>
                  <td style="padding: 0px; vertical-align: middle;">
                    <button class="btn btn-sm btn-info" (click)="addInprocessChecks(i)">{{'common.add' | translate}}</button>
                  </td>
                </tr>
                <tr *ngFor="let def of option['list']; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td style="text-align: left;font-size: 16px;">{{ def.checkpoint }}</td>
                  <td>#</td>
                </tr>
                <tr>
                  <td colspan="3" *ngIf="option['list'].length === 0">{{'common.noRecords' | translate}}</td>
                </tr>
              </table>
            </div>
            <div *ngIf="!option['status']">
              <h5 style="color: red;">Not Applicable</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="saveStage()">{{'common.save' | translate}}</button>  
    </div>
</div>
