<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">New Standard Master Form
            </div>
            <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/qc/standard/master" style="background-color: red;color: white;">
                    {{'common.close' | translate}} </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <form #masterForm="ngForm">
                <div class="clr-row">
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Standard Name <span style="color:red;">*</span></label>
                        <input type="text" name="standard_name" ngModel required>
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Pharmacopoeial Grade:<span style="color:red;">*</span></label>
                        <select name="grade" ngModel required>
                            <option></option>
                            <option *ngFor="let grd of grades">{{grd.grade}}</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Chemical Name (Optional)</label>
                        <input type="text" name="chemical_name" ngModel>
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Category:<span style="color:red;">*</span></label>
                        <select name="category" ngModel required>
                            <option></option>
                            <option>Reference Standard</option>
                            <option>Working Standard</option>
                            <option>Primary Standard</option>
                            <option>Secondary Standard</option>
                            <option>Inhouse Standard</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Strength:<span style="color:red;">*</span></label>
                        <input type="number" name="strength" ngModel required>
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Unit:<span style="color:red;">*</span></label>
                        <select name="unit" ngModel required>
                            <option></option>
                            <option>%</option>
                            <option>Mg</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="save(masterForm)">{{'common.save' | translate}}</button>
        <button class="btn btn-danger" routerLink="/qc/standard/master">{{'common.close' | translate}}</button>
    </div>
</div>
