<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Employee Performance</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/management/hr" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
          </div>
        </div>
      </div>
    <div class="card-block">
        <div class="card-text">
            <!-- <table class="table table-border">
                <tr>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.department' | translate}}</th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Employee ID</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Employee Name</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.designation' | translate}}</th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Performance (%)</th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">{{'common.table.remark' | translate}}</th>
                </tr>
                <tr *ngFor="let result of results; let i = index">
                    <td>{{ i + 1 }}.</td>
                    <td style="text-align: left;">{{ result.department }}</td>
                    <td>{{ result.emp_id }}</td>
                    <td style="text-align: left;">{{ result.emp_name }}</td>
                    <td style="text-align: left;">{{ result.designation }}</td>
                    <td>{{ result.performace }}%</td>
                    <td>{{ result.remark }}</td>
                </tr>
            </table> -->
            <clr-datagrid [clrDgLoading]="loading">
                
              <clr-dg-column>Sr No. </clr-dg-column>
             <clr-dg-column clrDgField="department">{{'common.department' | translate}}</clr-dg-column>
             <clr-dg-column clrDgField="emp_id">Employee ID</clr-dg-column>
             <clr-dg-column clrDgField="emp_name">Employee Name</clr-dg-column>
             <clr-dg-column clrDgField="designation">{{'common.designation' | translate}}</clr-dg-column>
             <clr-dg-column clrDgField="performace">Performance (%)</clr-dg-column>
             <clr-dg-column>{{'common.table.remark' | translate}}</clr-dg-column>
        
         <clr-dg-row *clrDgItems="let result of results; let i = index" [clrDgItem]="result">
             <clr-dg-cell>{{ i + 1 }}.</clr-dg-cell>
             <clr-dg-cell>{{ result.department }}</clr-dg-cell>
             <clr-dg-cell>{{ result.emp_id }}</clr-dg-cell>
             <clr-dg-cell>{{ result.emp_name }}</clr-dg-cell>
             <clr-dg-cell>{{ result.designation }}</clr-dg-cell>
             <clr-dg-cell>{{ result.performace }}%</clr-dg-cell>
             <clr-dg-cell>{{ result.remark }}</clr-dg-cell>
        </clr-dg-row>
     </clr-datagrid>
        </div>
    </div>
  </div>
