<div class="container-fluid"*ngIf="!isView">
    <div class="card">
      <!-- <div class="card-header">Periodic Review Of Specifications</div> -->
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-lg-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Periodic Review Of Specifications</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-danger" routerLink="/qc/specifications">{{'common.close' | translate}}</button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
  
          <clr-datagrid [clrDgLoading]="loading">
            
            <clr-dg-column >No</clr-dg-column>
            <clr-dg-column clrDgField="material_type">Material Type</clr-dg-column>
            <clr-dg-column clrDgField="material_name">Name of Material / Product</clr-dg-column>
            <clr-dg-column clrDgField="specification_no">Specification No</clr-dg-column>
            <clr-dg-column clrDgField="version_no">Version No</clr-dg-column>
            <clr-dg-column clrDgField="approval">Pending Request for Approval</clr-dg-column>
            <clr-dg-column clrDgField="status">{{'common.status' | translate}}</clr-dg-column>
            <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column>
           
  
            <clr-dg-row *ngFor="let specification of results; let i = index;" [clrDgItem]="user">
              <clr-dg-cell>{{ i + 1 }}</clr-dg-cell>
              <clr-dg-cell>{{ specification.material_type }}</clr-dg-cell>
              <clr-dg-cell>{{ specification.material_name }}</clr-dg-cell>
              <clr-dg-cell>{{ specification.specification_no }}</clr-dg-cell>
              <clr-dg-cell>{{ specification.version_no }}</clr-dg-cell>
              <clr-dg-cell>{{ specification.approval }}</clr-dg-cell>
              <clr-dg-cell>{{ specification.status }}</clr-dg-cell>
              <clr-dg-cell><button class="btn btn-sm"(click)="view(i)">{{'common.view' | translate}}</button></clr-dg-cell>
            </clr-dg-row>
  
            <!-- <clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="results?.length">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Specifications per page</clr-dg-page-size>
                {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }}
                of {{ pagination.totalItems }} specifications
              </clr-dg-pagination>
            </clr-dg-footer> -->
  
          </clr-datagrid>
  
        </div>
      </div>
    </div>
  </div>
  

  <div class="card"*ngIf="isView">
    <div class="card-header">Specification Report</div>
    <div class="card-block">
      <div class="card-text">
        <table class="table" style="color: black; width:100%;">
          <tr>
            <td style="text-align: left;"><b>Specification No</b></td>
             <td style="text-align: left;">: {{ selectedSpec['specification_no'] }}</td>
             <td style="text-align: left;"><b>Specification Type</b></td>
             <td style="text-align: left;">: {{ selectedSpec['spec_type'] }}</td>
          </tr>
          <tr>
             <td style="text-align: left;"><b>Material Type</b></td>
             <td style="text-align: left;">: {{ selectedSpec['material_subtype'] }}</td>
             <td style="text-align: left;"><b>Material Name</b></td>
             <td style="text-align: left;">: {{ selectedSpec['material_name'] }}</td>
          </tr>
          <tr>
             <td style="text-align: left;"><b>Material Grade</b></td>
             <td style="text-align: left;">: {{ selectedSpec['grade'] }}</td>
             <td style="text-align: left;"><b>Chemical Name</b></td>
             <td style="text-align: left;">: {{ selectedSpec['chemical_name'] }}</td>
          </tr>
          <tr>
             <td style="text-align: left;"><b>Version No</b></td>
             <td style="text-align: left;">: {{ selectedSpec['version_no'] }}</td>
             <td style="text-align: left;"><b>Supersede No</b></td>
             <td style="text-align: left;">: {{ selectedSpec['supersede_no'] }}</td>
          </tr>
          <tr>  
             <td style="text-align: left;"><b>Sample Qty</b></td>
             <td style="text-align: left;">: {{ selectedSpec['sample_qty'] }}</td>
             <td style="text-align: left;"><b>{{'common.unit' | translate}}</b></td>
             <td style="text-align: left;">: {{ selectedSpec['unit'] }}</td>
          </tr>
          <tr>  
             <td style="text-align: left;"><b>Micro Analysis Qty</b></td>
             <td style="text-align: left;">: {{ selectedSpec['micro_qty'] }}</td>
             <td style="text-align: left;"><b>{{'common.unit' | translate}}</b></td>
             <td style="text-align: left;">: {{ selectedSpec['unit'] }}</td>
          </tr>
          <tr>
             <td style="text-align: left;"><b>Shelf Life</b></td>
             <td style="text-align: left;">: {{ selectedSpec['shelf_life'] }}</td>
             <td style="text-align: left;"><b>SAP No</b></td>
             <td style="text-align: left;">: {{ selectedSpec['sap_no'] }}</td>
          </tr>
          <tr>
             <td style="text-align: left;"><b>Storage</b></td>
             <td style="text-align: left;">: {{ selectedSpec['storage'] }}</td>
             <td style="text-align: left;"><b>Safety Precaution</b></td>
             <td style="text-align: left;">: {{ selectedSpec['safety_precaution'] }}</td>
          </tr>
          <tr>
             <td style="text-align: left;"><b>Effective Date</b></td>
             <td style="text-align: left;">: {{ selectedSpec['approve_date'] }}</td>
             <td style="text-align: left;"><b>Revision Period</b></td>
             <td style="text-align: left;">: {{ selectedSpec['review_date'] }}</td>
          </tr>
        </table>

        <h3>Change Control Details:</h3>
        <table class="table">
            <tr>
                <td style="text-align: left;"><b>Change Title</b></td>
                <td style="text-align: left;">: {{ selectedSpec['change_title'] }}</td>
                <td style="text-align: left;"><b>Existing Procedure</b></td>
                <td style="text-align: left;">: {{ selectedSpec['existing_procedure'] }}</td>
              </tr>
              <tr>
                <td style="text-align: left;"><b>Proposed Change</b></td>
                <td style="text-align: left;">: {{ selectedSpec['proposed_change'] }}</td>
                <td style="text-align: left;"><b>Change Reason</b></td>
                <td style="text-align: left;">: {{ selectedSpec['change_reason'] }}</td>
              </tr>
        </table>
        <h3>Departments for Review:</h3>
              <table class="table">
                  <tr>
                      <th>Sr.</th>
                      <th>{{'common.department' | translate}}</th>
                      <th>Comment</th>
                      <th>{{'common.status' | translate}}</th>
                      <th>Comment By</th>
                      <th>{{'common.date' | translate}}</th>
                  </tr>
                  <tr *ngFor="let comment of selectedSpec['departments']; let i = index">
                      <td>{{ i + 1 }}.</td>
                      <td>{{ comment.department }}</td>
                      <td>{{ comment.comment }}</td>
                      <td>{{ comment.status }}</td>
                      <td>{{ comment.entry_by }}</td>
                      <td>{{ comment.entry_date }}</td>
                  </tr>
              </table>
        <h3>Tests:</h3>
        <table class="table">
          <th style="text-align: left;">Test</th>
          <th style="text-align: left;">Sub Test</th>
          <th style="text-align: left;">{{'common.description' | translate}}</th>
          <th style="text-align: left;">For Microbiology</th>
          <th style="text-align: left;">Sample Qty</th>

          <tr *ngFor="let comp of selectedSpec['tests']; let i = index">
              <td style="text-align: left;">{{comp.test}}</td>
              <td style="text-align: left;">{{comp.subtest}}</td>
              <td style="text-align: left;">{{comp.description}}</td>
              <td style="text-align: left;">{{comp.for_micro}}</td>
              <td style="text-align: left;">{{comp.sample_qty}} {{ selectedSpec['unit'] }}</td>
          </tr>
        </table>

        <h3>Revision History:</h3>
        <table class="table">
          <th style="text-align: left;">Sr</th>
          <th style="text-align: left;">Specification No</th>
          <th style="text-align: left;">Version No</th>
          <th style="text-align: left;">Change Mode</th>
          <th style="text-align: left;">Reason for change</th>

          <tr *ngFor="let user of selectedSpec['revision_history']; let i = index">
              <td style="text-align: left;">{{ i+1 }}</td>
              <td style="text-align: left;">{{user.spec_no}}</td>
              <td style="text-align: left;">{{user.version_no}}</td>
              <td style="text-align: left;">{{user.change_mode}}</td>
              <td style="text-align: left;">{{user.reason}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
    </div>
</div>
  
  