<!-- <div class="container-fluid">
    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Training Questionnarie & Evaluation Sheet Format</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/admin/training" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-6">
              <div class="card clickable"  style="height: auto; border: none; border-radius: 7px; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px"
              routerLink="questions">
                <div class="card-block" style="text-align: center; border-top: solid 3px rgb(51, 102, 0); border-radius: 7px;">
                    <img width="50px" height="50px" src="assets/training-need.png">
                    <p class="card-text"><b>Training Questionnaire</b></p>
                </div>
              </div>
            </div>
            <div class="clr-col-6">
              <div class="card clickable" style="height: auto; border: none; border-radius: 7px; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px"
              routerLink="evaluation">
                <div class="card-block" style="text-align: center; border-top: solid 3px rgb(51, 102, 0); border-radius: 7px;">
                    <img width="50px" height="50px" src="assets/announcement.png">
                    <p class="card-text"><b>Training Evaluation</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
 -->



<!------------------------------------------------------------------>

<div class="component">
  <div class="subsection">
    <div class="purchase-block">
      <div style="text-align:end" class="exit-section">
        <div class="header-block" style="margin:10px 0px">
          <h3>Training Questionnaire & Evaluation Sheet Format</h3>
        <div routerLink="/admin/training/" class="name-board2"><i class="fas fa-times"></i>
        </div>
      </div>

      <div class="main-section" style="margin: 0px 10px 10px 10px !important;">
        <div class="category">
          <div class="block-container">
            <div class="item-block" routerLink="questions">
              <i class="fas fa-question"></i>
              <span>Training Questionnaire</span>
            </div>
            
            <div class="item-block" routerLink="evaluation">
              <i class="fas fa-poll"></i>
              <span>Training Evaluation</span>
            </div>
            
            
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>