<div class="card feedback-log-card">
  <div class="card-header">
    <div class="clr-row header-row">
      <div class="clr-col-9 title-col">Feedback Log</div>
      <div class="clr-col-lg-3 action-col">
        <button type="button" class="btn btn-sm btn-new" routerLink="/marketing/feedback/new">New Feedback</button>
        <button type="button" class="btn btn-sm btn-close" routerLink="/marketing">
          <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <div class="feedback-log-toolbar">
        <div class="feedback-log-search-wrap">
          <label for="feedback-log-search">Search</label>
          <input type="text" id="feedback-log-search" placeholder="Search..." [(ngModel)]="searchQuery" name="searchQuery">
        </div>
        <button type="button" class="btn btn-success feedback-log-download-btn" (click)="downloadExcel()">
          <clr-icon shape="download"></clr-icon> Download Excel
        </button>
      </div>

      <div class="datagrid-wrapper">
            <clr-datagrid [clrDgLoading]="loading" [clrDgFilter]="searchQuery" >
                <clr-dg-column>{{'common.table.srNo' | translate}}</clr-dg-column>
                <clr-dg-column>Client Name</clr-dg-column>
                <clr-dg-column>feedback through</clr-dg-column>
                <clr-dg-column>feedback</clr-dg-column>
                <clr-dg-column>Entry By</clr-dg-column>
                <clr-dg-column>Entry On</clr-dg-column>

                <clr-dg-row *clrDgItems="let quot of filteredMaterials; let i = index" [clrDgItem]="quot">
                  <clr-dg-cell>{{i+1}}</clr-dg-cell>
                  <clr-dg-cell>{{quot.LglNm || '-'}} {{quot.LglNm || '-'}}</clr-dg-cell>
                  <clr-dg-cell>{{quot.feedback_by || '-'}}</clr-dg-cell>
                  <clr-dg-cell>{{quot.feedback || '-'}}</clr-dg-cell>
                  <clr-dg-cell>{{quot.entry_by || '-'}}</clr-dg-cell>
                  <clr-dg-cell>{{quot.entry_date | date : 'dd-MM-yyyy'}}</clr-dg-cell>
                </clr-dg-row>
            </clr-datagrid>
          </div>
    
      </div>
  </div>  
</div>
