<!-- <div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Finish Goods</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-danger" routerLink="/store">{{'common.close' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <div class="clr-row">

          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12">
            <div class="card clickable"style="height: auto; border: none; border-radius: 7px; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px"

            routerLink="receiving">
              <div class="card-block" style="text-align: center; border-top: solid 3px rgb(0, 51, 102); border-radius: 7px;">
                <img width="50px" height="50px" src="assets/receiving.png">
                <p class="card-text"><b>Receiving</b></p>
              </div>
            </div>
          </div>

           <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12">
            <div class="card clickable"style="height: auto; border: none; border-radius: 7px; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px"

            routerLink="dedusting">
              <div class="card-block" style="text-align: center; border-top: solid 3px rgb(0, 51, 102); border-radius: 7px;">
                <img width="50px" height="50px" src="assets/dedusting.png">
                <p class="card-text"><b>Dedusting</b></p>
              </div>
            </div>
          </div> 

          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12">
            <div class="card clickable"style="height: auto; border: none; border-radius: 7px; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px"

            routerLink="damage">
              <div class="card-block" style="text-align: center; border-top: solid 3px rgb(0, 51, 102); border-radius: 7px;">
                <img width="50px" height="50px" src="assets/damage.png">
                <p class="card-text"><b>Damage Inspection</b></p>
              </div>
            </div>
          </div>

          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12">
            <div class="card clickable"style="height: auto; border: none; border-radius: 7px; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px"

            routerLink="weighing">
              <div class="card-block" style="text-align: center; border-top: solid 3px rgb(0, 51, 102); border-radius: 7px;">
                <img width="50px" height="50px" src="assets/weight.png">
                <p class="card-text"><b>Weighing</b></p>
              </div>
            </div>
          </div>

          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12">
            <div class="card clickable"style="height: auto; border: none; border-radius: 7px; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px"

            routerLink="grn">
              <div class="card-block" style="text-align: center; border-top: solid 3px rgb(0, 51, 102); border-radius: 7px;">
                <img width="50px" height="50px" src="assets/grn.png">
                <p class="card-text"><b>GRN</b></p>
              </div>
            </div>
          </div>

          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12">
            <div class="card clickable"style="height: auto; border: none; border-radius: 7px; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px"

            routerLink="retest">
              <div class="card-block" style="text-align: center; border-top: solid 3px rgb(0, 51, 102); border-radius: 7px;">
                <img width="50px" height="50px" src="assets/retest.png">
                <p class="card-text"><b>Retest</b></p>
              </div>
            </div>
          </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12">
            <div class="card clickable"style="height: auto; border: none; border-radius: 7px; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px"

            routerLink="spillage">
              <div class="card-block" style="text-align: center; border-top: solid 3px rgb(0, 51, 102); border-radius: 7px;">
                <img width="50px" height="50px" src="assets/spillage.png">
                <p class="card-text"><b>Spillage / Destruction</b></p>
              </div>
            </div>
          </div>

           <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12">
            <div class="card clickable" routerLink="stock">
              <div class="card-block" style="text-align: center">
                <img width="50px" height="50px" src="assets/stock.png">
                <p class="card-text"><b>Stock Book</b></p>
              </div>
            </div>
          </div> 
          

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-block">
        <div class="clr-row">
          <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
            <h5><b>Material Wise Monthly purchase Chart</b></h5>
            <canvas id="MaterialWiseMonthlyChart">{{ rawMaterialmonthly }} </canvas>
          </div>
  
        </div>
      </div>
    </div>
  </div>

 -->



  

<!------------------------------------------------------------------>

<div class="component store-legacy-dash">
  <div class="subsection">
    <div class="purchase-block">
      <div style="text-align:end" class="exit-section">
        <div class="header-block" style="margin:10px 0px">
          <h3>Finish Goods</h3>
        <div routerLink="/store" class="name-board2"><i class="fas fa-times"></i>
        </div>
      </div>

      <div class="main-section" style="margin: 0px 10px 10px 10px !important;">
        <div class="category">
          <div class="block-container">

            <div class="item-block" routerLink="receiving">
              <i class="fas fa-truck"></i>
              <span>Receiving</span>
            </div>
            
            <div class="item-block" routerLink="damage">
              <i class="fas fa-tools"></i>
              <span>Damage Inspection</span>
            </div>
            
            <div class="item-block" routerLink="weighing">
              <i class="fas fa-weight-hanging"></i>
              <span>Weighing</span>
            </div>
            
            <div class="item-block" routerLink="grn">
              <i class="fas fa-check-square"></i>
              <span>GRN</span>
            </div>
            
            <div class="item-block" routerLink="retest">
              <i class="fas fa-redo-alt"></i>
              <span>Retest</span>
            </div>
            
            <div class="item-block" routerLink="spillage">
              <i class="fas fa-trash-alt"></i>
              <span>Spillage / Destruction</span>
            </div>
            
          </div>


          <div class="block-container">
            <!-- Graph Section -->
            <div class="graph-container" style="width:100%">
              <div style="text-align:end" class="close-block">
                <div class="main-heading-container">
                  <h3>Analytical Avenue</h3>
                </div>
              </div>
              <div class="graph-block">
                <div class="graph-row">
                  <div class="graph-col">
                    <!-- <h5><b> Monthly purchase Chart</b></h5> -->
                    <div class="line-container">
                      <div class="heading">
                        <h3>Material Wise Monthly purchase Chart</h3>
                      </div>
                    </div>
                    <canvas id="MaterialWiseMonthlyChart">{{ rawMaterialmonthly }} </canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          


        </div>
      </div>
    </div>
  </div>
</div>
</div>