<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-6" style="color: aliceblue;margin-top: -2px;text-align: left;">New EBPR Form.</div>
          <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/packing/ebpr" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <form #formdata ="ngForm">
                <div class="clr-row">
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-md-6 clr-col-sm-6">
                       <label> Dosage Form</label>
                       <select name="dosage_form" [(ngModel)]="dosage_form" (change)="getProductsByDosage($event.target.value)" required>
                           <option></option>
                           <option *ngFor="let dos of dosage" value="{{dos.dosage_form}}">{{dos.dosage_form}} </option>
                       </select>
                    </div>
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-md-6 clr-col-sm-6">
                        <label> Product Name</label>
                        <select name="product_code" [(ngModel)]="product_code"  (change)="getProductDetails($event.target.selectedIndex)" required>
                            <option></option>
                            <option *ngFor="let dos of product" [value]="dos.product_code">{{dos.product_name}} </option>
                        </select>
                    </div>
                    <div class="clr-col-lg-12 clr-col-md-12 clr-col-md-6 clr-col-sm-6">
                        <table class="table">
                            <tr> 
                                <td style="text-align: left;width: 20%">Generic Name: </td>
                                <td style="text-align: left;;">{{selectedData['generic_name']}} </td>
                            </tr>
                            <tr> 
                                <td style="text-align: left;width: 20%;">Grade:</td>
                                <td style="text-align: left;">{{selectedData['grade']}} </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;width: 20%;">HSN:</td>
                                <td style="text-align: left;">{{selectedData['hsn']}} </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;width: 20%;">Label Claim: </td>
                                <td style="text-align: left;">{{selectedData['label_claim']}} </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;width: 20%;">Shelf Life:</td>
                                <td style="text-align: left;">{{selectedData['shelf_life']}} </td>
                            </tr>
                        </table>
                    </div>
                    <div class="clr-col-lg-12" style="margin-top: 30px;">
                        <h3>Packing For:</h3>
                        <div class="clr-row" style="margin-top: 10px;">
                            <div class="clr-col-lg-3">
                                <input type="checkbox" name="ismrp" value="ismrp" ngModel required>
                                <label>MRP Applicable</label>
                             </div>
                             <div class="clr-col-lg-3">
                                 <input type="checkbox" name="for_sale"  value="for_sale" ngModel required>
                                 <label> Not For Sale</label>
                                 </div>
                             <div class="clr-col-lg-3">
                                 <input type="checkbox" name="gov_supply"  value="gov_supply" ngModel required>
                                 <label> Government Supply</label>
                             </div>
                             <div class="clr-col-lg-3">
                                 <input type="checkbox"  name="isoverprinting" value="isoverprinting"  (change)="onOverprintingChange($event)"  ngModel required>
                                 <label>OverPrinting</label>
                             </div>
                             <div class="clr-col-lg-3">
                                 <input type="checkbox" name="ispreprinted"  value="ispreprinted" ngModel required>
                                 <label> Preprinted</label>
                             </div>
                        </div>
                    </div>
                     <h4 *ngIf="isShow"> Overprinting</h4>
                     <form #conf="ngForm">
                        <div class="clr-row" *ngIf="isShow">
                            <div class="clr-col-lg-9 clr-col-md-3 clr-col-sm-6 clr-col-xs-12">
                                <label> Product Name</label>
                                <input type="text" name="product_name" ngModel required>
                            </div>
                            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-6 clr-col-xs-12">
                                <label> Code No.</label>
                                <input type="text" name="code_no" ngModel required>
                            </div>
                            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-6 clr-col-xs-12">
                                <label> Medicap Lot No</label>
                                <input type="text" name="batch_no" ngModel required>
                            </div>
                            
                            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-6 clr-col-xs-12">
                                <label> MFG LIC No.</label>
                                <input type="text" name="lic_no" ngModel required>
                            </div>
                            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-6 clr-col-xs-12">
                                <label> Mfg Date</label>
                                <input type="date" name="mfg_date" ngModel required>
                            </div>
                            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-6 clr-col-xs-12">
                                <label> Exp Date</label>
                                <input type="date" name="exp_date" ngModel required>
                            </div>
                        </div>
                    </form>
                </div>

                <h3>Precaution for Packing:</h3>
                <form #dataList="ngForm">
                    <table class="table">
                        <tr>
                            <th> Sr.</th>
                            <th> Precaution for Packing</th>
                            <th> Action</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="padding: 0px;">
                                <input type="text" name="precaution" ngModel required style="margin: 0px;">
                            </td>
                            <td style="padding: 0px;">
                                <button class="btn btn-sm btn-info" (click)="add(dataList)" style="margin: 0px;">Add </button>
                            </td>
                        </tr>
                        <tr *ngFor="let pre of pracautionList;let i= index">
                            <td>{{ i+1}}</td>
                            <td style="text-align: left;"> {{ pre.precaution}}</td>
                            <td> 
                                <clr-icon shape="trash" class="is-error" (click)="deletelist(i)"></clr-icon>
                            </td>
                        </tr>
                        <tr *ngIf="pracautionList?.length == 0">
                            <td colspan="3">{{'common.noRecords' | translate}}</td>
                        </tr>
                    </table>
                </form>
                <h3> Equipment for Packing:</h3> 
                <form #dataEquip="ngForm">
                    <table class="table">
                        <tr>
                            <th> Sr.</th>
                            <th> Equipment for Packing</th>
                            <th> Action</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="padding: 0px;">
                                <select name="equipment_code" ngModel (change)="getequips($event.target.selectedIndex)" style="margin:0px;" required>
                                    <option></option>
                                    <option *ngFor="let equip of equipment;let i=index" [value]="equip.equipment_code">{{equip.equipment_name}} </option>
                                </select>
                            </td>
                            <td style="padding: 0px;">
                                <button class="btn btn-sm btn-info" (click)="equipmentAdd(dataEquip)" style="margin:0px;">Add </button>
                            </td>
                        </tr>
                    </table>
                </form>
                <table class="table">
                    <tr>
                        <th> Sr.</th>
                        <th style="text-align: left;"> Equipment Name</th>
                        <th> Equipment Code</th>
                        <th> Capacity </th>
                        <th> Make </th>
                        <th>{{'common.table.action' | translate}}</th>
                    </tr>
                    <tr *ngFor="let res of equipmentList;let i=index">
                        <td> {{i+1}}</td>
                        <td style="text-align: left;"> {{ res.equipment_name}}</td>
                        <td> {{ res.equipment_code}}</td>
                        <td> {{ res.capacity}}</td>
                        <td> {{ res.make}}</td>
                        <td> 
                            <clr-icon shape="trash" class="is-error" (click)="deleteEquip(i)"></clr-icon>
                        </td>
                    </tr>
                    <tr *ngIf="equipmentList ?.length == 0">
                        <td colspan="5"> No Records Found!</td>
                    </tr>
                </table>
                
                <h3>Packing Process:</h3>
                <h4>Primary Packing:</h4>
                <h5><b>Step 1:</b> Receipt Of Packing Material</h5>
                <h5><b>step 2:</b>Line Clerance</h5>
                <table class="table">
                    <tr>
                        <th style="width: 50px;">Sr.</th>
                        <th>Line Clearance</th>
                        <th style="width: 13%;">ADD</th>
                    </tr>
                    <tr>
                        <td>0.</td>
                        <td style="padding: 0px;height: 34px;">
                            <input style="height: 33px;margin: 0px;" type="text" name="line_clearance" [(ngModel)]="line_clearance">
                        </td>
                        <td style="padding: 0px; vertical-align: middle;">
                            <button class="btn btn-sm btn-info" (click)="addLineClearance()">{{'common.add' | translate}}</button>
                        </td>
                    </tr>
                    <tr *ngFor="let def of clearances; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td style="text-align: left;font-size: 16px;">{{ def.checkpoint }}</td>
                        <td>#</td>
                    </tr>
                    <tr>
                        <td colspan="3" *ngIf="clearances.length === 0">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>
                <h5><b> step 3:</b>Machine checks and Setting</h5>
                <form #datamachine="ngForm">
                    <table class="table">
                        <tr>
                            <th> Sr.</th>
                            <th> Machine checks and Setting</th>
                            <th> Action</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="padding: 0px;">
                                <input type="text" name="machine_check" ngModel required style="margin: 0px;">
                            </td>
                            <td style="padding: 0px;">
                                <button class="btn btn-sm btn-info" (click)="addmachine(datamachine)" style="margin: 0px;">Add </button>
                            </td>
                        </tr>
                        <tr *ngFor="let pre of machineList;let i= index">
                            <td>{{ i+1}}</td>
                            <td style="text-align: left;"> {{ pre.machine_check}}</td>
                            <td> 
                                <clr-icon shape="trash" class="is-error" (click)="deleteMachinelist(i)"></clr-icon>
                            </td>
                        </tr>
                        <tr *ngIf="machineList?.length == 0">
                            <td colspan="3">{{'common.noRecords' | translate}}</td>
                        </tr>
                    </table>
                </form>
                <h5><b> step 4:</b> First Pack Inspection Details:</h5>
                <ol>
                    <li>Blister</li>
                    <li>Blister per carton</li>
                    <li>Outer Shipper Qty</li>
                    <li>Configuration</li>
                </ol>
                <h5><b> step 5:</b> Leak Test:</h5>
                <table class="table">
                    <tr>
                        <th> Date</th>
                        <th> Time</th>
                        <th> Operator</th>
                        <th> Humidity % Area</th>
                        <th> Ferming Roller temp</th>
                        <th> Sealing Roller Temp</th>
                        <th> No of Blister Leaked</th>
                        <th> % Reg</th>
                        <th> Checked By</th>
                    </tr>
                    
                    <tr>
                        <td colspan="9">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>
                <h5><b> step 6:</b> On Line Inspection:</h5>
                <table class="table">
                    <tr>
                        <th> Date</th>
                        <th> Time</th>
                        <th> Overprinting Embossing Quality</th>
                        <th> Tablet/Capsule Position</th>
                        <th> Foil Allignment</th>
                        <th>Cutting </th>
                        <th> Missing Tablet</th>
                        <th>No.Of Shipping Packed</th>
                        <th>Checked By</th>
                    </tr>
                    
                    <tr>
                        <td colspan="9">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>
                <h4>Secondary Packing:</h4>
                <table class="table">
                    <tr>
                        <th> Date</th>
                        <th> Time</th>
                        <th> Blister checked ok/not ok</th>
                        <th> mono filled carton Inspected</th>
                        <th> Filled carton check</th>
                        <th>OverPrinting Details check</th>
                        <th> Shipper count</th>
                        <th>Done By</th>
                        <th>Checked By</th>
                    </tr>
        
                    <tr>
                        <td colspan="9">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>
                <h5><b> step 8:</b> Deblistering Record:</h5>
                <ol>
                    <li>Machine Clerarance Stage</li>
                    <li> Line Clearance</li>
                    <li> Machine Setting</li>
                    <li> Blister Quantity Rejected (kg)</li>
                    <li> Deblistering Process:</li>
                </ol>
                <form #dataDeblist="ngForm">
                    <table class="table">
                        <tr>
                            <th> Sr.</th>
                            <th>Deblistering Process</th>
                            <th> Action</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="padding: 0px;">
                                <input type="text" name="deblister" ngModel required style="margin: 0px;">
                            </td>
                            <td style="padding: 0px;">
                                <button class="btn btn-sm btn-info" (click)="addDeblist(dataDeblist)" style="margin: 0px;">Add </button>
                            </td>
                        </tr>
                        <tr *ngFor="let pre of deblisterList;let i= index">
                            <td>{{ i+1}}</td>
                            <td style="text-align: left;"> {{ pre.deblister}}</td>
                            <td> 
                                <clr-icon shape="trash" class="is-error" (click)="deleteDeblist(i)"></clr-icon>
                            </td>
                        </tr>
                    </table>
                </form>
                <h6>Deblistering Output:</h6>
                <table class="table">
                    <tr>
                        <th rowspan="2" style="border: 1px solid rgb(122, 119, 119);"> Date</th>
                        <th rowspan="2" style="border: 1px solid rgb(122, 119, 119);"> Time</th>
                        <th rowspan="2" style="border: 1px solid rgb(122, 119, 119);"> to</th>
                        <th colspan="3" style="border: 1px solid rgb(122, 119, 119);"> Quantity Of Tablet Kg</th>
                        <th rowspan="2" style="border: 1px solid rgb(122, 119, 119);"> Rejected foil/entry blister weight kg</th>
                        <th rowspan="2" style="border: 1px solid rgb(122, 119, 119);">Checked By</th>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgb(122, 119, 119);"> Gross wt</td>
                        <td style="border: 1px solid rgb(122, 119, 119);"> Tare wt</td>
                        <td style="border: 1px solid rgb(122, 119, 119);"> Net wt</td>
                    </tr>

                    <tr>
                        <td colspan="9"  style="border: 1px solid rgb(122, 119, 119);">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>
                <h5><b> step 9:</b> Reconcillation Of Packing Material:</h5>
                <table class="table">
                    <tr>
                        <th>Details</th>
                        <th>{{'common.unit' | translate}}</th>
                        <th>Cartons</th>
                        <th>Mono cartons</th>
                        <th>Shipper</th>
                        <th>Shrink</th>
                    </tr>
                    <tr>
                        <td colspan="6">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>
                <h5><b> step 10:</b>Finish Product Sampling</h5>
                <h5><b> step 11:</b>Foil Reconcillation Record</h5>
                <h5><b> step 12:</b>Product Reconcillation</h5>
                <h5><b> step 13:</b>Product Transfer To Finished Stores(FG Stores) </h5>
                <h5><b> step 14:</b>Deviation Any </h5>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" type="button" (click)="saveData(formdata,conf)">{{'common.save' | translate}}</button>
    </div>
</div>