<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Initiate New MFR</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/production/ebmr/master" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
    <div class="card-block">
        <div class="card-text">
            <form #basicForm="ngForm">
                <div class="clr-row">
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Product Type:<span style="color:red;">*</span></label>
                        <select name="product_type" [(ngModel)]="product_type" required (change)="getProductsByDosage($event.target.value)">
                            <option value="API">API</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Excipient">Excipient</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Product Name:<span style="color:red;">*</span></label>
                        <select name="product_code" ngModel required (change)="getDetails($event.target.selectedIndex)">
                            <option></option>
                            <option *ngFor="let product of products; let i = index" [value]="product.product_code">{{ product.product_name }}</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Input Batch Size: (Kg)</label>
                        <input type="text" name="input_qty" ngModel (ngModelChange)="updateBatchQty()" required>
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Yield Qty (Output): (Kg)</label>
                        <input type="text" name="batch_size" [(ngModel)]="batch_size" (ngModelChange)="updateBatchQty()" required>
                    </div>
                </div>
            </form>
    
            <table class="table">
                <tr>
                    <td style="text-align: left; border:1px solid black;"> <b>Product Code</b></td>
                    <td style="text-align: left; border:1px solid black;">{{selectedResult['product_code']}}</td>
                    <td style="text-align: left; border:1px solid black;"><b>Brand Name</b></td>
                    <td style="text-align: left; border:1px solid black;">{{selectedResult['brand_name']}}</td>
                </tr>
                <tr>
                    <td style="text-align: left; border:1px solid black;"><b>Packing Style</b></td>
                    <td style="text-align: left; border:1px solid black;">{{selectedResult['packing_style']}}</td>
                    <td style="text-align: left; border:1px solid black;"><b>Product nature</b></td>
                    <td style="text-align: left; border:1px solid black;">{{selectedResult['product_nature']}}</td>
                </tr>
                <tr>
                    <td style="text-align: left; border:1px solid black;"><b>cas name</b></td>
                    <td style="text-align: left; border:1px solid black;">{{selectedResult['cas_name']}}</td>
                    <td style="text-align: left; border:1px solid black;"><b> Shelf Life</b></td>
                    <td style="text-align: left; border:1px solid black;">{{selectedResult['shelf_life']}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;border:1px solid black; "><b> MFG LIC</b></td>
                    <td style="text-align: left;border:1px solid black; ">{{selectedResult['mfg_lic']}}</td>
                    <td style="text-align: left; border:1px solid black;"><b>Retest Period</b></td>
                    <td style="text-align: left; border:1px solid black;">{{selectedResult['retest_period']}}</td>
                </tr>
                <tr>
                    <td style="text-align: left; border:1px solid black;"><b> GST</b></td>
                    <td style="text-align: left; border:1px solid black;">{{selectedResult['gst']}}</td>
                    <td style="text-align: left; border:1px solid black;"><b>Hsn</b></td>
                    <td style="text-align: left; border:1px solid black;">{{selectedResult['hsn']}}</td>
                </tr>
                <tr>
                    <td style="text-align: left; border:1px solid black;"><b>Testing Time</b></td>
                    <td style="text-align: left; border:1px solid black;" colspan="3">{{selectedResult['testing_time']}}</td>
                </tr>
            </table>

            <h3>Raw Materials List:</h3>
            <form #rawForm="ngForm">
                <div class="clr-row">
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" style="padding-right: 0px;">
                    <label>Material Type:</label>
                    <select name="material_subtype" (change)="getApprovedRawMaterials($event.target.value)" ngModel>
                        <option></option>
                        <option>Key Starting Material</option>
                        <option>Raw Material</option>
                        <option>Liquid</option>
                        <option>Solvents</option>
                        <option>Others</option>
                    </select>
                    </div>

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" style="padding-right: 0px;">
                    <label>Material Name:</label>
                    <select name="material_code" (change)="getSelectedMaterial($event.target.selectedIndex)" ngModel>
                        <option></option>
                        <option *ngFor="let material of materials;" [value]="material.material_code">{{ material.material_name }}</option>
                    </select>
                    </div>
            
                    <div class="clr-col-lg-1 clr-col-md-2 clr-col-sm-3 clr-col-xs-3" style="padding-left: 0px;padding-right: 0px;">
                    <label>Qty:</label>
                    <input type="text" name="qty" ngModel required>
                    </div>
            
                    <div class="clr-col-lg-1 clr-col-md-1 clr-col-sm-12 clr-col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                    <label>Unit:</label>
                    <select name="unit" ngModel required>
                        <option></option>
                        <option *ngFor="let unit of units">{{ unit.unit }}</option>
                    </select>
                    </div>
                    <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" >
                    <label>Variation(%):</label>
                    <input type="number" name="overages" ngModel required>
                    </div>
                    <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-3 clr-col-xs-3">
                    <label>LOD Calculation:</label>
                    <select name="islod" ngModel required>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                    </div>
                    <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" style="padding-left: 0px;">
                    <label>Process:</label>
                    <select name="process" ngModel required>
                        <option></option>
                        <option *ngFor="let process of processes">{{ process.stage }}</option>
                    </select>
                    </div> -->
                    <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                    <button class="btn btn-primary" (click)="add(rawForm)">{{'common.add' | translate}}</button>
                    </div>
                </div>
            </form>

            <table class="table table-border">
                <tr>
                    <th>Sr.</th>
                    <th style="text-align: left;">Material type</th>
                    <th style="text-align: left;">Material Code</th>
                    <th style="text-align: left;">Material Name</th>
                    <th>Qty</th>
                    <th>Overages</th>
                    <th style="text-align: left;">Role</th>
                    <!-- <th style="text-align: left;">Process</th> -->
                    <th>Del</th>
                </tr>
                <tr *ngFor="let comp of materialList; let i = index">
                    <td>{{ i + 1 }}.</td>
                    <td style="text-align: left;">{{ comp.material_subtype }}</td>
                    <td style="text-align: left;">{{ comp.material_code }}</td>
                    <td style="text-align: left;">{{ comp.material_name }}</td>
                    <td>{{ comp.qty }} {{ comp.unit }}</td>
                    <td>{{ comp.overages }}</td>
                    <td style="text-align: left;">{{ comp.role }}</td>
                    <!-- <td style="text-align: left;">{{ comp.process }}</td> -->
                    <td>
                        <clr-icon shape="trash" class="is-error" (click)="dele(i)"></clr-icon>
                    </td>
                </tr>
                <tr *ngIf="materialList.length == 0">
                    <td colspan="7">{{'common.noRecords' | translate}}</td>
                </tr>
            </table>
            
            <h3>Packing Materials List: (for 500 Kg)</h3>
            <form #packForm="ngForm">
                <div class="clr-row">
                    <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" style="padding-right: 0px;">
                    <label>Material Type:</label>
                    <select name="material_subtype" (change)="getMaterial($event.target.value)" ngModel>
                        <option></option>
                        <option>Primary</option>
                        <option>Secondary</option>
                    </select>
                    </div>

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                    <label>Material Name:</label>
                    <select name="material_code" (change)="getPackings($event.target.selectedIndex)" ngModel>
                        <option></option>
                        <option *ngFor="let material of packings;" [value]="material.material_code">{{ material.material_name }} - {{ material.grade }}</option>
                    </select>
                    </div>
            
                    <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                    <label>Qty:</label>
                    <input type="text" name="qty" ngModel required>
                    </div>
            
                    <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                    <label>Unit:</label>
                    <select name="unit" ngModel required>
                        <option></option>
                        <option *ngFor="let unit of units">{{ unit.unit }}</option>
                    </select>
                    </div>
                    <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                    <button class="btn btn-primary" (click)="addPage(packForm)">{{'common.add' | translate}}</button>
                    </div>
                </div>
            </form>

            <table class="table">
                <tr>
                    <th>Sr.</th>
                    <th style="text-align: left;">Material type</th>
                    <th style="text-align: left;">Material Code</th>
                    <th style="text-align: left;">Material Name</th>
                    <th>Qty</th>
                    <th>Del</th>
                </tr>
                <tr *ngFor="let comp of packingList; let i = index">
                    <td>{{ i + 1 }}.</td>
                    <td style="text-align: left;">{{ comp.material_subtype }}</td>
                    <td style="text-align: left;">{{ comp.material_code }}</td>
                    <td style="text-align: left;">{{ comp.material_name }}</td>
                    <td>{{ comp.qty }} {{ comp.unit }}</td>
                    <td>
                        <clr-icon shape="trash" class="is-error" (click)="del(i)"></clr-icon>
                    </td>
                </tr>
                <tr *ngIf="packingList.length == 0">
                    <td colspan="6">{{'common.noRecords' | translate}}</td>
                </tr>
            </table>

            <h3>Stages:</h3>
            <form #stageForm="ngForm">
              <table class="table">
                <tr>
                    <th>Stage</th>
                    <th>Step</th>
                    <th>is Testing</th>
                    <th>Sampling Qty</th>
                    <th>Sampling Point</th>
                    <th>Test Equipment</th>
                    <th>{{'common.table.action' | translate}}</th>
                </tr>
                <tr>
                    <td style="padding: 0px;"><input style="margin: 0px;" type="text" name="stage" ngModel required></td>
                    <td style="padding: 0px;"><input style="margin: 0px;" type="text" name="step" ngModel required></td>
                    <td style="padding: 0px;">
                        <select name="isTesting" ngModel required style="margin: 0px;">
                            <option></option>
                            <option value="yes">yes</option>
                            <option value="yes">no</option>
                        </select>
                    </td>
                    <td style="padding: 0px;"><input style="margin: 0px;" type="text" name="sampling_qty" ngModel required></td>
                    <td style="padding: 0px;"><input style="margin: 0px;" type="text" name="sampling_point" ngModel required></td>
                    <td style="padding: 0px;">
                        <app-multi-select-dropdown
                            [list]="equipments"
                            (shareCheckedList)="shareCheckedList($event)" 
                            (shareIndividualCheckedList)="shareIndividualCheckedList($event)">
                        </app-multi-select-dropdown>
                    </td>
                    <td><button class="btn btn-sm" (click)="addStage(stageForm)">{{'common.add' | translate}}</button></td>
                </tr>
                <tr *ngFor="let stage of stageListadd;let i=index">
                    <td>{{stage.stage}}</td>
                    <td>{{stage.isTesting }}</td>
                    <td>{{stage.sampling_point}}</td>
                    <td style="text-align: left;"><span *ngFor="let equipment1 of stage['equipments']">{{ equipment1.name }}, </span></td>
                    <td><clr-icon shape="trash" class="is-error" (click)="deletestage(i)"></clr-icon></td>
                </tr>
              </table>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="save(basicForm)">{{'common.save' | translate}}</button>
    </div>
</div>