<div class="container-fluid" *ngIf="!isNew">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Equipment Qualification Request</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/engineering/equip-qualification" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
              </div>
            </div>
          </div>
        <div class="card-block">
            <div class="card-text">
                <button *ngIf="isuser == 'Yes'" class="btn btn-sm btn-info" (click)="isNew = true">New Qualification Request</button>
                <table class="table">
                    <tr>
                        <th>{{'common.department' | translate}}</th>
                        <th>Room Name</th>
                        <th>Equipment Name</th>
                        <th>Make</th>
                        <th>Capacity</th>
                    </tr>
                    <tr *ngFor="let res of results;let i=index">
                        <td>{{ res.department_name}}</td>
                        <td>{{ res.section_name}}</td>
                        <td>{{ res.equip_name}}</td>
                        <td>{{ res.make}}</td>
                        <td>{{ res.capacity}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid eq-request" *ngIf="isNew">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Equipment Qualification Request</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-danger" (click)="close()">{{'common.close' | translate}}</button>
              </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                <form #reportForm="ngForm" class="eq-request__form">
                    <div class="clr-row">
                        <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12 clr-col-xs-12 eq-request__field">
                            <label>Department <span class="eq-request__req">*</span></label>
                            <select name="department_name" ngModel (change)="getSection($event.target.selectedIndex)" required>
                                <option></option>
                                <option *ngFor="let dept of dept" [value]="dept.department_name">{{dept.department_name}}</option>
                            </select>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12 clr-col-xs-12 eq-request__field">
                            <label>Room Name <span class="eq-request__req">*</span></label>
                            <select name="section_name" ngModel required>
                                <option></option>
                                <option *ngFor="let dept of selectedSection['sections']" [value]="dept.section_name">{{dept.section_name}}</option>
                            </select>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12 clr-col-xs-12 eq-request__field">
                            <label>Equipment Name <span class="eq-request__req">*</span></label>
                            <input type="text" name="equip_name" ngModel required>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12 clr-col-xs-12 eq-request__field">
                            <label>Make <span class="eq-request__req">*</span></label>
                            <input type="text" name="make" ngModel required>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12 clr-col-xs-12 eq-request__field">
                            <label>Capacity <span class="eq-request__req">*</span></label>
                            <input type="text" name="capacity" ngModel required>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="saveRequest(reportForm)">{{'common.submit' | translate}}</button>
            <button class="btn btn-danger" (click)="close()">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>
