<div class="container-fluid">
  <div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">New Challan</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" routerLink="/store/packing/challan" style="background-color: red;color: white;">
            <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
          </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <form #formulaForm="ngForm">
          <div class="clr-row">
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <label>Vendor Name:</label>
              <select name="vendor_no" ngModel required>
                <option></option>
                <option *ngFor="let vendor of vendors" [value]="vendor.vendor_no">{{ vendor.vendor_name }}</option>
              </select>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <label>Discount(%):</label>
              <input type="text" name="discount" ngModel required>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <label>Packaging Slip:</label>
              <input type="text" name="challan_no" ngModel required>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <label>Packaging Slip Date:</label>
              <input type="date" name="challan_date" ngModel required>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <label>Driver Name:</label>
              <input type="text" name="driver_name" ngModel required>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <label>Contact No.:</label>
              <input type="text" name="driver_contact" ngModel required>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <label>Tax Invoice No.:</label>
              <input type="text" name="tax_invoice" ngModel required>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <label>Transport Company:</label>
              <input type="text" name="transport_company" ngModel required>
            </div>
          </div>
        </form>
        <h3>Materials List:</h3>
        <form #rawForm="ngForm">
          <div class="clr-row">
            <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" style="padding-right: 0px;">
              <label>Material Type:</label>
              <select name="material_subtype" (change)="getMaterials($event.target.value)" ngModel>
                <option></option>
                <option value="Primary">Primary</option>
                <option value="Secondary">Secondary</option>
                <option value="Tertiary">Tertiary</option>
              </select>
            </div>

            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12"
              style="padding-left: 0px;padding-right: 0px;">
              <label>Material Name:</label>
              <select name="material_code" ngModel>
                <option></option>
                <option *ngFor="let material of packings;" [value]="material.material_code">{{ material.material_name }}
                  - {{ material.grade }}</option>
              </select>
            </div>

            <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12"
              style="padding-left: 0px;padding-right: 0px;">
              <label>Qty:</label>
              <input type="text" name="qty" ngModel required>
            </div>

            <div class="clr-col-lg-1 clr-col-md-1 clr-col-sm-12 clr-col-xs-12"
              style="padding-left: 0px;padding-right: 0px;">
              <label>Unit:</label>
              <select name="unit" ngModel required>
                <option></option>
                <option *ngFor="let unit of units">{{ unit.unit }}</option>
              </select>
            </div>

            <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12"
              style="padding-left: 0px;padding-right: 0px;">
              <label>Rate / Unit:</label>
              <input type="text" name="rate" ngModel required>
            </div>

            <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12"
              style="padding-left: 0px;padding-right: 0px;">
              <label>Required For:</label>
              <select name="required_for" (change)="getClients($event.target.value)" ngModel>
                <option></option>
                <option value="Own">Own</option>
                <option value="Loan License">Loan License</option>
                <option value="Third Party">Third Party</option>
              </select>
            </div>

            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" *ngIf="isClient"
              style="padding-right: 0px;">
              <label>Client Name:</label>
              <select name="client_code" ngModel required>
                <option></option>
                <option *ngFor="let client of clients" [value]="client.client_code">{{ client.company }}</option>
              </select>
            </div>
          </div>
          <div class="cl-row">
            <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
              <br>
              <button class="btn btn-primary" (click)="add(rawForm)">{{'common.add' | translate}}</button>
            </div>
          </div>
        </form>

        <table class="table">
          <tr>
            <th>Sr.</th>
            <th>Material Type</th>
            <th>Material Code</th>
            <th>Qty</th>
            <th>Rate/Unit</th>
            <th>Required For</th>
            <th>Client Name</th>
            <th>Del</th>
          </tr>
          <tr *ngFor="let comp of materialList; let i = index">
            <td>{{ i + 1 }}.</td>
            <td>{{ comp.material_subtype }}</td>
            <td>{{ comp.material_code }}</td>
            <td>{{ comp.qty }} {{ comp.unit }}</td>
            <td>{{ comp.rate }}</td>
            <td>{{ comp.required_for }}</td>
            <td>{{ comp.client_code }}</td>
            <td>
              <clr-icon shape="trash" class="is-error" (click)="del(i)"></clr-icon>
            </td>
          </tr>
          <tr *ngIf="materialList.length == 0">
            <td colspan="7">{{'common.noRecords' | translate}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="saveChallan(formulaForm)">{{'common.save' | translate}}</button>
    </div>
  </div>
</div>