<div class="container-fluid" *ngIf="!isView">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Pending Reraining To Schedule</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/qa/training/retraining" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
              </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">

      
                <table class="table table-border">
                    <tr>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.department' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Proposed Date</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Subject</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Proposed Trainer</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Prepared By</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.status' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">View</th>
                    </tr>
                    <tr *ngFor="let training of trainings; let i = index">
                        <td style="text-align: left;">{{ i+1 }}.</td>
                        <td style="text-align: left;">{{ training.department }}</td>
                        <td style="text-align: left;">{{ training.proposed_date | date: 'dd-MM-yyyy'}}</td>
                        <td style="text-align: left;">{{ training.subject }}</td>
                        <td style="text-align: left;">{{ training.trainer_name }}</td>
                        <td style="text-align: left;">{{ training.entry_by }}</td>
                        <td style="text-align: left;">{{ training.status }}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                        </td>
                    </tr>
                    <tr *ngIf="trainings?.length == 0">
                        <td colspan="8">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
 
<div class="container-fluid" *ngIf="isView">
    <div class="card">
        <div class="card-header">Pending Training to Schedule</div>
        <div class="card-block">
            <div class="card-text">
                <form #trainingForm="ngForm">
                    <table class="table">
                        <tr>
                            <td style="width: 22%;text-align: left;">Department:</td>
                            <td style="text-align: left;">{{ selectedTraining['department'] }}</td>
                        </tr>
                        <tr>
                            <td style="width: 22%;text-align: left;">Training Subject:</td>
                            <td style="text-align: left;">{{ selectedTraining['subject'] }}</td>
                        </tr>
                        <tr>
                            <td style="width: 22%;text-align: left;">Reference Document:</td>
                            <td style="text-align: left;">{{ selectedTraining['reference_document'] }}</td>
                        </tr>
                        <tr>
                            <td style="width: 22%;text-align: left;">Trainer:</td>
                            <td style="text-align: left;">{{ selectedTraining['trainer_name'] }}</td>
                            
                        </tr>
                        <tr>
                            <td style="width: 22%;text-align: left;">Justification for Training Needs:</td>
                            <td style="text-align: left;">{{ selectedTraining['training_need'] }}</td>
                        </tr>
                        <tr>
                            <td style="width: 22%;text-align: left;">Proposed Training Date:</td>
                            <td style="text-align: left;">{{ selectedTraining['proposed_date'] | date: 'dd-MM-yyyy'}}</td>
                        </tr>
                    </table>

                    <h4>Add Attendy:</h4>
                    <table class="table table-border">
                        <thead>
                            <tr>
                                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Name of Employee</th>
                                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Employee Code</th>
                                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.department' | translate}}</th>
                                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.designation' | translate}}</th>
                                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Add</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let emp of selectedTraining['employees']">
                                <td style="text-align: left;">{{ emp.firstname }} {{ emp.lastname }}</td>
                                <td style="text-align: left;">{{ emp.emp_id }}</td>
                                <td style="text-align: left;">{{ emp.department }}</td>
                                <td style="text-align: left;">{{ emp.designation }}</td>
                                <td>#</td>
                            </tr>
                            <tr *ngFor="let emp of employeeList">
                                <td style="text-align: left;">{{ emp.firstname }} {{ emp.lastname }}</td>
                                <td style="text-align: left;">{{ emp.emp_id }}</td>
                                <td style="text-align: left;">{{ emp.department }}</td>
                                <td style="text-align: left;">{{ emp.designation }}</td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td style="padding: 0px;vertical-align: middle;">
                                    <select name="employee" [(ngModel)]="emp" style="margin:0px;height:auto;" (change)="selectEmp($event.target.selectedIndex)" required>
                                        <option></option>
                                        <option *ngFor="let emp of employees" [value]="emp.emp_id">{{ emp.firstname }} {{ emp.lastname }} - ({{ emp.emp_id }})</option>
                                    </select>
                                </td>
                                <td>{{ selectedEmp['emp_id'] }}</td>
                                <td>{{ selectedEmp['department'] }}</td>
                                <td>{{ selectedEmp['designation'] }}</td>
                                <td style="padding: 0px;vertical-align: middle;">
                                    <button class="btn btn-sm btn-info" (click)="addEmployees()">{{'common.add' | translate}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>

                    <div class="clr-row">
                        <div class="clr-col-6">
                            <label>Training Date:</label>
                            <input type="date" name="training_date" [ngModel]="selectedTraining['proposed_date']" required>
                        </div>
                        <div class="clr-col-6">
                            <label>Training Time:</label>
                            <input type="time" name="training_time" ngModel required>
                        </div>
                        <div class="clr-col-12">
                            <label>Venue:</label>
                            <input type="text" name="venue" ngModel required>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="saveScheduleTraining(trainingForm)">{{'common.submit' | translate}}</button>
            <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>
