.actionBtn {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 1.2em;
  }
  
  .snapshot {
    text-align: center;
  }
  .snapshot img {
    max-width: 200px;
    max-height: 200px;
  }
  ul.links {
    padding-bottom: 20px;
  }
  
  table, th, td{
    border: 1px solid black;
    }