/* General Styling */
label {
    margin-top: 5%;
    margin-bottom: 5%;
}


/* Input & Dropdown Styling */
input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 3px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    outline: none;
    background-color: white;
}

/* Dropdown Custom Arrow */
select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333333" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
  
}

/* Input Focus Effect */
input:focus,
select:focus,
textarea:focus {
    border: 1px solid #1976D2;
    box-shadow: 0 0 8px rgba(25, 118, 210, 0.5);
    transform: scale(1.02);
    outline: none;
}


/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    width: 367px;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
 .Sup{
    text-align: left;
 }