<div class="card" *ngIf="isLog && !isView">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">Test Master</div>
        <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" routerLink="/qa/request" style="background-color: red;color: white;">
            {{'common.close' | translate}} </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <div class="clr-row">
         
        </div>
        <clr-datagrid [clrDgLoading]="loading">
  
  
           <clr-dg-column>{{'common.table.srNo' | translate}}</clr-dg-column>
          <clr-dg-column>doc_name</clr-dg-column>
          <clr-dg-column>doc_no</clr-dg-column>
          <clr-dg-column>revision_type</clr-dg-column>
          <clr-dg-column>rivision_chnages</clr-dg-column>
         
          <clr-dg-column >{{'common.table.action' | translate}}</clr-dg-column>
        
  
          <clr-dg-row *clrDgItems="let user of results; let i = index" [clrDgItem]="user">
            <clr-dg-cell>{{i+1}}</clr-dg-cell>
            <clr-dg-cell>{{user.doc_name}}</clr-dg-cell>
            <clr-dg-cell>{{user.doc_no}}</clr-dg-cell>
            <clr-dg-cell>{{user.revision_type}}</clr-dg-cell>
            <clr-dg-cell>{{user.rivision_chnages}}</clr-dg-cell>
            <clr-dg-cell>
               <button class="btn btn-sm btn-info btn-icon" (click)="viewMethod(user?.doc_no)">
              <clr-icon shape="eye" class="is-warning"></clr-icon>
               </button>
            </clr-dg-cell>
           
  
          </clr-dg-row>
   
  
          
            
          
        </clr-datagrid>
         
        
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="download()">{{'common.download' | translate}}</button>
    </div>
  </div>
  <div class="card" *ngIf="!isLog && isView">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">Test Master View</div>
        <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        
         
          <button class="btn btn-sm" routerLink="/master" style="background-color: red;color: white;">
            {{'common.close' | translate}} </button>
        </div>
      </div>
    </div>
    <div class="card-header">Method</div>
    <div class="card-block">
        <div class="card-text">
           
            
  
         
          
                <div *ngIf="methods?.Genral_Instruction!=''">
                    
                        <div class="card">
                            <div class="card-header" style="text-align: center;background-color: pink;color: black;">
                                <div class="clr-row" style="margin-bottom: -10px;">
                                    <div class="clr-col-7"
                                        style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"> <h3>General Instructions:</h3></div>
                                    <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                                        <button class="btn btn-sm btn-info btn-icon" (click)="dataShow5()">
                                            <clr-icon shape="eye" class="is-warning"></clr-icon>
                                        </button>
                                        <!-- <button (click)="dataShow()" type="checkbox" style="float:right;background-color: pink;">Click</button> -->
                                    </div>
                                </div>
                            </div>
                    <div >
                        <div class="card-block">
                            <div class="card-text">
                                <div *ngIf="isdata5" class="row container-fluid" id="div">
                     
                      <table class="table table-border" style="margin-top: 0px;">
                        <tr style="background-color:#00364d;color:white">
                        <td > parameter</td> 
                        <td > discrption</td>
                        <td > Specfication Limit</td>
                        
  
                    </tr>
                     
                        <tr *ngFor="let data of methods['Genral_Instruction']; let i = index">
                            <td>{{ data['parameter'] }}</td>
                            <td>{{ data['discrption'] }}</td>
                            <td>{{ data['spec_limit'] }}</td>
                        </tr>
                        
                        
                      </table>  
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                 
                  </div>
                
                <div *ngIf="methods?.purpose!=''">
                    
                        <div class="card">
                            <div class="card-header" style="text-align: center;background-color: pink;color: black;">
                                <div class="clr-row" style="margin-bottom: -10px;">
                                    <div class="clr-col-7"
                                        style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"> <h3>purpose:</h3></div>
                                    <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                                        <button class="btn btn-sm btn-info btn-icon" (click)="dataShow6()">
                                            <clr-icon shape="eye" class="is-warning"></clr-icon>
                                        </button>
                                        <!-- <button (click)="dataShow()" type="checkbox" style="float:right;background-color: pink;">Click</button> -->
                                    </div>
                                </div>
                            </div>
                    <div >
                        <div class="card-block">
                            <div class="card-text">
                                <div *ngIf="isdata6" class="row container-fluid" id="div">
                     
                                    <editor name="purpose" [(ngModel)]="methods['purpose']" required [apiKey]="api" [init]="editorInit">
                                    </editor>
                                    
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                 
                  </div>
                <div *ngIf="methods['Scope']!=''">
                    
                        <div class="card">
                            <div class="card-header" style="text-align: center;background-color: pink;color: black;">
                                <div class="clr-row" style="margin-bottom: -10px;">
                                    <div class="clr-col-7"
                                        style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"> <h3>Scope:</h3></div>
                                    <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                                        <button class="btn btn-sm btn-info btn-icon" (click)="dataShow7()">
                                            <clr-icon shape="eye" class="is-warning"></clr-icon>
                                        </button>
                                        <!-- <button (click)="dataShow()" type="checkbox" style="float:right;background-color: pink;">Click</button> -->
                                    </div>
                                </div>
                            </div>
                    <div >
                        <div class="card-block">
                            <div class="card-text">
                                <div *ngIf="isdata7" class="row container-fluid" id="div">
                     
                                    <editor name="Scope" [(ngModel)]="methods['Scope']" required [apiKey]="api" [init]="editorInit">
                                    </editor>
                                    
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                 
                  </div>
                <div *ngIf="methods['Associative_Document']!=''">
                    
                        <div class="card">
                            <div class="card-header" style="text-align: center;background-color: pink;color: black;">
                                <div class="clr-row" style="margin-bottom: -10px;">
                                    <div class="clr-col-7"
                                        style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"> <h3>Associative Document</h3></div>
                                    <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                                        <button class="btn btn-sm btn-info btn-icon" (click)="dataShow8()">
                                            <clr-icon shape="eye" class="is-warning"></clr-icon>
                                        </button>
                                        <!-- <button (click)="dataShow()" type="checkbox" style="float:right;background-color: pink;">Click</button> -->
                                    </div>
                                </div>
                            </div>
                    <div >
                        <div class="card-block">
                            <div class="card-text">
                                <div *ngIf="isdata8" class="row container-fluid" id="div">
                     
                      <table class="table table-border" style="margin-top: 0px;">
                        <tr style="background-color:#00364d;color:white">
                        <td > doc_no</td> 
                        <td > doc_name</td>
                         
  
                    </tr>
                     
                        <tr *ngFor="let data of methods['Associative_Document']; let i = index">
                            <td>{{ data['doc_no'] }}</td>
                            <td>{{ data['doc_name'] }}</td>
                            
                        </tr>
                        
                        
                      </table>  
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                 
                  </div>
                <div *ngIf="methods['Refrenced_Document']!=''">
                    
                        <div class="card">
                            <div class="card-header" style="text-align: center;background-color: pink;color: black;">
                                <div class="clr-row" style="margin-bottom: -10px;">
                                    <div class="clr-col-7"
                                        style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"> <h3>Refrenced  Document</h3></div>
                                    <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                                        <button class="btn btn-sm btn-info btn-icon" (click)="dataShow9()">
                                            <clr-icon shape="eye" class="is-warning"></clr-icon>
                                        </button>
                                        <!-- <button (click)="dataShow()" type="checkbox" style="float:right;background-color: pink;">Click</button> -->
                                    </div>
                                </div>
                            </div>
                    <div >
                        <div class="card-block">
                            <div class="card-text">
                                <div *ngIf="isdata9" class="row container-fluid" id="div">
                     
                      <table class="table table-border" style="margin-top: 0px;">
                        <tr style="background-color:#00364d;color:white">
                        <td > doc_no</td> 
                        <td > doc_name</td>
                         
  
                    </tr>
                     
                        <tr *ngFor="let data of methods['Refrenced_Document']; let i = index">
                            <td>{{ data['doc_no'] }}</td>
                            <td>{{ data['doc_name'] }}</td>
                            
                        </tr>
                        
                        
                      </table>  
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                 
                  </div>
                <div *ngIf="methods['defination']!=''">
                    
                        <div class="card">
                            <div class="card-header" style="text-align: center;background-color: pink;color: black;">
                                <div class="clr-row" style="margin-bottom: -10px;">
                                    <div class="clr-col-7"
                                        style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"> <h3>Defination</h3></div>
                                    <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                                        <button class="btn btn-sm btn-info btn-icon" (click)="dataShow10()">
                                            <clr-icon shape="eye" class="is-warning"></clr-icon>
                                        </button>
                                        <!-- <button (click)="dataShow()" type="checkbox" style="float:right;background-color: pink;">Click</button> -->
                                    </div>
                                </div>
                            </div>
                    <div >
                        <div class="card-block">
                            <div class="card-text">
                                <div *ngIf="isdata10" class="row container-fluid" id="div">
                     
                      <table class="table table-border" style="margin-top: 0px;">
                        <tr style="background-color:#00364d;color:white">
                        <td > short</td> 
                        <td > Full</td>
                         
  
                    </tr>
                     
                        <tr *ngFor="let data of methods['defination']; let i = index">
                            <td>{{ data['short'] }}</td>
                            <td>{{ data['Full'] }}</td>
                            
                        </tr>
                        
                        
                      </table>  
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                 
                  </div>
                <div *ngIf="methods['Safety']!=''">
                    
                        <div class="card">
                            <div class="card-header" style="text-align: center;background-color: pink;color: black;">
                                <div class="clr-row" style="margin-bottom: -10px;">
                                    <div class="clr-col-7"
                                        style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"> <h3>Safety</h3></div>
                                    <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                                        <button class="btn btn-sm btn-info btn-icon" (click)="dataShow11()">
                                            <clr-icon shape="eye" class="is-warning"></clr-icon>
                                        </button>
                                        <!-- <button (click)="dataShow()" type="checkbox" style="float:right;background-color: pink;">Click</button> -->
                                    </div>
                                </div>
                            </div>
                    <div >
                        <div class="card-block">
                            <div class="card-text">
                                <div *ngIf="isdata11" class="row container-fluid" id="div">
                     
                    
                                    <editor name="Scope" [(ngModel)]="methods['Safety']" required [apiKey]="api" [init]="editorInit">
                                    </editor>
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                 
                  </div>
                <div *ngIf="methods['procedure']!=''">
                    
                        <div class="card">
                            <div class="card-header" style="text-align: center;background-color: pink;color: black;">
                                <div class="clr-row" style="margin-bottom: -10px;">
                                    <div class="clr-col-7"
                                        style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"> <h3>procedure</h3></div>
                                    <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                                        <button class="btn btn-sm btn-info btn-icon" (click)="dataShow11()">
                                            <clr-icon shape="eye" class="is-warning"></clr-icon>
                                        </button>
                                        <!-- <button (click)="dataShow()" type="checkbox" style="float:right;background-color: pink;">Click</button> -->
                                    </div>
                                </div>
                            </div>
                    <div >
                        <div class="card-block">
                            <div class="card-text">
                                <div *ngIf="isdata11" class="row container-fluid" id="div">
                     
                    
                                    <editor name="Scope" [(ngModel)]="methods['procedure']" required [apiKey]="api" [init]="editorInit">
                                    </editor>
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                 
                  </div>
                <div *ngIf="methods?.eqdates?.length>0">
                    
                        <div class="card">
                            <div class="card-header" style="text-align: center;background-color: pink;color: black;">
                                <div class="clr-row" style="margin-bottom: -10px;">
                                    <div class="clr-col-7"
                                        style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"> <h3>Equipment Instruments</h3></div>
                                    <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                                        <button class="btn btn-sm btn-info btn-icon" (click)="dataShow0()">
                                            <clr-icon shape="eye" class="is-warning"></clr-icon>
                                        </button>
                                        <!-- <button (click)="dataShow()" type="checkbox" style="float:right;background-color: pink;">Click</button> -->
                                    </div>
                                </div>
                            </div>
                    <div >
                        <div class="card-block">
                            <div class="card-text">
                                <div *ngIf="isdata0" class="row container-fluid" id="div">
                     
                      <table class="table table-border" style="margin-top: 0px;">
                        <tr style="background-color:#00364d;color:white">
                        <td > Name</td> 
                        <td > Capacity</td>
                        <td > Make</td>
                      
  
                    </tr>
                     
                        <tr *ngFor="let data of methods['eqdates']; let i = index">
                            <td>{{ data['equipment_name'] }}</td>
                            <td>{{ data['capacity'] }}</td>
                            <td>{{ data['make'] }}</td>
                           
                        </tr>
                        
                        
                      </table>  
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                 
                  </div>
                <div *ngIf="methods['balance']!=''">
                    <div class="card">
                        <div class="card-header" style="text-align: center;background-color: pink;color: black;">
                            <div class="clr-row" style="margin-bottom: -10px;">
                                <div class="clr-col-7"
                                    style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"> <h3>Balance</h3></div>
                                <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                                    <button class="btn btn-sm btn-info btn-icon" (click)="dataShow()">
                                        <clr-icon shape="eye" class="is-warning"></clr-icon>
                                    </button>
                                    <!-- <button (click)="dataShow()" type="checkbox" style="float:right;background-color: pink;">Click</button> -->
                                </div>
                            </div>
                        </div>
                    <div >
                        <div class="card-block">
                            <div class="card-text">
                                <div *ngIf="isdata" class="row container-fluid" id="div">
                        <table class="table table-border" style="margin-top: 0px;">
                            <tr style="background-color:#00364d;color:white">
                          <td > Name</td> 
                          <td > Code</td> 
                          <td > Capacity</td>
                          <td > make</td>
                          </tr>
                          <tr *ngFor="let data of methods['balance']">
                          <td> {{data['equipment_name']}}</td>
                          <td> {{data['equipment_code']}}</td>
                          <td> {{data['capacity']}}</td>
                          <td> {{data['make']}}</td>
                          </tr>
                        </table>  
                    </div>
                </div>
            </div>
                    </div>
                </div>
                  </div>
                <div *ngIf="methods?.chems_dats?.length>0">
                    <div class="card">
                        <div class="card-header" style="text-align: center;background-color: pink;color: black;">
                            <div class="clr-row" style="margin-bottom: -10px;">
                                <div class="clr-col-7"
                                    style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"> <h3>Chemical Reagents</h3></div>
                                <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                                    <button class="btn btn-sm btn-info btn-icon" (click)="dataShow1()">
                                        <clr-icon shape="eye" class="is-warning"></clr-icon>
                                    </button>
                                    <!-- <button (click)="dataShow()" type="checkbox" style="float:right;background-color: pink;">Click</button> -->
                                </div>
                            </div>
                        </div>
                    <div >
                        <div class="card-block">
                            <div class="card-text">
                                <div *ngIf="isdata1" class="row container-fluid" id="div">
                       
                        <table class="table table-border" style="margin-top: 0px;">
                            <tr style="background-color:#00364d;color:white">
                          <td > Chemical Name</td> 
                          
                          <td > Grade</td>
                       
                          </tr>
                          <tr *ngFor="let data of methods['chems_dats']">
                          <td> {{data['chemical_name']}}</td>
                          
                          <td> {{data['grade']}}</td>
                       
                          </tr>             
                        </table>    
                    </div>
                </div>
            </div>
                    </div>
                </div>
                  </div>
                <div *ngIf="methods['glasswares']!=''">
                    <div class="card">
                        <div class="card-header" style="text-align: center;background-color: pink;color: black;">
                            <div class="clr-row" style="margin-bottom: -10px;">
                                <div class="clr-col-7"
                                    style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"> <h3>Glasswares</h3></div>
                                <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                                    <button class="btn btn-sm btn-info btn-icon" (click)="dataShow2()">
                                        <clr-icon shape="eye" class="is-warning"></clr-icon>
                                    </button>
                                    <!-- <button (click)="dataShow()" type="checkbox" style="float:right;background-color: pink;">Click</button> -->
                                </div>
                            </div>
                        </div>
                    <div >
                        <div class="card-block">
                            <div class="card-text">
                                <div *ngIf="isdata2" class="row container-fluid" id="div">
                        <table class="table table-border" style="margin-top: 0px;">
                            <tr style="background-color:#00364d;color:white">
                          <td >  Name</td> 
                          <td > capacity</td> 
                          <td > glassware_class</td>
                          <td > description</td>
                          </tr>
                          <tr *ngFor="let data of methods['glasswares']">
                          <td> {{data['name']}}</td>
                          <td> {{data['capacity']}}</td>
                          <td> {{data['glassware_class']}}</td>
                          <td> {{data['description']}}</td>
                          </tr>             
                        </table>    
                    </div>
                </div>
            </div>
                    </div>
                </div>
                  </div>
                
               
                  <div *ngIf="methods['volumetric_solutions']!=''">
                    <div class="card">
                        <div class="card-header" style="text-align: center;background-color: pink;color: black;">
                            <div class="clr-row" style="margin-bottom: -10px;">
                                <div class="clr-col-7"
                                    style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"> <h3>Volumetric Solution</h3></div>
                                <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                                    <button class="btn btn-sm btn-info btn-icon" (click)="dataShow4()">
                                        <clr-icon shape="eye" class="is-warning"></clr-icon>
                                    </button>
                                    <!-- <button (click)="dataShow()" type="checkbox" style="float:right;background-color: pink;">Click</button> -->
                                </div>
                            </div>
                        </div>
                    <div >
                        <div class="card-block">
                            <div class="card-text">
                                <div *ngIf="isdata4" class="row container-fluid" id="div">
                        <table class="table table-border" style="margin-top: 0px;">
                            <tr style="background-color:#00364d;color:white">
                          <td >  Name</td> 
                          <td > percentage</td> 
                          <td > unit</td>
                          <td > strength</td>
                          <td > standard_type</td>
                          </tr>
                          <tr *ngFor="let data of methods['volumetric_solutions']">
                          <td> {{data['solution_name']}}</td>
                          <td> {{data['percentage']}}</td>
                          <td> {{data['unit']}}</td>
                          <td> {{data['strength']}}</td>
                          <td> {{data['standard_type']}}</td>
                          </tr>             
                        </table>    
                    </div>
                </div>
            </div>
                    </div>
                </div>
                  </div>
                  <div *ngIf="hplc_len!=''">
                    <div class="card">
                        <div class="card-header" style="text-align: center;background-color: pink;color: black;">
                            <div class="clr-row" style="margin-bottom: -10px;">
                                <div class="clr-col-7"
                                    style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"> <h3>hplc</h3></div>
                                <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                                    <button class="btn btn-sm btn-info btn-icon" (click)="dataShow12()">
                                        <clr-icon shape="eye" class="is-warning"></clr-icon>
                                    </button>
                                 </div>
                            </div>
                        </div>
                    <div >
                        <div class="card-block">
                            <div class="card-text">
                                <div *ngIf="isdata12" class="row container-fluid" id="div">
                                    <div class="clr-row">
                                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                                          <h3>Instrument parameter</h3>
                      
                          <table class="table">
                            <tr>
                                <td>parametr</td>
                                <td>Criteria</td> 
                            </tr>
                             
                            <tr *ngFor="let data of methods['hplc']['Instrument_parameter_list'];let i = index;">
                              <td>{{data.parameter}}</td>
                              <td>{{data.Criteria}}</td>                               
                            </tr>
                          </table>
                       
                          </div>
                          <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <h3>Refractive index and detection parameter</h3>
                        <form #Refractive_indexForm="ngForm">
                        <table class="table">
                          <tr>
                              <td>parametr</td>
                              <td>Criteria</td>
                              
                          </tr>
                          
                          <tr *ngFor="let data of methods['hplc']['Refractive_indexForm_list'];let i = index;">
                            <td>{{data.parameter}}</td>
                            <td>{{data.Criteria}}</td> 
                          </tr>
                        </table>
                      </form>
                      </div>
                      <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <h3>Method Parameter</h3>
                        <form #Method_ParameterForm="ngForm">
                        <table class="table">
                          <tr>
                              <td>parametr</td>
                              <td>Criteria</td> 
                          </tr>
                          
                          <tr *ngFor="let data of methods['hplc']['Method_ParameterForm_list'];let i = index;">
                            <td>{{data.parameter}}</td>
                            <td>{{data.Criteria}}</td> 
                          </tr>
                        </table>
                      </form>
                      </div>
                      <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                          <h3>Retention time</h3>
                          <form #Retention_time="ngForm">
                          <table class="table">
                            <tr>
                                <td>peak</td>
                                <td>retention time(minutes)</td>
                                <td>relative retention time</td> 
                            </tr>
                             
                            <tr *ngFor="let data of methods['hplc']['Retention_time_list'];let i = index;">
                              <td>{{data.peak}}</td>
                              <td>{{data.Retention_time}}</td>
                              <td>{{data.relative_retention_time}}</td> 
                            </tr>
                          </table>
                          </form>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
                  </div>
                  <div *ngIf="methods['Documentations']!=''">
                    <div class="card">
                        <div class="card-header" style="text-align: center;background-color: pink;color: black;">
                            <div class="clr-row" style="margin-bottom: -10px;">
                                <div class="clr-col-7"
                                    style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"> <h3>Documentations</h3></div>
                                <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                                    <button class="btn btn-sm btn-info btn-icon" (click)="dataShow13()">
                                        <clr-icon shape="eye" class="is-warning"></clr-icon>
                                    </button>
                                 </div>
                            </div>
                        </div>
                    <div >
                        <div class="card-block">
                            <div class="card-text">
                                <div *ngIf="isdata13" class="row container-fluid" id="div">
                                 
                                   <editor name="Documentations" [(ngModel)]="methods['Documentations']" required [apiKey]="api" [init]="editorInit">
                                  </editor>
                    </div>
                </div>
            </div>
                    </div>
                </div>
                  </div>
                  <div *ngIf="methods['Trendings']!=''">
                    <div class="card">
                        <div class="card-header" style="text-align: center;background-color: pink;color: black;">
                            <div class="clr-row" style="margin-bottom: -10px;">
                                <div class="clr-col-7"
                                    style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"> <h3>Trendings</h3></div>
                                <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                                    <button class="btn btn-sm btn-info btn-icon" (click)="dataShow14()">
                                        <clr-icon shape="eye" class="is-warning"></clr-icon>
                                    </button>
                                 </div>
                            </div>
                        </div>
                    <div >
                        <div class="card-block">
                            <div class="card-text">
                                <div *ngIf="isdata14" class="row container-fluid" id="div">
                                 
                                   <editor name="Trendings" [(ngModel)]="methods['Trendings']" required [apiKey]="api" [init]="editorInit">
                                  </editor>
                         </div>
                </div>
            </div>
                    </div>
                </div>
                  </div>
                
               
  
                  
                  
           
            
  
           
                   
          
           
        </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="Status('approve')">{{'common.approve' | translate}}</button>
      <button class="btn btn-danger" (click)="Status('reject')">{{'common.reject' | translate}}</button>
    </div>
  </div>
  