<div class="container-fluid" *ngIf="!isView">
  <div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">DAMAGE CONTAINER INSPECTION LOG</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" routerLink="/engi-store/damage" style="background-color: red;color: white;"> {{'common.close' | translate}} </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        
        <table class="table table-border" style="margin-top: 0px;">
          <tr style="background-color:#00364d;color:white">
            <th style="font-weight: bold;background-color: maroon;color: white;text-align: left;">{{'common.table.srNo' | translate}}</th>
            <th style="font-weight: bold;background-color: maroon;color: white;text-align: left;">{{'common.date' | translate}}</th>
            <th style="font-weight: bold;background-color: maroon;color: white;text-align: left;">Material Code</th>
            <th style="font-weight: bold;background-color: maroon;color: white;text-align: left;">Material Name</th>
            <th style="font-weight: bold;background-color: maroon;color: white;text-align: left;">Material Type</th>
            <th style="font-weight: bold;background-color: maroon;color: white;text-align: left;">Grade</th>
            <th style="font-weight: bold;background-color: maroon;color: white;text-align: left;">Total Containers</th>
            <th style="font-weight: bold;background-color: maroon;color: white;text-align: left;">Damage Containers</th>
            <th style="font-weight: bold;background-color: maroon;color: white;text-align: left;">{{'common.status' | translate}}</th>
            <th style="font-weight: bold;background-color: maroon;color: white;text-align: left;">{{'common.table.action' | translate}}</th>
          <tr>
            <tr *ngFor="let result of results; let i = index">
              <td style="text-align: left;font-weight: bold;">{{ i + 1 }}.</td>
              <td style="text-align: left;font-weight: bold;">{{ result.receiving_date | date:'dd-MM-yyyy'}}</td>
              <td style="text-align: left;font-weight: bold;">{{ result.material_code }}</td>
              <td style="text-align: left;font-weight: bold;">{{ result.material_name }}</td>
              <td style="text-align: left;font-weight: bold;">{{ result.material_subtype }}</td>
              <td style="text-align: left;font-weight: bold;">{{ result.grade }}</td>
              <td style="text-align: left;font-weight: bold;">{{ result.containers }}</td>
              <td style="text-align: left;font-weight: bold;">{{ result.outer_damage }}</td>
              <td style="text-align: left;font-weight: bold;">{{ result.damage | titlecase }}</td>
              <td style="text-align: left;font-weight: bold;">
                <button class="btn btn-sm btn-info" (click)="view(i)">PROCEED</button>
              </td>
              <tr>
          </table>  
       
        
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="isView">
  <div class="card">
    <div class="card-header">DAMAGE CONTAINER INSPECTION LOG</div>
    <div class="card-block">
      <div class="card-text">
        <table class="table table-border">
          <tr>
          <td style="text-align: left;"><b>Material Name:</b></td>
          <td colspan="3" style="text-align: left;">{{ selectedReport['material_name'] }}</td>
          </tr>
          <tr>
          <td style="text-align: left;"><b>Vendor Name:</b></td>
          <td colspan="3" style="text-align: left;">{{ selectedReport['vendor_name'] }}</td>
          </tr>
          <tr>
          <td style="text-align: left;"><b>Packaging Slip:</b></td>
          <td style="text-align: left;">{{ selectedReport['challan_no'] }}</td>
          <td style="text-align: left;"><b>Packaging Slip Date:</b></td>
          <td style="text-align: left;">{{ selectedReport['challan_date'] }}</td>
          </tr>
          <tr>
          <td style="text-align: left;"><b>PO No.:</b></td>
          <td style="text-align: left;">{{ selectedReport['po_no'] }}</td>
          <td style="text-align: left;"><b>PO Date:</b></td>
          <td style="text-align: left;">{{ selectedReport['po_date'] |date:'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
          <td style="text-align: left;"><b>Material Type:</b></td>
          <td style="text-align: left;">{{ selectedReport['material_type'] }}</td>
          <td style="text-align: left;"><b>Material Subtype:</b></td>
          <td style="text-align: left;">{{ selectedReport['material_subtype'] }}</td>
          </tr>
          <tr>
          <td style="text-align: left;"><b>Material Code:</b></td>
          <td style="text-align: left;">{{ selectedReport['material_code'] }}</td>
          <td style="text-align: left;"><b>Material Grade:</b></td>
          <td style="text-align: left;">{{ selectedReport['grade'] }}</td>
          </tr>
          <tr>
          <td style="text-align: left;"><b>PO Qty:</b></td>
          <td style="text-align: left;" colspan="3">{{ selectedReport['qty'] }} {{ selectedReport['unit'] }}</td>
          </tr>
        </table>


        <form #damageForm="ngForm">
          
          <h3>Labeling Details:</h3>
          <div class="clr-row">
              <div class="clr-col-4">
              <label>Medicap Lot No:</label>
              <input type="text" name="batch_no" [ngModel]="selectedReport['batch_no']" readonly tabindex="-1">
              </div>
              <div class="clr-col-2"><br>
                <button [disabled]="selectedReport['damaeImg1'] == 'NA'" class="btn btn-primary btn-sm" (click)="viewFile(selectedReport['damaeImg1'])">{{'common.view' | translate}}</button>
              </div>
              <div class="clr-col-2"><br>
                <button [disabled]="selectedReport['damaeImg2'] == 'NA'" class="btn btn-primary btn-sm" (click)="viewFile(selectedReport['damaeImg2'])">{{'common.view' | translate}}</button>
              </div>
          </div>

          <h3>Damage Containers Details:</h3>
          <table class="table table-border">
              <tr>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Container No.</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Condition</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">{{'common.table.remark' | translate}}</th>
              </tr>
              <tr *ngFor="let damage of selectedReport['damage_details']; let i = index">
                  <td style="text-align: left;">{{ damage.container_no }}</td>
                  <td style="text-align: left;">{{ damage.status }}</td>
                  <td style="text-align: left;">{{ damage.remark }}</td>
              </tr>
              <tr *ngIf="selectedReport['damage_details']?.length==0">
                  <td colspan="3">No Record Found!</td>
              </tr>
          </table>

          <h3>Damage Containers Checklist:</h3>
          
          <div class="clr-row">
            <table class="table table-border"  >
              <tr >
                <th style="background-color:#144196;color:white;font-size:15px">{{'common.table.srNo' | translate}}</th>
                <th style="background-color:#144196;color:white;font-size:15px;text-align:left;">Parameters</th>
                <th style="background-color:#144196;color:white;font-size:15px">{{'common.remarks' | translate}}</th>
              </tr>
              <tr *ngFor="let hr of selectedReport['damageChecklist'];let i = index" >
                <td >{{i+1.}}</td>
                <td style="text-align:left;">{{hr.check_point}}</td>
                <td style="text-align:left;">{{hr.check}}</td>
              </tr>
            </table>
          </div> 


        </form>
 
      </div>
    </div>
    <div class="card-footer">
       <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
    </div>
  </div>
</div>