<div class="container-fluid" *ngIf="!isView">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Interviews Log</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/interview" style="background-color: red;color: white;">
                  <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                </button>
              </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                <div class="clr-col-lg-12">
                    <table class="table">
                        <tr>
                            <th style="text-align: left;">Candidate Name</th>
                            <th style="text-align: left;">Qualification</th>
                            <th style="text-align: left;"> Department</th>
                            <th style="text-align: left;"> Designation</th>
                            <th style="text-align: left;"> Employee code</th>
                            <th style="text-align: left;"> Status</th>
                            <th style="text-align: left;">view</th>
                        </tr>
                        <tr *ngFor="let res of results;let i=index">
                            <td style="text-align: left;">{{ res.candidate_name}}</td>
                            <td style="text-align: left;">{{ res.qualification}}</td>
                            <td style="text-align: left;">{{ res.department}}</td>
                            <td style="text-align: left;"> {{ res.designation }}</td>
                            <td style="text-align: left;">{{ res.employee}} </td>
                            <td style="text-align: left;"> {{ res.emp_status}}</td>
                            <td>
                                <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="isView">
    <div class="card">
        <div class="card-header"> Interview Updating Record</div>
        <div class="card-block">
            <div class="card-text">
                <div class="clr-row">
                    <h3> Candidate Details:</h3>
                    <table class="table">
                        <tr> 
                            <td style="text-align: left; width: 20%;">Candidate Name:</td>
                            <td style="text-align: left;">{{ selectedReport['candidate_name'] }}</td>
                        </tr>
                        <tr> 
                            <td style="text-align: left; width: 20%;">Email Id:</td>
                            <td style="text-align: left;">{{ selectedReport['email_id']}}</td>
                        </tr>
                        <tr> 
                            <td style="text-align: left; width: 20%;">Mobile No:</td>
                            <td style="text-align: left;">{{ (selectedReport['mobile_no'] | canadianPhone)}}</td>
                        </tr>
                        <tr> 
                            <td style="text-align: left; width: 20%;"> Qualification:</td>
                            <td style="text-align: left;">{{ selectedReport['qualification']}}</td>
                        </tr>
                        <tr> 
                            <td style="text-align: left; width: 20%;"> Applied Department:</td>
                            <td style="text-align: left;">{{ selectedReport['department']}}</td>
                        </tr>
                        <tr> 
                            <td style="text-align: left; width: 20%;"> Designation:</td>
                            <td style="text-align: left;">{{ selectedReport['designation']}}</td>
                        </tr>
                        <tr> 
                            <td style="text-align: left; width: 20%;"> Remark:</td>
                            <td style="text-align: left;">{{ selectedReport['remark']}}</td>
                        </tr>
                    </table>
                    <h3> Remark: </h3>
                    <table class="table">
                        <tr>
                            <th style="text-align: left;"> Sr.</th>
                            <th style="text-align: left;"> Question</th>
                            <th style="text-align: left;">{{'common.table.remark' | translate}}</th>
                        </tr>
                        <tr *ngFor="let remarkdata of selectedReport['data']; let i = index">
                            <td>{{ i + 1 }}.</td>
                            <td style="text-align: left;">{{ remarkdata.question }}</td>
                            <td *ngIf="remarkdata.rating =='5'" style="text-align: left;">Exceptional</td>
                            <td *ngIf="remarkdata.rating =='4'" style="text-align: left;">Above Average</td>
                            <td *ngIf="remarkdata.rating =='3'" style="text-align: left;">Average</td>
                            <td *ngIf="remarkdata.rating =='2'" style="text-align: left;">Below Average</td>
                            <td *ngIf="remarkdata.rating =='1'" style="text-align: left;">Unsatisfactory</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-danger" (click)="isView=false">{{'common.close' | translate}}</button>
        </div>
    </div>  
</div>
