table tbody {
    display: block;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: scroll;
}

table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody tr td:first-child, thead tr th:first-child {
    width: 150px;
}
table{
    border: 1px solid black;
}



.unique-table-wrapper {
    max-height: 400px; /* Set the desired height */
    overflow-y: auto; /* Enable vertical scrolling */
    margin: 20px 0;
    border: 1px solid #ddd;
  }
  
  .unique-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .unique-table thead th.unique-table-header {
    position: sticky;
    top: 0;
    background-color: rgb(14, 67, 112);
    color: white;
    text-align: center;
    z-index: 1; /* Ensure the header stays on top */
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .unique-table tbody td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
  }