<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Artwork Upload</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">

                <button class="btn btn-sm" (click)="isView=true"
                style="background-color: green; color: white;">Initiate</button>
                <button class="btn btn-sm"  routerLink="/qa/artwork"  style="background-color: red;color: white;">
                    <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                </button>
            </div>
        </div>
    </div>
    <div class="card-block"> 
        <div class="card-text">
            <table class="table table-border">
                <tr>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.srNo' | translate}}</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Artwork No</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Version No</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Material Name</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Product Name</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Designer Mail</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.status' | translate}}</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>

                </tr>
                <tr *ngFor="let result of results; let i = index">
                    <td style="text-align: left;">{{i+1}}</td>
                    <td style="text-align: left;">{{ result.artwork_no || 'NA'}}</td>
                    <td style="text-align: left;">{{ result.version_no || 'NA'}}</td>
                    <td style="text-align: left;">{{ result.material_name|| 'NA'}}</td>
                    <td style="text-align: left;">{{ result.product_name|| 'NA'}}</td>
                    <td style="text-align: left;">{{ result.Developer || 'NA'}}</td>
                    <td style="text-align: left;">{{ result.status || 'NA'}}</td>
                    <td>
                        <button class="btn btn-sm btn-success" (click)="jadugar(result)">{{'common.upload' | translate}}</button>
                     </td>
                </tr>
                <tr *ngIf="results?.length == 0">
                    <td colspan="9">{{'common.noRecords' | translate}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<clr-modal [(clrModalOpen)]="isDIGI" [clrModalClosable]="true">
    <h3 class="modal-title">Upload Artwork</h3>
    <div class="modal-body">
      <div class="card">
        <div class="card-block">
          <div class="card-text">
            <form #uploadArtwork="ngForm">
              <div class="modal-body">
                <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-6">
                    <label>Upload ArtWork:</label>
                    <input type="file" name="file" (change)="onFileChange2($event)" accept=".pdf,.doc,.JPG" required>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success" (click)="uploadArtworkFile(uploadArtwork)">{{'common.upload' | translate}}</button>
         </div>
      </div>
    </div>
  </clr-modal>
  


<div class="card" *ngIf="isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Artwork Initition
            </div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" (click)="isView=false" style="background-color: red;color: white;">
                    <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
                <form #preparariondata="ngForm">
                    <div class="clr-row">
                   
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label>ArtWork For:</label>
                            <select name="material_code" [(ngModel)]="material_code" ngModel  required>
                                <option></option>
                                <option *ngFor="let material of materials" [value]="material.material_code">
                                    {{material.material_name}}</option>
                            </select>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label>Product Name</label>
                            <select name="product_code" [(ngModel)]="product_code"ngModel required>
                                <option></option>
                                <option *ngFor="let res of Products" [value]=res.product_code>{{res.product_name}}</option>
                            </select>
                        </div>
                        
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label>Designer For</label>
                            <select name="Developer" ngModel required>
                                <option></option>
                                <option *ngFor="let artist of Developers" >
                                    {{artist.firstname}}  {{artist.lastname}}</option>
                            </select>
                        </div>
                       

                    </div>
                </form>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="saveForm(preparariondata)">{{'common.submit' | translate}}</button>
    </div>
</div>