<div class="container-fluid" *ngIf="!isNew">
    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;"> Paint & Wall Maintainance Log</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm"   style="background-color: rgb(8, 96, 31);color: white;" (click)="isNew=true" *ngIf="isuser == 'Yes'"> NEW </button>
            <button class="btn btn-danger" routerLink="/admin/favility">{{'common.close' | translate}}</button>  

            
            <!-- <button class="btn btn-sm" routerLink="/admin/favility" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button> -->
          </div>
        </div>
      </div>
      <div class="card-block">
       
        <div class="card-text">
            <clr-datagrid [clrDgLoading]="loading">
              
              <clr-dg-column >Sr. </clr-dg-column>
              <clr-dg-column >Maintainance Date</clr-dg-column>
              <clr-dg-column >Maintainance Note ID</clr-dg-column>
              <clr-dg-column >Facility Name</clr-dg-column>
              <clr-dg-column >Room/Area</clr-dg-column>
              <clr-dg-column >Maintainance Category</clr-dg-column>
              <clr-dg-column >Description Of Maintainance</clr-dg-column>
              <!-- <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column> -->
          
          <clr-dg-row *clrDgItems="let result of data; let i = index" [clrDgItem]="result">
              <clr-dg-cell>{{ i+1}}</clr-dg-cell>
              <clr-dg-cell>{{ result.maintainance_date  | date: 'dd-MM-yyyy' }}</clr-dg-cell>
              <clr-dg-cell>{{ result.maint_id}}</clr-dg-cell>   
              <clr-dg-cell>{{ result.facility_name }}</clr-dg-cell>
              <clr-dg-cell>{{ result.area }}</clr-dg-cell>
              <clr-dg-cell>{{ result.maint_cat }}</clr-dg-cell>
              <clr-dg-cell>{{ result.maint_desc }}</clr-dg-cell>
              <!-- <clr-dg-cell>
                   <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
              </clr-dg-cell> -->
          </clr-dg-row>
     
      </clr-datagrid>
        </div>
      </div>
      <div class="card-footer">
        <!-- <button class="btn btn-primary"(click)="download()">{{'common.download' | translate}}</button> -->
      </div>
    </div>
  </div>

<div class="card" *ngIf="isNew"> 
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;"> Paint & Wall Maintenance Note</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-danger" (click)="isNew=false">{{'common.close' | translate}}</button>    

                <button class="btn btn-sm" routerLink="/admin/favility" style="background-color: red;color: white;">
                    <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                </button>
            </div>
        </div>
    </div>

    <div class="card-block">
        <form #newForm="ngForm">  
        <div class="card-text">
            <h4>Maintenance Details</h4>
                <div class="clr-row">
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Maintenance Date:<span style="color: red;">*</span></label>
                        <input type="date" name="maintainance_date" ngModel required>
                    </div>

                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Maintenance Note ID:<span style="color: red;">*</span></label>
                        <input type="text" name="maint_id" ngModel required>                
                   </div>
                </div>
                <h4>Facility Information</h4>
                <div class="clr-row">
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Facility Name:<span style="color: red;">*</span></label>
                        <input type="text" name="facility_name" ngModel required>
                    </div>
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Room/Area:<span style="color: red;">*</span></label>
                        <input type="text" name="area" ngModel required>               
                   </div>
                </div>
               <h4> Maintenance Type </h4>
                <div class="clr-row">
                   <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Maintainance Category:<span style="color: red;">*</span></label>
                        <select type="text" name="maint_cat" ngModel>
                            <option></option>
                            <option>Painting</option>
                            <option>Wall Repair</option>
                            <option>WallPaper Installation </option>
                        </select>   
                    </div>
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Description Of Maintainance:<span style="color: red;">*</span></label>
                        <input type="text" name="maint_desc" ngModel required>               
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" style="text-align: left; color: black; background-color: rgb(238, 227, 144);">Work Details</div>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Maintainance Team/Contractor:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="maint_team" ngModel>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Materials/Products Used:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="products" ngModel>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Hours Spent:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="hours_spent" ngModel>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Date Completed:<sup style="color: red">*</sup></strong></label>
                            <input type="date" name="complete_date" ngModel>
                        </div>
                    </div>
                </div>

                <div class="card-header" style="text-align: left; color: white; background-color: rgb(229, 135, 218);">Maintenance Checklist</div>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <h4><b>Exterior Maintainance</b></h4>
                            <p><b><input type="checkbox" name="inspect_repairs"  style="width: 20px;" [(ngModel)]="inspect_repairs" /> Inspect & Repair any damage to the building's Exterior</b></p>
                            <p><b><input type="checkbox" name="cracks_check" style="width: 20px;" [(ngModel)]="cracks_check"/> Checks For Cracks Leaks or Damage to walls, windows & Doors</b></p>
                            <p><b><input type="checkbox" name="clean_shutters" style="width: 20px;" [(ngModel)]="clean_shutters"/> Clean Shutters & DownSpouts</b></p>
                        </div>

                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <h4><b>Interior Maintainance</b></h4>
                            <p><b><input type="checkbox" name="inspect_walls"  style="width: 20px;" [(ngModel)]="inspect_walls" /> Inspect Walls, Ceilings and floors for any signs of damage</b></p>
                            <p><b><input type="checkbox" name="water_check"  style="width: 20px;" [(ngModel)]="water_check" /> Checks For water Leaks & address Promptly</b></p>
                            <p><b><input type="checkbox" name="proper_verify"  style="width: 20px;"  [(ngModel)]="proper_verify"/> Verify Proper Functioning of Doors Windows & locks</b></p>
                        </div>
                    </div>
                </div>

                <div class="card-header" style="text-align: left; color: white; background-color: rgb(154, 107, 230);"> Cost & Parts</div>
                <div class="card-block">
                    <div class="clr-row"> 
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Total Cost:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="total_cost" ngModel>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Parts/Items Used:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="parts" ngModel>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Attachments:<sup style="color: red">*</sup></strong></label>
                            <input type="file" name="attachment" (change)="onFileChanged3($event)">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="save(newForm)">{{'common.save' | translate}}</button>    
            <button class="btn btn-danger" (click)="isNew=false">{{'common.close' | translate}}</button>    
        </div>
</div>
