<div class="container-fluid" *ngIf="isNew">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Distruction Form</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" *ngIf="isuser == 'Yes'" (click)="isNew=false" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">

          <form #distruction="ngForm">
            <div class="clr-row">

              <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Dosage Form: </strong></label>
                <select name="dosage_form"  (change)="getProduct()"  [(ngModel)]="dosage_form" required>
                  <option disabled> </option>
                  <option *ngFor="let dosage of dosages">{{ dosage.dosage_form }}</option>
                </select>
              </div>

              <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Product Name: </strong></label>
                <select name="product_name"   (change)="getBatch()"  [(ngModel)]="product_name" required>
                  <option disabled></option>
                  <option *ngFor="let product of products">{{ product.product_name }}</option>
                </select>
              </div>

              <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Medicap Lot No: </strong></label>
                <select name="batch_no"  [(ngModel)]="batch_no" required>
                  <option disabled></option>
                  <option *ngFor="let batch1 of batch">{{ batch1.batch_no }}</option>
                </select>
              </div>

              <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Department: </strong></label>
                <select name="department_name" (change)="getEmployee()" [(ngModel)]="department_name" required>
                  <option disabled> </option>
                  <option *ngFor="let dpt of departments">{{ dpt.department_name }}</option>
                </select>
              </div>

              <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Request By Employee: </strong></label>
                <select name="request_by_employee" [(ngModel)]="request_by_employee" required>
                  <option disabled> </option>
                  <option *ngFor="let emp of employee">{{ emp.emp_name }}</option>
                </select>
              </div>

              <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Reason For Request:</strong></label>
                <textarea rows="2" name="reason_for_request" ngModel required></textarea>
              </div>

              <br>

              <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Add Distruction Steps:</strong> </label>
                <table class="table" style="margin-top: 0px;">
                    <tr>
                        <th style="width: 90%;">Steps</th>
                        <th>Add</th>
                    </tr>
                    <tr>
                        <td style="padding: 0px;">
                            <input type="text" style="margin: 0px; height: 33px;" name="step_name" [(ngModel)]="step_name" >
                        </td>
                        <td style="padding: 0px;vertical-align: middle;">
                            <button class="btn btn-sm btn-info" (click)="addSteps()">{{'common.add' | translate}}</button>
                        </td>
                    </tr>
                    <tr *ngFor="let step of steps; let i = index">
                        <td>{{ step }}</td>
                        <td><clr-icon shape="trash" class="is-error" (click)="deleteSteps(i)"></clr-icon></td>
                    </tr>
                </table>
            </div>
            <br> <br>

              <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Equipment Used For Distruction:</strong></label>
                <input type="text" name="equipment" ngModel required>
              </div>

              <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Distruction Location:</strong></label>
                <input type="text" name="distruction_loc" ngModel required>
              </div>

            </div>
          </form>
        </div>
      </div>

      <div class="card-footer">
          <button class="btn btn-primary" (click)="saveForm(distruction)" [disabled]="distruction.form.invalid">{{'common.submit' | translate}}</button>
          <button class="btn btn-danger" (click)="isNew = false">{{'common.close' | translate}}</button>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid" *ngIf="!isView && !isNew">
  <div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Distruction Form</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" routerLink="/qa/stereo" style="background-color: red;color: white;">
            <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
          </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <button class="btn btn-sm" (click)="isNew = true">New Distruction Form</button>
        <clr-datagrid>
          <clr-dg-column>Distruction ID</clr-dg-column>
          <clr-dg-column>Dosage Form</clr-dg-column>
          <clr-dg-column>Product Name</clr-dg-column>
          <clr-dg-column>Medicap Lot No</clr-dg-column>
          <clr-dg-column>Department Name</clr-dg-column>
          <clr-dg-column>Request By Employee</clr-dg-column>
          <clr-dg-column>Reasoan for Request</clr-dg-column>
          <clr-dg-column>Equipment</clr-dg-column>
          <clr-dg-column>Distruction Location</clr-dg-column>
          <clr-dg-column>{{'common.status' | translate}}</clr-dg-column>
          <clr-dg-column style="text-align: left;">View</clr-dg-column>
          <clr-dg-column style="text-align: left;">Destroy</clr-dg-column>

          <clr-dg-row *ngFor="let item of entries; let i = index">
            <clr-dg-cell>{{item.distruction_id}}</clr-dg-cell>
            <clr-dg-cell>{{item.dosage_form}}</clr-dg-cell>
            <clr-dg-cell>{{item.product_name}}</clr-dg-cell>
            <clr-dg-cell>{{item.batch_no}}</clr-dg-cell>
            <clr-dg-cell>{{item.department_name}}</clr-dg-cell>
            <clr-dg-cell>{{item.request_by_employee}}</clr-dg-cell>
            <clr-dg-cell>{{item.reason_for_request}}</clr-dg-cell>
            <clr-dg-cell>{{item.equipment}}</clr-dg-cell>
            <clr-dg-cell>{{item.distruction_loc}}</clr-dg-cell>
            <clr-dg-cell>{{item.action}}</clr-dg-cell>
            <clr-dg-cell>
              <button class="btn btn-sm btn-info" (click)="viewEntry(i)">{{'common.view' | translate}}</button>
            </clr-dg-cell>
            <clr-dg-cell>
              <button class="btn btn-sm btn-info" *ngIf="item.action =='approve'" (click)="destroyEntry(item.id)">Destroy</button>
            </clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>

      </div>
    </div>
    <div class="card-footer">
    <button class="btn btn-danger" (click)="close()">{{'common.close' | translate}}</button>
  </div>
  </div>
</div>

<div class="container-fluid" *ngIf="isView">
  <div class="card">
      <div class="card-header">Distruction Form</div>
      <div class="card-block">
          <div class="card-text">
              <table class="table">
                  <tr>
                      <td style="text-align: left;width: 20%;">Dosage Form:</td>
                      <td style="text-align: left;">{{ selectedEntry['dosage_form'] }}</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;width: 20%;">Product Name:</td>
                    <td style="text-align: left;">{{ selectedEntry['product_name'] }}</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;width: 20%;">Medicap Lot No:</td>
                    <td style="text-align: left;">{{ selectedEntry['batch_no'] }}</td>
                  </tr>
                  <tr>
                      <td style="text-align: left;width: 20%;">Department Name:</td>
                      <td style="text-align: left;">{{ selectedEntry['department_name'] }}</td>
                  </tr>
                  <tr>
                      <td style="text-align: left;width: 20%;">Request By Employee:</td>
                      <td style="text-align: left;">{{ selectedEntry['request_by_employee'] }}</td>
                  </tr>
                  <tr>
                      <td style="text-align: left;width: 20%;">Reasoan for Request:</td>
                      <td style="text-align: left;">{{ selectedEntry['reason_for_request'] }}</td>
                  </tr>
                  <tr>
                      <td style="text-align: left;width: 20%;">Equipment:</td>
                      <td style="text-align: left;">{{ selectedEntry['equipment'] }}</td>
                  </tr>
                  <tr>
                      <td style="text-align: left;width: 20%;">Distruction Location:</td>
                      <td style="text-align: left;">{{ selectedEntry['distruction_loc'] }}</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;width: 20%;">Status:</td>
                    <td style="text-align: left;">{{ selectedEntry['action'] }}</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;width: 20%;">Remark:</td>
                    <td style="text-align: left;">{{ selectedEntry['remark'] }}</td>
                  </tr>

              </table>
              <br>
              <clr-datagrid>
                <clr-dg-column style="width: 150px;"><strong>Distruction ID</strong> </clr-dg-column>
                <clr-dg-column> <strong>Steps For Distruction</strong></clr-dg-column>

                <clr-dg-row *ngFor="let item of selectedEntry['steps']; let i = index">
                  <clr-dg-cell>{{item.distruction_id}}</clr-dg-cell>
                  <clr-dg-cell>{{item.step_name}}</clr-dg-cell>
                  </clr-dg-row>
              </clr-datagrid>

              <br>
              <div class="clr-row" *ngIf="isApprover">
                  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                      <label>Remark:</label>
                      <textarea name="remark" [(ngModel)]="remark" required rows="2"></textarea>
                  </div>
              </div>
          </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary"  *ngIf="isApprover && selectedEntry['action'] == 'pending'"  (click)="updateDistruction('approve')">{{'common.approve' | translate}}</button>
        <button class="btn btn-primary"  *ngIf="isApprover && selectedEntry['action'] == 'pending'" (click)="updateDistruction('reject')">{{'common.reject' | translate}}</button>
        <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
      </div>
  </div>
</div>







