.table-compact {
  width: 100%;
  border-collapse: collapse; /* removes double borders */
  font-size: 14px; /* compact text size */
}

.table-compact th,
.table-compact td {
  border: 2px solid black; /* border for all cells */
  padding: 4px 10px; 
  text-align: center;

}

.table-compact th {
  background-color: #f5f5f5; /* header background */
  font-weight: bold;
}


.inputField{
    background-color: #e0f7fa; /* light blue */
    border: 1px solid #00acc1; /* blue border */
    border-radius: 4px;
    padding: 4px 6px;
}
 
