<!-- <div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Rinse Analysis Log</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-success" routerLink="new">NEW Rinse</button>
          <button class="btn btn-sm btn-danger" routerLink="/microbiology">{{'common.close' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="card-block">
          <clr-datagrid [clrDgLoading]="loading">
                
            <clr-dg-column style="width: 10;">{{'common.table.srNo' | translate}}</clr-dg-column>
              <clr-dg-column clrDgField="sampling_date">Sampling Date</clr-dg-column>
              <clr-dg-column clrDgField="medium_used">Medium Used</clr-dg-column>
              <clr-dg-column clrDgField="media_no">Media Lot No</clr-dg-column>
              <clr-dg-column clrDgField="incubation_temp">Incubation Temperature</clr-dg-column>
            
                
            <clr-dg-row *clrDgItems="let result of results; let i = index" [clrDgItem]="result">
                <clr-dg-cell>{{ i + 1 }}</clr-dg-cell>
                <clr-dg-cell>{{ result.sampling_date }}</clr-dg-cell>
                <clr-dg-cell>{{ result.medium_used }}</clr-dg-cell>
                <clr-dg-cell>{{ result.media_no }}</clr-dg-cell>
                <clr-dg-cell>{{ result.incubation_temp }}</clr-dg-cell>
               
            </clr-dg-row>
            <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} result
            </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
     
    </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="downloadReport()">{{'common.download' | translate}}</button>
      </div>
  </div>
   -->
  
  <!-- <div class="card" *ngIf="isView">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Rinse Analysis</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-danger" (click)="isView=!isView">{{'common.close' | translate}}</button>
        </div>
      </div>
    </div>
  
      <div class="card-block">
        <div class="card-text">
            <div class="clr-row">
            
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Sampling Date:<span style="color: red">*</span></label>
                  <input type="date" name="sampling_date" [ngModel]="sampling_date">
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Medium Used:<span style="color: red">*</span></label>
                  <input type="text" name="medium_used" [ngModel]="medium_used">
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" >
                  <label>Media Lot No:<span style="color: red">*</span></label>
                  <input type="text" name="media_no" [ngModel]="media_no">
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Incubation Temperature:<span style="color: red">*</span></label>
                  <input type="text" name="incubation_temp" [ngModel]="incubation_temp">
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Incubator Id:<span style="color: red">*</span></label>
                  <input type="text" name="incubation_id" [ngModel]="incubation_id">
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Incubator Start:<span style="color: red">*</span></label>
                  <input type="text" name="incubation_start" [ngModel]="incubation_start">
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Incubator End:<span style="color: red">*</span></label>
                  <input type="text" name="incubation_end" [ngModel]="incubation_end">
                </div>
      
            </div>
        </div>
      </div>
  </div>
  
   -->

   <div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">Rinse Analysis Log</div>
        <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-success" routerLink="new" *ngIf="isuser == 'Yes'">NEW Rinse</button>
          <button class="btn btn-sm btn-danger" routerLink="/microbiology">{{'common.close' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <clr-datagrid [clrDgLoading]="loading">
           <clr-dg-column>Sr.</clr-dg-column>
           <clr-dg-column>Equipment Name</clr-dg-column>
           <clr-dg-column>Batch Code</clr-dg-column>
           <clr-dg-column>Date Of Analysis</clr-dg-column>
           <clr-dg-column>Date Of Result</clr-dg-column>
           <clr-dg-column>view</clr-dg-column>
   
           <clr-dg-row *clrDgItems="let user of results; let i = index">
             <clr-dg-cell>{{i+1}}</clr-dg-cell>
             <clr-dg-cell>{{user.equip_name}}</clr-dg-cell>
             <clr-dg-cell>{{user.batch_code}}</clr-dg-cell>
             <clr-dg-cell>{{user.doa | date: 'dd-MM-yyyy'}}</clr-dg-cell>
             <clr-dg-cell>{{user.dor | date: 'dd-MM-yyyy'}}</clr-dg-cell>
             <clr-dg-cell>
               <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
             </clr-dg-cell>
          </clr-dg-row>
            <clr-dg-row *clrDgItems="results?.length==0">
                  <clr-dg-cell>No Record Found!</clr-dg-cell>
            </clr-dg-row>  
         </clr-datagrid>
        </div>
    </div>
  </div>
  
  
  <div class="container-fluid" *ngIf="isView">
    <div class="card">
      <div class="card-header">Checklist Master</div>
      <div class="card-block">
        <div class="card-text">
          <table class="table table-border" style="border:solid rgb(14, 67, 112) 1px ;">
            <tr>
              <td style="text-align: left;color: rgb(14, 67, 112);">Equipment Name</td>
              <td style="text-align: left;width: 10%;color: rgb(14, 67, 112);">Batch Code</td>
              <td style="text-align: left;width: 20%;color: rgb(14, 67, 112);">Date Of Analysis</td>
              <td style="text-align: left;width: 20%;color: rgb(14, 67, 112);">Date Of Result</td>
            </tr>
            <tr>
              <td style="text-align: left;">{{ selectedresults['equip_name'] }}</td>
              <td style="text-align: left;width: 20%;">{{ selectedresults['batch_code'] }}</td>
              <td style="text-align: left;" >{{ selectedresults['doa'] }}</td>
              <td style="text-align: left;" >{{ selectedresults['dor'] }}</td>
            </tr>
          
          </table>
  
          <div class="card-block">
            <div class="card-text">
              <clr-datagrid [clrDgLoading]="loading">
                 <clr-dg-column>Sr.</clr-dg-column>
                 <clr-dg-column>Micro Organism Name</clr-dg-column>
                 <clr-dg-column>Observation For Negative Control</clr-dg-column>
                 <clr-dg-column>Incubation Period</clr-dg-column>
              
                
                
         
                 <clr-dg-row *clrDgItems="let user of selectedresults['analysislist']; let i = index">
                   <clr-dg-cell>{{i+1}}</clr-dg-cell>
                   <clr-dg-cell>{{user.micro_organism}}</clr-dg-cell>
                   <clr-dg-cell>{{user.observation_control}}</clr-dg-cell>
                   <clr-dg-cell>{{user.incubation_period}}</clr-dg-cell>
                 </clr-dg-row>
                  <clr-dg-row *clrDgItems="results?.length==0">
                        <clr-dg-cell>No Record Found!</clr-dg-cell>
                  </clr-dg-row>  
               </clr-datagrid>
              </div>
          </div>
          
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" (click)="isView=false">{{'common.close' | translate}}</button>
      </div>
    </div>
  </div>