<div class="card">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">Batch Manufacturing Records
        Log</div>
      <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm btn-success" *ngIf="isapprover == 'Yes'" routerLink="pending">RM PLANS FOR
          APPROVAL</button>
        <button class="btn btn-sm btn-success" *ngIf="isapprover == 'Yes'" style="background-color:brown; color:white"
          routerLink="pm-pending">PM PLANS FOR APPROVAL</button>
        <button class="btn btn-sm btn-danger" routerLink="/qa">{{'common.close' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">

      <table class="table pharmacy-table">
        <tr>

         <th class="pharmacy-header">{{'common.table.srNo' | translate}}</th>
          <th class="pharmacy-header">{{'common.date' | translate}}</th>
          <th class="pharmacy-header">Work Order No</th> 
          <th class="pharmacy-header">Product Code</th>
          <th class="pharmacy-header">Product Name</th>
          <th class="pharmacy-header">Batch Number</th>
           <th class="pharmacy-header">Batch Size</th> 
          <th class="pharmacy-header">QA By</th>
        </tr>
        <tr *ngFor="let result of results; let i = index" class="pharmacy-row">

        <td>{{ i + 1 }}</td>
          <td>{{ result.entry_date ? (result.entry_date | date: 'dd-MM-yyyy') : '-' }}</td>
          <td>{{ result.work_order_no || '-' }}</td>
          <td>{{ result.product_code || '-' }}</td>
          <td style="text-align: left;">{{ result.product_name || '-' }}</td>
          <td>{{ result.batch_number || '-' }}</td>
           <td>{{ result.batch_size || '-' }}</td>
          <td>{{ result.qa_person }}</td>
        </tr>
      </table>

    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="downloadLog()">{{'common.download' | translate}}</button>
  </div>
</div>