<div class="container-fluid" *ngIf="!isViewSpecification">
    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;"> New Stability Specification</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/qc/specifications/stability" style="background-color: red;color: white;">
              CLOSE
            </button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <clr-datagrid>
            <clr-dg-column>Spec No</clr-dg-column>
            <clr-dg-column>Product Name</clr-dg-column>
            <clr-dg-column>Product Code</clr-dg-column>
            <clr-dg-column>Reference</clr-dg-column>
            <clr-dg-column>Sample Qty</clr-dg-column>
            <clr-dg-column>Version No</clr-dg-column>
            <clr-dg-column>Supersede No</clr-dg-column>
            <clr-dg-column>View</clr-dg-column>
        
            <clr-dg-row *ngFor="let user of specifications; let i = index">
                <clr-dg-cell>{{user.specification_no}}</clr-dg-cell>
                <clr-dg-cell>{{user.product_name}}</clr-dg-cell>
                <clr-dg-cell>{{user.product_code}}</clr-dg-cell>
                <clr-dg-cell>{{user.grade}}</clr-dg-cell>
                <clr-dg-cell>{{user.sample_qty}} {{ user.unit }}</clr-dg-cell>
                <clr-dg-cell>{{user.version_no}}</clr-dg-cell>
                <clr-dg-cell>{{user.supersede_no}}</clr-dg-cell>
                <clr-dg-cell>
                    <button class="btn btn-sm btn-info" (click)="viewSpecification(i)">{{'common.view' | translate}}</button>
                </clr-dg-cell>
            </clr-dg-row>
          </clr-datagrid>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="isViewSpecification">
    <div class="card">
      <div class="card-header">Specification Details</div>
      <div class="card-block">
        <div class="card-text">
          <table class="table table-border" style="color: black; width:100%;">
            <tr>
              <td style="text-align: left; width: 25%"><b>Specification No:</b></td>
              <td style="text-align: left; width: 25%"> {{ selectedSpec['specification_no'] }}</td>
              <td style="text-align: left; width: 25%"><b>Specification Type:</b></td>
              <td style="text-align: left; width: 25%"> {{ selectedSpec['spec_type'] }}</td>
            </tr>
            <tr>
              <td style="text-align: left; width: 25%"><b>{{c_material_type}} Type</b></td>
              <td style="text-align: left; width: 25%" *ngIf="selectedSpec['material_subtype']!=''">: {{ selectedSpec['material_subtype'] }}</td>
              <td style="text-align: left; width: 25%" *ngIf="selectedSpec['material_subtype']==''">: NA</td>
              <td style="text-align: left; width: 25%"><b>{{c_material_type}} Name:</b></td>
              <td style="text-align: left; width: 25%"> {{ selectedSpec['material_name'] || selectedSpec['product_name']}}</td>
            </tr>
            <tr>
              <td style="text-align: left; width: 25%"><b>{{c_material_type}} Grade:</b></td>
              <td style="text-align: left; width: 25%" > {{selectedSpec['gradeName'] || selectedSpec['p_grade']}}</td>
              <td *ngIf="plant_id != '72'" style="text-align: left; width: 25%"><b>Chemical Sample Qty:</b></td>
              <td *ngIf="plant_id == '72'" style="text-align: left; width: 25%"><b>Total Sample Qty:</b></td>
              <td style="text-align: left; width: 25%"> {{ selectedSpec['totalsample_qty'] }} {{ selectedSpec['unit'] }}</td>
            </tr>
            <tr>
              <td *ngIf="plant_id != '72'" style="text-align: left; width: 25%"><b>Version No:</b></td>
              <td *ngIf="plant_id == '72'" style="text-align: left; width: 25%"><b>Revision No:</b></td>
              <td style="text-align: left; width: 25%"> {{ selectedSpec['version_no'] }}</td>
              <td style="text-align: left; width: 25%"><b>Supersede No:</b></td>
              <td style="text-align: left; width: 25%"> {{ selectedSpec['supersede_no'] }}</td>
            </tr>
            <!-- <tr>  
              <td style="text-align: left; width: 25%"><b>Chemical Sample Qty</b></td>
              <td style="text-align: left; width: 25%">: {{ selectedSpec['sample_qty'] }}{{ selectedSpec['unit'] }}</td>
              <td style="text-align: left; width: 25%"><b>Micro Analysis Qty</b></td>
              <td style="text-align: left; width: 25%">: {{ selectedSpec['micro_qty'] }} {{ selectedSpec['unit'] }}</td>
            </tr> -->
            <tr *ngIf="plant_id != '72'">
              <td style="text-align: left;"><b>Molecular Formula :</b></td>
              <td style="text-align: left;">{{ selectedSpec?.product_other_info?.molecular_formula }}</td>
              <td style="text-align: left;"><b>Molecular Weight:</b></td>
              <td style="text-align: left;"> {{ selectedSpec?.product_other_info?.molecular_weight }}</td>
            </tr>
            <tr>
              <!-- <td style="text-align: left;"><b>Effective Date:</b></td>
              <td style="text-align: left;">{{ selectedSpec['effective_date'] | date:'dd-MM-yyyy' }}</td> -->
              <td style="text-align: left;"><b>Review Date:</b></td>
              <td style="text-align: left;"> {{ selectedSpec['review_date'] | date:'dd-MM-yyyy'}}</td>
              <td style="text-align: left;"><b>Storage Condition:</b></td>
              <td style="text-align: left;">{{ selectedSpec?.product_other_info?.storage_condition }}</td>
            </tr>
            <tr *ngIf="plant_id != '72'">
              <td style="text-align: left;"><b>CAS No:</b></td>
              <td style="text-align: left;">{{ selectedSpec?.product_other_info?.cas_number }}</td>
              
              <!-- <td style="text-align: left;"><b>Micro Analysis Qty : </b></td>
              <td style="text-align: left;">:{{ selectedSpec['micro_qty'] }} {{ selectedSpec['unit'] }}</td> -->
            </tr>
          </table>
          <h3>Tests:</h3>
          <table class="table table-border">
            <tr>
              <th style="text-align: left; width: 25%">Test Type</th>
              <th style="text-align: left; width: 25%">Test</th>
              <!-- <th style="text-align: left; width: 25%">Sub Test</th>
              <th style="text-align: left; width: 25%">Reference Type</th> -->
              <th style="text-align: left;">Limit type</th>
              <th style="text-align: left;">Description/Limit</th>
              <th style="text-align: left;" *ngIf="selectedSpec['spec_type']!='Finish Product'">Retest</th>
              <th style="text-align: left; width: 25%">Stability</th>
              <!-- <th style="text-align: left;" *ngIf="selectedSpec['spec_type']=='Finish Product'">Stability</th> -->
            </tr>
            <tr *ngFor="let comp of selectedSpec['spec_tests']; let i = index">
               <td style="text-align: left; width: 25%">{{comp.test_type}}</td>    
                <td style="text-align: left; width: 25%">{{comp.test}}</td>
                <!-- <td style="text-align: left;"*ngIf="comp.subtest!==''">{{comp.subtest}}</td>
              <td style="text-align: left;"*ngIf="comp.subtest==''">NA</td>
                <td style="text-align: left; width: 25%">{{comp.reference_type}}</td> -->
                <td style="text-align: left;">{{comp.limit_type}}</td>
                <td style="text-align: left;">{{comp.limits}}</td>
                <td style="text-align: left;" *ngIf="selectedSpec['spec_type']!='Finish Product'">{{comp.retest}}</td>
                <!-- <td style="text-align: left;" *ngIf="selectedSpec['spec_type']=='Finish Product'">{{comp.release_stability}}</td> -->
                <td style="text-align: left;">
                  <input type="checkbox" name="release_stability" [(ngModel)]="comp.release_stability" (change)="onCheckboxChange(comp, $event)" />
              </td>
            </tr>
          </table>

          <h3>Revision History:</h3>
          <table class="table table-border">
            <th style="text-align: left;">Sr</th>
            <th style="text-align: left;">Revision No</th>
            <th *ngIf="plant_id != '72'" style="text-align: left;">Version No</th>
            <th *ngIf="plant_id != '72'" style="text-align: left;">Change Mode</th>
            <th style="text-align: left;">Reason for change</th>
            <th style="text-align: left;"> Effective Date </th>

            <tr *ngFor="let user of selectedSpec['revision_history']; let i = index">
                <td style="text-align: left;">{{ i+1 }}</td>
                <td style="text-align: left;">{{user.specification_no}}</td>
                <td *ngIf="plant_id != '72'" style="text-align: left;">{{user.version_no}}</td>
                <td *ngIf="plant_id != '72'" style="text-align: left;">{{user.change_mode}}</td>
                <td style="text-align: left;">{{user.reason}}</td>
                <td style="text-align: left;">{{user.effective_date | date:'dd-MM-yyyy'}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="save()">{{'common.save' | translate}}</button>
        <button class="btn btn-danger" (click)="isViewSpecification = false">{{'common.close' | translate}}</button>
      </div>
  </div>
</div>
  <!-- <div class="container-fluid" *ngIf="isViewSpecification">

    <div class="card">
      <div class="card-header">Stability Specification</div>
      <div class="card-block">
        <div class="card-text">
          <table class="table">
            <tr>
              <td style="width: 15%">Specification No:</td>
              <td>{{ selectedSpec['specification_no'] }}</td>
            </tr>
            <tr>
              <td v>Specification Type:</td>
              <td>{{ selectedSpec['spec_type'] }}</td>
            </tr>
            <tr>
              <td style="width: 15%">Version No:</td>
              <td>{{ selectedSpec['version_no'] }}</td>
            </tr>
            <tr>
              <td style="width: 15%">Supersede No:</td>
              <td>{{ selectedSpec['supersede_no'] }}</td>
            </tr>
            <tr>
              <td style="width: 15%">Sample Qty:</td>
              <td>{{ selectedSpec['sample_qty'] }} {{ selectedSpec['unit'] }}</td>
            </tr>
            <tr>
              <td style="width: 15%">Product Name:</td>
              <td>{{ selectedSpec['product_name'] }}</td>
            </tr>
            <tr>
              <td style="width: 15%">Product Code:</td>
              <td>{{ selectedSpec['product_code'] }}</td>
            </tr>
            <tr>
              <td style="width: 15%">Generic Name:</td>
              <td>{{ selectedSpec['generic_name'] }}</td>
            </tr>
            <tr>
              <td style="width: 15%">Reference:</td>
              <td>{{ selectedSpec['grade'] }}</td>
            </tr>
          </table>
  
          <h3>Tests:</h3>
          <table class="table">
            <tr>
              <th>Test</th>
              <th>Sub Test</th>
              <th>{{'common.description' | translate}}</th>
              <th>Reference Type</th>
              <th>Release / Stability</th>
            </tr>
  
            <tr *ngFor="let comp of selectedSpec['spec_tests']; let i = index">
                <td>{{comp.test}}</td>
                <td>{{comp.subtest}}</td>
                <td>{{comp.description}}</td>
                <td>{{comp.reference_type}}</td>
                <td style="padding: 0px;vertical-align: middle;">
                  <select style="margin: 0px;" name="release_stability" ngModel="{{comp.release_stability}}" (change)="updateTests(i, $event.target.selectedIndex)" required>
                    <option>Release</option>
                    <option>Stability</option>
                  </select>
                </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="save()">{{'common.save' | translate}}</button>
        <button class="btn btn-danger" (click)="isViewSpecification = false">{{'common.close' | translate}}</button>
      </div>
    </div>
</div> -->