<div class="card" *ngIf="!isView">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Rejected Raw Materials</div>
      <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm btn-danger" routerLink="/godownStore/raw/receiving"> {{'common.close' | translate}} </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <div class="clr-row">

       
      </div>
      <clr-datagrid [clrDgLoading]="loading">
			
			
        <clr-dg-column>Sr. </clr-dg-column>
        <clr-dg-column clrDgField="po_no">Po No</clr-dg-column>
    <clr-dg-column clrDgField="entry_date | date:'dd-MM-yyyy'">P.O Date</clr-dg-column>
        <clr-dg-column clrDgField="vendor_name">Vendor Name</clr-dg-column>
        <clr-dg-column clrDgField="challan_no">Packaging Slip</clr-dg-column>
        <clr-dg-column clrDgField="challan_date">Packaging Slip Date</clr-dg-column>
    <clr-dg-column clrDgField="material_code">Material Code</clr-dg-column>
    <clr-dg-column clrDgField="material_name">Material Name</clr-dg-column>
    <clr-dg-column clrDgField="status">{{'common.status' | translate}}</clr-dg-column>
     <!-- <clr-dg-column >View Challan</clr-dg-column> -->
    <clr-dg-column >{{'common.table.action' | translate}}</clr-dg-column>

    
        <clr-dg-row *clrDgItems="let user of results; let i = index" [clrDgItem]="user">
          <clr-dg-cell>{{i+1}}</clr-dg-cell>
          <clr-dg-cell>{{user.po_no}}</clr-dg-cell>
          <clr-dg-cell>{{user.po_date | date: 'dd-MM-yyyy'}}</clr-dg-cell>
          <clr-dg-cell>{{user.vendor_name}}</clr-dg-cell>
          <clr-dg-cell>{{user.challan_no}}</clr-dg-cell>
          <clr-dg-cell>{{user.challan_date | date: 'dd-MM-yyyy'}}</clr-dg-cell>
          <clr-dg-cell>{{user.material_code}}</clr-dg-cell>
          <clr-dg-cell>{{user.material_name}}</clr-dg-cell>
          <clr-dg-cell>{{user.status}}</clr-dg-cell>
           <!-- <clr-dg-cell><button class="btn btn-sm btn-primary" (click)="viewfile(user.challan_file)">View Challan</button></clr-dg-cell> -->
          <clr-dg-cell><button class="btn btn-sm btn-info" (click)="view(i)">PROCEED</button></clr-dg-cell>

        

          
          <!-- <td><button class="btn btn-sm btn-info">{{'common.email' | translate}}</button></td> -->
          <!-- <td><button class="btn btn-sm btn-info"(click)="downloadOrder(i)">{{'common.download' | translate}}</button></td> -->
        </clr-dg-row>
        
      </clr-datagrid>
    </div>
  </div>
</div>

<div class="card" *ngIf="isView">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Rejected Raw Material</div>
      <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm btn-danger" (click)="isView = false"> {{'common.close' | translate}} </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text"> 
        <table class="table table-border">
          <!-- <tr>
            <td style="text-align: left;border: 1px solid;"><b>Material Name:</b></td>
            <td style="text-align: left;border: 1px solid;">{{ selectedReport['material_name'] }}</td>
            <td style="text-align: left;border: 1px solid;"><b>Vendor Name:</b></td>
            <td style="text-align: left;border: 1px solid;">{{ selectedReport['vendor_name'] }}</td>
          </tr> -->
          <tr>
            <td style="text-align: left;"><b>Material Name:</b></td>
            <td style="text-align: left;">{{ selectedReport['material_name'] }}</td>
            <td style="text-align: left;"><b>Material Code:</b></td>
            <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['material_code'] }}</td>
          </tr>
          <tr *ngIf="selectedReport['vendor_type']=='Manufacturer'">
            <td style="text-align: left;"><b>Manufacturer Name:</b></td>
            <td style="text-align: left;">{{ selectedReport['manufacturer_name'] }}</td>
            <td style="text-align: left;"><b>Supplier Name:</b></td>
            <td  style="text-align: left;">{{ selectedReport['manufacturer_name'] }}</td>
          </tr>
          <tr *ngIf="selectedReport['vendor_type']=='Supplier'">
            <td style="text-align: left;"><b>Manufacturer Name:</b></td>
            <td style="text-align: left;">{{ selectedReport['manufacturer_name'] }}</td>
            <td style="text-align: left;"><b>Supplier Name:</b></td>
            <td  style="text-align: left;">{{ selectedReport['vendor_name'] }}</td>
          </tr>
            <tr>
            <td style="text-align: left;"><b>Packaging Slip:</b></td>
            <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['challan_no'] }}</td>
            <td style="text-align: left;"><b>Packaging Slip Date:</b></td>
            <td style="text-align: left;">{{ selectedReport['challan_date'] | date: 'dd-MM-yyyy' }}</td>
            </tr>
            <tr>
            <td style="text-align: left;"><b>PO No.:</b></td>
            <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['po_no'] }}</td>
            <td style="text-align: left;"><b>PO Date:</b></td>
            <td style="text-align: left;">{{ selectedReport['po_date'] | date: 'dd-MM-yyyy'}}</td>
            </tr>
            <tr>
            <td style="text-align: left;"><b>Material Type:</b></td>
            <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['material_type'] }}</td>
            <td style="text-align: left;"><b>Material Subtype:</b></td>
            <td style="text-align: left;">{{ selectedReport['material_subtype'] }}</td>
            </tr>
            <tr>
            <td style="text-align: left;"><b>Material Grade:</b></td>
            <td style="text-align: left;">{{ selectedReport['gradeName'] }}</td>
            <td style="text-align: left;"><b>PO Qty:</b></td>
            <td style="text-align: left;border-right: 1px solid black;" colspan="3">{{ selectedReport['qty'] }} {{ selectedReport['unit'] }}</td>
          </tr>
           
        </table>
        <h3>Labeling Details:</h3>
        <table class="table table-border">
          <tr>
            <th style="background-color: rgb(14, 67, 112); color: white;">Sr.</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Medicap Lot No</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Pack Size</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Qty</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">No Of Containers</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Mfg Date</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" *ngIf="plant_id ==  '72'">{{'common.date' | translate}}</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" *ngIf="plant_id !=  '72'">Exp Date</th>
          </tr>
          <!-- <tr *ngFor="let list of selectedReport['batches'];let i=index"> -->
          <tr *ngFor="let list of batches; let i=index">
            <td>{{i+1}}</td>
            <td>{{list.batch_no}}</td>
            <td>{{list.pack_size}}</td>
            <td>{{list.qty_received}}</td>
            <td>{{list.total_containers}}</td>
            <td>{{list.mfg_date | date:'MMM-yyyy' | uppercase}}</td>
            <td *ngIf="plant_id !=  '72'">{{list.exp_date | date:'MMM-yyyy' | uppercase}}</td>
            <td *ngIf="plant_id ==  '72'">{{list.date_type}} / {{ list.exp_date | date:'MMM-yyyy' | uppercase}}</td>
          </tr>
          <tr *ngIf="selectedReport['batches']?.length == 0">
              <td colspan="7">No Record Found!</td>
          </tr> 
        </table>


        <!-- <table class="table" style="border: 1px solid black;">
          <tr>
            <td style="text-align: left;border: 1px solid;"><b>Cleanliness of Containers:</b></td>
            <td style="text-align: left;border: 1px solid;">{{ selectedReport['container_condition'] }}</td>
            <td style="text-align: left;border: 1px solid;"><b>Integrity of Containers Seal:</b></td>
            <td style="text-align: left;border: 1px solid;">{{ selectedReport['container_condition'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left;border: 1px solid;"><b>Status of Document Received:</b></td>
            <td style="text-align: left;border: 1px solid;"colspan="3">{{ selectedReport['document_status'] }}</td> -->
            <!-- <td style="text-align: left;border: 1px solid;"><b>Specific storage condition:</b></td> 
            <td style="text-align: left;border: 1px solid;">{{ selectedReport['storage_condition'] }}</td> -->
           <!-- </tr>
           <tr>
            <td style="text-align: left;border: 1px solid;"><b>Cleanliness of Vehicle:</b></td>
            <td style="text-align: left;border: 1px solid;" colspan="3">{{ selectedReport['vehicle_cleanliness'] }}</td> -->
            <!-- <td style="text-align: left;border: 1px solid;"><b>Tanker cleaning certificate:</b></td>
            <td style="text-align: left;border: 1px solid;">{{ selectedReport['tanker_cleaning'] }}</td> -->
           <!-- </tr>
        </table> -->
      

        <h3>Packing Details:</h3>
        <table class="table" style="border: 1px solid black;">
          <!-- <tr>
            <td style="text-align: left;border: 1px solid;"><b>Packing Intactness / Condition:</b></td>
            <td style="text-align: left;border: 1px solid;">{{ selectedReport['receiving_details'].packing_condition }}</td>
            <td style="text-align: left;border: 1px solid;"><b>Outer Packing:</b></td>
            <td style="text-align: left;border: 1px solid;">{{ selectedReport['receiving_details'].outer_packing }}</td>
          </tr> -->
          <tr>
            <td style="text-align: left;border: 1px solid;"><b>Container type:</b></td>
            <td style="text-align: left;border: 1px solid;">{{ selectedReport?.receiving_details?.container_type }}</td>
            <td style="text-align: left;border: 1px solid;"><b>Container Subtype:</b></td>
            <td style="text-align: left;border: 1px solid;">{{ selectedReport?.receiving_details?.container_subtype }}</td>
           </tr>
        </table>
        <h3>Received Quantity Details:</h3>
        <table class="table" style="border: 1px solid black;">
          <tr>
            <td style="text-align: left;border: 1px solid;"><b>Challan Qty: {{ selectedReport?.unit }}</b></td>
            <td style="text-align: left;border: 1px solid;">{{ selectedReport?.challan_qty }}</td>
            <td style="text-align: left;border: 1px solid;"><b>Received Qty: {{ selectedReport?.unit }}</b></td>
            <td style="text-align: left;border: 1px solid;">{{ selectedReport?.received_qty }}</td>
            <td style="text-align: left;border: 1px solid;"><b>No. of Containers:</b></td>
            <td style="text-align: left;border: 1px solid;">{{ selectedReport.containers }}</td>
          </tr>
     
        </table>
        <br>
        
        <br>

        <h3>Uploaded Document:</h3>
        <table class="table table-border">
          <tr>
            
            <th style="background-color: rgb(14, 67, 112); color: white;">COA Received</th>
            <th *ngIf="selectedReport['coa_received'] == 'Yes'"  style="background-color: rgb(14, 67, 112); color: white;">COA File</th>
            <th   style="background-color: rgb(14, 67, 112); color: white;">Challan File</th>
            <th *ngIf="selectedReport['coa_received'] == 'No'"  style="background-color: rgb(14, 67, 112); color: white;">Deviation No.</th>
          </tr>
          <tr>
          
            <td>{{ selectedReport['coa_received'] }}</td>
            <td *ngIf="selectedReport['coa_received'] == 'Yes'">
              <button class="btn btn-info btn-sm" (click)="viewCoafile(selectedReport?.receiving_details?.coa_file)">{{'common.view' | translate}}</button>
            </td>
            <td>
            <button class="btn btn-info btn-sm" *ngIf="selectedReport['challan_file'].length!=0 " (click)="viewChallan(selectedReport['challan_file'])">{{'common.view' | translate}}</button>
            <span *ngIf="selectedReport['challan_file'].length==0 "> NA</span>
              
          </td>
            <td *ngIf="selectedReport['coa_received'] == 'No'">{{ selectedReport['deviation_no'] }}</td>
          </tr>
        </table>
    </div>
  </div>

</div>