<div class="card">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">New Finish Product Specification</div>
      <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm btn-danger" routerLink="/qc/specifications/finish">{{'common.close' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <form #materialForm="ngForm">
        <h4>Specification Details:</h4>
        <div class="clr-row" style="border-radius: 4px;padding: 5px;border: 1px dashed; margin: 5px;">
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
            <label>Specification:</label>
            <select name="specification" [(ngModel)]="specification" (change)="checkSpec($event.target.value)" required>
              <option>New</option>
              <option>Existing</option>
            </select>
          </div>
          <!-- <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
            <label>Type of Dose:<span style="color: red">*</span></label>
            <select name="dosage_type" [(ngModel)]="dosage_type" required (change)="checkCopyFrom()">
                <option>SOLID</option>
                <option>LIQUID Oral</option>
                <option>SEMI SOLID</option>
                <option>External Liquid</option>
                <option>Injectable</option>
                <option>Gases</option>
            </select>
        </div> -->
        <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
          <label>Product Type:<span style="color:red;">*</span></label>
          <select name="product_type" [(ngModel)]="product_type" required (change)="getProductsByDosage($event.target.value)">
              <option>API</option>
              <option>Intermediate</option>
              <!-- <option>Generic/Antihelmentics</option> -->
          </select>
         </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
            <label>Name of product:</label>
            <select name="product_code" [(ngModel)]="product_code" required>
              <option></option>
              <option *ngFor="let product of products" value="{{product.product_code}}">{{ product.product_name }}</option>
            </select>
          </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
            <label>Grade:<span style="color:red">*</span></label>
            <select name="grade" [(ngModel)]="grade" required >
              <option>IP</option>
              <option>BP</option>
              <option>UsP</option>
              <option>Ph.Eur</option>
              <option>CP</option>
              <option>JP</option>
              <option>IHS</option>
              <option>EP</option>
            </select>
          </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-xs-12">
            <label> CAS No:</label>
            <input type="text" name="cas_name" ngModel required>
          </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-xs-12">
            <label>Molecular Formula:</label>
            <input type="text" name="molecular_formula" ngModel required>
          </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-xs-12" >
            <label>Molecular Weight:</label>
            <input type="text" name="molecular_weight" ngModel required>
          </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-xs-12" >
            <label>Storage Condition:</label>
            <input type="text" name="storage_condition" ngModel required>
          </div>
          <div class="clr-row" style="border-radius: 4px;padding: 5px;border: 1px dashed; margin: 5px;">
            <!-- <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
              <label>Specification No.:<span style="color:red">*</span></label>
              <input type="text" name="spec_no" ngModel required>
            </div> -->
            <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
              <label>Version No:<span style="color:red">*</span></label>
              <input *ngIf="specification == 'Existing'" type="text" name="version_no" ngModel="00" required>
              <input *ngIf="specification == 'New'" type="text" name="version_no" ngModel="00" readonly tabindex="-1">
            </div>
            <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="specification=='Existing'">
              <label>Specification No.:<span style="color:red">*</span></label>
              <input type="text" name="spec_no" ngModel required>
            </div>

            <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12"*ngIf="specification=='Existing'">
              <label>Supersede No:<span style="color:red">*</span></label>
              <input type="text" name="supersede_no" ngModel>
            </div>
            <!-- <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="specification == 'Existing'">
              <label>Date of Issue:<span style="color:red">*</span></label>
              <input type="date" name="issue_date" ngModel required>
            </div> -->
            <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="specification == 'Existing'">
              <label>Effective Date:<span style="color:red">*</span></label>
              <input type="date" name="effective_date" ngModel required>
            </div>
            <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="specification == 'Existing'">
              <label>Date of Review:<span style="color:red">*</span></label>
              <input type="date" name="review_date" ngModel required>
            </div>
            <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="specification == 'New'">
              <label>Review Date:<span style="color:red">*</span><small>(From Effective Date)</small></label>
              <select name="review_date" ngModel="12" required>
                <option value="12">12 Months</option>
                <option value="18">18 Months</option>
                <option value="24">24 Months</option>
                <option value="36">36 Months</option>
              </select>
            </div>
            <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
              <label>Shelf Life (Month):<span style="color:red">*</span></label>
              <select name="shelf_life" ngModel="Not Applicable" required>
                <option>6</option>
                <option>12</option>
                <option>24</option>
                <option>36</option>
                <option>48</option>
                <option>60</option>
                <option>Not Applicable</option>
              </select>
            </div>
            <!-- <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
              <label>Retest Period: (Months)</label>
              <select name="retest_period" ngModel required>
                <option>6</option>
                <option>12</option>
                <option>24</option>
                <option>36</option>
                <option>48</option>
              </select>
            </div> -->
          </div>
          <!-- <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
            <label>Version No:</label>
            <input *ngIf="specification == 'Existing'" type="text" name="version_no" ngModel="00" required>
            <input *ngIf="specification == 'New'" type="text" name="version_no" ngModel="00" readonly tabindex="-1">
          </div> -->
          <!-- <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
            <label>Supersede No: </label>
            <input type="text" name="supersede_no" ngModel required>
          </div> -->
        
          
          <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="specification == 'New'">
            <label>Review Period:</label>
            <select name="review_date" ngModel="12" required>
              <option value="12">12 Months</option>
              <option value="18">18 Months</option>
              <option value="24">24 Months</option>
              <option value="36">36 Months</option>
              <option value="60">60 Months</option>
            </select>
          </div>
          <!-- <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="specification == 'Existing'">
            <label>Issue Date:</label>
            <input type="date" name="issue_date" [max]="today" ngModel required>
          </div> -->
          <!-- <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="specification == 'Existing'">
            <label>Effective Date:</label>
            <input type="date" name="effective_date" [max]="today" ngModel required>
          </div>
          <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="specification == 'Existing'">
            <label>Review Date:</label>
            <input type="date" name="review_date" [min]="today" ngModel required>
          </div> -->
        </div>

       

        <div class="clr-row" style="border-radius: 4px;padding: 5px;border: 1px dashed; margin: 5px;">
          <div class="clr-col-lg-12 clr-col-md-12 clr-col-xs-12">
            <h4 style="color: red;"> Sampling Plan:</h4>
          </div>
          <div class="clr-col-lg-2 clr-col-md-2 clr-col-xs-12">
            <label> Total Sample Qty:<span style="color:red">*</span></label>
            <input type="number" OnlyNumdigit="true" name="sample_qty" ngModel required>
          </div>
          <!-- <div class="clr-col-lg-2 clr-col-md-2 clr-col-xs-12">
            <label>Chemical:<span style="color:red">*</span></label>
            <input type="text" OnlyNumdigit="true" name="chemical_qty" [(ngModel)]="chemical_qty" required>
          </div> -->
          <!-- <div class="clr-col-lg-2 clr-col-md-2 clr-col-xs-12">
            <label>Micro:<span style="color:red">*</span></label>
            <input type="text" OnlyNumdigit="true" name="micro_qty" [(ngModel)]="micro_qty" required>
          </div> -->
           <div class="clr-col-lg-2 clr-col-md-2 clr-col-xs-12">
            <label>Control Sample:<span style="color:red">*</span></label>
            <select name="sample_applicable" [(ngModel)]="sample_applicable">
              <option>Applicable</option>
              <option>Not Applicable</option>
            </select>
          </div>
          <div class="clr-col-lg-2 clr-col-md-2 clr-col-xs-12" *ngIf="sample_applicable=='Applicable'">
            <label>Control Sample:<span style="color:red">*</span></label>
            <input type="text" OnlyNumdigit="true" name="control_sample" [(ngModel)]="control_sample">
          </div>
          <div class="clr-col-lg-2 clr-col-md-2 clr-col-xs-12">
            <label>Additional Sample:</label>
            <input type="text" OnlyNumdigit="true" name="additional_sample">
          </div>
          <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
            <label>Unit:<span style="color:red">*</span></label>
            <select name="unit" ngModel required >
              <option></option>
              <option>mg</option>
              <option>gm</option>
              <option>ml</option>
              <option>Nos</option>
            </select>
          </div>
        </div>
        
      </form>

      <div class="card">
        <div class="card-block">
          <div class="card-title"> Add Specification Tests:</div>
          <div class="card-text">
            <form #testForm="ngForm">
              <div class="clr-row">
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <label>Test Type:<span style="color:red">*</span></label>
                  <select name="test_type" [(ngModel)]="test_type" (change)="getMicroCheck($event.target.value)" required>
                    <option value="Chemical">Chemical</option>
                    <!-- <option value="Microbiology">Microbiology</option> -->
                  </select>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <label>Test:<br></label>
                  <p-dropdown [options]="tests" name="test" [(ngModel)]="selectedTest" optionLabel="test" [filter]="true" filterBy="test" [showClear]="true" placeholder="Select a Test" (onChange)="getSubtest($event)">
                    <ng-template pTemplate="selectedItem">
                      <div class="country-item country-item-value" *ngIf="selectedTest">
                        <div>{{selectedTest.test}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                      <div class="country-item">
                        <div>{{country.test}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                  <!-- <select name="test" ngModel (change)="getSubtest($event.target.selectedIndex)">
                    <option></option>
                    <option *ngFor="let test of tests">{{ test.test }}</option>
                  </select> -->
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="subtests.length!==0">
                  <label> Sub Test:<br></label>
                  <p-dropdown [options]="subtests" name="subtest" [(ngModel)]="selectedSubTest" optionLabel="subtest" [filter]="true" filterBy="subtest" [showClear]="true" placeholder="Select a SubTest">
                    <ng-template pTemplate="selectedItem">
                      <div class="country-item country-item-value" *ngIf="selectedSubTest">
                        <div>{{selectedSubTest.subtest}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                      <div class="country-item">
                        <div>{{country.subtest}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <label>Reference:</label>
                  <select name="reference_type" ngModel="{{grade}}" >
                    <option>IP</option>
                    <option>BP</option>
                    <option>UsP</option>
                    <option>Ph.Eur</option>
                    <option>CP</option>
                    <option>JP</option>
                    <option>IHS</option>
                  </select>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <label>Select Limit :<span style="color:red">*</span></label>
                  <select name="limit" [(ngModel)]="limit" required>
                    <option>{{'common.description' | translate}}</option>
                    <option>Range</option>
                    <option>Not LessThan</option>
                    <option>Not MoreThan</option>
                    <!-- <option>Compliances</option> -->
                  </select>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <label>Release/Stability:<span style="color:red">*</span></label>
                  <select name="retest_applicable" ngModel required>
                    <option>Release</option>
                    <option>Stability Indicating</option>
                  </select>
                </div>
                <!-- <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <label>Sample Qty:</label>
                  <input type="text" name="sample_qty" ngModel readonly>
                </div> -->
                <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12" *ngIf="limit == 'Description'">
                  <label>Description:</label>
                  <textarea rows="2" name="descr" ngModel></textarea>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="limit == 'Range' || limit == 'Not MoreThan'">
                  <label *ngIf="limit == 'Not MoreThan'">Not More Than:</label>
                  <label *ngIf="limit !== 'Not MoreThan'">Maximum Lower Limit:</label>
                  <input type="text" name="lower_limit" ngModel required>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="limit == 'Range' || limit == 'Not LessThan'">
                  <label *ngIf="limit == 'Not LessThan'">Not Less Than:</label>
                  <label *ngIf="limit !== 'Not LessThan'">Maximum Upper Limit:</label>
                  <input type="text" name="upper_limit" ngModel required>
                </div>
                
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="limit == 'Range' || limit == 'Not LessThan' || limit == 'Not MoreThan'">
                  <label>Unit:</label>
                  <select name="unit" [(ngModel)]="unit">
                    <option *ngFor="let unit of units">{{ unit.unit }}</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" (click)="addTests(testForm)">{{'common.add' | translate}}</button>
        </div>


        <div class="card-block">
          <div class="card-text">
            <table class="table">
              <tr>
                <th>Test Type</th>
                <th style="text-align:left">Test</th>
                <th style="text-align:left">Sub Test</th>
                <th style="text-align:left">Reference Type</th>
                <th style="text-align:left">Limit Type</th>
                <th style="text-align:left">Limits</th>
                <th>Retest</th>
                <th style="width: 10px;">{{'common.table.action' | translate}}</th>
              </tr>
              <tr *ngFor="let comp of companies; let i = index">
                <td>{{comp.test_type}}</td>
                <td style="text-align:left">{{comp.test}}</td>
                <td *ngIf="comp.subtest !== ''" style="text-align:left">{{comp.subtest}}</td>
                <td *ngIf="comp.subtest == ''" style="text-align:left">NA</td>
                <td>{{comp.reference_type}}</td>
                <td style="text-align:left">{{comp.limit}}</td>
                <td style="text-align:left">{{comp.limits}}</td>
                <td>{{comp.retest_applicable}}</td>
                <td style="text-align: center;">
                  <clr-icon shape="trash" class="is-error" (click)="deleteProduct(i)"></clr-icon>
                </td>
              </tr>
              <tr *ngIf="companies.length === 0">
                <td colspan="8" style="height: 40px;">No Record found</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- <div class="card">
        <div class="card-block">
          <div class="card-title">Client Specific Tests:</div>
          <div class="card-text">
            <form #client="ngForm">
              <div class="clr-row">
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <label>Client Name:<span style="color:red">*</span></label>
                  <select name="client_code" ngModel="client_code" required (change)="getClientName($event.target.selectedIndex)">
                    <option *ngFor="let client of clients;let i=index" [value]="client.client_code">{{client.TrdNm}}</option>
                  </select>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <label>Test Type:<span style="color:red">*</span></label>
                  <select name="test_type" [(ngModel)]="test_type" (change)="getMicroCheck($event.target.value)" required>
                    <option value="Chemical">Chemical</option>
                    <option value="Microbiology">Microbiology</option>
                  </select>
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Test:<br></label>
                  <p-dropdown [options]="tests" name="test" [(ngModel)]="selectedTest" optionLabel="test" [filter]="true" filterBy="test" [showClear]="true" placeholder="Select a Test" (onChange)="getSubtest($event)">
                    <ng-template pTemplate="selectedItem">
                      <div class="country-item country-item-value" *ngIf="selectedTest">
                        <div>{{selectedTest.test}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                      <div class="country-item">
                        <div>{{country.test}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                  <select name="test" ngModel (change)="getSubtest($event.target.selectedIndex)">
                    <option></option>
                    <option *ngFor="let test of tests">{{ test.test }}</option>
                  </select>
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" *ngIf="subtest.length!==0">
                  <label> Sub Test:<br></label>
                  <p-dropdown [options]="subtests" name="subtest" [(ngModel)]="selectedSubTest" optionLabel="subtest" [filter]="true" filterBy="subtest" [showClear]="true" placeholder="Select a SubTest">
                    <ng-template pTemplate="selectedItem">
                      <div class="country-item country-item-value" *ngIf="selectedSubTest">
                        <div>{{selectedSubTest.subtest}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                      <div class="country-item">
                        <div>{{country.subtest}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <label>Sub Test:</label>
                  <select name="subtest" [(ngModel)]="subtest" ngModel>
                    <option></option>
                    <option *ngFor="let subtest of subtests">{{ subtest.subtest }}</option>
                  </select>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <label>Reference:<span style="color:red">*</span></label>
                  <select name="reference_type" ngModel="{{grade}}" required>
                    <option></option>
                    <option *ngFor="let ref of grades">{{ref.grade}}</option>
                  </select>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <label>Select Limit :<span style="color:red">*</span></label>
                  <select name="limit" [(ngModel)]="limit" required>
                    <option>{{'common.description' | translate}}</option>
                    <option>Range</option>
                    <option>Not LessThan</option>
                    <option>Not MoreThan</option>
                  </select>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <label>Retest:<span style="color:red">*</span></label>
                  <select name="retest_applicable" ngModel required>
                    <option>Applicable</option>
                    <option>Not Applicable</option>
                  </select>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <label>Sample Qty:</label>
                  <input type="text" name="sample_qty" ngModel readonly>
                </div>
                <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12" *ngIf="limit == 'Description'">
                  <label>Description:</label>
                  <textarea rows="2" name="descr" ngModel></textarea>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="limit == 'Range' || limit == 'Not MoreThan'">
                  <label *ngIf="limit == 'Not MoreThan'">Not More Than:</label>
                  <label *ngIf="limit !== 'Not MoreThan'">Maximum Lower Limit:</label>
                  <input type="text" name="lower_limit" ngModel required>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="limit == 'Range' || limit == 'Not LessThan'">
                  <label *ngIf="limit == 'Not LessThan'">Not Less Than:</label>
                  <label *ngIf="limit !== 'Not LessThan'">Maximum Upper Limit:</label>
                  <input type="text" name="upper_limit" ngModel required>
                </div>
                
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="limit == 'Range' || limit == 'Not LessThan' || limit == 'Not MoreThan'">
                  <label>Unit:<span style="color:red">*</span></label>
                  <select name="unit" [(ngModel)]="unit" required>
                    <option *ngFor="let unit of units">{{ unit.unit }}</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="card-footer">
          <button class="btn btn-primary" (click)="addClient(client)">{{'common.add' | translate}}</button>
        </div>
        <div class="card-block">
          <div class="card-text">
            <table class="table">
              <tr>
                <th>Client Code</th>
                <th>Client Name</th>
                <th>Test Type</th>
                <th style="text-align:left">Test</th>
                <th style="text-align:left">Sub Test</th>
                <th style="text-align:left">Reference Type</th>
                <th style="text-align:left">Limit Type</th>
                <th style="text-align:left">Limits</th>
                <th>Retest</th>
                <th style="width: 10px;">{{'common.table.action' | translate}}</th>
              </tr>
              <tr *ngFor="let comp of clientList; let i = index">
                <td>{{comp.client_code}}</td>
                <td>{{comp.TrdNm}}</td>
                <td>{{comp.test_type}}</td>
                <td style="text-align:left">{{comp.test}}</td>
                <td style="text-align:left" *ngIf="comp.test==''">NA</td>
                <td *ngIf="comp.subtest !== ''" style="text-align:left">{{comp.subtest}}</td>
                <td *ngIf="comp.subtest == ''" style="text-align:left">NA</td>
                <td>{{comp.reference_type}}</td>
                <td style="text-align:left">{{comp.limit}}</td>
                <td style="text-align:left">{{comp.limits}}</td>
                <td>{{comp.retest_applicable}}</td>
                <td style="text-align: center;">
                  <clr-icon shape="trash" class="is-error" (click)="deleteClient(i)"></clr-icon>
                </td>
              </tr>
              <tr *ngIf="clientList.length === 0">
                <td colspan="8" style="height: 40px;">No Record found</td>
              </tr>
            </table>
          </div>
        </div>
      </div> -->

      <div class="card" *ngIf="specification == 'Existing'">
        <div class="card-block">
          <div class="card-title">Revision History</div>
          <div class="card-text">
            <form #revisionForm="ngForm">
              <div class="clr-row">
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <label>Specification No:<span style="color:red">*</span></label>
                  <input type="text" id="spec_no" name="spec_no" ngModel required>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <label>Version No:<span style="color:red">*</span></label>
                  <input type="text" name="ver_no" ngModel required>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <label>Change Control No:<span style="color:red">*</span></label>
                  <input type="text" name="change_mode" ngModel Required>
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Reason for change:<span style="color:red">*</span></label>
                  <input type="text" name="change_reason" ngModel required>
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Effective Date:<span style="color:red">*</span></label>
                  <input type="date" name="effective_date" ngModel required>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" (click)="addRevision(revisionForm)">{{'common.add' | translate}}</button>
        </div>
        <div class="card-block">
          <div class="card-text">
            <table class="table">
              <tr>
                <th>Sr</th>
                <th>Specification No</th>
                <th>Version No</th>
                <th>Change Control No.</th>
                <th>Reason for change</th>
                <th>Effective Date</th>
                <th>{{'common.table.action' | translate}}</th>
              </tr>
              <tr *ngFor="let user of revisionList; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{user.spec_no}}</td>
                <td>{{user.ver_no}}</td>
                <td>{{user.change_mode}}</td>
                <td>{{user.change_reason}}</td>
                <td>{{user.effective_date}}</td>
                <td style="text-align: center;">
                  <clr-icon shape="trash" class="is-error" (click)="deleteRevision(i)"></clr-icon>
                </td>
              </tr>
              <tr *ngIf="revisionList.length === 0">
                <td colspan="6" style="height: 40px;">No Record found</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="card" *ngIf="specification == 'New'">
        <div class="card-block">
          <div class="card-title">Revision History</div>
          <div class="card-text">
            <table class="table">
              <tr>
                <th>Sr</th>
                <th>Specification No</th>
                <th>Version No</th>
                <th>Change Mode</th>
                <th>Reason for change</th>
                <th>Effective Date</th>
              </tr>
              <tr *ngFor="let user of revisionList; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{user.spec_no}}</td>
                <td>{{user.ver_no}}</td>
                <td>{{user.change_mode}}</td>
                <td>{{user.change_reason}}</td>
                <td>{{user.effective_date}}</td>
              </tr>
              <tr *ngIf="revisionList?.length === 0">
                <td colspan="5" style="height: 40px;">No Record found</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="saveFPSpecification(materialForm)">{{'common.save' | translate}}</button>
  </div>
</div>