.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: aliceblue;
  font-weight: 600;
}

.filter-row {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.filter-row input {
  width: 280px;
}

table,
th,
td {
  border: 1px solid black;
}

