<div class="container-fluid" *ngIf="!isView">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-lg-3" style="color: aliceblue;margin-top: -2px;text-align: left;">SUPPORT LOG</div>
              <div class="clr-col-lg-9" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-success btn-sm" routerLink="new">Support Form</button>
                <button class="btn btn-sm btn-danger" routerLink="/" style="color: white;border: 1px solid red;">{{'common.close' | translate}}</button>
              </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                <div class="clr-row">
                    <div class="clr-col-lg-3">
                        <label>Status:</label>
                        <select name="status" [(ngModel)]="status" required>
                            <option></option>
                            <option value="pending">{{'common.pending' | translate}}</option>
                            <option value="close">close</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-3">
                        <label>From Date:</label>
                        <input type="date" name="from_date" [(ngModel)]="from_date" requried>
                    </div>
                    <div class="clr-col-lg-3">
                        <label>To Date:</label>
                        <input type="date" name="to_date" [(ngModel)]="to_date" requried>
                    </div>
                    <div class="clr-col-lg-2" style="padding: 0px;">
                        <button class="btn btn-danger" (click)="getQueries()" style="margin: 30px;">{{'common.search' | translate}}</button>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <th>Sr</th>
                        <th>{{'common.date' | translate}}</th>
                        <th style="text-align: left;">Entry By</th>
                        <th style="text-align: left;">Form Name</th>
                        <th style="text-align: left;">{{'common.description' | translate}}</th>
                        <th>{{'common.status' | translate}}</th>
                        <th>Resolve Date</th>
                        <th>Resolve By</th>
                        <th>{{'common.table.action' | translate}}</th>
                    </tr>
                    <tr *ngFor="let result of results;let i = index">
                        <td>{{ i+1 }}.</td>
                        <td>{{ result.entry_date }}</td>
                        <td style="text-align: left;">{{ result.entry_by }}</td>
                        <td style="text-align: left;">{{ result.form_name }}</td>
                        <td style="text-align: left;">{{ result.description }}</td>
                        <td>{{ result.status }}</td>
                        <td>{{ result.resolve_date }}</td>
                        <td>{{ result.resolve_by }}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                        </td>
                    </tr>
                    <tr *ngIf="results?.length == 0">
                        <td colspan="8">No Record Found!</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card-container-fluid" *ngIf="isView">
    <div class="card">
        <div class="card-header">Support Log</div>
        <div class="card-block">
            <div class="card-text">
                <table class="table">
                    <tr>
                        <td style="text-align: left;border: 1px solid black;">Department:</td>
                        <td style="text-align: left;border: 1px solid black;">{{ selectedResult['department'] }}</td>
                        <td style="text-align: left;border: 1px solid black;">Entry By:</td>
                        <td style="text-align: left;border: 1px solid black;">{{ selectedResult['entry_by'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;border: 1px solid black;">Form Name:</td>
                        <td style="text-align: left;border: 1px solid black;">{{ selectedResult['form_name'] }}</td>
                        <td style="text-align: left;border: 1px solid black;">Date:</td>
                        <td style="text-align: left;border: 1px solid black;">{{ selectedResult['entry_date'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;border: 1px solid black;">Description:</td>
                        <td style="text-align: left;border: 1px solid black;" colspan="3">{{ selectedResult['description'] }}</td>
                    </tr>
                </table>


                <div class="clr-row">
                    <div class="clr-col-lg-6" *ngFor="let user of selectedResult['screenshot'];let i = index" >
                        <h3>Screenshot:{{ i+1 }}</h3>
                        <br>
                        <img src="{{ service['url'] }}upload/queries/{{ user }}" height="300px" width="100%">
                    </div>
                </div>
                <br>

                <div class="clr-row">
                    <div class="clr-col-lg-12">
                        <label>Querie Justification:</label>
                        <textarea name="querie_justification" [ngModel]="selectedResult['justification']" readonly required tabindex="-1"></textarea>
                    </div>
                    <div class="clr-col-lg-6">
                        <label>Resolve By:</label>
                        <input type="text" name="resolve_by" ngModel="{{ selectedResult['resolve_by'] }}" required readonly tabindex="-1">
                    </div>
                    <div class="clr-col-lg-6">
                        <label>Resolve Date:</label>
                        <input type="text" name="resolve_by" ngModel="{{ selectedResult['resolve_date'] }}" required readonly tabindex="-1">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>