<div class="container-fluid">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
                <div class="clr-col-lg-3" style="color: aliceblue;margin-top: -2px;text-align: left;">Support Form</div>
                <div class="clr-col-lg-9" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-danger" routerLink="/queries" style="color: white;border: 1px solid red;">{{'common.close' | translate}}</button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                <form #supportForm="ngForm">
                    <div class="clr-row">
                        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                            <label>Form Name:</label>
                            <input type="text" name="form_name" ngModel required>
                        </div>
                        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                            <label>Description:</label>
                            <textarea name="description" ngModel required></textarea>
                        </div>
                        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                            <label>Attach Screenshot:(multiple)</label>
                            <input type="file" (change)="onFileChanged($event)" required accept="png/jpg*" multiple>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="submit(supportForm)">{{'common.submit' | translate}}</button>
        </div>
    </div>
</div>