<div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Standard Master</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" routerLink="/rnd/master/standard" style="background-color: red;color: white;">
            CLOSE
          </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <form #standardForm="ngForm">
          <div class="clr-row">
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Type:<span style="color: red">*</span></label>
              <select name="material_type" [(ngModel)]="material_type" required (change)="checkType($event.target.value)">
                <option>Raw Material</option>
                <option>Packing Material</option>
                <option>Analytical Standard</option>
              </select>
            </div>
        
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Name:<span style="color: red">*</span></label>
              <input *ngIf="material_type == 'Raw Material'" type="text" name="material_subtype" ngModel="API" readonly>
              <select *ngIf="material_type == 'Packing Material'" name="material_subtype" [(ngModel)]="material_subtype" (change)="getMaterial()">
                <option>Primary</option>
                <option>Foil</option>
              </select>
              <input *ngIf="material_type == 'Analytical Standard'" type="text" name="material_subtype" ngModel="Chemical" readonly>
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Material Name:<span style="color: red">*</span></label>
              <select name="material_name" ngModel required>
                <option></option>
                <option *ngFor="let material of materials" [ngValue]="material.material_name">{{material.material_name}}</option>
              </select>
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Grade:<span style="color: red">*</span></label>
              <select name="grade" ngModel required>
                <option> </option>
                 <option  *ngFor="let grade of grades" [ngValue]="grade.grade">
                  {{grade.grade}}
                </option>
              </select>
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Standard:<span style="color: red">*</span></label>
              <select name="standard" ngModel required>
                <option>Reference Standard</option>
                <option>Working Standard</option>
              </select>
            </div>
        
           <!--  <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Grade:<span style="color: red">*</span></label>
              <select name="grade" ngModel required>
                <option></option>
                <option *ngFor="let grade of grades">{{ grade.grade }}</option>
              </select>
            </div> -->
          </div>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="saveStandardMaster(standardForm)">{{'common.submit' | translate}}</button>
     <!--  <button class="btn btn-danger" (click)="isNewForm = false">{{'common.close' | translate}}</button> -->
    </div>
  </div>