 <div class="card" *ngIf="!isNew">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">LOG BOOK OF E-WASTE</div>
        <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button *ngIf="isuser == 'Yes'" class="btn btn-sm btn-primary" (click)="isNew=true">{{'common.new' | translate}}</button>
          <button class="btn btn-sm btn-danger" routerLink="/it">{{'common.close' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <clr-datagrid [clrDgLoading]="loading">
           <clr-dg-column>{{'common.table.srNo' | translate}}</clr-dg-column>
           <clr-dg-column style="text-align: left;">Item Name</clr-dg-column>
           <clr-dg-column style="text-align: left;">Received on date</clr-dg-column>
           <clr-dg-column style="text-align: left;">Received Form (Dept. Name)</clr-dg-column>
           <clr-dg-column style="text-align: left;">Received By (Sign./Date)</clr-dg-column>
           <clr-dg-column style="text-align: left;">Destroy on</clr-dg-column>
           <clr-dg-column style="text-align: left;">Destroy By</clr-dg-column>
           <clr-dg-column style="text-align: left;">Checked By (Sign./Date)</clr-dg-column>
           <clr-dg-column style="text-align: left;">Verified by (Sign./Date)</clr-dg-column>
           <clr-dg-column style="text-align: left;">{{'common.remarks' | translate}}</clr-dg-column>

           <clr-dg-row *clrDgItems="let res of results; let i = index">
             <clr-dg-cell>{{i+1}}</clr-dg-cell>
             <clr-dg-cell style="text-align: left;">{{res.itemName}}</clr-dg-cell>
             <clr-dg-cell style="text-align: left;">{{res.receivedOnDate}}</clr-dg-cell>
             <clr-dg-cell style="text-align: left;">{{res.receivedDept}}</clr-dg-cell>
             <clr-dg-cell style="text-align: left;">{{res.receivedBy}} / {{res.receivedOn}}</clr-dg-cell>
             <clr-dg-cell>
               <button  *ngIf="res.status == 'Pending'" [disabled]="isuser == 'No'" class="btn btn-sm btn-danger" (click)="destroy(res.id)">Destroy</button>
               <span *ngIf="res.status != 'Pending'">{{res.destroyBy}}</span>
             </clr-dg-cell>
              <clr-dg-cell style="text-align: left;">
                    <span >{{res.destroyOn || '-'}}</span>
              </clr-dg-cell>
              <clr-dg-cell>
               <button  *ngIf="res.status == 'Destroyed'" [disabled]="ischecker == 'No'" class="btn btn-sm btn-primary" (click)="checking(res.id)">Checking</button>
               <span *ngIf="res.status != 'Destroyed'">{{res.checkedBy || '-'}} / {{res.checkedOn || '-'}}</span>
              </clr-dg-cell>
              <clr-dg-cell>
               <button  *ngIf="res.status == 'Checked'" [disabled]="isapprover == 'No'" class="btn btn-sm btn-success" (click)="verify(res.id)">Verify</button>
               <span *ngIf="res.status != 'Checked'">{{res.verifyBy || '-'}} / {{res.verifyOn || '-'}}</span>
              </clr-dg-cell>
              <clr-dg-cell>{{res.remark || '-'}}</clr-dg-cell>

          </clr-dg-row>

         </clr-datagrid>
        </div>
    </div>
    <div class="card-footer">
          <button class="btn btn-primary" (click)="download()">{{'common.download' | translate}}</button>
          <button class="btn btn-danger" routerLink="/it">{{'common.close' | translate}}</button>
    </div>
  </div>



  <div class="container-fluid" *ngIf="isNew">
    <div class="card">
      <div class="card-header">New LOG BOOK OF E-WASTE</div>
      <div class="card-block">
        <div class="card-text">
            <form #ewasteLogForm="ngForm"  class="clr-row">
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Item Name : <span style="color: red;"><b>*</b></span></label>
                  <input type="text" name="itemName" ngModel required>
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Received on date : <span style="color: red;"><b>*</b></span></label>
                  <input type="date" name="receivedOnDate" ngModel required>
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Received Form (Dept. Name) : <span style="color: red;"><b>*</b></span></label>
                  <select name="receivedDept" ngModel required>
                      <option value=""></option>
                      <option *ngFor="let dept of departments;" value="{{dept.department_name}}">{{dept.department_name}}</option>
                  </select>
                </div>
            </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="saveEwsteEntry(ewasteLogForm)">{{'common.save' | translate}}</button>
        <button class="btn btn-danger" (click)="isNew=false">{{'common.close' | translate}}</button>
      </div>
    </div>
  </div>
