<div class="container-fluid">
  <div class="card">
    <div class="card-header">Notice Log</div>
    <div class="card-block">
      <div class="card-text">
        <clr-datagrid>
            <clr-dg-column>Employee</clr-dg-column>
            <clr-dg-column>Subject</clr-dg-column>
            <clr-dg-column>{{'common.description' | translate}}</clr-dg-column>
            <clr-dg-column>{{'common.date' | translate}}</clr-dg-column>
            <clr-dg-column>{{'common.status' | translate}}</clr-dg-column>
            <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column>
        
            <clr-dg-row *ngFor="let notice of notices">
                <clr-dg-cell>{{notice.emp_id}}</clr-dg-cell>
                <clr-dg-cell>{{notice.subject}}</clr-dg-cell>
                <clr-dg-cell>{{notice.description}}</clr-dg-cell>
                <clr-dg-cell>{{notice.entry_date}}</clr-dg-cell>
                <clr-dg-cell>{{notice.status}}</clr-dg-cell>
                <clr-dg-cell *ngIf="notice.status=='pending'">
                  <button class="btn btn-sm btn-info" (click)="viewremark(notice.id)">{{'common.view' | translate}}</button>
                </clr-dg-cell>
                <clr-dg-cell *ngIf="notice.status=='active'"></clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
      </div>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="isRemark">
    <h3 class="modal-title">{{'common.table.remark' | translate}}</h3>
    <div class="modal-body">
        <input type="text" name="remark" [(ngModel)]="remark" required>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="isRemark = false">{{'common.cancel' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="sendNoticeRemark()">{{'common.submit' | translate}}</button>
    </div>
</clr-modal>