<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Wash Water For R.M. Dispensing</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/qa/ipqa" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
          <form #proForm="ngForm">
            <div class="clr-row">
              <div class="clr-col-lg-6">
                <label>Product Name</label>
                <select name="product_code" ngModel>
                  <option></option>
                  <option *ngFor="let pro of products" [value]="pro.product_code">{{ pro.product_name }}</option>
                </select>
              </div>
              <div class="clr-col-lg-6">
                <label>Equipment Name</label>
                <select name="equipment_code" ngModel>
                  <option></option>
                  <option *ngFor="let pro of equipments" [value]="pro.equipment_code">{{ pro.equipment_name }}</option>
                </select>
              </div>
              <div class="clr-col-lg-6">
                <label>Clean By</label>
                <select name="clean_by" ngModel>
                  <option></option>
                  <option *ngFor="let pro of person" [value]="pro.emp_id">{{ pro.firstname }}</option>
                </select>
              </div>
  
            </div>
          </form>
        </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="save(proForm)">Withdraw Sample</button>
    </div>
</div>