<div class="container-fluid" *ngIf="!isView">
    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Preventive Maintenance Log</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/engineering/thermic-boiler" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
      <div class="card-block">
       
        <div class="card-text">
            <clr-datagrid [clrDgLoading]="loading">
              
              <clr-dg-column >Sr. </clr-dg-column>
              <clr-dg-column >Boiler ID</clr-dg-column>
              <clr-dg-column >Location Name</clr-dg-column>
              <clr-dg-column >Facility Name</clr-dg-column>
              <clr-dg-column >Boiler Type </clr-dg-column>
              <clr-dg-column >Capcity</clr-dg-column>
              <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column>
          
          <clr-dg-row *clrDgItems="let result of data; let i = index" [clrDgItem]="result">
              <clr-dg-cell>{{ i+1}}</clr-dg-cell>
              <clr-dg-cell>{{ result.boiler_code }}</clr-dg-cell>
              <clr-dg-cell>{{ result.l_name }}</clr-dg-cell>
              <clr-dg-cell>{{ result.f_name }}</clr-dg-cell>
              <clr-dg-cell>{{ result.boiler_type  }}</clr-dg-cell>
              <clr-dg-cell>{{ result.capcity }}</clr-dg-cell>
              <clr-dg-cell>
                   <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
              </clr-dg-cell>
          </clr-dg-row>
     
      </clr-datagrid>
        </div>
      </div>
      <div class="card-footer">
        <!-- <button class="btn btn-primary"(click)="download()">{{'common.download' | translate}}</button> -->
      </div>
    </div>
</div>
<div class="card" *ngIf="isView">    
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;"> Preventive Maintenance</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/engineering/thermic-boiler" style="background-color: red;color: white;">
                    <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <form #boilerForm="ngForm">           
            <div class="card-text">
              <h4>Boiler Information</h4>
                <div class="clr-row">
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Boiler ID/Code:<span style="color: red;">*</span></label>
                        <input type="text" name="boiler_id" [(ngModel)]="boiler_code" readonly>
                    </div>
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Boiler Name:<span style="color: red;">*</span></label>
                        <input type="text" name="boiler_name" ngModel readonly>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" style="text-align: left; color: black; background-color: lightgreen;">Maintenance Details</div>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Maintenance Type:<sup style="color: red">*</sup></strong></label>
                            <select type="text" name="maint_type" ngModel required>
                                <option></option>
                                <option>Routine</option>
                                <option>Inspection</option>
                                <option>Lubrication</option>
                                <option>Cleaning</option>
                                <option>Testing & Calibration</option>
                                <option>Replacement of Parts</option>
                            </select> 
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Maintenance Date:<sup style="color: red">*</sup></strong></label>
                            <input type="date" name="maint_date" ngModel readonly>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Maintenance Time:<sup style="color: red">*</sup></strong></label>
                            <input type="time" name="maint_time" ngModel readonly>
                        </div>
                    </div>
                </div>
                <div class="card-header" style="text-align: left; color: white; background-color: rgb(154, 107, 230);"> Task Details</div>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Task Description:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="tesk_desc" ngModel required>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Parts Replaced/Repaired :<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="parts_repair" ngModel required>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Quantity Of Parts :<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="quantity" ngModel required>
                        </div>
                    </div>
                </div>        
            </div>
            <div class="card">
                <div class="card-header" style="text-align: left;color: black; background-color: rgb(182, 212, 14);">Technical Parameters</div>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Pressure Check:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="pressure_check" ngModel required>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Temperature Check:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="temp_check" ngModel required>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Fuel Consumption Check:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="fuel_check" ngModel required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" style="text-align: left;color: white; background-color: rgb(14, 212, 189);">Observation</div>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Visual Inspection Observation:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="visual_observation" ngModel required>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Any Obnormalities Detected:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="obnormalities" ngModel required>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Recommendation:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="recommendation" ngModel required>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Name Of Maintenance Technician:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="maint_tech_name" ngModel required>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Technician ID/Code:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="tech_id" ngModel required>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Approved by Supervisor/Manager:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="supervisor_approve" ngModel required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
        <div class="card-footer">
            <button class="btn btn-primary"(click)="save(boilerForm)">{{'common.submit' | translate}}</button>
            <button class="btn btn-danger" (click)="isView=false">{{'common.close' | translate}}</button>    
        </div>
</div>