<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Enquiry From Marketing</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-danger" routerLink="/npd" >
            <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
          </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">

          <div class="clr-row">
            <div class="clr-col-lg-5">
              <label>Search </label>
              <input type="text" placeholder="Search..." [(ngModel)]="searchQuery">
            </div>
          </div>

          <div class="datagrid-wrapper">
            <clr-datagrid [clrDgLoading]="loading" [clrDgFilter]="searchQuery" >
                <clr-dg-column>{{'common.table.srNo' | translate}}</clr-dg-column>
                <clr-dg-column>Enquiry No.</clr-dg-column>
                <clr-dg-column>Client Name</clr-dg-column>
                <clr-dg-column>Product Code (Temp)</clr-dg-column>
                <clr-dg-column>Product Name</clr-dg-column>
                <clr-dg-column>Suggestive Fill Vol.</clr-dg-column>
                <clr-dg-column>Demography</clr-dg-column>
                <clr-dg-column>Tentative Launch Dt.</clr-dg-column>
                <clr-dg-column>Final By / ON</clr-dg-column>
                <clr-dg-column >{{'common.table.action' | translate}}</clr-dg-column>

                <clr-dg-row *clrDgItems="let product of filteredMaterials; let i = index" [clrDgItem]="product">
                  <clr-dg-cell>{{i+1}}</clr-dg-cell>
                  <clr-dg-cell>{{product.enquiry_no || '-'}}</clr-dg-cell>
                  <clr-dg-cell>{{product.LglNm || '-'}}</clr-dg-cell>
                  <clr-dg-cell>{{product.product_code || '-'}}</clr-dg-cell>
                  <clr-dg-cell>{{product.product_name || '-'}}</clr-dg-cell>
                  <clr-dg-cell>{{product.suggestive_fill_volume || '-'}}</clr-dg-cell>
                  <clr-dg-cell>{{product.demography || '-'}}</clr-dg-cell>
                  <clr-dg-cell>{{product.tentative_launch_dt | date : 'dd-MM-yyyy'}}</clr-dg-cell>        
                  <clr-dg-cell>{{product.entryByName || '-'}} - ( {{product.finalBy}} ) / {{product.finalOn | date : 'dd-MM-yyyy'}}</clr-dg-cell>
                  <clr-dg-cell >
                      <button class="btn btn-sm btn-primary" (click)="view(product)">{{'common.view' | translate}}</button>
                  </clr-dg-cell>
                </clr-dg-row>
            </clr-datagrid>
          </div>

      </div>
    </div>
</div>


<div class="card" *ngIf="isView">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Enquiry From Marketing</div>
      <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm btn-danger" (click)="isView = false" >
          <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
        <div class="clr-row">

          <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12"  >
              <table class="table table-border">
                <tr>
                  <td style="text-align:left;"><strong>Clients Name</strong></td>
                  <td style="text-align:left; color:blue;">{{selectedEnquiry['LglNm']}}</td>
                  <td style="text-align:left;"><strong>Req. For Country</strong></td>
                  <td style="text-align:left; color:blue;">{{selectedEnquiry['country']}}</td>
                </tr>
                <tr>
                  <td style="text-align:left;"><strong>Sample Required</strong></td>
                  <td style="text-align:left; color:blue;">{{selectedEnquiry['sample_required'] || '-'}}</td>
                  <td style="text-align:left;"><strong>Sample Qty. (NOS)</strong></td>
                  <td style="text-align:left; color:blue;">{{selectedEnquiry['sample_qty'] || 'NA'}}</td>
                </tr>
                <tr>
                  <td style="text-align:left;"><strong>Reference sample</strong></td>
                  <td style="text-align:left; color:blue;">{{selectedEnquiry['reference_sample'] || '-'}}</td>
                  <td style="text-align:left;"><strong>No of Units </strong></td>
                  <td style="text-align:left; color:blue;">{{selectedEnquiry['refNoOfunits'] || 'NA'}}</td>
                </tr>
                <tr>
                  <td style="text-align:left;">
                      <button [disabled]="selectedEnquiry['other_req'] == 'NA'" 
                      class="btn btn-sm btn-info" (click)="viewDoc(selectedEnquiry['other_req'])">View Doc</button>
                  </td>
                  <td style="text-align:left;"><strong>Details </strong></td>
                  <td colspan="2" style="text-align:left; color:blue;">{{selectedEnquiry['details'] || '--'}}</td>
                </tr>
                <tr>
                  <td style="text-align:left;">View Product Details :</td>
                  <td colspan="3" style="text-align:left;">
                      <button class="btn btn-sm btn-info" (click)="viewProduct()">{{'common.view' | translate}}</button>
                  </td>
                </tr>
              </table>
          </div>
          <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
            <table class="table table-border">
              <tr>
                <td colspan="2" style="text-align:center;font-size:16px;"><strong>Feasibility Form </strong></td>
              </tr>
              <tr>
                <td style="width:20%;text-align:left;"> <strong>Product Name</strong></td>
                <td style="width:80%;text-align:left;color:blue;font-weight:bold;"> {{selectedEnquiry['product_name']}}</td>
              </tr>
              <tr>
                <td style="width:20%;text-align:left;"> <strong>Product Code (Temp)</strong></td>
                <td style="width:80%;text-align:left;color:blue;font-weight:bold;"> {{selectedEnquiry['product_code']}}</td>
              </tr>
              <tr>
                <td style="width:20%;text-align:left;"> <strong>Client Name</strong></td>
                <td style="width:80%;text-align:left;color:blue;font-weight:bold;"> {{selectedEnquiry['LglNm']}}</td>
              </tr>
              <tr>
                <td style="width:20%;text-align:left;"> <strong>Benchmark Product Name</strong></td>
                <td style="width:80%;text-align:left;color:blue;font-weight:bold;"> {{selectedEnquiry['fg_benchmark_product']}}</td>
              </tr>
              <tr>
                <td style="width:20%;text-align:left;"> <strong>Brief ingredients list</strong></td>
                <td style="width:80%;text-align:left;margin:0;padding:0;"> 
                      <form #ingredientForm="ngForm">
                        <table class="table table-border">
                          <tr>
                            <td style="margin:0;padding:0;">
                              <input type="text" name="ingredientName" ngModel required>
                            </td>
                            <td style="margin:0;padding:0;">
                              <button class="btn btn-sm btn-success" (click)="addIngredient(ingredientForm)">{{'common.add' | translate}}</button>
                            </td>
                          </tr>
                          <tr *ngFor="let ing of ingredients;let i = index;">
                            <td style="text-align:left; font-weight:bold;">{{ing.ingredientName}}</td>
                            <td style="margin:0;padding:0;">
                              <button class="btn btn-sm btn-danger" (click)="delIngredient(i)">DEL</button>
                            </td>
                          </tr>
                        </table>
                      </form>
                </td>
              </tr>
              <tr>
                <td style="width:20%;text-align:left;"> <strong>Remark (If Any)</strong></td>
                <td style="width:80%;text-align:left;color:blue;margin:0;padding:0;">
                    <input type="text" name="remark" [(ngModel)]="remark" >
                </td>
              </tr>
              <tr>
                <td style="width:20%;text-align:left;"> <strong>Target Region</strong></td>
                <td style="width:80%;text-align:left;color:blue;font-weight:bold;"> {{selectedEnquiry['country']}}</td>
              </tr>
              <tr>
                <td style="width:20%;text-align:left;"> <strong>Label Claim <span style="color:red">*</span></strong></td>
                <td style="width:80%;text-align:left;color:blue;margin:0;padding:0;"> 
                    <textarea name="labelClaim" [(ngModel)]="labelClaim" required rows="7" ></textarea>
                </td>
              </tr>
              <tr>
                <td style="width:20%;text-align:left;"> <strong>Target Bulk Cost <span style="color:red">*</span></strong></td>
                <td style="width:80%;text-align:left;color:blue;margin:0;padding:0;"> 
                    <input type="text" name="totalBulkCost" [(ngModel)]="totalBulkCost" required>
                </td>
              </tr>
              <tr>
                <td style="width:20%;text-align:left;"> <strong>Pack size</strong></td>
                <td style="width:80%;text-align:left;color:blue;font-weight:bold;"> {{selectedEnquiry['pack_size']}}</td>
              </tr>
              <tr>
                <td style="width:20%;text-align:left;"> <strong>Pack Type <span style="color:red">*</span></strong></td>
                <td style="width:80%;text-align:left;color:blue;margin:0;padding:0;">
                    <textarea name="packType" [(ngModel)]="packType" required rows="7" ></textarea>
                </td>
              </tr>
              <tr>
                <td style="width:20%;text-align:left;"> <strong>Product Feasibility & TCD <span style="color:red">*</span></strong></td>
                <td style="width:80%;text-align:left;color:blue;margin:0;padding:0;"> 
                  <input type="date" name="prodFeasibiTcd" [(ngModel)]="prodFeasibiTcd" required>
                </td>
              </tr>
            </table>
          </div>

        </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-success" (click)="saveFeasibilityForm()">Save Feasibility</button>
    <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
  </div>
</div>




<clr-modal [(clrModalOpen)]="isProductView" clrModalSize="xl"  [clrModalClosable]="true">
  <h3 class="modal-title"> View Product Details </h3>
  <div class="modal-body">
    <div class="card">
      <div class="card-block">
        <div class="card-text">
        
              <div class="clr-row">
            
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Tentative Launch Dt. <span style="color: red">*</span></label>
                  <input type="date" name="tentative_launch_dt" [(ngModel)]="selectedEnquiry['tentative_launch_dt']" readonly required>
                </div>

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Product Name <span style="color: red">*</span></label>
                  <input type="text" name="product_name" [(ngModel)]="selectedEnquiry['product_name']" readonly required>
                </div>
            
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Suggestive Fill Volume of the Pack</label>
                  <input type="text" name="suggestive_fill_volume" [(ngModel)]="selectedEnquiry['suggestive_fill_volume']" readonly>
                </div>

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Demography</label>
                  <input type="text" name="demography" [(ngModel)]="selectedEnquiry['demography']" readonly>
                </div>
            
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Projected Volume Qty in Nos</label>
                  <input type="text" name="projected_volume" [(ngModel)]="selectedEnquiry['projected_volume']" readonly>
                </div>

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Projected Volume For </label>
                  <input type="text" name="projected_volume_for" [(ngModel)]="selectedEnquiry['projected_volume_for']" readonly>
                </div>

                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                  <label>Suggestive Primary Packaging Type</label>
                  <textarea name="primary_packaging_type" [(ngModel)]="selectedEnquiry['primary_packaging_type']" readonly rows="2"></textarea>
                </div>
            
                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                  <label>Suggestive Secondary Packaging Type</label>
                  <textarea name="secondary_packaging_type" [(ngModel)]="selectedEnquiry['secondary_packaging_type']" readonly rows="2"></textarea>
                </div>

                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                  <label>Primary Claims</label>
                  <textarea name="primary_claims" [(ngModel)]="selectedEnquiry['primary_claims']" readonly rows="2"></textarea>
                </div>
            
                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                  <label>Secondary Claim</label>
                  <textarea name="secondary_claim" [(ngModel)]="selectedEnquiry['secondary_claim']" readonly rows="2"></textarea>
                </div>

                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                  <label>Product / Material Certification for Technical Procurement</label>
                  <textarea name="product_certification" [(ngModel)]="selectedEnquiry['product_certification']" readonly rows="2"></textarea>
                </div>
              
                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                  <label>Colour Match Reference</label>
                  <textarea name="colour_match_reference" [(ngModel)]="selectedEnquiry['colour_match_reference']" readonly rows="2"></textarea>
                </div>

                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                  <label>Textures / Appearance reference</label>
                  <textarea name="textures_appearance_reference" [(ngModel)]="selectedEnquiry['textures_appearance_reference']" readonly rows="2"></textarea>
                </div>
            
                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                  <label>FG Benchmark Product</label>
                  <textarea name="fg_benchmark_product" [(ngModel)]="selectedEnquiry['fg_benchmark_product']" readonly rows="2"></textarea>
                </div>

                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                  <label>Performance Expectation</label>
                  <textarea name="performance_expectation" [(ngModel)]="selectedEnquiry['performance_expectation']" readonly rows="2"></textarea>
                </div>
            
                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                  <label>Ref. Product / Benchmark Prod. Ingredient List - Only for Ref.</label>
                  <textarea name="benchmark_ingredient_list" [(ngModel)]="selectedEnquiry['benchmark_ingredient_list']" readonly rows="2"></textarea>
                </div>

                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                  <label>Fragrance Reference</label>
                  <textarea name="fragrance_reference" [(ngModel)]="selectedEnquiry['fragrance_reference']" readonly rows="2"></textarea>
                </div>
            
                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                  <label>Phase of development</label>
                  <textarea name="phase_of_development" [(ngModel)]="selectedEnquiry['phase_of_development']" readonly rows="2"></textarea>
                </div>

                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                  <label>Export Requirement - Certification</label>
                  <textarea name="export_certification" [(ngModel)]="selectedEnquiry['export_certification']" readonly rows="2"></textarea>
                </div>
            
                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                  <label>Shelf Life as per customer</label>
                  <textarea name="shelf_life" [(ngModel)]="selectedEnquiry['shelf_life']" readonly rows="2"></textarea>
                </div>

                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                  <label>Mandatory Tests Reports</label>
                  <textarea name="mandatory_tests_reports" [(ngModel)]="selectedEnquiry['mandatory_tests_reports']" readonly rows="2"></textarea>
                </div>
            

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Target Price</label>
                  <input type="number" name="target_price" [(ngModel)]="selectedEnquiry['target_price']" readonly>
                </div>

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>MRP</label>
                  <input type="number" name="mrp" [(ngModel)]="selectedEnquiry['mrp']" readonly >
                </div>
<!--             
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Timeline of the sample</label>
                  <input type="text" name="sample_timeline" [(ngModel)]="selectedEnquiry['sample_timeline']" readonly>
                </div>

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Formula Number</label>
                  <input type="text" name="formula_number" [(ngModel)]="selectedEnquiry['formula_number']" readonly>
                </div>
              
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Date of Submission</label>
                  <input type="date" name="submission_date" [(ngModel)]="selectedEnquiry['submission_date']" readonly>
                </div>

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Revision Required</label>
                  <input type="text" name="revision_required" [(ngModel)]="selectedEnquiry['revision_required']" readonly>
                </div>
            
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Second Sample Submission</label>
                  <input type="text" name="second_sample_submission" [(ngModel)]="selectedEnquiry['second_sample_submission']" readonly>
                </div> -->
              </div>

        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="isProductView = false">{{'common.close' | translate}}</button>
  </div>
</clr-modal>


 
  