<div class="container-fluid" *ngIf="isNewForm">
  <div class="card">
    <div class="card-header">User Rights</div>
    <div class="card-block">
      <div class="card-text">
        <form #roleForm="ngForm">
        <div class="clr-row">
          <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
            <label>Employee Id</label>
            <select name="employee_id" ngModel (change)="getSelectedEmployee($event.target.selectedIndex)" required>
              <option></option>
              <option *ngFor="let employee of employees" [value]="employee.emp_id">{{ employee.emp_name }}</option>
            </select>
          </div>
          <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12" *ngIf="isFirst">
            <label>Employee Name</label>
            <input type="text" name="emp_name" ngModel="{{selectedEmployee['emp_name']}}" readonly required>
          </div>
          <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12" *ngIf="isFirst">
            <label>{{'common.department' | translate}}</label>
            <input type="text" name="department" ngModel="{{selectedEmployee['department']}}" readonly required>
          </div>
          <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12" *ngIf="isFirst">
            <label>{{'common.designation' | translate}}</label>
            <input type="text" name="designation" ngModel="{{selectedEmployee['designation']}}" readonly required>
          </div>
          <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12" *ngIf="isFirst">
            <div class="clr-form-control">
              <label class="clr-control-label">User Rights</label>
              <div class="clr-control-container clr-control-inline">
                <div class="clr-checkbox-wrapper">
                  <input type="checkbox" id="user" name="user" ngModel class="clr-checkbox">
                  <label for="user" class="clr-control-label">User</label>
                </div>
                <div class="clr-checkbox-wrapper">
                  <input type="checkbox" id="checker" name="checker" ngModel class="clr-checkbox">
                  <label for="checker" class="clr-control-label">Checker</label>
                </div>
                <div class="clr-checkbox-wrapper">
                  <input type="checkbox" id="approver" name="approver" ngModel class="clr-checkbox">
                  <label for="approver" class="clr-control-label">Approver</label>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
            <label>Official Mail Applicable?</label>
            <select name="official_mail" ngModel="No" required>
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
            <label>Official Phone No Applicable?</label>
            <select name="official_phone" ngModel="No" required>
              <option>Yes</option>
              <option>No</option>
            </select>
          </div> -->
        </div>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="assignRole(roleForm)">{{'common.save' | translate}}</button>
      <button class="btn btn-danger" (click)="isNewForm = false">{{'common.close' | translate}}</button>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="!isNewForm">
  <div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;"> User Rights</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" routerLink="/" style="background-color: red;color: white;">
            <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
          </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <button class="btn btn-sm btn-info" (click)="isNewForm = true">ASSIGN USER RIGHTS</button>
        <clr-datagrid>
          <clr-dg-column>Employee Id</clr-dg-column>
          <clr-dg-column>{{'common.name' | translate}}</clr-dg-column>
          <clr-dg-column>{{'common.department' | translate}}</clr-dg-column>
          <clr-dg-column>{{'common.designation' | translate}}</clr-dg-column>
          <clr-dg-column>User</clr-dg-column>
          <clr-dg-column>Checker</clr-dg-column>
          <clr-dg-column>Approver</clr-dg-column>
          <!-- <clr-dg-column>Office Mail</clr-dg-column>
          <clr-dg-column>Office Contact No.</clr-dg-column> -->
      
          <clr-dg-row *ngFor="let user of rights">
              <clr-dg-cell>{{user.emp_id}}</clr-dg-cell>
              <clr-dg-cell>{{user.emp_name}}</clr-dg-cell>
              <clr-dg-cell>{{user.department}}</clr-dg-cell>
              <clr-dg-cell>{{user.designation}}</clr-dg-cell>
              <clr-dg-cell *ngIf="user.isuser == 'true'" style="color: green;">{{user.isuser}}</clr-dg-cell>
              <clr-dg-cell *ngIf="user.isuser !== 'true'" style="color: red;">{{user.isuser}}</clr-dg-cell>
              <clr-dg-cell *ngIf="user.ischecker == 'true'" style="color: green;">{{user.ischecker}}</clr-dg-cell>
              <clr-dg-cell *ngIf="user.ischecker !== 'true'" style="color: red;">{{user.ischecker}}</clr-dg-cell>
              <clr-dg-cell *ngIf="user.isapprover == 'true'" style="color: green;">{{user.isapprover}}</clr-dg-cell>
              <clr-dg-cell *ngIf="user.isapprover !== 'true'" style="color: red;">{{user.isapprover}}</clr-dg-cell>
              <!-- <clr-dg-cell>{{user.official_mail}}</clr-dg-cell>
              <clr-dg-cell>{{user.official_phone}}</clr-dg-cell> -->
          </clr-dg-row>
        </clr-datagrid>
      </div>
    </div>
  </div>
</div>