.card{
    border-color: #0065AB;
  }
  .card-header{
    background-color: #0065AB;
    color: white;
    text-align: center;
  }
  select, input[type=text], input[type=tel], input[type=email], input[type=date], input[type=time] {
    width: 100%;
    height: auto;
    padding: 4px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
  }
  input:read-only{
    background-color: lightgray;
  }
  