<div class="container-fluid" *ngIf="!isView">   
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Awaiting Form</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/hr/employees/interview" style="background-color: red;color: white;">
                  <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                </button>
              </div>
            </div>
        </div>
        <div class="card-block">
            <div class="unique-table-wrapper">
                <table class="table unique-table">
                    <tr>
                        <th>Candidate Name</th>
                        <th> Mobile No</th>
                        <th>Qualification</th>
                        <th> Applied Department</th>
                        <th> Designation</th>
                        <th> Status</th>
                        <th>View</th>
                    </tr>
                    <tr *ngFor="let res of results;let i=index">
                        <td>{{ res.candidate_name}}</td>
                        <td>{{ (res.mobile_no | canadianPhone)}} </td>
                        <td>{{ res.qualification}}</td>
                        <td>{{ res.department}}</td>
                        <td> {{ res.designation }}</td>
                        <td> {{ res.status | titlecase }}</td>
                        <td>
                            <button  class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                        </td>
                        <tr *ngIf="results?.length==0">
                        <td colspan="9" style="text-align: center;"> No Record Found!</td>
                    </tr>
                </table>
                <!-- <clr-datagrid [clrDgLoading]="loading">
                  
                    <clr-dg-column clrDgField="candidate_name">Candidate Name</clr-dg-column>
                    <clr-dg-column clrDgField="mobile_no"> Mobile No</clr-dg-column>
                    <clr-dg-column clrDgField="qualification">Qualification</clr-dg-column>
                    <clr-dg-column clrDgField="department">Applied Department</clr-dg-column>
                    <clr-dg-column clrDgField="designation">{{'common.designation' | translate}}</clr-dg-column>
                    <clr-dg-column clrDgField="status">{{'common.status' | translate}}</clr-dg-column>
                    <clr-dg-column>View</clr-dg-column>
            
                <clr-dg-row *clrDgItem="let res of results;let i=index">
                    <clr-dg-cell>{{ res.candidate_name}}</clr-dg-cell>
                    <clr-dg-cell>{{ (res.mobile_no | canadianPhone)}} </clr-dg-cell>
                    <clr-dg-cell>{{ res.qualification}}</clr-dg-cell>
                    <clr-dg-cell>{{ res.department}}</clr-dg-cell>
                    <clr-dg-cell>{{ res.designation }}</clr-dg-cell>
                    <clr-dg-cell>{{ res.status | titlecase }}</clr-dg-cell>
                    <clr-dg-cell>
                        <button  class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                    </clr-dg-cell>
                </clr-dg-row>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} res
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid> -->
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="isView">
    <div class="card">
        <div class="card-header">Awaiting Form</div>
        <div class="card-block">
            <div class="card-text">
                <div class="clr-row">
                    <h3> Candidate Details:</h3>
                    <table class="table">
                        <tr> 
                            <td style="text-align: left; width: 20%;">Candidate Name:</td>
                            <td style="text-align: left;">{{ selectedReport['candidate_name'] }}</td>
                        </tr>
                        <tr> 
                            <td style="text-align: left; width: 20%;">Email Id:</td>
                            <td style="text-align: left;">{{ selectedReport['email_id']}}</td>
                        </tr>
                        <tr> 
                            <td style="text-align: left; width: 20%;"> Qualification:</td>
                            <td style="text-align: left;">{{ selectedReport['qualification']}}</td>
                        </tr>
                        <tr> 
                            <td style="text-align: left; width: 20%;"> Applied Department:</td>
                            <td style="text-align: left;">{{ selectedReport['department']}}</td>
                        </tr>
                        <tr> 
                            <td style="text-align: left; width: 20%;"> Designation:</td>
                            <td style="text-align: left;">{{ selectedReport['designation']}}</td>
                        </tr>
                    </table>
                    <h3> Remark: </h3>
                    <form #remarkForm="ngForm">
                        <table class="table">
                            <tr>
                                <th style="background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                                <th style="background-color: rgb(14, 67, 112); color: white;">Question</th>
                                <th style="background-color: rgb(14, 67, 112); color: white;">{{'common.table.remark' | translate}}</th>
                            </tr>
                            <tr *ngFor="let question of questions; let i = index">
                                <td>{{ i + 1 }}.</td>
                                <td style="text-align: left;">{{ question.question }}</td>
                                <td style="padding: 0px;">
                                    <select name="rating{{ i }}" [(ngModel)]="question.rating" required style="margin: 0px; height: 33px;">
                                        <option></option>
                                        <option value="5">Exceptional</option>
                                        <option value="4">Above Average</option>
                                        <option value="3">Average</option>
                                        <option value="2">Below Average</option>
                                        <option value="1">Unsatisfactory</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="save(remarkForm)">{{'common.save' | translate}}</button>
            <button class="btn btn-danger" (click)="isView=false">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>
