<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Calibration Of Polarimeter</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-success" (click)=new()>{{'common.new' | translate}}</button>
                <button class="btn btn-sm btn-danger" routerLink="/qc/qc-calibration">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text" *ngIf="isNew">
            <form #polirimeterForm="ngForm">
                <div class="clr-row">
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                        <label>50 % Solution of sucrose:</label>
                        <input type="number" name="solution50" [(ngModel)]="solution50" >
                    </div>

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>40% Solution:</label>
                        <input type="number" name="solution40" [(ngModel)]="solution40">
                    </div>

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                        <label>30% Solution:</label>
                        <input type="number" name="solution30" [(ngModel)]="solution30" >
                    </div>

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>20% Solution:</label>
                        <input type="number" name="solution20"[(ngModel)]="solution20" >
                    </div>
                    
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>10% Solution:</label>
                        <input type="number" name="solution10" [(ngModel)]="solution10" >
                    </div>
                     
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Remark:</label>
                      <select name="remark" ngModel>
                          <option></option>
                          <option>Satisfactory</option>
                          <option>Not satisfactory</option>
                         </select>
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Calibrated by /Date:</label>
                        <input type="date" name="calibrate_date" [(ngModel)]="calibrate_date">
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Checked By/Date :</label>
                        <input type="date" name="check_date" [(ngModel)]="check_date">
                    </div>
                    <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                        <button class="btn btn-success" (click)="save(polirimeterForm)">{{'common.save' | translate}}</button>
                        <button class="btn btn-danger" (click)="isNew = false">{{'common.close' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-text" *ngIf="!isNew">
            <div class="clr-row">
                <div class="clr-col-lg-12 clr-col-md-8 clr-col-sm-4 clr-col-xs-12" style="margin-top:10px;">
                    <table class="table table-border">
                        <tr>
                            <td style="text-align:left; width: 25%;">Subject :</td>
                            <td style="text-align:left"></td>
                            <td style="text-align:left; width: 25%;">Date Of Calibration </td>
                            <td style="text-align:left"></td>
                        </tr>
                        <tr>
                            <td style="text-align:left">Instrument :</td>
                            <td style="text-align:left"></td>
                            <td style="text-align:left">Next Calibration Due</td>
                            <td style="text-align:left"></td>
                        </tr>
                        <tr>
                            <td style="text-align:left">Instrument ID:</td>
                            <td style="text-align:left" colspan="3"></td>
                        </tr>
                   </table>
                </div>
         </div>
         <table class="table table-border">
                <tr>
                    <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;" colpan="1">Sr. No.</th>
                    <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;" colspan="5">Optical Rotation (at 25°C ±0.5°C) </th>
                    <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;" rowspan="4">{{'common.table.remark' | translate}}</th>
                    <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;" rowspan="4">Calibrated by /Date</th>
                    <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;" rowspan="4">Checked By/Date </th>
                </tr>
                <tr>
                    <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;" colspan="1">Limit</th>
                    <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;">6.632 to 6.698</th>
                    <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;">13.238 to 13.372</th>
                    <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;">19.830 to 20.030</th>
                    <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;">26.397 to 26.663</th>
                    <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;">32.949 to 33.281</th>
               </tr>
               <tr>
                   <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;" colspan="1">Chemical Name</th>
                   <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;" colspan="5">Sucrose</th>
               </tr>
               <tr>
                <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;" colspan="1">Strength  of Std. Solution  </th>
                <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;">10 %</th>
                <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;">20 %</th>
                <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;">30 %</th>
                <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;">40 %</th>
                <th style="vertical-align: middle; background-color: rgb(14, 67, 112); color: white;">50 %</th>
           </tr>
          
            <tr *ngFor="let result of results; let i= index">
                <td>{{ i+1}}</td>
                  <td>{{result.solution50}}</td>
                  <td>{{result.solution40}}</td>
                  <td>{{result.solution30}}</td>
                  <td>{{result.solution20}}</td>
                  <td>{{result.solution10}}</td>
                  <td>{{result.remark}}</td>
                  <td>{{result.calibrate_date}}</td>
                  <td>{{result.check_date}}</td>
            </tr>
              <tr>
                <th style="text-align: left;" colspan="1">Average</th>
                <th style="text-align: left;" colspan="8"></th>
               </tr>
               <tr>
                <th style="text-align: left;" colspan="4">Co-relation coefficient (R2) ≥ 0.98</th>
                <th style="text-align: left;" colspan="5"></th>
               </tr>
         </table>
        
            <div class="card-footer">
                <button class="btn btn-primary" (click)="download()">{{'common.download' | translate}}</button>
            </div>
        </div>
    </div>