<div class="container-fluid" *ngIf="!isView">
    <div class="card">
        <div class="card-header" style="text-align: center">
          <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Awaiting Glassware Materials</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
              <button class="btn btn-sm" routerLink="/qc/glassware/receiving" style="background-color: red;color: white;"> {{'common.close' | translate}} </button>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-text">
            <table class="table">
              <tr>
                <th>Sr.</th>
                <th style="text-align: left;">Material Type</th>
                <th style="text-align: left;">Glassware No</th>
                <th style="text-align: left;">Glassware Name</th>
                <th>PO No</th>
                <th>PO Date</th>
                <th style="text-align: left;">Vendor Name</th>
                <th style="text-align: left;">Packaging Slip</th>
                <th>Packaging Slip Date</th>
                <th>{{'common.table.action' | translate}}</th>
              </tr>
              <tr *ngFor="let user of results; let i = index">
                <td>{{ i + 1 }}.</td>
                <td style="text-align: left;">{{user.material_type}}</td>
                <td style="text-align: left;">{{user.material_code}}</td>
                <td style="text-align: left;">{{user.name }}</td>
                <td>{{user.po_no}}</td>
                <td>{{user.po_date}}</td>
                <td style="text-align: left;">{{user.vendor_name}}</td>
                <td style="text-align: left;">{{user.challan_no}}</td>
                <td>{{user.challan_date}}</td>
                <td>
                  <button class="btn btn-sm btn-info" (click)="viewResult(i)">receive</button>
                </td>
              </tr>
              <tr *ngIf="results?.length == 0">
                <td colspan="9">{{'common.noRecords' | translate}}</td>
              </tr>
            </table>
          </div>
        </div>
    </div>
  </div>
  
  <div class="container-fluid" *ngIf="isView">
    <div class="card">
      <div class="card-header">Awaiting of Raw Materials</div>
      <div class="card-block">
        <div class="card-text"> 
          <table class="table" style="border: 1px solid black;">
            <tr>
              <td style="text-align: left;border: 1px solid;"><b>Material Name:</b></td>
              <td colspan="3" style="text-align: left;border: 1px solid;">{{ selectedPO['material_name'] }}</td>
            </tr>
            <tr>
              <td style="text-align: left;border: 1px solid;"><b>Vendor Name:</b></td>
              <td  style="text-align: left;border: 1px solid;">{{ selectedPO['vendor_name'] }}</td>
              <td style="text-align: left;border: 1px solid;"><b>Vendor Type:</b></td>
              <td style="text-align: left;border: 1px solid;">{{ selectedPO['vendor_type'] }}</td>
            </tr>
            <tr>
              <td style="text-align: left;"><b>Packaging Slip:</b></td>
              <td style="text-align: left;border-right: 1px solid black;">{{ selectedPO['challan_no'] }}</td>
              <td style="text-align: left;"><b>Packaging Slip Date:</b></td>
              <td style="text-align: left;">{{ selectedPO['challan_date'] }}</td>
            </tr>
            <tr>
              <td style="text-align: left;"><b>PO No.:</b></td>
              <td style="text-align: left;border-right: 1px solid black;">{{ selectedPO['po_no'] }}</td>
              <td style="text-align: left;"><b>PO Date:</b></td>
              <td style="text-align: left;">{{ selectedPO['po_date'] }}</td>
            </tr>
            <tr>
              <td style="text-align: left;"><b>Material Type:</b></td>
              <td style="text-align: left;border-right: 1px solid black;">{{ selectedPO['material_type'] }}</td>
              <td style="text-align: left;"><b>Material Subtype:</b></td>
              <td style="text-align: left;">{{ selectedPO['material_subtype'] }}</td>
            </tr>
            <tr>
              <td style="text-align: left;"><b>Material Code:</b></td>
              <td style="text-align: left;border-right: 1px solid black;">{{ selectedPO['material_code'] }}</td>
              <td style="text-align: left;"><b>Material Grade:</b></td>
              <td style="text-align: left;">{{ selectedPO['grade'] }}</td>
            </tr>
            <tr>
              <td style="text-align: left;"><b>PO Qty:</b></td>
              <td style="text-align: left;border-right: 1px solid black;" colspan="3">{{ selectedPO['qty'] }} {{ selectedPO['unit'] }}</td>
            </tr>
          </table>
          <h4>Manufacturer/Supplier</h4>
          <input type="text" name="manufacturer" [(ngModel)]="manufacturer" required>
          <h3>Labeling Details:</h3>
          <form #labelform="ngForm">
            <table class="table">
              <tr>
                <th>Sr.</th>
                <th>Medicap Lot No</th>
                <th>Qty</th>
                <th>No Of Containers</th>
                <th>Mfg Date</th>
                <th>Exp Date</th>
                <th>{{'common.table.action' | translate}}</th>
              </tr>
              <tr>
                  <td>1.</td>
                  <td style="padding:0px;"> <input type="text" name="batch_no" ngModel required style="margin:0px;"></td>
                  <td style="padding:0px;"> <input type="text" name="qty_received" ngModel required style="margin:0px;"> </td>
                  <td style="padding: 0px;"> <input type="number" OnlyNumber="true" name="total_containers" [(ngModel)]="total_containers" required style="margin: 0px;"></td>
                  <td style="padding:0px;"><input type="month" name="mfg_date" ngModel required style="margin:0px;"></td>
                  <td style="padding:0px;"> <input type="month" name="exp_date" ngModel required style="margin:0px;"></td>
                  <td> <button class="btn btn-sm btn-info" (click)="addlabel(labelform)">{{'common.add' | translate}}</button></td>
              </tr>
              <tr *ngFor="let list of labelList;let i=index">
                <td>{{i+1}}</td>
                <td>{{list.batch_no}}</td>
                <td>{{list.qty_received}}</td>
                <td>{{list.total_containers}}</td>
                <td>{{list.mfg_date}}</td>
                <td>{{list.exp_date}}</td>
                <td>
                  <button class="btn btn-sm btn-info" (click)="deleteLabel(i)">{{'common.delete' | translate}}</button>
                </td>
              </tr>
              <tr *ngIf="labelList?.length == 0">
                  <td colspan="5">No Record Found!</td>
              </tr>
            </table>
          </form>
          
          
          <form #receivingForm="ngForm" style="margin-top:20px;">
            <div class="clr-row">
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-6 clr-col-xs-12">
                <label>Total Received Qty: {{ selectedPO['unit'] }}</label>
                <input type="text" OnlyNumdigit="true" name="received_qty" [(ngModel)]="qtyReceived" required readonly tabindex="-1">
              </div>
              <div class="clr-col-lg-4 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                <label>Total No.of Containers:</label>
                <input type="text" name="containerTotal" [(ngModel)]="containerTotal" required readonly tabindex="-1">
              </div>
              <div class="clr-col-lg-4 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                <label>Short / Extra Quantity</label>
                <input type="text" OnlyNumdigit="true" name="qty_status" [(ngModel)]="result" required readonly tabindex="-1">
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-lg-4 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                <label>PO Status</label>
                <select name="po_status" ngModel required>
                  <select></select>
                   <option></option>
                    <option>Ok</option>
                    <option>Keep Open</option>
                    <option>Accept</option>
                    <option>Raise Additional</option>
                    <option>Return Material</option>
                </select>
              </div>
              <div class="clr-col-lg-4 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                <label>Pack Size:</label>
                <input type="text" OnlyNumber="true" name="pack_size" ngModel required>
              </div>
              <div class="clr-col-lg-4 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                <label>Challan Qty: {{ selectedPO['unit'] }}</label>
                <input type="text" OnlyNumdigit="true" name="challan_qty" (keypress)="number($event.target.value)" ngModel required>
              </div> 
              <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                <label>Received Qty: {{ selectedPO['unit'] }}</label>
                <input type="text" OnlyNumdigit="true" name="qty_received" (keypress)="number($event.target.value)" (change)="checkqtn($event.target.value)" [(ngModel)]="qty_received" required>
              </div>  -->
              <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                <label>Received Qty: {{ selectedPO['unit'] }}</label>
                <input type="text" OnlyNumdigit="true" name="qty_received" (keypress)="number($event.target.value)"  [(ngModel)]="qty_received" required>
              </div> -->
            
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label>Damage Container Observed:</label>
                <select name="isdamagecontainer" ngModel="No" (change)="checkdamage($event.target.value)">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" *ngIf="isDamage">
                <label>Outer Damage Containers:</label>
                <input type="text" OnlyNumber="true" name="outer_damage" [(ngModel)]="outer_damage">
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" *ngIf="isDamage">
                <label>Inner Damage Containers:</label>
                <input type="text" OnlyNumber="true" name="inner_damage" [(ngModel)]="inner_damage">
              </div>
              <div class="clr-col-lg-12 clr-col-md-12 clr-col-xs-12" *ngIf="isDamage">
                <label>Remark (if Any):</label>
                <textarea rows="2" name="remark" ngModel required></textarea>
              </div>
            </div>
            <h3>Packing Details:</h3>
            <div class="clr-row">
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-xs-12">
                <label>Packing Intactness / Condition:</label>
                <select name="packing_condition" ngModel required>
                  <option>OK</option>
                  <option>NOT OK</option>
                </select>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-xs-12">
                <label>Outer Packing:</label>
                <select id="outer_packing" name="outer_packing" ngModel required>
                  <option>Sealed</option>
                  <option>Unsealed</option>
                </select>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-xs-12">
                <label>Container type:</label>
                <select name="container_type" ngModel (change)="checkContainerType($event.target.value)" required>
                  <option>Drum</option>
                  <option>Bag</option>
                  <option>Boxes</option>
                </select>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-xs-12" *ngIf="isDrum">
                <label>Drum:</label>
                <select name="container_subtype" ngModel required>
                  <option>Plastic</option>
                  <option>HDPE Drum</option>
                  <option>Fiber Board Drum</option>
                  <option>Aluminium Container</option>
                </select>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-xs-12" *ngIf="isBag">
                <label>Bag:</label>
                <select name="container_subtype" ngModel required>
                  <option>Polyethylene Bag</option>
                  <option>Pollinated Bag</option>
                  <option>Gunny Bag</option>
                </select>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-xs-12" *ngIf="isBox">
                <label>Boxes:</label>
                <select name="container_subtype" ngModel required>
                  <option>Corrugated Boxes</option>
                  <option>Cartons</option>
                </select>
              </div>
            </div>
            <h3>Transporter’s Details:</h3>
            <div class="clr-row">
              <div class="clr-col-4">
                <label>Vehicle Condition:</label>
                <select name="vehicle_condition" ngModel required>
                  <option>OPEN</option>
                  <option>COVERED</option>
                </select>
              </div>
              <div class="clr-col-4">
                <label>COA Received:</label>
                <select name="coa_received" ngModel="Yes" (change)="checkcoa($event.target.value)" required>
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>
              <div class="clr-col-4" *ngIf="!isCOA">
                <label>Upload COA:</label>
                <input type="file" name="upload_coa" (change)="onFileChanged($event)" accept="application/pdf">
              </div>
            </div>
  
            <div *ngIf="isCOA">
              <h3>Deviation Details:</h3>
              <div class="clr-row" ngModelGroup="deviation">
                <div class="clr-col-4">
                  <label>Deviation Related To:</label>
                  <input type="text" name="related_to" ngModel="Material" readonly tabindex="-1">
                </div>
                <div class="clr-col-4">
                  <label>Deviation Category:</label>
                  <input type="text" name="deviation_category" ngModel="Unplanned Deviation" readonly tabindex="-1">
                </div>
                <div class="clr-col-4">
                  <label>Type Of Deviation:</label>
                  <select name="type" ngModel required>
                    <option value="Minor">Minor</option>
                    <option value="Major">Major</option>
                    <option value="Critical">Critical</option>
                  </select>
                </div>
                <div class="clr-col-4">
                  <label>Justification for type:</label>
                  <textarea name="justification" ngModel required></textarea>
                </div>
                <div class="clr-col-4">
                  <label>Cause of Deviation:</label>
                  <textarea name="cause" ngModel required></textarea>
                </div>
                <div class="clr-col-4">
                  <label>Description of Deviation:</label>
                  <textarea name="description" ngModel required></textarea>
                </div>
                <div class="clr-col-12">
                  <fieldset style="border: solid 1px #a8a8a8;">
                    <legend style="width:auto; margin-bottom: 0px; font-size: 12px; font-weight: bold; color: #1f497d;">Cross Functional Departments Remark</legend>
                    <div class="clr-row" style="padding-left: 15px;">
                      <div class="clr-control-container clr-control-inline">
                        <div class="clr-checkbox-wrapper" *ngFor="let order of departments; let i = index">
                          <input class="clr-checkbox" id="{{order.name}}" type="checkbox" name="{{order.name}}" [(ngModel)]="order.value">
                          <label for="{{order.name}}" class="clr-control-label">{{order.name}}</label>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-lg-6 clr-col-md-6 clr-col-md-12">
                <h5>Dedusting Applicable:</h5>
                  <select name="dedustingmaterial" ngModel (change)="getdedusting($event.target.value)" required>
                      <option></option>
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                  </select>
              </div>
              <div class="clr-col-lg-6 clr-col-md-6 clr-col-md-12" *ngIf="isDedYes">
                <h5> Cleaning Type</h5>
                <select name="cleaning_type" ngModel (change)="getCleaner($event.target.value)">
                  <option value="Manual">Manual Cleaning</option>
                  <option value="Vaccume Cleaner">Vacuum Cleaner</option>
                </select>
              </div>
            </div>
            
             <div ngModelGroup="dedusting">
              <div *ngIf="ismanual && isDedYes">
                <h3>Dedusting Material </h3>
                <table class="table" style="padding-top: 5px;">
                  <tr>
                    <th>Area and Consignment Cleaned By</th>
                    <th>Start Time</th>
                    <th>Stop Time</th>
                  </tr>
                  <tr>
                    <td style="padding: 0px;">
                      <select name="area_cleaned_by" ngModel  style="margin: 0px; height: 33px;">
                        <option></option>
                        <option *ngFor="let operator of labors" [value]="operator.labour_no">{{ operator.labour_name }}</option>
                      </select>
                    </td>
                    <td style="padding: 0px;">
                        <button class="btn btn-primary" (click)="getCurrentTime('from_time', 'area_clean')">START</button>
                        <input type="time" style="margin: 0px;height: 33px;width: auto;" name="area_cleaned_from" [(ngModel)]="area_cleaned_from">
                    </td>
                    <td style="padding: 0px;">
                        <button class="btn btn-danger" (click)="getCurrentTime('to_time', 'area_clean')">STOP</button>
                        <input type="time" style="margin: 0px;height: 33px;width: auto;" name="area_cleaned_to" [(ngModel)]="area_cleaned_to">
                    </td>
                  </tr>
                </table>
              </div>
              <div *ngIf="isvaccume && isDedYes">
                <h3>Dedusting Details:</h3>
                <table class="table" style="padding-top: 5px;">
                  <tr>
                    <th>Vacuum Cleaner</th>
                    <th>Operated By</th>
                    <th>Start Time</th>
                    <th>Stop Time</th>
                  </tr>
                  <tr>
                    <td style="padding: 0px;">
                      <select name="equipment_code" ngModel required style="margin: 0px; height: 33px;">
                        <option></option>
                        <option *ngFor="let equipment of equipments" [value]="equipment.equipment_code">{{ equipment.equipment_code }} (capacity: {{ equipment.capacity }})</option>
                      </select>
                    </td>
                    <td style="padding: 0px;">
                      <select name="operator" ngModel style="margin: 0px; height: 33px;">
                        <option></option>
                        <option *ngFor="let operator of labors" [value]="operator.labour_no">{{ operator.labour_name }}</option>
                      </select>
                    </td>
                    <td style="padding: 0px;">
                        <button class="btn btn-primary" (click)="getCurrentTime('from_time', 'usages')">START</button>
                        <input type="time" style="margin: 0px;height: 33px;width: auto;" name="from_time" [(ngModel)]="from_time">
                    </td>
                    <td style="padding: 0px;">
                        <button class="btn btn-danger" (click)="getCurrentTime('to_time', 'usages')">STOP</button>
                        <input type="time" style="margin: 0px;height: 33px;width: auto;" name="to_time" [(ngModel)]="to_time">
                    </td>
                  </tr>
                </table>
                <table class="table" style="padding-top: 5px;">
                  <tr>
                    <th>Area Cleaned By</th>
                    <th>Start Time</th>
                    <th>Stop Time</th>
                  </tr>
                  <tr>
                    <td style="padding: 0px;">
                      <select name="area_cleaned_by" ngModel  style="margin: 0px; height: 33px;">
                        <option></option>
                        <option *ngFor="let operator of labors" [value]="operator.labour_no">{{ operator.labour_name }}</option>
                      </select>
                    </td>
                    <td style="padding: 0px;">
                        <button class="btn btn-primary" (click)="getCurrentTime('from_time', 'area_clean')">START</button>
                        <input type="time" style="margin: 0px;height: 33px;width: auto;" name="area_cleaned_from" [(ngModel)]="area_cleaned_from">
                    </td>
                    <td style="padding: 0px;">
                        <button class="btn btn-danger" (click)="getCurrentTime('to_time', 'area_clean')">STOP</button>
                        <input type="time" style="margin: 0px;height: 33px;width: auto;" name="area_cleaned_to" [(ngModel)]="area_cleaned_to">
                    </td>
                  </tr>
                </table>
  
                <table class="table" style="padding-top: 5px;">
                  <tr>
                    <th>Equipment Cleaned By</th>
                    <th>Start Time</th>
                    <th>Stop Time</th>
                  </tr>
                  <tr>
                    <td style="padding: 0px;">
                      <select name="equip_cleaned_by" ngModel style="margin: 0px; height: 33px;">
                        <option></option>
                        <option *ngFor="let operator of labors" [value]="operator.labour_no">{{ operator.labour_name }}</option>
                      </select>
                    </td>
                    <td style="padding: 0px;">
                        <button class="btn btn-primary" (click)="getCurrentTime('from_time', 'equip_clean')">START</button>
                        <input type="time" style="margin: 0px;height: 33px;width: auto;" name="equip_cleaned_from" [(ngModel)]="equip_cleaned_from">
                    </td>
                    <td style="padding: 0px;">
                        <button class="btn btn-danger" (click)="getCurrentTime('to_time', 'equip_clean')">STOP</button>
                        <input type="time" style="margin: 0px;height: 33px;width: auto;" name="equip_cleaned_to" [(ngModel)]="equip_cleaned_to">
                    </td>
                  </tr>
                </table>
              </div> 
             </div>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="receiveMaterial(receivingForm)">{{'common.submit' | translate}}</button>
        <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
      </div>
    </div>
  </div>
