<div class="container-fluid" *ngIf="!isView">
    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">QA Head Approval Log</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/qa/capa" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
      <div class="card-block">
       
        <div class="card-text">
            <clr-datagrid [clrDgLoading]="loading">
              
              <clr-dg-column>Sr. </clr-dg-column>
              <clr-dg-column >Capa Refrence Number </clr-dg-column>
              <clr-dg-column >Proposed Completion Date</clr-dg-column>
              <clr-dg-column >Initiation Date</clr-dg-column>
              <clr-dg-column > Key Performance Indicators</clr-dg-column>
              <clr-dg-column >Department Head</clr-dg-column>
              <clr-dg-column >Approval Status</clr-dg-column>
              <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column>
          
          <clr-dg-row *clrDgItems="let result of data; let i = index" [clrDgItem]="result">
              <clr-dg-cell>{{ i+1}}</clr-dg-cell>
              <clr-dg-cell>{{ result.effectiveness_id }}</clr-dg-cell>
              <clr-dg-cell>{{ result.proposed_completion_date| date: 'dd-MM-yyyy'}}</clr-dg-cell>   
              <clr-dg-cell>{{ result.initiation_date | date: 'dd-MM-yyyy'}}</clr-dg-cell>
              <clr-dg-cell>{{ result.key_Performance }}</clr-dg-cell>
              <clr-dg-cell>{{ result.department_head  }}</clr-dg-cell>
              <clr-dg-cell>{{ result.approvel_status }}</clr-dg-cell>
              <clr-dg-cell>
                   <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
              </clr-dg-cell>
          </clr-dg-row>
     
      </clr-datagrid>
        </div>
      </div>
      <div class="card-footer">
        <!-- <button class="btn btn-primary"(click)="download()">{{'common.download' | translate}}</button> -->
      </div>
    </div>
  </div>
<div class="card" *ngIf="isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;"> Effectiveness Plan verification  </div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/qa/capa" style="background-color: red;color: white;">
                    <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <form #newForm="ngForm">    
        <div class="card-text">
            <h4>Effectiveness Plan Details</h4>
                <div class="clr-row">
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Effectiveness Plan ID/Capa Ref.No :<span style="color: red;">*</span></label>
                        <input type="text" name="title" [(ngModel)]="capa_no" readonly>
                    </div>
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Plan Title:<span style="color: red;">*</span></label>
                        <input type="text" name="planTitle" [(ngModel)]="title" readonly>
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                        <label>Responsible Department:<span style="color: red;">*</span></label>
                        <input type="text" name="dept" [(ngModel)]="dept" readonly>
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                        <label>Initiation Date:<span style="color: red;">*</span></label>
                        <input type="date" name="iniationDate" [(ngModel)]="date1" readonly>
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                        <label>Proposed Completion Date:<span style="color: red;">*</span></label>
                        <input type="text" name="completionDate" [(ngModel)]="date2" readonly>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" style="text-align: left; color: black; background-color: lightgreen;">Effectiveness Criteria</div>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Key Performance Indicators:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="keyIndicators"  [(ngModel)]="key" readonly>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Success Criteria:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="successCriteria"  [(ngModel)]="success" readonly>
                        </div>
                    </div>
                </div>
                <div class="card-header" style="text-align: left; color: white; background-color: rgb(154, 107, 230);"> Action Plan</div>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Strategies & Actions:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="action"  [(ngModel)]="action" readonly>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Resource Required:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="resouce"  [(ngModel)]="resource" readonly>
                        </div>
                    </div>
                </div>        
            </div>
            <div class="card">
                <div class="card-header" style="text-align: left;color: black; background-color: rgb(182, 212, 14);"> Review & Approval</div>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Dept. Head:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="dept_head" [(ngModel)]="head" readonly>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Review Date By Dept. Head:<sup style="color: red">*</sup></strong></label>
                            <input type="date" name="review_date" [(ngModel)]="review" readonly>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Dept.Head's Approval Status:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="comments" [(ngModel)]="approval" readonly>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Dept.Head's Comments:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="comments" [(ngModel)]="comments" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" style="text-align: left;color: white; background-color: rgb(212, 103, 14);"> QA Head Approval</div>
                <div class="card-block">
                    <div class="clr-row">
                        <!-- <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Quality Assurance (QA) Head:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="qaHead" ngModel readonly>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>QA Head's Review Date :<sup style="color: red">*</sup></strong></label>
                            <input type="date" name="qaDate" ngModel readonly>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>QA Head's Approval Status:<sup style="color: red">*</sup></strong></label>
                            <select type="text" name="aqApprovalStatus" ngModel readonly>
                                <option></option>
                                <option>{{'common.approved' | translate}}</option>
                                <option>{{'common.pending' | translate}}</option>
                                <option>{{'common.rejected' | translate}}</option>
                            </select> 
                        </div> -->
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>QA Head's Comments:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="qaComments" [(ngModel)]="comments1" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" style="text-align: left;color: white; background-color: rgb(14, 212, 129);"> verification </div>
                <div class="card-block">
                    <div class="clr-row">
                        <!-- <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Verification Officer:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="verifyOfficer" ngModel required>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Verification Date :<sup style="color: red">*</sup></strong></label>
                            <input type="date" name="verifyDate" ngModel required>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Verification Status:<sup style="color: red">*</sup></strong></label>
                            <select type="text" name="verifyStatus" ngModel required>
                                <option></option>
                                <option>Verified</option>
                                <option> Not Verified</option>
                            </select> 
                        </div> -->
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Verification Comments:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="verifyComments" [(ngModel)]="verifyComments" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="save(newForm,'approve')">{{'common.approve' | translate}}</button>    
            <button class="btn btn-primary" (click)="save(newForm,'reject')">{{'common.reject' | translate}}</button>    
        </div>
</div>
