<div class="card" *ngIf="!isView">                     
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">Checking Review</div>
        <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-danger" routerLink="/master/checklist">CLOSE</button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text datagrid-wrapper">
        <clr-datagrid [clrDgLoading]="loading" [clrDgStickyHeader]="true">
           <clr-dg-column>Sr.</clr-dg-column>
           <clr-dg-column>Checklist Heading</clr-dg-column>
           <clr-dg-column>Department</clr-dg-column>
           <clr-dg-column>Module</clr-dg-column>
           <clr-dg-column>Form Name</clr-dg-column>
           <clr-dg-column>Description</clr-dg-column>
           <clr-dg-column>view</clr-dg-column>
   
           <clr-dg-row *clrDgItems="let user of item; let i = index">
             <clr-dg-cell>{{i+1}}</clr-dg-cell>
             <clr-dg-cell>{{user.Checklist_heading}}</clr-dg-cell>
             <clr-dg-cell>{{user.department}}</clr-dg-cell>
             <clr-dg-cell>{{user.module}}</clr-dg-cell>
             <clr-dg-cell>{{user.form_name}}</clr-dg-cell>
             <clr-dg-cell>{{user.description}}</clr-dg-cell>
             <clr-dg-cell>
               <button class="btn btn-sm btn-info" (click)="view(i)">view</button>
             </clr-dg-cell>
          </clr-dg-row>
            <clr-dg-row *clrDgItems="results?.length==0">
                  <clr-dg-cell>No Record Found!</clr-dg-cell>
            </clr-dg-row>  
         </clr-datagrid>
        </div>
    </div>
  </div>
  
  
  <div class="container-fluid" *ngIf="isView">
    <div class="card">
      <div class="card-header">Checklist Master</div>
      <div class="card-block">
        <div class="card-text">
          <table class="table table-border" style="border:solid rgb(14, 67, 112) 1px ;">
            <tr>
              <td style="text-align: left;color: rgb(14, 67, 112);">Checklist Heading:</td>
              <td style="text-align: left;">{{ selectedOrder['checklist_heading'] }}</td>
              <td style="text-align: left;width: 10%;color: rgb(14, 67, 112);">Department:</td>
              <td style="text-align: left;width: 20%;">{{ selectedOrder['department'] }}</td>
            </tr>
            <tr>
              <td style="text-align: left;width: 20%;color: rgb(14, 67, 112);">Module:</td>
              <td style="text-align: left;" colspan="3">{{ selectedOrder['module'] }}</td>
            </tr>
            <tr>
              <td style="text-align: left;width: 20%;color: rgb(14, 67, 112);">Form Name:</td>
              <td style="text-align: left;" colspan="3">{{ selectedOrder['form_name'] }}</td>
            </tr>
            <tr>
              <td style="text-align: left;width: 20%;color: rgb(14, 67, 112);">Checkpoint Particular:</td>
              <td style="text-align: left;" colspan="3">{{ selectedOrder['checkpoint_particular'] }}</td>
            </tr>
            <tr>
              <td style="text-align: left;width: 10%;color: rgb(14, 67, 112);">Description:</td>
              <td style="text-align: left;width: 20%;">{{ selectedOrder['description'] }}</td>
            </tr>
            <tr>
              <td style="text-align: left;width: 10%;color: rgb(14, 67, 112);">Evaluation Parameter:</td>
              <td style="text-align: left;width: 20%;">{{ selectedOrder['evaluation_parameter'] }}</td>
            </tr>
            <tr>
              <td style="text-align: left;width: 20%;color: rgb(14, 67, 112);">Evaluation Type:</td>
              <td style="text-align: left;" colspan="3">{{ selectedOrder['evaluation_type'] }}</td>
            </tr>
          </table>
          
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" (click)="isView">CLOSE</button>
      </div>
    </div>
  </div>