 
<div class="card"  >
    <div class="card-header" style="text-align: center"  >
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">Inter Department Change</div>
        <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
           <button class="btn btn-sm btn-success" routerLink="/hr/employees/deptChange" *ngIf="isuser == 'Yes'">{{'common.new' | translate}}</button>
           <button class="btn btn-sm btn-danger" routerLink="/hr/employees"
            style="color: white;border: 1px solid red;">{{'common.close' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
    
                <clr-datagrid [clrDgLoading]="loading">
                        <clr-dg-column clrDgField="emp_status">{{'common.table.srNo' | translate}}</clr-dg-column>
                        <clr-dg-column clrDgField="emp_id">Emp Id</clr-dg-column>
                         <clr-dg-column style="text-align: left;">{{'common.name' | translate}}</clr-dg-column>
                        <clr-dg-column clrDgField="department">Current Department</clr-dg-column>
                        <clr-dg-column clrDgField="designation">Current Designation</clr-dg-column>
                        <clr-dg-column clrDgField="change_department">Department To Changed</clr-dg-column>
                        <clr-dg-column clrDgField="change_designation">Designation To Changed</clr-dg-column>
                        <clr-dg-column clrDgField="change_department">Old Department</clr-dg-column>
                        <clr-dg-column clrDgField="change_designation">Old Designation</clr-dg-column>
                         <clr-dg-column clrDgField="change_description" style="text-align: left;">Dept Change Description</clr-dg-column>
                        <clr-dg-column>Entry By/Dt.</clr-dg-column>
                        <clr-dg-column>Approved By/Dt.</clr-dg-column>
                    
                        <clr-dg-row *clrDgItems="let user of employees; let i = index" >
                        <clr-dg-cell>{{i+1}}</clr-dg-cell>
                        <clr-dg-cell>{{user.emp_id}}</clr-dg-cell>
                        <clr-dg-cell style="text-align: left;">{{user.firstname}} {{user.middlename}} {{user.lastname}}</clr-dg-cell>
                        <clr-dg-cell>{{user.department}}</clr-dg-cell>
                        <clr-dg-cell>{{user.designation}}</clr-dg-cell>
                        <clr-dg-cell>
                            <span *ngIf="user.status == 'changedept'">{{user.change_department}}</span>
                            <span *ngIf="user.status != 'changedept'">-</span>
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <span *ngIf="user.status == 'changedept'">{{user.change_designation}}</span>
                            <span *ngIf="user.status != 'changedept'">-</span>
                        </clr-dg-cell>

                        <clr-dg-cell>
                            <span *ngIf="user.status != 'changedept'">{{user.change_department}}</span>
                            <span *ngIf="user.status == 'changedept'">-</span>
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <span *ngIf="user.status != 'changedept'">{{user.change_designation}}</span>
                            <span *ngIf="user.status == 'changedept'">-</span>
                        </clr-dg-cell>
                        <clr-dg-cell style="text-align: left;">{{user.change_description }}</clr-dg-cell>
                        <clr-dg-cell style="text-align: left;">{{user.changeDeptBy}} / {{user.changeDeptOn | date:'dd-MM-yyyy'}}</clr-dg-cell>
                        <clr-dg-cell> 
                          <span  *ngIf="user.status != 'changedept'"  >{{user.changeDeptAppBy}} / {{user.changeDeptAppOn | date:'dd-MM-yyyy'}}</span>
                          <button  *ngIf="user.status == 'changedept'"    class="btn btn-sm btn-success" (click)="openDigiSign(user,'Approved')">Approve Request</button>
                          <button  *ngIf="user.status == 'changedept'"    class="btn btn-sm btn-danger" (click)="openDigiSign(user,'Rejected')">Reject Request</button>
                        </clr-dg-cell>
                    </clr-dg-row>
                </clr-datagrid>
      </div>
    </div>

  </div>
   
 

<clr-modal [(clrModalOpen)]="isDIGI" [clrModalClosable]="true">
    <h3 class="modal-title">&#9989; Sign Digitally For User ID : <span style="color: blue;">{{emp_id}} </span></h3>
    <div class="modal-body">
      <div class="card">
        <div class="card-block">
          <div class="card-text">
            <form #addMaterialForm="ngForm">
              <div class="modal-body">
                <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                  <label>Enter Passward Or 4 Digit Authorization PIN <span style="color: red">*</span></label>
                  <input type="password" name="loginPassward" [(ngModel)]="loginPassward" required >
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success" (click)="digiSign(addMaterialForm)">{{'common.submit' | translate}}</button>
         </div>
      </div>
    </div>
  </clr-modal>
  
  
 