/* Master DashBoard Design Start*/
.module {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  
  .subdiv {
    background: antiquewhite;
    border-radius: 20px;
  }
  
  .close-block {
    display: flex;
    position: relative;
    justify-content: center;
  }
  .name-board1 {
    font-size: 24px;
    cursor: pointer;
    border-radius: 3px;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    width: 25px;
    padding: 3px;
    min-width: 29px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .master-block {
    background: #abbedf;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
  }
  
  .heading-container {
    text-align: center;
    display: flex;
    margin: 0 auto;
    align-items: center;
  }

  .heading-container h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-weight: 700;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 3px;
    background: #31318b78;
    color: white;
    font-size: 17px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  
.heading-container button {
    position: absolute;
    top: 10px;
    right: 30%;
  }
  /* Master DashBoard Design End*/