<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-9" style="color: aliceblue;margin-top: -2px;text-align: left;">New Calibration of Bulk Density Apparutas</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-success"(click)=new()>{{'common.new' | translate}}</button>
                <button class="btn btn-sm btn-danger" routerLink="/qc/qc-calibration">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text" *ngIf="isNew">
            <form #phForm="ngForm">
                <div class="clr-row">
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                        <label>Set:</label>
                        <input type="text" name="set" [(ngModel)]="set" />
                    </div>
                   <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                        <label>Weight of DST (75 mg to 125 mg):</label>
                        <input type="text" name="weight_dst" [(ngModel)]="weight_dst" />
                    </div>

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>K.F. Consumed (mL):</label>
                        <input type="text" name="consumed" [(ngModel)]="consumed" />
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>% Moisture(Limit: 14.66 mg/mL to 16.66 mg/ mL):</label>
                        <input type="text" name="moisture" [(ngModel)]="moisture" />
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Average % moisture(Limit: 14.66 %mg/mL to 16.66% mg/ mL):</label>
                        <input type="text" name="average" [(ngModel)]="average" />
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Performed by:</label>
                        <input type="text" name="perform_by" [(ngModel)]="perform_by" />
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Checked by:</label>
                        <input type="text" name="check_by" [(ngModel)]="check_by" />
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Verified by AQA:</label>
                        <input type="text" name="verified_by" [(ngModel)]="verified_by"/>
                    </div>

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                        <label>Remark:</label>
                        <select name="remark" ngModel>
                            <option></option>
                            <option>Satisfactory</option>
                            <option>Not Satisfactory</option>
                        </select>
                    </div>
                </div>
                <h3>QUATERLY BURETTE CALIBRATION</h3>
                <div class="clr-row">
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                        <label>Filled Burette in ml:</label>
                        <input type="text" name="burette" [(ngModel)]="burette" />
                    </div>
                   <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                        <label>Weight of Empty beaker A in gm:</label>
                        <input type="text" name="empty_beaker" [(ngModel)]="empty_beaker" />
                    </div>

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Weight of Beaker + Water B in gm:</label>
                        <input type="text" name="b_water" [(ngModel)]="b_water" />
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Weight of water (B – A) in gm:</label>
                        <input type="text" name="weight_water" [(ngModel)]="weight_water" />
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>ml of Water(B-A / (0.99602):</label>
                        <input type="text" name="water" [(ngModel)]="water" />
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Mean:</label>
                        <input type="text" name="mean" [(ngModel)]="mean" />
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Limit:</label>
                        <input type="text" name="limit" [(ngModel)]="limit" />
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Performed by:</label>
                        <input type="text" name="per_by" [(ngModel)]="per_by" />
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Checked by:</label>
                        <input type="text" name="checks_by" [(ngModel)]="checks_by" />
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Verified by AQA:</label>
                        <input type="text" name="verify_by" [(ngModel)]="verify_by"/>
                    </div>

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                        <label>Remark:</label>
                        <select name="remarks" ngModel>
                            <option></option>
                            <option>Satisfactory</option>
                            <option>Not Satisfactory</option>
                        </select>
                    </div>
                </div>
                    <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                        <button class="btn btn-success" (click)="save(phForm)">{{'common.save' | translate}}</button>
                        <button class="btn btn-danger" (click)="isNew = false">{{'common.close' | translate}}</button>
                    </div>
                
            </form>
        </div>
        <div class="card-text" *ngIf="!isNew">
            <div class="clr-row">
                <div class="clr-col-lg-12 clr-col-md-8 clr-col-sm-4 clr-col-xs-12" style="margin-top:10px;">
                    <table class="table table-border">
                     <tr>
                            <td style="text-align:left">Instrument :</td>
                            <td style="text-align:left"></td>
                            <td style="text-align:left; width: 25%;">Date Of Calibration </td>
                            <td style="text-align:left"></td>
                             </tr>
                             <tr>
                                <td style="text-align:left; width: 25%;">DST Medicap Lot No. :</td>
                                <td style="text-align:left"></td>
                                <td style="text-align:left">Frequency of calibration</td>
                                <td style="text-align:left"></td>
                            </tr>
                    </table>
                </div>

                <div class="clr-col-lg-12 clr-col-md-8 clr-col-sm-4 clr-col-xs-12" style="margin-top:10px;">
                    <h3> VERIFICATION OF KARL FISCHER FACTOR USING DST:</h3>
                    <table class="table table-border">
                        <tr>
                            <th style="background-color: rgb(14, 67, 112); color: white;">Sr. No.</th>
                            <th style="background-color: rgb(14, 67, 112); color: white;">Set</th>
                            <th style="background-color: rgb(14, 67, 112); color: white;">Weight of DST (75 mg to 125 mg) </th>
                            <th style="background-color: rgb(14, 67, 112); color: white;">K.F. Consumed (mL) </th>
                            <th style="background-color: rgb(14, 67, 112); color: white;">% Moisture(Limit: 14.66 mg/mL to 16.66 mg/ mL)</th>
                            <th style="background-color: rgb(14, 67, 112); color: white;">  Average % moisture(Limit: 14.66 %mg/mL to 16.66% mg/ mL) </th>
                            <th style="background-color: rgb(14, 67, 112); color: white;">Performed by </th>
                            <th style="background-color: rgb(14, 67, 112); color: white;">Checked by</th>
                           <th style="background-color: rgb(14, 67, 112); color: white;">Verified by AQA</th>
                           <th style="background-color: rgb(14, 67, 112); color: white;">{{'common.remarks' | translate}}</th>


                        </tr>
                        <tr *ngFor="let result of results; let i= index">
                            <td>{{ i+1}}</td>
                            <td>{{result.set}}</td>
                            <td>{{result.weight_dst}}</td>
                            <td>{{result.consumed}}</td>
                            <td>{{result.moisture}}</td>
                            <td>{{result.average}}</td>
                            <td>{{result.perform_by}}</td>
                            <td>{{result.check_by}}</td>
                            <td>{{result.verified_by}}</td>
                            <td>{{result.remark}}</td>

                        </tr>
                    </table>
                </div>
                <div class="clr-col-lg-12 clr-col-md-8 clr-col-sm-4 clr-col-xs-12" style="margin-top:10px;">
                    <h3> 	QUATERLY BURETTE CALIBRATION::</h3>
                    <table class="table table-border">
                        <tr>
                            <th style="background-color: rgb(14, 67, 112); color: white;">Sr. No.</th>
                            <th style="background-color: rgb(14, 67, 112); color: white;">Filled Burette in ml</th>
                            <th style="background-color: rgb(14, 67, 112); color: white;">Weight of Empty beaker A in gm</th>
                            <th style="background-color: rgb(14, 67, 112); color: white;">Weight of Beaker + Water B in gm</th>
                            <th style="background-color: rgb(14, 67, 112); color: white;">Weight of water (B – A) in gm</th>
                            <th style="background-color: rgb(14, 67, 112); color: white;"> ml of Water(B-A / (0.99602)</th>
                            <th style="background-color: rgb(14, 67, 112); color: white;"> Mean</th>
                            <th style="background-color: rgb(14, 67, 112); color: white;"> Limit</th>
                            <th style="background-color: rgb(14, 67, 112); color: white;">Performed by </th>
                            <th style="background-color: rgb(14, 67, 112); color: white;">Checked by</th>
                           <th style="background-color: rgb(14, 67, 112); color: white;">Verified by AQA</th>
                           <th style="background-color: rgb(14, 67, 112); color: white;">{{'common.remarks' | translate}}</th>


                        </tr>
                        <tr *ngFor="let result of results; let i= index">
                            <td>{{ i+1}}</td>
                            <td>{{result.burette}}</td>
                            <td>{{result.empty_beaker}}</td>
                            <td>{{result.b_water}}</td>
                            <td>{{result.weight_water}}</td>
                            <td>{{result.water}}</td>
                            <td>{{result.mean}}</td>
                            <td>{{result.limit}}</td>
                            <td>{{result.per_by}}</td>
                            <td>{{result.checks_by}}</td>
                            <td>{{result.verify_by}}</td>
                            <td>{{result.remarks}}</td>

                        </tr>
                    </table>
                </div>
               
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" (click)="download()">{{'common.download' | translate}}</button>
            </div>
        </div>
    </div>
