<div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Security Round Form</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" routerLink="/security/round" style="background-color: red;color: white;">
            CLOSE
          </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <form #vechileForm="ngForm">
          <div class="clr-row">
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Security Person:</label>
              <select name="security_person" ngModel required>
                <option></option>
               <option *ngFor="let emp of employees">{{emp.firstname}}</option>
              </select>
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Round Time(From)</label>
              <input type="time" name="from_time" ngModel>
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Round Time(To)</label>
              <input type="time" name="to_time" ngModel>
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>{{'common.department' | translate}}</label>
              <select name="department" ngModel required>
                <option value=""></option>
                <option *ngFor="let depart of departments">{{depart.department_name}}</option>
               </select>
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Any Observation</label>
              <select name="observation" ngModel required>
                <option>Yes</option>
                <option>No</option>
               </select>
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Abnormalities</label>
              <select name="abnormalities" [(ngModel)]="abnormalities" required>
                <option>Yes</option>
                <option>No</option>
               </select>
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" *ngIf="abnormalities=='Yes'">
              <label>Abnormalities Description</label>
                <input type="text" name="description" ngModel>
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Report To:</label>
              <select name="report_to" ngModel required>
                <option></option>
               <option *ngFor="let emp of employees">{{emp.firstname}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="saveSecurity(vechileForm)">{{'common.submit' | translate}}</button>
    </div>
  </div>