<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Tasks Report</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/hr/task" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
    <div class="card-block">
        <div class="clr-text">
            <div class="clr-row">
                <div class="clr-col-lg-5 clr-col-md-5 clr-col-sm-12 clr-col-xs-12">
                    <label>Employee:</label>
                    <select name="employee" ngModel required style="height: 33px;">
                        <option></option>
                        <option *ngFor="let list of employeeList" [value]="list.emp_id">{{ list.firstname }}</option>
                    </select>
                </div>
                
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <button class="btn btn-danger" style="margin-top:30px;" (click)="getTasks()">{{'common.search' | translate}}</button>
                </div>
              </div>
      
            <table class="table"> 
                <tr>
                    <th style="width: 40px; background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Emp ID</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Task</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.description' | translate}}</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Evaluation</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.status' | translate}}</th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">View</th>
                </tr> 
                <tr *ngFor="let data of results; let i=index">
                    <td style="text-align: left;">{{ i+1 }}.</td>
                    <td style="text-align: left;">{{ data.employee }}</td>
                    <td style="text-align: left;">{{data.task}}</td>
                    <td style="text-align: left;">{{data.description}}</td>
                    <td style="text-align: left;">{{data.evaluation}} </td>
                    <td style="text-align: left;">{{data.status | titlecase}}</td>
                    <td>
                        <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                    </td>
                </tr>
                <tr *ngIf="results?.length == 0">
                    <td colspan="5">{{'common.noRecords' | translate}}</td>
                </tr>
            </table>
        </div>
    </div>
      
</div>

<div class="card" *ngIf="isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Tasks Report</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <!-- <button class="btn btn-sm" routerLink="/hr/task/log" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button> -->
          </div>
        </div>
      </div> <div class="card-block"> 
        <div class="card-text">
            <table class="table">
                <tr>
                    <td style="text-align:left;width:20%">Employee Id:</td>
                    <td style="text-align:left;">{{selectedReport['employee']}}</td>
                    <td style="text-align:left;width:20%">Employee Name:</td>
                    <td style="text-align:left;">{{selectedReport['emp_name']}}</td>
                </tr>
                <tr>
                    <td style="text-align:left;width:20%">task:</td>
                    <td style="text-align:left;" colspan="3">{{selectedReport['task']}}</td>
                </tr>
                <tr>
                    <td style="text-align:left;width:20%">Description:</td>
                    <td style="text-align:left;">{{selectedReport['description']}}</td>
                    <td style="text-align:left;width:20%">Evaluation:</td>
                    <td style="text-align:left;">{{selectedReport['evaluation']}}</td>
                </tr>
                <tr>
                    <td style="text-align:left;width:20%">Marks:</td>
                    <td style="text-align:left;">{{selectedReport['marks']}}</td>
                    <td style="text-align:left;width:20%">View File</td>
                    <td style="text-align:left;">
                        <button
                        class="btn btn-info btn-sm"
                        (click)="viewtask(selectedReport['task_file'])">View Photo</button>
                    </td>
                </tr>
              
            </table>
            <h3>{{'common.status' | translate}}</h3>
            <table class="table">
                <tr>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Task Assign By </th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Task Check by</th>
                </tr>
                <tr>
                    <td>{{selectedReport['assign_by']}}</td>
                    <td>{{selectedReport['check_by']}}</td>
                </tr>
                <tr>
                    <td>{{selectedReport['assign_date']}}</td>
                    <td>{{selectedReport['check_date']}} </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-success" (click)="downloadEmpForm()">{{'common.download' | translate}}</button>

        <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
    </div> 
</div>