.card {
  border-color: #004A70;
}
.card-header {
  background-color:#004A70;
  color:white;
  text-align: center;
}
select, input[type=text] {
  width: 100%;
  height: auto;
  padding: 4px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid gray;
}

.invalidinput {
  background-color: red;
}
input:read-only{
  background-color: lightgray;
}
.float-button {
  position: fixed;
  right: 1%;
  top: 20%;
  transition: all 0.2s ease-in 0s;
  z-index: 9999;
  cursor: pointer;
}
