
<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-6" style="color: aliceblue;margin-top: -2px;text-align: left;">Expiry Management</div>
          <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
             <button class="btn btn-sm btn-danger" routerLink="/management" >
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
             <div class="clr-row">
              <div class="clr-col-lg-3">
                <label>Search </label>
                <input type="text" placeholder="Search..."   [(ngModel)]="searchQuery">
              </div>
              <div class="clr-col-lg-2">
                <label>Expired Material Count</label>
                <input type="text"  style="font-weight: bold; color: red;" name="expiredCount"   [(ngModel)]="expiredCount" readonly>
              </div>
              <div class="clr-col-lg-2">
                <label>Expiring In 1 Mon.</label>
                <button class="btn btn-danger" (click)="filterMaterials(1)">{{'common.view' | translate}}</button>
              </div>
              <div class="clr-col-lg-2">
                <label>Expiring In 3 Mon.</label>
                <button class="btn " style="background-color: blue;color: white;" (click)="filterMaterials(3)">{{'common.view' | translate}}</button>
              </div>
              <div class="clr-col-lg-2">
                <label>Expiring In 6 Mon.</label>
                <button class="btn btn-success" (click)="filterMaterials(6)">{{'common.view' | translate}}</button>
              </div>
              <div class="clr-col-lg-2">
              <br>
                <button class="btn btn-danger" (click)="getallmaterial()">Clear Filter</button>
              </div>
            </div>
          <clr-datagrid [clrDgLoading]="loading" [clrDgFilter]="searchQuery">

            <clr-dg-column>Material Code</clr-dg-column>
            <clr-dg-column>Material Name</clr-dg-column>
            <clr-dg-column>A.R Number</clr-dg-column>
            <clr-dg-column>Available Quantity</clr-dg-column>
            <clr-dg-column>Days to Expire</clr-dg-column>

            <clr-dg-row *clrDgItems="let result of filteredMaterials; let i = index" [clrDgItem]="result">
            <clr-dg-cell>{{ result.material_code }}</clr-dg-cell>
            <clr-dg-cell>{{ result.material_name }}</clr-dg-cell>
            <clr-dg-cell>{{ result.ar_no }}</clr-dg-cell>
            <clr-dg-cell><b>{{ result.qty}}</b></clr-dg-cell>
            <clr-dg-cell *ngIf="result.days_left_to_expiry > 0 || result.days_left_to_expiry != 'Expired'"><b>{{ result.days_left_to_expiry}}</b></clr-dg-cell>
            <clr-dg-cell *ngIf="result.days_left_to_expiry == 0 || result.days_left_to_expiry == 'Expired'">
                <button class="btn btn-sm btn-danger" >Expired</button>
            </clr-dg-cell>
       
            </clr-dg-row>
          </clr-datagrid>
        </div>
    </div>
</div>


   