<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">BMR Manufacturing</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-danger" routerLink="/production/bmr/manufacturing">{{'common.close' | translate}}</button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <table class="table">
                <tr>
                    <th>Sr.</th>
                    <th>Plan No</th>
                    <th>Product Type</th>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Grade</th>
                    <th>Medicap Lot No</th>
                    <th>Output Range</th>
                    <th>{{'common.table.action' | translate}}</th>
                </tr>
                <tr *ngFor="let res of results;let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{ res.plan_no }}</td>
                    <td>{{ res.product_type }}</td>
                    <td>{{ res.product_code }}</td>
                    <td>{{ res.product_name }}</td>
                    <td>{{ res.grade }}</td>
                    <td>{{ res.batch_no }}</td>
                    <td>{{ res.min_output_qty }} - {{ res.max_output_qty }}</td>
                    <td><button class="btn btn-sm" (click)="view(i)">Proceed</button></td>
                </tr>
                <tr *ngIf="results?.length==0">
                    <td colspan="7">No Record Found!</td>
                </tr>
            </table>
        </div>
    </div>
</div>






<div class="card" *ngIf="isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">BMR Manufacturing</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-danger" (click)="isView=false">{{'common.close' | translate}}</button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <h3>Product Details:</h3>
            <table class="table">
                <tr>
                    <td style="text-align: left; border:1px solid black;"> <b>Product Code</b></td>
                    <td style="text-align: left; border:1px solid black;">{{selectedResult['product_code']}}</td>
                    <td style="text-align: left; border:1px solid black;"><b>Product Name</b></td>
                    <td style="text-align: left; border:1px solid black;">{{selectedResult['product_name']}}</td>
                </tr>
                
                <tr>
                    <td style="text-align: left; border:1px solid black;"><b>Medicap Lot No</b></td>
                    <td style="text-align: left; border:1px solid black;">{{selectedResult['batch_no']}}</td>
                    <td style="text-align: left; border:1px solid black;"><b> Grade</b></td>
                    <td style="text-align: left; border:1px solid black;">{{selectedResult['grade']}}</td>
                </tr>
            </table>
        
            <h3>Inprocess Stages:</h3>
            <div class="card-block">
                <form #inprocessForm="ngForm">
                  <div class="clr-row">
                    <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-3 ">
                      <label>Stage:</label>
                      <select name="stage" ngModel >
                        <option></option>
                        <option></option>
                        <option *ngFor="let data of stages">{{data.name}}</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-2 ">
                      <label>Start Date:</label>
                      <input type="date" ngModel required name="start"> 
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-2 ">
                      <label>End Date:</label>
                      <input type="date" ngModel required name="end"> 
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-2 ">
                      <label>IPQC Test:</label>
                      <select name="ipqc" ngModel required>
                        <option>Not Applicable</option>
                        <option>{{'common.completed' | translate}}</option>
                    </select>  
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-2 ">
                      <label>Test Result:</label>
                      <input type="text" ngModel name="test_result" required> 
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-2 ">
                      <label>Analysis Date:</label>
                        <input type="date" ngModel required name="analysis_date">                       
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-2 ">
                      <label>Equipment Used:</label>
                    <input type="text" ngModel required name="equipment_used"> 
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-2 ">
                      <label>Equipment ID:</label>
                    <input type="text" ngModel required name="equ_id"> 
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-2 ">
                      <label>Operator Name:</label>
                      <select type="text" ngModel required name="operator"> 
                        <option></option>
                        <option></option>
                    </select>
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-2 ">
                      <label>Officer Name:</label>
                    <select type="text" ngModel required name="officer"> 
                        <option></option>
                        <option></option>
                    </select>
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-2 ">
                      <label>Standard Yield:</label>
                    <input type="text" ngModel required name="syield"> 
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-2 ">
                      <label>Standard Yield %:</label>
                    <input type="text" ngModel required name="syieldper"> 
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-2 ">
                      <label>Actual Yield(in kgs):</label>
                    <input type="text" ngModel required name="ayield"> 
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-2 ">
                      <label>Actual Yield %:</label>
                    <input type="text" ngModel required name="ayieldper"> 
                    </div>
                </div>
                
                <div class="clr-row">
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-3 " style="margin-top: 15px;">
                      <button class="btn btn-primary" (click)="addStage(inprocessForm)" style="padding: 0px;" [disabled]="inprocessForm.invalid">{{'common.add' | translate}}</button>
                    </div>
                </div>
                </form>
            </div>
            <table class="table table-border" >
              <tr>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.srNo' | translate}}</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Stage</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Start Date</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">End Date</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">IPQC Test</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Test Result</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Analysis Date</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Equipment Used</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Equipment ID</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Operator Name</th>
                <td style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Officer Name</td>
                <td style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Start Yield</td>
                <td style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Start Yield %</td>
                <td style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Actual Yield(in kgs)</td>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Actual Yield %</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
              </tr>
              <tr *ngFor="let mat of inprocess;let i=index">
                <td>{{i+1}}</td>
                <td>{{mat.stage}}</td>
                <td>{{mat.start}}</td>
                <td>{{mat.end}}</td>
                <td>{{mat.ipqc}}</td>
                <td>{{mat.test_result}}</td>
                <td>{{mat.analysis_date}}</td>
                <td>{{mat.equipment_used}}</td>
                <td>{{mat.equ_id}}</td>
                <td>{{mat.operator}}</td>
                <td>{{mat.officer}}</td>
                <td>{{mat.syield}}</td>
                <td>{{mat.syieldper}}</td>
                <td>{{mat.ayield}}</td>
                <td>{{mat.ayieldper}}</td>
                <td>
                  <clr-icon shape="trash" class="is-error" (click)="deleteStage(i)"></clr-icon>
                </td>
              </tr>
            </table>
            <br>
            <div class="clr-row">
                <div class="clr-col-lg-3">
                      <label>Upload TI Sheet:<span style="color: red;">*</span> </label>
                      <input type="file" name="challan_file" (change)="onFileChanged($event)" accept="application/pdf" ngModel required>
                </div>
                <div class="clr-col-lg-3">
                      <label>Final Yield:<span style="color: red;">*</span> </label>
                      <input type="text" name="final_yield"  ngModel required>
                </div>
            </div>

            <h3>Solvents:</h3>
            <table class="table table-border">
                <tr>
                    <th>Solvent</th>
                    <th>Qty</th>
                    <th>ML Generated</th>
                    <th>Send By</th>
                    <th>Send Date</th>
                </tr>
                <tr *ngFor="let solvent of selectedResult['solvents']">
                    <td>{{ solvent.material_name }}</td>
                    <td>{{ solvent.qty }} {{ solvent.unit }}</td>
                    <td style="padding: 0px;">
                        <span *ngIf = "solvent.status == 'DONE'">{{solvent.received_qty}}</span>  
                        <span *ngIf = "solvent.status !== 'DONE'"> <input type="text" name="ml_generated{{ i }}" [(ngModel)]="solvent.ml_generated" required style="margin: 0px;"></span>
                    </td>
                    <td style="padding: 0px; vertical-align: middle;">
                      <span *ngIf = "solvent.status == 'DONE'">{{solvent.send_by}}</span>
                      <span *ngIf = "solvent.status !== 'DONE'"><button class="btn btn-sm btn-info" (click)="sendSRP(solvent.material_code, solvent.ml_generated)">SEND TO SRP</button></span> 
                    </td>
                    <td>
                        <span *ngIf = "solvent.status == 'DONE'">{{solvent.send_date | date :'dd-MM-yyyy'}}</span>  
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="completeBatch()">COMPLETE BATCH</button>
        <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
    </div>
</div>

<clr-modal [(clrModalOpen)]="isInprocess" clrModalSize="xl">
    <h3 class="modal-title">TR Sheet</h3>
    <div class="modal-body">
        <table class="table">
            <tr>
                <td style="text-align: left;">Product Name:</td>
                <td style="text-align: left;">{{ selectedResult['product_name'] }}</td>
                <td style="text-align: left;">Medicap Lot No:</td>
                <td style="text-align: left;">{{ selectedResult['batch_no'] }}</td>
            </tr>
            <tr>
                <td style="text-align: left;">Stage:</td>
                <td style="text-align: left;" colspan="3">{{ selectedStage['stage'] }}</td>
            </tr>
        </table>
        <br>
        <form #tiForm="ngForm">
            <div class="clr-row">
                <div class="clr-col-lg-4 clr-col-md-4">
                    <label>Stage</label>
                    <select name="step" ngModel required>
                        <option></option>
                        <option>CRUDE</option>
                        <option>PURE</option>
                        <option>DRYING</option>
                    </select>

                </div>
                <div class="clr-col-lg-4 clr-col-md-4">
                    <label> Equipment Name</label>
                    <select name="equipment_name" (change)="selectEquipment($event.target.selectedIndex)" ngModel>
                        <option></option>
                        <option *ngFor="let product of equipments;">{{product.equipment_name}}</option>
                    </select>
                </div>
                <div class="clr-col-lg-4 clr-col-md-4">
                    <label> Equipment Code</label>
                    <select name="equipment_code" ngModel>
                        <option></option>
                        <option *ngFor="let product of selectedEquipment['equipments'];">{{ product.equipment_code }}</option>
                    </select>
                </div>
                <div class="clr-col-lg-4 clr-col-md-4">
                    <label>Sample Id:</label>
                    <select name="sample_id" ngModel required>
                        <option></option>
                        <option>n-Butanol</option>
                        <option>Methanol</option>
                        <option>Reaction Mass</option>
                        <option>Pure Wet Cake</option>
                        <option>Dry</option>
                    </select>
                </div>
                <div class="clr-col-lg-4 clr-col-md-4">
                    <label>Sample Qty</label><br>
                   <input type="text" name="sample_qty" ngModel required style="width: 60%;">
                   <select name="unit" ngModel="gm" required style="width: 40%;">
                        <option>gm</option>
                        <option>ml</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" *ngIf="!isLoading" class="btn btn-primary" (click)="sendsample(tiForm)">send to sample</button>
        <button type="button" *ngIf="isLoading" class="btn btn-primary">please wait...</button>
      <button type="button" class="btn btn-danger" (click)="isInprocess= false">{{'common.close' | translate}}</button>
    </div>
</clr-modal>