<div class="container-fluid" *ngIf="isNew">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
    <div class="card">
      <div class="card-header">Agreement</div>
      <div class="card-block">
        <div class="card-text">
          <form #dailywork="ngForm">
            <div class="clr-row">

              <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                <label> <strong>Title of Agreement</strong></label>
                <input type="text" name="agreement_title"  ngModel required />
              </div>

              <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
              <h6 style="text-align: center;"> <strong>Beetween</strong> </h6>
              </div>

              <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                <label> <strong>Comapny Name</strong></label>
                <input type="text" name="company_name"  ngModel required />
              </div>

              <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Other Partners:</strong> </label>
                <table class="table" style="margin-top: 0px;">
                  <tr>
                    <th style="width: 90%;">Partners</th>
                    <th>Add</th>
                  </tr>
                  <tr>
                    <td style="padding: 0px;">
                    <input type="text" style="margin: 0px; height: 33px;" name="partner_name"  [(ngModel)]="partner_name"  />
                    </td>
                    <td style="padding: 0px;vertical-align: middle;">
                      <button class="btn btn-sm btn-info" (click)="addSteps()">{{'common.add' | translate}}</button>
                    </td>
                  </tr>
                  <tr *ngFor="let step of steps; let i = index">
                    <td>{{ step }}</td>
                    <td>
                      <clr-icon shape="trash" class="is-error" (click)="deleteSteps(i)"></clr-icon>
                    </td>
                  </tr>
                </table>
              </div>

              <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                <br>
                <label><strong>Add Short Description:</strong></label>
                <textarea rows="2" name="description" ngModel required></textarea>
              </div>

              <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                <label> <strong>Date of Agreement</strong></label>
                <input type="date" name="agreement_date"  ngModel required />
              </div>

              <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                <label> <strong>Legal Form</strong></label>
                <select name="legal_form"  ngModel required >
                  <option disabled> </option>
                  <option>Notary</option>
                  <option>Blank</option>
                  <option>Registered</option>
                </select>
              </div>

              <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                <label for="file_agreement"> <strong>Upload Agreement</strong> </label>
                <input type="file" name="file_agreement" (change)="onFileChange($event, 'agreement')" ngModel />
              </div>

            </div>
          </form>
        </div>
      </div>

      <div class="card-footer">
        <button class="btn btn-primary" (click)="dailywork.form.valid && saveForm(dailywork)" [disabled]="dailywork.form.invalid">{{'common.submit' | translate}}</button>
        <button class="btn btn-danger" (click)="isNew = false">{{'common.close' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="!isView && !isNew">
  <div class="card">
    <div class="card-header">Agreement</div>
    <div class="card-block">
      <div class="card-text">
        <button class="btn btn-sm" (click)="isNew = true">Add Agreement </button>
        <clr-datagrid>
          <clr-dg-column>Agreement ID</clr-dg-column>
          <clr-dg-column>{{'common.date' | translate}}</clr-dg-column>
          <clr-dg-column>Title of Agreement</clr-dg-column>
          <clr-dg-column>Company Name </clr-dg-column>
          <clr-dg-column>{{'common.description' | translate}}</clr-dg-column>
          <clr-dg-column style="text-align: left;">View</clr-dg-column>

          <clr-dg-row *ngFor="let item of entries; let i = index">
            <clr-dg-cell>{{item.agreement_id}}</clr-dg-cell>
            <clr-dg-cell>{{item.entry_date}}</clr-dg-cell>
            <clr-dg-cell>{{item.agreement_title}}</clr-dg-cell>
            <clr-dg-cell>{{item.company_name}}</clr-dg-cell>
            <clr-dg-cell>{{item.description}}</clr-dg-cell>
            <clr-dg-cell>
              <button class="btn btn-sm btn-info" (click)="viewEntry(i)">{{'common.view' | translate}}</button>
            </clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>

      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" (click)="close()">{{'common.close' | translate}}</button>
    </div>
  </div>
</div>


<div class="container-fluid" *ngIf="isView">
  <div class="card">
    <div class="card-header">Agreement</div>
    <div class="card-block">
      <div class="card-text">
        <table class="table">
          <tr>
            <td style="text-align: left;width: 20%;">Agreement Id:</td>
            <td style="text-align: left;">{{ selectedEntry['agreement_id'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left;width: 20%;">Date:</td>
            <td style="text-align: left;">{{ selectedEntry['entry_date'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left;width: 20%;">Agreement Title:</td>
            <td style="text-align: left;">{{ selectedEntry['agreement_title'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left;width: 20%;">Company Name:</td>
            <td style="text-align: left;">{{ selectedEntry['company_name'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left;width: 20%;">Description:</td>
            <td style="text-align: left;">{{ selectedEntry['description'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left;width: 20%;">Agreement Date:</td>
            <td style="text-align: left;">{{ selectedEntry['agreement_date'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left;width: 20%;">Legal Form:</td>
            <td style="text-align: left;">{{ selectedEntry['legal_form'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left; width: 20%">Agreement:</td>
            <td style="text-align: left" (click)="open(agreement)"><a>View Agreement File</a>
            </td>
          </tr>
        </table>
        <br>
        <clr-datagrid>
          <clr-dg-column style="width: 150px;"><strong>ID</strong> </clr-dg-column>
          <clr-dg-column> <strong>Partner Name </strong></clr-dg-column>

          <clr-dg-row *ngFor="let item of selectedEntry['steps']; let i = index">
            <clr-dg-cell>{{item.agreement_id}}</clr-dg-cell>
            <clr-dg-cell>{{item.partner_name}}</clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>

      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
    </div>
  </div>
</div>
