<div class="container-fluid" *ngIf="!isView">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
                <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Received Inprocess Product</div>
                <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/qa/ipqa/inprocess-sampling/receive" style="background-color: red;color: white;">
                    CLOSE
                </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
               
                <table class="table table-border">
                    <tr>
                        <th style="background-color: aquamarine;font-weight: bolder;text-align: left;">{{'common.table.srNo' | translate}}</th>
                        <th style="background-color: aquamarine;font-weight: bolder;text-align: left;">TI NO</th>
                        <th style="background-color: aquamarine;font-weight: bolder;text-align: left;" >Medicap Lot No</th>
                        <th style="background-color: aquamarine;font-weight: bolder;text-align: left;" >Product Code</th>
                        <th style="background-color: aquamarine;font-weight: bolder;text-align: left;" >Product Name</th>
                        <th style="background-color: aquamarine;font-weight: bolder;text-align: left;" >Stage</th>
                        <th style="background-color: aquamarine;font-weight: bolder;text-align: left;">Grade</th>
                        <th style="background-color: aquamarine;font-weight: bolder;text-align: left;">Batch Size</th>
                        <th style="background-color: aquamarine;font-weight: bolder;text-align: left;">{{'common.status' | translate}}</th>
                        <th style="background-color: aquamarine;font-weight: bolder;text-align: left;">{{'common.table.action' | translate}}</th>
                    </tr>
                    <tr *ngFor="let result of results;let i = index">
                        <td style="font-weight: bolder;text-align: left;">{{ i+1 }}.</td>
                        <td style="font-weight: bolder;text-align: left;">{{ result.ti_no }}</td>
                         <td style="font-weight: bolder;text-align: left;" >{{ result.batch_number }}</td>
                         <td style="font-weight: bolder;text-align: left;" >{{ result.product_code }}</td>
                        <td style="font-weight: bolder;text-align: left;" >{{ result.product_name }}</td>
                        <td style="font-weight: bolder;text-align: left;" >{{ result.stage_name }}</td>
                        <td style="font-weight: bolder;text-align: left;">{{ result.grade }}</td>
                        <td style="font-weight: bolder;text-align: left;">{{ result.batch_size }}</td>
                        <td style="font-weight: bolder;text-align: left;">{{ result.samplingStatus }}</td>
                        <td style="font-weight: bolder;text-align: left;">
                            <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                        </td>
                    </tr>
                    <tr *ngIf="results?.length == 0">
                        <td colspan="10">No Record Found!</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isView">
    <div class="card">
        <div class="card-header">Received Inprocess Product</div>
        <div class="card-block">
            <div class="card-text">
                
                <h3>Product Details:</h3>
                <table class="table table-border">
                    <tr>
                        <td style="text-align: left; "> <b>Product Code</b></td>
                        <td style="text-align: left; ">{{selectedResult['product_code']}}</td>
                        <td style="text-align: left; "><b>Product Name</b></td>
                        <td style="text-align: left; ">{{selectedResult['product_name']}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left; "><b>Batch Size</b></td>
                        <td style="text-align: left; ">{{selectedResult['batch_size']}}</td>
                        <td style="text-align: left; "><b> Medicap Lot No</b></td>
                        <td style="text-align: left; ">{{selectedResult['batch_number']}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left; "><b> Dosage Form</b></td>
                        <td style="text-align: left; ">{{selectedResult['dosage_form']}}</td>
                        <td style="text-align: left; "><b> Grade</b></td>
                        <td style="text-align: left; ">{{selectedResult['grade']}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left; "><b> Sample Qty : <span style="color: red;"><b>*</b></span></b></td>
                        <td style="text-align: left; margin: 0;padding: 0;"  >
                            <input   type="text" name="sampleQty" [(ngModel)]="sampleQty" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required>
                        </td>
                        <td style="text-align: left; "><b>Sampling Unit : <span style="color: red;"><b>*</b></span></b></td>

                        <td style="text-align: left; margin: 0;padding: 0;"  >
                             <select name="unit" [(ngModel)]="unit" required>
                                <option>Gm</option>
                                <option>Ml</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; "><b> Required Qty : <span style="color: red;"><b>*</b></span></b></td>
                        <td style="text-align: left; margin: 0;padding: 0;"  >
                            <input   type="text" name="RequiredQty" [(ngModel)]="RequiredQty" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required>
                        </td>
                        <td style="text-align: left; "><b>Sampling Unit : <span style="color: red;"><b>*</b></span></b></td>

                        <td style="text-align: left; margin: 0;padding: 0;"  >
                             <select name="Requiredunit" [(ngModel)]="Requiredunit" required>
                                <option>Gm</option>
                                <option>Ml</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; "><b> Stability  Qty : <span style="color: red;"><b>*</b></span></b></td>
                        <td style="text-align: left; margin: 0;padding: 0;"  >
                            <input   type="text" name="Stability_Qty" [(ngModel)]="Stability_Qty" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required>
                        </td>
                        <td style="text-align: left; "><b>Sampling Unit : <span style="color: red;"><b>*</b></span></b></td>

                        <td style="text-align: left; margin: 0;padding: 0;"  >
                             <select name="Stability_unit" [(ngModel)]="Stability_unit" required>
                                <option>Gm</option>
                                <option>Ml</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; "><b> Control Sample Qty : <span style="color: red;"><b>*</b></span></b></td>
                        <td style="text-align: left; margin: 0;padding: 0;"  >
                            <input   type="text" name="control_sample_Qty" [(ngModel)]="control_sample_Qty" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required>
                        </td>
                        <td style="text-align: left; "><b>Sampling Unit : <span style="color: red;"><b>*</b></span></b></td>

                        <td style="text-align: left; margin: 0;padding: 0;"  >
                             <select name="control_sample_unit" [(ngModel)]="control_sample_unit" required>
                                <option>Gm</option>
                                <option>Ml</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; "><b> Marketing Sample Qty : <span style="color: red;"><b>*</b></span></b></td>
                        <td style="text-align: left; margin: 0;padding: 0;"  >
                            <input   type="text" name="Marketing_sample_Qty" [(ngModel)]="Marketing_sample_Qty" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required>
                        </td>
                        <td style="text-align: left; "><b>Sampling Unit : <span style="color: red;"><b>*</b></span></b></td>

                        <td style="text-align: left; margin: 0;padding: 0;"  >
                             <select name="Marketing_sample_unit" [(ngModel)]="Marketing_sample_unit" required>
                                <option>Gm</option>
                                <option>Ml</option>
                            </select>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary"   (click)="receive()">WITHDRAW & SEND INTIMATION TO QC</button>
             <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>
