<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Initiate Deviation </div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-danger" routerLink="/qa/deviation">{{'common.close' | translate}}</button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <form #deviation="ngForm">
                <div class="clr-row">
                    <div class="clr-col-lg-4">
                        <label> Deviation For</label>
                        <select name="deviation_for" ngModel (change)="getDeviationFor($event.target.value)" required>
                            <option></option>
                            <option value="Material">Material</option>
                            <option value="Product">Product</option>
                        </select>
                    </div>

                    <div class="clr-col-lg-4" *ngIf="isMaterial">
                        <label> Material Type</label>
                        <select name="material_type"  (change)="getMaterial($event.target.value)" ngModel required>
                            <option></option>
                            <option value="Raw Material">Raw Material</option>
                            <option value="Packing Material">Packing Material</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-4" *ngIf="isproduct">
                        <label> Material / Product Name</label>
                        <select name="material_code" ngModel required>
                            <option></option>
                            <option *ngFor="let mat of products" [value]="mat.product_code">{{ mat.product_name }}</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-4" *ngIf="israw || ispacking && !isproduct">
                        <label> Material / Product Name</label>
                        <select name="material_code" ngModel required>
                            <option></option>
                            <option *ngFor="let mat of products" [value]="mat.material_code">{{ mat.material_name }}</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-4" *ngIf="isproduct">
                        <label> Stage</label>
                        <input type="text" name="stage" ngModel required>
                    </div>
                    <div class="clr-col-lg-6">
                        <label> Lot No. / batch No. /Document No.:</label>
                        <input type="text" name="document_no" ngModel required>
                    </div>
             
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-6 clr-col-xs-12" style="margin-top: 10px;">
                        <label>Deviation Observed In:</label>
                        <!-- <p-multiSelect [options]="observed" name="observed_in" [(ngModel)]="observed" optionLabel="name"></p-multiSelect> -->
                        <select name="observed_in" ngModel>
                            <option></option>
                            <option *ngFor="let data of observed">{{data.name}}</option>
                        </select>
                    </div>
                   
                    <div class="clr-col-lg-12 clr-col-md-12">
                        <label> Description Of Deviation :</label>
                        <textarea name="description" ngModel rows="3" required></textarea>
                    </div>
                    <div class="clr-col-lg-12 clr-col-md-12">
                        <label> Immediate Action / Remedial Action:</label>
                        <textarea name="immediate_action" ngModel rows="3" required></textarea>
                    </div>
                    <div class="clr-col-lg-12 clr-col-md-12">
                        <label> Impact Assessment:</label>
                        <textarea name="impact_assessment" ngModel rows="3" required></textarea>
                    </div>
                    <div class="clr-col-lg-12 clr-col-md-12">
                        <label>Other Batches Implicated(if any):</label>
                        <textarea name="impact_other" ngModel rows="3" required></textarea>
                    </div>
                </div>
            </form>
            <div class="clr-row">
                <div class="clr-col-md-12 clr-col-12">
                    <label>Departments for Review:</label>
                    <div class="clr-control-container clr-control-inline">
                        <div class="clr-checkbox-wrapper" *ngFor="let order of departments; let i = index">
                            <input class="clr-checkbox" id="{{order.department_name}}" type="checkbox"
                                name="{{order.department_name}}" [(ngModel)]="order.value"
                                (change)="updateDept($event.target.checked, i)">
                            <label for="{{order.department_name}}"
                                class="clr-control-label">{{order.department_name}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <button class="btn btn-primary" (click)="save(deviation)">{{'common.save' | translate}}</button>
    </div>
</div>