<div class="container-fluid" *ngIf="!isView">
    <div class="card">
        <div class="card-header" style="text-align: center">
          <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Weighing of Material Log</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
              <button class="btn btn-sm" routerLink="/rnd/store/raw/weighing" style="background-color: red;color: white;"> {{'common.close' | translate}} </button>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-text">
              <table class="table">
                  <tr>
                      <th>Sr.</th>
                      <th style="text-align: left;">Material Type</th>
                      <th style="text-align: left;">Material Code</th>
                      <th style="text-align: left;">Material Name</th>
                      <th>Accepted Qty</th>
                      <th>Containers</th>
                      <th>View</th>
                  </tr>
                  <tr *ngFor="let result of results; let i = index">
                      <td>{{ i + 1 }}.</td>
                      <td style="text-align: left;">{{ result.material_type }}</td>
                      <td style="text-align: left;">{{ result.material_code }}</td>
                      <td style="text-align: left;">{{ result.material_name }}</td>
                      <td>{{ result.accept_qty }}</td>
                      <td>{{ result.containers }}</td>
                      <td>
                          <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                      </td>
                  </tr>
                  <tr *ngIf="results?.length == 0">
                    <td colspan="6">{{'common.noRecords' | translate}}</td>
                  </tr>
              </table>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" (click)="downloadLog()">DOWNLOAD PDF</button>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isView">
    <div class="card">
        <div class="card-header">Weighing of Material Log</div>
        <div class="card-block">
            <div class="card-text">
                <table class="table" style="border: 1px solid black;">
                    <tr>
                      <td style="text-align: left;border: 1px solid;"><b>Material Name:</b></td>
                      <td colspan="3" style="text-align: left;border: 1px solid;">{{ selectedReport['material_name'] }}</td>
                    </tr>
                    <tr>
                      <td style="text-align: left;border: 1px solid;"><b>Vendor Name:</b></td>
                      <td colspan="3" style="text-align: left;border: 1px solid;">{{ selectedReport['vendor_name'] }}</td>
                    </tr>
                    <tr>
                      <td style="text-align: left;"><b>Packaging Slip:</b></td>
                      <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['challan_no'] }}</td>
                      <td style="text-align: left;"><b>Packaging Slip Date:</b></td>
                      <td style="text-align: left;">{{ selectedReport['challan_date'] | date: 'dd-MM-yyyy'}}</td>
                    </tr>
                    <tr>
                      <td style="text-align: left;"><b>PO No.:</b></td>
                      <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['po_no'] }}</td>
                      <td style="text-align: left;"><b>PO Date:</b></td>
                      <td style="text-align: left;">{{ selectedReport['po_date'] | date: 'dd-MM-yyyy'}}</td>
                    </tr>
                    <tr>
                      <td style="text-align: left;"><b>Material Type:</b></td>
                      <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['material_type'] }}</td>
                      <td style="text-align: left;"><b>Material Subtype:</b></td>
                      <td style="text-align: left;">{{ selectedReport['material_subtype'] }}</td>
                    </tr>
                    <tr>
                      <td style="text-align: left;"><b>Material Code:</b></td>
                      <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['material_code'] }}</td>
                      <td style="text-align: left;"><b>Material Grade:</b></td>
                      <td style="text-align: left;">{{ selectedReport['grade'] }}</td>
                    </tr>
                    <tr>
                      <td style="text-align: left;"><b>PO Qty:</b></td>
                      <td style="text-align: left;border-right: 1px solid black;" colspan="3">{{ selectedReport['qty'] }} {{ selectedReport['unit'] }}</td>
                    </tr>
                </table>

                <h3>Packing Details:</h3>
                <div class="clr-row">
                  <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12.clr-col-sm-12 clr-col-xs-12">
                    <label>Packing Intactness / Condition:</label>
                    <input type="text" name="packing_condition" [ngModel]="selectedReport['receiving_details'].packing_condition" readonly tabindex="-1">
                  </div>
                  <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12.clr-col-sm-12 clr-col-xs-12">
                    <label>Outer Packing:</label>
                    <input type="text" name="outer_packing" [ngModel]="selectedReport['receiving_details'].outer_packing" readonly tabindex="-1">
                  </div>
                  <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12.clr-col-sm-12 clr-col-xs-12">
                    <label>Container type:</label>
                    <input type="text" name="container_type" [ngModel]="selectedReport['receiving_details'].container_type" readonly tabindex="-1">
                  </div>
                  <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12.clr-col-sm-12 clr-col-xs-12">
                    <label>Container Subtype:</label>
                    <input type="text" name="container_subtype" [ngModel]="selectedReport['receiving_details'].container_subtype" readonly tabindex="-1">
                  </div>
                </div>
                
                <table class="table">
                    <tr>
                      <th>Sr.</th>
                      <th>Container No.</th>
                      <th>Gross Wt. ({{ selectedReport['unit'] }})</th>
                      <th>Tare Wt. ({{ selectedReport['unit'] }})</th>
                      <th>Net Wt. ({{ selectedReport['unit'] }})</th>
                    </tr>
                    <tr *ngFor="let container of selectedReport['weighing_details'].containers; let i = index">
                      <td>{{ i + 1 }}.</td>
                      <td>{{ container.container_no }}</td>
                      <td>{{ container.gross_wt }}</td>
                      <td>{{ container.tare_wt }}</td>
                      <td>{{ container.gross_wt - container.tare_wt }}</td>
                    </tr>
                </table>
    
                <h3>Damage Containers Weighing Details:</h3>
                <table class="table">
                    <tr>
                      <th>Sr.</th>
                      <th>Container No.</th>
                      <th>Gross Wt. ({{ selectedReport['unit'] }})</th>
                      <th>Tare Wt. ({{ selectedReport['unit'] }})</th>
                      <th>Net Wt. ({{ selectedReport['unit'] }})</th>
                    </tr>
                    <tr *ngFor="let container of selectedReport['weighing_details'].damage_containers; let i = index">
                      <td>{{ i + 1 }}.</td>
                      <td>{{ container.container_no }}</td>
                      <td>{{ container.gross_wt }}</td>
                      <td>{{ container.tare_wt }}</td>
                      <td>{{ container.gross_wt - container.tare_wt }}</td>
                    </tr>
                    <tr *ngIf="selectedReport['weighing_details'].damage_containers?.length == 0">
                      <td colspan="5">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" (click)="downloadPDF('manual')">Download Manual PDF</button>
          <button class="btn btn-success" (click)="downloadPDF('digital')">Download Digital PDF</button>
          <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>