<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-6" style="color: aliceblue;margin-top: -2px;text-align: left;">Mixed GRN</div>
            <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-danger" routerLink="/store">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <div class="clr-row">
              <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                <div class="card clickable" routerLink="tanker">
                  <div class="card-block" style="text-align: center">
                    <img width="50px" height="50px" src="assets/transport.png">
                    <p class="card-text"><b>Tanker Mixed GRN</b></p>
                  </div>
                </div>
            </div>

            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                <div class="card clickable" routerLink="balanceQty">
                  <div class="card-block" style="text-align: center">
                    <img width="50px" height="50px" src="assets/transport.png">
                    <p class="card-text"><b>Balance Quantity  Mixed GRN</b></p>
                  </div>
                </div>
            </div>


            </div>
        </div>
    </div>
</div>