table tbody {
    display: block;
    max-height: 60vh;
  /*   overflow-y: scroll; */
    overflow-x: scroll;
}

table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
} 