<div class="card recv-page">
    <header class="card-header mef-panel-header">
    <h2 class="mef-panel-header__title">{{isView}} Barcode Printing</h2>
    <div class="mef-panel-header__actions">
      <button type="button" class="btn btn-sm btn-primary" (click)="setView('Lanes')">Lanes</button>
      <button type="button" class="btn btn-sm btn-success" (click)="setView('Racks')">Racks</button>
      <button type="button" class="btn btn-sm btn-warning" (click)="setView('Locations')">Locations</button>
      <button type="button" class="btn btn-sm btn-primary" (click)="setView('Palettes')">Palettes</button>
      <button type="button" class="btn btn-sm mef-panel-header__close" routerLink="/store/rack">{{'common.close' | translate}}</button>
    </div>
  </header>
    <div class="card-block">
        <div class="card-text">
            <div class="clr-row">

              <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>Select Section : <span style="color:red;">*</span></strong></label>
                  <select name="section_name" [(ngModel)]="section_name" required   (change)="getLaneBySection()">
                      <option></option>
                      <option *ngFor="let section of sections;" value="{{section.section_name}}">{{ section.section_name }}</option>
                  </select>
              </div>

              <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="isView == 'Racks' || isView == 'Locations' ">
                  <label><strong>Select Lane : <span style="color:red;">*</span></strong></label>
                  <select name="laneNO" [(ngModel)]="laneNO" required (change)="getRacksByLaneForSearch()">
                      <option></option>
                      <option *ngFor="let lane of lanes;" value="{{lane.laneNO}}">{{ lane.laneNO }}</option>
                    </select>
              </div>

              <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="isView == 'Locations' ">
                  <label><strong>Select Rack : <span style="color:red;">*</span></strong></label>
                  <select name="rack_no" [(ngModel)]="rack_no" required  >
                      <option></option>
                      <option *ngFor="let rack of racks;" value="{{rack.rack_no}}">{{ rack.rack_no }}</option>
                  </select>
              </div>
              <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" >
                <br> <button class="btn btn-primary" (click)="getDataForBarcodePrinting()">Get Data</button>
              </div>
              <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" >
                <br> <button class="btn btn-primary" (click)="generateBatchPreview()">Print ALl Barcodes</button>
              </div>
            </div>
            <div *ngIf="showGrid" class="clr-row">
                <div class="clr-col-lg-5">
                  <label>Search </label>
                  <input type="text" placeholder="Search..." [(ngModel)]="searchQuery">
                </div>
                <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                    <div class="datagrid-wrapper">
                          <clr-datagrid class="recv-datagrid" [clrDgLoading]="loading" [clrDgFilter]="searchQuery" >
                              <clr-dg-column>{{'common.table.srNo' | translate}}</clr-dg-column>
                              <clr-dg-column>Room Name</clr-dg-column>

                              <clr-dg-column *ngIf="['Racks','Lanes','Locations'].includes(isView)">Lane No.</clr-dg-column>
                              <clr-dg-column *ngIf="['Racks','Locations'].includes(isView)">Rack No.</clr-dg-column>
                              <clr-dg-column *ngIf="isView === 'Locations'">Location No.</clr-dg-column>
                              <clr-dg-column *ngIf="isView === 'Palettes'">Palette No.</clr-dg-column>
                              <clr-dg-column>Gen. By/On</clr-dg-column>
                              <clr-dg-column>Barcode</clr-dg-column>

                              <clr-dg-row *clrDgItems="let result of filteredMaterials; let i = index" [clrDgItem]="result">
                                <clr-dg-cell>{{ i + 1 }}</clr-dg-cell>
                                <clr-dg-cell>{{ result.section_name || '-' }}</clr-dg-cell>

                                <clr-dg-cell *ngIf="['Racks','Lanes','Locations'].includes(isView)">{{ result.laneNO || '-' }}</clr-dg-cell>
                                <clr-dg-cell *ngIf="['Racks','Locations'].includes(isView)">{{ result.rack_no || '-' }}</clr-dg-cell>
                                <clr-dg-cell *ngIf="isView === 'Locations'">{{ result.locationNo || '-' }}</clr-dg-cell>
                                <clr-dg-cell *ngIf="isView === 'Palettes'">{{ result.paletteNo || '-' }}</clr-dg-cell>

                                <clr-dg-cell>{{ result.entryBy || '-' }} / {{ result.entryOn || '-' }}</clr-dg-cell>
                                <clr-dg-cell>
                                    <button class="btn btn-sm btn-success" (click)="printBarcode(result)" ><i class="fas fa-barcode"></i>{{'common.print' | translate}}</button>
                                </clr-dg-cell>
                              </clr-dg-row>
                            </clr-datagrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-danger" routerLink="/store/rack">{{'common.close' | translate}}</button>
    </div>
</div>


 

