.barcode-preview {
  text-align: center;
  margin-top: 1rem;
}

.barcode-font {
  font-family: 'Libre Barcode 39', cursive;
  transform-origin: center;
}

.barcode-label {
  font-size: 14px;
  margin-top: 6px;
  color: #333;
}

.meta {
  font-size: 11px;
  color: #666;
}

.barcode-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
}

.barcode-card {
  width: 7cm;
  height: 2cm;
  /* border: 1px solid #ccc; */
  /* border-radius: 6px; */
  text-align: center;
  padding: 1px;
  page-break-inside: avoid;
}
