<div class="container-fluid" *ngIf="!isView && !isNew">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;"> Initiate Stability Study</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/qa/stability" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
              </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                <button class="btn btn-sm btn-info" (click)="isNew = true" *ngIf="isUser">Initiate New Stability Study</button>
                <button class="btn btn-sm btn-info">Stability From Production Batch</button>
                <table class="table">
                    <tr>
                        <th>Stability No.</th>
                        <th>Dosage Form</th>
                        <th>Product</th>
                        <th>No. of Batches</th>
                        <th>Date of Initiate</th>
                        <th>Initiated By</th>
                        <th>View Protocol</th>
                    </tr>
                    <tr *ngFor="let result of results; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ result.dosage_form }}</td>
                        <td>{{ result.product_name }}</td>
                        <td>{{ result.batches.length }}</td>
                        <td>{{ result.entry_date | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ result.entry_by }}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="viewProtocol(i)">view Protocol</button>
                        </td>
                    </tr>
                    <tr *ngIf="results?.length == 0">
                        <td colspan="7">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isNew">
    <div class="card">
        <div class="card-header">Inititate Stability Study</div>
        <div class="card-block">
            <div class="card-text">
                <form #initiateForm="ngForm">
                    <div class="clr-row">
                        <div class="clr-col-lg-4 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                            <label>Type of Dose:<span style="color: red">*</span></label>
                            <select name="dosage_type" [(ngModel)]="dosage_type" required >
                                <option>SOLID</option>
                                <option>LIQUID Oral</option>
                                <option>SEMI SOLID</option>
                                <option>External Liquid</option>
                                <option>Injectable</option>
                                <option>Gases</option>
                            </select>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="dosage_type=='SOLID'">
                            <label>Dosage Form:<span style="color: red">*</span></label>
                            <select name="dosage_form" [(ngModel)]="dosage_form" required >
                            <option>Tablet</option>
                            <option>Capsule</option>
                            <option>Powder</option>
                            <option>External Powder</option>
                            <option>Pellets</option>
                            <option>Granules</option>
                            </select>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="dosage_type=='LIQUID Oral'">
                            <label>Dosage Form:<span style="color: red">*</span></label>
                            <select name="dosage_form" [(ngModel)]="dosage_form" required >
                            <option>Syrup</option>
                            <option>Elixer</option>
                            <option>Suspension</option>
                            <option>Oral Drops</option>
                            <option>Oral Gel</option>
                            </select>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="dosage_type=='Injectable'">
                            <label>Dosage Form:<span style="color: red">*</span></label>
                            <select name="dosage_form" [(ngModel)]="dosage_form" required >
                            <option>Dry Powder Injection</option>
                            <option>Liquid Injection</option>
                            </select>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="dosage_type=='SEMI SOLID'">
                            <label>Dosage Form:<span style="color: red">*</span></label>
                            <select name="dosage_form" [(ngModel)]="dosage_form" required >
                            <option>Ointment</option>
                            <option>Creams</option>
                            <option>Gels</option>
                            </select>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="dosage_type=='External Liquid'">
                            <label>Dosage Form:<span style="color: red">*</span></label>
                            <select name="dosage_form" [(ngModel)]="dosage_form" required >
                            <option>External Drops</option>
                            <option>Lotions</option>
                            <option>Liniment</option>
                            <option>Oils</option>
                            <option>Nasal Spray</option>
                            </select>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" *ngIf="dosage_type=='Gases'">
                            <label>Dosage Form:<span style="color: red">*</span></label>
                            <select name="dosage_form" [(ngModel)]="dosage_form" required >
                            <option>Aerosol</option>
                            <option>Sprays</option>
                            </select>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label>Name of Product:<span style="color: red">*</span></label>
                            <select name="product_code" ngModel required (change)="selectproduct($event.target.selectedIndex)">
                                <option></option>
                                <option *ngFor="let product of products" [value]="product.product_code">{{ product.product_name }}</option>
                            </select>
                        </div>
                    </div>
                    <table class="table" **ngIf="!isView && !isNew">
                        <tr>
                            <td style="text-align: left;width: 20%;">Generic Name:</td>
                            <td style="text-align: left;">{{  selectedProduct['generic_name'] }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;width: 20%;">Product Code:</td>
                            <td style="text-align: left;">{{  selectedProduct['product_code'] }}</td>
                            <td style="text-align: left;width: 20%;">label Claim:</td>
                            <td style="text-align: left;">{{  selectedProduct['label_claim'] }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;width: 20%;">Grade:</td>
                            <td style="text-align: left;">{{  selectedProduct['grade'] }}</td>
                        </tr>
                    </table>
                    <br>
                
                </form>
                <table class="table table2">
                    <tr>
                        <th style="text-align: center;">{{'common.table.action' | translate}}</th>
                        <th>Condition</th>
                        <th>Intervals</th>
                        <th>Total Intervals</th>
                        <th>Sample Qty Single Analysis</th>
                        <th>Total Sample Qty</th>
                    </tr>
                    <tr *ngFor="let user of conditions; let i = index">
                        <td style="text-align: center;">
                            <input type="checkbox" name="user{{ i }}" ngModel (click)="updateCondition(i, $event)">
                        </td>
                        <td>{{user.condition}}</td>
                        <td>{{user.intervals}}</td>
                        <td>{{user.total_intervals}}</td>
                        <td *ngIf="selectedProduct['isspecification']">{{ selectedProduct['sample_qty'] * 3 }} {{ selectedProduct['unit'] }}</td>
                        <td *ngIf="selectedProduct['isspecification']">{{ selectedProduct['sample_qty'] * 3 * user.total_intervals }} {{ selectedProduct['unit'] }}</td>
                        <td *ngIf="!selectedProduct['isspecification']" colspan="2">Specification Not Available</td>
                    </tr>
                </table>
                <br>

                <div *ngIf="total_batches > 0">
                    <table class="table table-border">
                        <thead>
                            <tr>
                                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr. No.</th>
                                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Medicap Lot No</th>
                                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Mfg. Date</th>
                                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Exp. Date</th>
                                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Purpose</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let batch of batches; let i = index">
                                <td>{{ i+1 }}</td>
                                <td style="padding: 0px;vertical-align: middle;">
                                    <input style="margin: 0px;" type="text" name="batch_no" [(ngModel)]="batch['batch_no']" required>
                                </td>
                                <td style="padding: 0px;vertical-align: middle;">
                                    <input style="margin: 0px;" type="date" name="mfg_date" [(ngModel)]="batch['mfg_date']" required>
                                </td>
                                <td style="padding: 0px;vertical-align: middle;">
                                    <input style="margin: 0px;" type="date" name="exp_date" [(ngModel)]="batch['exp_date']" required>
                                </td>
                                <td style="padding: 0px;vertical-align: middle;">
                                    <input style="margin: 0px;" type="text" name="purpose" [(ngModel)]="batch['purpose']" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="saveStability(initiateForm)">{{'common.submit' | translate}}</button>
            <button class="btn btn-danger" (click)="isNew = false">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isView">
    <div class="card">
        <div class="card-header">Inititated Stability Study Protocol</div>
        <div class="card-block">
            <div class="card-text">
                <table class="table">
                    <tr>
                        <td style="text-align: left;width: 20%;">Name of Product:</td>
                        <td style="text-align: left;">{{ selectedStability['product_name'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;">Generic Name:</td>
                        <td style="text-align: left;">{{ selectedStability['generic_name'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;">Product Code:</td>
                        <td style="text-align: left;">{{ selectedStability['product_code'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;">Grade:</td>
                        <td style="text-align: left;">{{ selectedStability['grade'] }}</td>
                    </tr>
                </table>
                <div class="clr-row">
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Packing:</label>
                        <input type="text" name="packing" ngModel="{{ selectedStability['packing'] }}" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Market:</label>
                        <input type="text" name="market" ngModel="{{ selectedStability['packing'] }}" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>No. of Batches to be charged:</label>
                        <input type="number" name="batch" ngModel="{{ selectedStability['batches'].length }}" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Batch Type:</label>
                        <input type="text" name="batch_type" ngModel="{{ selectedStability['batch_type'] }}" readonly tabindex="-1">
                    </div>
                </div>
                <h4>Conditions:</h4>
                <table class="table table2">
                    <tr>
                        <th style="width:10%;">Sr.</th>
                        <th>Condition</th>
                        <th>Intervals</th>
                    </tr>
                    <tr *ngFor="let user of selectedStability['conditions']; let i = index">
                        <td>{{ i + 1 }}.</td>
                        <td style="text-align: left;">{{user.condition}}</td>
                        <td style="text-align: left;">{{ user.intervals }}</td>
                    </tr>
                </table>
                
                <h4>Batches:</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Medicap Lot No</th>
                            <th>Mfg. Date</th>
                            <th>Exp. Date</th>
                            <th>Purpose</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let batch of selectedStability['batches']; let i = index">
                            <td>{{ i+1 }}</td>
                            <td>{{ batch.batch_no }}</td>
                            <td>{{ batch.mfg_date }}</td>
                            <td>{{ batch.exp_date }}</td>
                            <td>{{ batch.purpose }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="updateStabilityProtocol('approve')" *ngIf="selectedStability['status'] == 'pending'">{{'common.approve' | translate}}</button>
            <button class="btn btn-primary" (click)="updateStabilityProtocol('reject')" *ngIf="selectedStability['status'] == 'pending' && isChecker || isApprover">{{'common.reject' | translate}}</button>
            <button class="btn btn-primary" (click)="downloadProtocol()">DOWNLOAD PROTOCOL</button>
            <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>