<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="clr-row" style="margin-bottom: -10px;">
                <div class="clr-col-6" style="color: aliceblue;margin-top: -2px;text-align: left;">MEDIA CONSUMPTION DETAILS </div>
                <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                  <button class="btn btn-sm" routerLink="/microbiology/media-preparton" style="background-color: red;color: white;">
                    <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                  </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
              <div class="card-text">
                <div class="clr-row">
                    <div class="clr-clo-lg-4 clr-col-md-4 clr-col-sm-4">
                        <label>From Date:</label>
                        <input type="date" name="from_date" [(ngModel)]="from_date">
                    </div>
                    <div class="clr-clo-lg-4 clr-col-md-4 clr-col-sm-4">
                        <label>To Date:</label>
                        <input type="date" name="to_date" [(ngModel)]="to_date" [max]="to_date">
                    </div>
                    <div class="clr-clo-lg-4 clr-col-md-4 clr-col-sm-4">
                       <button class="btn btn-danger"(click)="getMedia()" style="margin-top: 27px;">{{'common.search' | translate}}</button>
                    </div>
                </div>
                <form #formData="ngForm">
                    <table class="table table-border">
                        <tr>
                            <th style="text-align:center;">No. of Plates / Tubes/Flasks Prepared</th>
                            <th style="text-align:center;">Prepare On </th>
                            <th style="text-align:center;">Use Before</th>                                
                            <th style="text-align:center;">Used On</th>
                            <th style="text-align:center;">Quantity used</th>
                            <th style="text-align:center;">Used for</th>
                            <th style="text-align:center;">Remaining Quantity</th>                                
                            <th style="text-align:center;">Used By</th>
                            <th style="text-align:center;">{{'common.table.action' | translate}}</th>
                        </tr>   
                      
                        <tr>
                           <td style="text-align: left;padding: 0px"><input type="text" name="plate_no" ngModel required style="margin: 0px;"></td>
                           <td style="text-align: left;padding: 0px"><input type="date" name="prepare_on" ngModel required style="margin: 0px;"></td>
                           <td style="text-align: left;padding: 0px"><input type="date" name="use_before" ngModel required style="margin: 0px;"></td>
                           <td style="text-align: left;padding: 0px"><input type="date" name="used_on" ngModel required style="margin: 0px;"></td>
                           <td style="text-align: left;padding: 0px"><input type="text" name="quantity" ngModel required style="margin: 0px;"></td>
                           <td style="text-align: left;padding: 0px"><input type="text" name="used_for" ngModel required style="margin: 0px;"></td>
                           <td style="text-align: left;padding: 0px"><input type="text" name="remaining_qty" ngModel required style="margin: 0px;"></td>
                           <td style="text-align: left;padding: 0px"><input type="text" name="used_by" ngModel required style="margin: 0px;"></td>
                           <td style="text-align: left;padding: 0px"><button class="btn btn-sm btn-info"(click)="save(formData)" style="margin: 0px;">{{'common.save' | translate}}</button></td>
                        </tr>
                        <tr *ngFor="let result of results;let i=index">
                            <td>{{result.plate_no}}</td>
                            <td>{{result.prepare_on}}</td>
                            <td>{{result.use_before}}</td>
                            <td>{{result.used_on}}</td>
                            <td>{{result.quantity}}</td>
                            <td>{{result.used_for}}</td>
                            <td>{{result.remaining_qty}}</td>
                            <td>{{result.used_by}}</td>
                            <td>#</td>
                        </tr>
                        <tr *ngIf="results?.length==0">
                            <td colspan="15"><strong>No Record Found!</strong></td>
                        </tr>
                    </table>
                </form>
            </div>
            </div>
         </div>
         <div class="card-footer">
            <button class="btn btn-primary"(click)="download()">{{'common.download' | translate}}</button>
         </div>
    </div>
</div>



