input[type="file"],
input[type="date"],
input[type="text"],
input[type="radio"],
select,
textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* Adjusted to a more typical percentage for consistency */
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 15px;
    transition: all 0.5s ease;
    /* Smooth transition for all styles */
}

/* Focus styles for text inputs, dropdowns, and textareas */
input[type="file"]:focus,
input[type="date"]:focus,
input[type="text"]:focus,
input[type="radio"]:focus,
[type="checkbox"]:focus,
select:focus,
textarea:focus {
    background-color: #f7fdff;
    /* Light background color on focus */
    border: 1px solid #98ebd7;
    /* Blue border on focus */
    box-shadow: 0 0 8px rgb(2, 177, 159);
    /* Turquoise shadow on focus */
    outline: none;
    /* Remove default outline */
}

table th,
.table td {
    font-size: .65rem;
    line-height: .9rem;
    border: 1px solid #508d88;
    border-top-style: solid;
    border-top-width: .05rem;
    border-top-width: var(--clr-table-borderwidth, .05rem);
    border-top-color: #e8e8e8;
    border-top-color: #8bece4;
    padding: 0.55rem 1.6rem;
    text-align: center;
    vertical-align: top;
}

.table th {
    color: #666;
    color: var(--clr-thead-color, #666666);
    font-size: .56rem;
    font-weight: 1000;
    letter-spacing: .03em;
    background-color: #523636;
    background-color: #8db2f7;
    vertical-align: bottom;
    border-bottom-style: solid;
    border-bottom-width: .05rem;
    border-bottom-width: var(--clr-table-borderwidth, .05rem);
    border-bottom-color: #ccc;
    border-bottom-color: #8bece4;
    border-top: 0 none;
}
/* Style the labels and checkboxes to be inline */
label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Style the checkboxes */
input[type="checkbox"] {
    margin-right: 10px;
    /* Optional: scale the checkbox to make it larger */
    transform: scale(1.2);
}
input[type="radio"]{
    width: auto;
}