<div class="card" *ngIf="!isView && !isShow">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">  Equipement   Inward PO</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" (click)="toggleIsShow()" style="background-color: green; color: white;" *ngIf="isuser == 'Yes'">
              New
            </button>
            
            <button class="btn btn-sm" routerLink="/qc/equipment" style="background-color: red;color: white;">
                CLOSE
            </button>
          </div>
        </div> 
    </div>
    <div class="card-block">
      <div class="card-text">
        
        <!-- <table class="table table-border">
          <tr>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr.</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Material Type</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Vendor Name</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Packaging Slip</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Packaging Slip Date</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">PO No.</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">PO Date</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Invoice No.</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.amount' | translate}}</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Prepared Date</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Prepared By</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">View</th>
          </tr>
          <tr *ngFor="let result of results; let i = index">
            <td style="text-align: left;">{{ i + 1 }}.</td>
            <td style="text-align: left;">{{ result.material_type }}</td>
            <td style="text-align: left;">{{ result.vendor_name }}</td>
            <td style="text-align: left;">{{ result.challan_no }}</td>
            <td style="text-align: left;">{{ result.challan_date }}</td>
            <td style="text-align: left;">{{ result.po_no }}</td>
            <td style="text-align: left;">{{ result.po_date }}</td>
            <td style="text-align: left;">{{ result.tax_invoice }}</td>
            <td style="text-align: right;">{{ result.net_total }}</td>
            <td style="text-align: left;">{{ result.entry_date | date: 'dd-MM-yyyy'}}</td>
            <td style="text-align: left;">{{ result.entry_by }}</td>
            <td>
              <button class="btn btn-sm btn-info btn-icon" (click)="view(i)"><clr-icon shape="eye" class="is-info"></clr-icon></button>
            </td>
          </tr>
          <tr *ngIf="results?.length == 0">
            <td colspan="10">No. Records Found!</td>
          </tr>
        </table> -->
        <clr-datagrid [clrDgLoading]="loading">
         
          <clr-dg-column>{{'common.table.srNo' | translate}}</clr-dg-column>
          <clr-dg-column clrDgField="material_type">Equipement Type</clr-dg-column>
          <clr-dg-column clrDgField="vendor_name">Vendor Name</clr-dg-column>
          <clr-dg-column clrDgField="challan_no">Packaging Slip</clr-dg-column>
          <clr-dg-column clrDgField="challan_date">Packaging Slip Date</clr-dg-column> 
          <clr-dg-column clrDgField="po_no">PO No.</clr-dg-column>
          <clr-dg-column clrDgField="po_date">PO Date</clr-dg-column>
          <clr-dg-column clrDgField="tax_invoice">Invoice No.</clr-dg-column>
          <clr-dg-column clrDgField="net_total">{{'common.amount' | translate}}</clr-dg-column>
          <clr-dg-column clrDgField="entry_date">Prepared Date</clr-dg-column>
          <clr-dg-column clrDgField="entry_by">Prepared By</clr-dg-column>
          <clr-dg-column>View</clr-dg-column>
        
       <clr-dg-row *clrDgItem="let result of results; let i = index" [clrDgItem]="result">
          <clr-dg-cell>{{ i + 1 }}.</clr-dg-cell>
          <clr-dg-cell>{{ result.material_type }}</clr-dg-cell>
          <clr-dg-cell>{{ result.vendor_name }}</clr-dg-cell>
          <clr-dg-cell>{{ result.challan_no }}</clr-dg-cell>
          <clr-dg-cell>{{ result.challan_date }}</clr-dg-cell>
          <clr-dg-cell>{{ result.po_no }}</clr-dg-cell>
          <clr-dg-cell>{{ result.po_date }}</clr-dg-cell>
          <clr-dg-cell>{{ result.tax_invoice }}</clr-dg-cell>
          <clr-dg-cell>{{ result.net_total }}</clr-dg-cell>
          <clr-dg-cell>{{ result.entry_date | date: 'dd-MM-yyyy'}}</clr-dg-cell>
          <clr-dg-cell>{{ result.entry_by }}</clr-dg-cell>
          <clr-dg-cell>
            <button class="btn btn-sm btn-info btn-icon" (click)="view(i)"><clr-icon shape="eye" class="is-info"></clr-icon></button>
          </clr-dg-cell>
        </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} result
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
      </div>
    </div>
    <div class="card-footer">
     <button class="btn btn-primary"(click)="download()">{{'common.download' | translate}}</button>
    </div>
</div>
<div class="card" *ngIf="isView && !isShow">
  
 
  <div class="card-header">Inword Challan Details</div>
  <div class="card-block">
    <div class="card-text">
      <h3>Vendor Details:</h3>
      <table class="table" style="border:1px solid black">
        <tr>
          <td style="text-align: left; width: 20%;">Vendor No.:</td>
          <td style="text-align: left; border-right:1px solid black">{{ selectedResult['vendor_no'] }}</td>
          <td style="text-align: left; width: 20%;">Vendor Name:</td>
          <td style="text-align: left; ">{{ selectedResult['vendor_name'] }}</td>
        </tr>
        <tr>
          <td style="text-align: left; width: 20%;">Packaging Slip:</td>
          <td style="text-align: left; border-right:1px solid black">{{ selectedResult['challan_no'] }}</td>
          <td style="text-align: left; width: 20%;">Packaging Slip Date.:</td>
          <td style="text-align: left;">{{ selectedResult['challan_date'] }}</td>
        </tr>
        <tr>
          <td style="text-align: left; width: 20%;">PO No:</td>
          <td style="text-align: left; border-right:1px solid black"> {{ selectedResult['po_no'] }}</td>
          <td style="text-align: left; width: 20%;">PO Date:</td>
          <td style="text-align: left;">{{ selectedResult['po_date'] }}</td>
          <td></td>
      </tr> 
        <tr>
          <td style="text-align: left; width: 20%;">Tax Invoice No:</td>
          <td style="text-align: left; border-right:1px solid black">{{ selectedResult['tax_invoice'] }}</td>
        </tr>
      </table>
      <!-- <h4>Manufacturer/Supplier</h4>
      <input type="text" name="manufacturer" [ngModel]="selectedResult['manufacturer']" required> -->
      <h3>Materials:</h3>
     
      <table class="table">
        <tr>
          <th>Sr.</th>
          <th style="text-align: left;">Indicator No</th>
          <th style="text-align: left;">Reagent Name</th>
          <th>PH Range</th>
          <th>Aci Color</th>
          <th>Qty</th>
          <th>Rate/Unit</th>
          <th>Received Rate</th>
          <th>Diff.</th>
          <th>Required For</th>
          <th>Gross</th>
          <th>GST</th>
          <th>Net</th>
        </tr>
        <tr *ngFor="let comp of selectedResult['materials']; let i = index">
          <td>{{ i + 1 }}.</td>
          <td style="text-align: left;">{{ comp.indicator_no }}</td>
          <td style="text-align: left;">{{ comp.indicator }}</td>
          <td>{{ comp.ph_range }}</td>
          <td>{{ comp.acid_color }}</td>
          <td>{{ comp.qty }} {{ comp.unit }}</td>
          <td>{{ comp.rate }}</td>
          <td>{{ comp.received_rate }}</td>
          <td>{{ comp.diff }}</td>
          <td>{{ comp.required_for }}</td>
          <td>{{ comp.gross_total }}</td>
          <td>{{ comp.gst_total }}</td>
          <td>{{ comp.net_total }}</td>
        </tr>
        <tr *ngIf="selectedResult['materials'].length == 0">
            <td colspan="13">{{'common.noRecords' | translate}}</td>
        </tr>
      </table>
   
      <table class="table">
        <tr>
          <th>Gross Total</th>
          <th>GST Total</th>
          <th>NET Total</th>
        </tr>
        <tr>
          <td>{{ selectedResult['gross_total'] }}</td>
          <td>{{ selectedResult['gst_total'] }}</td>
          <td>{{ selectedResult['net_total'] }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card-footer">
      <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
  </div>
</div>




<div class="card" *ngIf="isShow">
  <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Challan Entry</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" (click)="isShow = false" style="background-color: red;color: white;">
            <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
          </button>
        </div>
      </div>
  </div>
  <div class="card-block">
      <div class="card-text">
          <form #directForm="ngForm">
              <div class="clr-row">
                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-6">
                      <label>Inward Type:</label>
                      <select name="transport" ngModel required>
                          <option>Purchase Material</option>
                          <option>Returnable Outwords</option>
                      </select>
                  </div>
                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-6">
                      <label>Packaging Slip</label>
                      <input type="text" name="challan_no" ngModel required>
                  </div>
                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-6">
                      <label>Packaging Slip Date.</label>
                      <input type="date" name="challan_date" ngModel required>
                  </div> 
                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-6">
                      <label>Tax Invoice No.</label>
                      <input type="text" name="tax_invoice" ngModel required>
                  </div>
                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-6">
                      <label>PO No.</label>
                      <input type="text" name="po_no" ngModel required>
                  </div>
                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-6">
                      <label>PO Date.</label>
                      <input type="date" name="po_date" ngModel required>
                  </div> 
                  <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-6">
                      <label>Vendor Name</label>
                      <select name="vendor_no" ngModel required>
                          <option></option>
                          <option *ngFor="let ven of vendors" [value]="ven.vendor_no">{{ ven.vendor_name}}</option>
                      </select>
                  </div>
              </div>
          </form>
          <h4>Materials:</h4>
          <form #addmaterial="ngForm">
              <table class="table">
                  <tr>
                      <th>Sr.</th>
                      <th>Equipement Name</th>
                      <!-- <th>Chemical Code</th> -->
                      <th>Qty</th>
                      <th>{{'common.unit' | translate}}</th>
                      <th>Rate</th>
                      <th>GST</th>
                      <th>Gross Total</th>
                      <th>Tax total</th>
                      <th>Net total</th>
                      <th>{{'common.table.action' | translate}}</th>
                  </tr>
                  <tr>
                      <td>1.</td>
                      <td style="padding: 0px;" >
                          <select name="glassware_no" ngModel (change)="getGst($event.target.selectedIndex)" style="margin: 0px; height: 33px;" required>
                              <option></option>
                              <option *ngFor="let chem of equipment"  [value]="chem.equipment_code">{{ chem.equipment_name }}</option>
                          </select>
                      </td>
                 
                      <td style="padding: 0px;">
                          <input type="text" name="qty" [(ngModel)]="qty" (keyup)="calculation()" style="margin: 0px; height: 33px;" required >
                      </td>
                      <td style="padding: 0px;"> 
                           <select name="unit" ngModel style="margin: 0px; height: 33px;" required>
                              <option></option>
                              <option *ngFor="let unit of unit"  [value]="unit.unit">{{ unit.unit }}</option>
                        </select>
                      </td>
                      <td style="padding: 0px;">
                          <input type="text" name="rate" [(ngModel)]="rate" style="margin: 0px; height: 33px;" (keyup)="calculation()" required>
                      </td>
                      <td style="padding: 0px;">
                          <input type="text" name="gst" [ngModel]="selectedMaterial['gst']" style="margin: 0px; height: 33px;" required readonly tabindex="-1">
                      </td>
                      <td style="padding: 0px;"><input type="text" name="gross_amount" [ngModel]="gross_amount" readonly tabindex="-1" style="margin: 0px; height: 33px;"></td>
                      <td style="padding: 0px;"><input type="text" name="tax_amount" [ngModel]="tax_amount" readonly tabindex="-1" style="margin: 0px; height: 33px;"></td>
                      <td style="padding: 0px;"><input type="text" name="net_amount" [ngModel]="net_amount" readonly tabindex="-1" style="margin: 0px; height: 33px;"></td>
                      <td style="padding: 0px; vertical-align: middle;">
                          <button class="btn btn-sm btn-info" (click)="add(addmaterial)" style="padding: 0px;">{{'common.add' | translate}}</button>
                      </td>
                  </tr>
                  <tr *ngFor="let mat of materialList;let i=index">
                      <td>{{i+1}}</td>
                      <td>{{mat.material_type}}</td>
                      <td>{{mat.material_name}}</td>
                      <td>{{mat.qty}}</td>
                      <td>{{mat.rate}}</td>
                      <td>{{mat.gst}}</td>
                      <td>{{mat.gross_amount}}</td>
                      <td>{{mat.tax_amount}}</td>
                      <td>{{mat.net_amount}}</td>
                      <td>
                          <clr-icon shape="trash" class="is-error" (click)="del(i)"></clr-icon>
                      </td>
                  </tr>
                  <tr *ngIf="materialList?.length !== 0">
                      <td colspan="6" style="text-align: right;">Total:</td>
                      <td>{{ gross_total }}</td>
                      <td>{{ gst_total }}</td>
                      <td>{{ net_total }}</td>
                  </tr>
              </table>
          </form>
      </div>
  </div>
  <div class="card-footer">
      <button class="btn btn-primary" (click)="save(directForm)">{{'common.save' | translate}}</button>
  </div>
</div>
