<div class="card">
        
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-6" style="color: aliceblue;margin-top: -2px;text-align: left;">Inprocess Material MOA</div>
          <div class="clr-col-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/rnd/qc/moa" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
    </div>

    <div class="card-block">
        <div class="card-text">
            <div class="clr-row">
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                    <div class="card clickable" routerLink="/moa/inprocess/new">
                        <div class="card-block" style="text-align: center">
                            <img width="50px" height="50px" src="assets/new.png">
                            <p class="card-text"><b>New MOA</b></p>
                        </div>
                    </div>
                </div>

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                    <div class="card clickable" routerLink="/moa/inprocess/report">
                        <div class="card-block" style="text-align: center">
                            <img width="50px" height="50px" src="assets/arreport.png">
                            <p class="card-text"><b>MOA Report</b></p>
                        </div>
                    </div>
                </div>
            
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                    <div class="card clickable" routerLink="/moa/inprocess/revision">
                        <div class="card-block" style="text-align: center">
                            <img width="50px" height="50px" src="assets/revision.png">
                            <p class="card-text"><b>Revision of MOA</b></p>
                        </div>
                    </div>
                </div>
            
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                    <div class="card clickable" routerLink="/revision-history">
                        <div class="card-block" style="text-align: center">
                            <img width="50px" height="50px" src="assets/history.png">
                            <p class="card-text"><b>Revision History</b></p>
                        </div>
                    </div>
                </div>
            
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                    <div class="card clickable" routerLink="/obsolete-specification">
                        <div class="card-block" style="text-align: center">
                            <img width="50px" height="50px" src="assets/obsolate.png">
                            <p class="card-text"><b>Obsolate MOA</b></p>
                        </div>
                    </div>
                </div>
            
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                    <div class="card clickable">
                        <div class="card-block" style="text-align: center">
                            <img width="50px" height="50px" src="assets/distribution.png">
                            <p class="card-text"><b>Distribution Record</b></p>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>