
<div class="container-fluid">
    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Employee Information 
          </div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/hr/performance/team" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
  
      <div class="card-block">
        <form #checklistForm="ngForm">
          <div class="card-text">
            <div class="clr-row">
              <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Employee Name <span style="color: red;">*</span></strong></label>
                <select name="appraisal_type" [(ngModel)]="appraisal_type" required>
                  <option></option>
                  <option>abc </option>
                  <option>xyz </option>
                </select>
              </div>
              <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Employee ID <span style="color: red;">*</span></strong></label>
                <select name="department" ngModel required  required (change)="getDesignation($event.target.selectedIndex)">
                  <option></option>
                  <option>abc </option>
                  <option>xyz </option>
                </select>
              </div>
            </div>
        </div>
          <div class="card">
            <div class="card-header" style="text-align: center">
              <div class="clr-row" style="margin-bottom: -10px;">
                <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">Appraiser Information</div>
                <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                  <button class="btn btn-sm btn-info btn-icon">
                    <clr-icon shape="eye" class="is-warning"></clr-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-block">
  
                 <div class="clr-row">
                  <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12"
                    *ngIf="appraisal_type=='Goal Setting/ KRA Checklist'">
                    <label>Goal Type:<span style="color: red;">*</span></label>
                    <select name="goal_type" ngModel #goal_type="ngModel" required>
                      <option></option>
                      <option>Short Term</option>
                      <option>Long Term</option>
                      <option>Mid Term</option>
                    </select>
                  </div> -->
                  <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                    <label>Appraiser Name<span style="color: red;">*</span></label>
                    <select name="evualation_parameter" [(ngModel)]="evualation_parameter" required>
                      <option></option>
                      <option value="1">abc</option>
                      <option value="2">xyz</option>
                    </select>
                  </div>
                  <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                    <label>Evaluation Type:<span style="color: red;">*</span></label>
                    <select name="evualation_type" ngModel #evualation_type="ngModel" required>
                      <option></option>
                      <option>Quantative</option>
                      <option>Qualatative</option>
                    </select>
                  </div>{{evualation_parameter}}

                  <!-- <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" *ngIf="evualation_parameter=='Q&A'">
                    <label>Name of the Question:</label>
                    <input type="text" name="question_title" ngModel #checklist_title="ngModel" required>  
                  </div>
  
                  <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12"
                    *ngIf="evualation_type=='Quantative'">
                    <label>Evaluation Criteria:</label>
                    <select name="evualation_criteria" ngModel #evualation_criteria="ngModel" required>
                      <option></option>
                      <option>Percent</option>
                      <option>Marks</option>
                    </select>
                  </div>
                  <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12"
                    *ngIf="evualation_type=='Qualatative'">
                    <label>Evualation Criteria:</label>
                    <select name="evualation_criteria" ngModel #evualation_criteria="ngModel" required>
                      <option></option>
                      <option>Poor</option>
                      <option>Average</option>
                      <option>Good</option>
                      <option>Very Good</option>
                      <option>Excellent</option>
                      <option>Extra Ordinary</option>
  
                    </select>
                  </div> -->

                  <!-- <div class="clr-col-lg-1 clr-col-md-1 clr-col-sm-12 clr-col-xs-12">
                    <button class="btn btn-success" (click)="addData(checkForm)" style="margin-top:30px;">{{'common.add' | translate}}</button>
                  </div> -->
                </div>
 
              <div class="card-text">
                <div class="row container-fluid">
                  <!-- <table class="table table-border">
                    <tr>
                      <th style="background-color:rgb(14, 67, 112); color: white;">{{'common.table.srNo' | translate}}</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Checklist Heading</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">{{'common.description' | translate}}</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;" *ngIf="appraisal_type=='Goal Setting/ KRA Checklist'">Goal Type</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Evaluation Parameter</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Evaluation Type</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
                    </tr>
  
                    <tr *ngFor="let add of checklistList ;let i=index">
                      <td>{{i+1}}.</td>
                      <td style="text-align: left;">{{add.checklist_particulars}}</td>
                      <td style="text-align: left;">{{add.description}}</td>
                      <td style="text-align: left;" *ngIf="appraisal_type=='Goal Setting/ KRA Checklist'">{{add.goal_type}}</td>
                      <td style="text-align: left;">{{add.evualation_parameter}}</td>
                      <td style="text-align: left;">{{add.evualation_type}}</td>
                      <td>
                        <clr-icon shape="trash" class="is-error" (click)="delData(i)"></clr-icon>
                      </td>
                    </tr>
  
                  </table> -->
  
                </div>
              </div>
            </div>
  
          </div>
        </form>
      </div>
      <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
        <button class="btn btn-success" (click)="saveChecklist(checklistForm)">{{'common.submit' | translate}}</button>
      </div>
  
      <!-- <div class="card-block">
        <clr-datagrid [clrDgLoading]="loading">
          <clr-dg-column>Sr.</clr-dg-column>
          <clr-dg-column>Appraisal Type</clr-dg-column>
          <clr-dg-column>{{'common.department' | translate}}</clr-dg-column>
          <clr-dg-column>{{'common.designation' | translate}}</clr-dg-column>
          <clr-dg-column>Checklist Heading</clr-dg-column>
          <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column>
      
          <clr-dg-row *clrDgItems="let list of results; let i = index"  [clrDgItem]="list">
            <clr-dg-cell>{{ i+1 }}</clr-dg-cell>
            <clr-dg-cell>{{ list.appraisal_type	}}</clr-dg-cell>
            <clr-dg-cell>{{ list.department }}</clr-dg-cell>
            <clr-dg-cell>{{ list.designation }}</clr-dg-cell>
            <clr-dg-cell>{{ list.heading }}</clr-dg-cell>
            <clr-dg-cell>
              <clr-icon shape="trash" class="is-error" (click)="del(i)"></clr-icon>
            </clr-dg-cell>
          </clr-dg-row>
           <clr-dg-row *clrDgItems="results?.length==0">
                 <clr-dg-cell>No Record Found!</clr-dg-cell>
           </clr-dg-row>  
        </clr-datagrid>
      </div> -->
    </div>
</div>
  
  
  
  
  
  
  
  
  
  
  
  
    <!----<div class="card">
   
    <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left; color: black;"><strong>Purpose</strong></div>
        <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-info btn-icon" (click)="toggleShow()">
            <clr-icon shape="eye" class="is-warning"></clr-icon>
          </button>
        </div>
      </div>
    </div>
  
    
    <div class="card-block">
    <div class="card-text">
      <div *ngIf="isShown" class="row container-fluid" id="divshow">  
    <table class="table">
        <tr>
            <td style="text-align: left;width: 20%;">Department:</td>
            <td style="text-align: left;">{{ selectedResult['department'] }}</td>
        </tr>
        <tr>
            <td style="text-align: left;width: 20%;">SOP Title:</td>
            <td style="text-align: left;">{{ selectedResult['title'] }}</td>
        </tr>
        <tr>
            <td style="text-align: left;width: 20%;">SOP For:</td>
            <td style="text-align: left;">{{ selectedResult['sop_for'] }}</td>
        </tr>
    </table>
    <br>
          <form #prepareForm="ngForm">
            <div class="clr-row">
              <div class="clr-col-12">
                <h4>Purpose</h4>
                <editor name="purpose"  ngModel [apiKey]="api" [init]="init">
                </editor>
              </div>
            </div>  
            </form>  
  
            <div class="card-footer">
              <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:0px;">Edit Draft</button>
              <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:120px;" >{{'common.save' | translate}}</button>
            </div>
  
  </div>
  </div>
  </div>  
  </div>  
  
  
  
  
  
  
  <div class="card">
   
    <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left; color: black;"><strong>Scope</strong></div>
        <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-info btn-icon" (click)="togShow()">
            <clr-icon shape="eye" class="is-warning"></clr-icon>
          </button>
        </div>
      </div>
    </div>
  
           
    <div class="card-block">
      <div class="card-text">
        <div *ngIf="isShow1" class="row container-fluid" id="divshow"> 
        <form #prepareForm="ngForm">
          <div class="clr-row">
            <div class="clr-col-12">
              <h4>Scope</h4>
              <editor name="purpose"  ngModel [apiKey]="api" [init]="init">
              </editor>
            </div>
          </div>  
          </form>  
  
          <div class="card-footer">
            <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:0px;">Edit Draft</button>
            <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:120px;" >{{'common.save' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  <div class="card">
    <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color:black;"><strong>Role and Responsibility</strong></div>
        <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-info btn-icon" (click)="dataShow()">
            <clr-icon shape="eye" class="is-warning"></clr-icon>
          </button>
           <button (click)="dataShow()" type="checkbox" style="float:right;background-color: pink;">Click</button> 
        </div>
      </div>
    </div>
   
      
        <div class="card-block">
          <div *ngIf="isdata" class="row container-fluid" id="div">
          <div class="card-text">
            <table class="table table-border">
              <tr>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Role</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Responsibility</th>
              </tr>
              <tr *ngFor="let role of roleList;">
                <td style="text-align: left;">{{ role.role }}</td>
                <td style="text-align: left;">{{ role.responsibility }}</td>
              </tr>
            </table><br>
  
            <div class="card-footer">
            <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:0px;">Edit Draft</button>
            <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:120px;" >{{'common.save' | translate}}</button>
          </div>
  
          </div>
          </div>
      
      </div>
    
   
  </div>  
  
  
  
  
  
  
  <div class="card">
    <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color:black"><strong>Definition</strong> </div>
      
        <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-info btn-icon" (click)="systemShow()">
            <clr-icon shape="eye" class="is-warning"></clr-icon>
          </button>
  
           <button (click)="systemShow()" type="checkbox" style="float:right;background-color: burlywood;">Click</button> 
        </div>
      </div>
    </div>
  
    <div class="card-block">
    <div class="clr-col-12" style="margin-bottom:10px;">
      <div *ngIf="istable" class="row container-fluid" id="clr">
     
      <form #definitionForm="ngForm">
          <table class="table table-border">
              <tr>
              <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Terms</th>
              <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Definition</th>
              <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">ADD</th>
              </tr>
              <tr>
                  <td style="padding: 0px;">
                      <input type="text" name="term" ngModel required style="margin: 0px; height: 33px;">
                  </td>
                  <td style="padding: 0px;">
                      <input type="text" name="definition" ngModel required style="margin: 0px; height: 33px;">
                  </td>
                  <td style="padding: 0px; vertical-align: middle;">
                      <button class="btn btn-sm btn-info" (click)="addDefinition(definitionForm)">{{'common.add' | translate}}</button>
                  </td>
              </tr>
              <tr *ngFor="let role of definitionList;let i = index">
              <td style="text-align: left;">{{ role.term }}</td>
              <td style="text-align: left;">{{ role.definition }}</td>
              <td>
                  <clr-icon shape="trash" class="is-error" (click)="deleteDefinition(i)"></clr-icon>
              </td>
              </tr>
              <tr *ngIf="definitionList?.length == 0">
                  <td colspan="3">{{'common.noRecords' | translate}}</td>
              </tr>
          </table>
      </form>
      <div class="card-footer">
        <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:0px;">Edit Draft</button>
        <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:120px;" >{{'common.save' | translate}}</button>
      </div>
    </div>
    </div>
  </div>
  </div>
  
  
  
  
  <div class="card">
    <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color: black;"><strong>External References And Associated Documents</strong></div>
        <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-info btn-icon" (click)="indShow()">
            <clr-icon shape="eye" class="is-warning"></clr-icon>
          </button>
  
           <button (click)="indShow()" type="checkbox" style="float:right;;background-color: rgb(14, 67, 112)">Click</button> 
        </div>
      </div>
    </div>
  
    
            <div class="clr-col-12">
            
                  
                  <div class="card-block">
                    <div *ngIf="ispara" class="row container-fluid" id="show">
                      <div class="card-title">1. External References:</div>
                     
                        
                          <form #externalForm="ngForm">
                              <table class="table table-border">
                                  <tr>
                                      <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">External Document No.</th>
                                      <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Title</th>
                                      <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
                                  </tr>
                                  <tr>
                                      <td style="padding: 0px;">
                                          <input type="text" name="document_no" ngModel required style="margin: 0px; height: 33px;">
                                      </td>
                                      <td style="padding: 0px;">
                                          <input type="text" name="title" ngModel required style="margin: 0px; height: 33px;">
                                      </td>
                                      <td style="padding: 0px; vertical-align: middle;">
                                          <button class="btn btn-sm btn-info" (click)="addExternal(externalForm)">{{'common.add' | translate}}</button>
                                      </td>
                                  </tr>
                                  <tr *ngFor="let list of externalList; let i = index">
                                      <td style="text-align: left;">{{ list.document_no }}</td>
                                      <td style="text-align: left;">{{ list.title }}</td>
                                      <td>
                                          <clr-icon shape="trash" class="is-error" (click)="deleteExternal(i)"></clr-icon>
                                      </td>
                                  </tr>
                                  <tr *ngIf="externalList?.length == 0">
                                      <td colspan="3">{{'common.noRecords' | translate}}</td>
                                  </tr>
                              </table>
                          </form>
                     
                    </div>  
                  </div>
                  <div class="card-block">
                    <div *ngIf="ispara" class="row container-fluid" id="show">
                      <div class="card-title">2. Associated Documents:</div>
                      <div class="card-text">
                       
                          <form #associatedForm="ngForm">
                              <table class="table table-border">
                                  <tr>
                                      <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Associated Document No.</th>
                                      <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Title</th>
                                      <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
                                  </tr>
                                  <tr>
                                      <td style="padding: 0px;">
                                          <input type="text" name="document_no" ngModel required style="margin: 0px; height: 33px;">
                                      </td>
                                      <td style="padding: 0px;">
                                          <input type="text" name="title" ngModel required style="margin: 0px; height: 33px;">
                                      </td>
                                      <td style="padding: 0px; vertical-align: middle;">
                                          <button class="btn btn-sm btn-info" (click)="addAssociated(associatedForm)">{{'common.add' | translate}}</button>
                                      </td>
                                  </tr>
                                  <tr *ngFor="let list of associatedList; let i = index">
                                      <td style="text-align: left;">{{ list.document_no }}</td>
                                      <td style="text-align: left;">{{ list.title }}</td>
                                      <td>
                                          <clr-icon shape="trash" class="is-error" (click)="deleteAssociated(i)"></clr-icon>
                                      </td>
                                  </tr>
                                  <tr *ngIf="associatedList?.length == 0">
                                      <td colspan="3">{{'common.noRecords' | translate}}</td>
                                  </tr>
                              </table>
                          </form><br>
                          <div class="card-footer">
                            <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:1px; right:0px;">Edit Draft</button>
                            <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:1px; right:120px;" >{{'common.save' | translate}}</button>
                          </div>
                        </div>  
                      </div>
                  </div>
     
          </div>
  
  </div>  
  
  
  
  
  <div class="card">
    <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color: black;"><strong>Process Overview</strong></div>
        <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-info btn-icon" (click)="inputShow2()">
            <clr-icon shape="eye" class="is-warning"></clr-icon>
          </button>
  
           <button (click)="inputShow()" type="checkbox" style="float:right;;background-color: rgb(14, 67, 112)">Click</button> 
        </div>
      </div>
    </div>
  
    <div class="clr-col-12">
      <div class="card-block">
      <div *ngIf="isreq2" class="row container-fluid" id="show">
     
      <input type="file" name="process_overview" ngModel required style="height: auto;" accept="image/x-png,image/gif,image/jpeg" (change)="onFileChanged1($event)">
    </div>
  </div>
  </div>
  </div>
  
  
  
  
  
  
  <div class="card">
   
    <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left; color: black;"><strong>Procedure</strong></div>
        <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-info btn-icon" (click)="toShow()">
            <clr-icon shape="eye" class="is-warning"></clr-icon>
          </button>
        </div>
      </div>
    </div>
  
           
    <div class="card-block">
      <div class="card-text">
        <div *ngIf="isShow2" class="row container-fluid" id="divshow"> 
        <form #prepareForm="ngForm">
          <div class="clr-row">
            <div class="clr-col-12">
            
              <editor name="purpose"  ngModel [apiKey]="api" [init]="init">
              </editor>
            </div>
          </div>  
          </form>  
  
          <div class="card-footer">
            <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:0px;">Edit Draft</button>
            <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:120px;" >{{'common.save' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  <div class="card">
    <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color:black">
         <strong> Abbreviation</strong></div>
        <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-info btn-icon" (click)="sysShow()">
            <clr-icon shape="eye" class="is-warning"></clr-icon>
          </button>
  
         <button (click)="sysShow()" type="checkbox" style="float:right;;background-color: pink;">Click</button> 
        </div>
      </div>
    </div>
  
    
    <div class="clr-col-12" style="margin-bottom:10px;">
      <div class="card-block">
      <div *ngIf="isdiv" class="row container-fluid" id="hr">
      <form #abbreviationForm="ngForm">
          <table class="table table-border">
              <tr>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Short Form</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Full Title</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
              </tr>
              <tr>
                  <td style="padding: 0px;">
                      <input type="text" name="short_form" ngModel required style="margin: 0px; height: 33px;">
                  </td>
                  <td style="padding: 0px;">
                      <input type="text" name="full_title" ngModel required style="margin: 0px; height: 33px;">
                  </td>
                  <td style="padding: 0px; vertical-align: middle;">
                      <button class="btn btn-sm btn-info" (click)="addAbbreviation(abbreviationForm)">{{'common.add' | translate}}</button>
                  </td>
              </tr>
              <tr *ngFor="let list of abbreviationList; let i = index">
                  <td style="text-align: left;">{{ list.short_form }}</td>
                  <td style="text-align: left;">{{ list.full_title }}</td>
                  <td>
                      <clr-icon shape="trash" class="is-error" (click)="deleteAbbreviation(i)"></clr-icon>
                  </td>
              </tr>
              <tr *ngIf="abbreviationList?.length == 0">
                  <td colspan="3">{{'common.noRecords' | translate}}</td>
              </tr>
          </table>
      </form>
      <div class="card-footer">
        <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:0px;">Edit Draft</button>
        <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:120px;" >{{'common.save' | translate}}</button>
      </div>
      </div>
   </div>
  </div>
  </div>  
  
  
  
  
  
  <div class="card">
    <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color:black">
          <strong>Training Requirement</strong></div>
        <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-info btn-icon" (click)="sysShow1()">
            <clr-icon shape="eye" class="is-warning"></clr-icon>
          </button>
  
           <button (click)="sysShow()" type="checkbox" style="float:right;;background-color: pink;">Click</button>
        </div>
      </div>
    </div>
  
    <div class="clr-col-12">
      <div class="card-block">
        <div *ngIf="isdiv1" class="row container-fluid" id="hr">
        <div class="card-block">
          
        
          <div class="card-text">
            <form #trainingForm="ngForm">
              <div class="clr-row">
                <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                  <label>{{'common.department' | translate}}</label>
                  <select name="department" ngModel required>
                    <option></option>
                    <option *ngFor="let item of departments; let i = index">{{item.department_name}}</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" (click)="addTraining(trainingForm)">{{'common.add' | translate}}</button>
        </div>
        <div class="card-block">
          <div class="card-text">
            <table class="table table-border">
              <tr>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.department' | translate}}</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
              </tr>
              <tr *ngFor="let user of trainingList; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{user}}</td>
                <td style="text-align: center;">
                  <clr-icon shape="trash" class="is-error" (click)="deleteTraining(i)"></clr-icon>
                </td>
              </tr>
              <tr *ngIf="trainingList.length === 0">
                <td colspan="3" style="height: 40px;">No Record found</td>
              </tr>
            </table>
            <div class="card-footer">
              <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:0px;">Edit Draft</button>
              <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:120px;" >{{'common.save' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
  </div>  
  
  
  
  
  <div class="card">
   
    <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color:black"><strong>Distribution</strong></div>
        
        <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-info btn-icon" (click)="actualShow()">
            <clr-icon shape="eye" class="is-warning"></clr-icon>
          </button>
  
           <button (click)="actualShow()" type="checkbox" style="float:right;;background-color: burlywood;">Click</button> 
        </div>
      </div>
    </div>
  
    
    <div class="clr-col-12">
      <div class="card-block">
        <div *ngIf="isrow" class="row container-fluid" id="in">
        
         
          <div class="card-text">
            <form #distributionForm="ngForm">
              <div class="clr-row">
                <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                  <label>{{'common.department' | translate}}</label>
                  <select name="department" ngModel required>
                    <option></option>
                    <option *ngFor="let item of departments; let i = index">{{item.department_name}}</option>
                  </select>
                </div>
              </div>
            </form>
        
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" (click)="addDistribution(distributionForm)">{{'common.add' | translate}}</button>
        </div>
       
          <div class="card-text">
            <table class="table">
              <tr>
                <th>Sr</th>
                <th>{{'common.department' | translate}}</th>
                <th>{{'common.table.action' | translate}}</th>
              </tr>
              <tr *ngFor="let user of distributionList; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{user}}</td>
                <td style="text-align: center;">
                  <clr-icon shape="trash" class="is-error" (click)="deleteDistribution(i)"></clr-icon>
                </td>
              </tr>
              <tr *ngIf="distributionList.length === 0">
                <td colspan="3" style="height: 40px;">No Record found</td>
              </tr>
            </table>
            <div class="card-footer">
              <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:0px;">Edit Draft</button>
              <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:120px;" >{{'common.save' | translate}}</button>
            </div>
          </div>
        </div>
      
    </div>
  </div>
  </div>  
  
  
  
  
  <div class="card">
    <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color: black;"><strong>Attachments</strong></div>
        <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-info btn-icon" (click)="inputShow()">
            <clr-icon shape="eye" class="is-warning"></clr-icon>
          </button>
  
           <button (click)="inputShow()" type="checkbox" style="float:right;;background-color: rgb(14, 67, 112)">Click</button> 
        </div>
      </div>
    </div>
  
  
  
    <div class="clr-col-12">
      <div class="card" style="margin-bottom: 10px;">
        <div *ngIf="isreq" class="row container-fluid" id="system">
        
          <div class="card-text">
            <div class="clr-row">
              <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                <label>Select Multiple Files</label>
                <input type="file" name="attachments" multiple ngModel required style="height: auto;">
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>  
  </div>
  
  
  
  
  
  
  
  <div class="card">
    <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
      <div class="clr-row" style="margin-bottom: 10px;">
        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color: black;"><strong>Revision History</strong></div>
        <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-info btn-icon" (click)="inputShow1()">
            <clr-icon shape="eye" class="is-warning"></clr-icon>
          </button>
  
         <button (click)="inputShow()" type="checkbox" style="float:right;;background-color: rgb(14, 67, 112)">Click</button> 
        </div>
      </div>
    </div>
  
  
    
    <div class="clr-col-12">
      <div class="card" style="margin-bottom: 10px;">
        <div *ngIf="isreq1" class="row container-fluid" id="system">
        <div class="card-block" >
          
          <div class="card-text">
            <form #revisionForm="ngForm">
              <div class="clr-row">
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                  <label>Version No</label>
                  <input type="text" name="ver_no" ngModel required>
                </div>
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                  <label>Change Mode</label>
                  <input type="text" name="change_mode" ngModel required>
                </div>
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                  <label>Reason for change</label>
                  <input type="text" name="change_reason" ngModel required>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" (click)="addRevision(revisionForm)">{{'common.add' | translate}}</button>
        </div>
        <div class="card-block" style="margin-bottom: 10px;">
          <div class="card-text">
            <table class="table table-border">
              <tr>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Version No</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Change Mode</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Reason for change</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
              </tr>
              <tr *ngFor="let user of revisionList; let i = index">
                <td style="text-align: center;">{{ i+1 }}</td>
                <td style="text-align: center;">{{user.ver_no}}</td>
                <td style="text-align: center;">{{user.change_mode}}</td>
                <td style="text-align: center;">{{user.change_reason}}</td>
                <td style="text-align: center;">
                  <clr-icon shape="trash" class="is-error" (click)="deleteRevision(i)"></clr-icon>
                </td>
              </tr>
              <tr *ngIf="revisionList.length === 0">
                <td colspan="5" style="height: 40px;">No Record found</td>
              </tr>
            </table>
            <div class="card-footer">
              <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:0px;">Edit Draft</button>
              <button class="btn btn-primary " (click)="save(myForm)" style="position:absolute; bottom:5px; right:120px;" >{{'common.save' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  ------>