<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;"> Shedule For Filter Replacement</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/engineering/nitrogen" style="background-color: red;color: white;">
                    <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <form #newForm="ngForm">   
        <div class="card-text">
            <h4> Schedule Details</h4>
           
                <div class="clr-row">
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>schedule Date:<span style="color: red;">*</span></label>
                        <input type="text" name="shedule_date" ngModel required>
                    </div>
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label> Shedule ID:<span style="color: red;">*</span></label>
                        <input type="text" name="shedule_id" ngModel required>
                    </div>
                    </div>
                    <h4>Filter Information</h4>
                    <div class="clr-row">

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                        <label> Filter Name:<span style="color: red;">*</span></label>
                        <input type="text" name="filter_name" ngModel required>
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                        <label>Filter Id / Code:<span style="color: red;">*</span></label>
                        <input type="text" name="filter_id" ngModel required>
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                        <label>Replacement Interval:<span style="color: red;">*</span></label>
                        <input type="text" name="replacement_interval" ngModel required>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" style="text-align: left; color: black; background-color:skyblue;">Replacement Details</div>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Sheduled Replacement Date:<sup style="color: red">*</sup></strong></label>
                            <input type="date" name="shedulereplc_date" ngModel>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Previous Replacement Date:<sup style="color: red">*</sup></strong></label>
                            <input type="date" name="previous_date" ngModel>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Next Replacement Date:<sup style="color: red">*</sup></strong></label>
                            <input type="date" name="next_date" ngModel>
                        </div>
                         

                    </div>
                </div>
                <div class="card-header" style="text-align: left; color: white; background-color:skyblue;"> Maintenace Details</div>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Maintence Team:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="maintenance_team" ngModel>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong> Maintenance Note:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="maintenance_note" ngModel>
                        </div>
                    </div>
                </div>        
            </div> 
            <div class="card">
                 <div class="card-block">
                    <h4>Attachment :</h4>
                    <div class="clr-row">
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Upload Maintenance:<sup style="color: red">*</sup></strong></label>
                            <input type="file" name="up_mentance" ngModel>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong> Replacement Status:<sup style="color: red">*</sup></strong></label>
                            <select type="text" name="approvel_status" ngModel>
                                <option></option>
                                <option>Complete</option>
                                <option>Not Complete</option>
                                <option> Ongoing</option>
                            </select> 
                        </div>
                       
                    </div>
                </div>
                </div>
                 
                
        </form>
    </div>

        <div class="card-footer">
            <button class="btn btn-primary" (click)="save(newForm)">{{'common.submit' | translate}}</button>
        </div>
</div>
