<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-6" style="color: aliceblue;margin-top: -2px;text-align: left;"> PreApproval Of Change Control</div>
          <div class="clr-col-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/qa/cctemporary" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <table class="table">
                <tr>
                    <th>Sr.</th>
                    <th>Document No.</th>
                    <th style="text-align: left;">Document Type</th>
                    <th>CC Related</th>
                    <th>Initiate Dept</th>
                    <th>Initiate By</th>
                    <th>Initiate Date</th>
                    <th>{{'common.table.action' | translate}}</th>
                </tr>
                <tr *ngFor="let res of results;let i=index">
                    <td>{{ i+1 }}</td>
                    <td>{{ res.document_no }}</td>
                    <td style="text-align: left;">{{ res.document_type }}</td>
                    <td> {{ res.cc_related}}</td>
                    <td>{{ res.initiate_dept}}</td>
                    <td>{{ res.initiate_by}}</td>
                    <td>{{ res.initiate_date}}</td>
                    <td>
                        <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                    </td>
                </tr>
                <tr *ngIf="results?.length==0">
                    <td colspan="7">{{'common.noRecords' | translate}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div class="card" *ngIf="isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-6" style="color: aliceblue;margin-top: -2px;text-align: left;"> PreApproval Change Control</div>
          <div class="clr-col-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" (click)="isView=false" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <table  class="table">
                <tr>
                    <td style="text-align: left;width: 40%;">Document No.:</td>
                    <td style="text-align: left;">{{ selectedResult['document_no']}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;width: 40%;">Document Type:</td>
                    <td style="text-align: left;">{{ selectedResult['document_type']}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;width: 40%;">CC Related:</td>
                    <td style="text-align: left;">{{ selectedResult['cc_related']}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;width: 40%;">Title Of Change:</td>
                    <td style="text-align: left;">{{ selectedResult['change_title']}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Medicap Lot No/Equpment ID/ Instrument ID / Document No/No of Days:</td>
                    <td style="text-align: left;">{{ selectedResult['document_no']}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;width: 40%;">Current/Existing Procedure:</td>
                    <td style="text-align: left;">{{ selectedResult['existing_procedure']}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Proposed Changes:</td>
                    <td style="text-align: left;">{{ selectedResult['proposed_change']}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Reason / Justification Of each Proposed Change:</td>
                    <td style="text-align: left;">{{ selectedResult['change_reason']}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Affected LMR / BMR version No/Other Document(specify):</td>
                    <td style="text-align: left;">{{ selectedResult['affected_for']}}</td>
                </tr>
            </table>
        
            <h3>Attachments:</h3>
            <table class="table">
                <tr>
                    <th>Sr.</th>
                    <th style="text-align: left;">Particular</th>
                    <th>View Attachment</th>
                </tr>
                <tr *ngFor="let attachment of selectedResult['attachments']; let i = index">
                    <td>{{ i + 1 }}.</td>
                    <td style="text-align: left;">{{ attachment.particular }}</td>
                    <td>
                        <button class="btn btn-sm btn-info" (click)="viewfile(attachment.file)">{{'common.view' | translate}}</button>
                    </td>
                </tr>
            </table>
            <h3>Attributes</h3>
            <table class="table">
                <tr>
                    <th>Sr.</th>
                    <th style="text-align: left;">Attribute</th>
                    <th style="text-align: left;">Yes/No</th>
                    <th style="text-align: left;">Work Description</th>
                    <th style="text-align: left;">Responsibility for Action</th>
                </tr>
                <tr *ngFor="let attr of selectedResult['action_plan'];let i = index" style="margin: 0px;">
                    <td>{{ i+1 }}</td>
                    <td style="text-align: left;">{{attr.attribute}}</td>
                    <td style="text-align:left;">{{ attr.status }} </td>
                    <td style="padding: 0px;"> {{ attr.description}} </td>
                    <td style="padding: 0px;"> {{ attr.responsibility }} </td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <td style="text-align: left;">Change Control Initiated by: {{ selectedResult['initiate_by'] }} / {{ selectedResult['initiate_date'] | date: 'dd-MM-yyyy' }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Remark: {{ selectedResult['dept_remark'] }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Change Control Initiated by: {{ selectedResult['dept_check_by'] }} / {{ selectedResult['dept_check_date'] | date: 'dd-MM-yyyy' }}</td>
                </tr>
            </table>
            <form #proposed="ngForm">
                <div class="clr-row" style="margin-top: 30px;">
                    <div class="clr-col-lg-6">
                        <label>Proposed Change</label>
                        <select name="proposed_change"  ngModel required>
                            <option> Major</option>
                            <option> Minor</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-6">
                        <label>Proposed Change</label>
                        <select name="change_status" ngModel (change)="getChanges($event.target.value)" required>
                            <option></option>
                            <option value="APPROVED"> APPROVED</option>
                            <option value="REJECTED"> REJECTED</option>
                        </select>
                    </div>
                    <div  class="clr-col-lg-12" *ngIf="isrejected">
                        <label>Reason for Rejection:</label>
                        <input type="text" name="reject_reason" ngModel required>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="save(proposed)">{{'common.save' | translate}}</button>
        <button class="btn btn-danger" (click)='isView=false'>{{'common.close' | translate}}</button>
    </div>
</div>