<div class="card" *ngIf="!isView && !add_packing_material">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-3" style="color: aliceblue;margin-top: -2px;text-align: left;">Unit Formula Log</div>
      <div class="clr-col-lg-9" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm" routerLink="/rnd/unitformula/new"
          style="background-color: green;color: white;">{{'common.new' | translate}}</button>
        <button class="btn btn-sm" routerLink="/rnd/unitformula"
          style="background-color: red;color: white;">{{'common.close' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <div class="clr-row">
        <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
          <label>Product Type:</label>
          <select name="dosage_form" [(ngModel)]="dosage_form" (change)="getProducts()" required>
            <option></option>
            <option *ngFor="let dosage of dosages">{{ dosage.dosage_form }}</option>
          </select>
        </div>
        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
          <label>Product Name:</label>
          <select name="product_code" [(ngModel)]="product_code" required>
            <option></option>
            <option *ngFor="let product of products">{{ product.product_name }} - {{ product.grade }}</option>
          </select>
        </div>
        <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
          <label>{{'common.status' | translate}}</label>
          <select name="status" [(ngModel)]="status" required>
            <option value="pending">{{'common.pending' | translate}}</option>
            <option value="approve">{{'common.approved' | translate}}</option>
          </select>
        </div>
        <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
          <button class="btn btn-danger" style="margin-top: 30px;" (click)="getUnitFormulas()">{{'common.search' | translate}}</button>
        </div>
      </div>
      <table class="table">
        <tr>
          <th>Sr.</th>
          <th>Unit Formula No.</th>
          <th style="text-align: left;">Product Type</th>
          <th style="text-align: left;">Product Name</th>
          <th>Product Code</th>
          <th>Grade</th>
          <th>{{'common.status' | translate}}</th>
          <th>{{'common.table.action' | translate}}</th>
        </tr>
        <tr *ngFor="let result of results; let i = index">
          <td>{{ i + 1 }}.</td>
          <td>{{ result.mfr_no }}</td>
          <td style="text-align: left;">{{ result.product_type }}</td>
          <td style="text-align: left;">{{ result.product_name }}</td>
          <td>{{ result.product_code }}</td>
          <td>{{ result.grade }}</td>
          <td [ngClass]="{'positive' : result.status == 'pending'}">{{ result.status }}</td>
          <td>
            <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
            <button class="btn btn-sm btn-info" (click)="viewPackingMaterial(i)">Add Packing Material</button>
          </td>
        </tr>
        <tr *ngIf="results?.length == 0">
          <td colspan="7">No. Records Found!</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="card" *ngIf="isView && !add_packing_material">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-lg-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Master Formula Details</div>
      <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <h3>Product Details:</h3>
      <table class="table">
        <tr>
          <td style="text-align: left; border:1px solid black;"> <b>Product Code</b></td>
          <td style="text-align: left; border:1px solid black;">{{selectedResult['product_code']}}</td>
          <td style="text-align: left; border:1px solid black;"><b>Product Name</b></td>
          <td style="text-align: left; border:1px solid black;">{{selectedResult['product_name']}}</td>
        </tr>
        <tr>
          <td style="text-align: left; border:1px solid black;"><b>Generic Name</b></td>
          <td style="text-align: left; border:1px solid black;">{{selectedResult['generic_name']}}</td>
          <td style="text-align: left; border:1px solid black;"><b>Grade</b></td>
          <td style="text-align: left; border:1px solid black;">{{selectedResult['grade']}}</td>
        </tr>
        <tr>
          <td style="text-align: left; border:1px solid black;"><b>Product Type</b></td>
          <td style="text-align: left; border:1px solid black;">{{selectedResult['dosage_form']}}</td>
          <td style="text-align: left; border:1px solid black;"><b>color</b></td>
          <td style="text-align: left; border:1px solid black;">{{selectedResult['color_used']}}</td>
        </tr>
        <tr>
          <td style="text-align: left; border:1px solid black;"><b>Label Claim</b></td>
          <td style="text-align: left; border:1px solid black;" colspan="3">{{selectedResult['label_claim']}}</td>
        </tr>
      </table>

      <br>
      <div class="clr-row">
        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
          <label>Unit Formula For:</label>
          <input type="text" name="batch_size" ngModel="{{ selectedResult['batch_size'] }} Kg" readonly>
        </div>
      </div>

      <div class="card">
        <div class="card-header" style="text-align: center">
          <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">
              Raw Materials List:</div>
            <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
              <button class="btn btn-sm btn-info btn-icon">
                <clr-icon shape="eye" class="is-warning"></clr-icon>
              </button>
            </div>
          </div>
        </div>

        <table class="table" style="margin-top:0px">
          <tr>
          <tr>
            <th>Sr.</th>
            <th style="text-align: left;">Material type</th>
            <th style="text-align: left;">Material Code</th>
            <th style="text-align: left;">Material Name</th>
            <th>Qty</th>
            <th>Overages (%)</th>
            <th>Total Qty</th>
            <th>Percent Qty</th>
          </tr>
          <tr *ngFor="let comp of raw_materials; let i = index">
            <td>{{ i + 1 }}.</td>
            <td style="text-align: left;">{{ comp.material_subtype }}</td>
            <td style="text-align: left;">{{ comp.material_code }}</td>
            <td style="text-align: left;">{{ comp.material_name }}</td>
            <td>{{ comp.qty }} {{ comp.unit }}</td>
            <td>{{ comp.overages_per }}</td>
            <td>{{ comp.total_qty }}</td>
            <td>{{ comp.percent_qty }}</td>

          </tr>
          <tr *ngIf="selectedResult['raw_materials']?.length == 0">
            <td colspan="8">{{'common.noRecords' | translate}}</td>
          </tr>
        </table>

      </div>

      <div class="card">
        <div class="card-header" style="text-align: center">
          <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">
              Packing Materials List:</div>
            <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
              <button class="btn btn-sm btn-info btn-icon">
                <clr-icon shape="eye" class="is-warning"></clr-icon>
              </button>
            </div>
          </div>
        </div>

        <table class="table" style="margin-top:0px" *ngFor="let packList of packing_List_All;let k = index">
          <tr style="background-color: maroon; color: white;font-weight: bold;">
            <td colspan="2">Batch Size</td>
            <td>{{packList.pm_batch_size}}</td>
            <td>Pack Size</td>
            <td>{{packList.pm_pack_size}}</td>
            <td>Pack Unit</td>
            <td>{{packList.pm_pack_unit}}</td>
          </tr>
          <tr style="background-color: darkblue; color: white;font-weight: bold;">
            <th>Sr.</th>
            <th>Code</th>
            <th>{{'common.name' | translate}}</th>
            <th>Grade</th>
            <th>Unit Qty</th>
            <th>Overages</th>
            <th>Required Qty</th>
          </tr>
          <tr *ngFor="let comp of packList.packing_list;let i = index">
            <td>{{ i + 1 }}.</td>
            <td style="text-align: left;">{{ comp.material_code }}</td>
            <td style="text-align: left;">{{ comp.material_name }}</td>
            <td>{{ comp.grade }}</td>
            <td>{{ comp.qty }} {{ comp.unit }}</td>
            <td>{{ comp.overages }}</td>
            <td>{{ comp.total_qty }} {{ comp.unit }}</td>
          </tr>
          <tr *ngIf="packList.packing_list?.length == 0">
            <td colspan="8">{{'common.noRecords' | translate}}</td>
          </tr>
        </table>



      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="download()">{{'common.download' | translate}}</button>
      <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
    </div>
  </div>
</div>

<div class="card" *ngIf="!isView && add_packing_material">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-lg-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Add Packing Material</div>
      <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <h3>Product Details:</h3>
      <table class="table">
        <tr>
          <td style="text-align: left; border:1px solid black;"> <b>Product Code</b></td>
          <td style="text-align: left; border:1px solid black;">{{selectedResult['product_code']}}</td>
          <td style="text-align: left; border:1px solid black;"><b>Product Name</b></td>
          <td style="text-align: left; border:1px solid black;">{{selectedResult['product_name']}}</td>
        </tr>
        <tr>
          <td style="text-align: left; border:1px solid black;"><b>Generic Name</b></td>
          <td style="text-align: left; border:1px solid black;">{{selectedResult['generic_name']}}</td>
          <td style="text-align: left; border:1px solid black;"><b>Grade</b></td>
          <td style="text-align: left; border:1px solid black;">{{selectedResult['grade']}}</td>
        </tr>
        <tr>
          <td style="text-align: left; border:1px solid black;"><b>Product Type</b></td>
          <td style="text-align: left; border:1px solid black;">{{selectedResult['dosage_form']}}</td>
          <td style="text-align: left; border:1px solid black;"><b>color</b></td>
          <td style="text-align: left; border:1px solid black;">{{selectedResult['color_used']}}</td>
        </tr>
        <tr>
          <td style="text-align: left; border:1px solid black;"><b>Label Claim</b></td>
          <td style="text-align: left; border:1px solid black;" colspan="3">{{selectedResult['label_claim']}}</td>
        </tr>
      </table>

      <br>
      <form #packForm="ngForm">
        <div class="clr-row">
          <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
            <label>Unit Formula For:</label>
            <input type="text" name="batch_size" ngModel="{{ selectedResult['batch_size'] }} Kg" readonly>
          </div>

          <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
            <label>Packing Material Batch Size:</label>
            <input type="text" name="pm_batch_size" [(ngModel)]="pm_batch_size" required>
          </div>

          <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
            <label>Packing Material Pack Size:</label>
            <select name="pack_size" [(ngModel)]="pm_pack_size" required>
              <option> </option>
              <option *ngFor="let pack of pack_size" [ngValue]="pack">
                {{pack.pack_size}}- {{pack.unit}}
              </option>
            </select>
          </div>

        </div>

        <div class="card">
          <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">
                Packing Materials List:</div>
              <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-info btn-icon">
                  <clr-icon shape="eye" class="is-warning"></clr-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="card-block">
            <div class="row container-fluid">
              <form #pForm="ngForm">
                <div class="clr-row">
                  <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" style="padding-right: 0px;">
                    <label>Material Type:</label>
                    <select name="material_subtype" ngModel [(ngModel)]="material_subtype" required
                      (change)="getMaterialsBySubType($event.target.value)">
                      <option></option>
                      <option *ngFor="let type of sub_types">{{type.material_subtype}}
                      </option>
                    </select>
                  </div>

                  <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12"
                    style="padding-left: 0px;padding-right: 0px;">
                    <label>Material Name:</label>
                    <select name="material_name" (change)="getSelectedMaterial($event.target.selectedIndex)" ngModel
                      required>
                      <option></option>
                      <option *ngFor="let material of materials;" [value]="material.material_code">{{
                        material.material_name }} - {{ material.grade }}</option>
                    </select>
                  </div>
                  <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-3 clr-col-xs-12">
                    <label>Qty:<br></label>
                    <input type="text" name="qty" ngModel required style="width: 65%;">
                    <input type="text" name="unit_name" style="width: 35%;" [(ngModel)]="unit_name" readonly>
                  </div>


                  <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" style="padding-left: 0px;">
                    <label>Overages %</label>
                    <input type="number" name="overages" ngModel required>
                  </div>
                  <div class="clr-col-lg-2 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                    <button class="btn btn-primary" (click)="addPackingMaterial(pForm)">{{'common.add' | translate}}</button>
                  </div>
                </div>

                <table class="table" style="margin-top:0px">
                  <tr>
                    <th>Sr.</th>
                    <th style="text-align: left;">Code</th>
                    <th style="text-align: left;">{{'common.name' | translate}}</th>
                    <th>Grade</th>
                    <th>Unit Qty</th>
                    <th>Overages</th>
                    <th>Required Qty</th>
                  </tr>
                  <tr *ngFor="let comp of packingList;let i = index">
                    <td>{{ i + 1 }}.</td>
                    <td style="text-align: left;">{{ comp.material_code }}</td>
                    <td style="text-align: left;">{{ comp.material_name }}</td>
                    <td>{{ comp.grade }}</td>
                    <td>{{ comp.qty }} {{ comp.unit }}</td>
                    <td>{{ comp.overages }}</td>
                    <td>{{ comp.total_qty }} {{ comp.unit }}</td>
                  </tr>
                  <tr *ngIf="packingList?.length == 0">
                    <td colspan="8">{{'common.noRecords' | translate}}</td>
                  </tr>
                </table>
              </form>


            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="savePackingMaterial(packForm)">{{'common.save' | translate}}</button>
      <button class="btn btn-danger" (click)="add_packing_material = false">{{'common.close' | translate}}</button>
    </div>
  </div>
</div>