<div class="container-fluid" >
    <div class="card" *ngIf="!isView">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Inprocess Revision History</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/specifications/inprocess" style="background-color: red;color: white;">
              CLOSE
            </button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="clr-row">
          <div class="clr-col-lg-4">
            <label>Product Type</label>
            <select name="product_type" [(ngModel)]="dosage_form" required>
              <option></option>
              <option *ngFor="let dosage of dosages" value="{{ dosage.dosage_form }}">{{ dosage.dosage_form }}</option>
            </select>
          </div>
          <div class="clr-col-lg-3 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
            <label>Grade:</label>
            <select name="grade" [(ngModel)]="grade" required>
              <option></option>
              <option value="IP">IP</option>
              <option value="EP">EP</option>
              <option value="BP">BP</option>
              <option value="USP">USP</option>
              <option value="IHS">IHS</option>
              <option value="JP">JP</option>
              <option value="CP">CP</option>
              <option value="Commercial">Commercial</option>
              <option value="Analytical">Analytical</option>
            </select>
          </div>
          <div class="clr-col-lg-3">
            <label>Status:</label>
            <select name="status" [(ngModel)]="status" required>
              <option></option>
              <option value="pending">{{'common.pending' | translate}}</option>
              <option value="checked">checked</option>
              <option value="approve">approve</option>
              <option value="reject">reject</option>
              <option value="obsolate">obsolate</option>
            </select>
        </div>
          <div class="clr-col-lg-1">
              <button class="btn btn-danger" style="margin-top: 30px;" (click)="getReports()">{{'common.search' | translate}}</button>
          </div>
        </div>
        <div class="card-text">
          <table class="table">
            <tr>
              <th>Spec No</th>
              <th>Product Type</th>
              <th>Product Name</th>
              <th>Product Code</th>
              <th>Grade</th>
              <th>Sample Qty</th>
              <th>Version No</th>
              <th>Supersede No</th>
              <th>{{'common.status' | translate}}</th>
              <th>View</th>
            </tr>
            <tr *ngFor="let user of specifications; let i = index">
                <td>{{user.specification_no}}</td>
                <td>{{user.product_type}}</td>
                <td>{{user.product_name}}</td>
                <td>{{user.product_code}}</td>
                <td>{{user.grade}}</td>
                <td>{{user.sample_qty}} {{ user.unit }}</td>
                <td>{{user.version_no}}</td>
                <td>{{user.supersede_no}}</td>
                <td>{{user.status}}</td>
                <td>
                    <button class="btn btn-sm btn-info" (click)="viewSpecification(i)">{{'common.view' | translate}}</button>
                </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card"  *ngIf="isView">
      <div class="card-header">Inprocess Revision Details:</div>
      <div class="card-block">
        <div class="card-text">
          <table class="table">
            <tr>
              <td style="width: 15%"><b>Specification No</b></td>
              <td>: {{ selectedSpec['specification_no'] }}</td>
            </tr>
            <tr>
              <td><b>Specification Type</b></td>
              <td>: {{ selectedSpec['spec_type'] }}</td>
            </tr>
            <tr>
              <td><b>Version No</b></td>
              <td>: {{ selectedSpec['version_no'] }}</td>
            </tr>
            <tr>
              <td><b>Supersede No</b></td>
              <td>: {{ selectedSpec['supersede_no'] }}</td>
            </tr>
            <tr>
              <td><b>Chemical Sample Qty</b></td>
              <td>: {{ selectedSpec['sample_qty'] }} {{ selectedSpec['unit'] }}</td>
            </tr>
            <tr>
              <td><b>Microbiology Sample Qty</b></td>
              <td>: {{ selectedSpec['micro_qty'] }} {{ selectedSpec['unit'] }}</td>
            </tr>
            <tr>
              <td><b>Product Name</b></td>
              <td>: {{ selectedSpec['product_name'] }}</td>
            </tr>
            <tr>
              <td><b>Product Code</b></td>
              <td>: {{ selectedSpec['product_code'] }}</td>
            </tr>
            <tr>
              <td><b>Reference Type</b></td>
              <td>: {{ selectedSpec['grade'] }}</td>
            </tr>
          </table>
            <h3>Revision History:</h3>
            <table class="table">
              <tr>
                <th>Sr</th>
                <th>Specification No</th>
                <th>Version No</th>
                <th>Change Mode</th>
                <th>Reason for change</th>  
              </tr>
              <tr *ngFor="let user of selectedSpec['revision_history']; let i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{user.spec_no}}</td>
                  <td>{{user.version_no}}</td>
                  <td>{{user.change_mode}}</td>
                  <td>{{user.reason}}</td>
              </tr>
            </table>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
      </div>
    </div>
</div>