<div class="card" *ngIf="!isNew">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;"> CLEANING SCHEDULE OF FIRE HYDRANT WATER TANK

            </div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">

            </div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-danger" (click)="isNew=true">{{'common.new' | translate}}</button>
                <button class="btn btn-sm btn-danger" routerLink="/ehs/firehydrant">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <table class="table">
                <tr>
                    <td>{{'common.table.srNo' | translate}}</td>
                    <td>Tank Name</td>
                    <td>Location</td>
                    <td>Year</td>
                </tr>
                <tr *ngFor="let data of getstpschedule;let i = index">
                    <td>{{i+1}}</td>
                    <td>{{data.Tankname}}</td>
                    <td>{{data.location}}</td>
                    <td>{{data.month}}</td> 
                          <td>{{data.department}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>
<div class="card" *ngIf="isNew">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">CLEANING SCHEDULE OF FIRE HYDRANT WATER TANK
            </div>
            <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <form #TankForm="ngForm">
                <table class="table">
                    <tr>
                        <th>TANK NAME</th>
                        <th>LOCATION</th>
                        <th>Month/Year:</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="Tankname" ngModel></td>
                        <td>
                            <select name="section_name" ngModel (change)="getEmpdata($event.target.selectedIndex)">
                                <option></option>
                                <option *ngFor="let person of Sections">{{ person.section_name }}</option>
                            </select>
                        </td>
                        <td><input type="month" name="month" ngModel></td>
                    </tr>
                </table>
            </form>
        </div>
        <button type="submit" class="btn btn-primary" (click)="submitTankForm(TankForm)">{{'common.submit' | translate}}</button>
        <button class="btn btn-danger" (click)="isNew=false">{{'common.close' | translate}}</button>
    </div>

</div>
