<div class="container-fluid">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">New  Development</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/rnd/predevelopment" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
              </div>
            </div>
          </div>
        <div class="card-block">
        <div class="card-text">
          <form #product="ngForm">
            <div class="clr-row">
                <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                    <label>Product Name<sup style="color: red">*</sup>:</label>
                    <input type="text" name="product_name" ngModel required>
                </div>
                <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                <label>Proposed Route Of Administartion<sup style="color: red">*</sup>:</label>
                <input type="text" name="proposed_route" ngModel required>
                </div>
                <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                <label>Proposed Product Type<sup style="color: red">*</sup>:</label>
                <input type="text" name="dosage_form" ngModel required>
                </div>
                <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                <label>Drug Delivery System <sup style="color: red">*</sup>:</label>
                <input type="text" name="delivery_system" ngModel required>
                </div>
                 <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-6clr-col-xs-12">
                <label>Strengths<sup style="color: red">*</sup> :</label>
                <input type="text" name="strength" ngModel required>
                 </div>
                <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-6 clr-col-xs-12">
                <label>{{'common.unit' | translate}}<sup style="color: red">*</sup>:</label>
                <input type="text" name="unit" ngModel required>
                </div>
                <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                <label>proposed Container Clouser System<sup style="color: red">*</sup>:</label>
                <input type="text" name="container_closure" ngModel required>
                </div>
                <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                    <label>Quality Criteria<sup style="color: red">*</sup>:</label>
                    <input type="text" name="quality_criteria" ngModel required>
                </div>
                <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                    <label>Sterility<sup style="color: red">*</sup>:</label>
                   <select name="sterility" ngModel required>
                       <option></option>
                       <option>Applicable</option>
                       <option> Not Applicable</option>
                   </select>
                </div>
                <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                    <label>Stabilty <sup style="color: red">*</sup>:</label>
                    <select name="stability" ngModel required>
                        <option></option>
                        <option>Proposed</option>
                        <option>Study Parameters</option>
                    </select>
                </div>
                <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-xs-12 remove-side-arrow-container">
                    <label>temperature<sup style="color: red">*</sup> :</label>
                    <input type="number" name="temp" ngModel required>
                </div>
                <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                    <label>Humidity <sup style="color: red">*</sup>:</label>
                    <input type="text" name="humidity" ngModel required>
                </div>
            </div>
          </form>
        </div>
       </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="save(product)">{{'common.save' | translate}}</button>
      </div>
    </div>
</div>
  
  