<div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">GENERATE NEW QUOTATION
          </div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/marketing/quotation" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <form #ClientAdd="ngForm">
            <div class="clr-row">
              <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                <label>Client Name <span style="color:red">*</span></label>
                <select name="client_code" ngModel  required>
                  <option></option>
                  <option *ngFor="let item of clientdata" value="{{item.client_code}}">{{item.LglNm}} - ( {{item.client_code}} )</option>
                </select>
              </div>
          
              <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                <label>Markets <span style="color:red">*</span></label>
                <input type="text" name="market" ngModel required>
              </div>
        
              
              <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                <label>Offer Type</label>
                <input type="text" name="offer_type" ngModel  >

              </div>
              <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                <label>Dossier</label>
                <input type="text" name="dossier" ngModel  >

              </div>
              <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                <label>Reference Product</label> 
                <input type="text" name="reference_product" ngModel  >

              </div>
              <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                <label>Grade</label>
                <input type="text" name="grade" ngModel  >
              </div>
           
            </div>
          </form>
          <h3>Product List:</h3>
          <form #AddDetails="ngForm">
            <div class="clr-row">

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Category : <span style="color: red">*</span></label>
                        <select name="category"  [(ngModel)]="category" required >
                            <option></option>
                            <option>Pharma</option>
                            <option>Cosmetics</option>
                            <option>Herbal/Ayurvedic</option>
                        </select>
                    </div>

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Material Group : <span style="color: red">*</span></label>
                        <select name="product_type" [(ngModel)]="product_type" required (change)="getMaterialType()">
                            <option></option>
                            <option>Semi Finished Goods</option>
                            <option>Finish Product</option>
                        </select>
                    </div>

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Sub Group : <span style="color: red">*</span></label>
                        <select name="dosage_form" [(ngModel)]="dosage_form" required  >
                            <option></option>
                            <option *ngFor="let type of types" [ngValue]="type.material_subtype">{{type.material_subtype}}</option>
                        </select>
                    </div>

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Nature Of Product : <span style="color: red">*</span></label>
                        <select name="dosage_type" [(ngModel)]="dosage_type" required (change)="getProductByDosageTypeForm()" >
                            <option></option>
                            <option>SOLID</option>
                            <option>LIQUID</option>
                            <option>SEMI SOLID</option>
                            <option>Gases</option>
                        </select>
                    </div>

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                      <label>Product : <span style="color: red">*</span></label>
                      <select name="product_name" ngModel (change)="getProductDetails($event.target.selectedIndex)" required>
                        <option></option>
                        <option *ngFor="let prod of products" [ngValue]="prod.product_name">{{prod.product_name}} - ( {{prod.product_code}} ) </option>
                      </select>
                    </div>

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                      <label>Qty : <span style="color: red">*</span></label>
                      <input type="number" name="qty" ngModel required>
                    </div>

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                      <label>Rate (ex-work) : <span style="color: red">*</span></label>
                      <input type="number" name="rate" ngModel required>
                    </div>

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                      <label>Quotation Per : <span style="color: red">*</span></label>
                      <select name="quotation_per" ngModel required>
                        <option></option>
                        <option *ngFor="let unit of units" [value]="unit.unit">{{unit.unit}}</option>
                      </select>
                    </div>

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                      <label>Pack Qty. : <span style="color: red">*</span></label>
                      <input type="text" name="pack_qty" ngModel required>
                    </div>
                    
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                      <label>MOQ : <span style="color: red">*</span></label>
                      <select name="moq" [(ngModel)]="moq" required *ngIf="moq != 'Other'" required>
                        <option></option>
                        <option>One Full Batch </option>
                        <option>Other</option>
                      </select>
                      <input *ngIf="moq == 'Other'" type="text" name="moq" ngModel required>
                    </div>

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                      <label>Batch Size (million) : <span style="color: red">*</span></label>
                      <input type="text" name="batch_size" ngModel required>
                    </div>

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                      <br><button class="btn btn-primary" (click)="addPeoduct(AddDetails)">{{'common.add' | translate}}</button>
                    </div>

            </div>
          </form>

            <table class="table table-border">
              <tr>
                <th style="text-align: left;font-weight:bolder; background-color: aqua;">{{'common.table.srNo' | translate}}</th>
                <th style="text-align: left;font-weight:bolder; background-color: aqua;">Product Type</th>
                <th style="text-align: left;font-weight:bolder; background-color: aqua;">Product Name</th>
                <th style="text-align: left;font-weight:bolder; background-color: aqua;">Qty</th>
                <th style="text-align: left;font-weight:bolder; background-color: aqua;">Rate (ex-work)</th>
                <th style="text-align: left;font-weight:bolder; background-color: aqua;">Quotation Per</th>
                <th style="text-align: left;font-weight:bolder; background-color: aqua;">Pack Qty.</th>
                <th style="text-align: left;font-weight:bolder; background-color: aqua;">MOQ</th>
                <th style="text-align: left;font-weight:bolder; background-color: aqua;">Batch Size (million)</th>
                <th style="text-align: left;font-weight:bolder; background-color: aqua;">{{'common.table.action' | translate}}</th>
              </tr>
              <tr *ngFor="let item of productList;let i=index">
                <td>{{i+1}}</td>
                <td style="text-align: left;">{{item.product_type}}</td>
                <td style="text-align: left;">{{item.product_name}} - ( {{item.product_code}} )</td>
                <td style="text-align: left;">{{item.qty}}</td>
                <td style="text-align: left;">{{item.rate}}</td>
                <td style="text-align: left;">{{item.quotation_per}}</td>
                <td style="text-align: left;">{{item.pack_qty}}</td>
                <td style="text-align: left;">{{item.moq}}</td>
                <td style="text-align: left;">{{item.batch_size}}</td>
                <td style="text-align: left;">
                  <button class="btn btn-sm btn-danger" (click)="delProduct(i)">DEL</button>
                </td>
              </tr>
              <tr *ngIf="productList?.length==0">
                <td colspan="10">No Record Found!</td>
              </tr>
            </table>

 
 
          <h3>License Fees:</h3>


          <div class="clr-row">
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Amount <span style="color:red">*</span></label>
              <input type="text" name="licAmount" [(ngModel)]="licAmount" (input)="calculateLicAllFee()" required>
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Currency</label>
              <select name="currency" [(ngModel)]="currency" (change)="calculateLicAllFee()">
                <option>AUD</option>
                <option>USD</option>
                <option>EUR</option>
                <option>GBP</option>
                <option>NZD</option>
                <option>INR</option>
              </select>
            </div>
          </div>



          <table class="table table-border">
            <tr *ngFor="let item of lic_data;let i=index">
              <td style="padding: 0;margin: 0;">
                <input type="text" name="peramt" [(ngModel)]="item.peramt" (input)="calculateLicFee(i)">
              </td>
              <td style="text-align: left;font-weight:bolder;">{{item.term}} </td>
              <td style="text-align: left;font-weight:bolder;">{{item.amt || 0}}</td>
              <td style="text-align: left;font-weight:bolder;">{{item.curr}}</td>
            </tr>
          </table>



          <h3>General Terms of License and Supply :</h3><br>
          <button class="btn btn-sm " (click)="isGeneral=true">{{'common.add' | translate}}</button>
          <button class="btn btn-sm " (click)="isGeneral1=true">{{'common.delete' | translate}}</button>
          <table class="table">
            <tr>
              <th style="width: 50px;">Select</th>
              <th style="text-align: left;">Terms</th>
            </tr>
            <tr *ngFor="let term of generalTerm; let i = index">
              <td>
                <input type="checkbox" name="selected{{ i }}" [(ngModel)]="term['selected']">
              </td>
              <td style="text-align: left;">{{ term.term }}</td>
            </tr>
          </table>



          <h3>Dossier/ IP related considerations :</h3><br>
          <button class="btn btn-sm " (click)="isDossier=true">{{'common.add' | translate}}</button>
          <button class="btn btn-sm " (click)="isDossier1=true">{{'common.delete' | translate}}</button>
          <table class="table">
            <tr>
              <th style="width: 50px;">Select</th>
              <th style="text-align: left;">Terms</th>
            </tr>
            <tr *ngFor="let term of dossierTerm; let i = index">
              <td>
                <input type="checkbox" name="selected{{ i }}" [(ngModel)]="term['selected']">
              </td>
              <td style="text-align: left;">{{ term.term }}</td>
            </tr>
          </table>



          <h3>Packing Conditions & Packaging Material Considerations :</h3><br>
          <button class="btn btn-sm " (click)="isPacking=true">{{'common.add' | translate}}</button>
          <button class="btn btn-sm " (click)="isPacking1=true">{{'common.delete' | translate}}</button>
          <table class="table">
            <tr>
              <th style="width: 50px;">Select</th>
              <th style="text-align: left;">Terms</th>
            </tr>
            <tr *ngFor="let term of packingTerm; let i = index">
              <td>
                <input type="checkbox" name="selected{{ i }}" [(ngModel)]="term['selected']">
              </td>
              <td style="text-align: left;">{{ term.term }}</td>
            </tr>
          </table>


          <h3>Other Regulatory Costs :</h3><br>
          <button class="btn btn-sm " (click)="isRegulatory=true">{{'common.add' | translate}}</button>
          <button class="btn btn-sm " (click)="isRegulatory1=true">{{'common.delete' | translate}}</button>
          <table class="table">
            <tr>
              <th style="width: 50px;">Select</th>
              <th style="text-align: left;">Terms</th>
            </tr>
            <tr *ngFor="let term of regulatoryTerm; let i = index">
              <td>
                <input type="checkbox" name="selected{{ i }}" [(ngModel)]="term['selected']">
              </td>
              <td style="text-align: left;">{{ term.term }}</td>
            </tr>
          </table>


          <h3>Terms & Conditions:</h3><br>
          <button class="btn btn-sm " (click)="isTerm=true">{{'common.add' | translate}}</button>
          <button class="btn btn-sm " (click)="isEdit=true">{{'common.delete' | translate}}</button>
          <table class="table">
            <tr>
              <th style="width: 50px;">Select</th>
              <th style="text-align: left;">Term Heading</th>
              <th style="text-align: left;">Terms & Conditions</th>
            </tr>
            <tr *ngFor="let term of terms; let i = index">
              <td>
                <input type="checkbox" name="selected{{ i }}" [(ngModel)]="term['selected']">
              </td>
              <td style="text-align: left;">{{ term.term_heading }}</td>
              <td style="text-align: left;">{{ term.term }}</td>
            </tr>
          </table>

        </div>

      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="saveData(ClientAdd)">{{'common.submit' | translate}}</button>
        <button class="btn btn-danger" routerLink="/marketing/quotation">{{'common.close' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="isPacking">
  <h3 class="modal-title">Packing Conditions & Packaging Material Considerations :</h3>
  <div class="modal-body">
    <form #Packing="ngForm">
      <table class="table">
        <tr>
          <th style="width: 50px; background-color: rgb(14, 67, 112); color: white;">{{'common.table.srNo' | translate}}</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Terms</th>
        </tr>
        <tr>
          <td>0.</td>
          <td style="padding: 0px;">
            <input type="text" id="term" name="term" ngModel required style="margin: 0px; height: 33px;">
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="saveQttermsForTerm(Packing,'Packing')">{{'common.save' | translate}}</button>
    <button type="button" class="btn btn-danger" (click)="isPacking = false">{{'common.close' | translate}}</button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="isPacking1">
  <h3 class="modal-title">Delete Terms:</h3>
  <div class="modal-body">
    <table class="table">
      <tr>
        <th style="text-align: left;">Term</th>
        <th style="text-align: left;">Delete</th>
      </tr>
      <tr *ngFor="let term of packingTerm; let i = index">
        <td style="text-align: left;">{{ term.term }}</td>
        <td style="text-align: left;">
          <clr-icon class="is-error" shape="trash" (click)="delQttermss(term.id,'Packing')"></clr-icon>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="isPacking1 = false">{{'common.close' | translate}}</button>
  </div>
</clr-modal>





<clr-modal [(clrModalOpen)]="isRegulatory">
  <h3 class="modal-title">Other Regulatory Costs :</h3>
  <div class="modal-body">
    <form #Regulatory="ngForm">
      <table class="table">
        <tr>
          <th style="width: 50px; background-color: rgb(14, 67, 112); color: white;">{{'common.table.srNo' | translate}}</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Terms</th>
        </tr>
        <tr>
          <td>0.</td>
          <td style="padding: 0px;">
            <input type="text" id="term" name="term" ngModel required style="margin: 0px; height: 33px;">
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="saveQttermsForTerm(Regulatory,'Regulatory')">{{'common.save' | translate}}</button>
    <button type="button" class="btn btn-danger" (click)="isRegulatory = false">{{'common.close' | translate}}</button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="isRegulatory1">
  <h3 class="modal-title">Delete Terms:</h3>
  <div class="modal-body">
    <table class="table">
      <tr>
        <th style="text-align: left;">Term</th>
        <th style="text-align: left;">Delete</th>
      </tr>
      <tr *ngFor="let term of regulatoryTerm; let i = index">
        <td style="text-align: left;">{{ term.term }}</td>
        <td style="text-align: left;">
          <clr-icon class="is-error" shape="trash" (click)="delQttermss(term.id,'Regulatory')"></clr-icon>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="isRegulatory1 = false">{{'common.close' | translate}}</button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="isDossier">
  <h3 class="modal-title">Dossier/ IP related considerations :</h3>
  <div class="modal-body">
    <form #Dossier="ngForm">
      <table class="table">
        <tr>
          <th style="width: 50px; background-color: rgb(14, 67, 112); color: white;">{{'common.table.srNo' | translate}}</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Terms</th>
        </tr>
        <tr>
          <td>0.</td>

          <td style="padding: 0px;">
            <input type="text" id="term" name="term" ngModel required style="margin: 0px; height: 33px;">
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="saveQttermsForTerm(Dossier,'Dossier')">{{'common.save' | translate}}</button>
    <button type="button" class="btn btn-danger" (click)="isDossier = false">{{'common.close' | translate}}</button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="isDossier1">
  <h3 class="modal-title">Delete Terms:</h3>
  <div class="modal-body">
    <table class="table">
      <tr>
        <th style="text-align: left;">Terms </th>
        <th style="text-align: left;">Delete</th>
      </tr>
      <tr *ngFor="let term of dossierTerm; let i = index">
        <td style="text-align: left;">{{ term.term }}</td>
        <td style="text-align: left;">
          <clr-icon class="is-error" shape="trash" (click)="delQttermss(term.id,'Dossier')"></clr-icon>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="isDossier1 = false">{{'common.close' | translate}}</button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="isGeneral">
  <h3 class="modal-title">General Terms of License and Supply :</h3>
  <div class="modal-body">
    <form #General="ngForm">
      <table class="table">
        <tr>
          <th style="width: 50px; background-color: rgb(14, 67, 112); color: white;">{{'common.table.srNo' | translate}}</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Terms</th>
        </tr>
        <tr>
          <td>0.</td>

          <td style="padding: 0px;">
            <input type="text" id="term" name="term" ngModel required style="margin: 0px; height: 33px;">
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="saveQttermsForTerm(General,'General')">{{'common.save' | translate}}</button>
    <button type="button" class="btn btn-danger" (click)="isGeneral = false">{{'common.close' | translate}}</button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="isGeneral1">
  <h3 class="modal-title">Delete Terms:</h3>
  <div class="modal-body">
    <table class="table">
      <tr>
        <th style="text-align: left;">Terms</th>
        <th style="text-align: left;">Delete</th>
      </tr>
      <tr *ngFor="let term of terms; let i = index">
        <td style="text-align: left;">{{ term.term }}</td>
        <td style="text-align: left;">
          <clr-icon class="is-error" shape="trash" (click)="delQttermss(term.id,'General')"></clr-icon>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="isGeneral1 = false">{{'common.close' | translate}}</button>
  </div>
</clr-modal>













<clr-modal [(clrModalOpen)]="isTerm">
  <h3 class="modal-title">Terms & Conditions:</h3>
  <div class="modal-body">
    <form #termForm="ngForm">
      <table class="table">
        <tr>
          <th style="width: 50px; background-color: rgb(14, 67, 112); color: white;">{{'common.table.srNo' | translate}}</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Terms Heading</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Terms</th>
        </tr>
        <tr>
          <td>0.</td>
          <td style="padding: 0px;">
            <input type="text" id="term_heading" name="term_heading" ngModel required
              style="margin: 0px; height: 33px;">
          </td>
          <td style="padding: 0px;">
            <input type="text" id="term" name="term" ngModel required style="margin: 0px; height: 33px;">
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="saveTerm(termForm)">{{'common.save' | translate}}</button>
    <button type="button" class="btn btn-danger" (click)="isTerm = false">{{'common.close' | translate}}</button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="isEdit">
  <h3 class="modal-title">Delete Terms:</h3>
  <div class="modal-body">
    <table class="table">
      <tr>
        <th style="text-align: left;">Terms Heading</th>
        <th style="text-align: left;">Terms & Conditions</th>
        <th style="text-align: left;">Delete</th>
      </tr>
      <tr *ngFor="let term of terms; let i = index">
        <td style="text-align: left;">{{ term.term_heading }}</td>
        <td style="text-align: left;">{{ term.term }}</td>
        <td style="text-align: left;">
          <clr-icon class="is-error" shape="trash" (click)="delTerm(term.id)"></clr-icon>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="isEdit = false">{{'common.close' | translate}}</button>
  </div>
</clr-modal>



 