<div class="container-fluid" *ngIf="!isView">
    <div class="card">
        <div class="card-header" style="text-align: center">
          <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Weighing of Material Checking</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
              <button class="btn btn-sm" routerLink="/godownStore/raw/weighing" style="background-color: red;color: white;"> {{'common.close' | translate}} </button>
            </div>
          </div>
        </div>
        <div class="card-block">
            <div class="card-text">
              <!-- <div class="clr-row">
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                  <label>Material Name:</label>
                  <select name="vendor_no" [(ngModel)]="vendor_no" required>
                    <option></option>
                    <option *ngFor="let vendor of vendors" [value]="vendor.vendor_no">{{ vendor.vendor_name }}</option>
                  </select>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-2 clr-col-xs-2">
                  <label>Receiving Date</label>
                  <input type="date" name="receiving_date"  [(ngModel)]="receiving_date" required>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                  <button class="btn btn-danger" style="margin-top:30px;" (click)="getDamageLog()">{{'common.search' | translate}}</button>
                </div>
              </div> -->
                <!-- <table class="table table-border checkingTbl">
                    <tr>
                        <th >Sr.</th>
                        <th >Receiving Date</th>
                        <th >Receiving No</th>
                        <th >Material Code</th>
                        <th >Material Name</th>
                        <th >Accepted Qty</th>
                        <th >Containers</th>
                        <th >View</th>
                    </tr>
                    <tr *ngFor="let result of results; let i = index">
                        <td>{{ i + 1 }}.</td>
                        <td style="text-align: left;">{{ result.receiving_date | date:'dd-MM-yyyy' }}</td>
                        <td style="text-align: left;">{{ result.document_no}}</td>
                        <td style="text-align: left;">{{ result.material_code }}</td>
                        <td style="text-align: left;">{{ result.material_name }}</td>
                        <td style="text-align: left;">{{ result.received_qty}}</td>
                        <td style="text-align: left;">{{ result.containers }}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                        </td>
                    </tr>
                    <tr *ngIf="results?.length == 0">
                      <td colspan="8">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table> -->
          <clr-datagrid [clrDgLoading]="loading">
                    
                  <clr-dg-column>{{'common.table.srNo' | translate}}</clr-dg-column>
                  <clr-dg-column >Receiving Date</clr-dg-column>
                  <clr-dg-column >Receiving No</clr-dg-column>
                  <clr-dg-column >Material Code</clr-dg-column>
                  <clr-dg-column >Material Name</clr-dg-column>
                  <clr-dg-column >Accepted Qty</clr-dg-column>
                  <clr-dg-column >Containers</clr-dg-column>
                 <clr-dg-column>View</clr-dg-column>
             
             <clr-dg-row *clrDgItems="let result of results; let i = index"  [clrDgItem]="result">
                  <clr-dg-cell>{{ calculateStartSrNo() + i+1}}.</clr-dg-cell>
                  <clr-dg-cell>{{ result.receiving_date | date:'dd-MM-yyyy' }}</clr-dg-cell>
                  <clr-dg-cell>{{ result.document_no}}</clr-dg-cell>
                  <clr-dg-cell>{{ result.material_code }}</clr-dg-cell>
                  <clr-dg-cell>{{ result.material_name }}</clr-dg-cell>
                  <clr-dg-cell>{{ result.received_qty}}</clr-dg-cell>
                  <clr-dg-cell>{{ result.containers }}</clr-dg-cell>
                  <clr-dg-cell>
                      <button class="btn btn-sm btn-info" (click)="view(calculateStartSrNo() + i)">{{'common.view' | translate}}</button>
                  </clr-dg-cell>
             </clr-dg-row>
             <clr-dg-footer>  <!--copy this <clr-dg-footer> complete tag -->
              <clr-dg-pagination #pagination [(clrDgPageSize)]="pageSize" (clrDgPageChange)="onPageChange($event)">
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} 
              </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isView">
    <div class="card">
        <div class="card-header" style="text-align: center">
          <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Weighing of Material Checking</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
              <button class="btn btn-sm" (click)="viewf()" style="background-color: red;color: white;"> {{'common.close' | translate}} </button>
            </div>
          </div>
        </div>
        <div class="card-block">
            <div class="card-text">
              <table class="table table-border">
                <tr>
                  <td style="text-align: left;"><b>Material Name:</b></td>
                  <td style="text-align: left;">{{ selectedReport['material_name'] }}</td>
                  <td style="text-align: left;"><b>Vendor Type:</b></td>
                  <td style="text-align: left;">{{ selectedReport['vendor_type'] }}</td>
                </tr>
                <!-- <tr *ngIf="selectedReport['vendor_type']=='Manufacturer'">
                  <td style="text-align: left;"><b>Manufacturer Name:</b></td>
                  <td style="text-align: left;">{{ selectedReport['manufacturer_name'] }}</td>
                  <td style="text-align: left;"><b>Supplier Name:</b></td>
                  <td  style="text-align: left;">{{ selectedReport['manufacturer_name'] }}</td>
                </tr>
                <tr *ngIf="selectedReport['vendor_type']=='Supplier'">
                  <td style="text-align: left;"><b>Manufacturer Name:</b></td>
                  <td style="text-align: left;">{{ selectedReport['manufacturer_name'] }}</td>
                  <td style="text-align: left;"><b>Supplier Name:</b></td>
                  <td  style="text-align: left;">{{ selectedReport['vendor_name'] }}</td>
                </tr> -->
                <!-- <tr>
                  <td style="text-align: left;border: 1px solid;"><b>Vendor Location:</b></td>
                  <td  style="text-align: left;border: 1px solid;">{{ selectedReport['vendor_unit'] }}</td>
                  <td style="text-align: left;border: 1px solid;"><b>Manufacturer:</b></td>
                  <td  style="text-align: left;border: 1px solid;">{{ selectedReport['manufacturer'] }}</td>
                </tr> -->
                <tr>
                <td style="text-align: left;"><b>Packaging Slip:</b></td>
                <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['ch_no'] }}</td>
                <td style="text-align: left;"><b>Packaging Slip Date:</b></td>
                <td style="text-align: left;">{{ selectedReport['challan_date'] | date: 'dd-MM-yyyy'}}</td>
                </tr>
                <tr>
                <td style="text-align: left;"><b>PO No.:</b></td>
                <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['po_no'] }}</td>
                <td style="text-align: left;"><b>PO Date:</b></td>
                <td style="text-align: left;">{{ selectedReport['po_date'] | date: 'dd-MM-yyyy'}}</td>
                </tr>
                <tr>
                <td style="text-align: left;"><b>Material Type:</b></td>
                <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['material_type'] }}</td>
                <td style="text-align: left;"><b>Material Subtype:</b></td>
                <td style="text-align: left;">{{ selectedReport['material_subtype'] }}</td>
                </tr>
                <tr>
                <td style="text-align: left;"><b>Material Code:</b></td>
                <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['material_code'] }}</td>
                <td style="text-align: left;"><b>Material Grade:</b></td>
                <td style="text-align: left;">{{ selectedReport['gradeName'] }}</td>
                </tr>
                <tr>
                <td style="text-align: left;"><b>PO Qty:</b></td>
                <td style="text-align: left;border-right: 1px solid black;" colspan="3">{{ selectedReport['qty'] }} {{ selectedReport['unit'] }}</td>
                <td style="text-align: left;"><b>Material For :</b></td>
                <td style="text-align: left;" >{{ selectedReport['materialForName'] }}</td>
                </tr>
              </table>
              <br>
              <div class="clr-col-lg-12">
                <label>Balance</label>
                <input type="text" name="balance" [ngModel]="selectedReport['balance']" readonly  tabindex="-1">
              </div>
              <div class="card">
                <div class="card-header" style="text-align: center">
                    <div class="clr-row" style="margin-bottom: -10px;">
                      <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">Checklist</div>
                      <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                 
                      </div>
                    </div>
                </div>
                <div class="card-block" >
                  <table class="table">
                    <tr>
                      <th>Sr.</th>
                      <th style="text-align: left; ">Parameters</th>
                      <th>{{'common.remarks' | translate}}</th>
                </tr>
                <tr *ngFor="let hr of checklist;let i = index" style="margin: 0px;">
                      <td style="padding: 0px !important; margin: 0px;">{{i+1}}</td>
                      <td style="text-align:left;padding: 0px !important;margin: 0px;">{{hr.params}}</td>
                      <!-- <td style="padding: 0px !important;margin: 0px;"> -->
                      <td style="width:35%  !important; height: 25px !important;padding: auto !important;box-sizing: border-box !important; margin:auto !important">
                       {{hr.chk_value}}
                        <!-- <select *ngIf="hr.particular!='Total No of Containers'"disabled name="check" [(ngModel)]="hr.check"  required  style="width:35%  !important; height: 25px !important;padding: auto !important;box-sizing: border-box !important; margin:auto !important">
                          <option>Yes</option>
                          <option>No</option>
                        </select> -->
                        <!-- <input *ngIf="hr.particular=='Total No of Containers'" disabled type="number" min="0" name="check" [(ngModel)]="hr.check"  required  style="width:35%  !important; height: 25px !important;padding: auto !important;box-sizing: border-box !important; margin:auto !important"> -->
                      </td>
                  </tr>
                  </table>
                </div>
              </div>
              <h3>Labeling Details:</h3>
              <table class="table table-border">
                <tr>
                  <th style="background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                  <th style="background-color: rgb(14, 67, 112); color: white;">Medicap Lot No</th>
                  <th style="text-align: right; background-color: rgb(14, 67, 112); color: white;">Qty</th>
                  <th style="text-align: right; background-color: rgb(14, 67, 112); color: white;">No Of Containers</th>
                  <th style="background-color: rgb(14, 67, 112); color: white;">Mfg Date</th>
                   <th style="background-color: rgb(14, 67, 112); color: white;"  >Exp Date</th>
                  <th style="background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
                </tr>
                <tr *ngFor="let list of selectedReport['batches'];let i=index">
                  <td>{{i+1}}</td>
                  <td>{{list.batch_no}}</td>
                  <td style="text-align:right;">{{list.qty_received}}{{list.unit}}</td>
                  <td style="text-align:right;">{{list.total_containers}}</td>
                  <td>{{list.mfg_date |date: 'MMM-yyyy' | uppercase}}</td>
                  <td  >{{list.exp_date | date:'MMM-yyyy' | uppercase}}</td>
                   <td><button class="btn btn-primary" (click)="viewDetails(i)">{{'common.view' | translate}}</button></td>
                </tr>
                <tr *ngIf="selectedReport['batches']?.length == 0">
                    <td colspan="7">No Record Found!</td>
                </tr>
              </table>
                <!-- <table class="table table-border">
                    <tr>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Container No.</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Gross Wt. ({{ selectedReport['unit'] }})</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Tare Wt. ({{ selectedReport['unit'] }})</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Net Wt. ({{ selectedReport['unit'] }})</th>
                    </tr>
                    <tr *ngFor="let container of selectedReport['weighing_details'].containers; let i = index">
                      <td>{{ i + 1 }}.</td>
                      <td>{{ container.container_no }}</td>
                      <td>{{ container.gross_wt }}</td>
                      <td>{{ container.tare_wt }}</td>
                      <td>{{ container.gross_wt - container.tare_wt }}</td>
                    </tr>
                </table>
                
     -->
    
     <br>
     <!-- <h3 *ngIf="selectedReport['weighing_details'].damage_containers?.length!==0">Damage Containers Weighing Details:</h3>
                <table class="table table-border" *ngIf="selectedReport['weighing_details'].damage_containers?.length!==0">
                    <tr>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Container No.</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Gross Wt. ({{ selectedReport['unit'] }})</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Tare Wt. ({{ selectedReport['unit'] }})</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Net Wt. ({{ selectedReport['unit'] }})</th>
                    </tr>
                    <tr *ngFor="let container of selectedReport['weighing_details'].damage_containers; let i = index">
                      <td>{{ i + 1 }}.</td>
                      <td>{{ container.container_no }}</td>
                      <td>{{ container.gross_wt }}</td>
                      <td>{{ container.tare_wt }}</td>
                      <td>{{ container.gross_wt - container.tare_wt }}</td>
                    </tr>
                    <tr *ngIf="selectedReport['weighing_details'].damage_containers?.length == 0">
                      <td colspan="5">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table> -->
                <div class="clr-col-lg-12">
                  <label>Remark For Rejection:</label>
                  <input type="text" name="weighing_remark" [(ngModel)]="weighing_remark">
                </div>
            </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" (click)="update('approve')">{{'common.approve' | translate}}</button>
          <!-- <button class="btn btn-danger" (click)="update('reject')">{{'common.reject' | translate}}</button> -->
          <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>

<clr-modal [(clrModalOpen)]="isProceed" [clrModalSize]="'xl'">
  <h3 class="modal-title">Weighing Details</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-lg-6">
        <label>Medicap Lot No</label>
        <input type="text" name="batch_no" [ngModel]="batches['batch_no']" readonly tabindex="-1">
      </div>
      <div class="clr-col-lg-6">
        <label>Total container</label>
        <input type="text" name="total_containers" [ngModel]="batches['total_containers']" readonly
          tabindex="-1">
      </div>
      <div class="clr-col-lg-6">
        <label>Pack Size</label>
        <input type="text" name="pack_size" [ngModel]="batches['pack_size']" readonly tabindex="-1">
      </div>
      <div class="clr-col-lg-6">
        <label>Qty </label>
        <input type="text" name="qty_received" [ngModel]="batches['qty_received']" readonly tabindex="-1">
      </div>
    </div>
    <!-- <h3>Total No. of containers is to be Sampled(√n +1) :{{ batches['root_container']}} </h3>
      <table class="table">
        <tr>
          <th style="background-color: rgb(14, 67, 112); color: white;">Container No.</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Gross Wt.</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Tare Wt.</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Net Wt.</th>
        </tr>
        <tr *ngFor="let res of batches['weight']; let i = batches">
          <td style="padding: 0px;">{{  res.container_no }}</td>
          <td style="padding: 0px;"> {{  res.gross_wt }}</td>
           <td>{{ res.gross_wt -  res.net_wt }}</td>
          <td>{{ res.net_wt }}</td>
        </tr>
      </table> -->

     

      <table class="table table-border containerTbl">
        <tr>
          <th style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;" rowspan="2">Container No</th>
          <th style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;" colspan="3">Labeling Details Printed on Label (Unit)</th>
          <th style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;" colspan="3">Actual Weight Verification Observed Weights(Unit)</th>
          <th style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;" rowspan="2">Difference</th>
          <th style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;" rowspan="2">Tolerence</th>
          <th style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;" rowspan="2">{{'common.table.action' | translate}}</th>
        </tr>
        <tr>
          <th  style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;">Gross Weight</th>
          <th  style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;">Tare Weight</th>
          <th  style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;">Net Weight</th>
          <th  style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;">Gross Weight</th>
          <th  style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;">Tare Weight</th>
          <th  style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;">Net Weight</th>
        </tr>
        <tr *ngFor="let res of weightData; let i = batches">
          <td style="font-weight: bolder;">{{  res.container_no }}</td>
          <td style="font-weight: bolder;">{{  res.lbgross_weight }}</td>
          <td style="font-weight: bolder;">{{  res.lbtare_weight}}</td>
          <td style="font-weight: bolder;">{{  res.lbgross_weight - res.lbtare_weight }}</td>
          <td style="font-weight: bolder;">{{  res.acgross_weight}}</td>
          <td style="font-weight: bolder;">{{  res?.lbtare_weight}}</td>
          <td style="font-weight: bolder;">
            {{ res.acgross_weight - res.lbtare_weight }}
          </td>
          <td style="font-weight: bolder;">
            {{ (res.acgross_weight - res.lbtare_weight)-res.lbnet_weight}}
          </td>
          <td style="font-weight: bolder;">
            {{ ((res.acgross_weight - res.lbtare_weight)-(res.lbnet_weight)) / (res.lbnet_weight)}}
          </td>
          <td style="font-weight: bolder;">
            {{res.action}}
          </td>
        </tr>
      </table>







  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isProceed=false">{{'common.cancel' | translate}}</button>
  </div>
</clr-modal>