<div class="container-fluid">
    <div class="card">
      <div class="card-header">Salary Calculation</div>
      <div class="card-block">
        <div class="card-text">
         <form #salaryForm="ngForm">
           <div class="clr-row">
             <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
               <label>Select Employee:</label>
               <select name="emp_id" ngModel required>
                 <option *ngFor="let list of employeelist" value="{{list.emp_id}}">{{ list.emp_name }} - {{ list.emp_id }}</option>
               </select>
             </div>
             <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4">
               <label>Select Month</label>
               <input type="month" name="month" ngModel>
             </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top: 30px;">
                <button class="btn btn-primary" (click)="calculate(salaryForm)">Calculate</button>
              </div>
              <div class="clr-col-lg-3 clr-col-md-4 clr-col-sm-4 clr-col-xs-4">
                <label>Monthly In-hand Salary</label>
                <input type="number" name="monthlysalary" ngModel="{{monthlysalary}}" readonly>
              </div>
           </div>
           <table class="table">
             <thead>
               <tr>
                 <th>Particulars</th>
                 <th></th>
               </tr>
             </thead>
             <tbody>
               <tr>
                <td>Total Days In Month</td>
                <td>{{ monthdays }}</td>
              </tr>
              <tr>
                <td>Per Day Salary</td>
                <td>{{ perdaysalary }}</td>
              </tr>
              <tr>
                <td>Total Present Days</td>
                <td>{{ presentdays }}</td>
              </tr>
              <tr>
                <td>Total Absent Days</td>
                <td>{{ absentdays }}</td>
              </tr>
              <tr>
                <td>Total Paid Days</td>
                <td>{{ paiddays }}</td>
              </tr>
               <tr>
                 <td>Total Earned Salary</td>
                 <td>{{ totalearning }}</td>
               </tr>
             </tbody>
           </table>
         </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="generatepdf(salaryForm)" *ngIf="downloadview">Download PDF</button>
      </div>
    </div>
  </div>