<div class="card" *ngIf="!isNew">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;" >First Aid Treatment Record</div>
            <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                 <button class="btn btn-sm btn-primary" (click)="isNew=true">{{'common.new' | translate}}</button>
                <button class="btn btn-sm btn-danger" routerLink="/ehs/firstaidbox">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">

            <clr-datagrid>
                <clr-dg-column>Sr. No</clr-dg-column>
                <clr-dg-column>{{'common.date' | translate}}</clr-dg-column>
                <clr-dg-column>{{'common.name' | translate}}</clr-dg-column>
                <clr-dg-column>Employee Code</clr-dg-column>
                <clr-dg-column>Type of Injury</clr-dg-column>
                <clr-dg-column>First Aid Given</clr-dg-column>
                <clr-dg-column>First Aid Given by Name</clr-dg-column>
                <clr-dg-column>Actions</clr-dg-column>
            </clr-datagrid>

        </div>
    </div>
</div>
<div class="card" *ngIf="isNew">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-9" style="color: aliceblue;margin-top: -2px;text-align: left;">
                First Aid Treatment Record
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <form #tRecordForm="ngForm">
                
                <clr-datagrid>
                        <clr-dg-column>Sr. No</clr-dg-column>
                        <clr-dg-column>{{'common.date' | translate}}</clr-dg-column>
                        <clr-dg-column>{{'common.name' | translate}}</clr-dg-column>
                        <clr-dg-column>Employee Code</clr-dg-column>
                        <clr-dg-column>Type of Injury</clr-dg-column>
                        <clr-dg-column>First Aid Given</clr-dg-column>
                        <clr-dg-column>First Aid Given by Name</clr-dg-column>
                        <clr-dg-column>Actions</clr-dg-column>
                    
                    <clr-dg-row>
                        <clr-dg-cell>1</clr-dg-cell>
                        <clr-dg-cell><input type="date" name="dates" [(ngModel)]="dates"></clr-dg-cell>
                        <clr-dg-cell>
                            <select name="emp_name" ngModel (change)="getEmpdata($event.target.selectedIndex)">
                        <option></option>
                        <option *ngFor="let person of InvolvedPersons" >{{ person.emp_name }}</option>
                    </select>
                        </clr-dg-cell>
                        <clr-dg-cell><input type="text" name="emp_id"  readonly [(ngModel)]="selectedEmp['emp_id']"></clr-dg-cell>
                        <clr-dg-cell><input type="text" name="injury_type" [(ngModel)]="injury_type"></clr-dg-cell>
                        <clr-dg-cell><input type="text" name="aid_given" [(ngModel)]="aid_given"></clr-dg-cell>
                        <clr-dg-cell>
                            <select name="aidgiven_by" ngModel (change)="getEmpdata($event.target.selectedIndex)">
                        <option></option>
                        <option *ngFor="let person of InvolvedPersons" >{{ person.emp_name }}</option>
                    </select>
                        </clr-dg-cell>
                        <clr-dg-cell><button class="btn btn-primary" (click)="addRecord(data.id)">{{'common.add' | translate}}</button></clr-dg-cell>
                    </clr-dg-row>
                    <!-- <clr-dg-row *ngFor="let data of treatmentRecArr;let i = index;">
                        <clr-dg-cell>{{i+1}}</clr-dg-cell>
                        <clr-dg-cell>{{data.dt}}</clr-dg-cell>
                        <clr-dg-cell>{{data.name}}</clr-dg-cell>
                        <clr-dg-cell>{{data.emp_code}}</clr-dg-cell>
                        <clr-dg-cell>{{data.injury_type}}</clr-dg-cell>
                        <clr-dg-cell>{{data.aid_given}}</clr-dg-cell>
                        <clr-dg-cell>{{data.aidGiven_by}}</clr-dg-cell>
                        <td><button class="btn btn-primary" (click)="removeRecord(data.id)">{{'common.add' | translate}}</button></td>
                    </clr-dg-row> -->
                </clr-datagrid>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary" (click)="saveRecord(tRecordForm)">{{'common.save' | translate}}</button>
            <button class="btn btn-danger" routerLink="/ehs/firstaidbox">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>