<div class="container-fluid" *ngIf="!isView">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Job Responsibility Log</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/responsibility" style="background-color: red;color: white;">
                  <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                </button>
              </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                <table class="table">
                    <tr>
                        <th>Sr.</th>
                        <th>Emp. Code</th>
                        <th>{{'common.name' | translate}}</th>
                        <th>{{'common.department' | translate}}</th>
                        <th>{{'common.designation' | translate}}</th>
                        <th>{{'common.table.action' | translate}}</th>
                    </tr>
                    <tr *ngFor="let result of results; let i = index">
                        <td>{{ i + 1 }}.</td>
                        <td>{{ result.emp_id }}</td>
                        <td>{{ result.emp_name }}</td>
                        <td>{{ result.department }}</td>
                        <td>{{ result.designation }}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="view(i)">PROCEED</button>
                        </td>
                    </tr>
                    <tr *ngIf="results?.length == 0">
                        <td colspan="6">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isView">
    <div class="card">
        <div class="card-header">Job Responsibilities</div>
        <div class="card-block">
            <div class="card-text">
                <table class="table">
                    <tr>
                        <td style="text-align: left;width: 20%;">Employee Code:</td>
                        <td style="text-align: left;">{{ selectedResult['emp_id'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;">Employee Name:</td>
                        <td style="text-align: left;">{{ selectedResult['emp_name'] }}</td>
                    </tr>
                </table>

                <h3>Standard Responsibilities:</h3>
                <table class="table">
                    <tr>
                        <th style="width: 50px;">Sr.</th>
                        <th>Responsibility</th>
                    </tr>
                    <tr *ngFor="let result of selectedResult['responsibilities'].standard; let i = index">
                        <td>{{ i + 1 }}.</td>
                        <td style="text-align: left;">{{ result.responsibility }}</td>
                    </tr>
                </table>

                <h3>Additional Responsibilities:</h3>
                <table class="table">
                    <tr>
                        <th style="width: 50px;">Sr.</th>
                        <th>Responsibility</th>
                    </tr>
                    <tr *ngFor="let result of selectedResult['responsibilities'].additional; let i = index">
                        <td>{{ i + 1 }}.</td>
                        <td style="text-align: left;">{{ result['responsibility'] }}</td>
                    </tr>
                </table>

                <h3>Accountability:</h3>
                <table class="table">
                    <tr>
                        <th style="width: 50px;">Sr.</th>
                        <th>Responsibility</th>
                    </tr>
                    <tr *ngFor="let result of selectedResult['responsibilities'].accountability; let i = index">
                        <td>{{ i + 1 }}.</td>
                        <td style="text-align: left;">{{ result['responsibility'] }}</td>
                    </tr>
                </table>

                <h3>Training Needs:</h3>
                <table class="table">
                    <tr>
                        <th>Training Type</th>
                        <th>Frequency</th>
                    </tr>
                    <tr *ngFor="let training of selectedResult['responsibilities'].trainings; let i = index">
                        <td>{{ training.training_type }}</td>
                        <td>{{ training.frequency }}</td>
                    </tr>
                </table>

                <hr>
                <table class="table">
                    <tr>
                        <th>Prepared By</th>
                        <th>Approved By</th>
                        <th>Accepted By</th>
                    </tr>
                    <tr>
                        <td>{{ selectedResult['responsibilities'].assign_by }}</td>
                        <td>{{ selectedResult['responsibilities'].approve_by }}</td>
                        <td>{{ selectedResult['responsibilities'].accept_by }}</td>
                    </tr>
                    <tr>
                        <td>{{ selectedResult['responsibilities'].assign_date }}</td>
                        <td>{{ selectedResult['responsibilities'].approve_date }}</td>
                        <td>{{ selectedResult['responsibilities'].accept_date }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-danger" (click)="isView = false;">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>