<div class="container-fluid" *ngIf="isNew">
  <div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;"> Generate Experience Letter
        </div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" routerLink="/hr/resignation" style="background-color: red;color: white;">
            <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
          </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <form #reginationForm="ngForm">
          <div class="clr-row">
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label>Select Employee</label>
              <select required (change)="viewemployeedetail($event.target.value)">
                <option selected disabled>Select Employee</option>
                <option *ngFor="let item of employeelist; let i = index" value="{{i}}">{{item.firstname}}
                  ({{item.emp_id}})</option>
              </select>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" hidden>
              <label>Id</label>
              <input type="text" name="id" [(ngModel)]="id" required>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label>Resignation Date</label>
              <input type="date" name="entry_date" [(ngModel)]="entry_date" required>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label>Releaving Date</label>
              <input type="date" name="releaving_date" ngModel required>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <label>Responsibilities</label>
              <textarea name="responsibilities" ngModel required></textarea>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <label>Key Skills</label>
              <textarea name="key_skill" ngModel></textarea>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label>Last Salary</label>
              <input type="number">
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label>Salary Due</label>
              <input type="number">
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label>Final Amount</label>
              <input type="number">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="generateletter(reginationForm)">{{'common.submit' | translate}}</button>
      <button class="btn btn-danger" (click)="isNew = false;">{{'common.close' | translate}}</button>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="!isNew">
  <div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-6" style="color: aliceblue;margin-top: -2px;text-align: left;"> Experience Letter List</div>
        <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-info" (click)="isNew = true" style="background-color:green;color: white;">NEW
            EXPERIENCE LETTER</button>
          <button class="btn btn-sm" routerLink="/hr/resignation" style="background-color: red;color: white;">
            <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
          </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <table class="table">
          <tr>
            <th  style="background-color: rgb(14, 67, 112); color: white;">Employee Name</th>
            <th  style="background-color: rgb(14, 67, 112); color: white;">Resignation Date</th>
            <th  style="background-color: rgb(14, 67, 112); color: white;">Exitinterview Date</th>
            <th  style="background-color: rgb(14, 67, 112); color: white;">Exitinterview By</th>
            <th  style="background-color: rgb(14, 67, 112); color: white;">Releaving Date</th>
            <th  style="background-color: rgb(14, 67, 112); color: white;">Actions</th>
          </tr>
          <tr *ngFor="let item of letterlist">
            <td>{{item.emp_name}}</td>
            <td>{{item.entry_date}}</td>
            <td>{{item.exitinterview_date}}</td>
            <td>{{item.exitinterview_by}}</td>
            <td>{{item.releaving_date}}</td>
            <td>
              <button class="btn btn-sm btn-info btn-icon" (click)="downloadPdf(item.id)">
                <clr-icon shape="download"></clr-icon>
              </button>
            </td>
          </tr>
          <clr-dg-row *ngIf="letterlist?.length==0">
            <clr-dg-cell>No Record Found!</clr-dg-cell>
          </clr-dg-row>
        </table>
      </div>
    </div>
  </div>
</div>