<div class="card" >
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">Test Approval</div>
        <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" routerLink="/master/test" style="background-color: red;color: white;">
            {{'common.close' | translate}} </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <div class="clr-row">
          <div class="clr-col-lg-5">
            <label>Search </label>
            <input type="text" placeholder="Search..." [(ngModel)]="searchQuery">
          </div>
        </div>
        <div class="datagrid-wrapper">
          <clr-datagrid [clrDgLoading]="loading" [clrDgFilter]="searchQuery" >
            <clr-dg-column>Test Code</clr-dg-column>
            <clr-dg-column>Test Type</clr-dg-column>
            <clr-dg-column>Test Name</clr-dg-column>
            <clr-dg-column>Prepared By</clr-dg-column>
            <clr-dg-column>Prepared On</clr-dg-column>
            <clr-dg-column >{{'common.table.action' | translate}}</clr-dg-column>
            <clr-dg-row *clrDgItems="let result of filteredMaterials; let i = index" [clrDgItem]="result">
              <clr-dg-cell>{{result.test_method_no}}</clr-dg-cell>
              <clr-dg-cell>{{result.test_type}}</clr-dg-cell>
              <clr-dg-cell>{{result.test}}</clr-dg-cell>
              <clr-dg-cell>{{result.entry_by}}</clr-dg-cell>
              <clr-dg-cell>{{result.entry_date | date:'dd-MM-yyyy'}}</clr-dg-cell>
              <clr-dg-cell>
                 <button class="btn btn-sm btn-info btn-icon" (click)="viewTest(i)">
                    <clr-icon shape="eye" class="is-warning"></clr-icon>
                 </button>
              </clr-dg-cell>
            </clr-dg-row>
          </clr-datagrid>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" routerLink="/master/test" >
        {{'common.close' | translate}} </button>
    </div>
</div>

  <clr-modal [(clrModalOpen)]="isView" [clrModalClosable]="true" clrModalSize="xl"  >
    <h3 class="modal-title">Test For Approval</h3>
    <div class="modal-body">
      <div class="clr-row">
        <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
          <label>Test Type : <span style="color: red;"><b>*</b></span></label>
          <input type="text" name="test_type" [(ngModel)]="selectedResult['test_type']"  readonly>
        </div>
        <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
          <label>Test : <span style="color: red;"><b>*</b></span></label>
          <input type="text" name="test" [(ngModel)]="selectedResult['test']"  readonly>
        </div>
        <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
          <label>Test Code: <span style="color: red;"><b>*</b></span></label>
          <input type="text" name="testCode" [(ngModel)]="selectedResult['test_method_no']"  readonly>
        </div>
        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
          <table class="table table-border">
            <tr>
              <td style="text-align: left;">{{'common.table.srNo' | translate}}</td>
              <td style="text-align: left;">Subtest <span style="color: red;"><b>*</b></span></td>
            </tr>
            <tr *ngFor="let data of selectedResult['subtests'];let i=index">
              <td style="text-align: left;">{{i+1}}</td>
              <td style="text-align: left;" >{{data.subtest}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" (click)="approveTest()">{{'common.approve' | translate}}</button>
      <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
    </div>
  </clr-modal>
 