<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Client List</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-success" *ngIf="isuser == 'Yes'" routerLink="./clientNew">{{'common.new' | translate}}</button>
            <button class="btn btn-sm" routerLink="/regulatory-new/clientMstr" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
          </div>
        </div>
      </div>
    <div class="card-block">
        <div class="card-text">
            <table class="table table-border">
                <tr>
                    <th style="background-color: rgb(14,67,112); color:white;">Sr.</th>
                    <th style="text-align: left; background-color: rgb(14,67,112); color:white;">Client ID</th>
                    <th style="text-align: left; background-color: rgb(14,67,112); color:white;">Client  Type</th>
                    <th style="text-align: left; background-color: rgb(14,67,112); color:white;">Legal Name</th>
                    <th style="text-align: left; background-color: rgb(14,67,112); color:white;">Trade Name</th>
                    <th style="text-align: left; background-color: rgb(14,67,112); color:white;">Contact No.</th>
                    <th style="text-align: left; background-color: rgb(14,67,112); color:white;">{{'common.status' | translate}}</th>
                    <th style="background-color: rgb(14,67,112); color:white;">View</th>
                </tr>
                <tr *ngFor="let item of data; let i = index">
                    <td>{{ i + 1 }}.</td>
                    <td style="text-align: left;">{{item.client_code}}</td>
                    <td style="text-align: left;">{{item.client_type}}</td>
                    <td style="text-align: left;">{{item.LglNm}}</td>
                    <td style="text-align: left;">{{item.TrdNm}}</td>
                    <td style="text-align: left;">{{(item.telephone_no | canadianPhone)}}</td>
                    <td style="text-align: left;">{{item.status}}</td>
                    <td>
                        <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                    </td>
                </tr>
                <tr *ngIf="data?.length == 0">
                    <td colspan="8">{{'common.noRecords' | translate}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="card" *ngIf="isView">
    <div class="card-header">Client Details</div>
    <div class="card-block">
        <div class="card-text">
            <h3>Client Details:</h3>
            <table class="table table-border">
                <tr >
                    <td style="text-align: left;">Referred By:</td>
                    <td style="text-align: left;">{{ selectedClient ['refered_by']  }}</td>
                    <td style="text-align: left;">Client Type:</td>
                    <td style="text-align: left;">{{ selectedClient ['client_type'] }}</td>
                    
                 </tr>
                <tr>
                   <td style="text-align: left;">Legal Name:</td>
                   <td style="text-align: left;">{{ selectedClient ['LglNm'] }}</td>
                   <td style="text-align: left;">Contact Person Name:</td>
                   <td style="text-align: left;">{{ selectedClient ['person'] }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Contact No:</td>
                    <td style="text-align: left;">{{ (selectedClient ['telephone_no'] | canadianPhone) }}</td>
                    <td style="text-align: left;">Email ID:</td>
                    <td style="text-align: left;">{{ selectedClient ['email'] }}</td>
                 </tr>
                 <tr>
                  
                 </tr>
                 <tr>
                    <td style="text-align: left;">GST Type:</td>
                    <td style="text-align: left;">{{ selectedClient ['gst_type']  }}</td>
                    <td style="text-align: left;">GST No:</td>
                    <td style="text-align: left;">{{ selectedClient ['gst_no'] }}</td>
                 </tr>
                 <tr>
                    <td style="text-align: left;">State:</td>
                    <td style="text-align: left;">{{ selectedClient ['state_code'] }}</td>
                    <td style="text-align: left;">Website:</td>
                    <td style="text-align: left;" >{{ selectedClient ['website']}}</td>
                 </tr>
                 <tr>
                    <td style="text-align: left;">Address1:</td>
                    <td style="text-align: left;" colspan="3">{{ selectedClient ['Addr1']  }} {{ selectedClient ['c_address']  }}</td>
                 </tr>
                 <tr>
                    <td style="text-align: left;">Address2:</td>
                    <td style="text-align: left;" colspan="3">{{ selectedClient ['Addr2']  }} {{ selectedClient ['cr_address']  }}</td>
                 </tr>
                 <tr>
                    <td style="text-align: left;">City:</td>
                    <td style="text-align: left;">{{ selectedClient ['city'] }} {{ selectedClient ['c_city'] }}</td>
                    <td style="text-align: left;">Postal Code:</td>
                    <td style="text-align: left;" >{{ selectedClient ['Pin']}} {{ selectedClient ['c_pincode']}}</td>
                 </tr>
            </table>

            <h3>Branch Details:</h3>
            <table class="table table-border">
                <tr>
                    <th style="text-align: left; background-color: rgb(14,67,112); color: white;">Branch Name</th>
                    <th style="text-align: left; background-color: rgb(14,67,112); color: white;">Client Type</th>
                    <th style=" background-color: rgb(14,67,112); color: white;">Contact No.</th>
                    <th style="text-align: left; background-color: rgb(14,67,112); color: white;">Email ID</th>
                    <th style="text-align: left; background-color: rgb(14,67,112); color: white;">State</th>
                    <th style="text-align: left; background-color: rgb(14,67,112); color: white;">Address1</th>
                    <th style="text-align: left; background-color: rgb(14,67,112); color: white;">Address2</th>
                    <th style="text-align: left; background-color: rgb(14,67,112); color: white;">Location</th>
                    <th style=" background-color: rgb(14,67,112); color: white;">Postal Code</th>
                </tr>
                <tr *ngFor="let user of selectedClient['branch'];let i = index">
                    <td style="text-align: left;">{{ user.branch_name }}</td>
                    <td style="text-align: left;">{{ user.client_type }}</td>
                    <td>{{ (user.contact_no  | canadianPhone)}}</td>
                    <td style="text-align: left;">{{ user.email }}</td>
                    <td style="text-align: left;">{{ user.state_name }}</td>
                    <td style="text-align: left;">{{ user.address1 }}</td>
                    <td style="text-align: left;">{{ user.address2 }}</td>
                    <td style="text-align: left;">{{ user.location }}</td>
                    <td>{{ user.pincode }}</td>
                </tr>
                <tr *ngIf="selectedClient['branch'] == 0">
                    <td colspan="9">No Record Found!</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <button *ngIf = "selectedClient ['client_status']=='inactive' && selectedClient ['status']=='approve'" class="btn btn-primary" (click)="updateClient('active')">ACTIVE</button>
        <button *ngIf = "selectedClient ['client_status']=='active' && selectedClient ['status']=='approve'" class="btn btn-danger" (click)="updateClient('inactive')">INACTIVE</button>
        <button class="btn btn-primary" (click)="edit(selectedClient['id'])">{{'common.edit' | translate}}</button>
        <button class="btn btn-danger" (click)="isView=false">{{'common.close' | translate}}</button>
    </div>
</div>





