<div class="container-fluid" *ngIf="!isView">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Invoices for Approval</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/dispatch/tax" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
              </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                <table class="table">
                    <tr>
                        <th>Sr.</th>
                        <th style="text-align: left;">PO NO.</th>
                        <!-- <th style="text-align: left;">Client name</th> -->
                        <th style="text-align: left;">Client code</th>
                        <!-- <th style="text-align: left;">Branch</th> -->
                        <th style="text-align: left;">Invoice No</th>
                        <th style="text-align: left;">Payment Mode</th>
                        <th style="text-align: left;"> Status</th>
                        <th>view</th>
                    </tr>
                    <tr *ngFor="let res of results;let i=index">
                        <td>{{ i+1}}</td>
                        <td style="text-align: left;">{{ res.po_no }}</td>
                        <!-- <td style="text-align: left;">{{ res.LglNm }}</td> -->
                        <td style="text-align: left;">{{ res.client_code}}</td>
                        <!-- <td style="text-align: left;">{{ res.branch}}</td> -->
                        <td style="text-align: left;">{{ res.invoice_no}}</td>
                        <td style="text-align: left;"> {{ res.pay_mode }}</td>
                        <td style="text-align: left;"> {{ res.status}}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                        </td>
                    </tr>
                    <tr *ngIf="results?.length==0">
                        <td colspan="9">No Record Found!</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Order Details</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" (click)="isView=false" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <h3>Client Details:</h3>
            <table class="table" style="border:solid rgb(14, 67, 112) 1px ;">
                <tr>
                    <td style="text-align: left;background-color: rgb(14, 67, 112);color: white;" colspan="4">Bill TO</td>
                </tr>
                <tr>
                    <td style="text-align:left;color: rgb(14, 67, 112);">Legal Name</td>
                    <td style="text-align: left;">{{ selectedResult['LglNm'] }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;color: rgb(14, 67, 112);">Address1:</td>
                    <td style="text-align: left;">{{ selectedResult['Addr1'] }}</td>
                    <td style="text-align: left;width: 20%;color: rgb(14, 67, 112);">Address2:</td>
                    <td style="text-align: left;">{{ selectedResult['Addr2'] }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;width: 20%;color: rgb(14, 67, 112);">GSTIN:</td>
                    <td style="text-align: left;">{{ selectedResult['gst_no'] }}</td>
                    <td style="text-align: left;width: 20%;color: rgb(14, 67, 112);">City:</td>
                    <td style="text-align: left;">{{ selectedResult['city'] }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;width: 20%;color: rgb(14, 67, 112);">State:</td>
                    <td style="text-align: left;">{{ selectedResult['state_code'] }}</td>
                    <td style="text-align: left;width: 20%;color: rgb(14, 67, 112);">Postal Code:</td>
                    <td style="text-align: left;">{{ selectedResult['Pin'] }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;width: 20%;color: rgb(14, 67, 112);">PO NO:</td>
                    <td style="text-align: left;">{{ selectedResult['po_no'] }}</td>
                    <td style="text-align: left;width: 20%;color: rgb(14, 67, 112);">Po Date:</td>
                    <td style="text-align: left;">{{ selectedResult['po_date'] }}</td>
                </tr>
            </table>
            <h3>Materials List:</h3>
            <div class="clr-col-lg-12" style="overflow-x: auto;overflow-y: auto;">
                <table class="table">
                    <tr>
                        <th>Sr.</th>
                        <th style="text-align: left;">Product Name</th>
                        <th style="text-align: left;">Product Code</th>
                        <th style="text-align: left;"> Medicap Lot No</th>
                        <th style="text-align: left;"> qty</th>
                        <th style="text-align: left;"> rate</th>
                        <!-- <th style="text-align: left;"> disc%</th> -->
                        <th style="text-align: left;">gst%</th>
                        <th style="text-align: left;">Gross Amount</th>
                        <!-- <th style="text-align: left;">Disc Amount</th> -->
                        <!-- <th style="text-align: left;">Taxable</th>
                        <th style="text-align: left;">IGST</th>
                        <th style="text-align: left;">CGST</th>
                        <th style="text-align: left;">SGST</th> -->
                        <th style="text-align: left;">Other Charge</th>
                        <th style="text-align: left;">Net Amount</th>
                    </tr>
                    <!-- <tr *ngFor="let res of selectedResult['sales_data'];let i=index"> -->
                    <tr *ngFor="let res of selectedResult['sales_data'];let i=index">
                        <td>{{i+1}}</td>
                        <td style="text-align: left;">{{ res.dosage_form}}</td>
                        <td style="text-align: left;">{{ res.product_code}}</td>
                        <td style="text-align: left;">{{ res.batch_no}}</td>
                        <td style="text-align: left;">{{ res.qty}}</td>
                        <td style="text-align: left;">{{ res.rate}}</td>
                        <!-- <td style="text-align: left;"> {{ res.disc_per }}</td> -->
                        <td style="text-align: left;">{{ res.gst_per}} </td>
                        <td style="text-align: left;"> {{ res.gross_total}}</td>
                        <!-- <td style="text-align: left;"> {{ res.disc_total}}</td>
                        <td style="text-align: left;">{{ res.taxable}} </td>
                        <td style="text-align: left;">{{ res.IgstAmt}} </td>
                        <td style="text-align: left;">{{ res.CgstAmt}} </td>
                        <td style="text-align: left;">{{ res.SgstAmt}} </td> -->
                        <td style="text-align: left;">{{ res.OthChrg}} </td>
                        <td style="text-align: left;"> {{ res.net_total}}</td>
                    </tr>
                </table>
            </div>
    
            <div class="clr-cl-lg-12" style="overflow-x: auto;">
                <h4> Calculation Details:</h4>
                <table class="table">
                    <tr>
                        <th style="text-align: left;">Gross Total</th>
                        <th style="text-align: left;">Disc Total</th>
                        <th style="text-align: left;">Taxable Total</th>
                        <th style="text-align: left;">gst%</th>
                        <th style="text-align: left;">IGST Total</th>
                        <th style="text-align: left;">CGST Total</th>
                        <th style="text-align: left;">SGST Total</th>
                        <th style="text-align: left;">Other Charge </th>
                        <th style="text-align: left;">Net Total </th>
                        <th style="text-align: left;">Round Of Amount </th>  
                        <th style="text-align: left;"> Total Invoice Amount</th> 
                    </tr>
                    <tr *ngFor="let res of product;let i=index">
                        <td style="text-align: left;">{{res.gross_total}}</td>
                        <td style="text-align: left;">{{res.disc_total}}</td>
                        <td style="text-align: left;">{{res.AssVal}}</td>
                        <td style="text-align: left;">{{res.gst}}</td>
                        <td style="text-align: left;">{{res.Cgst_amt + res.Sgst_amt}}</td>
                        <td style="text-align: left;">{{res.Cgst_amt}}</td>
                        <td style="text-align: left;">{{res.Sgst_amt}}</td>
                        <td style="text-align: left;">{{res.OthChrg}}</td>
                        <td style="text-align: left;">{{res.net_total}}</td>
                        <td style="text-align: left;">{{res.RndOffAmt}}</td>
                        <td style="text-align: left;" ></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="updateInvoice('approve')">Approval</button>
        <button class="btn btn-danger" (click)="updateInvoice('reject')">{{'common.reject' | translate}}</button>
        <button class="btn btn-danger" (click)="isView=false">{{'common.close' | translate}}</button>
    </div>
</div>

