<div class="card" *ngIf="isNew">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Generate Appointment Letter
      </div>
      <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm btn-danger" routerLink="/hr">
          <clr-icon shape="window-close" class="is-solid"></clr-icon> {{'common.close' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <form #Form="ngForm">
        <div class="clr-row">
          <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
            <label>Employee:</label>
            <select name="emp_id" ngModel required (change)="selectEmp($event.target.selectedIndex)">
              <option selected disabled value="">Select Employee</option>
              <option *ngFor="let list of employee" [value]="list.emp_id">{{ list.firstname }} {{ list.middlename }} {{
                list.lastname }}</option>
            </select>
          </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
            <label>Employee Type<span style="color: red;">*</span> </label>
            <select name="emp_type" [(ngModel)]="emp_type" required (change)="getSalaryHeads()">
              <option></option>
              <option *ngFor="let salarytypes of salary_types" value="{{ salarytypes.payroll_type }}">{{
                salarytypes.payroll_type }}</option>
              <!-- <option>Hr</option>
              <option>Operator</option>
              <option>Trainee Officer</option>
              <option>Trainee Employee</option>
              <option>Executive</option>
              <option>Manager</option>
              <option>Vice President</option> -->
            </select>
          </div>


          <div class="clr-col-lg-2 clr-col-md-3 clr-col-sm-4 clr-col-xs-4">
            <label>CTC:</label>
            <input type="number" name="gross_salary" [(ngModel)]="gross_salary" (input)="calculateSalary()" required>
          </div>

          <div class="clr-col-lg-2 clr-col-md-4 clr-col-sm-4 clr-col-xs-4">
            <label>CTC Per Annum:</label>
            <input type="text" name="ctc_annual" [(ngModel)]="ctc_annual" readonly tabindex="-1">
          </div>
        </div>


        <table class="table">
          <thead>
            <tr>
              <th style="background-color: rgb(14, 67, 112); color: white;">Salary Head</th>
              <th style="background-color: rgb(14, 67, 112); color: white;">Calculation Type</th>
              <th style="background-color: rgb(14, 67, 112); color: white;">Value</th>
              <th style="background-color: rgb(14, 67, 112); color: white;">Per Month</th>
              <th style="background-color: rgb(14, 67, 112); color: white;">Per Annum</th>
            </tr>
          </thead>
          <tbody>
            <tr style="height: 10px; background:aquamarine">
              <td colspan="3" style="color: blue;text-align: left"><strong>Cost To Company (Earnings)</strong></td>
            </tr>
            <tr *ngFor="let res of earnings_list; let i=index;">
              <td style="text-align: left;">{{res.salary_head}}</td>
              <td style="text-align: left;">{{res.calc_type}}</td>
              <td>{{res.value | number : '1.2-2'}}</td>
              <td>{{res.Amount | number : '1.0-0'}}</td>
              <td>{{ res.Annum | number : '1.0-0'}}</td>
            </tr>
            <tr>
              <td colspan="3" style="text-align: left; background-color: rgb(14, 67, 112); color: white;">
                <strong>Gross Salary</strong></td>
              <td style="background-color: rgb(14, 67, 112); color: white;"> {{total_earn_month_amt | number :
                '1.0-0'}}</td>
              <td style="background-color: rgb(14, 67, 112); color: white;">{{ total_earn_annum_amt | number :
                '1.0-0'}}</td>
            </tr>
            
            <tr style="height: 10px; background:cornflowerblue">
              <td colspan="3" style="color: blue;text-align: left"><strong>Cost To Company (Deduction)</strong></td>
            </tr>
            <tr *ngFor="let res of ctc_list; let i=index;">
              <td style="text-align: left;">{{res.salary_head}}</td>
              <td style="text-align: left;">{{res.calc_type}}</td>
              <td>{{res.value | number : '1.2-2'}}</td>
              <td>{{res.Amount | number : '1.0-0'}}</td>
              <td>{{ res.Annum | number : '1.0-0'}}</td>
            </tr>
            <tr *ngIf="ctc_list.length>1">
              <td colspan="3" style="text-align: left;"><strong>Total CTC Deductions</strong></td>
              <td style="background-color: rgb(14, 67, 112); color: white;"> {{total_ctc_ded_month_amt | number : '1.0-0'}}</td>
              <td style="background-color: rgb(14, 67, 112); color: white;"> {{ total_ctc_ded_annum_amt | number : '1.0-0'}}</td>
            </tr>
            <tr *ngIf="total_ctc>0">
              <td colspan="3" style="text-align: left; font-weight: bolder;background-color: rgb(14, 67, 112); color: white; "><strong>CTC Total </strong></td>
              <td style="background-color: rgb(14, 67, 112); color: white;">{{ total_ctc | number : '1.0-0'}}</td>
              <td style="background-color: rgb(14, 67, 112); color: white;"> {{ ctc_annual | number : '1.0-0'}}</td>
            </tr>


            <tr style="height: 10px; background:burlywood">
              <td colspan="3" style="color: blue;text-align: left"><strong>Cost To Employee (Deductions)</strong></td>
            </tr>
            <tr *ngFor="let res of detuctions_list; let i=index;">
              <td style="text-align: left;">{{res.salary_head}}</td>
              <td style="text-align: left;">{{res.calc_type}}</td>
              <td>{{res.value | number : '1.2-2'}}</td>
              <td>{{res.Amount | number : '1.0-0'}}</td>
              <td>{{ res.Annum | number : '1.0-0'}}</td>
            </tr>
            <tr *ngIf="detuctions_list.length>1">
              <td colspan="3" style="text-align: left;"><strong>Total Deductions</strong></td>
              <td style="background-color: rgb(14, 67, 112); color: white;"> {{total_ded_month_amt | number : '1.0-0'}}</td>
              <td style="background-color: rgb(14, 67, 112); color: white;"> {{ total_ded_annum_amt | number : '1.0-0'}}</td>
            </tr>

            <tr>
              <td colspan="3" style="text-align: left;background-color: rgb(14, 67, 112); color: white;"><strong>Net Salary (Take Home)</strong></td>
              <td style="background-color: rgb(14, 67, 112); color: white;">{{ total_earn_month_amt-total_ded_month_amt | number : '1.0-0'}}</td>
              <td style="background-color: rgb(14, 67, 112); color: white;">{{ total_earn_annum_amt-total_ded_annum_amt | number : '1.0-0'}}</td>
            </tr>


            <tr>
              <td><button class="btn btn-sm" style="background-color: green; color:white;">CTC : {{gross_salary | number : '1.0-0'}}</button></td>
              <td><button class="btn btn-sm">Gross Salary : {{total_earn_month_amt | number : '1.0-0'}}</button></td>
              <td><button class="btn btn-sm">Company Deductions:{{total_earn_month_amt | number : '1.0-0'}}</button></td>
              <td><button class="btn btn-sm">Employee Deductions: {{total_ded_month_amt | number : '1.0-0'}}</button></td>
              <td><button class="btn btn-sm">Take Home Salary :{{ total_earn_month_amt-total_ded_month_amt | number : '1.0-0'}}</button></td>
              
            </tr>

          </tbody>
        </table>
      </form>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="generate(Form)">{{'common.save' | translate}}</button>
    <button class="btn btn-danger" (click)="isNew = false">{{'common.close' | translate}}</button>
  </div>
</div>

<div class="container-fluid" *ngIf="!isNew">
  <div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Employee List</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">

          <button class="btn btn-sm btn-success" (click)="openNew()">NEW APPOINTMENT LETTER</button>
          <button class="btn btn-sm" routerLink="/hr" style="background-color: red;color: white;">
            <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
          </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">

        <clr-datagrid [clrDgLoading]="loading">

          <clr-dg-column>Candidate Name</clr-dg-column>
          <clr-dg-column>Qualification</clr-dg-column>
          <clr-dg-column>Contact No.</clr-dg-column>
          <clr-dg-column>Email Id</clr-dg-column>
          <clr-dg-column>{{'common.department' | translate}}</clr-dg-column>
          <clr-dg-column>{{'common.designation' | translate}}</clr-dg-column>
          <clr-dg-column>Appointment Letter</clr-dg-column>

         <clr-dg-row *clrDgItems="let user of appointmentletter; let i = index" [clrDgItem]="results">
            <clr-dg-cell>{{ user.firstname }} {{ user.middlename }} {{ user.lastname }}</clr-dg-cell>
            <clr-dg-cell>{{ user.qualification }}</clr-dg-cell>
            <clr-dg-cell>{{ (user.contact_no  | canadianPhone)}}</clr-dg-cell>
            <clr-dg-cell>{{ user.emp_email }}</clr-dg-cell>
            <clr-dg-cell>{{ user.department }}</clr-dg-cell>
            <clr-dg-cell>{{ user.designation }}</clr-dg-cell>
            <clr-dg-cell>
              <button class="btn btn-sm btn-info btn-icon" (click)="downloadPdf(user.emp_id)">
                <clr-icon shape="download"></clr-icon>
              </button>
              <!-- <button class="btn btn-sm btn-info btn-icon" (click)="emailOffer(user.emp_id)">
                <clr-icon shape="envelope"></clr-icon>
              </button> -->
            </clr-dg-cell>
         </clr-dg-row>
         <clr-dg-footer>  
          <clr-dg-pagination #pagination [(clrDgPageSize)]="pageSize" (clrDgPageChange)="onPageChange($event)">
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} 
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
      </div>
    </div>
  </div>
</div>