<div class="container-fluid">
    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;"> Control Sample Entry  </div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/qa/controlsample" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <form #newForm="ngForm">
            <div class="clr-row">
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Type of Material:<span style="color: red">*</span></strong></label>
                <select name="material_type" [(ngModel)]="material_type" (change)="getProducts()" required>
                  <option disabled> </option>
                  <option>Raw Material</option>
                  <option>Finished Product</option>
                  <option>Packing Material</option>
                </select>
              </div>
  
              <div class="clr-col-lg-8 clr-col-md-8 clr-col-sm-12 clr-col-xs-12" *ngIf="material_type == 'Raw Material' || material_type == 'Packing Material'">
                <label><strong>Material Name:<span style="color: red">*</span></strong></label>
                <select name="material_code"ngModel required>
                  <option disabled></option>
                  <option *ngFor="let product of products; let i = index" [value]="product.material_code">{{ product.material_name }} - {{ product.grade }}</option>
                </select>
              </div>

              <div class="clr-col-lg-8 clr-col-md-8 clr-col-sm-12 clr-col-xs-12" *ngIf="material_type == 'Finished Product'">
                <label><strong>Product Name:<span style="color: red">*</span> </strong></label>
                <select name="product_code"ngModel required>
                  <option disabled></option>
                  <option *ngFor="let product of products; let i = index" [value]="product.product_code">{{ product.product_name }} - {{ product.grade }}</option>
                </select>
              </div>
  
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Medicap Lot No:<span style="color: red">*</span></strong></label>
                <input type="text" name="batch_no" ngModel required>
              </div>
  
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" *ngIf="material_type == 'Finished Product'">
                <label><strong>Batch Size:<span style="color: red">*</span></strong></label>
                <input type="text" name="batch_size" ngModel required>
              </div>
  
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>A. R No:<span style="color: red">*</span></strong></label>
                <input type="text" name="ar_no" ngModel required>
              </div>
  
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Analysis Date :</strong></label>
                <input type="date" name="analysis_date" ngModel required>
              </div>

              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Release Date:</strong></label>
                <input type="date" name="release_date" ngModel required>
              </div>

              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Sampling Done By:</strong></label>
                <select name="done_by" >
                  <option disabled> </option>
                  <option *ngFor="let item of employee">{{item.emp_name}} </option>
                </select>
              </div>
  
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Sampling Date:</strong></label>
                <input type="date" name="sampling_date" ngModel required>
              </div>

              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Manufacturing Date:</strong></label>
                <input type="month" name="mfg_date" ngModel required>
              </div>
  
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Expiry Date:</strong></label>
                <input type="month" name="exp_date" ngModel required>
              </div>
  
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Quantity Of Sample (Units):</strong></label>
                <input type="text" name="sample_quantity" ngModel required>
              </div>
  
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>No of Packs:</strong></label>
                <input type="text" name="pack_no"ngModel required>
              </div>
  
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Kept in Rack No:</strong></label>
                <input type="text" name="rack_no"ngModel required>
              </div>
  
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Room Temperature( ℃):</strong></label>
                <input type="text" name="room_temp"ngModel required>
              </div>
  
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Humidity (% RH):</strong></label>
                <input type="text" name="humidity"ngModel required>
              </div>
  
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="saveForm(newForm)">{{'common.submit' | translate}}</button>
      </div>
    </div>
  </div>
  
  <!--<div class="container-fluid" *ngIf="isNew">
    <div class="card">
      <div class="card-header">Control Sample Entry</div>
      <div class="card-block">
        <div class="card-text">
          <button class="btn btn-sm" (click)="isNew = true">New Control Sample Entry</button>
          <table class="table">
            <tr>
              <th style="width: 40px;">Sr.</th>
              <th style="text-align: left;">Material Type</th>
              <th style="text-align: left;">Name of Product</th>
              <th style="text-align: left;">Medicap Lot No</th>
              <th style="text-align: left;">Batch Size</th>
              <th style="text-align: left;">Grade</th>
              <th style="text-align: left;">A.R No</th>
              <th style="text-align: left;">Analyasis Date</th>
              <th style="text-align: left;">MFG Date</th>
              <th style="text-align: left;">EXP Date</th>
              <th style="text-align: left;">Release Date</th>
              <th style="text-align: left;">Sample Qty</th>
              <th style="text-align: left;">Rack No</th>
              <th style="text-align: left;">Checked By</th>
            </tr>
            <tr *ngFor="let entry of entries; let i = index">
              
              <td style="text-align: left;">{{ entry.analysis_date }}</td>
              <td style="text-align: left;">{{ entry.release_date }}</td>
              <td style="text-align: left;">{{ entry.mfg_date }}</td>
              <td style="text-align: left;">{{ entry.exp_date }}</td>
              <td style="text-align: left;">{{ entry.sample_quantity }}</td>
              <td style="text-align: left;">{{ entry.rack_no }}</td>
              <td style="text-align: left;">{{ entry.checked_by }}</td>
            </tr>
            <tr *ngIf="entries?.length == 0">
              <td colspan="6" style="text-align: center;">{{'common.noRecords' | translate}}</td>
            </tr>
          </table>
        </div>
      </div>
  
      <div class="card-footer">
        <button class="btn btn-danger" (click)="close()">{{'common.close' | translate}}</button>
      </div>
    </div>
</div>-->
