.table-vertical { border-collapse: collapse; }
.table-vertical th, .table-vertical td { border-left: 1px solid #ccc; }
.table-vertical th:first-child, .table-vertical td:first-child { border-left: none; }