<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Vent Filter Replacement
                Record</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-danger" routerLink="/engineering/filter_management/ventfilter">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <form #formData="ngForm">
                <div class="clr-row">
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-3 clr-col-xs-3">
                        <label>From Date</label>
                        <input type="date" name="from_date" [(ngModel)]="from_date" [max]="to_date" >
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-3 clr-col-xs-3">
                        <label>To Date</label>
                        <input type="date" name="to_date" [(ngModel)]="to_date" [max]="today" [min]="from_date" >
                    </div>
                    <div class="clr-col-lg-2 clr-col-md-4 clr-col-sm-4 clr-col-xs-6">
                        <button class="btn btn-danger" (click)="getReplacementFilter()" style="margin-top: 31px;">{{'common.search' | translate}}</button>
                    </div>
                </div>
                <table class="table table1">
                    <tr>
                        <th style="text-align:center; vertical-align: middle;background: rgb(70,130,180);color: white;" rowspan="2">Filter Id No.</th>
                        <th style="text-align:center; vertical-align: middle;background: rgb(70,130,180);color: white;" rowspan="2">Date Of Filter Replacement
                        </th>
                        <th style="text-align:center; vertical-align: middle;background: rgb(70,130,180);color: white;" colspan="2">{{'common.department' | translate}}</th>
                        <th style="text-align:center; vertical-align: middle;background: rgb(70,130,180);color: white;" rowspan="2">Remark (If Any)</th>
                        <th style="text-align:center; vertical-align: middle;background: rgb(70,130,180);color: white;" rowspan="2">{{'common.table.action' | translate}}</th>
                    </tr>
                    <tr>
                        <th style="background: rgb(70,130,180);color: white;">Done By</th>
                        <th style="background: rgb(70,130,180);color: white;">Check By</th>
                    </tr>
                    <tr>
                        <td style="padding: 0px;"><input type="text" name="filter_id" ngModel required
                                style="margin: 0px;">
                        </td>
                        <td style="padding: 0px;"><input type="date" name="next_date" ngModel required
                                style="margin: 0px;">
                        </td>
                        <td style="padding: 0px;"></td>
                        <td style="padding: 0px;"></td>
                        <td style="padding: 0px;"><input type="text" name="remark" ngModel required
                                style="margin: 0px;">
                        </td>
                        <td style="padding: 0px; vertical-align: middle;"><button class="btn btn-primary btn-sm"
                                (click)="saveOperation(formData)">{{'common.add' | translate}}</button>
                        </td>
                    </tr>
                    
                <tr *ngFor = "let res of results; let i=index">
                    <!-- <td>{{res.entry_date  | date :'dd-MM-YYYY'}}</td> -->
                    <td>{{res.filter_id}}</td>
                    <td>{{res.next_date | date :'dd-MM-YYYY'}}</td>
                    <td>{{res.entry_by}}</td>
                    <td>{{res.check_by}}</td>
                    <td style="text-align: left;">{{res.remark}}</td>
                    <td></td>
                </tr>
                <tr *ngIf="results?.length == 0">
                    <td colspan="8">{{'common.noRecords' | translate}}</td>
                </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="card-footer"> <button class="btn btn-primary" (click)="download()">{{'common.download' | translate}}</button></div>
</div>