.card{
    border-color: #0065AB;
  }
  .card-header{
    background-color: #0065AB;
    color: white;
  }
  select, input[type=text], input[type=file], input[type=email], input[type=date], input[type=time], input[type=number], input[type=month] {
    width: 100%;
    height: auto;
    padding: 4px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 8px;
  }
  input:read-only{
    background-color: lightgray;
  }

  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  th {
    vertical-align: middle;
    border-right: 1px solid #ccc;
  }

  .thleft {
    text-align: left;
  }