<div class="container-fluid">
  <div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">SOP Index </div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" routerLink="/sops" style="background-color: red;color: white;">
            <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
          </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">

        <select (change)="onDepartmentChange($event.target.value)">
          <option disabled></option>
          <option *ngFor="let item of departments;" [value]="item.department_name">{{ item.department_name }}</option>
        </select>

        <clr-datagrid>
          <clr-dg-column>Sr. No.</clr-dg-column>
          <clr-dg-column>SOP No.</clr-dg-column>
          <clr-dg-column>SOP Name</clr-dg-column>
          <clr-dg-column>Form Name</clr-dg-column>
          <clr-dg-column>Format No</clr-dg-column>
          <clr-dg-column>Sop Type</clr-dg-column>
          <clr-dg-column>View</clr-dg-column>

          <clr-dg-row *ngFor="let item of sops; let i = index">
            <clr-dg-cell>{{ i + 1 }}</clr-dg-cell>
            <clr-dg-cell>{{ item.sop_no }}</clr-dg-cell>
            <clr-dg-cell>{{ item.sop_name }}</clr-dg-cell>
            <clr-dg-cell>{{ item.form_name }}</clr-dg-cell>
            <clr-dg-cell>{{ item.format_no }}</clr-dg-cell>
            <clr-dg-cell>{{ item.sop_type }}</clr-dg-cell>
            <clr-dg-cell>
                <button class="btn btn-sm btn-info" (click)="viewSOP(item)">{{'common.view' | translate}}</button>
            </clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </div>
    </div>
  </div>
</div>
