<!-- <div *ngIf="isLoading" class="loader-pharma-container">
    <div class="loader-pharma">
      <div class="capsule"></div>
      <div class="tablet"></div>
      <div class="api"></div>
      <div class="excipient"></div>
      <div class="excipient"></div>
      <div class="excipient"></div>
      <div class="excipient"></div>
    </div>
  </div> -->


<div class="card" *ngIf="!isView && !isMerge">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Requirement Analysis</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/mrp" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
    <div class="card-block">
        <mrp-stock-legend></mrp-stock-legend>
        <div class="card-text" *ngFor="let data of pendingpo;">

            <table   class="table table-border">
                <tr>
                    <td style="text-align: left;font-weight: bold;background-color: rgb(0, 0, 0);color: white;">Order No. : {{ data.order_no }}</td>
                    <td style="text-align: left;font-weight: bold;background-color: rgb(0, 0, 0);color: white;">Product Name : {{ data.product_name }}</td>
                     <td style="text-align: left;font-weight: bold;background-color: rgb(0, 0, 0);color: white;">Product Code : {{ data.product_code }}</td>
                     <td style="text-align: left;font-weight: bold;background-color: rgb(0, 0, 0);color: white;">Order Qty   : {{ data.order_qty }} {{ data.ord_unit }}</td>
                     <td style="text-align: left;font-weight: bold;background-color: rgb(0, 0, 0);color: white;">Pack Size ( {{data.pack_size}} ) : {{data.pack_sizeunit}} </td>
                 </tr>
            </table>
            <table   class="table table-border">

                <tr>
                    <th colspan="9" style="text-align:left;font-size: 12px; font-weight: bold;background-color: rgb(165, 230, 152); color: black;">Raw Material</th>
                </tr>

                <tr>
                    <th style="text-align:left; font-weight: bold;background-color: rgb(9, 243, 212); color: black;">Sr. No.</th>
                    <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Subtype</th>
                    <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Name</th>
                    <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Code</th>
                    <mrp-stock-qty-cols mode="header" headerStyle="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;"></mrp-stock-qty-cols>
                    <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Required Qty</th>
                 </tr>
                <tr *ngFor="let item of data.raw_materials; let i=index">
                    <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{i + 1}}.</td>
                    <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_subtype}}</td>
                    <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_name}}</td>
                    <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_Code || item.material_code}}</td>
                    <mrp-stock-qty-cols [item]="item"></mrp-stock-qty-cols>
                    <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.required_qty}}  {{item.required_qty_unit}}</td>
                </tr>
            </table>
            <table   class="table table-border">
                <tr>
                    <th colspan="9" style="text-align:left;font-size: 12px; font-weight: bold;background-color: rgb(167, 230, 154); color: black;">Packing Material</th>
                </tr>
              <tr>
                  <th style="text-align:left; font-weight: bold;background-color: rgb(9, 243, 212); color: black;">Sr. No.</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Subtype</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Name</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Code</th>
                  <mrp-stock-qty-cols mode="header" headerStyle="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;"></mrp-stock-qty-cols>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Required Qty</th>
                </tr>
              <tr *ngFor="let item of data.packing_configuration; let i=index">
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{i + 1}}.</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_subtype}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_name}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_code}}</td>
                  <mrp-stock-qty-cols [item]="item"></mrp-stock-qty-cols>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.required_qty}} {{item.unit}}  </td>
               </tr>
            </table>
            <table class="table table-border" *ngIf="(data.primary_pm_list || data.primary_packing_configuration || []).length">
                <tr>
                    <th colspan="9" style="text-align:left;font-size: 12px; font-weight: bold;background-color: rgb(255, 224, 178); color: black;">Primary Packing Material</th>
                </tr>
              <tr>
                  <th style="text-align:left; font-weight: bold;background-color: rgb(9, 243, 212); color: black;">Sr. No.</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Subtype</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Name</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Code</th>
                  <mrp-stock-qty-cols mode="header" headerStyle="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;"></mrp-stock-qty-cols>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Required Qty</th>
                </tr>
              <tr *ngFor="let item of (data.primary_pm_list || data.primary_packing_configuration); let i=index">
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{i + 1}}.</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_subtype || '-'}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_name}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_code}}</td>
                  <mrp-stock-qty-cols [item]="item"></mrp-stock-qty-cols>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.required_qty}} {{item.unit_name || item.unit || item.uom}}</td>
               </tr>
            </table>
            <table class="table table-border" *ngIf="(data.consumeableMaterial || data.Consumables_packing_configuration || []).length">
                <tr>
                    <th colspan="9" style="text-align:left;font-size: 12px; font-weight: bold;background-color: rgb(225, 190, 231); color: black;">Consumable Material</th>
                </tr>
              <tr>
                  <th style="text-align:left; font-weight: bold;background-color: rgb(9, 243, 212); color: black;">Sr. No.</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Subtype</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Name</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Code</th>
                  <mrp-stock-qty-cols mode="header" headerStyle="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;"></mrp-stock-qty-cols>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Required Qty</th>
                </tr>
              <tr *ngFor="let item of (data.consumeableMaterial || data.Consumables_packing_configuration); let i=index">
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{i + 1}}.</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_subtype || '-'}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_name}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_code}}</td>
                  <mrp-stock-qty-cols [item]="item"></mrp-stock-qty-cols>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.required_qty}} {{item.unit_name || item.unit || item.uom}}</td>
               </tr>
            </table>

        </div>
    </div>
    <div class="card-footer">
        <!-- <button class="btn btn-success"(click)="commonMaterials()">Fetch Common Materials</button> -->
    </div>
</div>

<div class="card" *ngIf="isView && !isMerge">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">Requirement Analysis</div>
            <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <mrp-stock-legend></mrp-stock-legend>

        <div class="card-text" >
            <table   class="table table-border">

                <tr>
                    <th colspan="9" style="text-align:left;font-size: 12px; font-weight: bold;background-color: rgb(247, 108, 108); color: black;">Unique Raw Material</th>
                </tr>

                <tr>
                    <th style="text-align:left; font-weight: bold;background-color: rgb(9, 243, 212); color: black;">Sr. No.</th>
                    <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Subtype</th>
                    <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Name</th>
                    <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Code</th>
                    <mrp-stock-qty-cols mode="header" headerStyle="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;"></mrp-stock-qty-cols>
                     <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Required Qty</th>
                 </tr>
                <tr *ngFor="let item of uniqueRawMaterials; let i=index">
                    <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{i + 1}}.</td>
                    <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_subtype}}</td>
                    <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_name}}</td>
                    <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_Code || item.material_code}}</td>
                    <mrp-stock-qty-cols [item]="item"></mrp-stock-qty-cols>
                    <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.required_qty}}  {{item.required_qty_unit}}</td>
                </tr>
            </table>

            <table   class="table table-border">
                <tr>
                    <th colspan="9" style="text-align:left;font-size: 12px; font-weight: bold;background-color: rgb(247, 108, 108); color: black;">Unique Packing Material</th>
                </tr>
              <tr>
                  <th style="text-align:left; font-weight: bold;background-color: rgb(9, 243, 212); color: black;">Sr. No.</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Subtype</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Name</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Code</th>
                  <mrp-stock-qty-cols mode="header" headerStyle="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;"></mrp-stock-qty-cols>
                   <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Required Qty</th>
                </tr>
              <tr *ngFor="let item of uniquePackMaterials; let i=index">
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{i + 1}}.</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_subtype}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_name}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_code}}</td>
                  <mrp-stock-qty-cols [item]="item"></mrp-stock-qty-cols>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.required_qty}}  {{item.unit}}</td>
               </tr>
            </table>

            <table class="table table-border" *ngIf="uniqueprimaryPackMaterials.length">
                <tr>
                    <th colspan="9" style="text-align:left;font-size: 12px; font-weight: bold;background-color: rgb(255, 224, 178); color: black;">Unique Primary Packing Material</th>
                </tr>
              <tr>
                  <th style="text-align:left; font-weight: bold;background-color: rgb(9, 243, 212); color: black;">Sr. No.</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Subtype</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Name</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Code</th>
                  <mrp-stock-qty-cols mode="header" headerStyle="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;"></mrp-stock-qty-cols>
                   <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Required Qty</th>
                </tr>
              <tr *ngFor="let item of uniqueprimaryPackMaterials; let i=index">
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{i + 1}}.</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_subtype || '-'}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_name}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_code}}</td>
                  <mrp-stock-qty-cols [item]="item"></mrp-stock-qty-cols>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.required_qty}} {{item.unit_name || item.unit || item.uom}}</td>
               </tr>
            </table>

            <table class="table table-border" *ngIf="uniqueConsumablesPackMaterials.length">
                <tr>
                    <th colspan="9" style="text-align:left;font-size: 12px; font-weight: bold;background-color: rgb(225, 190, 231); color: black;">Unique Consumable Material</th>
                </tr>
              <tr>
                  <th style="text-align:left; font-weight: bold;background-color: rgb(9, 243, 212); color: black;">Sr. No.</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Subtype</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Name</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Code</th>
                  <mrp-stock-qty-cols mode="header" headerStyle="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;"></mrp-stock-qty-cols>
                   <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Required Qty</th>
                </tr>
              <tr *ngFor="let item of uniqueConsumablesPackMaterials; let i=index">
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{i + 1}}.</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_subtype || '-'}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_name}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_code}}</td>
                  <mrp-stock-qty-cols [item]="item"></mrp-stock-qty-cols>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.required_qty}} {{item.unit_name || item.unit || item.uom}}</td>
               </tr>
            </table>

            <table   class="table table-border">
                <tr>
                    <th colspan="9" style="text-align:left;font-size: 12px; font-weight: bold;background-color: rgb(165, 230, 152); color: black;">Common Raw Material</th>
                </tr>

                <tr>
                    <th style="text-align:left; font-weight: bold;background-color: rgb(9, 243, 212); color: black;">Sr. No.</th>
                    <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Subtype</th>
                    <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Name</th>
                    <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Code</th>
                    <mrp-stock-qty-cols mode="header" headerStyle="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;"></mrp-stock-qty-cols>
                     <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Required Qty</th>
                 </tr>
                <tr *ngFor="let item of commonRawMaterials; let i=index">
                    <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{i + 1}}.</td>
                    <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_subtype}}</td>
                    <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_name}}</td>
                    <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_Code || item.material_code}}</td>
                    <mrp-stock-qty-cols [item]="item"></mrp-stock-qty-cols>
                    <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.required_qty}}  {{item.required_qty_unit}}</td>
                </tr>
            </table>

            <table  class="table table-border">
                <tr>
                    <th colspan="6" style="text-align:left;font-size: 12px; font-weight: bold;background-color: rgb(167, 230, 154); color: black;">Common Packing Material</th>
                </tr>
              <tr>
                  <th style="text-align:left; font-weight: bold;background-color: rgb(9, 243, 212); color: black;">Sr. No.</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Subtype</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Name</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Code</th>
                  <mrp-stock-qty-cols mode="header" headerStyle="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;"></mrp-stock-qty-cols>
                   <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Required Qty</th>
                </tr>
              <tr *ngFor="let item of commonPackMaterials; let i=index">
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{i + 1}}.</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_subtype}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_name}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_code}}</td>
                  <mrp-stock-qty-cols [item]="item"></mrp-stock-qty-cols>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.required_qty}}  {{item.unit}}</td>
               </tr>
            </table>

            <table class="table table-border" *ngIf="commonprimaryPackMaterials.length">
                <tr>
                    <th colspan="9" style="text-align:left;font-size: 12px; font-weight: bold;background-color: rgb(255, 224, 178); color: black;">Common Primary Packing Material</th>
                </tr>
              <tr>
                  <th style="text-align:left; font-weight: bold;background-color: rgb(9, 243, 212); color: black;">Sr. No.</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Subtype</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Name</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Code</th>
                  <mrp-stock-qty-cols mode="header" headerStyle="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;"></mrp-stock-qty-cols>
                   <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Required Qty</th>
                </tr>
              <tr *ngFor="let item of commonprimaryPackMaterials; let i=index">
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{i + 1}}.</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_subtype || '-'}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_name}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_code}}</td>
                  <mrp-stock-qty-cols [item]="item"></mrp-stock-qty-cols>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.required_qty}} {{item.unit_name || item.unit || item.uom}}</td>
               </tr>
            </table>

            <table class="table table-border" *ngIf="commonConsumablesPackMaterials.length">
                <tr>
                    <th colspan="9" style="text-align:left;font-size: 12px; font-weight: bold;background-color: rgb(225, 190, 231); color: black;">Common Consumable Material</th>
                </tr>
              <tr>
                  <th style="text-align:left; font-weight: bold;background-color: rgb(9, 243, 212); color: black;">Sr. No.</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Subtype</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Name</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Code</th>
                  <mrp-stock-qty-cols mode="header" headerStyle="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;"></mrp-stock-qty-cols>
                   <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Required Qty</th>
                </tr>
              <tr *ngFor="let item of commonConsumablesPackMaterials; let i=index">
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{i + 1}}.</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_subtype || '-'}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_name}}</td>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.material_code}}</td>
                  <mrp-stock-qty-cols [item]="item"></mrp-stock-qty-cols>
                  <td style="text-align:left ;font-weight: bold;padding: 1px;margin: 1px;">{{item.required_qty}} {{item.unit_name || item.unit || item.uom}}</td>
               </tr>
            </table>
        </div>
    </div>
    <div class="card-footer">

        <button class="btn btn-success" (click)="sendForIndent()">Create Purchase Requisition</button>
        <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
    </div>
</div>
<div class="card" *ngIf="isMerge && !isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">Consolidate Plan</div>
            <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
              <button class="btn btn-sm" routerLink="/mrp" style="background-color: red;color: white;">
                <clr-icon shape="window-close" class="is-solid">Close</clr-icon>
                </button>

            </div>
        </div>
    </div>


        <div class="card-block">
            <mrp-stock-legend></mrp-stock-legend>
            <div class="card-text">
                    <h3><b>Brands</b></h3>
                <div class="datagrid-wrapper">

                  <clr-datagrid [(clrDgSelected)]="selectedItems" [clrDgStickyHeader]="true">

                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;width: 10px;">Sr. No.</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;width: 10px;">Order No</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Product Name</clr-dg-column>
                     <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Product Code</clr-dg-column>
                     <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Generic Code</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Order Qty</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Pack Size</clr-dg-column>
                    <!-- <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Min. Order Qty</clr-dg-column> -->
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Po No</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Lowest Posible Batch</clr-dg-column>
   

                     <clr-dg-row *ngFor='let pending of pendingpos;let i=index'>
                      <clr-dg-cell style="background-color: lightskyblue;color: black;text-align:left;font-weight: bold;">{{i + 1}}</clr-dg-cell>
                
                    <!-- <td style="background-color: lightskyblue;color: black;text-align:left;font-weight: bold;">
                      <input type="checkbox" name="check{{i}}" [(ngModel)]="pending.check" required>
                    </td> -->
                    <clr-dg-cell style="background-color: lightskyblue;color: black;text-align:left;font-weight: bold;">{{pending.order_no}}</clr-dg-cell>
                    <clr-dg-cell style="background-color: lightskyblue;color: black;text-align:left;font-weight: bold;">{{pending.product_name}}  </clr-dg-cell>
                    <clr-dg-cell style="background-color: lightskyblue;color: black;text-align:left;font-weight: bold;"> {{pending.product_code}} </clr-dg-cell>
                    <clr-dg-cell style="background-color: lightskyblue;color: black;text-align:left;font-weight: bold;"> {{pending.genericProductCode}} </clr-dg-cell>
                    <clr-dg-cell style="background-color: lightskyblue;color: black;text-align:left;font-weight: bold;">{{pending.order_qty}} {{pending.unit}}</clr-dg-cell>
                    <clr-dg-cell style="background-color: lightskyblue;color: black;text-align:left;font-weight: bold;">{{pending.pack_size?.pack_size}} {{pending.pack_size?.unit}}</clr-dg-cell>
                    <clr-dg-cell style="background-color: lightskyblue;color: black;text-align:left;font-weight: bold;">{{pending.po_no}}</clr-dg-cell> 
                    <clr-dg-cell style="background-color: lightskyblue;color: black;text-align:left;font-weight: bold;">{{pending.lowest_batch}}</clr-dg-cell> 
                    
                </clr-dg-row>


                  </clr-datagrid>


                </div>
                    <h3><b>Generics</b></h3>
                <div class="datagrid-wrapper">

                  <clr-datagrid [(clrDgSelected)]="selectedItems" [clrDgStickyHeader]="true">

                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;width: 10px;">Sr. No.</clr-dg-column>
                     <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Generic Name</clr-dg-column>
                     <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Generic Code</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Total Order Qty</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Merged Orders</clr-dg-column>
                  
   

                     <clr-dg-row *ngFor='let pending of merrgedData;let i=index'>
                      <clr-dg-cell style="background-color: pink;color: black;text-align:left;font-weight: bold;">{{i + 1}}</clr-dg-cell>
                
                    <!-- <td style="background-color: pink;color: black;text-align:left;font-weight: bold;">
                      <input type="checkbox" name="check{{i}}" [(ngModel)]="pending.check" required>
                    </td> -->
                     <clr-dg-cell style="background-color: pink;color: black;text-align:left;font-weight: bold;">{{pending.generic_name}}  </clr-dg-cell>
                    <clr-dg-cell style="background-color: pink;color: black;text-align:left;font-weight: bold;"> {{pending.genericProductCode}} </clr-dg-cell>
                    <clr-dg-cell style="background-color: pink;color: black;text-align:left;font-weight: bold;">{{pending.total_qty}} {{pending.unit}} </clr-dg-cell> 
                    <clr-dg-cell style="text-align:left;font-weight: bold; background-color: pink;color: black;text-align:left;font-weight: bold;">
                            <li *ngFor="let data of pending['productDetails'];let i = index">{{data.order_no}} - {{data.product_code}} ({{data.order_qty}} {{data.unit}})</li>
                            </clr-dg-cell>
                    
                </clr-dg-row>


                  </clr-datagrid>


                </div>




                <div class="datagrid-wrapper">

                  <clr-datagrid [(clrDgSelected)]="selectedItems" [clrDgStickyHeader]="true">

                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;width: 10px;">Check</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Material Type</clr-dg-column>
                     <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Material Name</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Gross Bal.</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Booked</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Hold</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Net Avl.</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Pipeline</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Effective Bal.</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Required Qty</clr-dg-column>
                    <!-- <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Min. Order Qty</clr-dg-column> -->
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Short Qty (Min Ord.)</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Short Qty (Avl. Qty.)</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;width: 200px;"  >Months</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Actual Order Qty</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">{{'common.unit' | translate}}</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Pack Size</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Selected Qty</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Requirement</clr-dg-column>
                    <clr-dg-column style="background-color: rgb(117, 162, 247);color: black;">Approx Indent Date</clr-dg-column>
                  
                    <clr-dg-row *ngFor="let item of mergedArray; let i = index" [clrDgItem]="item">

                        <clr-dg-cell>
                            <input
                                type="checkbox"
                                name="check{{i}}"
                                [(ngModel)]="item.check"
                                (change)="toggleMainRowCheckbox(item, item.check,item.material_type)">
                          </clr-dg-cell>
                      <clr-dg-cell>{{ item.material_type }}</clr-dg-cell>
                       <clr-dg-cell>{{ item.material_name }} ( {{ item.material_code }} )</clr-dg-cell>

                      <clr-dg-cell>{{ item.gross_balance_qty ?? item.balance_qty }}</clr-dg-cell>
                      <clr-dg-cell [class.mrp-stock-warn]="(item.booked_qty || 0) > 0">{{ item.booked_qty || 0 }}</clr-dg-cell>
                      <clr-dg-cell [class.mrp-stock-warn]="(item.hold_qty || 0) > 0">{{ item.hold_qty || 0 }}</clr-dg-cell>
                      <clr-dg-cell [ngClass]="{ 'light-red': (item.net_available_qty ?? item.balance_qty) <= 0, 'light-green': (item.net_available_qty ?? item.balance_qty) > 0 }">
                        {{ item.net_available_qty ?? item.balance_qty }}
                      </clr-dg-cell>
                      <clr-dg-cell [class.mrp-stock-pipeline]="(item.pipeline_supply_qty || 0) > 0">{{ item.pipeline_supply_qty || 0 }}</clr-dg-cell>
                      <clr-dg-cell [ngClass]="{ 'light-red': item.balance_qty <= 0, 'light-green': item.balance_qty > 0 }">
                        {{ item.balance_qty }}
                      </clr-dg-cell>

                      <clr-dg-cell>{{ item.required_qty }} {{ item.required_qty_unit }}</clr-dg-cell>

                      <!-- <clr-dg-cell>{{ item.min_order_qty || '0' }} {{ item.uom }}</clr-dg-cell> -->

                      <clr-dg-cell style="color: red;">{{ calculateDifference1(item) }}</clr-dg-cell>

                      <clr-dg-cell style="color: red;">{{ calculateDifference(item) }}</clr-dg-cell>
                      <clr-dg-cell style="width: 200px;"> 

                        <div class="month-cards-container">
                            <div *ngFor="let month of [].constructor(maxLength); let idx = index">
                                <ng-container *ngIf="item.splistCal && item.splistCal[idx]">
                                  <div class="month-card">
                                    <div class="month-card-header" *ngIf="item.splistCal[idx].calculatedValue != 0 || item.splistCal[idx].calculatedValue != null || item.splistCal[idx].calculatedValue != undefined|| item.splistCal[idx].calculatedValue != ''">
                                      <input
                                        type="checkbox"
                                        [(ngModel)]="item.splistCal[idx].check"
                                        class="month-checkbox"
                                        (change)="toggleMonthCardCheckbox(item, idx , item.totalDays)" [disabled]="item.splistCal[idx].calculatedValue==0">
                                      &nbsp;&nbsp; <b style="color: red;"> ({{ item.splistCal[idx].month }} - {{ item.splistCal[idx].year }})</b>
                                      <hr>
                                      <b  >
                                        {{ item.splistCal[idx].calculatedValue | number:'1.2-2'}} {{ item.required_qty_unit }}
                                      </b>
                                    </div>

                              </div>
                            </ng-container>
                          </div> 
                        </div>
                      </clr-dg-cell>
                      <clr-dg-cell>
                        <input class="clr-input" type="text" [(ngModel)]="item.sum" readonly>
                      </clr-dg-cell>

                      <clr-dg-cell>
                       {{item.required_qty_unit}}
                      </clr-dg-cell>

                      <clr-dg-cell>
                        <input class="clr-input" type="text" [(ngModel)]="item.packSize" required (input)="calculateSum($event.target.value,i)">
                      </clr-dg-cell>                    
                      <clr-dg-cell>{{item.totalOrderQty}} <br>
                        <b *ngIf="item.totalOrderQty < item.balance_qty" style="color: red;">Purchase Requisition will not be prepared</b>
                      </clr-dg-cell>
                       <clr-dg-cell>
                        <!-- <input class="clr-input" type="date" [(ngModel)]="item.requirement" required> -->
                         <input class="clr-input" type="date" [(ngModel)]="item.requirement" [min]="item.requirement">

                      </clr-dg-cell>
                       <clr-dg-cell>
                        <input class="clr-input" type="date" [(ngModel)]="item.apprxIndend" required>
                      </clr-dg-cell>
                   
                    </clr-dg-row>


                  </clr-datagrid>


                </div>
        
             </div>


        </div>

        <div class="card-footer">
            <button  [disabled]="!btn"   class="btn btn-primary" (click)="save()">Save Purchase Requisition</button>
           

        </div>
</div>





<!-- <clr-modal [(clrModalOpen)]="isMerge" clrModalSize="xl" [clrModalClosable]="true">
    <h3 class="modal-title">Prepare Purchase Requisition</h3>
    <div class="modal-body">
        <div class="card">
            <div class="card-block">

                <div class="card-text">

                        <table class="table table-border " >
                            <tr>
                                <td style="text-align: center; background-color: rgb(117, 162, 247); color: white;text-align: left;" ><b>Material Type</b></td>
                                <td style="text-align: center; background-color: rgb(117, 162, 247); color: white;text-align: left;" ><b>Material Code</b></td>
                                <td style="text-align: center; background-color: rgb(117, 162, 247); color: white;text-align: left;" ><b>Material Name</b></td>
                                <td style="text-align: center; background-color: rgb(117, 162, 247); color: white;" ><b>Avaliable Qty.</b></td>
                                <td style="text-align: center; background-color: rgb(117, 162, 247); color: white;" ><b>Required Qty</b></td>
                                <td style="text-align: center; background-color: rgb(117, 162, 247); color: white;" ><b>Min. Order Qty</b></td>
                                <td style="text-align: center; background-color: rgb(117, 162, 247); color: white;" ><b>Short Qty <span style="font-weight: 6px;">(Min Ord.)</span></b></td>
                                <td style="text-align: center; background-color: rgb(117, 162, 247); color: white;" ><b>Short Qty <span style="font-weight: 6px;">(Avl. Qty.)</span></b></td>
                                <td style="text-align: center; background-color: rgb(117, 162, 247); color: white;" ><b>Actual Order Qty</b></td>
                                <td style="text-align: center; background-color: rgb(117, 162, 247); color: white;" ><b>{{'common.unit' | translate}}</b></td>
                                 <td style="text-align: center; background-color: rgb(117, 162, 247); color: white;" ><b>Requirment</b></td>
                                <td style="text-align: center; background-color: rgb(117, 162, 247); color: white;" ><b>DEL</b></td>
                             </tr>
                            <tr *ngFor="let item of mergedArray; let i = index">

                                <td style="text-align: left;">{{item.material_type}} </td>
                                <td style="text-align: left;">{{item.material_code}} </td>
                                <td style="text-align: left;">{{item.material_name}} </td>
                                <td
                                [ngClass]="{ 'light-red': item.balance_qty <= 0, 'light-green': item.balance_qty > 0 }">{{item.balance_qty}} </td>

                                <td > {{item.required_qty}}  {{item.required_qty_unit}} </td>
                                <td >{{item.min_order_qty || "0"}} {{item.uom}}</td>
                                <td  style="color: red;"> {{calculateDifference(item)}} </td>
                                <td  style="color: red;"> {{  calculateDifference(item) }}  </td>
                                <td style="margin: 0;padding: 0;background-color: rgb(243, 243, 158)">
                                    <input style="margin: 0;padding: 0;" type="text" name="required_qty1" [(ngModel)]="item.required_qty1" required>
                                </td>
                                <td style="margin: 0;padding: 0; background-color: rgb(243, 243, 158);">
                                    <select name="required_qty_unit" [(ngModel)]="item.required_qty_unit" required style="margin: 0;padding: 0;">
                                        <option></option>
                                        <option *ngFor="let unit of units">{{ unit.unit }}</option>
                                    </select>
                                </td>


                                <td style="margin: 0;padding: 0;background-color: rgb(243, 243, 158);">
                                    <input style="margin: 0;padding: 0;" type="date" name="requirement" [(ngModel)]="item.requirement" required>
                                </td>
                                <td  >
                                    <clr-icon shape="trash" class="is-error" (click)="delIndent(i)"></clr-icon>
                                </td>

                            </tr>

                        </table>

                 </div>


            </div>
            <div class="card-footer">
                 <button  [disabled]="!btn"   class="btn btn-primary" (click)="save()">Save Purchase Requisition</button>
                 <button class="btn btn-danger" (click)="isMerge = false">{{'common.close' | translate}}</button>

             </div>
        </div>
    </div>
</clr-modal> -->