<div class="container-fluid" *ngIf="!isView && !isNew">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
                <div class="clr-col-3" style="color: aliceblue;margin-top: -2px;text-align: left;">Stability Study</div>
                <div class="clr-col-lg-9" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                    <button class="btn btn-sm btn-info" routerLink="new" *ngIf="isuser == 'Yes'"
                        style="background-color: green;color: white;">Initiate New Stability Study</button>
                    <!-- <button class="btn btn-sm btn-info" routerLink="batch"
                        style="background-color: green;color: white;">Stability From Production Batch</button> -->
                    <button class="btn btn-sm" routerLink="/qa/stability"
                        style="background-color: red;color: white;">{{'common.close' | translate}}</button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                <table class="table table-border">
                    <tr>
                        <th style="background-color: aquamarine; font-weight: bolder;text-align: left;">Stability No.
                        </th>
                        <th style="background-color: aquamarine; font-weight: bolder;text-align: left;">Dosage Form</th>
                        <th style="background-color: aquamarine; font-weight: bolder;text-align: left;">Product</th>
                        <th style="background-color: aquamarine; font-weight: bolder;text-align: left;">No. of Batches
                        </th>
                        <th style="background-color: aquamarine; font-weight: bolder;text-align: left;">Date of Initiate
                        </th>
                        <th style="background-color: aquamarine; font-weight: bolder;text-align: left;">Initated By</th>
                        <th style="background-color: aquamarine; font-weight: bolder;text-align: left;">View Protocol
                        </th>
                    </tr>
                    <tr *ngFor="let result of results; let i = index">
                        <td style="font-weight: bolder;text-align: left;">{{ i + 1 }}</td>
                        <td style="font-weight: bolder;text-align: left;">{{ result.dosage_form }}</td>
                        <td style="font-weight: bolder;text-align: left;">{{ result.product_name }}</td>
                        <td style="font-weight: bolder;text-align: left;">{{ result.batches.length }}</td>
                        <td style="font-weight: bolder;text-align: left;">{{ result.entry_date | date: 'dd/MM/yyyy' }}</td>
                        <td style="font-weight: bolder;text-align: left;">{{ result.entry_by }}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="viewProtocol(i)">view Protocol</button>
                        </td>
                    </tr>
                    <tr *ngIf="results?.length == 0">
                        <td colspan="7">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isView">
    <div class="card">
        <div class="card-header">Inititated Stability Study Protocol</div>
        <div class="card-block">
            <div class="card-text">
                <table class="table">
                    <tr>
                        <td style="text-align: left;width: 20%;"> <b>Name of Product:</b></td>
                        <td style="text-align: left;">{{ selectedStability['product_name'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;"><b>Generic Name:</b></td>
                        <td style="text-align: left;">{{ selectedStability['generic_name'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;"><b>Protocol No.:</b></td>
                        <td style="text-align: left;">{{ selectedStability['product_code'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;"><b>Grade.:</b></td>
                        <td style="text-align: left;">{{ selectedStability['grade'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;"><b>Stage:</b></td>
                        <td style="text-align: left;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;"><b>Pack Style:</b></td>
                        <td style="text-align: left;">{{ selectedStability['packing_style'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;"><b>Product Code:</b></td>
                        <td style="text-align: left;">{{ selectedStability['product_code'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;"><b>Finished Product Code:</b></td>
                        <td style="text-align: left;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;"><b>Effective Date:</b></td>
                        <td style="text-align: left;">{{ selectedStability['entry_date'] | date:'dd-MM-yyyy' }}</td>
                    </tr>
                </table>
                <div class="clr-row">
                    <div class=" clr-col-sm-12 clr-col-xs-12">
                        <h4>PURPOSE:</h4>
                        <p>The purpose of this stability study is to demonstrate and establish documented evidence that
                            Paracetamol 300 mg with Dextromethorphan Hydrobromide 12 mg and Pseudoephedrine
                            Hydrochloride 30 mg Soft Gelatin Capsules shall meet the acceptance criteria for Physical,
                            Chemical and Microbiological parameters throughout its shelf life under the influence of
                            specific
                            temperature and humidity.
                            This would give high degree of assurance about the Quality, Safety, Identity and Efficacy of
                            Paracetamol 300 mg with Dextromethorphan Hydrobromide 12 mg and Pseudoephedrine
                            Hydrochloride 30 mg Soft Gelatin Capsules at a specified Storage condition and throughout
                            its
                            Shelf Life (storage period), within which the Product meets its pre-determined
                            specifications and
                            Quality Attributes on market pack of product.
                            Based on the outcome of the study, shelf life &amp; storage condition for the product in
                            proposed
                            container &amp; closure system shall be finalized.
                        </p>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-sm-12 clr-col-xs-12">
                        <h4>SCOPE:</h4>
                        <p>
                            This stability study protocol is applicable for initial three exhibit scale batches of
                            Paracetamol 300 mg
                            with Dextromethorphan Hydrobromide 12 mg and Pseudoephedrine Hydrochloride 30 mg Soft
                            Gelatin Capsules
                            manufactured and packed at Olive Healthcare, Unit II, 163/2, Dabhel, Village, Nani Daman,
                            India – 396210.
                            The batches shall be charged for stability under the following conditions based on intended
                            market:
                        </p>
                        <ul>
                            <li>
                                <strong>Long Term stability study</strong>
                                <ul>
                                    <li>(Temperature 25°C ± 2°C, Relative Humidity 60 % ± 5%)</li>
                                    <li>(Temperature , Relative Humidity 65 % ± 5%)</li>
                                    <li>(Temperature 30°C ± 2°C, Relative Humidity 75 % ± 5%)</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Accelerated stability study</strong>
                                <ul>
                                    <li>(Temperature 40°C ± 2°C, Relative Humidity: 75% ± 5%)</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="clr-row">
                    <div class=" clr-col-sm-12 clr-col-xs-12">
                        <h4>REASON FOR STABILITY PROGRAM:</h4>
                        <p> Exhibit scale validation batch manufacturing of Paracetamol 300 mg with Dextromethorphan
                            Hydrobromide 12 mg and Pseudoephedrine Hydrochloride 30 mg Soft Gelatin Capsules at
                            Manufacturing Site of Olive Healthcare, Unit II, 163/2, Dabhel Village, Nani Daman, India -
                            396
                            210.
                            (Ref. Change Control No.: CCP-U2-PR-24-0013).
                        </p>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-sm-12 clr-col-xs-12">
                        <h4>RESPONSIBILITY:</h4>
                        <ul>
                            <li><strong>Quality Assurance Department (QA):</strong>
                                <ul>
                                    <li>QA to prepare and review the protocol.</li>
                                    <li>QA to perform the sampling as per SOP (OHC/II/SOP/QA/027), stability protocol,
                                        and submit the
                                        samples to QC department.</li>
                                    <li>QA to fill the API details in the protocol.</li>
                                    <li>To impart training for execution of the protocol.</li>
                                    <li>QA to verify the stability charging details.</li>
                                </ul>
                            </li>
                            <li><strong>Quality Control Department (QC):</strong>
                                <ul>
                                    <li>QC to review the protocol.</li>
                                    <li>QC to charge the samples as per stability protocol in the stability chamber.
                                    </li>
                                    <li>QC to withdraw the samples as per stability protocol time schedule from the
                                        stability chamber.
                                    </li>
                                    <li>QC to carry out testing of the samples stored for the stability study, after
                                        each specified time
                                        interval, as per the approved stability protocol and specifications.</li>
                                    <li>To summarize the analytical data at every stated time-point.</li>
                                    <li>To check correctness and completeness of analytical data before submission to
                                        QA.</li>
                                    <li>To prepare the report and evaluate the results.</li>
                                    <li>To evaluate stability study results.</li>
                                </ul>
                            </li>
                            <li><strong>Microbiology:</strong>
                                <ul>
                                    <li>Microbiology to carry out testing of the stored samples retained for the
                                        stability study, after
                                        each specified time interval, as per the approved stability protocol and
                                        specifications.</li>
                                    <li>To summarize the analytical data at each applicable time-point.</li>
                                    <li>To check correctness and completeness of analytical data before submission to QC
                                        for the
                                        stability study summary.</li>
                                </ul>
                            </li>
                            <li><strong>Packing:</strong>
                                <ul>
                                    <li>To review the protocol.</li>
                                    <li>To ensure that the stability samples are collected as per the stability
                                        protocol.</li>
                                </ul>
                            </li>
                            <li><strong>Head Quality:</strong>
                                <ul>
                                    <li>To approve the stability protocol and to authorize the summary report.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-sm-12 clr-col-xs-12">
                        <h4>PRODUCT DETAILS:</h4>
                        <div class="card-block">
                            <div class="card-text">
                        <table class="table table-border" style="width: 100%;">
                            <tr>
                                <td style="text-align:left;width:50%"><b>Name of the product:</b></td>
                                <td style="text-align: left;">{{ selectedStability['product_name'] }}</td>
                            </tr>
                            <tr>
                                <td style="text-align:left;width:50%"><b>Product Code:</b></td>
                                <td style="text-align: left;">{{ selectedStability['product_code'] }}</td>
                            </tr>
                            <tr>
                                <td style="text-align:left;width:50%"><b>Finished Product Code:</b></td>
                                <td style="text-align: left;">{{ selectedStability['product_code1'] }}</td>
                            </tr>
                            <tr>
                                <td style="text-align:left;width:50%"><b>Shelf life:</b></td>
                                <td style="text-align: left;">{{ selectedStability['shelf_life'] }}</td>
                            </tr>
                            <tr>
                                <td style="text-align:left;width:50%"><b>Label claim:</b></td>
                                <td style="text-align: left;">{{ selectedStability['label_claim'] }}</td>
                            </tr>
                            <tr>
                                <td style="text-align:left;width:50%"><b>Primary pack:</b></td>
                                <td style="text-align: left;">{{ selectedStability['primary_packing'] }}</td>
                            </tr>
                            <tr>
                                <td style="text-align:left;width:50%"><b>Proposed Labeled Storage Condition:</b></td>
                                <td style="text-align: left;">{{ selectedStability['storage_condition'] }}</td>
                            </tr>
                            <tr>
                                <td style="text-align:left;width:50%"><b>Manufactured by:</b></td>
                                <td style="text-align: left;">{{ selectedStability['manufactured_under'] }}</td>
                            </tr>
                        </table>
                    </div>
                 </div>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-sm-12 clr-col-xs-12">
                        <h4>ACTIVE PHARMACEUTICAL INGREDIENT (API) DETAILS*::</h4>
                        <table class="table table-border">
                            <tr>
                                <td style="text-align:left;">Product Batch No.</td>
                                <td style="text-align:left;" colspan="3"></td>

                            </tr>
                            <tr>
                                <td style="text-align:left;">Name of the API </td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>

                            </tr>
                            <tr>
                                <td style="text-align:left;">Item Code</td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>

                            </tr>
                            <tr>
                                <td style="text-align:left;">B. No. / Lot No.</td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>

                            </tr>
                            <tr>
                                <td style="text-align:left;">Mfg.</td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>

                            </tr>
                            <tr>
                                <td style="text-align:left;">Exp.</td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>

                            </tr>
                            <tr>
                                <td style="text-align:left;">A. R. No.</td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>

                            </tr>
                            <tr>
                                <td style="text-align:left;">Name of the Manufacturer</td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">Details Entered By (QA)</td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">Details Checked By (QA)</td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clr-row">
                    <div class=" clr-col-sm-12 clr-col-xs-12">
                        <h4>PLACEBO DETAILS:</h4>
                        <table class="table table-border" style="width: 100%;">
                            <tr>
                                <td style="text-align:left;width:50%">Name of the product:</td>
                                <td style="text-align:left;width:50%"></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;width:50%">Finished Product Code:</td>
                                <td style="text-align:left;width:50%"></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;width:50%">Primary pack:</td>
                                <td style="text-align:left;width:50%"></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;width:50%">Manufactured by:</td>
                                <td style="text-align:left;width:50%"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clr-row">
                    <div class=" clr-col-sm-12 clr-col-xs-12">
                        <h4>PRIMARY PACKING MATERIAL DETAILS::</h4>
                        <table class="table table-border" style="width: 100%;">
                            <tr>
                                <th style="text-align:left;">Particulars</th>
                                <th style="text-align:left;">Item Code</th>
                                <th style="text-align:left;">Details</th>
                            </tr>

                            <tr>
                                <td rowspan="2" style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="clr-row">
                    <h1>Primary Packing Material used*:</h1>
                    <div class=" clr-col-sm-12 clr-col-xs-12">
                        <table class="table table-border" style="width: 100%;">

                            <tr>
                                <th style="text-align:left;">Particulars</th>
                                <th style="text-align:left;" colspan="2">1 st Batch</th>
                                <th style="text-align:left;" colspan="2">2 nd Batch</th>
                                <th style="text-align:left;" colspan="2">3 rd Batch</th>
                            </tr>

                            <tr>
                                <th>Product Batch
                                    No.</th>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>

                            </tr>

                            <tr>
                                <th>Item Code</th>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>

                            </tr>
                            <tr>
                                <th>B. No./Lot No.</th>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>
                            <tr>

                                <th>A. R. No.</th>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>

                            <tr>
                                <th>Name of the
                                    manufacturer</th>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <th>Details Entered
                                    By (QA)</th>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <th>Details Checked
                                    By (QA)</th>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clr-row">
                    <div class=" clr-col-sm-12 clr-col-xs-12">
                        <h4>STORAGE CONDITION AND FREQUENCY FOR STABILITY STUDY:</h4>
                        <table class="table table-border" style="width: 100%;">
                            <tr>
                                <th style="text-align:left;">Sr. No.</th>
                                <th style="text-align:left;">Stability Study</th>
                                <th style="text-align:left;">Storage Condition</th>
                                <th style="text-align:left;">Storage Period</th>
                                <th style="text-align:left;">Testing Frequency  (months)</th>
                            </tr>

                            <tr>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>

                        </table>

                        <p>Sample of the Placebo for Paracetamol 300 mg with Dextromethorphan Hydrobromide 12 mg and
                            Pseudoephedrine Hydrochloride 30 mg Soft Gelatin Capsules to be charged at following
                            conditions.</p>

                    </div>
                </div>
                <div class="clr-row">
                    <div class=" clr-col-sm-12 clr-col-xs-12">
                        <h4>STABILITY STUDY SAMPLE QUANTITY:</h4>
                        <table class="table table-border" style="width: 100%;">
                            <tr>
                                <th style="text-align:left;">Sr. No.</th>
                                <th style="text-align:left;">Test Parameters</th>
                                <th style="text-align:left;">Sample Quantity</th>
                            </tr>

                            <tr>
                                <td style="text-align:left;">1</td>
                                <td style="text-align:left;">{{'common.description' | translate}}</td>
                                <td style="text-align:left;">10</td>
                            </tr>
                            <tr>
                                <td rowspan="2" style="text-align:left;">2</td>
                                <td style="text-align:left;">Identification Test for Paracetamol</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"> </td>
                            </tr>
                            <tr>
                                <td rowspan="2" style="text-align:left;">3</td>
                                <td style="text-align:left;"> </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <td rowspan="2" style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;">
                                    <h6></h6>
                                    <ul>
                                        <li></li>
                                        <li> </li>
                                        <li></li>
                                    </ul>
                                </td>
                                <td style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"> </td>
                                <td style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <td rowspan="3" style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td rowspan="3" style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"> </td>
                                <td style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;"></td>
                                <td style="text-align:left;"><h6></h6>
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li>
                                        <ul>
                                            <li></li>
                                        </ul>
                                    </li>
                                </ul></td>
                                <td  style="text-align:left;"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:left;"><b> :
                                    </b></td>
                                <td style="text-align:left;"><b></b>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="clr-row">
                    <div class=" clr-col-sm-12 clr-col-xs-12">
                        <h4>STABILITY CHARGING DETAILS:</h4>
                        <ul>
                            <li> <b>Attachment - I :</b> Stability Study Sample Quantity &amp; Schedule for Paracetamol 300 mg
                                with Dextromethorphan
                                Hydrobromide 12 mg and Pseudoephedrine Hydrochloride 30 mg Soft Gelatin Capsules.</li>
                            <li><b>Attachment - II :</b> Stability Study Sample Quantity &amp; Schedule for Placebo for
                                Paracetamol 300 mg with
                                Dextromethorphan Hydrobromide 12 mg and Pseudoephedrine Hydrochloride 30 mg Soft Gelatin
                                Capsules (Without
                                Paracetamol).</li>
                            <li> <b>Attachment - III :</b> Stability Study Sample Quantity &amp; Schedule for Placebo for
                                Paracetamol 300 mg with
                                Dextromethorphan Hydrobromide 12 mg and Pseudoephedrine Hydrochloride 30 mg Soft Gelatin
                                Capsules (Without
                                Dextromethorphan HBr).</li>
                            <li> <b>Attachment - IV :</b>  Stability Study Sample Quantity &amp; Schedule for Placebo for
                                Paracetamol 300 mg with
                                Dextromethorphan Hydrobromide 12 mg and Pseudoephedrine Hydrochloride 30 mg Soft Gelatin
                                Capsules (Without
                                Pseudoephedrine Hydrochloride).</li>
                        </ul>

                    </div>
                </div>
                <div class="clr-row">
                    <div class=" clr-col-sm-12 clr-col-xs-12">
                        <h4>DETAILS OF DEVIATIONS, OUT OF SPECIFICATION, AND OUT OF TREND:</h4>
                        <table class="table table-border">
                            <tr>
                                <th>Stability Condition</th>
                                <th>Station No.</th>
                                <th>Event Type and Event No.</th>
                                <th>Description of Event</th>
                                <th>Entered By Sign/Date</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="clr-row">
                    <div class=" clr-col-sm-12 clr-col-xs-12">
                        <h4>CHANGE CONTROL:</h4>
                        <table class="table table-border">
                            <tr>
                                <th>Change control No.</th>
                                <th>Description of Change</th>
                                <th>{{'common.table.remark' | translate}}</th>
                                <th>Entered By
                                    Sign and Date</th>

                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>

                        </table>
                    </div>
                </div>
                <div class="clr-row">
                    <div class=" clr-col-sm-12 clr-col-xs-12">
                        <h4>SUMMARY AND CONCLUSION:</h4>
                        <table class="table table-border">
                            <tr>
                                <td colspan="7">Observation</td>
                            </tr>
                            <tr>
                                <td>
                                    Medicap Lot No
                                </td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td rowspan="2">Stability Condition</td>
                                <td>Temperature</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td rowspan="2">Sign/Date</td>
                            </tr>
                            <tr>
                                <td>Relative Humidity</td>
                                <td></td>
                                <td></td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                           
                            <tr>
                                <td colspan="2">Initial*</td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                            </tr>

                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clr-row">
                    <div class=" clr-col-sm-12 clr-col-xs-12">
                        <h4>REVISION HISTORY:</h4>
                        <table class="table table-border">
                            <tr>
                                <th>Version No.</th>
                                <th>Reason for Revision</th>
                                <th>Effective Date</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clr-row">
                    <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Packing:</label>
                        <input type="text" name="packing" ngModel="{{ selectedStability['packing'] }}" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Market:</label>
                        <input type="text" name="market" ngModel="{{ selectedStability['packing'] }}" readonly tabindex="-1">
                    </div> -->
                    <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Sample Qty.:</label>
                        <input type="text" name="packing" ngModel="{{ selectedStability['sample_qty']  }}" readonly
                            tabindex="-1">
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Unit:</label>
                        <input type="text" name="market" ngModel="{{ selectedStability['unit'] }}" readonly
                            tabindex="-1">
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>No. of Batches to be charged:</label>
                        <input type="number" name="batch" ngModel="{{ selectedStability['batches'].length }}" readonly
                            tabindex="-1">
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Stability Type:</label>
                        <input type="text" name="batch_type" ngModel="{{ selectedStability['batch_type'] }}" readonly
                            tabindex="-1">
                    </div> -->
                </div>
                <!-- <h4>Conditions:</h4>
                <table class="table table2 table-border">
                    <tr>
                        <th style="width:10%; text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr.
                        </th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Condition</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Intervals</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Total sample qty
                        </th>

                    </tr>
                    <tr *ngFor="let user of selectedStability['conditions']; let i = index">
                        <td style="text-align: left;">{{ i + 1 }}.</td>
                        <td style="text-align: left;">{{user.condition}}</td>
                        <td style="text-align: left;">{{ user.intervals }}</td>
                        <td style="text-align: left;">{{ user.sample_qty }}</td>

                    </tr>
                </table>

                <h4>Batches:</h4>
                <table class="table table-border">
                    <thead>
                        <tr>
                            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr. No.</th>
                            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Medicap Lot No
                            </th>
                            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Mfg. Date
                            </th>
                            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Exp. Date
                            </th>
                            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Purpose</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let batch of selectedStability['batches']; let i = index">
                            <td style="text-align: left;">{{ i+1 }}</td>
                            <td style="text-align: left;">{{ batch.batch_no }}</td>
                            <td style="text-align: left;">{{ batch.mfg_date | date: 'MMM-yyyy' | uppercase}}</td>
                            <td style="text-align: left;">{{ batch.exp_date | date: 'MMM-yyyy' | uppercase}}</td>
                            <td style="text-align: left;">{{ batch.purpose }}</td>
                        </tr>
                    </tbody>
                </table> -->
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="updateStabilityProtocol('approve')"
                *ngIf="selectedStability['status'] == 'pending'">{{'common.approve' | translate}}</button>
            <button class="btn btn-primary" (click)="updateStabilityProtocol('reject')"
                *ngIf="selectedStability['status'] == 'pending' && isChecker || isApprover">{{'common.reject' | translate}}</button>
            <button class="btn btn-primary" (click)="downloadProtocol()">DOWNLOAD PROTOCOL</button>
            <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>