<div class="container-fluid" *ngIf="!isView">
  <div class="card">
      <div class="card-header" style="text-align: center">
          <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">UnitFormula For Approval</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
              <button class="btn btn-sm" routerLink="/unitformula" style="background-color: red;color: white;">CLOSE</button>
            </div>
          </div>
        </div>
      <div class="card-block">
          <div class="card-text">
              <table class="table">
                  <thead>
                      <tr>
                          <th>Sr.No.</th>
                          <th style="text-align: left;" *ngIf="plant_type !='Formulation'">Product type</th>
                          <th style="text-align: left;" *ngIf="plant_type =='Formulation'">Dosage Form</th>
                          <th style="text-align: left;">Product Name</th>
                          <th>Grade</th>
                          <th>Status</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let result of results; let i = index">
                          <td>{{ i + 1 }}.</td>
                          <td style="text-align: left;" *ngIf="plant_type !='Formulation'">{{ result.p_type || 'NA' }}</td>
                          <td style="text-align: left;" *ngIf="plant_type =='Formulation'">{{ result.p_type || 'NA' }}</td>
                          <td style="text-align: left;">{{ result.product_name || 'NA' }}</td>
                          <td>{{ result.grade || 'NA' }}</td>
                          <td>Checked</td>
                          <td>
                              <button class="btn btn-sm btn-info" (click)="view(i)">VIEW</button>
                          </td>
                      </tr>
                      <tr *ngIf="results?.length == 0">
                          <td [attr.colspan]="plant_type =='Formulation' ? 7 : 7" class="no-records">No Records Found!</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid" *ngIf="isView">
  <div class="card">
    <div class="card-header" style="text-align: center">Unit Formula For Approval</div>
    <div class="card-block">
      <div class="card-text">
        <form #materialForm="ngForm">
          <div class="clr-row">
          </div>
        </form>
        <table class="table">
          <tr>
            <td style="text-align: left; border:1px solid black;"> <b>Product Code</b></td>
            <td style="text-align: left; border:1px solid black;">{{selectedResult['product_code']? selectedResult['product_code'] : 'NA'}}</td>
            <td style="text-align: left; border:1px solid black;"><b>Product Name</b></td>
            <td style="text-align: left; border:1px solid black;">{{selectedResult['product_name'] ? selectedResult['product_name'] : 'NA'}}</td>
          </tr>
          <tr>
            <td style="text-align: left; border:1px solid black;"><b>Generic Name</b></td>
            <td style="text-align: left; border:1px solid black;">{{selectedResult['generic_name'] ? selectedResult['generic_name'] : 'NA'}}</td>
            <td style="text-align: left; border:1px solid black;"><b>Grade</b></td>
            <td style="text-align: left; border:1px solid black;">{{selectedResult['grade']}}</td>
          </tr>
          <tr>
            <td style="text-align: left; border:1px solid black;" *ngIf="plant_type !='Formulation'"><b>Product Type</b></td>
            <td style="text-align: left; border:1px solid black;" *ngIf="plant_type =='Formulation'"><b>Dosage Form</b></td>
            <td style="text-align: left; border:1px solid black;">{{selectedResult['p_type'] ? selectedResult['p_type'] : 'NA'}}</td>
            <!-- <td style="text-align: left; border:1px solid black;"><b>color</b></td>
            <td style="text-align: left; border:1px solid black;">{{selectedResult['color_used']}}</td> -->
          </tr>
         
        </table>

        
        <div class="card">
          <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">
                Raw Materials List:</div>
              <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
               
              </div>
            </div>
          </div>


      <table class="table" style="margin-top:0px">
        <thead>
          <tr>
            <th>Sr.No.</th>
            <th style="text-align: left;">Material type</th>
            <th style="text-align: left;">Material Code</th>
            <th style="text-align: left;">Material Name</th>
            <th>Qty</th>
            <th>Unit</th>
            <th>Overages</th>
            <th>Total Qty</th>
            <th>Kg/Batch</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comp of raw_materials; let i = index">
            <td>{{ i + 1 }}.</td>
            <td style="text-align: left;">{{ comp.material_subtype || 'NA' }}</td>
            <td style="text-align: left;">{{ comp.material_code || 'NA' }}</td>
            <td style="text-align: left;">{{ comp.material_name || 'NA' }}</td>
            <td>{{ comp.qty != null && comp.qty !== '' ? comp.qty : 'NA' }}</td>
            <td>{{ comp.unit || 'NA' }}</td>
            <td>{{ comp.overages_per != null && comp.overages_per !== '' ? comp.overages_per : 'NA' }}</td>
            <td>{{ comp.total_qty != null && comp.total_qty !== '' ? comp.total_qty : 'NA' }}</td>
            <td>{{ comp.Qty2 != null && comp.Qty2 !== '' ? comp.Qty2 : 'NA' }}</td>
          </tr>
          <tr *ngIf="!raw_materials?.length">
            <td colspan="9">No Records Found!</td>
          </tr>
        </tbody>
      </table>




    <!-- <table class="table">
      <tr>
        <th>Sr.No.</th>
        <th style="text-align: left;" *ngIf="plant_type !='Formulation'"><b>Product Type</b></th>
        <th style="text-align: left;" *ngIf="plant_type =='Formulation'"><b>Dosage Form</b></th>
          <th style="text-align: left;">Material Code</th>
          <th style="text-align: left;">Material Name</th>
          <th>Qty</th>                                                                                                
          <th>Total Qty</th>
          <th>Percent Qty</th>      
      </tr>
      <tr *ngFor="let comp of raw_materials; let i = index">
          <td>{{ i + 1 }}.</td>
          <td style="text-align: left;">{{ comp.material_subtype }}</td>
          <td style="text-align: left;">{{ comp.material_code }}</td>
          <td style="text-align: left;">{{ comp.material_name }}</td>
          <td>{{ comp.qty }} {{ comp.unit }}</td>
          <td>{{ comp.total_qty }}</td>
          <td>{{ comp.percent_qty | number: '1.2-2'  }}</td>
          
      </tr>
      <tr *ngIf="selectedResult['raw_materials']?.length == 0">
        <td colspan="8">No Records Found!</td>
      </tr>
    </table> -->
    </div>

    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">
            Primary Packing Materials List:</div>
          <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
         
          </div>
        </div>
      </div>

   
      <table class="table" style="margin-top:0px">
        <thead>
          <tr class="section-header">
            <th style="text-align: left" colspan="9">Batch_size: {{selectedResult['primary_pm_batch_size'] || 'NA'}}</th>
          </tr>
          <tr class="section-header">
            <th style="text-align: left">Sr.No.</th>
            <th style="text-align: left">Code</th>
            <th colspan="4" style="text-align: left">Name</th>
            <th style="text-align: left">Grade</th>
            <th style="text-align: left">Unit Qty</th>
            <th style="text-align: left">Overages</th>
            <th style="text-align: left">Required Qty</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comp of primary_pm_list; let i = index">
            <td style="text-align: left">{{ i + 1 }}.</td>
            <td style="text-align: left;">{{ comp.material_code ? comp.material_code : 'NA' }}</td>
            <td colspan="4" style="text-align: left;">{{ comp.material_name ? comp.material_name : 'NA' }}</td>
            <td style="text-align: left;">{{ comp.gradeName ? comp.gradeName : 'NA' }}</td>
            <td style="text-align: left;">{{ comp.qty ? comp.qty + ' ' + comp.unit_name : 'NA' }}</td>
            <td style="text-align: left;">{{ comp.overages ? comp.overages : 'NA' }}</td>
            <td style="text-align: left;">{{ comp.total_qty ? comp.total_qty + ' ' + comp.unit_name : 'NA' }}</td>
          </tr>
          <tr *ngIf="primary_pm_list?.length == 0">
            <td colspan="9" class="no-records">No Records Found!</td>
          </tr>
        </tbody>
      </table>




    </div>


    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">
            Consumeable Material List:</div>
          <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
         
          </div>
        </div>
      </div>

   
      <table class="table" style="margin-top:0px">
        <thead>
          <tr class="section-header">
            <th style="text-align: left">Sr.No.</th>
            <th style="text-align: left">Code</th>
            <th colspan="4" style="text-align: left">Name</th>
            <th style="text-align: left">Grade</th>
            <th style="text-align: left">Unit Qty</th>
            <th style="text-align: left">Overages</th>
            <th style="text-align: left">Required Qty</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comp of consumeableMaterial; let i = index">
            <td style="text-align: left">{{ i + 1 }}.</td>
            <td style="text-align: left;">{{ comp.material_code ? comp.material_code : 'NA' }}</td>
            <td colspan="4" style="text-align: left;">{{ comp.material_name ? comp.material_name : 'NA' }}</td>
            <td style="text-align: left;">{{ comp.gradeName ? comp.gradeName : 'NA' }}</td>
            <td style="text-align: left;">{{ comp.qty ? comp.qty + ' ' + comp.unit_name : 'NA' }}</td>
            <td style="text-align: left;">{{ comp.overages ? comp.overages : 'NA' }}</td>
            <td style="text-align: left;">{{ comp.total_qty ? comp.total_qty + ' ' + comp.unit_name : 'NA' }}</td>
          </tr>
          <tr *ngIf="consumeableMaterial?.length == 0">
            <td colspan="9" class="no-records">No Records Found!</td>
          </tr>
        </tbody>
      </table>




    </div>


    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">
            Packing Materials List:</div>
          <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          
          </div>
        </div>
      </div>

     
      <table class="table" style="margin-top:0px" *ngFor="let packList of selectedResult['packing_configuration'];let k = index">
        <thead>
          <tr class="packing-config-header">
            <th colspan="9" style="text-align: left; padding: 12px;">
              <div style="display: flex; flex-wrap: wrap; gap: 15px; align-items: center;">
                <span><strong>Brand Name:</strong> {{packList.product_brand_name || 'NA'}}</span>
                <span><strong>Country Name:</strong> {{packList.country_name || 'NA'}}</span>
                <span><strong>Packing Type:</strong> {{packList.packing_type || 'NA'}}</span>
                <span><strong>Batch Size:</strong> {{packList.batch_size || 'NA'}}</span>
                <span><strong>Pack Size:</strong> {{packList.pack_size || 'NA'}}</span>
                <span><strong>Pack Unit:</strong> {{packList.unit || 'NA'}}</span>
              </div>
            </th>
          </tr>
          <tr class="packing-materials-header">
            <th style="text-align: left">Sr.No.</th>
            <th style="text-align: left">Code</th>
            <th colspan="4" style="text-align: left">Name</th>
            <th style="text-align: left">Grade</th>
            <th style="text-align: left">Unit Qty</th>
            <th style="text-align: left">Overages</th>
            <th style="text-align: left">Required Qty</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comp of packList.packing_materials;let i = index">
            <td style="text-align: left">{{ i + 1 }}.</td>
            <td style="text-align: left;">{{ comp.material_code || 'NA'}}</td>
            <td colspan="4" style="text-align: left;">{{ comp.material_name || 'NA'}}</td>
            <td style="text-align: left">{{ comp.gradeName || 'NA'}}</td>
            <td style="text-align: left">{{ comp.qty || 'NA'}} {{ comp.unit_name || '' }}</td>
            <td style="text-align: left">{{ comp.overages || 'NA' }}</td>
            <td style="text-align: left">{{ comp.total_qty || 'NA'}} {{ comp.unit_name || '' }}</td>
          </tr>
          <tr *ngIf="!packList.packing_materials || packList.packing_materials.length == 0">
            <td colspan="9" class="no-records">No Records Found!</td>
          </tr>
        </tbody>
      </table>


    </div>


     

        </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="approveUnitFormula('approve')">APPROVE</button>
      <button class="btn btn-danger" (click)="approveUnitFormula('reject')">REJECT</button>
      <button class="btn btn-danger" (click)="isView = false">CLOSE</button>
    </div>
  </div>
</div>