<div class="container-fluid">
    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue; margin-top: -2px; text-align: left;">
            Destination Clearing (CHA)
          </div>
          <div class="clr-col-lg-3" style="text-align: right; padding-right: 0px; margin-top: -7px;">
           
            <button class="btn btn-sm" routerLink="/Exports/landed" style="background-color: red; color: white;">
              CLOSE
            </button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <div class="clr-row" style="margin-bottom: 15px;">
            <div class="clr-col-lg-12" style="text-align: right;">
              <button class="btn btn-sm btn-info" (click)="refresh()">
                <i class="fas fa-sync-alt"></i> Refresh
              </button>
            </div>
          </div>
  
          <div class="datagrid-wrapper">
            <clr-datagrid [clrDgLoading]="loading" >
              <clr-dg-column>Sr. No</clr-dg-column>
              <clr-dg-column>PO No</clr-dg-column>
              <clr-dg-column>Packaging Slip</clr-dg-column>
              <clr-dg-column>Receiving no</clr-dg-column>
              <clr-dg-column>Item Code</clr-dg-column>
              <clr-dg-column>Item Description</clr-dg-column>
              <clr-dg-column>{{'common.quantity' | translate}}</clr-dg-column>
              <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column>
  
              <clr-dg-row *clrDgItems="let record of importData; let i = index" [clrDgItem]="record">
                <clr-dg-cell>{{ i + 1 }}</clr-dg-cell>
                <clr-dg-cell>{{ record.po_no || 'N/A' }}</clr-dg-cell>
                <clr-dg-cell>{{ record.challan_no || 'N/A' }}</clr-dg-cell>
                <clr-dg-cell>{{ record.grn_no || 'N/A' }}</clr-dg-cell>
                <clr-dg-cell>{{ record.item_code || record.material_code || 'N/A' }}</clr-dg-cell>
                <clr-dg-cell>{{ record.item_description || record.material_name || 'N/A' }}</clr-dg-cell>
                <clr-dg-cell>{{ record.quantity || record.qty || 0 }}</clr-dg-cell>
                <clr-dg-cell>
                  <button class="btn btn-sm btn-info" (click)="view(i)" title="View/Edit Destination Clearing">
                    <i class="fas fa-edit"></i> CHA
                  </button>
                </clr-dg-cell>
              </clr-dg-row>
  
              <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                  <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Records per page</clr-dg-page-size>
                  {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }}
                  of {{ pagination.totalItems }} records
                </clr-dg-pagination>
              </clr-dg-footer>
            </clr-datagrid>
          </div>
  
          <div *ngIf="importData.length === 0 && !loading" style="text-align: center; padding: 20px;">
            <p>No records found</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- View/Edit Modal -->
  <clr-modal [(clrModalOpen)]="isView" [clrModalSize]="'xl'">
    <h3 class="modal-title">Destination Clearing (CHA)</h3>
    <div class="modal-body" *ngIf="selectedRecord">
      <form #destinationClearingForm="ngForm">
        
        <!-- Basic Information -->
        <div class="section-header">
          <h4>Basic Information</h4>
        </div>
        <div class="clr-row">
          <div class="clr-col-lg-3">
            <label>PO No:</label>
            <input type="text" name="poNo" [(ngModel)]="poNo" readonly>
          </div>
          <div class="clr-col-lg-3">
            <label>Packaging Slip:</label>
            <input type="text" name="challanNo" [(ngModel)]="challanNo" readonly>
          </div>
          <div class="clr-col-lg-3">
            <label>Receiving no:</label>
            <input type="text" name="grnNo" [(ngModel)]="grnNo" readonly>
          </div>
          <div class="clr-col-lg-3">
            <label>Item Code:</label>
            <input type="text" name="itemCode" [(ngModel)]="itemCode" readonly>
          </div>
        </div>
        <div class="clr-row" style="margin-top: 10px;">
          <div class="clr-col-lg-6">
            <label>Item Description:</label>
            <input type="text" name="itemDescription" [(ngModel)]="itemDescription" readonly>
          </div>
          <div class="clr-col-lg-3">
            <label>Quantity:</label>
            <input type="number" name="quantity" [(ngModel)]="quantity" readonly step="0.01">
          </div>
          <div class="clr-col-lg-3">
            <label>UOM:</label>
            <input type="text" name="uom" [(ngModel)]="uom" readonly>
          </div>
        </div>
  
        <!-- CHA Information -->
        <div class="section-header" style="margin-top: 20px;">
          <h4>CHA Information</h4>
        </div>
        <div class="clr-row">
          <div class="clr-col-lg-4">
            <label>CHA Name:</label>
            <input type="text" name="chaName" [(ngModel)]="chaName" placeholder="Enter CHA name">
          </div>
          <div class="clr-col-lg-4">
            <label>Inv Date:</label>
            <input type="date" name="invDate" [(ngModel)]="invDate">
          </div>
          <div class="clr-col-lg-4">
            <label>Inv No:</label>
            <input type="text" name="invNo" [(ngModel)]="invNo" placeholder="Enter invoice number">
          </div>
        </div>
  
        <!-- Charges -->
        <div class="section-header" style="margin-top: 20px;">
          <h4>Charges</h4>
        </div>
        <div class="clr-row">
          <div class="clr-col-lg-3">
            <label>CHA / Clearing Agent Fees:</label>
            <input type="number" name="chaClearingAgentFees" [(ngModel)]="chaClearingAgentFees" (input)="calculateValues()" step="0.01" placeholder="Enter fees">
          </div>
          <div class="clr-col-lg-3">
            <label>Document Fee:</label>
            <input type="number" name="documentFee" [(ngModel)]="documentFee" (input)="calculateValues()" step="0.01" placeholder="Enter document fee">
          </div>
          <div class="clr-col-lg-3">
            <label>Loading and Unloading:</label>
            <input type="number" name="loadingAndUnloading" [(ngModel)]="loadingAndUnloading" (input)="calculateValues()" step="0.01" placeholder="Enter loading/unloading">
          </div>
          <div class="clr-col-lg-3">
            <label>Other Charges:</label>
            <input type="number" name="otherCharges" [(ngModel)]="otherCharges" (input)="calculateValues()" step="0.01" placeholder="Enter other charges">
          </div>
        </div>
        <div class="clr-row" style="margin-top: 10px;">
          <div class="clr-col-lg-3">
            <label>GST %:</label>
            <input type="number" name="gstPercent" [(ngModel)]="gstPercent" (input)="calculateValues()" step="0.01" placeholder="Enter GST percentage">
          </div>
          <div class="clr-col-lg-3">
            <label>Stamp Duty:</label>
            <input type="number" name="stampDuty" [(ngModel)]="stampDuty" (input)="calculateValues()" step="0.01" placeholder="Enter stamp duty">
          </div>
          <div class="clr-col-lg-3">
            <label>Stamp Duty GST %:</label>
            <input type="number" name="stampDutyGstPercent" [(ngModel)]="stampDutyGstPercent" (input)="calculateValues()" step="0.01" placeholder="Enter stamp duty GST %">
          </div>
          <div class="clr-col-lg-3">
            <label>Total CHA with GST:</label>
            <input type="number" name="totalChaWithGst" [(ngModel)]="totalChaWithGst" readonly step="0.01">
          </div>
        </div>
  
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="closeView()">{{'common.close' | translate}}</button>
      <button type="button" class="btn btn-success" (click)="save(destinationClearingForm)">{{'common.save' | translate}}</button>
    </div>
  </clr-modal>
