<!-- CAPA List View -->
<div class="card" *ngIf="!isView">
    <div class="card-header text-center bg-primary text-white">
        <div class="clr-row align-items-center">
            <div class="clr-col-9 text-left">
                <h4 class="m-0">CAPA Task Dept</h4>
            </div>
            <div class="clr-col-3 text-right pr-0">
                <button class="btn btn-sm btn-danger" routerLink="/qa/qms/capa">Close</button>
            </div>
        </div>
    </div>

    <div class="card-block">
        <div class="card-text">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-primary text-white">
                        <th>Sr.</th>
                        <th>CAPA No</th>
                        <th>Department</th>
                        <th>Date</th>
                        <th>Initiated By</th>
                        <th>Status</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let result of results; let i = index">
                        <td>{{ i + 1 }}.</td>
                        <td>{{ result?.capa_no | uppercase }}</td>
                        <td>{{ result?.CapaOccuredDept }}</td>
                        <td>{{ result?.entry_date | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ result?.entry_by }}</td>
                        <td class="text-success">{{ result?.status }}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="viewCapa(i)">View</button>
                        </td>
                    </tr>
                    <tr *ngIf="!results?.length">
                        <td colspan="7" class="text-center">No Records Found!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- CAPA Details View -->
<div class="card" *ngIf="isView">
    <div class="card-header text-center bg-primary text-white">
        <div class="clr-row align-items-center">
            <div class="clr-col-9 text-left">
                <h4 class="m-0">CAPA Details</h4>
            </div>
            <div class="clr-col-3 text-right pr-0">
                <button class="btn btn-sm btn-danger" (click)="isView = false">Close</button>
            </div>
        </div>
    </div>

    <div class="card-block">
        <form #capa="ngForm">
            <table class="table table-striped">

                <!-- Basic Info -->
                <tr>
                    <td colspan="4">
                        <h4>CAPA FORM</h4>
                    </td>
                </tr>

                <tr>
                    <td><label>CAPA Occurred In Dept.</label></td>
                    <td class="text-primary">{{ selectedDev?.CapaOccuredDept }}</td>
                    <td><label>Initiate Date</label></td>
                    <td class="text-primary">{{ selectedDev?.Initiate_date | date: 'dd/MM/yyyy' }}</td>
                </tr>

                <!-- Request Source -->
                <tr>
                    <td colspan="4">
                        <h4>Request Source</h4>
                    </td>
                </tr>

                <tr>
                    <td colspan="2"><label>Category</label></td>
                    <td colspan="2" class="text-primary">{{ selectedDev?.selectedCategory }}</td>
                </tr>

                <tr>
                    <td colspan="2"><label>Source Document No</label></td>
                    <td colspan="2" class="text-primary">{{ selectedDev?.Source_doc }}</td>
                </tr>

                <!-- Description -->
                <tr>
                    <td colspan="2"><label>Description of the Non-conformity</label></td>
                    <td colspan="2" class="text-primary">{{ selectedDev?.DesNonConformity }}</td>
                </tr>

                <tr>
                    <td colspan="2"><label>Preliminary Assessment of Potential Impact and/or Risk</label></td>
                    <td colspan="2" class="text-primary">{{ selectedDev?.AssessmentImpact }}</td>
                </tr>

                <!-- Seven Steps -->
                <tr>
                    <td colspan="4">
                        <h5>SEVEN STEPS PROCEDURE</h5>
                    </td>
                </tr>

                <tr>
                    <td colspan="2"><label>1. IDENTIFICATION:</label></td>
                    <td colspan="2" class="text-primary">{{ selectedDev?.identification }}</td>
                </tr>

                <tr>
                    <td colspan="2"><label>2. EVALUATION:</label></td>
                    <td colspan="2" class="text-primary">{{ selectedDev?.evaluation }}</td>
                </tr>

                <tr>
                    <td colspan="4"><label>3. INVESTIGATION PROCEDURE</label></td>
                </tr>

                <tr>
                    <td><label>Investigation started on:</label></td>
                    <td class="text-primary">{{ selectedDev?.investigationStart | date: 'dd/MM/yyyy' }}</td>
                    <td><label>Investigation completed on:</label></td>
                    <td class="text-primary">{{ selectedDev?.investigationCompleted | date: 'dd/MM/yyyy' }}</td>
                </tr>

                <tr>
                    <td colspan="2"><label>4. ANALYSIS:</label></td>
                    <td colspan="2" class="text-primary">{{ selectedDev?.rootCauseDetermination }}</td>
                </tr>
            </table>

            <!-- Action Plan & Implementation -->
            <div class="seven-steps-form">
                <form #actionPlanForm="ngForm">
                    <div class="clr-row">
                        <label>5. & 6. ACTION PLAN & IMPLEMENTATION</label>
                        <div class="clr-col-12">
                            <table class="table table-bordered">

                                <!-- Header -->
                                <tr class="bg-light">
                                    <th>Sr. No.</th>
                                    <th>Task</th>
                                    <th>Responsible Department</th>
                                    <th>Target Date for Implementation</th>
                                </tr>

                                <!-- Corrective Actions -->
                                <tr>
                                    <td colspan="4" class="bg-success text-white"><b>CORRECTIVE ACTION</b></td>
                                </tr>
                                <tr *ngFor="let action of selectedDev?.correctiveActions; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ action.task }}</td>
                                    <td>{{ action.department }}</td>
                                    <td>{{ action.targetDate | date: 'dd/MM/yyyy' }}</td>
                                </tr>

                                <!-- Preventive Actions -->
                                <tr>
                                    <td colspan="4" class="bg-info text-white"><b>PREVENTIVE ACTION</b></td>
                                </tr>
                                <tr *ngFor="let action of selectedDev?.preventiveActions; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ action.task }}</td>
                                    <td>{{ action.department }}</td>
                                    <td>{{ action.targetDate | date: 'dd/MM/yyyy' }}</td>
                                </tr>

                                
                             

                            </table>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Comment Input -->
            <div class="step mt-3">
                <label for="comment">Comment:</label>
                <textarea id="comment" name="comment" [(ngModel)]="userComment" placeholder="Add your comment here..."
                    class="form-control"></textarea>
            </div>
        </form>
    </div>

    <!-- Footer Buttons -->
    <div class="card-footer text-right">
        <button class="btn btn-primary" (click)="update(capa)">Update</button>
        <button class="btn btn-secondary" (click)="isView = false">Close</button>
    </div>
</div>