.card{
    border-color: #0065AB;
  }
  .card-header {
    background-color: #0065AB;
    color: white;
    text-align: center;
  }
  select, input[type=text] {
    width: 100%;
    height: auto;
    padding: 4px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 8px;
  }
  .invalidinput {
    background-color: red;
  }
  input:read-only{
    background-color: lightgray;
    color: black;
  }
  
  /* Style the form - display items horizontally */
.form-inline { 
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  width: 80%;
  height: auto;
  padding: 4px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 8px;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}