<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-lg-3" style="color: aliceblue;margin-top: -2px;text-align: left;">Send For Printing</div>
          <div class="clr-col-lg-9" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/qa/artwork/printing" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <table class="table table-border">
                <tr>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.srNo' | translate}}</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Artwork No</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Product name</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Material Name</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Printing Vendor Name</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.status' | translate}}</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
                </tr>
                <tr *ngFor="let result of results; let i = index">
                    <td style="text-align: left;">{{i+1}}</td>
                    <td style="text-align: left;">{{ result.artwork_no }}</td>
                    <td style="text-align: left;">{{ result.product_name }}</td>
                    <td style="text-align: left;">{{ result.material_name }}</td>
                    <td style="text-align: left;">{{ result.vendor_name }}</td>
                    <td style="text-align: left;">{{ result.design}}</td>
                    <td style="text-align: left;">
                        <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                    </td>
                </tr>
                <tr *ngIf="results?.length == 0">
                    <td colspan="7">{{'common.noRecords' | translate}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="card" *ngIf="isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Send For Printing </div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" (click)="isView=false" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <h3>Product Details:</h3>
            <table class="table">
                <tr>
                    <td style="text-align:left;width: 15%;border: 1px solid black;"><b>Vendor Id:</b></td>
                    <td style="text-align:left;width: 15%;border: 1px solid black;">{{selectedResult['vendor_no']}}</td>
                    <td style="text-align:left;width: 15%;border: 1px solid black;"><b>Vendor Name:</b></td>
                    <td style="text-align:left;width: 15%;border: 1px solid black;">{{selectedResult['vendor_name']}}</td>
                </tr>
                <tr>
                   <td style="text-align:left;width: 15%;border: 1px solid black;"><b>Product Code:</b></td>
                   <td style="text-align:left;width: 15%;border: 1px solid black;">{{selectedResult['product_code']}}</td>
                   <td style="text-align:left;width: 15%;border: 1px solid black;"><b>Product Name:</b></td>
                   <td style="text-align:left;width: 15%;border: 1px solid black;">{{selectedResult['product_name']}}</td>
                </tr>
                <tr>
                    <td style="text-align:left;width: 15%;border: 1px solid black;"><b>Material Code:</b></td>
                    <td style="text-align:left;width: 15%;border: 1px solid black;">{{selectedResult['material_code']}}</td>
                    <td style="text-align:left;width: 15%;border: 1px solid black;"><b>Material Name:</b></td>
                    <td style="text-align:left;width: 15%;border: 1px solid black;">{{selectedResult['material_name']}}</td>
                </tr>
            </table>
            <h3>Dimention Details:</h3>
            <table class="table">
                <tr>
                    <td style="text-align:left;border: 1px solid black;width:15%;"><b>Height:</b></td>
                    <td style="text-align:left;border: 1px solid black;">{{selectedResult['height']}} {{selectedResult['height_unit']}}</td>
                </tr>
                <tr>
                    <td style="text-align:left;border: 1px solid black;"><b>Width:</b></td>
                    <td style="text-align:left;border: 1px solid black;">{{selectedResult['width']}}{{selectedResult['width_unit']}}</td>
                </tr>
                <tr>
                    <td style="text-align:left;border: 1px solid black;"><b>Length:</b></td>
                    <td style="text-align:left;border: 1px solid black;">{{selectedResult['length']}}{{selectedResult['length_unit']}}</td>
                </tr>
            </table>
            <div class="clr-row">
                <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                    <label>Precaution:</label>
                    <input type="text" name="precaution" [ngModel]="selectedResult['precaution']" readonly tabindex="-1">
                </div>
                <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                    <label>Additional Instrument:</label>
                    <input type="text" name="instruction" [ngModel]="selectedResult['instruction']" readonly tabindex="-1">
                </div>
                <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                    <label>Remark:</label>
                    <input type="text" name="remark" [ngModel]="selectedResult['remark']" readonly tabindex="-1">
                </div>
                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-6 clr-col-xs-12">
                    <button class="btn btn-sm btn-info " (click)="opendoc(url)">open Artwork file</button>
                    <button class="btn btn-sm btn-info"(click)="openFile(url)">View Design File</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary"(click)="sendforPrinting()">Send</button>
        <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>  
    </div>
</div>








