<div class="card">
    <div class="card-header">Spare Parts Inword</div>
    <div class="card-block">
        <div class="card-text">
            <form #saveForm="ngForm">
                <div class="clr-row">
                <div class="clr-col-lg-3">
                    <label>Phone No</label>
                    <input type="text" name="po_no" ngModel required>
                </div>
                <div class="clr-col-lg-3">
                    <label>Vendor Name</label>
                    <input type="text" name="vendor_no" ngModel required>
                </div>
                <div class="clr-col-lg-3">
                    <label>Transport Company</label>
                    <input type="text" name="transport_company" ngModel required>
                </div>
                <div class="clr-col-lg-3">
                    <label>Vehicle NO</label>
                    <input type="text" name="vehicle_no" ngModel required>
                </div>
                <div class="clr-col-lg-3">
                    <label>Packaging Slip</label>
                    <input type="text" name="challan_no" ngModel required>
                </div>
                <div class="clr-col-lg-3">
                    <label>Packaging Slip Date</label>
                    <input type="date" name="challan_date" ngModel required>
                </div>
                <div class="clr-col-lg-3">
                    <label>Text Invoice No</label>
                    <input type="number" name="tax_invoice_no" ngModel required>
                </div>
                <div class="clr-col-lg-3">
                    <label>Driver Name</label>
                    <input type="text" name="driver_name" ngModel required>
                </div>
                <div class="clr-col-lg-3">
                    <label>Driver Mobile Number</label>
                    <input type="text" name="driver_mobile" ngModel required>
                </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="saveSpareInword(saveForm)">{{'common.save' | translate}}</button>
        </div>
    </div>
</div>

	
                   
                

  

