<div class="rej card" *ngIf="!isView">
  <div class="card-header rej__header">
    <div class="rej__header-row">
      <div class="rej__title">Rejected Raw Materials</div>
      <button class="btn btn-sm btn-danger" [routerLink]="['/purchase']" [queryParams]="{ category: 'Purchase' }">{{'common.close' | translate}}</button>
    </div>
  </div>

  <div class="card-block">
    <div class="card-text">
      <div class="rej__toolbar">
        <div class="rej__toolbar-row">
          <div class="rej__field">
            <label class="rej__label">Material Code</label>
            <input class="rej__input" type="text" name="material_code" [(ngModel)]="material_code" (keyup.enter)="getInprocessReceivings()" placeholder="Search by material code" />
          </div>
          <div class="rej__actions">
            <button class="btn btn-sm btn-primary" type="button" (click)="getInprocessReceivings()">{{'common.search' | translate}}</button>
            <button class="btn btn-sm btn-outline" type="button" (click)="AllRecord()">All</button>
          </div>
        </div>
      </div>

      <div class="datagrid-wrapper rej__grid">
        <clr-datagrid [clrDgLoading]="loading">
          <clr-dg-column>Sr.</clr-dg-column>
          <clr-dg-column clrDgField="po_no">Po No</clr-dg-column>
          <clr-dg-column>P.O Date</clr-dg-column>
          <clr-dg-column clrDgField="vendor_name">Vendor Name</clr-dg-column>
          <clr-dg-column clrDgField="challan_no">Packaging Slip</clr-dg-column>
          <clr-dg-column>Packaging Slip Date</clr-dg-column>
          <clr-dg-column clrDgField="material_code">Material Code</clr-dg-column>
          <clr-dg-column clrDgField="material_name">Material Name</clr-dg-column>
          <clr-dg-column clrDgField="status">{{'common.status' | translate}}</clr-dg-column>
          <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column>

          <clr-dg-row *clrDgItems="let user of results; let i = index" [clrDgItem]="user">
            <clr-dg-cell>{{ i + 1 }}</clr-dg-cell>
            <clr-dg-cell>{{ user?.po_no }}</clr-dg-cell>
            <clr-dg-cell>{{ user?.po_date | date: 'dd-MM-yyyy' }}</clr-dg-cell>
            <clr-dg-cell class="rej__wrap">{{ user?.vendor_name }}</clr-dg-cell>
            <clr-dg-cell>{{ user?.challan_no }}</clr-dg-cell>
            <clr-dg-cell>{{ user?.challan_date | date: 'dd-MM-yyyy' }}</clr-dg-cell>
            <clr-dg-cell>{{ user?.material_code }}</clr-dg-cell>
            <clr-dg-cell class="rej__wrap">{{ user?.material_name }}</clr-dg-cell>
            <clr-dg-cell>{{ user?.status }}</clr-dg-cell>
            <clr-dg-cell>
              <button class="btn btn-sm btn-info" type="button" (click)="view(i)">PROCEED</button>
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-row *ngIf="!loading && (!results || results.length === 0)">
            <clr-dg-cell colspan="10" class="rej__empty">No Record Found!</clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </div>
    </div>
  </div>
</div>

<div class="rej card" *ngIf="isView">
  <div class="card-header rej__header">
    <div class="rej__header-row">
      <div class="rej__title">Rejected Raw Material</div>
      <button class="btn btn-sm btn-danger" type="button" (click)="isView = false">{{'common.close' | translate}}</button>
    </div>
  </div>

  <div class="card-block">
    <div class="card-text">
      <div class="rej__table-wrap">
        <table class="table table-border rej__table">
          <tr>
            <td><b>Material Name:</b></td>
            <td class="rej__wrap">{{ selectedReport?.material_name }}</td>
            <td><b>Material Code:</b></td>
            <td class="rej__wrap">{{ selectedReport?.material_code }}</td>
          </tr>
          <tr *ngIf="selectedReport?.vendor_type == 'Manufacturer'">
            <td><b>Manufacturer Name:</b></td>
            <td class="rej__wrap">{{ selectedReport?.manufacturer_name }}</td>
            <td><b>Supplier Name:</b></td>
            <td class="rej__wrap">{{ selectedReport?.manufacturer_name }}</td>
          </tr>
          <tr *ngIf="selectedReport?.vendor_type == 'Supplier'">
            <td><b>Manufacturer Name:</b></td>
            <td class="rej__wrap">{{ selectedReport?.manufacturer_name }}</td>
            <td><b>Supplier Name:</b></td>
            <td class="rej__wrap">{{ selectedReport?.vendor_name }}</td>
          </tr>
          <tr>
            <td><b>Packaging Slip:</b></td>
            <td>{{ selectedReport?.challan_no }}</td>
            <td><b>Packaging Slip Date:</b></td>
            <td>{{ selectedReport?.challan_date | date: 'dd-MM-yyyy' }}</td>
          </tr>
          <tr>
            <td><b>PO No.:</b></td>
            <td>{{ selectedReport?.po_no }}</td>
            <td><b>PO Date:</b></td>
            <td>{{ selectedReport?.po_date | date: 'dd-MM-yyyy' }}</td>
          </tr>
          <tr>
            <td><b>Material Type:</b></td>
            <td>{{ selectedReport?.material_type }}</td>
            <td><b>Material Subtype:</b></td>
            <td>{{ selectedReport?.material_subtype }}</td>
          </tr>
          <tr>
            <td><b>Material Grade:</b></td>
            <td>{{ selectedReport?.gradeName }}</td>
            <td><b>PO Qty:</b></td>
            <td>{{ selectedReport?.qty }} {{ selectedReport?.unit }}</td>
          </tr>
        </table>
      </div>

      <h3>Labeling Details:</h3>
      <div class="rej__table-wrap">
        <table class="table table-border rej__table rej__table--wide">
          <tr>
            <th>Sr.</th>
            <th>Medicap Lot No</th>
            <th>Pack Size</th>
            <th>Qty</th>
            <th>No Of Containers</th>
            <th>Mfg Date</th>
            <th *ngIf="plant_id == '72'">{{'common.date' | translate}}</th>
            <th *ngIf="plant_id != '72'">Exp Date</th>
          </tr>
          <tr *ngFor="let list of batches; let i = index">
            <td>{{ i + 1 }}</td>
            <td class="rej__wrap">{{ list?.batch_no }}</td>
            <td>{{ list?.pack_size }}</td>
            <td>{{ list?.qty_received }}</td>
            <td>{{ list?.total_containers }}</td>
            <td>{{ list?.mfg_date | date: 'MMM-yyyy' | uppercase }}</td>
            <td *ngIf="plant_id != '72'">{{ list?.exp_date | date: 'MMM-yyyy' | uppercase }}</td>
            <td *ngIf="plant_id == '72'">{{ list?.date_type }} / {{ list?.exp_date | date: 'MMM-yyyy' | uppercase }}</td>
          </tr>
          <tr *ngIf="!batches || batches.length === 0">
            <td colspan="8" class="rej__empty">No Record Found!</td>
          </tr>
        </table>
      </div>

      <h3>Packing Details:</h3>
      <div class="rej__table-wrap">
        <table class="table table-border rej__table">
          <tr>
            <td><b>Container type:</b></td>
            <td class="rej__wrap">{{ selectedReport?.receiving_details?.container_type }}</td>
            <td><b>Container Subtype:</b></td>
            <td class="rej__wrap">{{ selectedReport?.receiving_details?.container_subtype }}</td>
          </tr>
        </table>
      </div>

      <h3>Received Quantity Details:</h3>
      <div class="rej__table-wrap">
        <table class="table table-border rej__table rej__table--wide">
          <tr>
            <td><b>Challan Qty: {{ selectedReport?.unit }}</b></td>
            <td>{{ selectedReport?.challan_qty }}</td>
            <td><b>Received Qty: {{ selectedReport?.unit }}</b></td>
            <td>{{ selectedReport?.received_qty }}</td>
            <td><b>No. of Containers:</b></td>
            <td>{{ selectedReport?.containers }}</td>
          </tr>
        </table>
      </div>

      <h3>Uploaded Document:</h3>
      <div class="rej__table-wrap">
        <table class="table table-border rej__table">
          <tr>
            <th>COA Received</th>
            <th *ngIf="selectedReport?.coa_received == 'Yes'">COA File</th>
            <th>Challan File</th>
            <th *ngIf="selectedReport?.coa_received == 'No'">Deviation No.</th>
          </tr>
          <tr>
            <td>{{ selectedReport?.coa_received }}</td>
            <td *ngIf="selectedReport?.coa_received == 'Yes'">
              <button class="btn btn-info btn-sm" type="button" (click)="viewCoafile(selectedReport?.receiving_details?.coa_file)">{{'common.view' | translate}}</button>
            </td>
            <td>
              <button class="btn btn-info btn-sm" type="button" *ngIf="selectedReport?.challan_file?.length" (click)="viewChallan(selectedReport?.challan_file)">{{'common.view' | translate}}</button>
              <span *ngIf="!selectedReport?.challan_file?.length">NA</span>
            </td>
            <td *ngIf="selectedReport?.coa_received == 'No'">{{ selectedReport?.deviation_no }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>


