<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Client For Legal Approval</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-danger" routerLink="/regulatory" >{{'common.close' | translate}}</button>
          </div>
        </div>
      </div>
    <div class="card-block">
        <div class="card-text">
            <div class="datagrid-wrapper">
                <clr-datagrid [clrDgLoading]="loading" >
                    <clr-dg-column>{{'common.table.srNo' | translate}}</clr-dg-column>
                    <clr-dg-column>Enquiry No.</clr-dg-column>
                    <clr-dg-column>Client Code</clr-dg-column>
                    <clr-dg-column>Client Name</clr-dg-column>
                    <clr-dg-column>Brand Name</clr-dg-column>
                    <clr-dg-column>Type of Client</clr-dg-column>
                    <clr-dg-column>{{'common.status' | translate}}</clr-dg-column>
                    <clr-dg-column>Entry By</clr-dg-column>
                    <clr-dg-column>Entry On</clr-dg-column>
                    <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column>

                    <clr-dg-row *clrDgItems="let clien of clients;let i=index" [clrDgItem]="clien">
                        <clr-dg-cell>{{i+1}}</clr-dg-cell>
                        <clr-dg-cell><strong>{{clien.enquiry_no | uppercase}}</strong></clr-dg-cell>
                        <clr-dg-cell>{{clien.client_code || '-'}}</clr-dg-cell>
                        <clr-dg-cell>{{clien.LglNm || '-'}}</clr-dg-cell>
                        <clr-dg-cell>{{clien.TrdNm || '-'}}</clr-dg-cell>
                        <clr-dg-cell>{{clien.client_type || '-'}}</clr-dg-cell>
                        <clr-dg-cell><strong>{{clien.status | uppercase}}</strong></clr-dg-cell>
                        <clr-dg-cell>{{clien.entryByName || '-'}}</clr-dg-cell>
                        <clr-dg-cell>{{clien.entry_date | date : 'dd-MM-yyyy'}}</clr-dg-cell>
                        <clr-dg-cell >
                            <button class="btn btn-sm btn-primary" (click)="view(clien)">{{'common.view' | translate}}</button>
                        </clr-dg-cell>
                    </clr-dg-row>
                </clr-datagrid>
            </div>
        </div>
    </div>
</div>
<div class="card" *ngIf="isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;"> Client Details</div>
            <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
      
            <form #clientform="ngForm">

                <div class="card">
                    <div class="card-header" style="text-align: center">
                        <div class="clr-row" style="margin-bottom: -10px;">
                        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">1. Basic Client Information :</div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            <div class="clr-row">
                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                    <label><strong>Client Name (Legal Name) : </strong></label>
                                    <input type="text" name="LglNm" [(ngModel)]="selectedClient['LglNm']" [readonly]="!isEdit" >
                                </div>

                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                    <label><strong>Brand Name (if different) : </strong></label>
                                    <input type="text" name="TrdNm" [(ngModel)]="selectedClient['TrdNm']" [readonly]="!isEdit" >
                                </div>

                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                    <label><strong>Type of Client : </strong></label>
                                    <input *ngIf="!isEdit" type="text" name="client_type" [(ngModel)]="selectedClient['client_type']" [readonly]="!isEdit">
                                </div>

                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                    <label><strong>Client Category : </strong></label>
                                    <input *ngIf="!isEdit" type="text" name="category" [(ngModel)]="selectedClient['category']" [readonly]="!isEdit">
                                </div>

                                <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                                    <label><strong>Enquiry No. :  <span style="color: green; font-size:9px;">Please Refer The Enquiry From The Enquiry Log In Regulatory Department</span></strong></label>
                                    <input type="text" name="enquiry_no" [(ngModel)]="selectedClient['enquiry_no']" [readonly]="!isEdit" >
                                </div>
                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                    <label><strong>Upload Agreement : <span style="color: red;">***</span></strong></label>
                                    <input type="file" name="file"  (change)="onFileChange2($event)"  ngModel required>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" style="text-align: center">
                        <div class="clr-row" style="margin-bottom: -10px;">
                        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">2. Contact Information :</div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            <div class="clr-row">
                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                    <label><strong>Contact Person Name :</strong></label>
                                    <input type="text" name="contactPerson" [(ngModel)]="selectedClient['contactPerson']" [readonly]="!isEdit" >
                                </div>

                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                    <label><strong>Designation :</strong></label>
                                    <input type="text" name="designation" [(ngModel)]="selectedClient['designation']" [readonly]="!isEdit" >
                                </div>
                            
                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12 remove-side-arrow-container">
                                    <label><strong>Phone (Mobile / Landline) : </strong></label>
                                    <input type="text"  name="mobNo" minlength="10" maxlength="10" [(ngModel)]="selectedClient['mobNo']" [readonly]="!isEdit"   >
                                </div>

                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12 remove-side-arrow-container">
                                    <label><strong>Email ID : </strong></label>
                                    <input type="email" name="email" [(ngModel)]="selectedClient['email']" [readonly]="!isEdit"  >
                                </div>

                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                    <label><strong>Communication Preference : </strong></label>
                                    <input *ngIf="!isEdit" type="text"  name="communicationPreference" [(ngModel)]="selectedClient['communicationPreference']" [readonly]="!isEdit" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" style="text-align: center">
                        <div class="clr-row" style="margin-bottom: -10px;">
                        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">3. Address Details :</div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            <div class="clr-row">

                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                    <label><strong><strong> Registered Office Address :</strong> </strong></label>
                                    <input type="text" name="address" [(ngModel)]="selectedClient['address']" [readonly]="!isEdit" >
                                </div>

                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                    <label><strong><strong> Billing Address :</strong> </strong></label>
                                    <input type="text" name="billingAddress" [(ngModel)]="selectedClient['billingAddress']" [readonly]="!isEdit" >
                                </div>

                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                    <label><strong>Country: </strong></label>
                                    <input *ngIf="!isEdit" type="text"  name="country" [(ngModel)]="selectedClient['country']" [readonly]="!isEdit" >
                                    <select *ngIf="isEdit" name="country" [(ngModel)]="selectedClient['country']"  >
                                        <option></option>
                                        <option *ngFor="let country of countries" [value]="country">{{ country }} </option>
                                    </select>
                                </div>

                                <div *ngIf="selectedClient['country']!='India'" class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                    <label><strong>State:</strong></label>
                                    <input type="text" name="state" [(ngModel)]="selectedClient['state']" [readonly]="!isEdit" >
                                </div>

                                <div *ngIf="selectedClient['country'] == 'India'" class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                    <label><strong>State:</strong></label>
                                    <input *ngIf="!isEdit" type="text" name="state" [(ngModel)]="selectedClient['state']" [readonly]="!isEdit" >
                                    <select *ngIf="isEdit" name="state" [(ngModel)]="selectedClient['state']"  >
                                        <option value=""></option>
                                        <option *ngFor="let s of states" [value]="s">{{ s }}</option>
                                    </select>
                                </div>

                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                    <label><strong>City :</strong></label>
                                    <input type="text" name="city" [(ngModel)]="selectedClient['city']" [readonly]="!isEdit" >
                                </div>

                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                    <label *ngIf="selectedClient['country'] == 'India'"><strong>Postal Code:</strong></label>
                                    <label *ngIf="selectedClient['country'] != 'India'"><strong>Postal Code:</strong></label>
                                    <input type="text" name="pincode" [(ngModel)]="selectedClient['pincode']" [readonly]="!isEdit" numbersOnly maxlength="6" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" style="text-align: center">
                        <div class="clr-row" style="margin-bottom: -10px;">
                        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">5. Other Informations</div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            <div class="clr-row">
                                <div class="clr-col-lg-3 clr-col-sm-3 clr-col-md-4 clr-col-sm-12">
                                    <label><strong> Reffered By: </strong></label>
                                    <input *ngIf="!isEdit" type="text" name="refered_by"  [(ngModel)]="selectedClient['refered_by']" [readonly]="!isEdit">
                                </div>

                                <div class="clr-col-lg-3 clr-col-sm-3 clr-col-md-4 clr-col-sm-4" *ngIf="selectedClient['refered_by'] == 'Agent'">
                                    <label><strong> Agent Name: </strong></label>
                                    <input *ngIf="!isEdit" type="text" name="agent_no"  [(ngModel)]="selectedClient['agent_no']" [readonly]="!isEdit">
                                </div>

                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                  <label><strong>Enquiry Ticket Size :   </strong></label>
                                  <input type="text"  name="enquiryTicketSize"  [(ngModel)]="selectedClient['enquiryTicketSize']" [readonly]="!isEdit"   >
                                </div>

                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                  <label><strong>Exp. No. Of Product :   </strong></label>
                                  <input type="text"  name="NoOfProducts"  [(ngModel)]="selectedClient['NoOfProducts']" [readonly]="!isEdit"   >
                                </div>

                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                  <label><strong>Approx. Turnover :   </strong></label>
                                  <input type="text"  name="approxTurnover"  [(ngModel)]="selectedClient['approxTurnover']" [readonly]="!isEdit"   >
                                </div>

                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                  <label><strong>Company Size :   </strong></label>
                                  <input type="text"  name="approxTurnover"  [(ngModel)]="selectedClient['approxTurnover']" [readonly]="!isEdit"   >
                                </div>

                                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                  <label><strong>Exiting Bussiness :   </strong></label>
                                  <input type="text"  name="approxTurnover"  [(ngModel)]="selectedClient['approxTurnover']" [readonly]="!isEdit"   >
                                </div>
 
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-success" (click)="uploadClientAgreementFromLegal()">Upload Agreement</button>
        <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
    </div>
</div>

 

 

 