<div class="container-fluid" *ngIf="!isView">
    <div class="card">
        <div class="card-header">Revise SOP</div>
        <div class="card-block">
            <div class="card-text">
                <table class="table">
                    <tr>
                        <th>Sr.</th>
                        <th>SOP No.</th>
                        <th>SOP Title</th>
                        <th>SOP For</th>
                        <th>Effective Date</th>
                        <th>Request By</th>
                        <th>Request Date</th>
                        <th>{{'common.status' | translate}}</th>
                        <th>View</th>
                    </tr>
                    <tr *ngFor="let result of results; let i = index">
                        <td>{{ i + 1 }}.</td>
                        <td>{{ result.sop_no }}</td>
                        <td>{{ result.title }}</td>
                        <td>{{ result.sop_for }}</td>
                        <td>{{ result.effective_date }}</td>
                        <td>{{ result.request_by }}</td>
                        <td>{{ result.request_date }}</td>
                        <td>{{ result.status }}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                        </td>
                    </tr>
                    <tr *ngIf="results?.length == 0">
                        <td colspan="9">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isView">
    <div class="card">
        <div class="card-header">SOP Revision Form</div>
        <div class="card-block">
            <div class="card-text">
                <table class="table">
                    <tr>
                        <td style="text-align: left;width: 20%;">SOP Title:</td>
                        <td style="text-align: left;">{{ selectedResult['title'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;">SOP For:</td>
                        <td style="text-align: left;">{{ selectedResult['sop_for'] }}</td>
                    </tr>
                </table>
                <div class="clr-row">
                    <div class="clr-col-12">
                        <h4>Purpose</h4>
                        <editor name="purpose" [(ngModel)]="selectedResult['purpose']" [apiKey]="api" [init]="init">
                        </editor>
                    </div>
        
                    <div class="clr-col-12">
                        <h4>Scope</h4>
                        <editor name="scope" [(ngModel)]="selectedResult['scope']" [apiKey]="api" [init]="init">
                        </editor>
                    </div>
        
                    <div class="clr-col-12">
                        <h4>Role and Responsibility</h4>
                        <editor name="role" [(ngModel)]="selectedResult['role']" [apiKey]="api" [init]="init">
                        </editor>
                    </div>
        
                    <div class="clr-col-12">
                        <h4>Definition</h4>
                        <editor name="definition" [(ngModel)]="selectedResult['definition']" [apiKey]="api" [init]="init">
                        </editor>
                    </div>
        
                    <div class="clr-col-12">
                        <h4>External References And Associated Documents</h4>
                        <editor name="reference" [(ngModel)]="selectedResult['reference']" [apiKey]="api" [init]="init">
                        </editor>
                    </div>
        
                    <div class="clr-col-12">
                        <h4>Process Overview</h4>
                        <editor name="process" [(ngModel)]="selectedResult['process']" [apiKey]="api" [init]="init">
                        </editor>
                    </div>
        
                    <div class="clr-col-12">
                        <h4>Procedure</h4>
                        <editor name="procedures" [(ngModel)]="selectedResult['procedures']" [apiKey]="api" [init]="init">
                        </editor>
                    </div>
        
                    <div class="clr-col-12">
                        <h4>Abbreviation </h4>
                        <editor name="abbreviation" [(ngModel)]="selectedResult['abbreviation']" [apiKey]="api" [init]="init">
                        </editor>
                    </div>
                </div>

                <h3>Training Requirement:</h3>
                <table class="table">
                    <tr>
                      <th>Sr</th>
                      <th>{{'common.department' | translate}}</th>
                    </tr>
                    <tr *ngFor="let user of selectedResult['training']; let i = index">
                      <td>{{ i+1 }}</td>
                      <td>{{user}}</td>
                    </tr>
                    <tr *ngIf="selectedResult['training'].length === 0">
                      <td colspan="2" style="height: 40px;">No Record found</td>
                    </tr>
                </table>

                <h3>Distribution:</h3>
                <table class="table">
                    <tr>
                      <th>Sr</th>
                      <th>{{'common.department' | translate}}</th>
                    </tr>
                    <tr *ngFor="let user of selectedResult['distribution']; let i = index">
                      <td>{{ i+1 }}</td>
                      <td>{{user}}</td>
                    </tr>
                    <tr *ngIf="selectedResult['distribution'].length === 0">
                      <td colspan="2" style="height: 40px;">No Record found</td>
                    </tr>
                </table>

                <h3>Revision History:</h3>
                <table class="table">
                    <tr>
                      <th>Sr</th>
                      <th>Version No</th>
                      <th>Change Mode</th>
                      <th>Reason for change</th>
                    </tr>
                    <tr *ngFor="let user of selectedResult['revision']; let i = index">
                      <td>{{ i+1 }}</td>
                      <td>{{user.ver_no}}</td>
                      <td>{{user.change_mode}}</td>
                      <td>{{user.change_reason}}</td>
                    </tr>
                    <tr *ngIf="selectedResult['revision'].length === 0">
                      <td colspan="4" style="height: 40px;">No Record found</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>