<div class="card">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">First Aid Item Requisition
      </div>
      <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm" routerLink="new" style="background-color:green;color: white;"
          *ngIf="isuser == 'Yes'">{{'common.new' | translate}}</button>
        <button class="btn btn-sm" routerLink="/security/aid" style="background-color: red;color: white;">
          {{'common.close' | translate}} </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <table class="table">
        <tr>
          <th style="text-align: left;">Sr</th>
          <th style="text-align: left;">Name Of Item</th>
          <th style="text-align: left;">Quantity In Stock</th>
          <th style="text-align: left;">Purchase Requisition Quantity</th>
          <!-- <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column> -->
        </tr>
        <tr *ngFor="let result of item;let i=index">
          <td style="text-align: left;">{{i+1}}</td>
          <td style="text-align: left;">{{result.item_name}}</td>
          <td style="text-align: left;">{{result.stock_qty}}</td>
          <td style="text-align: left;">{{result.indend_qty}}</td>
          <!-- <clr-dg-cell>
                <button class="btn btn-sm btn-success-outline btn-icon" (click)="view(i)"><clr-icon shape="eye" class="is-success"></clr-icon></button>
            </clr-dg-cell> -->
        </tr>
        <tr *ngIf="item?.length == 0">
          <td colspan="7">{{'common.noRecords' | translate}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card-footer"><button class="btn btn-primary" (click)="download()">{{'common.download' | translate}}</button></div>
</div>