<div class="container-fluid" >
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-6" style="color: aliceblue;margin-top: -2px;text-align: left;">Loan Approval Log</div>
              <div class="clr-col-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/hr/loan" style="background-color: red;color: white;">
                  <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                </button>
              </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text unique-table-wrapper">
                <table  class="table table-border unique-table">
                    <tr>
                      <td style="text-align: left; background-color: aquamarine;font-weight: bolder;" >Employee Name</td>
                      <td style="text-align: left; background-color: aquamarine;font-weight: bolder;">Loan Amount</td>
                      <td style="text-align: left; background-color: aquamarine;font-weight: bolder;">Number Of Month  </td>
                      <td style="text-align: left; background-color: aquamarine;font-weight: bolder;">EMI Amount</td>
                      <td style="text-align: left; background-color: aquamarine;font-weight: bolder;">Installment Start From</td>
                      <td style="text-align: left; background-color: aquamarine;font-weight: bolder;">Installment End</td>
                      <td style="text-align: left; background-color: aquamarine;font-weight: bolder;" >{{'common.status' | translate}}</td>
                      <td style="text-align: left; background-color: aquamarine;font-weight: bolder;" >View</td>
                      <td style="text-align: left; background-color: aquamarine;font-weight: bolder;" >Download</td>
                    </tr>
                    <tr *ngFor="let result of results; let i = index">
                        <td style="text-align: left; font-weight: bold;">{{ result.firstname }}</td>
                        <td style="text-align: left; font-weight: bold;">{{ result.loan_amt }}</td>
                        <td style="text-align: left; font-weight: bold;">{{ result.total_month }}</td>
                        <td style="text-align: left; font-weight: bold;">{{ result.monthly_emi }}</td>
                        <td style="text-align: left; font-weight: bold;">{{ result.emi_start_from | date: 'dd-MM-YYYY'}}</td>
                        <td style="text-align: left; font-weight: bold;">{{ result.emi_end | date: 'dd-MM-YYYY'}}</td>
                        <td style="text-align: left; font-weight: bold;"> 
                          <span *ngIf="result.status == 'pending'" style="color: red;"><b>{{ result.status}}</b></span>
                          <span *ngIf="result.status == 'Approved'" style="color: rgb(60, 255, 0);"><b>{{ result.status}}</b></span>
                        </td>
                        
                        <td style="text-align: left; font-weight: bold;" >
                            <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                        </td>
                        <td style="text-align: left; font-weight: bold;"  >
                            <button class="btn btn-sm btn-info" (click)="download(result.id)">{{'common.view' | translate}}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
         <div class="card-footer">
          <button class="btn btn-primary" (click)="exportToExcel()">Export To Excel</button>
        </div>
    </div>
  </div>


  <clr-modal [(clrModalOpen)]="isContainer" clrModalSize="xl">  
      <h3 class="modal-title">Approval</h3>
    <div class="modal-body">
      <form #containerForm="ngForm">
        <div class="clr-row">
          <div class="clr-col-lg-12">
            <table  class="table table-border">
                <tr>
                  <td style="text-align: left; background-color: aquamarine;font-weight: bolder;">Loan Amount</td>
                  <td style="text-align: left; background-color: aquamarine;font-weight: bolder;">Number of Month  </td>
                  <td style="text-align: left; background-color: aquamarine;font-weight: bolder;">EMI Amount</td>
                  <td style="text-align: left; background-color: aquamarine;font-weight: bolder;">Installment Start From</td>
                  <td style="text-align: left; background-color: aquamarine;font-weight: bolder;">Installment End</td>
                </tr>
                <tr >
                    <td style="text-align: left; font-weight: bold;">{{ selected_emp['loan_amt'] }}</td>
                    <td style="text-align: left; font-weight: bold;">{{ selected_emp['total_month'] }}</td>
                    <td style="text-align: left; font-weight: bold;">{{ selected_emp['monthly_emi'] }}</td>
                    <td style="text-align: left; font-weight: bold;">{{ selected_emp['emi_start_from'] | date: 'dd-MM-YYYY'}}</td>
                    <td style="text-align: left; font-weight: bold;">{{ selected_emp['emi_end'] | date: 'dd-MM-YYYY'}}</td>
                </tr>
            </table>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer" *ngIf="selected_emp['status'] =='pending'">
      <button type="button" class="btn btn-outline" (click)="save_emp_loan('Approved')">{{'common.approved' | translate}}</button>
      <button type="button" class="btn btn-outline" (click)="save_emp_loan('Rejected')">{{'common.rejected' | translate}}</button>
       <button type="button" class="btn btn-danger" (click)="isContainer = false">{{'common.close' | translate}}</button>
    </div>
  </clr-modal>