<div class="container-fluid" *ngIf="!ispending && !isView && !isNew">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;"> On Job Training Attendance Log</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" (click)="ispending = true" style="background-color: rgb(12, 240, 31);color: rgb(10, 10, 10);">Pending Trainninf For Attendance</button>
                <button class="btn btn-sm" routerLink="/qa/training/job-training" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
              </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">

                  <!-- <button class="btn btn-sm btn-info" (click)="downloadreport()">Download All</button> -->
                  <table class="table table-border">
                    <tr>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.department' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Subject</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Trainer Name</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.date' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Time</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Venue</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">View</th>
                    </tr>
                    <tr *ngFor="let training of results; let i = index">
                        <td style="text-align: left;">{{ training.department }}</td>
                        <td style="text-align: left;">{{ training.subject }}</td>
                        <td style="text-align: left;">{{ training.trainer_name }}</td>
                        <td style="text-align: left;">{{ training.training_date | date: 'dd-MM-yyyy'}}</td>
                        <td style="text-align: left;">{{ training.training_time }}</td>
                        <td style="text-align: left;">{{ training.venue }}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                            <!-- <button class="btn btn-sm btn-info" (click)="downloadattendance(training.id)">PDF</button> -->
                        </td>
                    </tr>
                </table>




              


            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="ispending">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">On Job Training Attendance</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                 <button class="btn btn-sm" (click)="ispending = false" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
            </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">

                <table class="table table-border">
                    <tr>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.department' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Subject</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Trainer Name</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.date' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Time</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Venue</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">View</th>
                    </tr>
                    <tr *ngFor="let training of trainings; let i = index">
                        <td style="text-align: left;">{{ training.department }}</td>
                        <td style="text-align: left;">{{ training.subject }}</td>
                        <td style="text-align: left;">{{ training.trainer_name }}</td>
                        <td style="text-align: left;">{{ training.training_date | date: 'dd-MM-yyyy'}}</td>
                        <td style="text-align: left;">{{ training.training_time }}</td>
                        <td style="text-align: left;">{{ training.venue }}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="viewTraining(i)">PROCEED</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

 

<div class="container-fluid" *ngIf="isNew">
    <div class="card">
        <div class="card-header">On Job Training Attendance Record</div>
        <div class="card-block">
            <div class="card-text">
                <form #attendanceForm="ngForm">
                    <table class="table">
                        <tr>
                            <td style="width: 25%; text-align: left;">Name of Department:</td>
                            <td style="text-align: left">{{ selectedTraining['department'] }}</td>
                        </tr>
                        <tr>
                            <td style="width: 25%; text-align: left;">Date of training:</td>
                            <td style="text-align: left">{{ selectedTraining['training_date'] | date: 'dd-MM-yyyy'}}</td>
                        </tr>
                        <tr>
                            <td style="width: 25%; text-align: left;">Trainers Name:</td>
                            <td style="text-align: left">{{ selectedTraining['proposed_trainer'] }}</td>
                        </tr>
                        <tr>
                            <td style="width: 25%; text-align: left;">Venue of Training:</td>
                            <td style="text-align: left">{{ selectedTraining['venue'] }}</td>
                        </tr>
    
                        <tr>
                            <td style="width: 25%; text-align: left;">Training Subject:</td>
                            <td style="text-align: left">{{ selectedTraining['subject'] }}</td>
                        </tr>
                        <tr>
                            <td style="width: 25%; text-align: left;">Reference Document No./System:</td>
                            <td style="text-align: left">{{ selectedTraining['reference_document'] }}</td>
                        </tr>
    
                        <tr>
                            <td style="width: 25%; text-align: left;">Training Tools Used:</td>
                            <td style="text-align: left;padding: 0px">
                                <input type="text" style="margin: 0px" name="training_tool" ngModel required>
                            </td>
                        </tr>
                        
                        <tr>
                            <td style="width: 25%; text-align: left;">Training Start Time:</td>
                            <td style="text-align: left;padding: 0px">
                                <input type="time" style="margin: 0px" name="training_start_time" ngModel required>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 25%; text-align: left;">Training End Time:</td>
                            <td style="text-align: left;padding: 0px">
                                <input type="time" style="margin: 0px" name="training_end_time" ngModel required>
                            </td>
                        </tr>
                    </table>
                </form>

                <table class="table table-border">
                    <tr>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Name of the Trainee</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.department' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.designation' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Attendance</th>
                    </tr>
                    <tr *ngFor="let employee of selectedTraining['employees']; let i = index">
                        <td style="text-align: left;">{{ i + 1 }}</td>
                        <td style="text-align: left;">{{ employee.emp_name }}</td>
                        <td style="text-align: left;">{{ employee.department }}</td>
                        <td style="text-align: left;">{{ employee.designation }}</td>
                        <td style="padding: 0px; vertical-align: middle;">
                            <button class="btn btn-sm btn-primary-outline" [ngStyle]="employee.attendance == 'present' ? {'background-color': 'green', 'color': 'white'} : {'background-color': 'lightgrey', 'color': 'black'}" 
                            (click)="addAttendance(i, 'present')">Present</button>

                            <button class="btn btn-sm btn-danger-outline" [ngStyle]="employee.attendance == 'absent' ? {'background-color': 'green', 'color': 'white'} : {'background-color': 'lightgrey', 'color': 'black'}" 
                            (click)="addAttendance(i, 'absent')">Absent</button>
                        </td>
                    </tr>
                </table>
           
            </div>
        </div>
  
    </div>
</div>

<div class="container-fluid" *ngIf="isView">
    <div class="card">
        <div class="card-header">On Job Training Attendance Log</div>
        <div class="card-block">
            <div class="card-text">
                <!-- <table class="table">
                    <tr>
                        <td style="width: 25%; text-align: left;">Name of Department:</td>
                        <td style="text-align: left">{{ selectedTraining['department'] }}</td>
                    </tr>
                    <tr>
                        <td style="width: 25%; text-align: left;">Date of training:</td>
                        <td style="text-align: left">{{ selectedTraining['training_date']  | date: 'dd-MM-yyyy'}}</td>
                    </tr>
                    <tr>
                        <td style="width: 25%; text-align: left;">Trainers Name:</td>
                        <td style="text-align: left">{{ selectedTraining['trainer_name'] }}</td>
                    </tr>
                    <tr>
                        <td style="width: 25%; text-align: left;">Venue of Training:</td>
                        <td style="text-align: left">{{ selectedTraining['venue'] }}</td>
                    </tr>

                    <tr>
                        <td style="width: 25%; text-align: left;">Training Subject:</td>
                        <td style="text-align: left">{{ selectedTraining['subject'] }}</td>
                    </tr>
                    <tr>
                        <td style="width: 25%; text-align: left;">Reference Document No./System:</td>
                        <td style="text-align: left">{{ selectedTraining['reference_document'] }}</td>
                    </tr>

                    <tr>
                        <td style="width: 25%; text-align: left;">Training Tools Used:</td>
                        <td style="text-align: left">{{ selectedTraining['training_tool'] }}</td>
                    </tr>
                    
                    <tr>
                        <td style="width: 25%; text-align: left;">Training Start Time:</td>
                        <td style="text-align: left">{{ selectedTraining['training_start_time'] }}</td>
                    </tr>
                    <tr>
                        <td style="width: 25%; text-align: left;">Training End Time:</td>
                        <td style="text-align: left">{{ selectedTraining['training_end_time'] }}</td>
                    </tr>
                </table> -->

                <!-- <table class="table">
                    <tr>
                        <th>Sr.</th>
                        <th>Name of the Trainee</th>
                        <th>{{'common.department' | translate}}</th>
                        <th>{{'common.designation' | translate}}</th>
                        <th>Attendance</th>
                    </tr>
                    <tr *ngFor="let employee of selectedTraining['employees']; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ employee.firstname }} {{ employee.lastname }}</td>
                        <td>{{ employee.department }}</td>
                        <td>{{ employee.designation }}</td>
                        <td>{{ employee.attendance }}</td>
                    </tr>
                </table> -->
                <form #onJobTraining="ngForm" (ngSubmit)="saveTrainingNeeds(onJobTraining)">
                     <!-- Section A -->
                     <table class="table">
                        <tr>
                            <td style="text-align: left;">
                                <b >Section A) Training Description/Title</b>
                                <textarea type="text" id="training_description_title" name="training_description_title"
                                readonly  [(ngModel)]="training_description_title"></textarea>
                                <br><br>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <!-- Section B -->
                    <div style="box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);padding: 10px 25px;">
                        <div class="clr-row">
                            <table class="table">
                                <tr>
                                    <!-- <td style="text-align: left;"> -->
                                        <b style="margin-left: 5px;">Section B) Trainee</b>
                                    <!-- </td> -->
                                    <br>
                                    <div class="clr-row" style="margin-left: 10px;">
                                        <div class="clr-col-6">
                                            <label for="trainee_name">Name:</label>
                                            <select name="trainee_name" id="trainee_name" readonly [(ngModel)]="trainee_name" (change)="getName()">
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="clr-col-6">
                                            <label for="department">{{'common.department' | translate}}</label>
                                            <select name="department" readonly [(ngModel)]="department" (change)="getEmployees($event.target.value)">
                                                <option disabled selected>{{'common.department' | translate}}</option>
                                                <option *ngFor="let depart of departments" value="{{depart.department_name}}">
                                                     {{depart.department_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clr-row" style="margin-left: 10px;">
                                        <div class="clr-col-6">
                                            <label for="start-date">Start Date</label>
                                            <input type="date" id="start_date" readonly [(ngModel)]="start_date" name="start_date">
                                        </div>
                                        <div class="clr-col-6">
                                            <label for="finish_date">Finish Date</label>
                                            <input type="date" id="finish_date" readonly [(ngModel)]="finish_date" name="finish_date">
                                        </div>
                                    </div>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- Section C -->
                    <div
                        style="box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);padding: 10px 25px;">
                        <div class="clr-row">
                            <table class="table">
                                <tr>
                                    <!-- <td style="text-align: left;"> -->
                                        <b style="margin-left: 5px;">Section C) Reason For Training</b>
                                    <!-- </td> -->
                                    <br>
                                    <div class="clr-col-4">
                                        <label for="reason_for_training" style="margin-right: 5px;">Reason for training</label>
                                        <select name="reason_for_training" id="reason_for_training" readonly [(ngModel)]="reason_for_training" (change)="getTrainingReasonName()">
                                            <option value="initial_training">Initial Training</option>
                                            <option value="retraining">Retraining</option>
                                            <option value="repeat_training">Repeat Training</option>
                                            <option value="procedure_updated">Procedure Updated</option>
                                            <option value="other_specify_below">Other (Specify Below)</option>
                                        </select>
                                    </div>
                                    <div class="clr-row" style="margin-left: 10px;">
                                        <div class="clr-col-6">
                                            <label for="reason_for_training_reference">Reference</label>
                                            <input type="text" id="reason_for_training_reference" readonly [(ngModel)]="reason_for_training_reference" name="reason_for_training_reference">
                                        </div>
                                    </div>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- Section D -->
                    <table class="table">
                        <tr>
                            <td style="text-align: left;">
                                <b>Section D) Tasks / Activities</b>
                                <textarea type="text" id="task_or_activities" name="task_or_activities"
                                readonly [(ngModel)]="task_or_activities"></textarea>
                                <br>
                            </td>
                        </tr>
                    </table>
                    <!-- Section E -->
                    <div
                        style="box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);padding: 10px 25px;">
                        <div class="clr-row">
                            <table class="table">
                                <tr>
                                    <b style="margin-left: 5px;">Section E) Procedures/Documents Covered During Training, or Those That Are Related
                                        to the Tasks/ Activity</b>
                                    <textarea  type="text"  style="margin-left: 10px;" id="procedure_documents" name="procedure_documents" readonly [(ngModel)]="procedure_documents"></textarea>
                                    <br>
                                    <div class="clr-row" style="margin-left: 10px;margin-bottom: 10px;">
                                        <!-- Initial Training -->
                                        <div class="clr-row" style="margin-left: 10px;">
                                            <!-- Dropdown -->
                                            <div class="clr-col-6">
                                                <label for="trainee_read_status" style="margin-right: 5px;">Trainee has read / understands the above documents</label>
                                                <select name="trainee_read_status" id="trainee_read_status" readonly [(ngModel)]="trainee_read_status">
                                                    <option value="yes">Yes</option>
                                                    <option value="no">No</option>
                                                    <option value="not_applicable">N/A</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <tr style="background-color: #b1e3fc;color: black;">
                                    <td style="text-align: left;" ><b>Digitaly Signed By <span style="color: green;">&#10003;</span> :{{selectedResult['entry_by_name']}}-{{selectedResult['entry_by']}}</b> | <b>Date | {{selectedResult['entry_date'] }} </b></td>
                                    <td style="text-align: right;"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- Section F -->
                    <div style="box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);padding: 10px 25px;">
                        <div class="clr-row">
                            <table class="table">
                                <tr>
                                    <td style="text-align: left;">
                                        <b>Section F) Description of Training</b>
                                    </td>
                                </tr>
                                <tr>
                                    <div class="clr-row" style="margin-left: 10px;margin-bottom: 10px;">
                                        <!-- Initial Training -->
                                        <div class="clr-col-4">
                                            <label for="description_of_training_records_attached_status" style="margin-right: 5px;">Records Attached:</label>
                                            <select name="description_of_training_records_attached_status" id="description_of_training_records_attached_status" readonly [(ngModel)]="description_of_training_records_attached_status">
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                                <option value="not_applicable">N/A</option>
                                            </select>
                                        </div>
                                    </div>
                                    <textarea style="margin-left: 10px;" type="text" readonly [(ngModel)]="discription_of_training" name="discription_of_training"> </textarea>
                                </tr>
                                <tr style="background-color: #b1e3fc;color: black;">
                                    <td style="text-align: left;" ><b>Digitaly Signed By <span style="color: green;">&#10003;</span> :{{selectedResult['entry_by_name']}}-{{selectedResult['entry_by']}}</b> | <b>Date | {{selectedResult['entry_date'] }} </b></td>
                                    <td style="text-align: right;"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- Section G -->
                    <div style="box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);padding: 10px 25px;">
                        <div class="clr-row">
                            <table class="table">
                                <tr>
                                    <b style="margin-left:10px">Section G) Competancy Assessment / Training efficacy
                                    </b>
                                    <!-- Record Attached -->
                                    <div class="clr-row" style="margin-left: 10px;margin-bottom: 10px;">
                                        <div class="clr-row" style="margin-left: 10px;">
                                            <!-- Dropdown -->
                                            <div class="clr-col-4">
                                                <label for="competancy_assessment_record_attached_status" style="margin-right: 5px;">Record Attached:</label>
                                                <select name="competancy_assessment_record_attached_status" id="competancy_assessment_record_attached_status" readonly [(ngModel)]="competancy_assessment_record_attached_status">
                                                    <option value="yes">Yes</option>
                                                    <option value="no">No</option>
                                                    <option value="not_applicable">N/A</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!-- Textarea -->
                                    <textarea type="text" id="competancy_assessment" name="competancy_assessment"
                                    style="margin-left:10px" readonly [(ngModel)]="competancy_assessment"></textarea>
                                    <div>
                                        <b style="margin-left:10px">Training is Condidered :</b>
                                    </div>
                                    <!-- Competent to carry out the above tasks -->
                                    <div class="clr-row" style="margin-left: 10px;margin-bottom: 10px;">
                                            <!-- Dropdown -->
                                            <div class="clr-col-6">
                                                <label for="competancy_assessment_status" style="margin-right: 5px;">Competent to carry out the above tasks:</label>
                                                <select name="competancy_assessment_status" id="competancy_assessment_status" readonly [(ngModel)]="competancy_assessment_status">
                                                    <option value="yes">Yes</option>
                                                    <option value="no">No</option>
                                                </select>
                                            </div>
                                    </div>
                                    <!-- Work Unsuperwised -->
                                    <div class="clr-row" style="margin-left: 10px;margin-bottom: 10px;">
                                        <div class="clr-col-6">
                                            <label for="work_unsupervised_status" style="margin-right: 5px;">Work Unsupervised:</label>
                                            <select name="work_unsupervised_status" id="work_unsupervised_status" readonly [(ngModel)]="work_unsupervised_status">
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </tr>
                                <tr style="background-color: #b1e3fc;color: black;">
                                    <td style="text-align: left;" ><b>Digitaly Signed By <span style="color: green;">&#10003;</span> :{{selectedResult['entry_by_name']}}-{{selectedResult['entry_by']}}</b> | <b>Date | {{selectedResult['entry_date'] }} </b></td>
                                    <td style="text-align: right;"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- Section H -->
                    <div style="box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);padding: 10px 25px;">
                        <div class="clr-row">
                            <table class="table">
                                <tr>
                                    <b style="margin-left:10px">Section H) Trainee Signature
                                    </b>
                                    <!-- Record Attached -->
                                    <div class="clr-row" style="margin-left: 10px;margin-bottom: 10px;">
                                        <!-- Dropdown -->
                                        <div class="clr-col-8">
                                            <label for="trainee_understands_status" style="margin-right: 5px;">Trainee understands the procedure and is confident to carry out the task(s) above:</label>
                                            <select name="trainee_understands_status" id="trainee_understands_status" readonly [(ngModel)]="trainee_understands_status">
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                            </select>
                                        </div>
                                    </div>                                    
                                    <!-- Comments -->
                                    <p style="margin-left:10px;">Comment</p>
                                    <textarea type="text" id="trainee_signature_comments" name="trainee_signature_comments" readonly [(ngModel)]="trainee_signature_comments"></textarea>
                                </tr>
                                <tr style="background-color: #b1e3fc;color: black;">
                                    <td style="text-align: left;" ><b>Digitaly Signed By <span style="color: green;">&#10003;</span> :{{selectedResult['entry_by_name']}}-{{selectedResult['entry_by']}}</b> | <b>Date | {{selectedResult['entry_date'] }} </b></td>
                                    <td style="text-align: right;"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- Section I -->
                    <div style="box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);padding: 10px 25px;">
                        <div class="clr-row">
                            <table class="table">
                                <tr>
                                    <b style="margin-left:10px;margin-bottom: 10px;">Section I) Trainer / Assessor Comments</b>
                                    <!-- Comments -->
                                    <p style="margin-left:10px;">Comment</p>
                                     <textarea type="text" id="trainer_or_assessor_comments" name="trainer_or_assessor_comments"
                                     readonly [(ngModel)]="trainer_or_assessor_comments"></textarea>
                                </tr>
                                <tr style="background-color: #b1e3fc;color: black;">
                                    <td style="text-align: left;" ><b>Digitaly Signed By <span style="color: green;">&#10003;</span> :{{selectedResult['entry_by_name']}}-{{selectedResult['entry_by']}}</b> | <b>Date | {{selectedResult['entry_date'] }} </b></td>
                                    <td style="text-align: right;"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                   <!-- Section J -->
                   <div style="box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);padding: 10px 25px;">
                       <div class="clr-row">
                           <table class="table">
                               <tr>
                                   <b style="margin-left:10px">Section J) Manager Review / Approval</b>
                                   <div class="clr-row" style="margin-left: 10px;margin-bottom: 10px;">
                                       <div class="clr-col-6">
                                           <label for="training_or_assessment_satisfactory_status" style="margin-right: 5px;">Training / Assessment Satisfactory:</label>
                                           <select name="training_or_assessment_satisfactory_status" id="training_or_assessment_satisfactory_status" [(ngModel)]="training_or_assessment_satisfactory_status">
                                               <option value="yes">Yes</option>
                                               <option value="no">No</option>
                                           </select>
                                       </div>
                                   </div>
                                   <!-- Trainee is approved to carry out the Task / Activity -->
                                   <div class="clr-row" style="margin-left: 10px;margin-bottom: 10px;">
                                       <!-- Dropdown -->
                                       <div class="clr-col-8">
                                           <label for="trainee_approval_status" style="margin-right: 5px;">Trainee is approved to carry out the Task / Activity:</label>

                                           <select name="trainee_approval_status" id="trainee_approval_status" [(ngModel)]="training_or_assessment_satisfactory_status">
                                               <option value="yes">Yes</option>
                                               <option value="no">No</option>
                                           </select>
                                       </div>
                                   </div>
                                   <!-- Comments -->
                                   <p style="margin-left:10px;">Comment</p>
                                   <textarea type="text" id="manager_review_comments" name="manager_review_comments"
                                   [(ngModel)]="manager_review_comments"></textarea>
                               </tr>
                               <tr style="background-color: #b1e3fc;color: black;">
                                   <td style="text-align: left;"><b>Digitaly Signed By <span style="color: green;">&#10003;</span>
                                           :{{selectedResult['entry_by_name']}}-{{selectedResult['entry_by']}}</b> | <b>Date |
                                           {{selectedResult['entry_date'] }} </b></td>
                                   <td style="text-align: right;"></td>
                               </tr>
                           </table>
                       </div>
                   </div>
                   <div class="card-footer">
                       <button class="btn btn-primary" (click)="saveAttendance(onJobTraining)">{{'common.submit' | translate}}</button>
                       <button class="btn btn-danger" (click)="btn()">{{'common.close' | translate}}</button>
                   </div>
               </form>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
            <button class="btn btn-success" (click)="downloadattendance(selectedTraining.id)">{{'common.download' | translate}}</button>
        </div>
    </div>
</div>