<div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-lg-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Rinse Analysis</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-danger" routerLink="/microbiology/rinse">{{'common.close' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <form #rinseForm="ngForm">
          <div class="clr-row">

            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Equipment Name:<span style="color: red">*</span></label>
              <input type="text" name="equip_name" ngModel>
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Batch Code:<span style="color: red">*</span></label>
              <input type="text" name="batch_code" ngModel (ngModelChange)="onValueChange($event)">
              <small *ngIf="flag" class="text-danger" style="color:red">only numbers are allowed</small>

            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" >
              <label>Date Of Analysis:<span style="color: red">*</span></label>
              <input type="date" name="doa" ngModel>
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Date Of Result:<span style="color: red">*</span></label>
              <input type="date" name="dor" ngModel>
            </div>
          </div>

        <div class="card">
           <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">Analysis Details</div>
            </div>
          </div>
        <div class="card-block">  
            <form #checkForm="ngForm">
              <div class="clr-row">

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Micro Organism Name:<span style="color: red;">*</span></label>
                  <input type="text" name="micro_organism" ngModel #check_point="ngModel" required>
                </div>

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Observation For Negative Control:<span style="color: red;">*</span></label>
                  <input type="text" name="observation_control" ngModel #check_point="ngModel" required>
                </div>

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Incubation Period:<span style="color: red;">*</span></label>
                  <select name="incubation_period" [(ngModel)]="incubation_period" required>
                    <option></option>
                    <option>24 Hrs</option>
                    <option>18-24 Hrs</option>
                    <option>18-72 Hrs</option>
                  </select>
                </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <button class="btn btn-success" (click)="addData(checkForm)" style="margin-top:30px;">{{'common.add' | translate}}</button>
            </div>
          </div>
        </form>
             
            

            <div class="card-text">
              <div class="row container-fluid">
                <table class="table table-border">
                  <tr>
                    <th style="background-color:rgb(14, 67, 112); color: white;">{{'common.table.srNo' | translate}}</th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Micro Organism Name</th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Observation</th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Incubation Period</th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
                  </tr>

                  <tr *ngFor="let add of analysislist ;let i=index">
                    <td>{{i+1}}.</td>
                    <td style="text-align: left;">{{add.micro_organism}}</td>
                    <td style="text-align: left;">{{add.observation_control}}</td>
                    <td style="text-align: left;">{{add.incubation_period}}</td>

                    <td>
                      <clr-icon shape="trash" class="is-error" (click)="delData(i)"></clr-icon>
                    </td>
                  </tr>

                </table>

              </div>
            </div>
            <!-- <div class="card-text">
              <div class="row container-fluid">
                <table class="table table-border">
                  <tr>
                    <th style="background-color: rgb(14, 67, 112); color: white;">{{'common.table.srNo' | translate}}</th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Micro Organism Name</th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Observation</th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Incubation Period</th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
                  </tr>

                  <tr *ngFor="let add of analysislist; i=index">
                    <td>{{i+1}}.</td>
                    <td style="text-align: left;">{{add.micro_organism}}</td>
                    <td style="text-align: left;">{{add.observation_control}}</td>
                    <td style="text-align: left;">{{add.incubation_period}}</td>
                    <td>
                      <clr-icon shape="trash" class="is-error" (click)="delData(i)"></clr-icon>
                    </td>
                  </tr>

                </table>

              </div>
            </div> -->
          </div>
        </div>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" [disabled]="flag"(click)="save(rinseForm)">{{'common.save' | translate}}</button>
    </div>
  </div>