<div class="container-fluid" *ngIf="!isView">
  <div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Prepare Draft for Initiated
          SOP </div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" routerLink="/rnd/qa/soops" style="background-color: red;color: white;">
            <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
          </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">

        <table class="table table-border">
          <tr>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr.</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">SOP Title</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">SOP For</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.status' | translate}}</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Prepared By</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
          </tr>
          <tr *ngFor="let result of results; let i = index">
            <td style="text-align: left;">{{ i + 1 }}.</td>
            <td style="text-align: left;">{{ result.title }}</td>
            <td style="text-align: left;">{{ result.sop_for }}</td>
            <td style="text-align: left;">{{ result.status }}</td>
            <td style="text-align: left;">{{ result.entry_by }}</td>
            <td>
              <button class="btn btn-sm btn-info" (click)="view(i)">PROCEED</button>
            </td>
          </tr>
          <tr *ngIf="results?.length == 0">
            <td colspan="7">No. Records Found!</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="isView">
  <div class="card">

    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Prepared Draft for Initiated
          SOP </div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" (click)="isView = false" style="background-color: red;color: white;">
            <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
          </button>
        </div>
      </div>
    </div>


    <div class="card" *ngIf="purposeArray.length > 0">
      <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left; color: black;">

            <h4><b>{{purposetitle}}</b></h4>
            <!--             
              <input style="background-color: burlywood ; font-weight: bold;" type="text"
                name="purposetitle" [(ngModel)]="purposetitle" required> -->

          </div>
          <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-info btn-icon" (click)="toggleShow()">
              <clr-icon shape="eye" class="is-warning"></clr-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <div *ngIf="isShown" class="row container-fluid" id="divshow">
            <table class="table">
              <tr>
                <td style="text-align: left;width: 20%;">Department:</td>
                <td style="text-align: left;">{{ selectedResult['department'] }}</td>
              </tr>
              <tr>
                <td style="text-align: left;width: 20%;">SOP Title:</td>
                <td style="text-align: left;">{{ selectedResult['title'] }}</td>
              </tr>
              <tr>
                <td style="text-align: left;width: 20%;">SOP For:</td>
                <td style="text-align: left;">{{ selectedResult['sop_for'] }}</td>
              </tr>
            </table>




            <form #purposeForm="ngForm">
              <div class="clr-row">
                <div class="clr-col-12">
                  <h4>{{purposetitle}}</h4>
                  <editor name="purpose" [(ngModel)]="selectedResult['purpose']" [apiKey]="api" [init]="init">
                  </editor>
                </div>
              </div>
            </form>
            <div class="card-footer">
              <button class="btn btn-primary " (click)="savepurpose(purposeForm)"
                style="position:absolute; bottom:1px; right:120px;margin-top:15px;">{{'common.save' | translate}}</button>
            </div>

          </div>
        </div>
      </div>
    </div>






    <div class="card" *ngIf="scopeArray.length > 0">

      <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left; color: black;">
            <h4><b>{{scopetitle}}</b></h4>
            <!--            
              <input style="background-color: burlywood ; font-weight: bold;" 
              type="text" name="scopetitle" [(ngModel)]="scopetitle"
              required> -->
          </div>
          <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-info btn-icon" (click)="togShow()">
              <clr-icon shape="eye" class="is-warning"></clr-icon>
            </button>
          </div>
        </div>
      </div>


      <div class="card-block">
        <div class="card-text">
          <div *ngIf="isShow1" class="row container-fluid" id="divshow">
            <form #scopeForm="ngForm">
              <div class="clr-row">
                <div class="clr-col-12">
                  <h4>{{scopetitle}}</h4>
                  <editor name="scope" ngModel [apiKey]="api" [init]="init">
                  </editor>
                </div>
              </div>

            </form>

            <div class="card-footer">
              <button class="btn btn-primary " (click)="savescopeForm(scopeForm)"
                style="position:absolute; bottom:1px; right:120px;margin-top:10px;">{{'common.save' | translate}}</button>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="card" *ngIf="roleArray.length > 0">
      <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color:black;">
            <!-- <input style="background-color: burlywood ; font-weight: bold;" 
              type="text" name="RolesRestitle" [(ngModel)]="RolesRestitle"
              required> -->

            <h4><b>{{RolesRestitle}}</b></h4>

          </div>
          <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-info btn-icon" (click)="dataShow()">
              <clr-icon shape="eye" class="is-warning"></clr-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="card-block">
        <div *ngIf="isdata" class="row container-fluid" id="div">
          <div class="card-text">
            <form #rolesform="ngForm">
              <table class="table table-border">

                <tr>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Role</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Responsibility</th>
                  <th style="text-align: center; background-color: rgb(14, 67, 112); color: white;">Responsibility</th>
                </tr>
                <tr>
                  <td style="padding: 0px;display: flex; align-items: center;">
                    <select name="department" #dept="ngModel" ngModel (change)="getDesignation(dept)" required>
                      <option selected disabled>{{'common.department' | translate}}</option>
                      <option *ngFor="let dept of departments">{{ dept.department_name }}</option>
                    </select>


                    <select name="designation" ngModel required>
                      <option selected disabled>{{'common.designation' | translate}}</option>
                      <option *ngFor="let designation of designations">{{ designation.designation }}</option>
                    </select>


                  </td>
                  <td style="padding: 0px;">
                    <input type="text" name="responsibility" ngModel required style="margin: 0px; height: 33px;">
                  </td>
                  <td style="padding: 0px; vertical-align: middle;">
                    <button class="btn btn-sm btn-info" (click)="addRoles(rolesform)">{{'common.add' | translate}}</button>
                  </td>
                </tr>
                <tr *ngFor="let role of roleList;">
                  <td style="text-align: left;">{{ role.department }} {{ role.designation }}</td>
                  <td style="text-align: left;">{{ role.responsibility }}</td>
                  <td style="text-align: center;">
                    <clr-icon shape="trash" class="is-error" (click)="deleteRoles(i)"></clr-icon>
                  </td>
                </tr>

              </table>
            </form><br>

            <div class="card-footer">
              <button class="btn btn-primary " (click)="saverolesform( )"
                style="position:absolute; bottom:5px; right:120px;">{{'common.save' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="card" *ngIf="definitionArray.length > 0">
      <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color:black">

            <h4><b>{{definitiontitle}}</b></h4>

            <!-- <input style="background-color: burlywood ; font-weight: bold;" 
              type="text" name="definitiontitle" [(ngModel)]="definitiontitle"
              required>
             -->
          </div>

          <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-info btn-icon" (click)="systemShow()">
              <clr-icon shape="eye" class="is-warning"></clr-icon>
            </button>

            <!-- <button (click)="systemShow()" type="checkbox" style="float:right;background-color: burlywood;">Click</button> -->
          </div>
        </div>
      </div>

      <div class="card-block">
        <div class="clr-col-12" style="margin-bottom:10px;">
          <div *ngIf="istable" class="row container-fluid" id="clr">

            <form #definitionForm="ngForm">
              <table class="table table-border">
                <tr>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Terms</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Definition</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">ADD</th>
                </tr>
                <tr>
                  <td style="padding: 0px;">
                    <input type="text" name="term" ngModel required style="margin: 0px; height: 33px;">
                  </td>
                  <td style="padding: 0px;">
                    <input type="text" name="definition" ngModel required style="margin: 0px; height: 33px;">
                  </td>
                  <td style="padding: 0px; vertical-align: middle;">
                    <button class="btn btn-sm btn-info" (click)="addDefinition(definitionForm)">{{'common.add' | translate}}</button>
                  </td>
                </tr>
                <tr *ngFor="let role of definitionList;let i = index">
                  <td style="text-align: left;">{{ role.term }}</td>
                  <td style="text-align: left;">{{ role.definition }}</td>
                  <td>
                    <clr-icon shape="trash" class="is-error" (click)="deleteDefinition(i)"></clr-icon>
                  </td>
                </tr>
                <tr *ngIf="definitionList?.length == 0">
                  <td colspan="3">{{'common.noRecords' | translate}}</td>
                </tr>
              </table>
            </form>
            <div class="card-footer">
              <button class="btn btn-primary " (click)="saveDefination()"
                style="position:absolute; bottom:5px; right:120px;">{{'common.save' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="card" *ngIf="referenceArray.length > 0">
      <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color: black;">

            <h4><b>{{externaltitle}}</b></h4>


            <!-- <input style="background-color: burlywood ; font-weight: bold;" 
              type="text" name="externaltitle" [(ngModel)]="externaltitle"
              required> -->

          </div>
          <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-info btn-icon" (click)="indShow()">
              <clr-icon shape="eye" class="is-warning"></clr-icon>
            </button>

            <!-- <button (click)="indShow()" type="checkbox" style="float:right;;background-color: rgb(14, 67, 112)">Click</button> -->
          </div>
        </div>
      </div>

      <div class="clr-col-12">
        <div class="card-block">
          <div *ngIf="ispara" class="row container-fluid" id="show">
            <div class="card-title">1. External References:</div>
            <form #externalForm="ngForm">
              <table class="table table-border">
                <tr>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">External Document No.
                  </th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Title</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
                </tr>
                <tr>
                  <td style="padding: 0px;">
                    <input type="text" name="document_no" ngModel required style="margin: 0px; height: 33px;">
                  </td>
                  <td style="padding: 0px;">
                    <input type="text" name="title" ngModel required style="margin: 0px; height: 33px;">
                  </td>
                  <td style="padding: 0px; vertical-align: middle;">
                    <button class="btn btn-sm btn-info" (click)="addExternal(externalForm)">{{'common.add' | translate}}</button>
                  </td>
                </tr>
                <tr *ngFor="let list of externalList; let i = index">
                  <td style="text-align: left;">{{ list.document_no }}</td>
                  <td style="text-align: left;">{{ list.title }}</td>
                  <td>
                    <clr-icon shape="trash" class="is-error" (click)="deleteExternal(i)"></clr-icon>
                  </td>
                </tr>
                <tr *ngIf="externalList?.length == 0">
                  <td colspan="3">{{'common.noRecords' | translate}}</td>
                </tr>
              </table>
            </form>
          </div>
        </div>
        <div class="card-block">
          <div *ngIf="ispara" class="row container-fluid" id="show">
            <div class="card-title">2. Associated Documents:</div>
            <div class="card-text">
              <form #associatedForm="ngForm">
                <table class="table table-border">
                  <tr>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Associated Document
                      No.</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Title</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
                  </tr>
                  <tr>
                    <td style="padding: 0px;">
                      <input type="text" name="document_no" ngModel required style="margin: 0px; height: 33px;">
                    </td>
                    <td style="padding: 0px;">
                      <input type="text" name="title" ngModel required style="margin: 0px; height: 33px;">
                    </td>
                    <td style="padding: 0px; vertical-align: middle;">
                      <button class="btn btn-sm btn-info" (click)="addAssociated(associatedForm)">{{'common.add' | translate}}</button>
                    </td>
                  </tr>
                  <tr *ngFor="let list of associatedList; let i = index">
                    <td style="text-align: left;">{{ list.document_no }}</td>
                    <td style="text-align: left;">{{ list.title }}</td>
                    <td>
                      <clr-icon shape="trash" class="is-error" (click)="deleteAssociated(i)"></clr-icon>
                    </td>
                  </tr>
                  <tr *ngIf="associatedList?.length == 0">
                    <td colspan="3">{{'common.noRecords' | translate}}</td>
                  </tr>
                </table>
              </form><br>
              <div class="card-footer">
                <button class="btn btn-primary " (click)="saveAssDocument()"
                  style="position:absolute; bottom:1px; right:120px;">{{'common.save' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>




    <div class="card" *ngIf="processArray.length > 0">
      <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color: black;">

            <h4><b>{{Processtitle}}</b></h4>

            <!-- <input style="background-color: burlywood ; font-weight: bold;" 
              type="text" name="Processtitle" [(ngModel)]="Processtitle"
              required> -->

          </div>
          <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-info btn-icon" (click)="inputShow2()">
              <clr-icon shape="eye" class="is-warning"></clr-icon>
            </button>

            <!-- <button (click)="inputShow()" type="checkbox" style="float:right;;background-color: rgb(14, 67, 112)">Click</button> -->
          </div>
        </div>
      </div>

      <div class="clr-col-12">
        <div class="card-block">
          <div *ngIf="isreq2" class="row container-fluid" id="show">

            <input type="file" name="process_overview" ngModel required style="height: auto;"
              (change)="onFileChanged1($event)">

            <div class="card-footer">
              <button class="btn btn-primary " (click)="saveprocess_overview()"
                style="position:absolute; bottom:1px; right:120px;">{{'common.save' | translate}}</button>
            </div>
          </div>

        </div>

      </div>
    </div>



    <div class="card" *ngIf="proceduresArray.length > 0">
      <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left; color: black;">


            <h4><b>{{Proceduretitle}}</b></h4>



          </div>
          <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-info btn-icon" (click)="toShow()">
              <clr-icon shape="eye" class="is-warning"></clr-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <div *ngIf="isShow2" class="row container-fluid" id="divshow">
            <form #procedureForm="ngForm">
              <div class="clr-row">
                <div class="clr-col-12">
                  <editor name="procedure" ngModel [apiKey]="api" [init]="init">
                  </editor>
                </div>
              </div>
            </form>
            <div class="card-footer">
              <button class="btn btn-primary " (click)="saveprocedure(procedureForm)"
                style="position:absolute; bottom:1px; right:120px;margin-top:15px;">{{'common.save' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="card" *ngIf="abbreviationsArray.length > 0">
      <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color:black">

            <h4><b>{{Abbreviationtitle}}</b></h4>


            <!-- <input style="background-color: burlywood ; font-weight: bold;" 
             type="text" name="Abbreviationtitle" [(ngModel)]="Abbreviationtitle"
             required> -->

          </div>
          <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-info btn-icon" (click)="sysShow()">
              <clr-icon shape="eye" class="is-warning"></clr-icon>
            </button>

            <!-- <button (click)="sysShow()" type="checkbox" style="float:right;;background-color: pink;">Click</button> -->
          </div>
        </div>
      </div>


      <div class="clr-col-12" style="margin-bottom:10px;">
        <div class="card-block">
          <div *ngIf="isdiv" class="row container-fluid" id="hr">
            <form #abbreviationForm="ngForm">
              <table class="table table-border">
                <tr>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Short Form</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Full Title</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
                </tr>
                <tr>
                  <td style="padding: 0px;">
                    <input type="text" name="short_form" ngModel required style="margin: 0px; height: 33px;">
                  </td>
                  <td style="padding: 0px;">
                    <input type="text" name="full_title" ngModel required style="margin: 0px; height: 33px;">
                  </td>
                  <td style="padding: 0px; vertical-align: middle;">
                    <button class="btn btn-sm btn-info" (click)="addAbbreviation(abbreviationForm)">{{'common.add' | translate}}</button>
                  </td>
                </tr>
                <tr *ngFor="let list of abbreviationList; let i = index">
                  <td style="text-align: left;">{{ list.short_form }}</td>
                  <td style="text-align: left;">{{ list.full_title }}</td>
                  <td>
                    <clr-icon shape="trash" class="is-error" (click)="deleteAbbreviation(i)"></clr-icon>
                  </td>
                </tr>
                <tr *ngIf="abbreviationList?.length == 0">
                  <td colspan="3">{{'common.noRecords' | translate}}</td>
                </tr>
              </table>
            </form>
            <div class="card-footer">
              <button class="btn btn-primary " (click)="saveabbreviationForm()"
                style="position:absolute; bottom:5px; right:120px;">{{'common.save' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>





    <div class="card" *ngIf="trainingArray.length > 0">
      <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color:black">


            <h4><b>{{Trainingtitle}}</b></h4>



            <!-- <input style="background-color: burlywood ; font-weight: bold;" 
              type="text" name="Trainingtitle" [(ngModel)]="Trainingtitle"
              required> -->

          </div>
          <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-info btn-icon" (click)="sysShow1()">
              <clr-icon shape="eye" class="is-warning"></clr-icon>
            </button>

            <!-- <button (click)="sysShow()" type="checkbox" style="float:right;;background-color: pink;">Click</button> -->
          </div>
        </div>
      </div>

      <div class="clr-col-12">
        <div class="card-block">
          <div *ngIf="isdiv1" class="row container-fluid" id="hr">
            <div class="card-block">
              <div class="card-text">
                <form #trainingForm="ngForm">
                  <div class="clr-row">
                    <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                      <label>{{'common.department' | translate}}</label>
                      <select name="department" ngModel required>
                        <option></option>
                        <option *ngFor="let item of departments; let i = index">{{item.department_name}}</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary" (click)="addTraining(trainingForm)">{{'common.add' | translate}}</button>
            </div>
            <div class="card-block">
              <div class="card-text">
                <table class="table table-border">
                  <tr>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.department' | translate}}</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
                  </tr>
                  <tr *ngFor="let user of trainingList; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{user}}</td>
                    <td style="text-align: center;">
                      <clr-icon shape="trash" class="is-error" (click)="deleteTraining(i)"></clr-icon>
                    </td>
                  </tr>
                  <tr *ngIf="trainingList.length === 0">
                    <td colspan="3" style="height: 40px;">No Record found</td>
                  </tr>
                </table>
                <div class="card-footer">
                  <button class="btn btn-primary " (click)="savetrainingList()"
                    style="position:absolute; bottom:5px; right:120px;">{{'common.save' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="card" *ngIf="distributionArray.length > 0">

      <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color:black">

            <h4><b>{{Distributiontitle}}</b></h4>

            <!-- <input style="background-color: burlywood ; font-weight: bold;" 
              type="text" name="Distributiontitle" [(ngModel)]="Distributiontitle"
              required> -->


          </div>

          <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-info btn-icon" (click)="actualShow()">
              <clr-icon shape="eye" class="is-warning"></clr-icon>
            </button>

            <!-- <button (click)="actualShow()" type="checkbox" style="float:right;;background-color: burlywood;">Click</button> -->
          </div>
        </div>
      </div>
      <div class="clr-col-12">
        <div class="card-block">
          <div *ngIf="isrow" class="row container-fluid" id="in">
            <div class="card-text">
              <form #distributionForm="ngForm">
                <div class="clr-row">
                  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                    <label>{{'common.department' | translate}}</label>
                    <select name="department" ngModel required>
                      <option></option>
                      <option *ngFor="let item of departments; let i = index">{{item.department_name}}</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary" (click)="addDistribution(distributionForm)">{{'common.add' | translate}}</button>
            </div>
            <div class="card-text">
              <table class="table">
                <tr>
                  <th>Sr</th>
                  <th>{{'common.department' | translate}}</th>
                  <th>{{'common.table.action' | translate}}</th>
                </tr>
                <tr *ngFor="let user of distributionList; let i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{user}}</td>
                  <td style="text-align: center;">
                    <clr-icon shape="trash" class="is-error" (click)="deleteDistribution(i)"></clr-icon>
                  </td>
                </tr>
                <tr *ngIf="distributionList.length === 0">
                  <td colspan="3" style="height: 40px;">No Record found</td>
                </tr>
              </table>
              <div class="card-footer">
                <button class="btn btn-primary " (click)="save(myForm)"
                  style="position:absolute; bottom:1px; right:0px;margin-top:17px;">Edit Draft</button>
                <button class="btn btn-primary " (click)="savedistributionList()"
                  style="position:absolute; bottom:1px; right:120px;margin-top:17px;">{{'common.save' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card" *ngIf="attachmentsArray.length > 0">
      <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color: black;">


            <h4><b>{{Attachmentstitle}}</b></h4>


            <!-- <input style="background-color: burlywood ; font-weight: bold;" 
              type="text" name="Attachmentstitle" [(ngModel)]="Attachmentstitle"
              required> -->

          </div>
          <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-info btn-icon" (click)="inputShow()">
              <clr-icon shape="eye" class="is-warning"></clr-icon>
            </button>

            <!-- <button (click)="inputShow()" type="checkbox" style="float:right;;background-color: rgb(14, 67, 112)">Click</button> -->
          </div>
        </div>
      </div>



      <div class="clr-col-12">
        <div class="card" style="margin-bottom: 10px;">
          <div *ngIf="isreq" class="row container-fluid" id="system">

            <div class="card-text">
              <div class="clr-row">
                <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                  <label>Select File</label>
                  <input type="file" name="attachments" ngModel required style="height: auto;"
                    (change)="onFileChanged2($event)">

                  <div class="card-footer">
                    <button class="btn btn-primary " (click)="saveattachments()"
                      style="position:absolute; bottom:1px; right:120px;">{{'common.save' | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="card" *ngIf="revisionArray.length > 0">
      <div class="card-header" style="text-align: center;background-color: burlywood;color: black;">
        <div class="clr-row" style="margin-bottom: 10px;">
          <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;color: black;">



            <h4><b>{{Revisiontitle}}</b></h4>

            <!-- <input style="background-color: burlywood ; font-weight: bold;" 
              type="text" name="Revisiontitle" [(ngModel)]="Revisiontitle"
              required> -->

          </div>
          <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-info btn-icon" (click)="inputShow1()">
              <clr-icon shape="eye" class="is-warning"></clr-icon>
            </button>

            <!-- <button (click)="inputShow()" type="checkbox" style="float:right;;background-color: rgb(14, 67, 112)">Click</button> -->
          </div>
        </div>
      </div>



      <div class="clr-col-12">
        <div class="card" style="margin-bottom: 10px;">
          <div *ngIf="isreq1" class="row container-fluid" id="system">
            <div class="card-block">
              <div class="card-text">
                <form #revisionForm="ngForm">
                  <div class="clr-row">
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                      <label>Version No</label>
                      <input type="text" name="ver_no" ngModel required>
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                      <label>Change Mode</label>
                      <input type="text" name="change_mode" ngModel required>
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                      <label>Reason for change</label>
                      <input type="text" name="change_reason" ngModel required>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary" (click)="addRevision(revisionForm)">{{'common.add' | translate}}</button>
            </div>
            <div class="card-block" style="margin-bottom: 10px;">
              <div class="card-text">
                <table class="table table-border">
                  <tr>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Version No</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Change Mode</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Reason for change
                    </th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
                  </tr>
                  <tr *ngFor="let user of revisionList; let i = index">
                    <td style="text-align: center;">{{ i+1 }}</td>
                    <td style="text-align: center;">{{user.ver_no}}</td>
                    <td style="text-align: center;">{{user.change_mode}}</td>
                    <td style="text-align: center;">{{user.change_reason}}</td>
                    <td style="text-align: center;">
                      <clr-icon shape="trash" class="is-error" (click)="deleteRevision(i)"></clr-icon>
                    </td>
                  </tr>
                  <tr *ngIf="revisionList.length === 0">
                    <td colspan="5" style="height: 40px;">No Record found</td>
                  </tr>
                </table>
                <div class="card-footer">
                  <button class="btn btn-primary " (click)="saverevisionList()"
                    style="position:absolute; bottom:5px; right:120px;">{{'common.save' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
  <div class="card-footer">
    <button class="btn btn-success" (click)="save()">{{'common.save' | translate}}</button>
    <button class="btn btn-danger " (click)="isView = false">{{'common.close' | translate}}</button>
  </div>

</div>