<div class="card" *ngIf="!isView">
  <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">Challans Approval</div>
        <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-danger" routerLink="/rnd/store/challan">{{'common.close' | translate}}</button>
        </div>
      </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <table class="table">
        <tr>
          <th>Sr.</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Material Type</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Vendor Name</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Packaging Slip</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Packaging Slip Date</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Driver Name</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Tax Invoice No.</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.status' | translate}}</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Prepared Date</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">View</th>
        </tr>
        <tr *ngFor="let result of results; let i = index">
          <td>{{ i + 1 }}.</td>
          <td style="text-align: left;">{{ result.material_type }}</td>
          <td style="text-align: left;">{{ result.vendor_name }}</td>
          <td style="text-align: left;">{{ result.challan_no }}</td>
          <td style="text-align: left;">{{ result.challan_date }}</td>
          <td style="text-align: left;">{{ result.driver_name }}</td>
          <td style="text-align: left;">{{ result.tax_invoice }}</td>
          <td style="text-align: left;">{{ result.status }}</td>
          <td style="text-align: left;">{{ result.entry_date | date: 'dd-MM-yyyy'}}</td>
          <td>
            <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
          </td>
        </tr>
        <tr *ngIf="results?.length == 0">
          <td colspan="9">No. Records Found!</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="card" *ngIf="isView">
  <div class="card-header">Challan Details</div>
  <div class="card-block">
    <div class="card-text">
      <h3>Vendor Details:</h3>
      <table class="table" style="border:1px solid black">
        <tr>
          <td style="text-align: left; width: 20%;">Vendor No.:</td>
          <td style="text-align: left; ">{{ selectedResult['vendor_no'] }}</td>
          <td style="text-align: left; width: 20%;">Vendor Name:</td>
          <td style="text-align: left; ">{{ selectedResult['vendor_name'] }}</td>
        </tr>
        <tr>
          <td style="text-align: left; width: 20%;">Packaging Slip:</td>
          <td style="text-align: left;">{{ selectedResult['challan_no'] }}</td>
          <td style="text-align: left; width: 20%;">Packaging Slip Date.:</td>
          <td style="text-align: left;">{{ selectedResult['challan_date'] | date: 'dd-MM-yyyy'}}</td>
        </tr>
        <tr>
          <td style="text-align: left; width: 20%;">PO No:</td>
          <td style="text-align: left;"> {{ selectedResult['po_no'] }}</td>
          <td style="text-align: left; width: 20%;">PO Date:</td>
          <td style="text-align: left;">{{ selectedResult['po_date'] | date: 'dd-MM-yyyy'}}</td>
        </tr>
        <tr>
          <td style="text-align: left; width: 20%;">Driver Name:</td>
          <td style="text-align: left;">{{ selectedResult['driver_name'] }}</td>
          <td style="text-align: left; width: 20%;">Driver No:</td>
          <td style="text-align: left;">{{ (selectedResult['driver_contact'] | canadianPhone) }}</td>
        </tr>
        <tr>
          <td style="text-align: left; width: 20%;">Tax Invoice No:</td>
          <td style="text-align: left;">{{ selectedResult['tax_invoice'] }}</td>
          <td style="text-align: left; width: 20%;">Transport Company:</td>
          <td style="text-align: left;">{{ selectedResult['transport_company'] }}</td>
        </tr>
        <tr>
          <td style="text-align: left; width: 20%;">Transport:</td>
          <td style="text-align: left;"colspan="3">{{ selectedResult['transport'] }}</td>
        </tr>
      </table>
      <br>
      <div class="clr-row">
        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
          <label>Vendor Location:</label>
          <select name="vendor_unit" [(ngModel)]="vendor_unit" required (change)="selectLocation($event.target.selectedIndex)">
            <option></option>
            <option *ngFor="let unit of units" [value]="unit.unit_name">{{ unit.unit_name }} (GST No.: {{ unit.gst_no }})</option>
          </select>
        </div>
      </div>

      <div *ngIf="selectedLocation?.length != 0">
        <h3>Location Details:</h3>
        <table class="table">
          <tr>
            <td style="text-align: left;width: 15%;">GST Type:</td>
            <td style="text-align: left;width: 35%;">{{ selectedLocation['gst_type'] }}</td>
            <td style="text-align: left;width: 15%;">GST No.:</td>
            <td style="text-align: left;">{{ selectedLocation['gst_no'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left; width: 15%;">Address:</td>
            <td style="text-align: left;" colspan="3">{{ selectedLocation['address'] }}</td>
          </tr>
        </table>
      </div>

      <h3>Materials:</h3>
      <table class="table" *ngIf="selectedResult['material_type']=='Raw Material'|| selectedResult['material_type']=='Packing Material'">
        <tr>
          <th>Sr.</th>
          <th style="text-align: left;">Material Type</th>
          <th style="text-align: left;">Material Code</th>
          <th style="text-align: left;">Material Name</th>
          <th>Grade</th>
          <th>Qty</th>
          <th>Rate/Unit</th>
          <th>Received Rate</th>
          <th>Diff.</th>
          <th>Required For</th>
          <th>GST</th>
          <th>Gross</th>
          <th>Tax</th>
          <th>Net</th>
        </tr>
        <tr *ngFor="let comp of selectedResult['materials']; let i = index">
          <td>{{ i + 1 }}.</td>
          <td style="text-align: left;">{{ comp.material_type }}-{{ comp.material_subtype }}</td>
          <td style="text-align: left;">{{ comp.material_code }}</td>
          <td style="text-align: left;">{{ comp.material_name }}</td>
          <td>{{ comp.grade }}</td>
          <td>{{ comp.qty }} {{ comp.unit }}</td>
          <td>{{ comp.rate }}</td>
          <td style="padding: 0px;width: 20px;">
            <input type="text" name="recevied_rate" [(ngModel)]="comp['received_rate']" required (keyup)="calculation(i)" style="margin: 0px;height: 33px;">
          </td>
          <td>{{ comp.diff }}</td>
          <td>{{ comp.required_for }}</td>
          <td>{{ comp.gst }}</td>
          <td>{{ comp.gross_total }}</td>
          <td>{{ comp.gst_total }}</td>
          <td>{{ comp.net_total }}</td>
        </tr>
        <tr *ngIf="selectedResult['materials'].length == 0">
            <td colspan="13">{{'common.noRecords' | translate}}</td>
        </tr>
        <tr *ngIf="selectedResult['materials'].length !== 0">
          <td colspan="11" style="text-align: right;">Total:</td>
          <td style="font-weight: 600;">{{ selectedResult['gross_total'] }}</td>
          <td style="font-weight: 600;">{{ selectedResult['gst_total'] }}</td>
          <td style="font-weight: 600;">{{ selectedResult['net_total'] }}</td>
        </tr>
      </table>
      <table class="table" *ngIf="selectedResult['material_type']=='General Material'">
        <tr>
          <th>Sr.</th>
          <th style="text-align: left;">Material Type</th>
          <th style="text-align: left;">Material Code</th>
          <th style="text-align: left;">Material Name</th>
          <th>Grade</th>
          <th>Qty</th>
          <th>Rate/Unit</th>
          <th>Received Rate</th>
          <th>Diff.</th>
          <th>Required For</th>
          <th>GST</th>
          <th>Gross</th>
          <th>Tax</th>
          <th>Net</th>
        </tr>
        <tr *ngFor="let comp of selectedResult['materials']; let i = index">
          <td>{{ i + 1 }}.</td>
          <td style="text-align: left;">{{ comp.material_type }}-{{ comp.material_subtype }}</td>
          <td style="text-align: left;">{{ comp.material_code }}</td>
          <td style="text-align: left;">{{ comp.material_name }}</td>
          <td>{{ comp.grade }}</td>
          <td>{{ comp.qty }} {{ comp.unit }}</td>
          <td>{{ comp.rate }}</td>
          <td style="padding: 0px;width: 20px;">
            <input type="text" name="recevied_rate" [(ngModel)]="comp['received_rate']" required (keyup)="calculation(i)" style="margin: 0px;height: 33px;">
          </td>
          <td>{{ comp.diff }}</td>
          <td>{{ comp.required_for }}</td>
          <td>{{ comp.gst }}</td>
          <td>{{ comp.gross_total }}</td>
          <td>{{ comp.gst_total }}</td>
          <td>{{ comp.net_total }}</td>
        </tr>
        <tr *ngIf="selectedResult['materials'].length == 0">
            <td colspan="13">{{'common.noRecords' | translate}}</td>
        </tr>
        <tr *ngIf="selectedResult['materials'].length !== 0">
          <td colspan="11" style="text-align: right;">Total:</td>
          <td style="font-weight: 600;">{{ selectedResult['gross_total'] }}</td>
          <td style="font-weight: 600;">{{ selectedResult['gst_total'] }}</td>
          <td style="font-weight: 600;">{{ selectedResult['net_total'] }}</td>
        </tr>
      </table>
      <table class="table" *ngIf="selectedResult['material_type']=='Chemicals'">
        <tr>
          <th>Sr.</th>
          <th style="text-align: left;">Chemical No</th>
          <th style="text-align: left;">Chemical Name</th>
          <th>Grade</th>
          <th>Qty</th>
          <th>Rate/Unit</th>
          <th>Received Rate</th>
          <th>Diff.</th>
          <th>Required For</th>
          <th>GST</th>
          <th>Gross</th>
          <th>Tax</th>
          <th>Net</th>
        </tr>
        <tr *ngFor="let comp of selectedResult['materials']; let i = index">
          <td>{{ i + 1 }}.</td>
          <td style="text-align: left;">{{ comp.chemical_no }}</td>
          <td style="text-align: left;">{{ comp.chemical_name }}</td>
          <td>{{ comp.grade }}</td>
          <td>{{ comp.qty }} {{ comp.unit }}</td>
          <td>{{ comp.rate }}</td>
          <td style="padding: 0px;width: 20px;">
            <input type="text" name="recevied_rate" [(ngModel)]="comp['received_rate']" required (keyup)="calculation(i)" style="margin: 0px;height: 33px;">
          </td>
          <td>{{ comp.diff }}</td>
          <td>{{ comp.required_for }}</td>
          <td>{{ comp.gst }}</td>
          <td>{{ comp.gross_total }}</td>
          <td>{{ comp.gst_total }}</td>
          <td>{{ comp.net_total }}</td>
        </tr>
        <tr *ngIf="selectedResult['materials'].length == 0">
            <td colspan="13">{{'common.noRecords' | translate}}</td>
        </tr>
        <tr *ngIf="selectedResult['materials'].length !== 0">
          <td colspan="10" style="text-align: right;">Total:</td>
          <td style="font-weight: 600;">{{ selectedResult['gross_total'] }}</td>
          <td style="font-weight: 600;">{{ selectedResult['gst_total'] }}</td>
          <td style="font-weight: 600;">{{ selectedResult['net_total'] }}</td>
        </tr>
      </table>
      <table class="table" *ngIf="selectedResult['material_type']=='Glasswares'">
        <tr>
          <th>Sr.</th>
          <th style="text-align: left;">Glassware No</th>
          <th style="text-align: left;">Glassware Descripion</th>
          <th>Grade</th>
          <th>Qty</th>
          <th>Rate/Unit</th>
          <th>Received Rate</th>
          <th>Diff.</th>
          <th>Required For</th>
          <th>GST</th>
          <th>Gross</th>
          <th>Tax</th>
          <th>Net</th>
        </tr>
        <tr *ngFor="let comp of selectedResult['materials']; let i = index">
          <td>{{ i + 1 }}.</td>
          <td style="text-align: left;">{{ comp.glassware_no }}</td>
          <td style="text-align: left;">{{ comp.description }}</td>
          <td>{{ comp.grade }}</td>
          <td>{{ comp.qty }} {{ comp.unit }}</td>
          <td>{{ comp.rate }}</td>
          <td style="padding: 0px;width: 20px;">
            <input type="text" name="recevied_rate" [(ngModel)]="comp['received_rate']" required (keyup)="calculation(i)" style="margin: 0px;height: 33px;">
          </td>
          <td>{{ comp.diff }}</td>
          <td>{{ comp.required_for }}</td>
          <td>{{ comp.gst }}</td>
          <td>{{ comp.gross_total }}</td>
          <td>{{ comp.gst_total }}</td>
          <td>{{ comp.net_total }}</td>
        </tr>
        <tr *ngIf="selectedResult['materials'].length == 0">
            <td colspan="13">{{'common.noRecords' | translate}}</td>
        </tr>
        <tr *ngIf="selectedResult['materials'].length !== 0">
          <td colspan="10" style="text-align: right;">Total:</td>
          <td style="font-weight: 600;">{{ selectedResult['gross_total'] }}</td>
          <td style="font-weight: 600;">{{ selectedResult['gst_total'] }}</td>
          <td style="font-weight: 600;">{{ selectedResult['net_total'] }}</td>
        </tr>
      </table>
      <br>
      <div class="clr-row">
        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
          <label>Remark:</label>
          <textarea name="remark" ngModel rows="2"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="updateChallan('approve')">{{'common.approve' | translate}}</button>
    <button class="btn btn-danger" (click)="updateChallan('reject')">{{'common.reject' | translate}}</button>
    <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
  </div>
</div>