.card {
    border-color: #004A70;
  }
  .card-header {
    background-color:#004A70;
    color:white;
    text-align: center;
  }
  select, input[type=text], input[type=number], input[type=date], textarea {
    width: 100%;
    height: auto;
    padding: 4px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
  }
  .invalidinput {
    background-color: red;
  }
  input:read-only, textarea:read-only{
    background-color: lightgray;
  }
  
  td {
    border: 1px solid black;
  }