 
        <div class="card-text"><div class="card" *ngIf="!isView && !isLog">
            <div class="card-header" style="text-align: center">
                <div class="clr-row" style="margin-bottom: -10px;">
                    <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">Revision Request</div>
                    <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                        <button class="btn btn-sm btn-info" (click)="openLog()">Log</button>
                        <button class="btn btn-sm btn-danger" routerLink="/qa">{{'common.close' | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="card-block"  >
                <div class="card-text">
                    <div class="clr-row">
                       
                        <table class="table table-border">
                            <tr>
                                <td style="font-weight: bolder;background-color: maroon;color: white;">{{'common.table.srNo' | translate}}</td>
                                <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">Request For</td>
                                <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">Ref. Doc. No.</td>
                                <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">Doc. Name</td>
                                <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">Revision Comment</td>
                                <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">Request By</td>
                                <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">Request Date</td>
                                <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">{{'common.status' | translate}}</td>
                                <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">{{'common.table.action' | translate}}</td>
                            </tr>
                            <tr *ngFor="let item of result; let i = index;">
                                <td style="font-weight: bold;">{{i+1}}</td>
                                <td style="text-align: left;font-weight: bold;">{{item.reqFor}}</td>
                                <td style="text-align: left;font-weight: bold;">{{item.refDocNo}}</td>
                                <td style="text-align: left;font-weight: bold;">{{item.refDocName}}</td>
                                <td style="text-align: left;font-weight: bold;">{{item.revisionComment}}</td>
                                <td style="text-align: left;font-weight: bold;">{{item.entryBy}}</td>
                                <td style="text-align: left;font-weight: bold;">{{item.entryOn | date:'dd-MM-yyyy'}}</td>
                                <td style="text-align: left;font-weight: bold;">{{item.status }}</td>
                                <td style="text-align: left;font-weight: bold;">
                                    <button class="btn btn-primary" (click)="view(i)">{{'common.view' | translate}}</button>
                                </td>
                            </tr>
                            <tr *ngIf="result?.length==0">
                                <td colspan="10">No record Found ............</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn  btn-danger" routerLink="/qa/qms/sops">{{'common.close' | translate}}</button>
                </div>
            </div>
        </div>
        
        
        <div class="card" *ngIf="isLog && !isView">
            <div class="card-header" style="text-align: center">
                <div class="clr-row" style="margin-bottom: -10px;">
                    <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">Revision Request Log</div>
                    <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                        <select [(ngModel)]="logStatus" (change)="getRevisionRequestLog()" style="margin-right: 8px;">
                            <option value="All">All Status</option>
                            <option value="Pending">Pending</option>
                            <option value="Accepted">Accepted</option>
                            <option value="Rejected">Rejected</option>
                        </select>
                        <select [(ngModel)]="logReqFor" (change)="getRevisionRequestLog()" style="margin-right: 8px;">
                            <option value="All">All Request Type</option>
                            <option value="SOP Revision Request">SOP Revision Request</option>
                            <option value="Specification Revision Request">Specification Revision Request</option>
                        </select>
                        <input type="text" [(ngModel)]="logSearch" placeholder="Search log" style="margin-right: 8px;">
                        <button class="btn btn-sm btn-warning" (click)="closeLog()">Back</button>
                        <button class="btn btn-sm btn-danger" routerLink="/qa">{{'common.close' | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="card-text">
                    <table class="table table-border">
                        <tr>
                            <td style="font-weight: bolder;background-color: maroon;color: white;">{{'common.table.srNo' | translate}}</td>
                            <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">Request For</td>
                            <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">Ref. Doc. No.</td>
                            <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">Doc. Name</td>
                            <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">Revision Comment</td>
                            <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">Request By</td>
                            <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">Request Date</td>
                            <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">{{'common.status' | translate}}</td>
                            <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">{{'common.table.action' | translate}}</td>
                        </tr>
                        <tr *ngFor="let item of filteredLogResults; let i = index;">
                            <td style="font-weight: bold;">{{i+1}}</td>
                            <td style="text-align: left;font-weight: bold;">{{item.reqFor}}</td>
                            <td style="text-align: left;font-weight: bold;">{{item.refDocNo}}</td>
                            <td style="text-align: left;font-weight: bold;">{{item.refDocName}}</td>
                            <td style="text-align: left;font-weight: bold;">{{item.revisionComment}}</td>
                            <td style="text-align: left;font-weight: bold;">{{item.entryBy}}</td>
                            <td style="text-align: left;font-weight: bold;">{{item.entryOn | date:'dd-MM-yyyy'}}</td>
                            <td style="text-align: left;font-weight: bold;">{{item.status}}</td>
                            <td style="text-align: left;font-weight: bold;">
                                <button class="btn btn-primary" (click)="view(i)">{{'common.view' | translate}}</button>
                            </td>
                        </tr>
                        <tr *ngIf="filteredLogResults?.length==0">
                            <td colspan="10">No record Found ............</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
        
        <div class="card" *ngIf="isView">
            <div class="card-header" style="text-align: center">
                <div class="clr-row" style="margin-bottom: -10px;">
                    <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Revision Request</div>
                    <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                        <button class="btn btn-sm btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="card-block"  >
                <div class="card-text">
                    <form #deviation="ngForm">
                        <div class="clr-row">
                            <div class="clr-col-12">
                                <table class="table table-border">
                                    <tr>
                                        <td style="text-align: left;font-weight: bolder; background-color:blue;color: white;">Request For</td>
                                        <td style="text-align: left;font-weight: bolder; background-color:blue;color: white;">Ref. Doc. No.</td>
                                        <td style="text-align: left;font-weight: bolder; background-color:blue;color: white;">Doc. Name</td>
                                        <td style="text-align: left;font-weight: bolder; background-color:blue;color: white;">Revision Comment</td>
                                        <td style="text-align: left;font-weight: bolder; background-color:blue;color: white;">Request By</td>
                                        <td style="text-align: left;font-weight: bolder; background-color:blue;color: white;">Request Date</td>
                                    <tr>
                                        <td style="text-align: left;font-weight: bold;">{{selectedResult['reqFor']}}</td>
                                        <td style="text-align: left;font-weight: bold;">{{selectedResult['refDocNo']}}</td>
                                        <td style="text-align: left;font-weight: bold;">{{selectedResult['refDocName']}}</td>
                                        <td style="text-align: left;font-weight: bold;">{{selectedResult['revisionComment']}}</td>
                                        <td style="text-align: left;font-weight: bold;">{{selectedResult['entryBy']}}</td>
                                        <td style="text-align: left;font-weight: bold;">{{selectedResult['entryOn'] | date:'dd-MM-yyyy'}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button *ngIf="selectedResult['status'] == 'Pending'" class="btn btn-primary" (click)="approveReq()">{{'common.approve' | translate}}</button>
                    <button class="btn  btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
                </div>
            </div>
        </div>
        
        
        
        
  <clr-modal [(clrModalOpen)]="isRevision" clrModalSize="xl" [clrModalClosable]="true">
      <h3 class="modal-title">Revision Request</h3>
      <div class="modal-body">
          <div class="card">            
              <div class="card-block">
                  <div class="card-text">
                      <form #reviRequestForm="ngForm">
                          <div class="card-title">Revision Request</div>
                          <div class="card-text">
                              <table class="table table-border">
                                  <tr>
                                      <td style="text-align: left;font-weight: bolder;background-color: aquamarine;">SOP No.</td>
                                      <td style="text-align: left;font-weight: bolder;background-color: aquamarine;">Version No.</td>
                                      <td style="text-align: left;font-weight: bolder;background-color: aquamarine;">Supersedes No.</td>
                                      <td style="text-align: left;font-weight: bolder;background-color: aquamarine;">Name Of SOP</td>
                                      <td style="text-align: left;font-weight: bolder;background-color: aquamarine;">SOP Type</td>
                                      <td style="text-align: left;font-weight: bolder;background-color: aquamarine;">{{'common.department' | translate}}</td>
                                      <td style="text-align: left;font-weight: bolder;background-color: aquamarine;">Revision Date</td>
                                      <td style="text-align: left;font-weight: bolder;background-color: aquamarine;">Effective Date</td>
                                      <td style="text-align: left;font-weight: bolder;background-color: aquamarine;">{{'common.status' | translate}}</td>
                                      <td style="text-align: left;font-weight: bolder;background-color: aquamarine;">View SOP</td>
                                    </tr>
                                  <tr>
                                      <td style="text-align: left;font-weight: bold;">{{selectedResult['sopNo']}}</td>
                                      <td style="text-align: left;font-weight: bold;">{{selectedResult['version_no']}}</td>
                                      <td style="text-align: left;font-weight: bold;">{{selectedResult['supersedNo']}}</td>
                                      <td style="text-align: left;font-weight: bold;">{{selectedResult['sopName']}}</td>
                                      <td style="text-align: left;font-weight: bold;">{{selectedResult['sopType']}}</td>
                                      <td style="text-align: left;font-weight: bold;">{{selectedResult['department']}}</td>
                                      <td style="text-align: left;font-weight: bold;">{{selectedResult['revisionDate']}}</td>
                                      <td style="text-align: left;font-weight: bold;">{{selectedResult['effectiveDate']}}</td>
                                      <td style="text-align: left;font-weight: bold;">{{selectedResult['sopStatus']}}</td>
                                      <td style="text-align: left;font-weight: bold;">
                                          <button class="btn btn-primary btn-sm" (click)="viewFile(selectedResult['fileName'])">View SOP</button>
                                      </td>
                                  </tr>
                              </table>
                              <div></div>
                              <table class="table table-border"  >
                                  <tr>
                                      <td style="text-align: left;font-weight: bolder;background-color: maroon;color: white;">Revision Comment</td>
                                   </tr>
                                  <tr>
                                      <td style="text-align: left;font-weight: bold;padding: 0;margin: 0;">
                                          <textarea name="revisionComment" [(ngModel)]="revisionComment" required></textarea>
                                      </td>
                                  </tr>
                              </table>
                          </div>
                      </form>
                  </div>
              </div>
              <div class="card-footer">
   
                  <button    class="btn btn-success" (click)="saveRequest(reviRequestForm)">{{'common.submit' | translate}}</button>
                  <button    class="btn btn-danger" (click)="isRevision=false;">{{'common.close' | translate}}</button>
              </div>
          </div>
      </div>
  </clr-modal>