<div class="module">
  <div class="subdiv">
    <div class="purchase-block">
      <div class="dash-header-qa">
        <div class="title-block">
          <h2>Day/Plant Stores</h2>
        </div>
        <div class="header-actions-row">
          <a class="close-btn" routerLink="/" aria-label="Close">
            <i class="fas fa-times"></i>
            Close
          </a>
        </div>
      </div>

      <div class="master-block">
        <div class="section">
          <div class="line-container" >
            <div class="heading">
              <h3>Day/Plant Stores Section</h3>
            </div>
          </div>
          <div class="card-block" style="display: grid;grid-template-columns: repeat(6, 150px);row-gap: 0px;grid-gap: 35px;overflow-x: auto;max-width: 100%;">

            <div *ngFor="let day of stores" class="item-block"  (click)="routeTo(day.dayStoreName,day.dayStoreCode)">
              <i class="fas fa-store"></i>
              <span>{{day.dayStoreName}} - ( {{day.dayStoreCode}} )</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 