<div class="card" *ngIf="!isView && !isData && !isdeviation">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Checking for Received Raw Materials</div>
      <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm btn-danger" routerLink="/godownStore/raw/receiving"> {{'common.close' | translate}} </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <div class="clr-row">

 
      </div>
      <clr-datagrid [clrDgLoading]="loading">

        <clr-dg-column>Sr. </clr-dg-column>
        <clr-dg-column clrDgField="po_no">Po No</clr-dg-column>
        <clr-dg-column clrDgField="entry_date">P.O Date</clr-dg-column>
        <clr-dg-column clrDgField="vendor_name">Vendor Name</clr-dg-column>
        <clr-dg-column clrDgField="challan_no">Packaging Slip</clr-dg-column>
        <clr-dg-column clrDgField="challan_date">Packaging Slip Date</clr-dg-column>
        <clr-dg-column clrDgField="material_code">Material Code</clr-dg-column>
        <clr-dg-column clrDgField="material_name">Material Name</clr-dg-column>
        <clr-dg-column clrDgField="status">{{'common.status' | translate}}</clr-dg-column>
        <clr-dg-column clrDgField="qty_status">Short / Extra Qty</clr-dg-column>
        <!-- <clr-dg-column >View Challan</clr-dg-column> -->
        <clr-dg-column >{{'common.table.action' | translate}}</clr-dg-column>

        <clr-dg-row *clrDgItems="let user of results; let i = index" [clrDgItem]="user">
          <clr-dg-cell>{{i+1}}</clr-dg-cell>
          <clr-dg-cell>{{user.po_no}}</clr-dg-cell>
          <clr-dg-cell>{{user.po_date | date: 'dd-MM-yyyy'}}</clr-dg-cell>
          <clr-dg-cell>{{user.vendor_name}}</clr-dg-cell>
          <clr-dg-cell>{{user.challan_no}}</clr-dg-cell>
          <clr-dg-cell>{{user.challan_date | date: 'dd-MM-yyyy'}}</clr-dg-cell>
          <clr-dg-cell>{{user.material_code}}</clr-dg-cell>
          <clr-dg-cell>{{user.material_name}}</clr-dg-cell>
          <clr-dg-cell>{{user.status}}</clr-dg-cell>
          <clr-dg-cell>{{user.qty_status}}</clr-dg-cell>
          <!-- <clr-dg-cell><button class="btn btn-sm btn-primary" (click)="viewfile(user.challan_file)">View Challan</button></clr-dg-cell> -->
          <!-- <clr-dg-cell><button class="btn btn-sm btn-info" (click)="view(i)">PROCEED</button></clr-dg-cell> -->
          <clr-dg-cell>
            <button class="btn btn-sm btn-info" (click)="edit(i)" *ngIf="user.error ==''">{{'common.table.action' | translate}}</button>
            <button class="btn btn-sm btn-info" (click)="edit(i)" *ngIf="user.error !=''" disabled>{{'common.table.action' | translate}}</button>
            <button class="btn btn-sm btn-info" (click)="view(i)" *ngIf="user.error ==''" disabled>{{'common.edit' | translate}}</button>
            <button class="btn btn-sm btn-info" (click)="view(i)" *ngIf="user.error !=''" >{{'common.edit' | translate}}</button>
          </clr-dg-cell>

          <!-- <td><button class="btn btn-sm btn-info">{{'common.email' | translate}}</button></td> -->
          <!-- <td><button class="btn btn-sm btn-info"(click)="downloadOrder(i)">{{'common.download' | translate}}</button></td> -->
        </clr-dg-row>
        
      </clr-datagrid>
    </div>
  </div>
</div>



<div class="card" *ngIf="isView">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Checking for Received Raw Materials</div>
      <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm" (click)="viewf()" style="background-color: red;color: white;"> {{'common.close' | translate}} </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <table class="table table-border" style="border: 1px solid black;">
        <tr>
          <td style="text-align: left;"><b>Material Name:</b></td>
          <td style="text-align: left;">{{ selectedReport['material_name'] }}</td>
          <td style="text-align: left;"><b>Material Code:</b></td>
          <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['material_code'] }}</td>
        </tr>
        <tr *ngIf="selectedReport['vendor_type']=='Manufacturer'">
          <td style="text-align: left;"><b>Manufacturer Name:</b></td>
          <td style="text-align: left;">{{ selectedReport['manufacturer_name'] }}</td>
          <td style="text-align: left;"><b>Supplier Name:</b></td>
          <td  style="text-align: left;">{{ selectedReport['manufacturer_name'] }}</td>
        </tr>
        <tr *ngIf="selectedReport['vendor_type']=='Supplier'">
          <td style="text-align: left;"><b>Manufacturer Name:</b></td>
          <td style="text-align: left;">{{ selectedReport['manufacturer_name'] }}</td>
          <td style="text-align: left;"><b>Supplier Name:</b></td>
          <td  style="text-align: left;">{{ selectedReport['vendor_name'] }}</td>
        </tr>
        <!-- <tr>
          <td style="text-align: left;"><b>Manufacturer:</b></td>
          <td style="text-align: left;">{{ selectedPO['manufacturer'] }}</td>
        </tr> -->
        <tr>
          <td style="text-align: left;"><b>Packaging Slip:</b></td>
          <td style="text-align: left;">{{ selectedReport['challan_no'] }}</td>
          <td style="text-align: left;"><b>Packaging Slip Date:</b></td>
          <td style="text-align: left;">{{ selectedReport['challan_date'] | date: 'dd-MM-yyyy' }}</td>
        </tr>
        <tr>
          <td style="text-align: left;"><b>PO No.:</b></td>
          <td *ngIf="selectedPO['po_no']" style="text-align: left;">{{ selectedReport?.po_no }}</td>
          <td *ngIf="selectedPO['po_no']" style="text-align: left;">N/A</td>
          <td style="text-align: left;"><b>Material Type:</b></td>
          <td style="text-align: left;">{{ selectedReport['material_type'] }}</td>
        </tr>
        <tr>
          
          <td style="text-align: left;"><b>Material Subtype:</b></td>
          <td style="text-align: left;">{{ selectedReport['material_subtype'] }}</td>
          <td style="text-align: left;"><b>Qty:</b></td>
          <td *ngIf="selectedPO['qty']>0" style="text-align: left;border-right: 1px solid black;">{{ selectedReport['qty'] }} {{ selectedReport['unit'] }}</td>
       
        </tr>
       

      </table>
      <br>
      <form #basicForm="ngForm">
        <div class="clr-row">
          <div class="clr-col-lg-2 clr-col-md-2 clr-col-xs-12">
            <label>Container type:</label>
            <select [disabled]="container_type =='Tanker'" name="container_type" [(ngModel)]="container_type" required
              (change)="addContainer()">
              <option>Drum</option>
              <option>Bag</option>
              <option>Boxes</option>
              <option>Tanker</option>
              <!-- <option style="color:red">Add New</option> -->
            </select>
          </div>
          <div class="clr-col-lg-2 clr-col-md-2 clr-col-xs-12" *ngIf="container_type == 'Drum'">
            <label>Drum:</label>
            <select name="container_subtype" ngModel required>
              <option>GI Drum</option>
              <option>MS Drum</option>
              <option>HDPE Drum</option>
              <option>Fiber Board Drum</option>
              <option>Aluminium Container</option>
            </select>
          </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-xs-12" *ngIf="container_type == 'Bag'">
            <label>Bag:</label>
            <select name="container_subtype" ngModel required>
              <option>Polyethylene Bag</option>
              <option>Pollinated Bag</option>
              <option>Gunny Bag</option>
              <option>Paper Bag</option>
              <option>HDPE Bag</option>
            </select>
          </div>
          <div class="clr-col-lg-2 clr-col-md-2 clr-col-xs-12" *ngIf="container_type == 'Boxes'">
            <label>Boxes:</label>
            <select name="container_subtype" ngModel required>
              <option>Corrugated Boxes</option>
              <option>Cartons</option>
              <option>PVC Box</option>
              
            </select>
          </div>
          <div class="clr-col-lg-3 clr-col-md-3  clr-col-sm-12 clr-col-xs-12">
            <label>Qty. As per challan: {{ selectedPO['unit'] }}</label>
            <input type="text" OnlyNumdigit="true" name="challan_qty" (keypress)="number($event.target.value)"
              [(ngModel)]="challan_qty" required>
          </div>
          <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12"
            *ngIf="material_subtype=='Liquid' && 'Solvents' && 'Solvent'">
            <label>Conversion (Kg to Litre)</label>
            <select name="conversion" ngModel required>
              <option></option>
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
        
          <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12"  >
            <label>Vendor:</label>
            <select name="mfg_by" [(ngModel)]="mfg_by" style="margin: 0px;">
              <option *ngFor="let v of vendorM" [value]="v.vendor_no">{{v.vendor_name}}</option>
            </select>
                    </div>
          </div>
      
      </form>
      <form #labelform="ngForm">
        <table class="table">
          <tr>
            <th>Medicap Lot No</th>
            <th>Batch Qty</th>
            <th>Pack Size</th>
            <th>{{'common.unit' | translate}}</th>
            <th *ngIf="container_type !== 'Tanker'">No Of Containers</th>
            <th>Mfg Date</th>
            <th *ngIf="plant_id=='72'">Date_Type</th>
            <th *ngIf="plant_id=='72'">{{'common.date' | translate}}</th>
            <th *ngIf="plant_id!='72'">Exp Date</th>
            <th *ngIf="vendor_type== 'Supplier'">MFG By.</th>
            <th>COA Received:</th>
            <th>Upload COA:</th>
            <th>{{'common.table.action' | translate}}</th>
            <!-- <th>COA</th> -->
            <!-- <th>Vendor</th> -->
          </tr>
          <tr> 
             <td style="padding:0px;width: 10%;"> <input type="text" name="batch_no" ngModel required style="margin:0px;"></td>
            <td style="padding:0px;width: 10%;"> <input type="number" (input)="checkValue($event)" name="qty_received"
                [(ngModel)]="qty_received" style="margin:0px;" (keyup)="getContainerNo()"> </td>
            <td style="padding:0px;width: 10%;" *ngIf="container_type !== 'Tanker'"> <input type="number" name="pack_size"
                [(ngModel)]="pack_size" min="0" max="999999" style="margin:0px;" (keyup)="getContainerNo()"></td>
            <td style="padding:0px;" *ngIf="container_type == 'Tanker'"> <input type="number" name="pack_size"
                [(ngModel)]="pack_size" min="0" max="999999" readonly style="margin:0px;" (keyup)="getContainerNo()">
            </td>

            <td style="padding:0px;width: 10%;">
              <input type="text" name="unit" [ngModel]="selectedPO['unit']" style="margin: 0px;"
                [value]="selectedPO['unit']" readonly>
            </td>
            <td style="padding: 0px;" *ngIf="container_type != 'Tanker'"><input type="number" OnlyNumber="true"
                name="total_containers" [(ngModel)]="total_containers" required style="margin: 0px;" readonly></td>

            <td style="padding:0px;"><input type="date" name="mfg_date" ngModel [max]="maxDate" 
                style="margin:0px;"></td>
              
            <td style="padding:0px;" *ngIf="plant_id ==  '72'">
              <select name="date_type" ngModel style="margin: 0px;">
                <option>Best Before</option>
                <option>Retest Date</option>
                <option>Shelf Life</option>
                <option>Revaluation date</option>
                <option>Expiry Date</option>
              </select>
            </td>
            

            <td style="padding:0px;"><input type="date" name="exp_date" ngModel [min]="minDate" 
                style="margin:0px;"></td>
              
         
            <td>
              <select name="coa_received" [(ngModel)]="coa_received" required>
                <option ></option>
                <option>Yes</option>
                <option >No</option>
                <option>Hold</option>
              </select>
            </td>
            <td *ngIf="coa_received=='Yes'">
              <input type="file" name="coa_file" [(ngModel)]="coa_file" (change)="onFileChanged3($event)">
                  
            </td>
            <td><button class="btn btn-sm btn-info" (click)="addlabel(labelform)" style="margin:0px;">{{'common.add' | translate}}</button></td>
          </tr>
          </table>
          <table class="table">
            <tr>
              <th>Medicap Lot No</th>
              <th>Batch Qty</th>
              <th>Pack Size</th>
              <th>{{'common.unit' | translate}}</th>
              <th *ngIf="container_type !== 'Tanker'">No Of Containers</th>
              <th>Mfg Date</th>
              <th *ngIf="plant_id=='72'">Date_Type</th>
              <th *ngIf="plant_id=='72'">{{'common.date' | translate}}</th>
              <th *ngIf="plant_id!='72'">Exp Date</th>
              <th  >MFG By.</th>
              <th>COA  </th>
             
              <th>{{'common.table.action' | translate}}</th>
              <!-- <th>COA</th> -->
              <!-- <th>Vendor</th> -->
            </tr>
          <tr *ngFor="let list of labelList;let i=index">
             <td>{{list.batch_no}}</td>
            <td>{{list.qty_received}}</td>
            <td>{{list.pack_size}}</td>
            <td>{{list.unit}}</td>
            <td *ngIf="container_type != 'Tanker'">{{ list.total_containers }}</td>
            <td>{{list.mfg_date | date:'MMM-yyyy' | uppercase}}</td>
            <td *ngIf="plant_id ==  '72'">{{list.date_type}}</td>
            <td>{{list.exp_date | date:'MMM-yyyy' | uppercase}}</td>
            <td>{{list.mfg_by}}</td>
            <td *ngIf="list.coa_files===''">Not Uploaded</td>
            <td *ngIf="list.coa_files!=''">  Uploaded</td>
         

          
            <td>
              <button class="btn btn-sm btn-info" (click)="deleteLabel(list.batch_no)">{{'common.delete' | translate}}</button>
            </td> 
          </tr>
          <tr *ngIf="labelList?.length == 0">
            <td colspan="12">No Record Found!</td>
          </tr>
        </table>
        <input *ngIf="container_type == 'Tanker'" type="hidden" name="total_containers" ngModel="1" tabindex="-1">
      </form>


      <form #receivingForm="ngForm" style="margin-top:20px;">
        <div class="clr-row">
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
            <label>Actual Received Qty: {{ selectedPO['unit'] }}</label>
            <input type="text" OnlyNumdigit="true" name="received_qty" [(ngModel)]="qtyReceived" required readonly
              tabindex="-1">
          </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" *ngIf="container_type!=='Tanker'">
            <label>No. of Containers:</label>
            <input type="text" name="containerTotal" [(ngModel)]="containerTotal" required readonly tabindex="-1">
          </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
            <label>Short / Extra Quantity</label>
            <input type="text" OnlyNumdigit="true" name="qty_status" [(ngModel)]="result" required readonly
              tabindex="-1">
          </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
            <label>PO Status</label>
            <select name="po_status" [(ngModel)]="po_status">
              <option></option>
              <option>Accept</option>
              <option>Keep Open</option>
              <option *ngIf="result>0">Raise Additional</option>
              <option *ngIf="result>0">Return Material</option>
            </select>
          </div>
        </div>
        <h3 *ngIf="container_type=='Tanker'">Tanker Detalis:</h3>
        <h3 *ngIf="container_type!=='Tanker'">Container Details:</h3>
        <div class="clr-row">
          <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-md-12">
            <label *ngIf="container_type!=='Tanker'">Cleanliness of Containers:</label>
            <label *ngIf="container_type=='Tanker'">Cleanliness of Tanker:</label>
            <select name="container_condition" ngModel="Satisfactory" required>
              <option>Satisfactory</option>
              <option>Not Satisfactory</option>
            </select>
          </div> -->
          <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-md-12"
            *ngIf="receivingForm.value.container_condition == 'Not Satisfactory'">
            <label>If Not, Remark:</label>
            <input type="text" name="container_condition_remark" ngModel required style="border: 1px solid red;">
          </div> -->
          <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-md-12">
            <label *ngIf="container_type=='Tanker'">Integrity of Tankers Seal:</label>
            <label *ngIf="container_type!=='Tanker'">Integrity of Containers Seal:</label>
            <select name="container_seal" ngModel="Satisfactory" required>
              <option>Satisfactory</option>
              <option>Not Satisfactory</option>
            </select>
          </div> -->
          <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-md-12"
            *ngIf="receivingForm.value.container_seal == 'Not Satisfactory'">
            <label>If Not, Remark:</label>
            <input type="text" name="container_seal_remark" ngModel required style="border: 1px solid red;">
          </div> -->
          <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-md-12">
            <label>Status of Document Received:</label>
            <select name="document_status" ngModel="Satisfactory" required>
              <option>Satisfactory</option>
              <option>Not Satisfactory</option>
            </select>
          </div> -->
          <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-md-12"
            *ngIf="receivingForm.value.document_status == 'Not Satisfactory'">
            <label>If Not, Remark:</label>
            <input type="text" name="document_status_remark" ngModel required style="border: 1px solid red;">
          </div> -->
          <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-xs-12" *ngIf="container_type!=='Tanker'">
            <label>Packing Intactness / Condition:</label>
            <select name="packing_condition" ngModel required>
              <option>OK</option>
              <option>NOT OK</option>
            </select>
          </div> -->
          <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-xs-12" *ngIf="container_type!=='Tanker'">
            <label>Outer Packing:</label>
            <select id="outer_packing" name="outer_packing" ngModel required>
              <option>Sealed</option>
              <option>Unsealed</option>
            </select>
          </div> -->
          <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-md-12">
            <label>Specific storage condition:</label>
            <select name="storage_condition"  [(ngModel)]="storage_condition" required>
              <option>YES</option>
              <option>NO</option>
            </select>
          </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-md-12" *ngIf="storage_condition=='YES'">
            <label>Storage Condition:</label>
            <input type="text" name="storage_condition_info" [(ngModel)]="storage_condition_info" >
          </div> -->
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" *ngIf="software_type!=='Pharma ERP'">
            <label *ngIf="container_type!=='Tanker'">Damage Container Observed:</label>
            <label *ngIf="container_type=='Tanker'">Any Leakage Or Damage Observed:</label>
            <select name="isdamagecontainer" [(ngModel)]="isdamagecontainer"
              (change)="checkdamage($event.target.value)">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
          <!-- <h4 style="color: red;" *ngIf="isdamagecontainer=='Yes'">(Please Fill the Damage Container Inspection Report)
          </h4> -->
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12"
            *ngIf="container_type!=='Tanker' && isdamagecontainer=='Yes'">
            <label>Outer Damage Containers:</label>
            <input type="text" OnlyNumber="true" name="outer_damage" [(ngModel)]="outer_damage"
              (keypress)="number($event.target.value)">
          </div>

          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12"
            *ngIf="container_type!=='Tanker' && isdamagecontainer=='Yes'">
            <label>Inner Damage Containers:</label>
            <input type="text" OnlyNumber="true" name="inner_damage" [(ngModel)]="inner_damage"
              (keypress)="number($event.target.value)">
          </div>

          <!-- <div class="clr-col-lg-12 clr-col-md-12 clr-col-xs-12" *ngIf="isDamage">
            <label>Remark (if Any):</label>
            <textarea rows="2" name="remark" ngModel required></textarea>
          </div> -->
        </div>
        
        <h3>Receiving Checklist:</h3>
        <form #checkList="ngForm">
          <div class="clr-row">
            <table class="table chkPoint" cellspacing="2">
              <tr >
                <th style="background-color:#144196;color:white;font-size:15px">{{'common.table.srNo' | translate}}</th>
                <th style="background-color:#144196;color:white;font-size:15px;text-align:left;">Parameters</th>
                <th style="background-color:#144196;color:white;font-size:15px">{{'common.remarks' | translate}}</th>
              </tr>
              <tr *ngFor="let hr of checkPointData;let i = index" style="margin: 0px;">
                <td style="padding: 0px !important; margin: 0px;">{{i+1.}}</td>
                <td style="text-align:left;padding: 0px !important;margin: 0px;">{{hr.check_point}}</td>
                <td style="padding: 0px !important;margin: 0px;">

                  <div *ngIf="hr.evl_pr=='1'">
                    <input  type="text" min="0" name="check" [(ngModel)]="hr.check"
                     required
                      style="width:35%  !important; height: 25px !important;padding: auto !important;box-sizing: border-box !important; margin:auto !important">
                  </div>


                  <div *ngIf="hr.evl_pr=='2'">
                  <select  name="check" [(ngModel)]="hr.check" required
                    style="width:35%  !important; height: 25px !important;padding: auto !important;box-sizing: border-box !important; margin:auto !important">
                    <option>Yes</option>
                    <option>No</option>
                    <option>NA</option>
                  </select>
                </div>
                  <div *ngIf="hr.evl_pr=='3'">
                  <select  name="check" [(ngModel)]="hr.check" required
                    style="width:35%  !important; height: 25px !important;padding: auto !important;box-sizing: border-box !important; margin:auto !important">
                    <option>OK</option>
                    <option>Not Ok</option>
                    <option>NA</option>
                  </select>
                </div>
                  <div *ngIf="hr.evl_pr=='4'">
                  <select  name="check" [(ngModel)]="hr.check" required
                    style="width:35%  !important; height: 25px !important;padding: auto !important;box-sizing: border-box !important; margin:auto !important">
                    <option>Satisfactory</option>
                    <option>Not Satisfactory</option>
                    <option>NA</option>
                  </select>
                </div>
                  <div *ngIf="hr.evl_pr=='5'">
                  <select  name="check" [(ngModel)]="hr.check" required
                    style="width:35%  !important; height: 25px !important;padding: auto !important;box-sizing: border-box !important; margin:auto !important">
                    <option>Applicable</option>
                    <option>Not Applicable</option>
                    <option>NA</option>
                  </select>
                </div>
                  <div *ngIf="hr.evl_pr=='6'">
                  <select  name="check" [(ngModel)]="hr.check" required
                    style="width:35%  !important; height: 25px !important;padding: auto !important;box-sizing: border-box !important; margin:auto !important">
                    <option>Cleaned</option>
                    <option>Not Cleaned</option>
                    <option>NA</option>
                  </select>
                </div>
                  <div *ngIf="hr.evl_pr=='7'">
                  <select  name="check" [(ngModel)]="hr.check" required
                    style="width:35%  !important; height: 25px !important;padding: auto !important;box-sizing: border-box !important; margin:auto !important">
                    <option>Sealed </option>
                    <option>Unsealed</option>
                    <option>NA</option>
                  </select>
                </div>
                  <div *ngIf="hr.evl_pr=='8'">
                  <select  name="check" [(ngModel)]="hr.check" required
                    style="width:35%  !important; height: 25px !important;padding: auto !important;box-sizing: border-box !important; margin:auto !important">
                    <option>verified</option>
                    <option>Not Verfied</option>
                    <option>NA</option>
                  </select>
                </div>
                  <div *ngIf="hr.evl_pr=='9'">
                  <select  name="check" [(ngModel)]="hr.check" required
                    style="width:35%  !important; height: 25px !important;padding: auto !important;box-sizing: border-box !important; margin:auto !important">
                    <option>Covered</option>
                    <option>Uncovered</option>
                    <option>NA</option>
                  </select>
                </div>



                </td>
              </tr>
              <!-- <button class="btn btn-primary" (click)="save(checkList)">{{'common.save' | translate}}</button> -->

            </table>
          </div><br>
          <!-- <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
            <label>Remark(if any):</label>
            <textarea class="form-control" ngModel name="remark" rows="3"></textarea>
          </div> -->
          <br>
        </form>
        <div *ngIf="isdamagecontainer=='Yes'">
        <h3>Damage Container</h3>
        <form #checkList1="ngForm" >
          <div class="clr-row">
            <table class="table chkPoint" cellspacing="2">
              <tr >
                <th style="background-color:#144196;color:white;font-size:15px">Sr.</th>
                <th style="background-color:#144196;color:white;font-size:15px">Parameters</th>
                <th style="background-color:#144196;color:white;font-size:15px">{{'common.remarks' | translate}}</th>
              </tr>
              <tr *ngFor="let hr of checkPointData1;let i = index" style="margin: 0px;">
                <td style="padding: 0px !important; margin: 0px;">{{i+1.}}</td>
                <td style="text-align:left;padding: 0px !important;margin: 0px;">{{hr.check_point}}</td>
                <td style="padding: 0px !important;margin: 0px;">

                  <div *ngIf="hr.evl_pr=='2'">
                    <select  name="check" [(ngModel)]="hr.check" required
                      style="width:35%  !important; height: 25px !important;padding: auto !important;box-sizing: border-box !important; margin:auto !important">
                      <option>Yes</option>
                      <option>No</option>
                      <option>NA</option>
                    </select>
                  </div>
  </td>
              </tr>
            </table>
          </div><br>
          <!-- <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
            <label>Remark(if any):</label>
            <textarea class="form-control" ngModel name="remark" rows="3"></textarea>
          </div> -->
          <br>
        </form>
      </div>


        <table class="table" *ngIf="container_type=='Tanker' && plant_id == '59'">
          <tr>
            <td style="text-align: left;"><button class="btn btn-sm btn-primary" (click)="isTanker='true'" >Tanker Permit Record</button></td>
            <td><button class="btn btn-sm btn-danger" (click)="isViewtankerCheck=true">View </button></td>
            
          </tr>
        </table>
        <table class="table" *ngIf="container_type=='Tanker'">
          <tr>
            <td style="text-align: left;"><button class="btn btn-sm btn-primary" (click)="isChecklist='true'" >Fill
                Tanker Inspection Checklists</button></td>
            <td><button class="btn btn-sm btn-danger" (click)="isViewCheck=true">View Checklists</button></td>
          </tr>
        </table>

        <h3>Others Details:</h3>
        <div class="clr-row">
          <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" *ngIf="container_type!=='Tanker'">
            <label>Vehicle Condition:</label>
            <select name="vehicle_condition" ngModel="OPEN" required>
              <option>OPEN</option>
              <option>COVERED</option>
            </select>
          </div> -->
          <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" *ngIf="container_type!=='Tanker'">
            <label>Cleanliness of Vehicle:</label>
            <select name="vehicle_cleanliness" ngModel="Satisfactory" required>
              <option>Satisfactory</option>
              <option>Not Satisfactory</option>
            </select>
          </div> -->
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-md-12"
            *ngIf="receivingForm.value.vehicle_cleanliness == 'Not Satisfactory'">
            <label>If Not, Remark:</label>
            <input type="text" name="vehicle_cleanliness_remark" ngModel required style="border: 1px solid red;">
          </div>

          <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
            <label>COA Received:</label>
            <select name="coa_received" [(ngModel)]="coa_received" required>
              <option>Yes</option>
              <option *ngIf="software_type!=='Pharma ERP'">No</option>
              <option>Hold</option>
            </select>
          </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" *ngIf="coa_received == 'Yes'">
            <label>Upload COA:</label>
            <input type="file" name="upload_coa" (change)="onFileChanged($event)" accept="application/pdf">
          </div> -->
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" *ngIf="coa_received == 'Hold'">
            <label>Remark for Hold:</label>
            <input type="text" name="hold_remarks">
          </div>


          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" *ngIf="software_type!=='Pharma ERP'">
            <label>Dedusting Applicable:</label>
            <select name="dedusting_applicable" ngModel="No" required>
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>

          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" *ngIf="software_type!=='Pharma ERP'">
            <label>Select Approver:</label>
            <select name="approver" ngModel>
              <option>NA</option>
              <option *ngFor="let res of employees">{{res.emp_id}}</option>
            </select>
          </div>


          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" *ngIf="software_type!=='Pharma ERP'">
            <label>Received By:</label>
            <select name="approver" ngModel>
              <option>NA</option>
              <option *ngFor="let res of employees">{{res.emp_id}}</option>
            </select>
          </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-6 clr-col-xs-6" *ngIf="software_type!=='Pharma ERP'">
            <!-- <label>Receiving Start Time:<span style="color: red">*</span></label> -->
            <label>Receiving Start Time:</label>
            <input type="time" name="entry_time_start" [(ngModel)]="entry_time_start" [min]="min_time"
              [max]="max_time" />
          </div>
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-6 clr-col-xs-6" *ngIf="software_type!=='Pharma ERP'">
            <!-- <label>Receiving End Time:<span style="color: red">*</span></label> -->
            <label>Receiving End Time:</label>
            <input type="time" name="entry_time_end" [(ngModel)]="entry_time_end" [min]="min_time" [max]="max_time" />
          </div>



        </div>
        <div *ngIf="coa_received == 'No'">
          <div class="card" style="border-color: lightcoral;">
            <div class="card-header" style="background-color: lightcoral; text-align: left; padding: 5px;">Deviation Details:(For Non Receipt of Material COA)</div>
            <div class="card-block">
              <div class="card-text">
                <div class="clr-row" ngModelGroup="deviation">
                  <div class="clr-col-lg-3">
                    <label>Deviation Related To:</label>
                    <input type="text" name="related_to" ngModel="Material" readonly tabindex="-1">
                  </div>
                  <div class="clr-col-lg-3">
                    <label>Deviation Category:</label>
                    <input type="text" name="deviation_category" ngModel="Unplanned Deviation" readonly tabindex="-1">
                  </div>
                  <div class="clr-col-lg-3">
                    <label>Type Of Deviation:</label>
                    <select name="type" ngModel="Minor" required>
                      <option value="Minor">Minor</option>
                      <option value="Major">Major</option>
                      <option value="Critical">Critical</option>
                    </select>
                  </div>
                  <div class="clr-col-lg-3">
                    <label>Impact on Quality:</label>
                    <select name="isImapactQuality" [(ngModel)]="isImapactQuality" required>
                      <option>YES</option>
                      <option>NO</option>
                    </select>
                  </div>
                  <div class="clr-col-lg-4">
                    <label>Justification for type:</label>
                    <textarea name="justification" ngModel required></textarea>
                  </div>
                  <div class="clr-col-lg-4">
                    <label>Description of Deviation/Root Cause:</label>
                    <textarea name="cause" ngModel required></textarea>
                  </div>
                  <div class="clr-col-lg-4" *ngIf="isImapactQuality == 'YES'">
                    <label>Impact on Quality:</label>
                    <textarea name="quality_impact" ngModel required></textarea>
                  </div>
                  <div class="clr-col-12">
                    <fieldset style="border: solid 1px #a8a8a8;">
                      <legend
                        style="width:auto; margin-bottom: 0px; font-size: 12px; font-weight: bold; color: #1f497d;">
                        Cross Functional Departments Remark</legend>
                      <div class="clr-row" style="padding-left: 15px;">
                        <div class="clr-control-container clr-control-inline">
                          <div class="clr-checkbox-wrapper" *ngFor="let order of departments; let i = index">
                            <input class="clr-checkbox" id="{{order.name}}" type="checkbox" name="{{order.name}}"
                              [(ngModel)]="order.value">
                            <label for="{{order.name}}" class="clr-control-label">{{order.name}}</label>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <div class="card-footer">
    <button [clrLoading]="validateBtnState" class="btn btn-info-outline" (click)="update('release')">{{'common.approve' | translate}}</button>
    <button class="btn btn-warning" (click)="update('reject')">{{'common.reject' | translate}}</button>
    <button class="btn btn-danger" (click)="isdeviation = false">{{'common.close' | translate}}</button>
  </div> -->
  <div class="card-footer">
    <button class="btn btn-primary" (click)="update('reject')">{{'common.submit' | translate}}</button>
    <button class="btn btn-danger" (click)="isdeviation = false">{{'common.close' | translate}}</button>
  </div>
</div>






<div class="card" *ngIf="isData">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Received Material for Checking</div>
      <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm btn-danger" (click)="isData = false"> {{'common.close' | translate}} </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <h3 class="modal-title">Correction</h3>
    <div class="modal-body">
      <form #errorForm="ngForm">
      <div class="clr-row">
        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12">
          <label>Error Reason:</label>
          <select name="error" [(ngModel)]="error" required>
            <option></option>
            <option >Typographical Error</option>
            <option >Neglegence</option>
            <option >Deviation</option>
            <option >Reject</option>
            <option>Other</option>   
          </select>
          
        </div>
        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12" *ngIf="error=='Other'">
          <label>Error Reason:</label>
          <input type="textarea" name="error" ngModel>
        </div>
        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12" *ngIf="error=='Typographical Error' || error=='Neglegence'">
          <label>Incident No:</label>
          <input type="textarea" name="error" ngModel>
        </div>
  
        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12" *ngIf="error=='Deviation'">
          <label>Deviation No:</label>
          <input type="textarea" name="error" ngModel>
        </div>
        <div>OR</div>
        <div class="clr-col-lg-2 clr-col-md-4 clr-col-sm-12"  *ngIf="error=='Typographical Error' || error=='Neglegence'">
          <button type="button" class="btn btn-primary" >Raise Incident</button>
        </div>
        <div class="clr-col-lg-2 clr-col-md-4 clr-col-sm-12"  *ngIf="error=='Deviation'">
          <button type="button" class="btn btn-primary" (click)="deviation(i)" >Raise Deviation</button>
        </div>
        </div>
      </form>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="errorUpdate(errorForm)">{{'common.reject' | translate}}</button>
        <button type="button" class="btn btn-danger" (click)="isData = false">{{'common.cancel' | translate}}</button>
    
      </div>
    <div>
  <div class="card-footer">
    <button [clrLoading]="validateBtnState" class="btn btn-info-outline" (click)="update('release')">{{'common.approve' | translate}}</button>

    <!-- <button class="btn btn-success" (click)="update('approve')">{{'common.approve' | translate}}</button> -->
    <button class="btn btn-warning" (click)="update('reject')">{{'common.reject' | translate}}</button>
    <button class="btn btn-danger" (click)="isdeviation = false">{{'common.close' | translate}}</button>
  </div>
</div>
</div>
</div>
<div class="card" *ngIf="isdeviation">
  <h3 class="modal-title">Correction</h3>
  <div class="modal-body">
    <form #deviation="ngForm">
      <div class="clr-row">
          <div class="clr-col-lg-4">
              <label> Deviation For</label>
              <select name="deviation_for" ngModel (change)="getDeviationFor($event.target.value)" required>
                  <option></option>
                  <option value="Material">Material</option>
                  <option value="Product">Product</option>
              </select>
          </div>

          <div class="clr-col-lg-4" *ngIf="isMaterial">
              <label> Material Type</label>
              <select name="material_type"  (change)="getMaterial($event.target.value)" ngModel required>
                  <option></option>
                  <option value="Raw Material">Raw Material</option>
                  <option value="Packing Material">Packing Material</option>
              </select>
          </div>
          <div class="clr-col-lg-4" *ngIf="isproduct">
              <label> Material / Product Name</label>
              <select name="material_code" ngModel required>
                  <option></option>
                  <option *ngFor="let mat of products" [value]="mat.product_code">{{ mat.product_name }}</option>
              </select>
          </div>
          <div class="clr-col-lg-4" *ngIf="israw || ispacking && !isproduct">
              <label> Material / Product Name</label>
              <select name="material_code" ngModel required>
                  <option></option>
                  <option *ngFor="let mat of products" [value]="mat.material_code">{{ mat.material_name }}</option>
              </select>
          </div>
          <div class="clr-col-lg-4" *ngIf="isproduct">
              <label> Stage</label>
              <input type="text" name="stage" ngModel required>
          </div>
          <div class="clr-col-lg-6">
              <label> Lot No. / batch No. /Receiving no:</label>
              <input type="text" name="document_no" ngModel required>
          </div>
   
          <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-6 clr-col-xs-12" style="margin-top: 10px;">
              <label>Deviation Observed In:</label>
              <p-multiSelect [options]="observed" name="observed_in" [(ngModel)]="selectedDeviation" optionLabel="name"></p-multiSelect>
          </div>
         
          <div class="clr-col-lg-12 clr-col-md-12">
              <label> Description Of Deviation :</label>
              <textarea name="description" ngModel rows="3" required></textarea>
          </div>
          <div class="clr-col-lg-12 clr-col-md-12">
              <label> Immediate Action / Remedial Action:</label>
              <textarea name="immediate_action" ngModel rows="3" required></textarea>
          </div>
          <div class="clr-col-lg-12 clr-col-md-12">
              <label> Impact Assessment:</label>
              <textarea name="impact_assessment" ngModel rows="3" required></textarea>
          </div>
          <div class="clr-col-lg-12 clr-col-md-12">
              <label>Other Batches Implicated(if any):</label>
              <textarea name="impact_other" ngModel rows="3" required></textarea>
          </div>
      </div>
  </form>
      
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="errorUpdate(errorForm)">{{'common.reject' | translate}}</button>
      <button type="button" class="btn btn-danger" (click)="isdeviation = false">{{'common.cancel' | translate}}</button>
  
    </div>
</div>
<!-- 
<clr-modal [(clrModalOpen)]="isData"  clrModalSize="xl" clrModalClosable="false">
  <h3 class="modal-title">Correction</h3>
  <div class="modal-body">
    <form #errorForm="ngForm">
    <div class="clr-row">
      <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12">
        <label>Error Reason:</label>
        <select name="error" [(ngModel)]="error" required>
          <option></option>
          <option >Typographical Error</option>
          <option >Neglegence</option>
          <option >Deviation</option>
          <option >Reject</option>
          <option>Other</option>   
        </select>
        
      </div>
      <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12" *ngIf="error=='Other'">
        <label>Error Reason:</label>
        <input type="textarea" name="error" ngModel>
      </div>
      <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12" *ngIf="error=='Typographical Error' || error=='Neglegence'">
        <label>Incident No:</label>
        <input type="textarea" name="error" ngModel>
      </div>

      <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12" *ngIf="error=='Deviation'">
        <label>Deviation No:</label>
        <input type="textarea" name="error" ngModel>
      </div>
      <div>OR</div>
      <div class="clr-col-lg-2 clr-col-md-4 clr-col-sm-12"  *ngIf="error=='Typographical Error' || error=='Neglegence'">
        <button type="button" class="btn btn-primary" >Raise Incident</button>
      </div>
      <div class="clr-col-lg-2 clr-col-md-4 clr-col-sm-12"  *ngIf="error=='Deviation'">
        <button type="button" class="btn btn-primary" (click)="deviation(i)" >Raise Deviation</button>
      </div>
      </div>
    </form>
      
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="errorUpdate(errorForm)">{{'common.reject' | translate}}</button>
      <button type="button" class="btn btn-danger" (click)="isData = false">{{'common.cancel' | translate}}</button>
  
    </div>
  
  </clr-modal> -->
<!-- 
<clr-modal [(clrModalOpen)]="isdeviation"  clrModalSize="xl" clrModalClosable="false">
  <h3 class="modal-title">Correction</h3>
  <div class="modal-body">
    <form #deviation="ngForm">
      <div class="clr-row">
          <div class="clr-col-lg-4">
              <label> Deviation For</label>
              <select name="deviation_for" ngModel (change)="getDeviationFor($event.target.value)" required>
                  <option></option>
                  <option value="Material">Material</option>
                  <option value="Product">Product</option>
              </select>
          </div>

          <div class="clr-col-lg-4" *ngIf="isMaterial">
              <label> Material Type</label>
              <select name="material_type"  (change)="getMaterial($event.target.value)" ngModel required>
                  <option></option>
                  <option value="Raw Material">Raw Material</option>
                  <option value="Packing Material">Packing Material</option>
              </select>
          </div>
          <div class="clr-col-lg-4" *ngIf="isproduct">
              <label> Material / Product Name</label>
              <select name="material_code" ngModel required>
                  <option></option>
                  <option *ngFor="let mat of products" [value]="mat.product_code">{{ mat.product_name }}</option>
              </select>
          </div>
          <div class="clr-col-lg-4" *ngIf="israw || ispacking && !isproduct">
              <label> Material / Product Name</label>
              <select name="material_code" ngModel required>
                  <option></option>
                  <option *ngFor="let mat of products" [value]="mat.material_code">{{ mat.material_name }}</option>
              </select>
          </div>
          <div class="clr-col-lg-4" *ngIf="isproduct">
              <label> Stage</label>
              <input type="text" name="stage" ngModel required>
          </div>
          <div class="clr-col-lg-6">
              <label> Lot No. / batch No. /Receiving no:</label>
              <input type="text" name="document_no" ngModel required>
          </div>
   
          <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-6 clr-col-xs-12" style="margin-top: 10px;">
              <label>Deviation Observed In:</label>
              <p-multiSelect [options]="observed" name="observed_in" [(ngModel)]="selectedDeviation" optionLabel="name"></p-multiSelect>
          </div>
         
          <div class="clr-col-lg-12 clr-col-md-12">
              <label> Description Of Deviation :</label>
              <textarea name="description" ngModel rows="3" required></textarea>
          </div>
          <div class="clr-col-lg-12 clr-col-md-12">
              <label> Immediate Action / Remedial Action:</label>
              <textarea name="immediate_action" ngModel rows="3" required></textarea>
          </div>
          <div class="clr-col-lg-12 clr-col-md-12">
              <label> Impact Assessment:</label>
              <textarea name="impact_assessment" ngModel rows="3" required></textarea>
          </div>
          <div class="clr-col-lg-12 clr-col-md-12">
              <label>Other Batches Implicated(if any):</label>
              <textarea name="impact_other" ngModel rows="3" required></textarea>
          </div>
      </div>
  </form>
      
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="errorUpdate(errorForm)">{{'common.reject' | translate}}</button>
      <button type="button" class="btn btn-danger" (click)="isData = false">{{'common.cancel' | translate}}</button>
  
    </div>
  
  </clr-modal> -->