<div class="container-fluid">
  <div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px">
        <div class="clr-col-9" style="color: aliceblue; margin-top: -2px; text-align: left">
          Meeting Announcement &amp; Agenda ({{ formNo }})
        </div>
        <div class="clr-col-lg-3" style="text-align: right; padding-right: 0; margin-top: -7px">
          <button class="btn btn-sm" routerLink="/qa/management-review-quality-systems" style="background-color: red; color: white">CLOSE</button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <form #announcementForm="ngForm">
        <table class="mrq-form__sheet-table">
          <tr>
            <td class="mrq-form__label-cell">TITLE:</td>
            <td colspan="3" class="mrq-form__title-cell">MANAGEMENT REVIEW OF QUALITY SYSTEMS - MEETING ANNOUNCEMENT</td>
          </tr>
          <tr>
            <td class="mrq-form__label-cell">FORM NO.:</td>
            <td class="mrq-form__value-cell">{{ formNo }}</td>
            <td class="mrq-form__label-cell">REF:</td>
            <td class="mrq-form__value-cell">{{ sopRef }}</td>
          </tr>
          <tr>
            <td class="mrq-form__label-cell">REVISION NO.:</td>
            <td class="mrq-form__value-cell">{{ revisionNo }}</td>
            <td class="mrq-form__label-cell">EFFECTIVE DATE:</td>
            <td class="mrq-form__value-cell">{{ effectiveDate | date: 'dd MMM yyyy' }}</td>
          </tr>
        </table>

        <div class="clr-row">
          <div class="clr-col-4">
            <label>Meeting In:<span class="mrq-form__required">*</span></label>
            <select class="mrq-form__select" name="meeting_in" ngModel required>
              <option value=""></option>
              <option *ngFor="let department of departments" [value]="department.department_name">{{ department.department_name }}</option>
            </select>
          </div>
          <div class="clr-col-4">
            <label>Meeting Date:<span class="mrq-form__required">*</span></label>
            <input class="mrq-form__input" type="date" name="meeting_date" ngModel required />
          </div>
          <div class="clr-col-4">
            <label>Meeting Time:<span class="mrq-form__required">*</span></label>
            <input class="mrq-form__input" type="time" name="meeting_time" ngModel required />
          </div>
          <div class="clr-col-4">
            <label>Review Period:<span class="mrq-form__required">*</span></label>
            <select class="mrq-form__select" name="review_period" ngModel required>
              <option value=""></option>
              <option *ngFor="let p of reviewPeriods" [value]="p">{{ p }}</option>
            </select>
          </div>
          <div class="clr-col-4">
            <label>Meeting Venue:</label>
            <input class="mrq-form__input" type="text" name="meeting_venue" ngModel />
          </div>
          <div class="clr-col-4">
            <label>Meeting Chairperson:<span class="mrq-form__required">*</span></label>
            <input class="mrq-form__input" type="text" name="meeting_chairperson" ngModel required />
          </div>
          <div class="clr-col-4">
            <label>QA Representative:<span class="mrq-form__required">*</span></label>
            <input class="mrq-form__input" type="text" name="qa_representative" ngModel required />
          </div>
          <div class="clr-col-4">
            <label>Meeting Representative:<span class="mrq-form__required">*</span></label>
            <input class="mrq-form__input" type="text" name="representative" ngModel required />
          </div>
        </div>

        <h4 class="mrq-form__section-title">Participants / Management Representatives:</h4>
        <table class="table">
          <tr>
            <th style="width: 50px">Sr.</th>
            <th>Name</th>
            <th style="width: 15%">ADD</th>
          </tr>
          <tr>
            <td>0.</td>
            <td style="padding: 0">
              <select class="mrq-form__select" name="participant_name" [(ngModel)]="selectedEmpId" (ngModelChange)="onParticipantChange()">
                <option value="">-- Select Employee (All Employees) --</option>
                <option *ngFor="let employee of employees" [value]="employee.emp_id">{{ participantDisplay(employee) }}</option>
              </select>
            </td>
            <td><button type="button" class="btn btn-sm btn-info" (click)="addParticipant()">ADD</button></td>
          </tr>
          <tr *ngFor="let p of participants; let i = index">
            <td>{{ i + 1 }}</td>
            <td style="text-align: left">{{ participantDisplay(p) }}</td>
            <td>#</td>
          </tr>
          <tr *ngIf="!participants.length">
            <td colspan="3">No participants added.</td>
          </tr>
        </table>

        <h4 class="mrq-form__section-title">Meeting Agenda (Quality System Review Items):</h4>
        <table class="table">
          <tr>
            <th style="width: 50px">Sr.</th>
            <th>Agenda</th>
            <th>Details</th>
            <th>ADD</th>
          </tr>
          <tr>
            <td>0.</td>
            <td style="padding: 0">
              <select class="mrq-form__select" name="agenda_select" [(ngModel)]="agenda">
                <option value=""></option>
                <option *ngFor="let opt of agendaOptions" [value]="opt">{{ opt }}</option>
              </select>
            </td>
            <td style="padding: 0"><input class="mrq-form__input" type="text" name="detail_input" [(ngModel)]="detail" /></td>
            <td><button type="button" class="btn btn-sm btn-info" (click)="addAgenda()">ADD</button></td>
          </tr>
          <tr *ngFor="let item of agendas; let i = index">
            <td>{{ i + 1 }}</td>
            <td style="text-align: left">{{ item.agenda }}</td>
            <td style="text-align: left">{{ item.detail }}</td>
            <td>#</td>
          </tr>
          <tr *ngIf="!agendas.length">
            <td colspan="4">No agenda items added.</td>
          </tr>
        </table>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="save(announcementForm)" [disabled]="announcementForm.invalid">SUBMIT</button>
      <button class="btn btn-danger" routerLink="/qa/management-review-quality-systems">CLOSE</button>
    </div>
  </div>
</div>
