<div class="component qa-legacy-dash">
  <div class="subsection">
    <div class="purchase-block">
      <div style="text-align:end" class="exit-section">
        <div class="header-block" style="margin:10px 0px">
          <h3>GMP Inspection of QC Laboratories (SOP-QA-007)</h3>
          <div routerLink="/qa" class="name-board2"><i class="fas fa-times"></i></div>
        </div>
      </div>

      <div class="main-section" style="margin: 0px 10px 10px 10px !important;">
        <div class="category">
          <div class="line-section">
            <div class="header-div">
              <h3>Quality Control Department Audit Checklist</h3>
            </div>
          </div>
          <div class="block-container">
            <div class="item-block" routerLink="new">
              <i class="fas fa-file-alt"></i>
              <span>New</span>
            </div>
            <div class="item-block" routerLink="log">
              <i class="fas fa-book"></i>
              <span>Log</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
