<div class="card" *ngIf="!isNewForm">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">New Employee Registration</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" routerLink="/joining" style="background-color: red;color: white;">
            <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
          </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <table class="table">
          <tr>
            <th>Canidiate Name</th>
            <th>{{'common.department' | translate}}</th>
            <th>{{'common.designation' | translate}}</th>
            <th>Department Remark</th>
            <th>VIEW</th>
          </tr>
          <tr *ngFor="let emp of employees; let i = index">
            <td>{{ emp.candidate_name }}</td>
            <td>{{ emp.finaldepartment }}</td>
            <td>{{ emp.finaldesignation }}</td>
            <td>{{ emp.dept_remark }}</td>
            <td>
              <button class="btn btn-sm btn-info" (click)="selectCandidate(i)">{{'common.view' | translate}}</button>
            </td>
          </tr>
          <tr *ngIf="employees?.length == 0">
            <td colspan="5" style="height:40px;">{{'common.noRecords' | translate}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  
  <div class="card" *ngIf="isNewForm">
    <div class="card-header">New Employee Registration</div>
    <div class="card-block">
      <div class="card-text">
        <table class="table">
          <tr>
            <td style="text-align: left;width: 20%;">Candidate Name:</td>
            <td style="text-align: left;">{{ selectedCandidate['candidate_name'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left;width: 20%;">Department:</td>
            <td style="text-align: left;">{{ selectedCandidate['finaldepartment'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left;width: 20%;">Designation:</td>
            <td style="text-align: left;">{{ selectedCandidate['finaldesignation'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left;width: 20%;">Department Remark:</td>
            <td style="text-align: left;">{{ selectedCandidate['dept_remark'] }}</td>
          </tr>
        </table>
        <br>
        <form #employeeRegistration="ngForm">
          <div class="clr-row">
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label><strong>Joining Date:</strong></label>
              <input type="date" name="joining_date" ngModel>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label><strong>Password:</strong></label>
              <input type="password" name="password" ngModel required>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label><strong>Birth Date:</strong></label>
              <input type="date" name="dob" ngModel>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label><strong>Emergency Contact:</strong></label>
              <input type="text" name="emergency_no" ngModel>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label><strong>Prev. Experience:</strong></label>
              <input type="text" name="experience" ngModel>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label><strong>Key Role:</strong></label>
              <input type="text" name="key_role" ngModel>
            </div>
          </div>
          <h3>Leaves Allocated:</h3>
          <div class="clr-row">
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Casual:</label>
              <input type="number" name="casual" ngModel="0">
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Sick:</label>
              <input type="number" name="sick" ngModel="0">
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>PL:</label>
              <input type="number" name="pl" ngModel="0">
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Other:</label>
              <input type="number" name="other" ngModel="0">
            </div>
          </div>
          <div class="form-group">
              <label class="clr-control-label">Special Benifits Allowed:</label>
              <div class="checkbox-inline">
                  <input type="checkbox" id="checkrads_5" name="transport" ngModel>
                  <label for="checkrads_5">Transport</label>
              </div>
              <div class="checkbox-inline">
                  <input type="checkbox" id="checkrads_6" name="cantine" ngModel>
                  <label for="checkrads_6">Cantine</label>
              </div>
              <div class="checkbox-inline">
                  <input type="checkbox" id="checkrads_7" name="telephone" ngModel>
                  <label for="checkrads_7">Telephone</label>
              </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-lg-6">
              <label>Upload Photo:</label>
              <input type="file" name="photo" ngModel (change)="onFileChanged3($event)">
            </div>
            <div class="clr-col-lg-6">
              <label>Upload Resume:</label>
              <input type="file" name="resume" ngModel (change)="onFileChanged($event)">
            </div>
          </div>
        <div class="clr-row">
          <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12" style="border-right: 1px solid lightgray;">
            <h3>Address (Permanant):</h3>
            <div class="clr-row">
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>State:</strong></label>
                <input type="text" name="permanant_state" [(ngModel)]="permanant_state">
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>District:</strong></label>
                <input type="text" name="permanant_district" [(ngModel)]="permanant_district">
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Taluka:</strong></label>
                <input type="text" name="permanant_taluka" [(ngModel)]="permanant_taluka">
              </div>
              <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Address:</strong></label>
                <textarea rows=2 name="address_permanent" [(ngModel)]="address_permanent"></textarea>
              </div>
            </div>
          </div>
          <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
            <h3>Address (Temporary): <input type="checkbox" name="temp_address" ngModel (ngModelChange)="checkAddress($event)"><label style="font-size: 12px;"> Same as Permanant</label></h3>
            <div class="clr-row">
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>State:</strong></label>
                <input type="text" name="temporary_state" [(ngModel)]="temporary_state">
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>District:</strong></label>
                <input type="text" name="temporary_district" [(ngModel)]="temporary_district">
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Taluka:</strong></label>
                <input type="text" name="temporary_taluka" [(ngModel)]="temporary_taluka">
              </div>
              <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Address:</strong></label>
                <textarea rows=2 name="address_temporary" [(ngModel)]="address_temporary"></textarea>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="saveEmployee(employeeRegistration)">{{'common.submit' | translate}}</button>
      <button class="btn btn-danger" (click)="isNewForm = false">{{'common.close' | translate}}</button>
    </div>
  </div>