* {
    margin-top: 3px;
}.checkbox-wrapper-43 input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox-wrapper-43 label {
    display: inline-block;
}

.checkbox-wrapper-43 .check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-43 .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.checkbox-wrapper-43 .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}

.checkbox-wrapper-43 .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}

.checkbox-wrapper-43 .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}

.checkbox-wrapper-43 .check:hover:before {
    opacity: 1;
}

.checkbox-wrapper-43 .check:hover svg {
    stroke: #4285f4;
}

.checkbox-wrapper-43 input[type="checkbox"]:checked+.check svg {
    stroke: #4285f4;
}

.checkbox-wrapper-43 input[type="checkbox"]:checked+.check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}

.checkbox-wrapper-43 input[type="checkbox"]:checked+.check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

.card-header {
    background-color: #2196f3bf;
}

.new {
    margin: -9px -0.4rem -9px -1px;
}

input[type="file"],
input[type="date"],
input[type="text"],
select,
textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* Adjusted to a more typical percentage for consistency */
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 15px;
    transition: all 0.5s ease;
    /* Smooth transition for all styles */
}

/* Focus styles for text inputs, dropdowns, and textareas */
input[type="file"]:focus,
input[type="date"]:focus,
input[type="text"]:focus,
select:focus,
textarea:focus {
    background-color: #f7fdff;
    /* Light background color on focus */
    border: 1px solid rgb(55, 55, 255);
    /* Blue border on focus */
    box-shadow: 0 0 5px turquoise;
    /* Turquoise shadow on focus */
    outline: none;
    /* Remove default outline */
}

.table td {
    font-size: .65rem;
    line-height: .9rem;
    border: 1px solid #1800a5;
    border-top-style: solid;
    border-top-width: .05rem;
    border-top-width: var(--clr-table-borderwidth, .05rem);
    border-top-color: #e8e8e8;
    border-top-color: #3e54df;
    padding: 0.55rem 1.6rem;
    text-align: center;
    vertical-align: top;
}

.table th {
    color: #ffffff;
    color: var(--clr-thead-color, #666666);
    font-size: .56rem;
    font-weight: 1000;
    letter-spacing: .03em;
    background-color: #523636;
    background-color: #8db2f7;
    vertical-align: bottom;
    border-bottom-style: solid;
    border-bottom-width: .05rem;
    border-bottom-width: var(--clr-table-borderwidth, .05rem);
    border-bottom-color: #ccc;
    border-bottom-color: #023eff;
    border-top: 0 none;
}