<div class="proc-draft-wrap">
  <div class="proc-draft-extra-toolbar">
    <span class="proc-draft-extra-label"><i class="fas fa-pen-ruler"></i> Drafting</span>
    <button type="button" class="proc-draft-btn" (click)="openTablePrompt()" title="Insert table">
      <i class="fas fa-table"></i> Table
    </button>
    <button type="button" class="proc-draft-btn" (click)="triggerImageUpload()" title="Attach image">
      <i class="fas fa-image"></i> Image
    </button>
    <button type="button" class="proc-draft-btn" (click)="insertInProcessBlock()" title="Insert in-process check block">
      <i class="fas fa-sliders-h"></i> In-Process
    </button>
    <button type="button" class="proc-draft-btn" (click)="insertHorizontalRule()" title="Insert divider">
      <i class="fas fa-minus"></i> Divider
    </button>

    <div class="proc-table-pop" *ngIf="tablePromptOpen">
      <span>Rows</span>
      <input class="eb-input proc-table-num" type="number" min="1" max="20" [(ngModel)]="tableRows" />
      <span>Cols</span>
      <input class="eb-input proc-table-num" type="number" min="1" max="12" [(ngModel)]="tableCols" />
      <button type="button" class="eb-mini-btn" (click)="insertTable()"><i class="fas fa-check"></i> Insert</button>
      <button type="button" class="eb-icon-btn" (click)="tablePromptOpen=false"><i class="fas fa-times"></i></button>
    </div>
  </div>

  <quill-editor
    #quill
    class="proc-quill"
    [style.min-height]="minHeight"
    [modules]="editorModules"
    theme="snow"
    [placeholder]="placeholder"
    [readOnly]="disabled"
    [(ngModel)]="content"
    (ngModelChange)="onContentChange($event)"
  ></quill-editor>

  <input #imageInput type="file" accept="image/*" hidden (change)="onImageSelected($event)" />
</div>
