<div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="app-page-header">
          <div class="app-page-header__title">Outdoor Duty Form</div>
          <div class="app-page-header__actions">
            <button class="btn btn-sm btn-danger" routerLink="/hrfordepthead/duty">{{'common.close' | translate}}</button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <form #Form="ngForm">
            <div class="clr-row">




              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Department:<span style="color: red;">*</span></strong></label>


              <select  name="department" #dept="ngModel"  [(ngModel)]="department"  (change)="getShiftSchedule($event.target.value)" required >
                <option></option>
                <option *ngFor="let dept of departments">  {{ dept.department_name }} </option>
                <option>ALL Employee</option>
              </select>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Employee:<span style="color: red;">*</span></strong></label>
              <select  name="emp_id"  [(ngModel)]="emp_id"    (change)="get_emp_data($event.target.selectedIndex)"  >
                <option></option>
                <option *ngFor="let dept of results;let i = index;" [value]="dept.Empolyee_Id">  {{ dept.firstname }}  {{ dept.lastname }} </option>
               </select>
            </div>
        

            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong>Outstation Duty Details:<span style="color: red;">*</span></strong></label>
                <input type="text" name="duty_details" ngModel required>
            </div>
            
 
        </div><br>
        
        <div class="card-title">Period Of Outstation:</div>
        <div class="card-text">
           
            <div class="clr-row">
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                    <label><strong>From Date:<span style="color: red;">*</span></strong></label>
                    <input type="date" name="from_date" [(ngModel)]="from_date" (change)="calculateDays()"  required>
                </div>

                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                    <label><strong>To Date:<span style="color: red;">*</span></strong></label>
                    <input type="date" name="to_date" [(ngModel)]="to_date" (change)="calculateDays()"  required>
                </div>

                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                    <label><strong>Total Days:<span style="color: red;">*</span></strong></label>
                    <input type="text" name="no_day" [(ngModel)]="no_day" required>
                </div>
            </div>  
            
        </div>           
            
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="saveduty(Form)">{{'common.save' | translate}}</button>
      </div>
    </div>
  </div>