<div class="container-fluid">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Prepare Checklist</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/qa/batchrelease" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
              </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                <form #checklist="ngForm">
                    <div class="clr-row"  *ngIf="plant_type=='Formulation'">
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label>Type of Dose:<span style="color: red">*</span></label>
                            <select name="dosage_type" [(ngModel)]="dosage_type" required >
                                <option>SOLID</option>
                                <option>LIQUID Oral</option>
                                <option>SEMI SOLID</option>
                                <option>External Liquid</option>
                            </select>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12" *ngIf="dosage_type=='SOLID'">
                            <label>Dosage Form:<span style="color: red">*</span></label>
                            <select name="dosage_form" [(ngModel)]="dosage_form" required >
                            <option >Tablet</option>
                            <option>Capsule</option>
                            <option>Powder</option>
                            <option>External Powder</option>
                            <option>Pellets</option>
                            <option>Granules</option>
                            </select>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12" *ngIf="dosage_type=='LIQUID Oral'">
                            <label>Dosage Form:<span style="color: red">*</span></label>
                            <select name="dosage_form" [(ngModel)]="dosage_form" required >
                            <option>Syrup</option>
                            <option>Elixer</option>
                            <option>Suspension</option>
                            <option>Oral Drops</option>
                            <option>Oral Gel</option>
                            </select>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12" *ngIf="dosage_type=='SEMI SOLID'">
                            <label>Dosage Form:<span style="color: red">*</span></label>
                            <select name="dosage_form" [(ngModel)]="dosage_form" required >
                            <option>Ointment</option>
                            <option>Creams</option>
                            <option>Gels</option>
                            </select>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12" *ngIf="dosage_type=='External Liquid'">
                            <label>Dosage Form:<span style="color: red">*</span></label>
                            <select name="dosage_form" [(ngModel)]="dosage_form" required >
                            <option>External Drops</option>
                            <option>Lotions</option>
                            <option>Liniment</option>
                            <option>Oils</option>
                            </select>
                        </div>
                    </div>
                </form>
                <h3>Master Checklist For Batch Release :</h3>
                <form #checkpoint="ngForm">
                    <table class="table table-border">
                        <tr>
                            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Checkpoints</th>
                            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Add</th>
                        </tr>
                        <tr>
                            <td>0.</td>
                            <td style="padding: 0px; text-align: middle ">
                                <input type="text" name="checkpoint" ngModel required style="margin: 0px;height: 33px;">
                            </td>
                            <td style="padding: 0px; vertical-align: middle;">
                                <button class="btn btn-sm btn-info" (click)="add(checkpoint)">{{'common.add' | translate}}</button>
                            </td>
                        </tr>
                        <tr *ngFor="let checkpoint of checkpoints; let i = index">
                            <td>{{ i + 1 }}.</td>
                            <td style="text-align: left;">{{ checkpoint }}</td>
                            <td>
                                <button class="btn btn-sm btn-danger-outline btn-icon" (click)="del(i)"><clr-icon shape="trash" class="is-error"></clr-icon></button>
                            </td>
                        </tr>
                        <tr *ngIf="checkpoints?.length == 0">
                            <td colspan="3">{{'common.noRecords' | translate}}</td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="save(checklist)">{{'common.save' | translate}}</button>
        </div>
    </div>
</div>