<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-lg-3" style="color: aliceblue;margin-top: -2px;text-align: left;"> New Stationary </div>
          <div class="clr-col-lg-9" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-danger" routerLink="/rnd/master/stationary">{{'common.close' | translate}}</button>
          </div>
        </div>
      </div>
    <div class="card-block">
        <div class="card-text">
            <form #abc="ngForm">
                <div class="clr-row">
                    <div class="clr-col-sm-6 clr-col-xs-6 clr-col-lg-6">
                        <label>Material Type:<span style="color: red;">*</span></label>
                        <select name="material_type" ngModel required>
                            <option>Engineering Spares</option>
                            <option>Stationary</option>
                            <option>Accessories</option>
                            <option>Equipment Parts</option>
                        </select>
                    </div>
                    <div class="clr-col-sm-6 clr-col-xs-6 clr-col-lg-6">
                        <label>Material Name:<span style="color: red;">*</span></label>
                        <input type="text" name="material_name" ngModel required>
                    </div>
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-6">
                        <label>GST:<span style="color: red;">*</span></label>
                        <select name="gst" ngModel>
                            <option></option>
                            <option *ngFor="let gs of gst" value="{{gs.igst}}">{{gs.description}}</option>   
                        </select>
                    </div>
                    <div class="clr-col-sm-6 clr-col-xs clr-col-lg-6">
                        <label>HSN:<span style="color: red;">*</span></label>
                        <input type="text" name="hsn" ngModel required>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary"(click)="save(abc)">{{'common.save' | translate}}</button>
    </div>
</div>