<div class="container-fluid">
    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Equipment Usage Section
          </div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/equipmentusage/dashbaord" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
      
      <div class="card-block">
       
         <div class="card">
        <div class="card-header" style="text-align: left; color: black; background-color: lightgreen;">
          Equipment Usage / Cleaning
        </div>

        <div class="card-block">
          <div class="clr-row">

            <!-- Equipment Selection / Scan -->
            <div class="clr-col-6">
              <label><strong>Select  Equipment:<sup style="color: red">*</sup></strong></label>
              <select [(ngModel)]="selectedEquipmentCode" name="selectedEquipment" (change)="onSelect()">
                <option value="" disabled selected>Select Equipment</option>
                <option *ngFor="let d of data" [value]="d.equipment_code">
                  {{ d.equipment_name }} ({{ d.equipment_code }})
                </option>
              </select>
            </div>

            <div class="clr-col-6">
              <label><strong>  Scan Equipment:<sup style="color: red">*</sup></strong></label>
              <input
                type="text"
                [(ngModel)]="barcodeValue"
                name="barcodeValue"
                (keyup.enter)="onScanBarcode(barcodeValue); barcodeValue='';"
                placeholder="Scan barcode here"
                autofocus
              />
            </div>

            <!-- Activity Table -->
            <div class="clr-col-12">
              <form #activityForm="ngForm">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>{{'common.date' | translate}}</th>
                      <th>Activity</th>
                      <th *ngIf="activity === 'Usage'">Product?</th>
                      <th *ngIf="activity === 'Usage' && productYesNo === 'Yes'">Product Name</th>
                      <th *ngIf="activity === 'Cleaning'">Cleaning Type</th>
                      <th *ngIf="activity === 'Cleaning' && (cleaningType === 'Batch to Batch' || cleaningType === 'Product Changover')">Product Name</th>
                      <th>Medicap Lot No</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Done By</th>
                      <th>Done On</th>
                      <th>{{'common.table.action' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Entry Row -->
                    <tr>
                      <td><input type="date" [(ngModel)]="date" name="date" /></td>
                      <td>
                        <select [(ngModel)]="activity" name="activity">
                          <option value="" disabled selected>Select Activity</option>
                          <option value="Usage">Usage</option>
                          <option value="Cleaning">Cleaning</option>
                        </select>
                      </td>

                      <!-- Product Yes/No for Usage -->
                      <td *ngIf="activity === 'Usage'">
                        <select [(ngModel)]="productYesNo" name="productYesNo">
                          <option value="" disabled selected>Product?</option>
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                        </select>
                      </td>

                      <!-- Product Name for Usage -->
                      <td *ngIf="activity === 'Usage' && productYesNo === 'Yes'">
                        <select [(ngModel)]="productName" name="productName">
                          <option value="" selected>Select Product</option>
                          <option *ngFor="let p of products">
                            {{ p.product_name }} - {{ p.product_code }}
                          </option>
                        </select>
                      </td>

                      <!-- Cleaning Type -->
                      <td *ngIf="activity === 'Cleaning'">
                        <select [(ngModel)]="cleaningType" name="cleaningType">
                          <option value="" disabled selected>Select Type</option>
                          <option value="Batch to Batch">Batch to Batch</option>
                          <option value="Product Changover">Product Changover</option>
                          <option value="Recleaning">Recleaning</option>
                        </select>
                      </td>

                      <!-- Product Name for Cleaning -->
                      <td *ngIf="activity === 'Cleaning' && (cleaningType === 'Batch to Batch' || cleaningType === 'Product Changover')">
                        <select [(ngModel)]="productName" name="productName">
                          <option value="" selected>Select Product</option>
                          <option *ngFor="let p of products">
                            {{ p.product_name }} - {{ p.product_code }}
                          </option>
                        </select>
                      </td>

                      <td><input type="text" [(ngModel)]="batchNo" name="batchNo" placeholder="Medicap Lot No" /></td>
                      <td><input type="time" [(ngModel)]="startTime" name="startTime" /></td>
                      <td><input type="time" [(ngModel)]="endTime" name="endTime" /></td>
                      <td>
                        <select [(ngModel)]="doneBy" name="doneBy" required>
                          <option value="" selected>Select</option>
                          <option *ngFor="let user of emps">{{ user.emp_name }} - {{ user.emp_id }}</option>
                        </select>
                      </td>
                      <td><input type="date" [(ngModel)]="doneOn" name="doneOn" /></td>

                      <td>
                        <button type="button" class="btn btn-sm btn-success" (click)="addRow(activityForm); $event.preventDefault()">
                          <clr-icon shape="plus" class="is-solid"></clr-icon><span *ngIf="!isSaving">Add</span>
  <span *ngIf="isSaving">Saving...</span>
                        </button>
                      </td>
                    </tr>

                    
                  
                  </tbody>
                </table>
              </form>
            </div>

          </div>
        </div>
      </div>
      </div>
    </div>
    </div>