<div class="card" *ngIf="!isEdit">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-3" style="color: aliceblue;margin-top: -2px;text-align: left;">Product List</div>
        <div class="clr-col-lg-9" style="text-align: right;padding-right: 0px;margin-top: -7px;">

          <button class="btn btn-sm btn-danger" routerLink="/mrp">{{'common.close' | translate}}</button>
        </div>
      </div>
    </div>


  <div class="card-block">
    <div class="clr-row">
      <div class="clr-col-lg-5">
        <label>Search </label>
        <input type="text" placeholder="Search..." [(ngModel)]="searchQuery">
      </div>
    </div>

    <div class="datagrid-wrapper">
        <clr-datagrid [clrDgLoading]="loading" >
          <clr-dg-column style="width: 10px;">{{'common.table.srNo' | translate}}</clr-dg-column>
           <clr-dg-column>Product Code</clr-dg-column>
          <clr-dg-column>Product Name</clr-dg-column>
         
          <clr-dg-column> For WorkOrder Prepareation</clr-dg-column>
          <clr-dg-column>to Approved Batch</clr-dg-column>
          <clr-dg-column>For Line Clearance</clr-dg-column>
          <clr-dg-column>for Dispensing</clr-dg-column>
          <clr-dg-column>To start production</clr-dg-column>
          <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column>


          <clr-dg-row *clrDgItems="let res of results; let i = index" [clrDgItem]="result">
            <clr-dg-cell> {{i+1}}</clr-dg-cell>
            <clr-dg-cell> {{res.product_code}}</clr-dg-cell>
            <clr-dg-cell> {{res.product_name}}</clr-dg-cell>
            
            <clr-dg-cell> {{res.work_orderDate || 'NA'}}</clr-dg-cell>
            <clr-dg-cell> {{res.batchApprovalDate || 'NA'}}</clr-dg-cell>
            <clr-dg-cell> {{res.LineClearanceDate || 'NA'}}</clr-dg-cell>
            <clr-dg-cell> {{res.DispensingDate || 'NA'}}</clr-dg-cell>
            <clr-dg-cell> {{res.productionDate || 'NA'}}</clr-dg-cell>
            <clr-dg-cell><button class="btn btn-danger" (click)="edit(i)" >{{'common.edit' | translate}}</button></clr-dg-cell>


          </clr-dg-row>
        </clr-datagrid>
      </div>
  </div>



    <div class="card-footer">
      <button class="btn  btn-success" (click)="exportToExcelMaterialMaster()">
        <clr-icon shape="download"></clr-icon> Download Excel
      </button>

      <button class="btn btn-primary" (click)="downloadReport()">{{'common.download' | translate}}</button>
    </div>
  </div>


  <div class="card" *ngIf="isEdit">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Raw Material update</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-danger" (click)="isEdit=!isEdit">{{'common.close' | translate}}</button>
        </div>
      </div>
    </div>

    <div class="card-block">
      <div class="card-text">
        <form #materialForm="ngForm">
          <div class="clr-row">



            <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Выходной контроль(QC Lead Time)(Days):<span style="color: red">*</span></label>
              <input type="text" name="lead_time" [(ngModel)]="lead_time" #material="ngModel">

            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Oldin kelishi kerak kun(Purchase Lead Time)(Days):<span style="color: red">*</span></label>
              <input type="text" name="purchase_lead_time" [(ngModel)]="purchase_lead_time" #material="ngModel">

            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Purchase alip kelish vagti(Purchase Delivery Time)(Days):<span style="color: red">*</span></label>
              <input type="text" name="PurchaseDeliveryTime" [(ngModel)]="PurchaseDeliveryTime" #material="ngModel">

            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Hurdo %(Moisture %)(Days):<span style="color: red">*</span></label>
              <input type="text" name="moisture" [(ngModel)]="moisture" #material="ngModel">

            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Oplata qun(For Payment)(Days):<span style="color: red">*</span></label>
              <input type="text" name="ForPayment" [(ngModel)]="ForPayment" #material="ngModel">

            </div> -->
            
             <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>No of days Required For WorkOrder Prepareation:<span style="color: red">*</span></label>
              <input type="text" name="work_orderDate" [(ngModel)]="work_orderDate" #material="ngModel">

            </div>
             <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>No of days  to Approved Batch:<span style="color: red">*</span></label>
              <input type="text" name="batchApprovalDate" [(ngModel)]="batchApprovalDate" #material="ngModel">

            </div>
              <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>No of days  For Line Clearance:<span style="color: red">*</span></label>
              <input type="text" name="LineClearanceDate" [(ngModel)]="LineClearanceDate" #material="ngModel">

            </div>
             <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>No of days Required for Dispensing:<span style="color: red">*</span></label>
              <input type="text" name="DispensingDate" [(ngModel)]="DispensingDate" #material="ngModel">

            </div>
             <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>No of days To start production:<span style="color: red">*</span></label>
              <input type="text" name="productionDate" [(ngModel)]="productionDate" #material="ngModel">

            </div>
             <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>No of days To start Packing:<span style="color: red">*</span></label>
              <input type="text" name="PackingDate" [(ngModel)]="PackingDate" #material="ngModel">

            </div>
             <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>No of days To FG Transfer:<span style="color: red">*</span></label>
              <input type="text" name="FgTransferDate" [(ngModel)]="FgTransferDate" #material="ngModel">

            </div>
             <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>No of days To Dispatch:<span style="color: red">*</span></label>
              <input type="text" name="DispatchDate" [(ngModel)]="DispatchDate" #material="ngModel">

            </div>



          </div>





        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="editRawMaterial(materialForm)">{{'common.update' | translate}}</button>
      <button type="button" class="btn btn-danger" (click)="isEdit = false">{{'common.cancel' | translate}}</button>
    </div>
  </div>
