<div class="container-fluid">
    <div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">General Material Purchase Requisitions for Approval</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/engineering/indend/general" style="background-color: red;color: white;">
                <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
            </div>
        </div>
     </div>
      <div class="card-block">
        <div class="card-text">
            <table class="table">
                <tr>
                    <th>Sr.</th>
                    <th>Purchase Requisition / Req. No</th>
                    <th>vendor No</th>
                    <th>client code</th>
                    <th style="text-align: left;">Material Type</th>
                    <th>Material code</th>
                    <th style="text-align: left;">Material Name</th>
                    <th>req. qty</th>
                    <th style="text-align: left;">Required For</th>
                    <th style="text-align: left;">Requirement</th>
                    <th style="text-align: left;">{{'common.table.action' | translate}}</th>
                </tr>
                <tr *ngFor="let indend of results; let i = index">
                    <td>{{ i + 1 }}.</td>
                    <td>{{indend.indend_no}}</td>
                    <td >{{indend.expected_vendor}}</td>
                    <td>{{indend.client_code}}</td>
                    <td style="text-align: left;">{{indend.material_type}}</td>
                    <td>{{indend.material_code}}</td>
                    <td style="text-align: left;">{{indend.material_name}}</td>
                    <td>{{indend.req_qty}}</td>
                    <td style="text-align: left;">{{indend.required_for}}</td>
                    <td style="text-align: left;">{{indend.requirement}}</td>
                    <td style="text-align: left;"><button class="btn btn-sm btn-primary" (click)="updateIndend('checked',indend.id)">{{'common.approved' | translate}}</button>
                    <button class="btn btn-sm btn-danger" (click)="updateIndend('reject',indend.id)">{{'common.reject' | translate}}</button></td>
                </tr>
                <tr *ngIf="results?.length == 0">
                    <td colspan="11">{{'common.noRecords' | translate}}</td>
                </tr>
            </table>
        </div>
      </div>
    </div>
</div>
  
 
