<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;"> NEW INPROCESS TEST REQUEST SLIP - ETP</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/ipqc/etp"
              style="background-color: red;color: white;">{{'common.close' | translate}}</button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <table class="table">
                <tr>
                      <th> Previous Product </th>
                    <th>Next Product</th>
                    <th>Equipment/Tank ID </th>
                    <th>ETP No</th>
                    <th>Sample ID </th>
                    <th>Sample Qty</th>
                    <th>{{'common.unit' | translate}}</th>
                    <th>Stage</th>
                    <th>Sample Send by</th>
                    <!-- <th>Sample Receive by</th> -->
                    <th>{{'common.table.action' | translate}}</th>
                </tr>
                <tr *ngFor="let res of results;let i=index">
                     <td>{{ res.previous_product }}</td>
                    <td>{{ res.next_product }}</td>
                    <!-- <td style="text-align: left;">{{ res.product_code}}</td> -->
                    <td style="text-align: left;">{{ res.equipment_code}}</td>
                    <td style="text-align: left;">{{ res.etp_no}}</td>
                    <td style="text-align: left;">{{ res.sample_id}}</td>
                    <td style="text-align: left;">{{ res.qty}}</td>
                    <td>{{ res.unit}}</td>
                    <td>{{ res.stage}}</td>
                    <td> {{ res.send_by }}</td>
                    <!-- <td> {{ res.sample_receive }}</td> -->
                    <td><button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button></td>
                </tr>
                <tr *ngIf="results?.length==0">
                    <td colspan="12">No Reord Found!</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="card" *ngIf="isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;"> INPROCESS TEST DETAILS</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" (click)="isView=false"
              style="background-color: red;color: white;">{{'common.close' | translate}}</button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <form #testform="ngForm">
            <table class="table">
                <tr>
                    <td style="text-align: left;"> To:</td>
                    <td style="text-align: left;"> </td>
                    <td style="text-align: left;"> From:</td>
                    <td style="text-align: left;"> </td>
                </tr>
                <tr>
                    <td style="text-align: left;"> Previous Product:</td>
                    <td style="text-align: left;">{{ selectedResult['previous_product']}} </td>
                    <td style="text-align: left;"> Next Product:</td>
                    <td style="text-align: left;">{{ selectedResult['next_product']}} </td>
                </tr>
                <tr>
                    <td style="text-align: left;"> Equipment/Tank ID :</td>
                    <td style="text-align: left;">{{ selectedResult['equipment_code'] }} </td>
                    <td style="text-align: left;"> ETP No:</td>
                    <td style="text-align: left;"> </td>
                </tr>
                <tr>
                    <td style="text-align: left;">Sample Id:</td>
                    <td style="text-align: left;"> {{ selectedResult['sample_id'] }} </td>
                    <td style="text-align: left;"> Stage:</td>
                    <td style="text-align: left;"> {{ selectedResult['stage'] }} </td>
                </tr>
            </table>
            <h3> Test Analysis Report</h3>
            <h3 style="text-align: center;" *ngIf="selectedResult['isspecification']=='no'"><span style="color: red;">Specification Not Available!</span></h3>
            <div *ngIf="selectedResult['isspecification']=='yes'">
                <table class="table">
                    <tr>
                        <th>{{'common.table.srNo' | translate}}</th>
                        <th>Stage</th>
                        <th>Test</th>
                        <th>Limits</th>
                        <th>Result</th>
                    </tr>
                    <tr *ngFor="let res of selectedResult['tests'];let i=index">
                        <td>{{ i+1 }}</td>
                        <td> {{ res.stage }}</td>
                        <td> {{ res.test }}</td>
                        <td>{{ res.limits }}</td>
                        <td style="padding: 0px;"><input type="text" name="result{{i}}" [(ngModel)]="res.result" style="margin: 0px;" required></td>
                    </tr>
                </table> 
                <div class="clr-col-lg-12">
                    <label>{{'common.table.remark' | translate}}</label>
                <select name="remark" [(ngModel)]="remark" required>
                    <option></option>
                    <option value="Compliances"> Compliances</option>
                    <option value="Not Compliances">Not Compliances</option>
                </select>
                </div>       
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="save()">{{'common.save' | translate}}</button>
        <button class="btn btn-danger" (click)="isView=false">{{'common.close' | translate}}</button>
    </div>
</div>
