<div class="card" *ngIf="!isNew">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">
                Weighing Balance Stamping Request Form
            </div>
            <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-primary" (click)="isNew=true">{{'common.new' | translate}}</button>
                <button class="btn btn-sm btn-danger" routerLink="/ehs/elecweighbal">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <clr-datagrid>
                <clr-dg-column>Sr. No</clr-dg-column>
                <clr-dg-column>Weighing Balance Capacity</clr-dg-column>
                <clr-dg-column>{{'common.quantity' | translate}}</clr-dg-column>
                <clr-dg-column>Location</clr-dg-column>
                <clr-dg-column>Send By</clr-dg-column>
                <clr-dg-column>Received By(Sign & Date)</clr-dg-column>
                <clr-dg-column>Approved By(Sign & Date)</clr-dg-column>
                <clr-dg-column>{{'common.remarks' | translate}}</clr-dg-column>
                <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column>
            </clr-datagrid>
        </div>
    </div>
</div>
<div class="card" *ngIf="isNew">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">
                Weighing Balance Stamping Request Form
            </div>
            <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-danger" routerLink="/ehs/elecweighbal">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
                <div class="card-body">
                        <div class="clr-row">
                            <div class="clr-col-lg-4">
                                <label for="reqfrom">From:</label>
                                 <select  name="reqFrom" [(ngModel)]="reqFrom">
                                    <option value="" disabled selected>--Select--</option>
                                    <option *ngFor="let data of departments; let i = index" >
                                        {{ data.department_name }}
                                    </option>
                                </select>
                            </div>
                            <div class="clr-col-lg-4">
                                <label for="department">To,Department</label>
                                <select  name="department" [(ngModel)]="department">
                                    <option value="" disabled selected>--Select--</option>
                                    <option *ngFor="let data of departments; let i = index" >
                                        {{ data.department_name }}
                                    </option>
                                </select>
                            </div>
                            <div class="clr-col-lg-4">
                                <label for="reqdate">{{'common.date' | translate}}</label>
                                <input type="date" [(ngModel)]="reqdate" name="reqdate" >
                            </div>
                        </div> 
                </div>
            <form #reqForm="ngForm">
                <clr-datagrid>
                    <clr-dg-column>Sr. No.</clr-dg-column>
                    <clr-dg-column>Weighing Balance Capacity</clr-dg-column>
                    <clr-dg-column>{{'common.quantity' | translate}}</clr-dg-column>
                    <clr-dg-column>Location</clr-dg-column>
                    <clr-dg-column>Send By(Sign & Date)</clr-dg-column>
                    <clr-dg-column>Received By(Sign & Date)</clr-dg-column>
                    <clr-dg-column>Approvd By</clr-dg-column>
                    <clr-dg-column>{{'common.remarks' | translate}}</clr-dg-column>
                    <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column>

                    <clr-dg-row>
                        <clr-dg-cell>1</clr-dg-cell>
                        <clr-dg-cell><input type="text" name="weighbalcapacity" [(ngModel)]="weighbalcapacity"></clr-dg-cell>
                        <clr-dg-cell><input type="text" name="quant" [(ngModel)]="quant"></clr-dg-cell>
                        <clr-dg-cell><select name="loctn" ngModel (change)="getEmpdata($event.target.selectedIndex)">
                                <option></option>
                                <option *ngFor="let person of Sections">{{ person.section_name }}</option>
                            </select></clr-dg-cell>
                        <clr-dg-cell> 
                            <select name="send_by" ngModel (change)="getEmpdata($event.target.selectedIndex)">
                                <option></option>
                                <option *ngFor="let person of InvolvedPersons" >{{ person.emp_name }}</option>
                            </select><br>
                            <input type="date" name="send_bydate" [(ngModel)]="send_bydate">
                        </clr-dg-cell>
                        <clr-dg-cell> 
                            <select name="received_by" ngModel (change)="getEmpdata($event.target.selectedIndex)">
                                <option></option>
                                <option *ngFor="let person of InvolvedPersons" >{{ person.emp_name }}</option>
                            </select><br>
                            <input type="date" name="received_bydate" [(ngModel)]="received_bydate">
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <select name="approved_by" ngModel (change)="getEmpdata($event.target.selectedIndex)">
                                <option></option>
                                <option *ngFor="let person of InvolvedPersons" >{{ person.emp_name }}</option>
                            </select>
                        </clr-dg-cell>
                        <clr-dg-cell><input type="text" name="remarks" [(ngModel)]="remarks"></clr-dg-cell>
                        <clr-dg-cell>
                            <button type="submit" class="btn btn-primary" (click)="savereqform(reqForm)">{{'common.save' | translate}}</button>
                        </clr-dg-cell>
                    </clr-dg-row>
                </clr-datagrid>
               
            </form>
        </div>
    </div>

</div>

