<div class="container-fluid" *ngIf="!isView">
  <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;"> Receiving Of Packing Material Log</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/rnd/store/packing/receiving" style="background-color: red;color: white;"> {{'common.close' | translate}} </button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="clr-row">
          <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
            <label>Vendor Name:</label>
            <select name="vendor_no" [(ngModel)]="vendor_no" required>
              <option></option>
              <option *ngFor="let vendor of vendors" [value]="vendor.vendor_no">{{ vendor.vendor_name }}</option>
            </select>
          </div>
          <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
            <label>Material Type:</label>
            <select name="material_type" [(ngModel)]="material_type" required>
              <option></option>
              <option>Primary</option>
              <option>Secondary</option>
              <option>Tertiary</option>
            </select>
          </div>
          <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
            <button class="btn btn-primary" style="margin-top:30px;" (click)="getReceivingsLog()">{{'common.search' | translate}}</button>
          </div>
        </div>
        <div class="card-text">
          <table class="table">
            <tr>
              <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr.</th>
              <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Vendor Name</th>
              <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Material Name</th>
              <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Material Type</th>
              <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">PO No</th>
              <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">PO Date</th> 
              <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Packaging Slip</th>
              <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Packaging Slip Date</th>
              <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
            </tr>
            <tr *ngFor="let user of results; let i = index">
              <td style="text-align: left;">{{ i + 1 }}.</td>
              <td style="text-align: left;">{{user.vendor_name}}</td>
              <td style="text-align: left;">{{user.material_name}}</td>
              <td style="text-align: left;">{{user.material_subtype}}</td>
              <td style="text-align: left;">{{user.po_no}}</td>
              <td style="text-align: left;">{{user.po_date | date: 'dd-MM-yyyy'}}</td>
              <td style="text-align: left;">{{user.challan_no}}</td>
              <td style="text-align: left;">{{user.challan_date | date: 'dd-MM-yyyy'}}</td>
              <td>
                <button class="btn btn-sm btn-info" (click)="viewResult(i)">{{'common.view' | translate}}</button>
              </td>
            </tr>
            <tr *ngIf="results?.length == 0">
              <td colspan="8">{{'common.noRecords' | translate}}</td>
            </tr>
          </table>
        </div>
      </div>
  </div>
</div>

<div class="container-fluid" *ngIf="isView">
  <div class="card">
    <div class="card-header">Receiving of Packing Materials Log</div>
    <div class="card-block">
      <div class="card-text"> 
        <table class="table" style="border: 1px solid black;">
          <tr>
            <td style="text-align: left;border: 1px solid;"><b>Material Name:</b></td>
            <td colspan="3" style="text-align: left;border: 1px solid;">{{ selectedResult['material_name'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left;border: 1px solid;"><b>Vendor Name:</b></td>
            <td colspan="3" style="text-align: left;border: 1px solid;">{{ selectedResult['vendor_name'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left;"><b>Packaging Slip:</b></td>
            <td style="text-align: left;border-right: 1px solid black;">{{ selectedResult['challan_no'] }}</td>
            <td style="text-align: left;"><b>Packaging Slip Date:</b></td>
            <td style="text-align: left;">{{ selectedResult['challan_date'] | date: 'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <td style="text-align: left;"><b>PO No.:</b></td>
            <td style="text-align: left;border-right: 1px solid black;">{{ selectedResult['po_no'] }}</td>
            <td style="text-align: left;"><b>PO Date:</b></td>
            <td style="text-align: left;">{{ selectedResult['po_date'] | date: 'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <td style="text-align: left;"><b>Material Type:</b></td>
            <td style="text-align: left;border-right: 1px solid black;">{{ selectedResult['material_type'] }}</td>
            <td style="text-align: left;"><b>Material Subtype:</b></td>
            <td style="text-align: left;">{{ selectedResult['material_subtype'] }}</td>
          </tr>
          <tr>
            <td style="text-align: left;"><b>Material Code:</b></td>
            <td style="text-align: left;border-right: 1px solid black;">{{ selectedResult['material_code'] }}</td>
            <td style="text-align: left;"><b>PO Qty:</b></td>
            <td style="text-align: left;border-right: 1px solid black;" colspan="3">{{ selectedResult['qty'] }} {{ selectedResult['unit'] }}</td>
          </tr>
        </table>
        <h4>Manufacturer/Supplier</h4>
        <input type="text" name="manufacturer" [ngModel]="selectedResult['manufacturer']" readonly tabindex="-1">
        <h3>Labeling Details:</h3>
        <table class="table">
          <tr>
            <th>Sr.</th>
            <th>Medicap Lot No</th>
            <th>Qty</th>
            <th>No Of Containers</th>
          </tr>
          <tr *ngFor="let list of selectedResult['batches'];let i=index">
            <td>{{i+1}}</td>
            <td>{{list.batch_no}}</td>
            <td>{{list.qty_received}}</td>
            <td>{{list.total_containers}}</td>
          </tr>
          <tr *ngIf="selectedResult['batches']?.length == 0">
              <td colspan="5">No Record Found!</td>
          </tr>
        </table>
          <h3>Received Quantity Details:</h3>
          <div class="clr-row">
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Pack Size:</label>
              <input type="text" OnlyNumber="true" name="pack_size" [ngModel]="selectedResult['receiving_details'].pack_size" readonly tabindex="-1">
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Challan Qty: {{ selectedResult['unit'] }}</label>
              <input type="text" OnlyNumdigit="true" name="challan_qty" [ngModel]="selectedResult['qty']" readonly tabindex="-1">
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>Received Qty: {{ selectedResult['unit'] }}</label>
              <input type="text" OnlyNumdigit="true" name="received_qty" [ngModel]="selectedResult['received_qty']" readonly tabindex="-1">
            </div>
            <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
              <label>No. of Containers:</label>
              <input type="text" OnlyNumber="true" name="containers" [ngModel]="selectedResult['containers']" readonly tabindex="-1">
            </div>
            <div class="clr-col-3">
              <label>Damage Container Observed:</label>
              <input type="text" name="isdamagecontainer" [ngModel]="selectedResult['receiving_details'].isdamagecontainer" readonly tabindex="-1">
            </div>
            <div class="clr-col-3">
              <label>Outer Damage Containers:</label>
              <input type="text" name="outer_damage" [ngModel]="selectedResult['receiving_details'].outer_damage" readonly tabindex="-1">
            </div>
            <div class="clr-col-3">
              <label>Inner Damage Containers:</label>
              <input type="text" name="inner_damage" [ngModel]="selectedResult['receiving_details'].inner_damage" readonly tabindex="-1">
            </div>
          </div>
          <h3>Packing Details:</h3>
          <div class="clr-row">
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-xs-12">
              <label>Packing Intactness / Condition:</label>
              <input type="text"  name="packing_condition" [ngModel]="selectedResult['receiving_details'].packing_condition" readonly tabindex="-1">
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-xs-12">
              <label>Outer Packing:</label>
              <input type="text"  name="outer_packing" [ngModel]="selectedResult['receiving_details'].outer_packing" readonly tabindex="-1">
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-xs-12">
              <label>Container type:</label>
              <input type="text"  name="container_type" [ngModel]="selectedResult['receiving_details'].container_type" readonly tabindex="-1">
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-xs-12" *ngIf="selectedResult['receiving_details'].container_type == 'Drum'">
              <label>Drum:</label>
              <input type="text"  name="container_subtype" [ngModel]="selectedResult['receiving_details'].container_subtype" readonly tabindex="-1">
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-xs-12" *ngIf="selectedResult['receiving_details'].container_type == 'Bag'">
              <label>Bag:</label>
              <input type="text"  name="container_subtype" [ngModel]="selectedResult['receiving_details'].container_subtype" readonly tabindex="-1">
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-xs-12" *ngIf="selectedResult['receiving_details'].container_type == 'Box'">
              <label>Boxes:</label>
              <input type="text"  name="container_subtype" [ngModel]="selectedResult['receiving_details'].container_subtype" readonly tabindex="-1">
            </div>
          </div>
          <h3>Transporter’s Details:</h3>
          <div class="clr-row">
            <div class="clr-col-4">
              <label>Vehicle Condition:</label>
              <input type="text"  name="vehicle_condition" [ngModel]="selectedResult['receiving_details'].vehicle_condition" readonly tabindex="-1">
            </div>
            <div class="clr-col-4">
              <label>COA Received:</label>
              <input type="text"  name="coa_received" [ngModel]="selectedResult['receiving_details'].coa_received" readonly tabindex="-1">
            </div>
            <div class="clr-col-4" *ngIf="selectedResult['coa_received'] == 'Yes'">
              <label>COA:</label><br>
              <button class="btn btn-info" (click)="viewfile(selectedResult['receiving_details'].coa_file)">{{'common.view' | translate}}</button>
            </div>
          </div>

          <div *ngIf="selectedResult['coa_received'] == 'No'">
            <h3>Deviation Details:</h3>
            <div class="clr-row">
              <div class="clr-col-4">
                <label>Deviation Related To:</label>
                <input type="text" name="related_to" ngModel="Material" readonly tabindex="-1">
              </div>
              <div class="clr-col-4">
                <label>Deviation Category:</label>
                <input type="text" name="deviation_category" ngModel="Unplanned Deviation" readonly tabindex="-1">
              </div>
              <div class="clr-col-4">
                <label>Type Of Deviation:</label>
                <input type="text" name="type" [ngModel]="selectedResult['type']" readonly tabindex="-1">
              </div>
              <div class="clr-col-4">
                <label>Justification for type:</label>
                <textarea name="justification" [ngModel]="selectedResult['justification']" readonly tabindex="-1"></textarea>
              </div>
              <div class="clr-col-4">
                <label>Cause of Deviation:</label>
                <textarea name="cause" [ngModel]="selectedResult['cause']" readonly tabindex="-1"></textarea>
              </div>
              <div class="clr-col-4">
                <label>Description of Deviation:</label>
                <textarea name="description" [ngModel]="selectedResult['description']" readonly tabindex="-1"></textarea>
              </div>
            </div>
            <h3>Department Comments:</h3>
            <table class="table">
                <tr>
                    <th>Sr.</th>
                    <th>{{'common.department' | translate}}</th>
                    <th>Comment</th>
                </tr>
                <tr *ngFor="let comment of selectedResult['dev_details'].comments; let i = index">
                    <td>{{ i + 1 }}.</td>
                    <td>{{ comment.department }}</td>
                    <td>{{ comment.comment }}</td>
                </tr>
            </table>
            <h2 style="text-align: center;color: red;" *ngIf="selectedResult['deviation'] !=='approve' && selectedResult['deviation'] !=='reject'">Deviation Approval is Pending</h2>
            <h2 style="text-align: center;color: red;" *ngIf="selectedResult['deviation'] =='reject'">Deviation has been Rejected</h2>
          </div>
          <div *ngIf="selectedResult['cleaning_type']=='Vaccume Cleaner'">
            <h3>Dedusting Details:</h3>
            <table class="table">
              <tr>
                <th style="text-align: left;">Dedusting Material</th>
                <th>Equipment Code</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Done By</th>
                <th>Check By</th>
              </tr>
              <tr>
                <td style="text-align: left;">Vacuum Cleaner</td>
                <td>{{ selectedResult['dedusting_details'].equipment_code }}</td>
                <td>{{ selectedResult['dedusting_details'].from_time }}</td>
                <td>{{ selectedResult['dedusting_details'].to_time }}</td>
                <td>{{ selectedResult['dedusting_details'].operator }}</td>
                <td>{{ selectedResult['dedusting_details'].check_by }}</td>
              </tr>
              <tr>
                <td style="text-align: left;">Area and Consignment Cleaned By</td>
                <td>{{ selectedResult['dedusting_details'].equipment_code }}</td>
                <td>{{ selectedResult['dedusting_details'].area_cleaned_from }}</td>
                <td>{{ selectedResult['dedusting_details'].area_cleaned_to }}</td>
                <td>{{ selectedResult['dedusting_details'].area_cleaned_by }}</td>
                <td>{{ selectedResult['dedusting_details'].check_by }}</td>
              </tr>
              <tr>
                <td style="text-align: left;">Equipment Cleaning</td>
                <td>{{ selectedResult['dedusting_details'].equipment_code }}</td>
                <td>{{ selectedResult['dedusting_details'].equip_cleaned_from }}</td>
                <td>{{ selectedResult['dedusting_details'].equip_cleaned_to }}</td>
                <td>{{ selectedResult['dedusting_details'].equip_cleaned_by }}</td>
                <td>{{ selectedResult['dedusting_details'].check_by }}</td>
              </tr>
            </table>
          </div>
          <div *ngIf="selectedResult['cleaning_type']=='Manual'">
            <h3>Dedusting Details:</h3>
            <table class="table">
              <tr>
                <th style="text-align: left;">Dedusting Material</th>
                <th>Equipment Code</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Done By</th>
                <th>Check By</th>
              </tr>
              <tr>
                <td style="text-align: left;">Area and Consignment Cleaned By</td>
                <td>{{ selectedResult['dedusting_details'].equipment_code }}</td>
                <td>{{ selectedResult['dedusting_details'].area_cleaned_from }}</td>
                <td>{{ selectedResult['dedusting_details'].area_cleaned_to }}</td>
                <td>{{ selectedResult['dedusting_details'].area_cleaned_by }}</td>
                <td>{{ selectedResult['dedusting_details'].check_by }}</td>
              </tr>
            </table>
          </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="downloadPDF('manual')">DOWNLOAD MANUAL PDF</button>
      <button class="btn btn-success" (click)="downloadPDF('digital')">DOWNLOAD DIGITAL PDF</button>
      <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
    </div>
  </div>
</div>
