<div class="container-fluid" *ngIf="!isView">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">UnitFormula For Approval</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/planning/unitformula" style="background-color: red;color: white;">CLOSE</button>
              </div>
            </div>
          </div>
        <div class="card-block">
            <div class="card-text">
                <table class="table">
                    <tr>
                        <th>Sr.</th>
                        <th style="text-align: left;">Product Type</th>
                        <th style="text-align: left;">Product Name</th>
                        <th>Grade</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr *ngFor="let result of results; let i = index">
                        <td>{{ i + 1 }}.</td>
                        <td style="text-align: left;">{{ result.dosage_form }}</td>
                        <td style="text-align: left;">{{ result.product_name }}</td>
                        <td>{{ result.grade }}</td>
                        <td>{{ result.status }}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="view(i)">VIEW</button>
                        </td>
                    </tr>
                    <tr *ngIf="results?.length == 0">
                        <td colspan="7">No. Records Found!</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  </div>

  <div class="container-fluid" *ngIf="isView">
    <div class="card">
      <div class="card-header" style="text-align: center">Unit Formula For Approval</div>
      <div class="card-block">
        <div class="card-text">
          <form #materialForm="ngForm">
            <div class="clr-row">
            </div>
          </form>
            <table class="table">
              <tr>
                <td style="text-align: left;width:20%;">Product Name:</td>
                <td style="text-align: left;">{{ selectedResult['product_name'] }}</td>
              </tr>
              <tr>
                <td style="text-align: left;width:20%;">Grade:</td>
                <td style="text-align: left;">{{ selectedResult['grade'] }}</td>
              </tr>
              <tr>
                <td style="text-align: left;width:20%;">Shelf Life:</td>
                <td style="text-align: left;">{{ selectedResult['shelf_life'] }} Months</td>
              </tr>
              <tr>
                <td style="text-align: left;width:20%;">Dosage Type:</td>
                <td style="text-align: left;">{{ selectedResult['dosage_form'] }}</td>
              </tr>
              <tr>
                <td style="text-align: left;width:20%;">Dosage Form:</td>
                <td style="text-align: left;">{{ selectedResult['dosage_form'] }}</td>
              </tr>
              <tr>
                <td style="text-align: left;width:20%;">Label Claim:</td>
                <td style="text-align: left;">{{ selectedResult['label_claim'] }}</td>
              </tr>
            </table>
  
          
            <h4>Raw Materials:</h4>  
      <table class="table">
        <tr>
          <th>Sr.</th>
          <th style="text-align: left;">Code</th>
          <th style="text-align: left;">Name</th>
          <th>Grade</th>
          <th>Unit Qty</th>
          <th>Overages</th>
          <th>Required Qty</th>
          <th>Contribution to Yield</th>
        </tr>
        <tr *ngFor="let comp of selectedResult['raw_materials'];let i = index">
          <td>{{ i + 1 }}.</td>
          <td style="text-align: left;">{{ comp.material_code }}</td>
          <td style="text-align: left;">{{ comp.material_name }}</td>
          <td>{{ comp.grade }}</td>
          <td>{{ comp.qty }} {{ comp.unit }}</td>
          <td>{{ comp.overages }}</td>
          <td>{{ comp.total_qty }} {{ comp.unit }}</td>
          <td>{{ comp.contribution }}</td>
        </tr>
        <tr *ngIf="selectedResult['raw_materials']?.length == 0">
          <td colspan="8">No Records Found!</td>
        </tr>
      </table>
      <h4>Packing  Materials:</h4>  
      <table class="table">
        <tr>
          <th>Sr.</th>
          <th style="text-align: left;">Code</th>
          <th style="text-align: left;">Name</th>
          <th>Grade</th>
          <th>Unit Qty</th>
          <th>Overages</th>
          <th>Required Qty</th>
        </tr>
        <tr *ngFor="let comp of selectedResult['packing_materials'];let i = index">
          <td>{{ i + 1 }}.</td>
          <td style="text-align: left;">{{ comp.material_code }}</td>
          <td style="text-align: left;">{{ comp.material_name }}</td>
          <td>{{ comp.grade }}</td>
          <td>{{ comp.qty }} {{ comp.unit }}</td>
          <td>{{ comp.overages }}</td>
          <td>{{ comp.total_qty }} {{ comp.unit }}</td>
        </tr>
        <tr *ngIf="selectedResult['packing_materials']?.length == 0">
          <td colspan="8">No Records Found!</td>
        </tr>
      </table>


      <h4>Additional Materials:</h4>  
      <table class="table">
        <tr>
          <th>Sr.</th>
          <th style="text-align: left;">Code</th>
          <th style="text-align: left;">Name</th>
          <th>Grade</th>
          <th>Unit Qty</th>
          <th>Overages</th>
          <th>Required Qty</th>
        </tr>
        <tr *ngFor="let comp of selectedResult['additional_materials'];let i = index">
          <td>{{ i + 1 }}.</td>
          <td style="text-align: left;">{{ comp.material_code }}</td>
          <td style="text-align: left;">{{ comp.material_name }}</td>
          <td>{{ comp.grade }}</td>
          <td>{{ comp.qty }} {{ comp.unit }}</td>
          <td>{{ comp.overages }}</td>
          <td>{{ comp.total_qty }} {{ comp.unit }}</td>
        </tr>
        <tr *ngIf="selectedResult['additional_materials']?.length == 0">
          <td colspan="8">No Records Found!</td>
        </tr>
      </table>
          

      <!-- <h4>Step:</h4>
      <table class="table">
        <tr>
            <th style="text-align: left;">Stage No.</th>
            <th style="text-align: left;">Stage</th>
        </tr>
        <tr *ngFor="let stage of selectedResult['stages']; let i = index">
            <td style="text-align: left;">STAGE - {{ i + 1 }}</td>
            <td style="text-align: left;">{{ stage.stage }}</td>
        </tr>
        <tr *ngIf="selectedResult['stages']?.length == 0">
            <td colspan="2">No. Records Found!</td>
          </tr>
      </table> -->

      <!-- <h4>Equipments:</h4>
      <table class="table">
        <tr>
          <th style="text-align: left;">Sr</th>
          <th style="text-align: left;">Equipment Name</th>
        </tr>
        <tr *ngFor="let user of selectedResult['equipments'];let i = index">
          <td style="text-align: left;">{{ i+1 }}.</td>
          <td style="text-align: left;">{{ user.equipment_name }}</td>
        </tr>
        <tr *ngIf="selectedResult['equipments']?.length == 0">
          <td colspan="2">No. Records Found!</td>
        </tr>
      </table> -->
  
          </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="approveUnitFormula('approve')">APPROVE</button>
        <button class="btn btn-danger" (click)="approveUnitFormula('reject')">REJECT</button>
        <button class="btn btn-danger" (click)="isView = false">CLOSE</button>
      </div>
    </div>
  </div>