<div class="container-fluid">
    <div class="card" *ngIf="!isView">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
                <div class="clr-col-6" style="color: aliceblue;margin-top: -2px;text-align: left;">QA Assessment Checklist</div>
                <div class="clr-col-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                    <button class="btn btn-sm" routerLink="/qa/qms/change-control"
                        style="background-color: red;color: white;">
                        <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                    </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                <table class="table table-border">
                    <tr>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">CC No.</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Department</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Date Of Issuance</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Name Of Product / Document</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Medicap Lot No/Document No</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Changed Requested For*</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Initiate By / On</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Action</th>
                    </tr>
                    <tr *ngFor="let result of results; let i = index">
                        <td style="text-align: left;font-weight: bold; color:blue; ">{{ result.ctrl_no }}</td>
                        <td style="text-align: left;font-weight: bold; color:blue; ">{{ result.department_name }}</td>
                        <td style="text-align: left;font-weight: bold; color:blue; ">{{ result.dateOfIssuance | date: 'dd/MM/yyyy'}}</td>
                        <td style="text-align: left;font-weight: bold; color:blue; ">{{ result.nameOfProductDoc }}</td>
                        <td style="text-align: left;font-weight: bold; color:blue; ">{{ result.batchNoDocNo }}</td>
                        <td style="text-align: left;font-weight: bold; color:blue; ">{{ result.changeReqFor }}</td>
                        <td style="text-align: left;font-weight: bold; color:blue; ">{{ result.entryBy }} / {{ result.entryDate | date: 'dd/MM/yyyy'}}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="view(i)">view</button>
                        </td>
                    </tr>
                    <tr *ngIf="results?.length == 0">
                        <td colspan="8">No Records Found!</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  
    <div class="card" *ngIf="isView">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
                <div class="clr-col-6" style="color: aliceblue;margin-top: -2px;text-align: left;">QA Assessment Checklist</div>
                <div class="clr-col-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                    <button class="btn btn-sm" (click)="isView=false" style="background-color: red;color: white;">
                        <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                    </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
  
  
                <form #reviewForm="ngForm">
  
                    <div class="clr-row">
                        <div class="clr-col-lg-12 clr-col-12 clr-col-sm-12 clr-col-xs-12">
  
                            <table class="table table-border">
                                <tr>
                                    <td style="text-align: left; font-weight: bolder;">CC No.</td>
                                    <td style="text-align: left; font-weight: bolder; color:blue; ">{{selectedResult['ctrl_no']}}</td>
                                    <td style="text-align: left; font-weight: bolder;">Change Control Issued By</td>
                                    <td style="text-align: left; font-weight: bolder; color:blue; ">{{selectedResult['entryBy']}} / {{selectedResult['department_name']}}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; font-weight: bolder;">Initiated By </td>
                                    <td style="text-align: left; font-weight: bolder; color:blue; ">{{selectedResult['entryBy']}}</td>
                                    <td style="text-align: left; font-weight: bolder;">Date Of issuance</td>
                                    <td style="text-align: left; font-weight: bolder; color:blue; ">{{selectedResult['dateOfIssuance'] | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; font-weight: bolder;">Department</td>
                                    <td style="text-align: left; font-weight: bolder; color:blue; ">{{selectedResult['department_name']}}</td>
                                    <td style="text-align: left; font-weight: bolder;">Room Name</td>
                                    <td style="text-align: left; font-weight: bolder; color:blue; ">{{selectedResult['section']}}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; font-weight: bolder;">Name Of Product / Document</td>
                                    <td style="text-align: left; font-weight: bolder; color:blue; ">{{selectedResult['nameOfProductDoc']}}</td>
                                    <td style="text-align: left; font-weight: bolder;">Medicap Lot No/Document No</td>
                                    <td style="text-align: left; font-weight: bolder; color:blue; ">{{selectedResult['batchNoDocNo']}}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; font-weight: bolder;">Changed Requested For</td>
                                    <td style="text-align: left; font-weight: bolder; color:blue;" colspan="3" >{{selectedResult['changeReqFor']}}</td>
                                 </tr>
                                 <tr>
                                    <td  style="text-align: left;font-weight: bolder;"  colspan="3"> <b> Standard Current Procedure / Document or existing procedure / document</b><br><br>
                                        <span style="color: blue;">{{selectedResult['existingProcedure'] || 'NA'}} </span>   
                                    </td> 
                                    <td  style="text-align: left;"> 
                                        <button *ngIf="selectedResult['exisDoc'] != 'NA'" class="btn btn-primary btn-sm" (click)="viewDevDoc(selectedResult['exisDoc'])">VIEW REF. DOC</button>
                                        <span *ngIf="selectedResult['exisDoc'] == 'NA'" >NA</span>
                                    </td> 
                                </tr>
                                 <tr>
                                    <td  style="text-align: left;font-weight: bolder;"  colspan="3"> <b> Details Of Change Proposed</b><br><br>
                                        <span style="color: blue;">{{selectedResult['changedDetails'] || 'NA'}} </span>     
                                    </td> 
                                    <td  style="text-align: left;"> 
                                        <button *ngIf="selectedResult['changeDetDoc'] != 'NA'" class="btn btn-primary btn-sm" (click)="viewDevDoc(selectedResult['changeDetDoc'])">VIEW REF. DOC</button>
                                        <span *ngIf="selectedResult['changeDetDoc'] == 'NA'" >NA</span>
                                    </td> 
                                </tr>
                                 <tr>
                                    <td  style="text-align: left;font-weight: bolder;"  colspan="3"> <b> Justification Proposed Change</b><br><br>
                                        <span style="color: blue;">{{selectedResult['justificationOfChange'] || 'NA'}} </span>   
                                    </td> 
                                    <td  style="text-align: left;"> 
                                        <button *ngIf="selectedResult['justChangeDoc'] != 'NA'" class="btn btn-primary btn-sm" (click)="viewDevDoc(selectedResult['justChangeDoc'])">VIEW REF. DOC</button>
                                        <span *ngIf="selectedResult['justChangeDoc'] == 'NA'" >NA</span>

                                    </td> 
                                </tr>
                                <tr>
                                    <td style="text-align: left; font-weight: bolder;">Tentative Date Of Closing </td>
                                    <td style="text-align: left; font-weight: bolder; color:blue; ">{{selectedResult['tentativeDateClosing'] }}</td>
                                    <td style="text-align: left; font-weight: bolder;">Remark</td>
                                    <td style="text-align: left; font-weight: bolder; color:blue; ">{{selectedResult['remark']}}</td>
                                </tr>
                            </table>
  
                            <table class="table table-border">
                                <tr>
                                    <td style="text-align: left;" colspan="6"> <b>Change Affected Documents :</b></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;background-color: aquamarine;"><b>Sr. No.</b></td>
                                    <td style="text-align: left;background-color: aquamarine;"><b>Document No.</b></td>
                                    <td style="text-align: left;background-color: aquamarine;"><b>Document Title</b></td>
                                    <td style="text-align: left;background-color: aquamarine;"><b>Effective Date</b></td>
                                    <td style="text-align: left;background-color: aquamarine;"><b>Type Of Impact Amended / Cancelled</b></td>
                                    <td style="text-align: left;background-color: aquamarine;"><b>TDC Implementation</b></td>
                                </tr>
                                <tr *ngFor="let cap of selectedResult['changeAffDoc']; let i = index">
                                    <td style="text-align: left;"><b>{{i + 1}}</b></td>
                                    <td style="text-align: left;"><b>{{cap.docNo}}</b></td>
                                    <td style="text-align: left;"><b>{{cap.docTitle}}</b></td>
                                    <td style="text-align: left;"><b>{{cap.effectiveDate}}</b></td>
                                    <td style="text-align: left;"><b>{{cap.typeOfImpact}}</b></td>
                                    <td style="text-align: left;"><b>{{cap.tcdImplemantation}}</b></td>
                                </tr>
  
                                <tr>
                                    <td style="text-align: left;font-weight: bolder;" colspan="6"> Consern HOD Comment : <br>
                                        <span style="color: blue;">{{selectedResult['concernHodComment'] || 'NA'}} </span> 
                                    </td>
                                </tr>
                              
                            </table>

                            <table class="table table-border">
                                <tr>
                                    <td style="text-align: left; font-weight: bolder;" colspan="3">Signeture Of Initiating Department</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><b>Change Initiated By</b></td>
                                    <td><b>Authorized By</b></td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;"><b>Name</b></td>
                                    <td style="color: blue;"><b>{{selectedResult['initiatedBy'] || 'NA'}}</b></td>
                                    <td style="color: blue;"><b>{{selectedResult['authBy'] || 'NA'}}</b></td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;"><b>Signature</b></td>
                                    <td style="color: blue;"><b>{{selectedResult['entryBy'] || 'NA'}}</b></td>
                                    <td style="color: blue;"><b>{{selectedResult['concernHodBy'] || 'NA'}}</b></td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;"><b>Date</b></td>
                                    <td style="color: blue;"><b>{{selectedResult['entryDate'] | date: 'dd/MM/yyyy'}}</b></td>
                                    <td style="color: blue;"><b>{{selectedResult['concernHodOn'] | date: 'dd/MM/yyyy'}}</b></td>
                                </tr>
                            </table>
                            <table class="table table-border">
                                <tr>
                                    <td  colspan="3" style="text-align: left;font-weight: bolder;font-size: 13px;">Consent Of Concerned Department </td> 
                                </tr>
                                <tr>
                                     <td style="width: 50%; text-align: left;font-weight: bolder;background-color: aquamarine;">Review Comment</td> 
                                     <td style="width: 25%; text-align: left;font-weight: bolder;background-color: aquamarine;">Change Accepted / Not Accepted</td> 
                                     <td style="width: 25%; text-align: left;font-weight: bolder;background-color: aquamarine;"> Attachment ( If Any )</td> 
                                </tr>
                                <tr  *ngFor="let item of selectedResult['deptReview']">
                                    <td style="text-align: left;color: blue;font-weight: bold;">{{item.reviewComment}}</td> 
                                    <td style="text-align: left;color: blue;font-weight: bold;">{{item.changeAcceptedNotAcc}}</td> 
                                 
                                     <td style="text-align: left;">
                                        <button *ngIf="item.consentRevDoc != 'NA'" class="btn btn-success btn-sm" (click)="viewDevDoc(item.consentRevDoc)">VIEW REF. DOC</button>
                                        <span *ngIf="item.consentRevDoc == 'NA'" >NA</span>
                                     </td> 
                                 </tr>
                            </table>

                            <table class="table table-border">
                                <tr>
                                    <td style="text-align: right;"><b>Scope Of Change :</b></td>
                                    <td style="text-align: center;color: blue;font-weight: bold;">{{selectedResult['scopeOfChange']}}</td> 
                                </tr>
                            </table>

                            <table class="table table-border">
                                <tr>
                                    <td colspan="2" style="text-align: left;"><b>CHANGE CONTROL ASSESSMENT BY QA</b></td>
                                </tr>
                                <tr>
                                    <td style="width: 75%; text-align: left;"><b>Type - A ( Minor ) :</b> Minor Changes Who do not have any detectable impact on the quality attributes of the product and having no regulatory impact.</td> 
                                    <td style="text-align: center;width: 25%;color: blue;font-weight: bold;">{{selectedResult['typeMinor']}}</td> 
                               
                                </tr>
                                <tr>
                                    <td style="width: 75%; text-align: left;"><b>Type - A ( Major ) :</b> Changes that are likely or may have minor impact on the quality attributes of the product like Major changes BPCR, MFR Specification addition & deletion of any test requires intimation to regulatory agency and marketing authority / customer.</td> 
                                    <td style="text-align: center;width: 25%;color: blue;font-weight: bold;">{{selectedResult['typeMajor']}}</td> 
                               
                                </tr>
                                <tr>
                                    <td style="width: 75%; text-align: left;"><b>Type - A ( Critical ) :</b> Changes that are having  significant impact on the quality attributes of the product like major changes BPCR, MFR Specification addition & deletion of any test change in validated parameter And requires Pre-Approval from the registration agency and marketing authority / customer.</td> 
                                    <td style="text-align: center;width: 25%;color: blue;font-weight: bold;">{{selectedResult['typeCritical']}}</td> 
                                </tr>
                            </table>

                            <table class="table table-border">
                                <tr>
                                    <td  colspan="2" style="text-align: center;"><b>Impact On Regulatory Affirs & Marketing Authority / Customer</b></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: left;"><b>Review Comment </b>  <br>
                                        <span style="color: blue;font-weight: bold;">{{selectedResult['reviewCommmentByRegu'] || 'NA'}} </span>
                                    </td> 
                                </tr>
                                <tr>
                                    <td style="width: 50%; text-align: left;"><b>Conclusion</b> </td> 
                                    <td style="text-align: center;width: 50%;color: blue;font-weight: bold;"> {{selectedResult['impactReguConclusion'] || 'NA'}} </td> 
                                </tr>

                            </table>
                            <table class="table table-border">
                                <tr>
                                    <td  colspan="3" style="text-align: left;"><b>Impact Evaluated By</b></td>
                                </tr>
                                <tr>
                                    <td style="color: blue;"><b>{{selectedResult['impactReguByName'] || 'NA'}} </b></td> 
                                    <td style="color: blue;"><b>{{selectedResult['impactReguBy'] || 'NA'}} </b></td> 
                                    <td style="color: blue;"><b>{{selectedResult['impactReguOn'] | date:'dd/MM/yyyy'}} </b></td> 
                                </tr>
                                <tr>
                                    <td ><b>Name</b></td> 
                                    <td ><b>Signature</b></td> 
                                    <td ><b>Date</b></td> 
                                </tr>

                            </table>
   
                            <table class="table table-border">
                                <tr>
                                    <td colspan="3" style="text-align: left;font-weight: bold;">Action To Be Carried Out for the proposed Change</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;background-color: aquamarine;"><b>Sr.No.</b></td>
                                    <td style="text-align: left;background-color: aquamarine;"><b>Action</b></td>
                                    <td style="text-align: left;background-color: aquamarine;"><b>Tentative Date Of Completion</b></td>
                                </tr>
                                <tr *ngFor="let cap of selectedResult['actionData']; let i = index">
                                    <td style="text-align: left;color: blue;"><b>{{i + 1}}</b></td>
                                    <td style="text-align: left;color: blue;"><b>{{cap.action}}</b></td>
                                    <td style="text-align: left;color: blue;"><b>{{cap.tcd | date:'dd/MM/yyyy'}}</b></td>
                                </tr>
                            </table>
                     
                            <table class="table table-border">
                                <tr>
                                    <td colspan="3" style="text-align: left;font-weight: bold;">Reviewed By QA</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;background-color: aquamarine;width: 20%;"><b>Sr.No.</b></td>
                                    <td style="text-align: left;background-color: aquamarine;width: 50%;"><b>Action</b></td>
                                    <td style="text-align: left;background-color: aquamarine;width: 30%;"><b>Check Point</b></td>
                                 </tr>
                                <tr>
                                    <td style="text-align: left;">1.</td>
                                    <td style="text-align: left;"> Whether all related documents are drafted and evaluated</td>
                                    <td style="text-align: left;">{{selectedResult['action1']}}  </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;">2.</td>
                                    <td style="text-align: left;"> All related departments are intimated</td>
                                    <td style="text-align: left;">{{selectedResult['action2']}}  </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align: left;"><b>QA Representative Comment </b>  <br>
                                        <span style="color: blue;font-weight: bolder;">{{selectedResult['qaRepresentativeCommentOnQaReviewed']}}</span>
                                    </td> 
                                
                                </tr>
                              
                            </table>
                            <table class="table table-border">
                                <tr>
                                    <td  colspan="3" style="text-align: left;"><b>Change Evaluated By</b></td>
                                </tr>
                                <tr>
                                    <td style="color: blue;"><b>{{selectedResult['qaReviewedByName'] || 'NA'}} </b></td> 
                                    <td style="color: blue;"><b>{{selectedResult['qaReviewedBy'] || 'NA'}} </b></td> 
                                    <td style="color: blue;"><b>{{selectedResult['qaReviewedOn'] | date:'dd/MM/yyyy'}} </b></td> 
                                </tr>
                                <tr>
                                    <td ><b>Name</b></td> 
                                    <td ><b>Signature</b></td> 
                                    <td ><b>Date</b></td> 
                                </tr>
                            </table>
                            <table class="table table-border">
                                <tr>
                                    <td  style="text-align: left;font-weight: bold;">Approval Of Change By QA Head</td>
                                </tr>
                            
                                <tr>
                                     <td style="text-align: left;"><b>Change Approval  : <span style="color: blue;">{{selectedResult['approvalOfChange']}}</span> </b> </td>
                                </tr>
                              
                                <tr>
                                    <td style="text-align: left;"><b>Comment By Head QA/Designee</b>  <br>
                                         <span style="color: blue;font-weight: bolder;">{{selectedResult['commentByHeadQaOnAPprovalOfChange']}}</span>
                                    </td> 
                                </tr>
                                <tr *ngIf="selectedResult['approvalOfChange'] == 'Rejected'">
                                    <td style="text-align: left;"><b>Justification if rejected CCF :</b>  <br>
                                        <span style="color: blue;font-weight: bolder;">{{selectedResult['justificationOfRejection']}}</span>
                                    </td> 
                                </tr>
                            </table>

                            <table class="table table-border">
                                <tr>
                                    <td colspan="2"  style="text-align: left;font-weight: bold;">Monitoring, Follow Up And Closure Of Change</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;"><b>Extenssion On tentative close date (TCD) </b> </td> 
                                    <td style="color: blue;"><b>{{selectedResult['extTcd'] | date:'dd/MM/yyyy'}} </b></td> 
                                </tr>
                                <tr>
                                    <td style="text-align: left;"><b>Extenssion On Alternate tentative close date (ATCD)</b> </td> 
                                    <td style="color: blue;"><b>{{selectedResult['extAtcd'] | date:'dd/MM/yyyy'}} </b></td> 
                                </tr>
                            </table>
                            <table class="table table-border">
                                <tr>
                                    <td colspan="3"  style="text-align: left;font-weight: bold;">Change Implementation Checklist</td>
                                </tr>
                                <tr>
                                    <td  style="text-align: left;font-weight: bold;">Sr.No.</td>
                                    <td  style="text-align: left;font-weight: bold;">Action</td>
                                    <td  style="text-align: left;font-weight: bold;">Check Point</td>
                                </tr>
                                <tr>
                                     <td ><b>1</b></td>
                                     <td style="text-align: left;"><b>The Change is Implemented as proposed </b></td>
                                    <td style="color: blue;text-align: left"><b>{{selectedResult['impCheck1'] }} </b></td> 
                                </tr>
                                <tr>
                                    <td ><b>2</b></td>
                                    <td style="text-align: left;"><b>Training Is Completed & Evaluated To all concerned </b></td>
                                    <td style="color: blue;text-align: left;"><b>{{selectedResult['impCheck2'] }} </b></td> 
                                </tr>
                                <tr>
                                     <td ><b>3</b></td>
                                     <td style="text-align: left;"><b>Others, Specify</b></td>
                                    <td style="color: blue;text-align: left;"><b>{{selectedResult['impCheck3'] }} </b></td> 
                                      
                                </tr>
                                <tr>
                                     <td ><b>4</b></td>
                                     <td style="text-align: left;"><b>Change effective from & Date</b></td>
                                    <td style="color: blue;text-align: left;"><b>{{selectedResult['impCheck4'] }} </b></td> 
                                </tr>
                            </table>
                            <table class="table table-border">
                                <tr>
                                     <td colspan="3" style="color: blue;text-align: left;"><b>{{selectedResult['monitoringByName']}} - {{selectedResult['monitoringBy']}} / {{selectedResult['monitoringOn'] |date:'dd/MM/yyyy'}}</b></td>
                                </tr>
                                <tr>
                                     <td colspan="3" style="text-align: left;"><b>Initiation Department Head ( Sign/Date )</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
                <form #checkForm="ngForm" >
                    <div class="clr-row" >
                        <div class="clr-col-12">
                            <table class="table table-border">
                                <tr>
                                    <td colspan="6" style="text-align: left;font-weight: bold;">QA Assessment Checklist</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;background-color: aquamarine;"><b>Sr.No.</b></td>
                                    <td style="text-align: left;background-color: aquamarine;"><b>Document Type</b></td>
                                    <td style="text-align: left;background-color: aquamarine;"><b>Review</b></td>
                                    <td style="text-align: left;background-color: aquamarine;"><b>Existing Ref. No.</b></td>
                                    <td style="text-align: left;background-color: aquamarine;"><b>Revised Ref. No.</b></td>
                                    <td style="text-align: left;background-color: aquamarine;"><b>Action</b></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;">0</td>
                                    <td style="text-align: left;margin: 0;padding: 0;">
                                        <input type="text" name="docType" ngModel required>
                                    </td>
                                    <td style="text-align: left;margin: 0;padding: 0;">
                                        <input type="text" name="review" ngModel required>
                                    </td>
                                    <td style="text-align: left;margin: 0;padding: 0;">
                                        <input type="text" name="extRefNo" ngModel required>
                                    </td>
                                    <td style="text-align: left;margin: 0;padding: 0;">
                                        <input type="text" name="revRefNo" ngModel required>
                                    </td>
                                    <td style="text-align: left;">
                                        <button class="btn btn-primary btn-sm" (click)="addAction(checkForm)">Add</button>
                                    </td>
                                </tr>
                                <tr *ngFor="let cap of checlistData; let i = index">
                                    <td style="text-align: left;"><b>{{i + 1}}</b></td>
                                    <td style="text-align: left;"><b>{{cap.docType}}</b></td>
                                    <td style="text-align: left;"><b>{{cap.review}}</b></td>
                                    <td style="text-align: left;"><b>{{cap.extRefNo}}</b></td>
                                    <td style="text-align: left;"><b>{{cap.revRefNo}}</b></td>
                                    <td style="text-align: left;">
                                        <button class="btn btn-danger btn-sm" (click)="delAction(i)">Del</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="update(reviewForm)">SUBMIT</button>
            <button class="btn btn-danger" (click)="isView = false">CLOSE</button>
        </div>
    </div>
  </div>