.pharmacy-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .pharmacy-header {
    background-color: #dcebf7;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
  
  .pharmacy-row {
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .pharmacy-row:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .pharmacy-row:hover {
    background-color: #e6f7ff;
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .pharmacy-button {
    background-color: #00bfff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .pharmacy-button:hover {
    background-color: #0080ff;
  }
  
  /* Add more styles as needed */
  
  /* view */
  
  /* Add this to your existing CSS or style block */
  .card-block {
    padding: 20px; /* Add spacing around the content */
  }
  
  .card-text {
    color: #333; /* Set text color */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
    .table th,
    .table td {
        border: 1px solid #ccc;
        padding: 8px;
    }
  
  /* Add styles for form container */
  .form-container {
    margin-top: 20px;
  }
  
  .form-container .clr-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-container select,
  .form-container input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-container select {
    appearance: none;
    background-color: white;
    cursor: pointer;
  }
  
  /* Add more styles as needed */
  /* Your CSS stylesheet */
.pharma-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.2s;
  box-shadow: 0 0 3px rgba(0, 0, 255, 0.5);
}

.pharma-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.7);
}

.mandatory {
  color: #ff0000;
  font-weight: bold;
  margin-left: 5px;
}
