<div class="container-fluid" *ngIf="!isView">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Sampling For Approval</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/rnd/qc/sampling/raw" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
              </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                <table class="table">
                    <tr>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Material Code</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Medicap Lot No</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Containers</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Receiving no</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Date</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sampling Person</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.status' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
                    </tr>
                    <tr *ngFor="let result of results; let i = index">
                        <td style="text-align: left;">{{ result.material_code }}</td>
                        <td style="text-align: left;">{{ result.batch_no }}</td>
                        <td style="text-align: left;">{{ result.containers }}</td>
                        <td style="text-align: left;">{{ result.grn_no }}</td>
                        <td style="text-align: left;">{{ result.grn_date | date: 'dd-MM-yyyy'}}</td>
                        <td style="text-align: left;">{{ result.sampling_person }}</td>
                        <td style="text-align: left;">{{ result.status }}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                        </td>
                    </tr>
                    <tr *ngIf="results?.length == 0">
                        <td colspan="8">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isView">
    <div class="card">
        <div class="card-header">
            <div class="clr-row" style="margin-bottom: -10px;">
                <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Sampling for Approval</div>
                <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                  <button class="btn btn-sm" (click)="isView = false" style="background-color: red;color: white;">
                    CLOSE
                  </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                <h3>Material Details</h3>
                <table class="table">
                    <tr>
                        <td style="text-align: left;width: 15%;">Sampling No.:</td>
                        <td style="text-align: left;">{{ selectedSampling['id'] }}</td>
                        <td style="text-align: left;width: 15%;">Material Code:</td>
                        <td style="text-align: left;">{{ selectedSampling['material_code'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 15%;">Material Name:</td>
                        <td style="text-align: left;">{{ selectedSampling['material_name'] }}</td>
                        <td style="text-align: left;width: 15%;">Grade:</td>
                        <td style="text-align: left;">{{ selectedSampling['grade'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 15%;">Receiving no:</td>
                        <td style="text-align: left;">{{ selectedSampling['grn_no'] }}</td>
                        <td style="text-align: left;width: 15%;">Date:</td>
                        <td style="text-align: left;">{{ selectedSampling['grn_date'] | date: 'dd-MM-yyyy'}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 15%;">Mfg. Date:</td>
                        <td style="text-align: left;">{{ selectedSampling['mfg_date'] | date: 'dd-MM-yyyy'}}</td>
                        <td style="text-align: left;width: 15%;">Exp. Date:</td>
                        <td style="text-align: left;">{{ selectedSampling['exp_date'] | date: 'dd-MM-yyyy'}}</td>
                    </tr>
                </table>

                <h3>Area Checkpoints:</h3>
                <table class="table">
                    <tr>
                        <td style="text-align: left;width: 15%;">Balance ID:</td>
                        <td style="text-align: left;">{{ selectedSampling['area_details'].equipment_code }}</td>
                        <td style="text-align: left;width: 15%;">Cleaning status of area:</td>
                        <td style="text-align: left;">{{ selectedSampling['area_details'].cleaning_status }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 15%;">Temp.:(℃)</td>
                        <td style="text-align: left;">{{ selectedSampling['area_details'].temp }}</td>
                        <td style="text-align: left;width: 15%;">Relative Humidity:</td>
                        <td style="text-align: left;">{{ selectedSampling['area_details'].humidity }}</td>
                    </tr>
                </table>
                <h5>Clearance Checkpoints:</h5>
                <table class="table">
                    <tr>
                        <th>Sr.</th>
                        <th>Checkpoints</th>
                        <th>{{'common.status' | translate}}</th>
                        <th>{{'common.table.remark' | translate}}</th>
                    </tr>
                    <tr *ngFor="let checkpoint of selectedSampling['clearance_details'].checkpoints; let i = index">
                        <td>{{ i + 1 }}.</td>
                        <td>{{ checkpoint.checkpoint }}</td>
                        <td>{{ checkpoint.status }}</td>
                        <td>{{ checkpoint.remark }}</td>
                    </tr>
                    <tr *ngIf="selectedSampling['clearance_details'].checkpoints?.length == 0">
                        <td colspan="4">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>
                <h5>Previous Product Details:</h5>
                <table class="table">
                    <tr>
                        <td style="text-align: left;width: 20%;"><b>Previous Product:</b></td>
                        <td style="text-align: left;">{{ selectedSampling['clearance_details'].material_code }}</td>
                        <td style="text-align: left;width: 20%;"><b>Medicap Lot No/Lot No.:</b></td>
                        <td style="text-align: left;">{{ selectedSampling['clearance_details'].batch_no }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;"><b>Area Cleaned By:</b></td>
                        <td style="text-align: left;">{{ selectedSampling['clearance_details'].entry_by }}</td>
                        <td style="text-align: left;width: 20%;"><b>Clearance By:</b></td>
                        <td style="text-align: left;">{{ selectedSampling['clearance_details'].entry_date }}</td>
                    </tr>
                </table>
                <h5>Clearance Details:</h5>
                <table class="table">
                    <tr>
                        <td style="text-align: left;width: 20%;"><b>Temp.:</b></td>
                        <td style="text-align: left;">{{ selectedSampling['clearance_details'].temperature }}</td>
                        <td style="text-align: left;width: 20%;"><b>Humidity:</b></td>
                        <td style="text-align: left;">{{ selectedSampling['clearance_details'].humidity }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;"><b>Is Area Cleaned:</b></td>
                        <td style="text-align: left;">{{ selectedSampling['clearance_details'].area_cleaned }}</td>
                        <td style="text-align: left;width: 20%;"><b>Previous Product Trace:</b></td>
                        <td style="text-align: left;">{{ selectedSampling['clearance_details'].product_traces }}</td>
                    </tr>
                </table>

                <h3>Sampling Information:</h3>
                <div class="clr-row">
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="card-title" style="font-size: 15px;">Standard Sampling Qty: (From Specification)</div>
                                <div class="card-text">
                                    <div class="clr-row">
                                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                                            <label>Indentification:</label>
                                            <input type="text" name="identication_qty" ngModel="{{ selectedSampling['sample_details'].identication_qty }} {{ selectedSampling['sample_details'].unit }}" readonly tabindex="-1">
                                        </div>
                                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                                            <label>Composite:</label>
                                            <input type="text" name="composite_qty" ngModel="{{ selectedSampling['sample_details'].composite_qty }} {{ selectedSampling['sample_details'].unit }}" readonly tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="card-title">Reserve / Control Sample Qty:</div>
                                <div class="card-text">
                                    <div class="clr-row">
                                        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                                            <label>Composite:</label>
                                            <input type="text" name="reserve_composite" ngModel="{{ selectedSampling['sample_details'].reserve_composite }} {{ selectedSampling['sample_details'].unit }}" readonly tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="card-title">Actual Sampling Qty:<span style="font-size: 12px;">(Spec. Qty * 2 (Test, OOS))</span></div>
                                <div class="card-text">
                                    <div class="clr-row">
                                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                                            <label>Indentification:</label>
                                            <input type="text" name="actual_indentification" ngModel="{{ selectedSampling['sample_details'].actual_indentification }} {{ selectedSampling['sample_details'].unit }}" readonly tabindex="-1">
                                        </div>
                                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                                            <label>Composite:</label>
                                            <input type="text" name="actual_composite" ngModel="{{ selectedSampling['sample_details'].actual_composite }} {{ selectedSampling['sample_details'].unit }}" readonly tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="card-title">Sample Withdrawal Qty: <span style="font-size: 12px;">(From Every Container)</span></div>
                                <div class="card-text">
                                    <div class="clr-row">
                                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                                            <label>Indentification:</label>
                                            <input type="text" name="withdrawal_identication" ngModel="{{ selectedSampling['sample_details'].withdrawal_identication }} {{ selectedSampling['sample_details'].unit }}" readonly tabindex="-1">
                                        </div>
                                        <div class="clr-col-lg-8 clr-col-md-8 clr-col-sm-12 clr-col-xs-12">
                                            <label>(composite + reserve) / no. of containers:</label>
                                            <input type="text" name="withdrawal_composite" ngModel="{{ selectedSampling['sample_details'].withdrawal_composite }} {{ selectedSampling['sample_details'].unit }}" readonly tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="clr-row">
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Proper consignment label affixed</label>
                        <input type="text" name="label_affixed" [ngModel]="selectedSampling['sample_details'].label_affixed" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Condition of Containers</label>
                        <input type="text" name="container_condition" [ngModel]="selectedSampling['sample_details'].container_condition" readonly tabindex="-1">
                    </div>
                </div>

                <h3>Laminar Air Flow:</h3>
                <div class="clr-row">
                    <div class="clr-col-6">
                        <label>ID No.:</label>
                        <input type="text" name="laminar_no" [ngModel]="selectedSampling['area_details'].equipment_code" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-6">
                        <label>Pressure Differencial Reading:</label>
                        <input type="text" name="pressure_reading" [ngModel]="selectedSampling['area_details'].pressure_reading" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-6">
                        <label>LAF Start Time:</label>
                        <input type="time" name="laf_start_time" [ngModel]="selectedSampling['area_details'].laf_start_date" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-6">
                        <label>LAF End Time:</label>
                        <input type="time" name="laf_end_time" [ngModel]="selectedSampling['laf_stop_date']" readonly tabindex="-1">
                    </div>
                </div>

                <h5>No. of Containers To be Sampled: {{ selectedSampling['containers'] }}</h5>
                <table class="table" style="margin-top: 0.5rem;">
                    <thead>
                        <tr>
                        <th colspan="4" style="text-align: center;">Sampling Qty</th>
                        </tr>
                        <tr>
                        <th>Container No.</th>
                        <th>Indentification Qty</th>
                        <th>Composite Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let container of selectedSampling['sample_details'].containers; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ container.identication_qty }}</td>
                        <td>{{ container.composite_qty }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="downloadReport()">{{'common.download' | translate}}</button>

            <button class="btn btn-primary" (click)="updateSampling('approve')">{{'common.approve' | translate}}</button>
            <button class="btn btn-danger" (click)="updateSampling('reject')">{{'common.reject' | translate}}</button>
            <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>