<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">RO- LOG SHEET
            </div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-danger" routerLink="/admin/hygin">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <form #logsheetform="ngForm">

                <div class="clr-row">
                    <div class="clr-col-lg-4 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Date :<sup style="color: red">*</sup></label>
                        <input type="date" name="clening_date" ngModel (change)="day($event.target.value)" required>
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Day:<sup style="color: red">*</sup></label>
                        <input type="text" name="cleaning_day" [(ngModel)]="cleaning_day" readonly>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" style="text-align: center">
                        <div class="clr-row" style="margin-bottom: -10px;">
                            <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">
                                RO-Log Checking</div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="clr-row">

                            <div class="clr-col-lg-3 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                                <label>Raw Water Level Check :</label><br>
                                <input class="larger" type="checkbox" name="ro_water_level" ngModel  >
                            </div>

                            <div class="clr-col-lg-3 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                                <label>Sand Filter BackWash Time :</label><br>
                                <input type="time" name="ro_backwash" ngModel required>
                            </div>

                            <div class="clr-col-lg-3 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                                <label>Sand Filter Rinse Time :</label><br>
                                <input type="time" name="ro_rinse" ngModel required>
                            </div>

                            <div class="clr-col-lg-3 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                                <label>Carbon Filter BackWash Time :</label><br>
                                <input type="time" name="ro_carban_back" ngModel required>
                            </div>

                            <div class="clr-col-lg-3 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                                <label>Carbon Filter Rinse Time :</label><br>
                                <input type="time" name="ro_carban_rinse" ngModel required>
                            </div>
                           

                            <div class="clr-col-lg-3 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                                <label>Filter Process Start Time :</label><br>
                                <input type="time" name="filter_process_time" (change)="updateTotalProcessTime()" [(ngModel)]="filter_process_time" required>
                            </div>
                            <div class="clr-col-lg-3 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                                <label>Filter Process End Time :</label><br>
                                <input type="time" name="filter_process_end_time" (change)="updateTotalProcessTime()" [(ngModel)]="filter_process_end_time"  required>
                            </div>
                            <div class="clr-col-lg-3 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                                <label>Total Process Time:</label><br>
                                <input type="text" name="total_process_time" [(ngModel)]="total_process_time"  readonly>
                            </div>

                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="save(logsheetform)">{{'common.submit' | translate}}</button>
        </div>
    </div>
</div>