<div class="container-fluid" *ngIf="!isView">
<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Preventive Maintanance Checklist for Approval </div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/engineering/preventive/checklist" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
     </div>
    <div class="card-block">
        <div class="card-text">
            <table class="table">
                <tr>
                    <th style="text-align: left;">Sr.</th>
                    <th style="text-align: left;">Equipment Type</th>
                    <th style="text-align: left;">Equipment Name</th>
                    <th style="text-align: left;">Prepared By</th>
                    <th style="text-align: left;">Prepared Date</th>
                    <th>{{'common.table.action' | translate}}</th>
                </tr>
                <tr *ngFor='let item of preventives; let i= index'>
                    <td style="text-align: left;">{{i+1}}</td>
                    <td style="text-align: left;">{{item.equipment_type}}</td>
                    <td style="text-align: left;">{{item.equipment_name}}</td>
                    <td style="text-align: left;">{{item.entry_by}}</td>
                    <td style="text-align: left;">{{item.entry_date}}</td>
                    <td>
                        <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                    </td>
                </tr>
                <tr *ngIf="preventives?.length==0">
                    <td colspan="7">{{'common.noRecords' | translate}}</td>
                  </tr>
            </table>
        </div>
    </div>
</div>
</div>

<div class="container-fluid" *ngIf="isView">
    <div class="card">
        <div class="card-header">Preventive Maintanance Checking Details</div>
        <div class="card-block">
            <div class="card-text">
                <h3>Equipment Details:</h3>
                <table class="table">
                    <tr>
                        <td style="text-align: left;border: 1px solid black;">Equipment Code:</td>
                        <td style="text-align: left;border: 1px solid black;">{{ selectedResult['equipment_code'] }}</td>
                        <td style="text-align: left;border: 1px solid black;">Equipment Type:</td>
                        <td style="text-align: left;border: 1px solid black;">{{ selectedResult['equipment_type'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;border: 1px solid black;">Department:</td>
                        <td style="text-align: left;border: 1px solid black;">{{ selectedResult['department'] }}</td>
                        <td style="text-align: left;border: 1px solid black;">Location:</td>
                        <td style="text-align: left;border: 1px solid black;">{{ selectedResult['section'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;border: 1px solid black;">Make:</td>
                        <td style="text-align: left;border: 1px solid black;">{{ selectedResult['make'] }}</td>
                        <td style="text-align: left;border: 1px solid black;">Capacity:</td>
                        <td style="text-align: left;border: 1px solid black;">{{ selectedResult['capacity'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;border: 1px solid black;">Equipment Name:</td>
                        <td style="text-align: left;border: 1px solid black;" colspan="3">{{ selectedResult['equipment_name'] }}</td>
                    </tr>
                </table>

                <h3>CheckList:</h3>
                <table class="table">
                    <tr>
                        <th style="text-align: left;">Checkpoint</th>
                        <th>Part No</th>
                        <th style="text-align: left;">Part Affecting</th>
                        <th style="text-align: left;">Frequancy</th>
                    </tr>
                    <tr *ngFor="let user of selectedResult['checklist'];let i = index">
                        <td style="text-align: left;">{{ user.checkpoint }}</td>
                        <td>{{ user.part_no }}</td>
                        <td style="text-align: left;">{{ user.part_affecting }}</td>
                        <td style="text-align: left;">{{ user.frequency }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary"  (click)="update('approve')">Approvel</button>
            <button class="btn btn-danger"  (click)="update('reject')">{{'common.reject' | translate}}</button>
            <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>





