<div class="container-fluid">
    <div class="card" *ngIf="!isView">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Deviation for Comment</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/hr/qms/deviation" style="background-color: red;color: white;"> {{'common.close' | translate}} </button>
              </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                
                <table class="table table-border">
                    <tr>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Deviation No.</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.department' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.category' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.type' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.status' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">view</th>
                    </tr>
                    <tr *ngFor="let result of results; let i = index">
                        <td>{{ i + 1 }}.</td>
                        <td>{{ result.dev_no }}</td>
                        <td>{{ result.department }}</td>
                        <td>{{ result.category }}</td>
                        <td>{{ result.type }}</td>
                        <td>{{ result.status }}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="viewDeviation(i)">{{'common.view' | translate}}</button>
                        </td>
                    </tr>
                    <tr *ngIf="results?.length == 0">
                        <td colspan="7">No. Records Found!</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="isView">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Deviation for Comment</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" (click)="isView=fasle" style="background-color: red;color: white;"> {{'common.close' | translate}} </button>
              </div>
            </div>
          </div>
        <div class="card-block">
            <div class="card-text">
                <div class="clr-row">
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Deviation Related To:</label>
                        <input type="text" ngModel name="related_to" ngModel="{{selectedDev['related_to']}}" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Deviation Category:</label>
                        <input type="text" ngModel name="category" ngModel="{{selectedDev['category']}}" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Type Of Deviation:</label>
                        <input type="text" ngModel name="type" ngModel="{{selectedDev['type']}}" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Date Of Deviation:</label>
                        <input type="text" ngModel name="deviation_date" ngModel="{{selectedDev['entry_date'] | date: 'yyyy-MM-dd'}}" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Affecting on Product / Material:</label>
                        <input type="text" name="affecting_product" ngModel="{{selectedDev['affecting_product']}}" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                        <label>Affecting on Equipment:</label>
                        <input type="text" name="affecting_equipment" ngModel="{{selectedDev['affecting_equipment']}}" readonly tabindex="-1">
                    </div>
                </div>
                <div class="clr-row" *ngIf="selectedDev['affecting_product'] == 'yes'">
                    <div class="clr-col-md-3 clr-col-12">
                        <label>Product Code:</label>
                        <input type="text" name="product_name" ngModel="{{ selectedDev['product_details'].product_code }}" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-md-3 clr-col-12">
                        <label>Medicap Lot No:</label>
                        <input type="text" name="batch_no" ngModel="{{ selectedDev['product_details'].batch_no }}" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Mfg. Date:</label>
                        <input type="text" name="mfg_date" ngModel="{{ selectedDev['product_details'].mfg_date }}" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Exp. Date:</label>
                        <input type="text" name="exp_date" ngModel="{{ selectedDev['product_details'].exp_date }}" readonly tabindex="-1">
                    </div>
                    </div>
                    <div class="clr-row">
                    <div class="clr-col-12" *ngIf="selectedDev['affecting_equipment'] == 'yes'">
                        <label>Name of Equipment:</label>
                        <input ngModel type="text" name="equipment_name" readonly tabindex="-1">
                    </div>
                    <div class="clr-col-12">
                        <label>Justification for type:</label>
                        <textarea ngModel name="justification" ngModel="{{selectedDev['justification']}}" readonly tabindex="-1"></textarea>
                    </div>
                    <div class="clr-col-12">
                        <label>Cause of Deviation:</label>
                        <textarea ngModel name="cause" ngModel="{{selectedDev['cause']}}" readonly tabindex="-1"></textarea>
                    </div>
                    <div class="clr-col-12">
                        <label>Description of Deviation:</label>
                        <textarea ngModel name="description" ngModel="{{selectedDev['description']}}" readonly tabindex="-1"></textarea>
                    </div>
                </div>
                <form #commentForm="ngForm">
                    <div class="clr-row">
                        <div class="clr-col-12">
                            <label>Comment:</label>
                            <textarea rows="2" name="comment" ngModel required></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="save(commentForm)">{{'common.submit' | translate}}</button>
            <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>
