<div class="card">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;"> Medical Test</div>
      <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm" routerLink="new" style="background-color:green;color: white;"    *ngIf="isuser == 'Yes'">
          New
        </button>
        <!--   <button class="btn btn-sm" routerLink="approval" style="background-color:green;color: white;">
                Approval
              </button> -->
        <button type="button" class="btn btn-sm" (click)="closeFromMasterHub()" style="background-color: red;color: white;">
          {{'common.close' | translate}} </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <table class="table table1 table-border">
         
          <tr>
            <th>Sr</th>
            <th>Test Id</th>
            <th>Test Name</th>
            <th>Test</th>
          </tr>
         
       
          <tr *ngFor="let user of tests;let i =index">
            <td style="vertical-align: middle;">{{i+1}}</td>
            <td style="vertical-align: middle;">{{user.id}}</td>
            <td style="vertical-align: middle;">{{user.test_name}}</td>
            <td style="vertical-align: middle;">{{user.test}}</td>
          </tr>
         
        <tr *ngIf="item?.length==0">
          <td colspan="5"> No Record Found</td>
        </tr>
      </table>

      <!-- <clr-datagrid [clrDgLoading]="loading">
        
        <clr-dg-column>{{'common.table.srNo' | translate}}</clr-dg-column>
        <clr-dg-column clrDgField="id">Test Id</clr-dg-column>
        <clr-dg-column clrDgField="test_name">Test Name</clr-dg-column>
        <clr-dg-column clrDgField="test">Test</clr-dg-column>
   
     <clr-dg-row *clrDgItem="let user of item;let i =index" [clrDgItem]="user">
        <clr-dg-cell>{{i+1}}.</clr-dg-cell>
        <clr-dg-cell>{{user.id}}</clr-dg-cell>
        <clr-dg-cell>{{user.test_name}}</clr-dg-cell>
        <clr-dg-cell>{{user.test}}</clr-dg-cell>
     </clr-dg-row>
     
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} user
      </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid> -->
    </div>
  </div>
  <div class="card-footer"><button class="btn btn-primary" (click)="download()">{{'common.download' | translate}}</button></div>
</div>

<clr-modal [(clrModalOpen)]="isTestname">
  <h3 class="modal-title">Add New Test:</h3>
  <div class="modal-body">
      <form #textForm="ngForm">
          <div class="clr-row">
              <div class="clr-col-lg-12">
                  <label>Medical Test Name:</label>
                  <input type="text" name="mtest_name" ngModel>
              </div>
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)=" saveTest(textForm)">{{'common.save' | translate}}</button>
      <button type="button" class="btn btn-danger" (click)="isTest = false">{{'common.close' | translate}}</button>
  </div>
</clr-modal>