<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;"> Analytical Status For Finished Material </div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/qc/anat1" style="background-color: red;color: white;">
                    <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <form #finishForm="ngForm">

                     <div class="card">
                <div class="card-header" style="text-align: left; color: white;">Product Information</div>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Product Name:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="product_name" ngModel required>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong> Batch Number:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="batch_no" ngModel required>
                        </div>
                        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                            <label><strong> Date of Analysis:<sup style="color: red">*</sup></strong></label>
                            <input type="date" name="ana_date" ngModel required>
                        </div>
                    </div>
                </div>
                <div class="card-header" style="text-align: left; color: white;">Analytical Methods Used</div>
              <h4>Method 1</h4>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Method Description:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="des_method" ngModel required>
                        </div>
                        
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Instrument Used:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="instr_used" ngModel required>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong> Date of Analysis:<sup style="color: red">*</sup></strong></label>
                            <input type="date" name="ana_date" ngModel required>
                        </div>
                    </div>
                </div>
              <h4>Method 2</h4>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Method Description:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="des_method1" ngModel required>
                        </div>
                        
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Instrument Used:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="instr_used1" ngModel required>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong> Date of Analysis:<sup style="color: red">*</sup></strong></label>
                            <input type="date" name="ana_date1" ngModel required>
                        </div>
                    </div>
                </div>
                 <div class="card-block">
                     
                <h3>Testing Parameters:</h3>
                <table class="table table-border">
                  
                  <tr>
                    <th style="background-color: rgba(227, 238, 247, 0.233); color: rgba(15, 2, 2, 0.664);">Parameter</th>
                    <th style="background-color:  rgba(227, 238, 247, 0.233); color: rgba(10, 5, 5, 0.87);">Specification</th>
                    <th style="background-color:  rgba(227, 238, 247, 0.233); color: rgba(3, 1, 1, 0.767);">Results</th>
                     
                    
                  </tr>
                  <tr>
                    <th style="text-align: left; font-size: 20px;"> 
                        <input type="checkbox" class="larger" style="transform: scale(1.5); font-size: 20px; margin-right: 20px; height: 15px;"/>  
                        Appearance	
                    </th>
                    <th><input type="text"/></th>
                    <th><input type="text"/></th>
                </tr>
                  <tr>
                    <th style="text-align: left; font-size: 20px;"> 
                        <input type="checkbox" class="larger" style="transform: scale(1.5); font-size: 20px; margin-right: 10px;height: 15px;"/>  
                        Identity	
                    </th>
                    <th><input type="text"/></th>
                    <th><input type="text"/></th>
                </tr>
                  <tr>
                    <th style="text-align: left; font-size: 20px;"> 
                        <input type="checkbox" class="larger" style="transform: scale(1.5); font-size: 20px; margin-right: 10px;height: 15px;"/>  
                        Assay/Potency	
                    </th>
                    <th><input type="text"/></th>
                    <th><input type="text"/></th>
                </tr>
                  <tr>
                    <th style="text-align: left; font-size: 20px;"> 
                        <input type="checkbox" class="larger" style="transform: scale(1.5); font-size: 20px; margin-right: 10px;height: 15px;"/>  
                        Purity	
                    </th>
                    <th><input type="text"/></th>
                    <th><input type="text"/></th>
                </tr>
                  <tr>
                    <th style="text-align: left; font-size: 20px;"> 
                        <input type="checkbox" class="larger" style="transform: scale(1.5); font-size: 20px; margin-right: 10px;height: 15px;"/>  
                        Related Substances	
                    </th>
                    <th><input type="text"/></th>
                    <th><input type="text"/></th>
                </tr>
                  <tr>
                    <th style="text-align: left; font-size: 20px;"> 
                        <input type="checkbox" class="larger" style="transform: scale(1.5); font-size: 20px; margin-right: 10px;height: 15px;"/>  
                        Microbial Limits	
                    </th>
                    <th><input type="text"/></th>
                    <th><input type="text"/></th>
                </tr>
                  <tr>
                    <th style="text-align: left; font-size: 20px;"> 
                        <input type="checkbox" class="larger" style="transform: scale(1.5); font-size: 20px; margin-right: 10px;height: 15px;"/>  
                        Heavy Metals	
                    </th>
                    <th><input type="text"/></th>
                    <th><input type="text"/></th>
                </tr>
                  <tr>
                    <th style="text-align: left; font-size: 20px;"> 
                        <input type="checkbox" class="larger" style="transform: scale(1.5); font-size: 20px; margin-right: 10px;height: 15px;"/>  
                        Residual Solvents	
                    </th>
                    <th><input type="text"/></th>
                    <th><input type="text"/></th>
                </tr>
                  <tr>
                    <th style="text-align: left; font-size: 20px;"> 
                        <input type="checkbox" class="larger" style="transform: scale(1.5); font-size: 20px; margin-right: 10px;height: 15px;"/>  
                        Stability	
                    </th>
                    <th><input type="text"/></th>
                    <th><input type="text"/></th>
                </tr>
  
                   
               
                   
                  
                
                </table>
                </div>   

                   
                       
            </div>
             
            <div class="card">
                <div class="card-header" style="text-align: left;color: white; background-color: rgb(212, 103, 14);">Analytical Equipment</div>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label>Equipement Name:<sup style="color: red">*</sup>: </label>
            <select name="equipment_name" [(ngModel)]="equipment_name"  required style="height: 33px;">
              <option></option>
              <option *ngFor="let dept of equipments">{{ dept.equipment_name }}</option>
            </select>
          </div>
                        <!-- <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label>Equipement code:<sup style="color: red">*</sup>: </label>
            <select name="equipment_code" [(ngModel)]="equipment_name"  required style="height: 33px;">
              <option></option>
              <option *ngFor="let dept of equipments">{{ dept.equipment_code }}</option>
            </select>
          </div> -->
             <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label>Equipement code:<sup style="color: red">*</sup>: </label>
            <select name="equipment_code" [(ngModel)]="equipment_name"  required style="height: 33px;">
              <option></option>
              <option *ngFor="let dept of equipments">{{ dept.equipment_code }}</option>
            </select>
          </div>
             <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label>Max Capacity:<sup style="color: red">*</sup>: </label>
            <select name="max_cap" [(ngModel)]="max_cap"  required style="height: 33px;">
              <option></option>
              <option *ngFor="let dept of equipments">{{ dept.equipment_code }}</option>
            </select>
          </div>
             <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label>Model:<sup style="color: red">*</sup>: </label>
            <select name="model" [(ngModel)]="model"  required style="height: 33px;">
              <option></option>
              <option *ngFor="let dept of equipments">{{ dept.equipment_code }}</option>
            </select>
          </div>
          <!-- <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
            <label><strong> Analytical Procedures:<sup style="color: red">*</sup></strong></label>
            <input type="file" name="ana_proc" ngModel required>
        </div> -->
          <!-- <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
            <label><strong> Reference Standards:<sup style="color: red">*</sup></strong></label>
            <input type="text" name="ref_staderd" ngModel required>
        </div> -->
                        
                         
                       
                    </div>
                    
                </div>
            </div>
            <div class="card">
                <div class="card-header" style="text-align: left;"> Analytical Procedures</div>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong>Procedures:<sup style="color: red">*</sup></strong></label>
                            <input type="file" name="procedure" ngModel required>
                        </div>
                      
                       
                    </div>
                    
                </div>
            </div>
            <div class="card">
                <div class="card-header" style="text-align: left;color: white; background-color: rgb(212, 103, 14);"> Reference Standards</div>
                <div class="card-block">
                    <div class="clr-row">
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong> Reference Name:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="ref_name" ngModel required>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong> source:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="source" ngModel required>
                        </div>
                        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
                            <label><strong> Certificate:<sup style="color: red">*</sup></strong></label>
                            <input type="file" name="ana_proc" ngModel required>
                        </div>
                      
                       
                    </div>
                    
                </div>
                <div class="card-block">
                    <div class="clr-row">
                        
                        
                        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                            <label><strong> Conclusion:<sup style="color: red">*</sup></strong></label>
                            <input type="text" name="ref_staderd" ngModel required>
                        </div>
                      
                       
                    </div>
                    
                </div>
            </div>
            
            

        </form>  
    </div>
        <div class="card-footer">
            <button class="btn btn-primary"(click)="save(finishForm)">{{'common.save' | translate}}</button>
        </div>
</div>
