<div class="container-fluid">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Receive SOPs Hard Copies</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/qms/sops" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
              </div>
            </div>
          </div>
        <div class="card-block">
            <div class="card-text">
                <table class="table table-border">
                    <tr>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">SOP No.</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">SOP Name</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.department' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">SOP For</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">No. of Copies</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
                    </tr>
                    <tr *ngFor="let result of results; let i = index">
                        <td style="text-align: left;">{{ i + 1 }}.</td>
                        <td style="text-align: left;">{{ result.sop_no }}</td>
                        <td style="text-align: left;">{{ result.title }}</td>
                        <td style="text-align: left;">{{ result.department }}</td>
                        <td style="text-align: left;">{{ result.sop_for }}</td>
                        <td style="text-align: left;">{{ result.copy }}</td>
                        <td>
                            <button class="btn btn-sm btn-primary" (click)="update('receive', result.id)">RECEIVE</button>
                            <button class="btn btn-sm btn-danger" (click)="update('not_receive', result.id)">NOT RECEIVE</button>
                        </td>
                    </tr>
                    <tr *ngIf="results?.length == 0">
                        <td colspan="7">No. Records Found!</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">Received SOPs in Hard Copy Log</div>
        <div class="card-block">
            <div class="card-text">
                <table class="table table-border">
                    <tr>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">SOP No.</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">SOP Name</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.department' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">SOP For</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">No. of Copies</th>
                    </tr>
                    <tr *ngFor="let result of reports; let i = index">
                        <td style="text-align: left;">{{ i + 1 }}.</td>
                        <td style="text-align: left;">{{ result.sop_no }}</td>
                        <td style="text-align: left;">{{ result.title }}</td>
                        <td style="text-align: left;">{{ result.department }}</td>
                        <td style="text-align: left;">{{ result.sop_for }}</td>
                        <td style="text-align: left;">{{ result.copy }}</td>
                    </tr>
                    <tr *ngIf="reports?.length == 0">
                        <td colspan="6">No. Records Found!</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>