<div class="card eis-form">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px">
      <div class="clr-col-9" style="color: aliceblue; margin-top: -2px; text-align: left">
        Employee Initials &amp; Signature Record ({{ formNo }})
      </div>
      <div class="clr-col-lg-3" style="text-align: right; padding-right: 0; margin-top: -7px">
        <button class="btn btn-sm" routerLink="/qa/employee-initials-signature" style="background-color: red; color: white">
          <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
        </button>
      </div>
    </div>
  </div>

  <div class="card-block">
    <form #eisForm="ngForm">
      <table class="eis-form__sheet-table">
        <tr>
          <td class="eis-form__label-cell">TITLE:</td>
          <td colspan="3" class="eis-form__title-cell">EMPLOYEE INITIALS AND SIGNATURE RECORD</td>
        </tr>
        <tr>
          <td class="eis-form__label-cell">FORM NO.:</td>
          <td class="eis-form__value-cell">{{ formNo }}</td>
          <td class="eis-form__label-cell">REVISION NO.:</td>
          <td class="eis-form__value-cell">{{ revisionNo }}</td>
        </tr>
        <tr>
          <td class="eis-form__label-cell">EFFECTIVE DATE:</td>
          <td class="eis-form__value-cell">{{ effectiveDate | date: 'dd MMM yyyy' }}</td>
          <td class="eis-form__label-cell">PAGE NO.:</td>
          <td class="eis-form__value-cell">1 of 1</td>
        </tr>
      </table>

      <table class="eis-form__sheet-table">
        <thead>
          <tr>
            <th>Date <span class="eis-form__required">*</span></th>
            <th>Employee Name (Print) <span class="eis-form__required">*</span></th>
            <th>Initials</th>
            <th>Signature</th>
            <th>Date of Employment</th>
            <th>Dept/ Position</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input class="eis-form__input" type="date" name="record_date" [(ngModel)]="recordDate" required />
            </td>
            <td>
              <select
                class="eis-form__select"
                name="employee_select"
                [(ngModel)]="selectedEmployee"
                (ngModelChange)="onEmployeeChange()"
                required
              >
                <option [ngValue]="null">-- Select --</option>
                <option *ngFor="let emp of employees" [ngValue]="emp">{{ getEmployeeLabel(emp) }}</option>
              </select>
              <div class="eis-form__note" *ngIf="!employees?.length">No employees found in master.</div>
            </td>
            <td>
              <input class="eis-form__input" type="text" name="initials" [(ngModel)]="initials" maxlength="10" />
            </td>
            <td>
              <div class="eis-form__row-actions">
                <input class="eis-form__input" type="text" name="signature" [(ngModel)]="signature" readonly />
                <button type="button" class="btn btn-sm btn-success eis-form__stamp-btn" (click)="stampSignature()">Sign</button>
              </div>
            </td>
            <td>
              <input class="eis-form__input" type="date" name="date_of_employment" [(ngModel)]="dateOfEmployment" readonly />
            </td>
            <td>
              <input class="eis-form__input" type="text" name="dept_position" [(ngModel)]="deptPosition" readonly />
            </td>
            <td>
              <textarea class="eis-form__comments" name="comment" rows="2" [(ngModel)]="comment"></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

  <div class="card-footer">
    <button class="btn btn-primary" (click)="save(eisForm)">{{ 'common.submit' | translate }}</button>
  </div>
</div>
