<div class="container-fluid" *ngIf="!isView">
    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Weighing of Material Log</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/store/godown/packing/weighing" style="background-color: red;color: white;"> {{'common.close' | translate}} </button>
          </div>
        </div>
      </div>
        <div class="card-block">
          <div class="clr-row">
              <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                <label>Vendor Name:</label>
                <select name="vendor_name" [(ngModel)]="vendor_name" required>
                  <option></option>
                  <option *ngFor="let vendor of vendors" >{{ vendor.vendor_name }}</option>
                </select>
              </div>
              <!-- <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                <label>Material Type:</label>
                <select name="material_subtype" [(ngModel)]="material_subtype" required>
                  <option></option>
                  <option>Primary</option>
                  <option>Secondary</option>
                  <option>Tertiary</option>
                </select>
              </div> -->
              <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                <label>From Date</label>
                <input type="date" name="from_date" [(ngModel)]="from_date" required [max]="today">
            </div>
            <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                <label>To Date</label>
                <input type="date" name="to_date" [(ngModel)]="to_date" required [max]="today">
            </div>
            <div class="clr-col-lg-1 clr-col-md-1 clr-col-sm-12 clr-col-xs-12">
              <button class="btn btn-primary" style="margin-top:30px;" (click)="getWeighingMaterials()">{{'common.search' | translate}}</button>
            </div>
            <div class="clr-col-lg-2 clr-col-md-1 clr-col-sm-12 clr-col-xs-12">
                <button class="btn btn-danger" (click)="AllRecord()" style="margin-top: 32px;">Clear Filter</button>
              </div>
              <!-- <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                <label>Status:</label>
                <select name="status" [(ngModel)]="status" required>
                  <option></option>
                  <option value="approve">approve</option>
                  <option value="reject">reject</option>
                  <option value="pending">{{'common.pending' | translate}}</option>
                </select>
              </div> -->
              <!-- <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                <button class="btn btn-primary" style="margin-top:30px;" (click)="getWeighingMaterials()">{{'common.search' | translate}}</button>
              </div> -->
            </div>
            <div class="card-text">
                <table class="table table-border">
                    <tr>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Sr.</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Material Name</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Material Type</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Vendor Name</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Medicap Lot No</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Accepted Qty</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Containers</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Mfg. Date</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Exp. Date</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">{{'common.status' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">View</th>
                    </tr>
                    <tr *ngFor="let result of results; let i = index">
                        <td style="text-align: left;">{{ i + 1 }}.</td>
                        <td style="text-align: left;">{{ result.material_name}}</td>
                        <td style="text-align: left;">{{ result.material_subtype }}</td>
                        <td style="text-align: left;">{{ result.vendor_name }}</td>
                        <td style="text-align: right;">{{ result.batch_no }}</td>
                        <td style="text-align: right;">{{ result.accept_qty }}</td>
                        <td style="text-align: left;">{{ result.containers }}</td>
                        <td style="text-align: left;">{{ result.mfg_date |date:'MMM-yyyy' | uppercase}}</td>
                        <td style="text-align: left;">{{ result.exp_date |date:'MMM-yyyy' | uppercase}}</td>
                        <td style="text-align: left;">{{ result.weighing }}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                        </td>
                    </tr>
                    <tr *ngIf="results?.length == 0">
                      <td colspan="10">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary" (click)="download()">Download </button>
            </div>
      
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isView">
    <div class="card">
        <div class="card-header">Weighing of Material Log</div>
        <div class="card-block">
            <div class="card-text">
                <table class="table table-border">
                    <tr>
                      <td style="text-align: left;"><b>Material Name:</b></td>
                      <td colspan="3" style="text-align: left;">{{ selectedReport['material_name'] }}</td>
                    </tr>
                    <tr>
                      <td style="text-align: left;"><b>Vendor Name:</b></td>
                      <td colspan="3" style="text-align: left;">{{ selectedReport['vendor_name'] }}</td>
                    </tr>
                    <tr>
                      <td style="text-align: left;"><b>Packaging Slip:</b></td>
                      <td style="text-align: left;">{{ selectedReport['challan_no'] }}</td>
                      <td style="text-align: left;"><b>Packaging Slip Date:</b></td>
                      <td style="text-align: left;">{{ selectedReport['challan_date'] |date:'dd-MMM-yyyy'}}</td>
                    </tr>
                    <tr>
                      <td style="text-align: left;"><b>PO No.:</b></td>
                      <td style="text-align: left;">{{ selectedReport['po_no'] }}</td>
                      <td style="text-align: left;"><b>PO Date:</b></td>
                      <td style="text-align: left;">{{ selectedReport['po_date'] |date:'dd-MMM-yyyy'}}</td>
                    </tr>
                    <tr>
                      <td style="text-align: left;"><b>Material Type:</b></td>
                      <td style="text-align: left;">{{ selectedReport['material_type'] }}</td>
                      <td style="text-align: left;"><b>Material Subtype:</b></td>
                      <td style="text-align: left;">{{ selectedReport['material_subtype'] }}</td>
                    </tr>
                    <tr>
                      <td style="text-align: left;"><b>Material Code:</b></td>
                      <td style="text-align: left;">{{ selectedReport['material_code'] }}</td>
                      <td style="text-align: left;"><b>Material Grade:</b></td>
                      <td style="text-align: left;">{{ selectedReport['grade'] }}</td>
                    </tr>
                    <tr>
                      <td style="text-align: left;"><b>Qty:</b></td>
                      <td style="text-align: left;" colspan="3">{{ selectedReport['qty'] }}</td>
                    </tr>
                    <tr>
                      <td style="text-align: left;"><b>PO Qty:</b></td>
                      <td style="text-align: left;" colspan="3">{{ selectedReport['order_qty'] }} {{ selectedReport['unit'] }}</td>
                    </tr>
                </table>

             
                <table class="table table-border">
                    <tr>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Container No.</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Gross Wt.</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Tare Wt.</th>
                      <th style="background-color: rgb(14, 67, 112); color: white;">Net Wt.</th>
                    </tr>
                    <tr *ngFor="let container of selectedReport['weighing_details'].containers; let i = index">
                      <td>{{ i + 1 }}.</td>
                      <td>{{ container.container_no }}</td>
                      <td>{{ container.gross_wt }}</td>
                      <td>{{ container.tare_wt }}</td>
                      <td>{{ container.gross_wt - container.tare_wt }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>