<div class="container-fluid">
    <div class="card" *ngIf="!isView">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">CAPA For Review1</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/qa/capa" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
        <div class="card-block">
            <div class="card-text">
                <table class="table table-border">
                    <tr>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.date' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Capa No</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Document No.</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.department' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.status' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">view</th>
                    </tr>
                    <tr *ngFor="let result of results; let i = index">
                        <td style="text-align: left;">{{ i + 1 }}.</td>
                        <td style="text-align: left;">{{ result.initiate_date | date: 'dd-MM-yyyy'}}</td>
                        <td style="text-align: left;">{{ result.capa_no}}</td>
                        <td style="text-align: left;">{{ result.document_no}}</td>
                        <td style="text-align: left;">{{ result.department}}</td>
                        <td style="text-align: left;">{{ result.status}}</td>
                        <td>
                            <button class="btn btn-sm btn-info" (click)="viewIncident(i)">{{'common.view' | translate}}</button>
                        </td>
                    </tr>
                    <tr *ngIf="results?.length == 0">
                        <td colspan="7">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="isView">
      <div class="card-header">CAPA For Review1</div>
      <div class="card-block">
          <div class="card-text">
            <table class="table">
                <tr>
                  <td style="text-align: left;">CAPA No:</td>
                  <td style="text-align: left;">{{selectedDev['capa_no']}}</td>
                  <td style="text-align: left;">Date:</td>
                  <td style="text-align: left;">{{selectedDev['initiate_date'] | date: 'dd-MM-yyyy'}}</td>
                </tr>
                <tr>
                  <td style="text-align: left;">Initiated Deparment:</td>
                  <td style="text-align: left;">{{selectedDev['department']}}</td>
                  <td style="text-align: left;">Reference Document No:</td>
                  <td style="text-align: left;">{{selectedDev['document_no']}}</td>
                </tr>
            </table>
            <h3>CAPA Origin:</h3>
            <table class="table table-border">
                <tr>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Origin</th>
                </tr>
                <tr *ngFor="let origin of selectedDev['origin']; let i = index">
                    <td>{{ i + 1 }}.</td>
                    <td style="text-align: left;">{{origin}}</td>
                </tr>
            </table>
            <h3>CAPA Plan:</h3>
            <table class="table">
                <tr>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Capa</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Person</th>
                    <th style="text-align: center; background-color: rgb(14, 67, 112); color: white;">Target Due Date</th>
                    <th *ngIf="plant_id == '58' || plant_id == '59'" style="text-align: center; background-color: rgb(14, 67, 112); color: white;">Training required</th>
                </tr>
                <tr *ngFor="let origin of selectedDev['plan']; let i = index">
                    <td>{{ i + 1 }}.</td>
                    <td style="text-align: left;">{{origin.capa}}</td>
                    <td style="text-align: left;">{{origin.person}}</td>
                    <td style="text-align: center;">{{origin.due_date | date: 'dd-MM-yyyy' }}</td>
                    <td *ngIf="plant_id == '58' || plant_id == '59'" style="text-align: center;">{{origin.training }}</td>
                </tr>
            </table>
            <table class="table">
                <tr>
                  <td style="text-align: left;">CAPA Initiated By: {{ selectedDev['initiate_by'] }} / {{ selectedDev['initiate_date'] | date: 'dd-MM-yyyy' }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;">CAPA Initiated Department Head: {{ selectedDev['check_by'] }} / {{ selectedDev['check_date'] | date: 'dd-MM-yyyy' }}</td>
                </tr>
            </table>
              <br>
            <form #occuer="ngForm"> 
            <div class="clr-row">
                <div class="clr-col-lg-6 clr-col-md-6">
                    <label>Has this type of CAPA occured previously:</label>
                    <select name="prev_occured" [(ngModel)]="prev_occured" required>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </div>
                <div class="clr-col-lg-6 clr-col-md-6"*ngIf="prev_occured=='Yes'">
                    <label>CAPA No:</label>
                    <input type="text"name="pcapa_no" ngModel required>
                </div>
                <div class="clr-col-lg-6 clr-col-md-6">
                    <label>change Control Required:</label>
                    <select name="changecontrol" ngModel required>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </div>
                <div class="clr-col-lg-6">
                    <label>Comment:</label>
                    <input type="text"name="comment" ngModel required>
                </div>
            </div>
            </form>
          </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="save(occuer)">{{'common.save' | translate}}</button>
          <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
      </div>
    </div>
</div>