<div class="container-fluid">
    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Initiate New SOP</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/qa/sops" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <form #prepareForm="ngForm">
            <div class="clr-row">
              <div class="clr-col-12">
                <label>SOP Title:<span style="color: red">*</span></label>
                <input type="text" name="title" ngModel required>
              </div>
              <div class="clr-col-12">
                <label>SOP For:<span style="color: red">*</span></label>
                <select name="sop_for" ngModel required (change)="checkFor($event.target.value)">
                  <option>Product</option>
                  <option>Equipment</option>
                  <option>Process</option>
                  <option>Other</option>
                </select>
              </div>
              <div class="clr-col-12" *ngIf="isEquipment">
                <label>Equipment Name:<span style="color: red">*</span></label>
                <select name="equipment_code" ngModel required>
                  <option></option>
                  <option *ngFor="let equipment of equipments" [value]="equipment.equipment_code">{{ equipment.equipment_code }} - {{ equipment.equipment_name }}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="save(prepareForm)">{{'common.save' | translate}}</button>
      </div>
    </div>
</div>