/* 3D Card styles */
.card-3d {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* 3D Header styles */
  .header-3d {
    background-color: #004A70;
    color: aliceblue;
    border-bottom: 1px solid #ccc;
    border-radius: 8px 8px 0 0;
    padding: 5px 10px;
  }
  
  /* 3D Button styles */
  .btn-3d {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .btn-3d:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  

  /* 3D Select styles */
.select-3d {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .select-3d:hover {
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
  }
  
  .select-3d:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
  }

  /*  */
  /* 3D Label styles */
.label-3d {
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* 3D Input styles */
  .input-3d {
    padding: 8px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .input-3d:hover {
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
  }
  
  .input-3d:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
  }
  