
    <div class="card card-3d" *ngIf="!isView">
    <div class="card-header header-3d">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-lg-9" style="text-align: left;">Awaiting Dispensing Request</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;">
          <button class="btn btn-sm btn-danger" routerLink="/store/dispensing/raw">{{'common.close' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <clr-datagrid class="datagrid-3d" [clrDgLoading]="loading">
                
                <clr-dg-column>{{'common.table.srNo' | translate}}</clr-dg-column>
                <clr-dg-column>{{'common.date' | translate}}</clr-dg-column>
                <clr-dg-column clrDgField="material_type">Receiving no</clr-dg-column>
                <clr-dg-column clrDgField="material_type">Product Name</clr-dg-column>
                <clr-dg-column clrDgField="material_type">Medicap Lot No</clr-dg-column>              
                <clr-dg-column clrDgField="material_type" *ngIf="plant_id!='67'">Product Type</clr-dg-column>
                <clr-dg-column clrDgField="material_type" *ngIf="plant_id=='67'">Dossage Form</clr-dg-column>
                <clr-dg-column clrDgField="material_type">Product Code</clr-dg-column>
                <clr-dg-column clrDgField="material_type">Batch Size</clr-dg-column>
                <clr-dg-column clrDgField="material_type">Request By</clr-dg-column>
                <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column>
              
              <clr-dg-row *clrDgItems="let result of results; let i = index" [clrDgItem]="result">
                <clr-dg-cell>{{ i+1 }}</clr-dg-cell>
                <clr-dg-cell>{{ result.dispense_request_sent_on | date :'dd-MM-yyyy' }}</clr-dg-cell>                
                <clr-dg-cell>{{ result.plan_no}}</clr-dg-cell>
                <clr-dg-cell>{{ result.product_name }}</clr-dg-cell>
                <clr-dg-cell>{{ result.batch_number }}</clr-dg-cell>
                <clr-dg-cell>{{  result.dosage_form }}</clr-dg-cell>
                <clr-dg-cell>{{ result.product_code }}</clr-dg-cell>
                <clr-dg-cell>{{ result.batch_size }}</clr-dg-cell>
                <clr-dg-cell>{{ result.dispense_request_sent_by }}</clr-dg-cell>
                <clr-dg-cell>
                  <button class="btn btn-sm btn-info" (click)="view(i)">PROCEED</button>
                </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                 <clr-dg-pagination #pagination [clrDgPageSize]="10">
                      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
                      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                      of {{pagination.totalItems}} result
                 </clr-dg-pagination>
           </clr-dg-footer>
     </clr-datagrid>
        </div>
    </div>
</div>

<div class="card card-3d" *ngIf="isView">
    <div class="card-header header-3d">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="text-align: left;">Dispensing Details</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;">
          <button class="btn btn-sm btn-danger" (click)="isView=false">
            <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
          </button>
        </div>
      </div>
    </div>
    <div class="card-text">
        <div class="card-block">
            <div class="card-text">
                <h3>Product Details:</h3>
                <table class="table">
                    <tr>
                        <td style="text-align: left; border:1px solid black;"><b>Product Name:</b></td>
                        <td style="text-align: left; border:1px solid black;">{{selectedResult['product_name']}}</td>
                        <td style="text-align: left; border:1px solid black;"> <b>Batch/LOT No.:</b></td>
                        <td style="text-align: left; border:1px solid black;">{{selectedResult['batch_number']}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left; border:1px solid black;"><b>Grade:</b></td>
                        <td style="text-align: left; border:1px solid black;">{{selectedResult['grade']}}</td>
                        <td style="text-align: left; border:1px solid black;"><b> Batch Size/LOT Size:</b></td>
                        <td style="text-align: left; border:1px solid black;">{{selectedResult['batch_size']}}</td>
                    </tr>
        
                    <tr>
                        <td style="text-align: left; border:1px solid black;"><b>Receiving no:</b></td>
                        <td style="text-align: left; border:1px solid black;">{{selectedResult['plan_no']}}</td>
                        <td style="text-align: left; border:1px solid black;"><b>MFR NO.:</b></td>
                        <td style="text-align: left; border:1px solid black;">{{selectedResult['mfr_no']}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left; border:1px solid black;"><b>BFR No :</b></td>
                        <td style="text-align: left; border:1px solid black;">{{selectedResult['bfr_no']}}</td>
                        <td style="text-align: left; border:1px solid black;"><b>Order No.:</b></td>
                        <td style="text-align: left; border:1px solid black;">{{selectedResult['work_order_no']}}</td>
                    </tr>
                </table>
          
                <h3>Material Details:</h3>
                <table class="table">
                    <tr style="background-color: #004A70;color: white;">
                        <th style="background-color: #dcebf7; color:black;">Sr.</th>
                        <th style="background-color: #dcebf7; color:black;">Material type</th>
                        <th style="background-color: #dcebf7; color:black;">Material Code</th>
                        <th style="background-color: #dcebf7; color:black;">Material Name</th>
                        <th style="background-color: #dcebf7; color:black;">Material Grade</th>
                        <th style="background-color: #dcebf7; color:black;">Unit Qty</th>
                        <th style="background-color: #dcebf7; color:black;" *ngIf="plant_id!='67'">Overages (%)</th>
                        <th style="background-color: #dcebf7; color:black;">Percent Qty</th>
                        <th style="background-color: #dcebf7; color:black;">Batch Qty(kg)</th>
                        <th style="background-color: #dcebf7; color:black;">Batch Overages(%)</th>
                        <th style="background-color: #dcebf7; color:black;">Batch Total Qty</th>
                        <th style="background-color: #dcebf7; color:black;">LOD</th>
                        <th style="background-color: #dcebf7; color:black;">Assay</th>
                        <th style="background-color: #dcebf7; color:black;">Available Stock</th>
                        <th style="background-color: #dcebf7; color:black;">Physical Stock</th>
              
                      </tr>
                      <tr *ngFor="let comp of selectedResult['materials']; let i = index">
                        <td>{{ i + 1 }}.</td>
                        <td>{{ comp.material_subtype }}</td>
                        <td>{{ comp.material_code }}</td>
                        <td>{{ comp.material_name }}</td>
                        <td>{{ comp.gradeName }}</td>
                        <td>{{ comp.qty || comp.unit_qty }} {{ comp.unit }}</td>
                        <td *ngIf="plant_id!='67'">{{ comp.overages }}</td>
                        <td>{{ comp.percent_qty }}</td>
                        <td>{{ comp.batch_qty }}</td>
                        <td>{{ comp.batch_overages}}</td>
                        <td>{{ comp.total_batch_qty }}</td>
                        <td>{{ comp.lod_status }}</td>
                        <td>{{ comp.assay_status }}</td>
                        <td>{{ comp.avbl_stock }}</td>
                        <td>
                            <select class="select-3d" name="physical_stock" [(ngModel)]="comp.physical_stock" (change)="updatePhysicalStock($event.target.value ,i)" required>
                              <option value="Yes">Yes</option>
                              <option value="No">No</option>
                            </select>
                          </td>
                          
              
                      </tr>
                     
                    <tr *ngIf="selectedResult['materials'].length == 0">
                        <td colspan="6">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>

                <!-- <div class="clr-row">
                    <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12">
                        <label>Remark:</label>
                        <select name="remark" [(ngModel)]="remark" required>
                            <option *ngIf="selectedResult['materials'].EOU_STOCK! == 0 || selectedResult['materials'].PARTA_STOCK! == 0  ">Accept</option>
                            <option>Reject</option>
                            <option>On Hold</option>
                        </select>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
            <label class="label-3d">Remarks:</label>
            <input class="input-3d" type="text" name="remarks" [(ngModel)]="remarks" required>
          </div>
          
        <div class="card-footer">
            <button class="btn btn-primary" (click)="save('Accept')">Accept</button>
           <!-- <button class="btn btn-primary" (click)="save('Accept')" *ngIf="selectedResult['materials'].EOU_STOCK! == 0 || selectedResult['materials'].PARTA_STOCK! == 0  ">Accept</button> -->
           <button class="btn btn-danger" (click)="save('Reject')">{{'common.reject' | translate}}</button>
           <button class="btn btn-success" (click)="save('On Hold')">ON HOLD</button>
        </div>
    </div>
</div>

