<div class="container-fluid" *ngIf="!isView">
    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Correction History</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/godownStore/raw/damage/correction" style="background-color: red;color: white;"> {{'common.close' | translate}} </button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <clr-datagrid>
            
              <clr-dg-column>Sr.</clr-dg-column>
              <clr-dg-column>{{'common.date' | translate}}</clr-dg-column>
              <clr-dg-column>Material Code</clr-dg-column>
              <clr-dg-column clrDgField="material_name">Material Name</clr-dg-column>
              <clr-dg-column  clrDgField="material_subtype">Material Type</clr-dg-column>
              <clr-dg-column> Grade</clr-dg-column>
              <clr-dg-column>Containers</clr-dg-column>
              <clr-dg-column>{{'common.status' | translate}}</clr-dg-column>
              <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column>
            
            <clr-dg-row *clrDgItem="let result of results; let i = index" [clrDgItem]="result">
              <clr-dg-cell>{{ i + 1 }}.</clr-dg-cell>
              <clr-dg-cell>{{ result.receiving_date | date:'dd-MM-yyyy'}}</clr-dg-cell>
              <clr-dg-cell>{{ result.material_code }}</clr-dg-cell>
              <clr-dg-cell>{{ result.material_name }}</clr-dg-cell>
              <clr-dg-cell>{{ result.material_subtype }}</clr-dg-cell>
              <clr-dg-cell>{{ result.grade }}</clr-dg-cell>
              <clr-dg-cell>{{ result.containers }}</clr-dg-cell>
              <clr-dg-cell>{{ result.damage | titlecase }}</clr-dg-cell>
              <clr-dg-cell>
                <button class="btn btn-sm btn-info" (click)="view(i)">PROCEED</button>
              </clr-dg-cell>
            </clr-dg-row>
          
            <clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="10">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} Awaiting
              </clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid" *ngIf="isView">
    <div class="card">
      <div class="card-header">Correction History</div>
      <div class="card-block">
        <div class="card-text">
          <table class="table table-border">
            <tr>
            <td style="text-align: left;"><b>Material Name:</b></td>
            <td colspan="3" style="text-align: left;">{{ selectedReport['material_name'] }}</td>
            </tr>
            <tr>
            <td style="text-align: left;"><b>Vendor Name:</b></td>
            <td colspan="3" style="text-align: left;">{{ selectedReport['vendor_name'] }}</td>
            </tr>
            <tr>
            <td style="text-align: left;"><b>Packaging Slip:</b></td>
            <td style="text-align: left;">{{ selectedReport['challan_no'] }}</td>
            <td style="text-align: left;"><b>Packaging Slip Date:</b></td>
            <td style="text-align: left;">{{ selectedReport['challan_date'] }}</td>
            </tr>
            <tr>
            <td style="text-align: left;"><b>PO No.:</b></td>
            <td style="text-align: left;">{{ selectedReport['po_no'] }}</td>
            <td style="text-align: left;"><b>PO Date:</b></td>
            <td style="text-align: left;">{{ selectedReport['po_date'] |date:'dd-MM-yyyy'}}</td>
            </tr>
            <tr>
            <td style="text-align: left;"><b>Material Type:</b></td>
            <td style="text-align: left;">{{ selectedReport['material_type'] }}</td>
            <td style="text-align: left;"><b>Material Subtype:</b></td>
            <td style="text-align: left;">{{ selectedReport['material_subtype'] }}</td>
            </tr>
            <tr>
            <td style="text-align: left;"><b>Material Code:</b></td>
            <td style="text-align: left;">{{ selectedReport['material_code'] }}</td>
            <td style="text-align: left;"><b>Material Grade:</b></td>
            <td style="text-align: left;">{{ selectedReport['grade'] }}</td>
            </tr>
            <tr>
            <td style="text-align: left;"><b>PO Qty:</b></td>
            <td style="text-align: left;" colspan="3">{{ selectedReport['qty'] }} {{ selectedReport['unit'] }}</td>
            </tr>
          </table>
        <h3>Labeling Details:</h3>
        <div class="clr-row">
            <div class="clr-col-4">
            <label>Medicap Lot No:</label>
            <input type="text" name="batch_no" [ngModel]="selectedReport['batch_no']" readonly tabindex="-1">
            </div>
            <div class="clr-col-4">
            <label>Mfg. Date:</label>
            <input type="month" name="mfg_date" [ngModel]="selectedReport['mfg_date']" readonly tabindex="-1">
            </div>
            <div class="clr-col-4">
            <label>Expiry Date:</label>
            <input type="month" name="exp_date" [ngModel]="selectedReport['exp_date']" readonly tabindex="-1">
            </div>
        </div>
        <h3>Damage Containers Details:</h3>
        <table class="table table-border">
            <tr>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Container No.</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Condition</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">{{'common.table.remark' | translate}}</th>
            </tr>
            <tr *ngFor="let damage of damages; let i = index">
                <td style="text-align: left;">{{ damage.container_no }}</td>
                <td style="padding: 0px;">
                    <select name="status{{i}}" [(ngModel)]="damage.status" required style="margin:0px; height: 33px;">
                        <option></option>
                        <option>Outer Damage</option>
                        <option>Inner Damage</option>
                    </select>
                </td>
                <td style="padding: 0px;">
                    <input type="text" name="remark" [(ngModel)]="damage.remark" style="margin: 0px;height: 33px;">
                </td>
            </tr>
            <tr *ngIf="damages?.length==0">
                <td colspan="3">No Record Found!</td>
            </tr>
        </table>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="save()">{{'common.submit' | translate}}</button>
        <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
      </div>
    </div>
  </div>