<div class="container-fluid" *ngIf="!isView && !isNew">
    <div class="card">
        <div class="card-header">Standard BMR</div>
        <div class="card-block">
            <div class="card-text">
                <button class="btn btn-sm btn-info" (click)="isNew = true">NEW BMR</button>
                <table class="table">
                    <tr>
                      <th>No.</th>
                      <th>Dosage Form</th>
                      <th>Product Name</th>
                      <th>BOM No.</th>
                      <th>{{'common.status' | translate}}</th>
                      <th>Entry By</th>
                      <th>Entry Date</th>
                      <th>view</th>
                    </tr>
                    <tr *ngFor="let result of results; let i = index">
                      <td>{{ result.no }}</td>
                      <td>{{ result.dosage_form }}</td>
                      <td>{{ result.product_code }}</td>
                      <td>{{ result.bom_no }}</td>
                      <td>{{ result.status }}</td>
                      <td>{{ result.entry_by }}</td>
                      <td>{{ result.entry_date }}</td>
                      <td>
                        <button class="btn btn-sm btn-info" (click)="viewBatch(i)">{{'common.view' | translate}}</button>
                      </td>
                    </tr>
                  </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isView">
    <div class="card">
        <div class="card-header">Standard BMR</div>
        <div class="card-block">
            <div class="card-text">
                <table class="table">
                    <tr>
                        <td style="text-align: left;width: 20%;">BMR No.:</td>
                        <td style="text-align: left;">{{ selectedBatch['no'] }}</td>
                        <td style="text-align: left;width: 20%;">MFR No.:</td>
                        <td style="text-align: left;">{{ selectedBatch['mfr_no'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;">Supersedes:</td>
                        <td style="text-align: left;"></td>
                        <td style="text-align: left;width: 20%;">Effective date:</td>
                        <td style="text-align: left;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;">Product Name:</td>
                        <td style="text-align: left;" colspan="3">{{ selectedBatch['product_name'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;width: 20%;">Medicap Lot No:</td>
                        <td style="text-align: left;"></td>
                        <td style="text-align: left;width: 20%;">Batch Size:</td>
                        <td style="text-align: left;">{{ selectedBatch['batch_size'] }}</td>
                    </tr>
                </table>

                <clr-tabs clrLayout="vertical" style="border: 1px solid brown;margin:1px;border-radius: 3px;">
                    <clr-tab>
                        <button clrTabLink id="link1">BMR Approval Page</button>
                        <clr-tab-content *clrIfActive>

                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab2">Batch Processing Checks</button>
                        <clr-tab-content *clrIfActive>
                            ...
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab3">Product Details and Licensing</button>
                        <clr-tab-content *clrIfActive style="width: 100%;">
                            <h3>Product Details and Licensing</h3>
                            <table class="table">
                                <tr>
                                    <td style="text-align: left;width:20%;">Product Code:</td>
                                    <td style="text-align: left;">{{ selectedBatch['product_code'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;width:20%;">Product Name:</td>
                                    <td style="text-align: left;">{{ selectedBatch['product_name'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;width:20%;">Generic Name:</td>
                                    <td style="text-align: left;">{{ selectedBatch['generic_name'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;width:20%;">Grade:</td>
                                    <td style="text-align: left;">{{ selectedBatch['grade'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;width:20%;">Packing Style:</td>
                                    <td style="text-align: left;">{{ selectedBatch['packing_style'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;width:20%;">Dosage Type:</td>
                                    <td style="text-align: left;">{{ selectedBatch['dosage_type'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;width:20%;">Dosage Form:</td>
                                    <td style="text-align: left;">{{ selectedBatch['dosage_form'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;width:20%;">Excipient:</td>
                                    <td style="text-align: left;">{{ selectedBatch['excipient'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;width:20%;">Label Claim:</td>
                                    <td style="text-align: left;">{{ selectedBatch['label_claim'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;width:20%;">Shelf Life:</td>
                                    <td style="text-align: left;">{{ selectedBatch['shelf_life'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;width:20%;">Manufactured under:</td>
                                    <td style="text-align: left;">{{ selectedBatch['manufactured_under'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;width:20%;">Manufactured For:</td>
                                    <td style="text-align: left;">{{ selectedBatch['manufactured_for'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;width:20%;">Manufactured Type:</td>
                                    <td style="text-align: left;">{{ selectedBatch['manufactured_type'] }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;width:20%;">Color Used:</td>
                                    <td style="text-align: left;">{{ selectedBatch['color_used'] }}</td>
                                </tr>
                            </table>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab4">Equipment List</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Equipments List</h3>
                            <table class="table">
                                <tr>
                                  <th style="width: 50px;">Sr.</th>
                                  <th style="text-align: left;">Equipment Code</th>
                                  <th style="text-align: left;">Equipment Name</th>
                                  <th style="text-align: left;">Capacity</th>
                                  <th style="text-align: left;">Make</th>
                                </tr>
                                <tr *ngFor="let user of selectedBatch['equipments']; let i = index">
                                  <td>{{ i + 1 }}</td>
                                  <td style="text-align: left;">{{ user.equipment_no }}</td>
                                  <td style="text-align: left;">{{ user.equipment_name }}</td>
                                  <td style="text-align: left;">{{ user.capacity }}</td>
                                  <td style="text-align: left;">{{ user.make }}</td>
                                </tr>
                              </table>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab5">Unit Formula</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Unit Formula</h3>
                            <table class="table">
                                <tr>
                                  <th style="width: 50px;">Sr.</th>
                                  <th style="text-align: left;">Code</th>
                                  <th style="text-align: left;">Material Name</th>
                                  <th style="text-align: left;">Grade</th>
                                  <th style="text-align: right;">Qty/Tab</th>
                                  <th>{{'common.unit' | translate}}</th>
                                </tr>
                                <tr *ngFor="let user of selectedBatch['materials']; let i = index">
                                  <td>{{ i + 1 }}</td>
                                  <td style="text-align: left;">{{user.material_code}}</td>
                                  <td style="text-align: left;">{{user.material_name}}</td>
                                  <td style="text-align: left;">{{user.grade}}</td>
                                  <td style="text-align: right;">{{user.qty }}</td>
                                  <td>{{user.unit}}</td>
                                </tr>
                            </table>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab6">Batch Formula</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Batch Formula</h3>
                            <table class="table">
                                <tr>
                                    <th>Sr.</th>
                                    <th>Item Code</th>
                                    <th>Ingredients</th>
                                    <th>Specification</th>
                                    <th>St. Qty (Kg)</th>
                                </tr>
                                <tr *ngFor="let user of selectedBatch['materials']; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ user.material_code }}</td>
                                    <td>{{ user.material_name }}</td>
                                    <td>{{ user.grade }}</td>
                                    <td>{{ user.qty * selectedBatch['lots'] }}</td>
                                </tr>
                            </table>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab7">Environmental Checks</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Environmental Checks</h3>
                            <table class="table">
                                <tr>
                                  <th style="width: 50px;">Sr.</th>
                                  <th style="text-align: left;">Instruction</th>
                                </tr>
                                <tr *ngFor="let user of selectedBatch['instructions']; let i = index">
                                  <td>{{ i + 1 }}</td>
                                  <td style="text-align: left;">{{ user.instruction }}</td>
                                </tr>
                            </table>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab8">Batch Manufacturing</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Batch Manufacturing</h3>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab9">Raw Material Dispensing</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Raw Material Dispensing</h3>>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab10">Packing Material Dispensing</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Packing Material Dispensing</h3>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab12">Manufacturing General Information</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Manufacturing General Information</h3>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab13">Equipment Cleaning & Calibration Status</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Equipment Cleaning & Calibration Status</h3>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab14">Wastage and Rejection Management</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Wastage and Rejection Management</h3>
                        </clr-tab-content>
                    </clr-tab>
                </clr-tabs>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isNew">
    <div class="card">
        <div class="card-header">Standard BMR</div>
        <div class="card-block">
            <div class="card-text">
                <clr-tabs clrLayout="vertical" style="border: 1px solid brown;margin:1px;border-radius: 3px;">
                    <clr-tab>
                        <button clrTabLink id="link1">BMR Approval Page</button>
                        <clr-tab-content *clrIfActive>
                            <div class="card">
                                <div class="card-block">
                                    <div class="card-title">BMR Approval Page</div>
                                    <div class="card-text">
                                        <div class="clr-row">
                                            <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                                                <label>Product Name:</label>
                                                <select name="product_code" ngModel required>
                                                    <option></option>
                                                    <option *ngFor="let product of products">{{ product.product_name }}</option>
                                                </select>
                                            </div>
                                            <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                                                <label>Medicap Lot No:</label>
                                                <input type="text" name="batch_no" ngModel required>
                                            </div>
                                            <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                                                <label>Batch Size:</label>
                                                <input type="text" name="batch_size" OnlyNumber="true" ngModel required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-primary">SAVE & NEXT</button>
                                </div>
                            </div>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab2">Batch Processing Checks</button>
                        <clr-tab-content *clrIfActive>
                            ...
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab3">Product Details and Licensing</button>
                        <clr-tab-content *clrIfActive style="width: 100%;">
                            <h3>Product Details and Licensing</h3>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab4">Equipment List</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Equipments List</h3>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab5">Unit Formula</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Unit Formula</h3>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab6">Batch Formula</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Batch Formula</h3>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab7">Environmental Checks</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Environmental Checks</h3>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab8">Batch Manufacturing</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Batch Manufacturing</h3>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab9">Raw Material Dispensing</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Raw Material Dispensing</h3>>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab10">Packing Material Dispensing</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Packing Material Dispensing</h3>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab12">Manufacturing General Information</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Manufacturing General Information</h3>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab13">Equipment Cleaning & Calibration Status</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Equipment Cleaning & Calibration Status</h3>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink id="tab14">Wastage and Rejection Management</button>
                        <clr-tab-content *clrIfActive>
                            <h3>Wastage and Rejection Management</h3>
                        </clr-tab-content>
                    </clr-tab>
                </clr-tabs>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-danger" (click)="isNew = false">{{'common.close' | translate}}</button>
        </div>
    </div>
</div>