<div class="container">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
                <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Premedical Checkup
                    Form</div>
                <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                    <button class="btn btn-sm" routerLink="/hr/recruitment/premedical"
                        style="background-color: red;color: white;">{{'common.close' | translate}}</button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                <form #formdata="ngForm">
                    <div class="clr-row">
                        <div class="clr-col-lg-6 clr-md-6 clr-col-xs-12">
                            <label>Candidate:</label>
                            <select name="emp_id" ngModel required>
                                <option></option>
                                <option *ngFor="let employee of candidate" [value]="employee.id">{{
                                    employee.candidate_name }}</option>
                            </select>
                        </div>
                        <div class="clr-col-lg-6 clr-md-6 clr-col-xs-12">
                            <label>Phisician:</label>
                            <select name="phisician_no" ngModel required>
                                <option></option>
                                <option *ngFor="let phisician of phisicians" [value]="phisician.id">{{
                                    phisician.doctor_name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-lg-3 clr-md-3 clr-col-xs-12">
                            <label>Select Test to Perform:</label>
                        </div>
                        <div class="clr-col-lg-3 clr-md-3 clr-col-xs-12">
                            <input type="checkbox" id="test1" name="general_checkup" ngModel>
                            <label for="test1">General Checkup</label>
                        </div>
                        <div class="clr-col-lg-3 clr-md-3 clr-col-xs-12">
                            <input type="checkbox" id="test2" name="bp" ngModel>
                            <label for="test2">BP</label>
                        </div>
                        <div class="clr-col-lg-3 clr-md-3 clr-col-xs-12">
                            <input type="checkbox" id="test3" name="sugar" ngModel>
                            <label for="test3">Sugar</label>
                        </div>
                        <div class="clr-col-lg-3 clr-md-3 clr-col-xs-12">
                            <input type="checkbox" id="test4" name="ecg" ngModel>
                            <label for="test4">ECG</label>
                        </div>
                        <div class="clr-col-lg-3 clr-col-md-3 clr-col-xs-12">
                            <input type="checkbox" id="test5" name="blood_test" ngModel>
                            <label for="test5">Blood Test</label>
                        </div>
                        <div class="clr-col-lg-3 clr-md-3 clr-col-xs-12">
                            <input type="checkbox" id="test6" name="hb" ngModel>
                            <label for="test6">HB</label>
                        </div>
                        <div class="clr-col-lg-3 clr-md-3 clr-col-xs-12">
                            <input type="checkbox" id="test7" name="eye_checkup" ngModel>
                            <label for="test7">Eye Checkup</label>
                        </div>
                        <div class="clr-col-lg-3 clr-md-3 clr-col-xs-12">
                            <input type="checkbox" id="test8" name="color_blindness" ngModel>
                            <label for="test8">Color Blindness</label>
                        </div>
                        <div class="clr-col-lg-3 clr-md-3 clr-col-xs-12">
                            <input type="checkbox" id="test9" name="hiv" ngModel>
                            <label for="test9">HIV</label>
                        </div>
                        <div class="clr-col-lg-12 clr-md-12 clr-col-xs-12">
                            <label>Other:</label>
                            <input type="text" name="other_test" ngModel>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="savePremedical(formdata)">{{'common.submit' | translate}}</button>
        </div>
    </div>
</div>