<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">New Equipment Installation Qualification</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/qa/equip-qualification/iq" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <table class="table">
                <tr>
                    <th>{{'common.department' | translate}}</th>
                    <th>Room Name</th>
                    <th>Equipment Name</th>
                    <th>Make</th>
                    <th>Capacity</th>
                    <th>{{'common.table.action' | translate}}</th>
                </tr>
                <tr *ngFor="let res of results;let i=index">
                    <td>{{ res.department_name}}</td>
                    <td>{{ res.section_name}}</td>
                    <td>{{ res.equip_name}}</td>
                    <td>{{ res.make}}</td>
                    <td>{{ res.capacity}}</td>
                    <td>
                        <button class="btn btn-sm btn-info" (click)="view(i)">proceed</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="card" *ngIf="isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">New Equipment Installation Qualification</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/equipment-qualification" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <table class="table table-border">
          <tr>
            <td style="font-weight: bold; text-align: left;">Equipment Name</td>
            <td style="text-align: left;"></td>
            <td style="font-weight: bold; text-align: left;">Equipment Code</td>
            <td style="text-align: left;"></td>
          </tr>
          <tr>
            <td style="font-weight: bold; text-align: left;">Capacity</td>
            <td style="text-align: left;"></td>
            <td style="font-weight: bold; text-align: left;">Make</td>
            <td style="text-align: left;"></td>
          </tr>
          <tr>
            <td style="font-weight: bold; text-align: left;">Location</td>
            <td style="text-align: left;"></td>
            <td style="font-weight: bold; text-align: left;">{{'common.department' | translate}}</td>
            <td style="text-align: left;"></td>
          </tr>
        </table>
        <form #contactForm="ngForm">
            
        </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="save(contactForm)">{{'common.submit' | translate}}</button>

      <button class="btn btn-danger" (click)="isView=false">{{'common.close' | translate}}</button>
    </div>
</div>