.fp-wobmr-dash__header {
  text-align: center;
}

.fp-wobmr-dash__title {
  color: #fff;
  text-align: left;
}

.fp-wobmr-dash__actions {
  text-align: right;
}

.fp-wobmr-dash__empty {
  margin: 0;
  font-size: 14px;
}
