<div class="card">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-lg-5 clr-col-md-5 clr-col-sm-12" style="color: aliceblue;margin-top: -2px;text-align: left;">
        Direct Inward (Local Purchase Without PO)
      </div>
      <div class="clr-col-lg-7 clr-col-md-7 clr-col-sm-12 direct-header-actions">
        <button
          type="button"
          class="btn btn-sm"
          [class.btn-success]="activeView === 'new'"
          [class.btn-outline]="activeView !== 'new'"
          (click)="setView('new')"
        >NEW</button>
        <button
          type="button"
          class="btn btn-sm"
          [class.btn-success]="activeView === 'approval'"
          [class.btn-outline]="activeView !== 'approval'"
          (click)="setView('approval')"
        >APPROVAL</button>
        <button class="btn btn-sm btn-danger" routerLink="/security/inword">
          <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
        </button>
      </div>
    </div>
  </div>

  <div class="card-block direct-view-body">
    <app-direct-new *ngIf="activeView === 'new'"></app-direct-new>
    <app-direct-approval *ngIf="activeView === 'approval'"></app-direct-approval>
  </div>
</div>
