.pdf-container {
  position: relative;
}
.pdf-page {
  height: 70vh;
}

.pagination {
  display: block;
  left: 58%;
  color: black;
  text-align: right;
  background: #faebd7;
  padding-right: 46px;
  p {
    margin: 2px 45px;
  }
}

.pagination button {
  margin: 0 5px;
}
