<div class="card">
    <div class="card-header">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-8" style="color: aliceblue;margin-top: -2px;text-align: left;">HDPE STORAGE TANK CLEANING RECORD USED FOR PURIFIED WATER</div>
            <div class="clr-col-lg-4" style="text-align: right;padding-right: 0px;margin-top: -7px;" *ngIf="isuser == 'Yes'">
              <button class="btn btn-sm" (click)="isNew=true" style="background-color: green;color: white;">
                New
              </button>
              <button class="btn btn-sm" routerLink="/microbiology" style="background-color: red;color: white;">
                <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
              </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
          <div class="card-text">
            <div class="clr-row">
                <div class="clr-clo-lg-4 clr-col-md-4 clr-col-sm-4">
                    <label>From Date:</label>
                    <input type="date" name="from_date" [max]="to_date" [(ngModel)]="from_date">
                </div>
                <div class="clr-clo-lg-4 clr-col-md-4 clr-col-sm-4">
                    <label>To Date:</label>
                    <input type="date" name="to_date" [(ngModel)]="to_date" [min]="from_date" [max]="today">
                </div>
                <div class="clr-clo-lg-4 clr-col-md-4 clr-col-sm-4">
                   <button class="btn btn-danger"(click)="getHdpe()" style="margin-top: 27px;">{{'common.search' | translate}}</button>
                </div>
            </div>
            <form #formData="ngForm">
                <table class="table table-border">
                    <tr>
                        <th style="vertical-align:middle;" rowspan="2">{{'common.date' | translate}}</th>
                        <th style="vertical-align:middle;" rowspan="2">Time of cleaning</th>
                        <th style="vertical-align:middle;" rowspan="2">Rinse with Purified Water for 5 times</th>
                        <th style="vertical-align:middle;" colspan="2">Cleaning</th>
                        <th style="vertical-align:middle;" rowspan="2">{{'common.table.remark' | translate}}</th> 
                    </tr>   
                    <tr>
                        <th>Done By</th>
                        <th>Checked By</th>
                      
                    </tr>
                    <tr *ngFor="let result of results;let i=index">
                        <td style="text-align:left;">{{result.entry_date | date:'dd-MM-yyyy'}}</td>
                        <td style="text-align:left;">{{result.cleaning_time}}</td>
                        <td style="text-align:left;">{{result.rinse}}</td>
                        <td style="text-align:left;">{{result.cleaning_by}}</td>
                        <td style="text-align:left;">{{result.entry_by}}</td>
                        <td style="text-align:left;">{{result.remark}}</td>

                    </tr>
                    <tr *ngIf="results?.length==0">
                        <td colspan="12"><strong>No Record Found!</strong></td>
                    </tr>
                </table>
            </form>
        </div>
        </div>
     </div>
     <div class="card-footer">
        <button class="btn btn-primary"(click)="download()">{{'common.download' | translate}}</button>
     </div>
</div>

<clr-modal [(clrModalOpen)]="isNew" [clrModalSize]="'xl'">
    <h3 class="modal-title">NEW HDPE STORAGE TANK CLEANING RECORD USED FOR PURIFIED WATER</h3>
    <div class="modal-body">
        <form #temp="ngForm">
            <div class="clr-row">
                <div class="clr-col-lg-3">
                    <label>Rinse with Purified Water for 5 times<sup style="color: red">*</sup>:</label>
                    <input type="text" name="rinse" ngModel required>
                </div>
                <div class="clr-col-lg-3">
                    <label>Cleaning Time<sup style="color: red">*</sup>:</label>
                    <input type="time" name="cleaning_time" ngModel required>
                </div>
                 <div class="clr-col-lg-3">
                    <label>Cleaning By<sup style="color: red">*</sup>:</label>
                    <input type="text" name="cleaning_by" ngModel required>
                </div>
                <div class="clr-col-lg-3">
                    <label>{{'common.table.remark' | translate}}<sup style="color: red">*</sup>:</label>
                    <input type="text" name="remark" ngModel required>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save(temp)">{{'common.save' | translate}}</button>
        <button type="button" class="btn btn-danger" (click)="isNew = false">{{'common.close' | translate}}</button>
      </div>
</clr-modal>