clr-dg-cell{
    color: black;
}
.hover-card {
  position: fixed; /* Fixed to follow the viewport */
  background: white;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  pointer-events: none; /* So it does not block mouse events */
  z-index: 1000;
}
