<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Complete Auto Purchase Log</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/autopurchase" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
    <div class="card-block">
        <div class="card-text">
            <table class="table table-border">
                <tr>
                    <th style="font-weight: bold; text-align:left ; background-color: rgb(9, 243, 212); color: black;">Sr. No.</th>
                    <th style="font-weight: bold; text-align:left ; background-color: rgb(9, 243, 212); color: black;">Order No</th>
                    <th style="font-weight: bold; text-align:left ; background-color: rgb(9, 243, 212); color: black;">Product Name</th>
                    <th style="font-weight: bold; text-align:left ; background-color: rgb(9, 243, 212); color: black;">Order Qty </th>
                    <th style="font-weight: bold; text-align:left ; background-color: rgb(9, 243, 212); color: black;">Pack Size </th>
                    <th style="font-weight: bold; text-align:left ; background-color: rgb(9, 243, 212); color: black;">Po No</th>
                    <th style="font-weight: bold; text-align:left ; background-color: rgb(9, 243, 212); color: black;">Po Date</th>
                    <th style="font-weight: bold; text-align:left ; background-color: rgb(9, 243, 212); color: black;">Valid till</th>
                    <th style="font-weight: bold; text-align:left ; background-color: rgb(9, 243, 212); color: black;">{{'common.table.action' | translate}}</th>
                </tr>
                <tr *ngFor='let pending of pendingpo;let i=index'>
                    <td style="text-align:left;font-weight: bold;">{{i + 1}}</td>
          
                    <td style="text-align:left;font-weight: bold;">{{pending.order_no}}</td>
                    <td style="text-align:left;font-weight: bold;">{{pending.product_name}} ( {{pending.product_code}} )</td>
                    <td style="text-align:left;font-weight: bold;">{{pending.order_qty}} {{pending.unit}}</td>
                    <td style="text-align:left;font-weight: bold;">{{pending.pack_size?.pack_size}} {{pending.pack_size?.unit}}</td>
                    <td style="text-align:left;font-weight: bold;">{{pending.po_no}}</td>
                    <td style="text-align:left;font-weight: bold;">{{pending.po_date | date:'dd-MM-yyyy'}}</td>
                    <td style="text-align:left;font-weight: bold;">{{pending.valid_till | date:'dd-MM-yyyy'}}</td>
                    <td style="text-align:left;font-weight: bold;">
                        <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                    </td>
                </tr>
                <tr *ngIf="pendingpo?.length == 0">
                    <td colspan="9">{{'common.noRecords' | translate}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-success" (click)="sendForReq()">Send For Requirement Analysis</button>
    </div>
</div>

<div class="card" *ngIf="isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">Received Factory Order</div>
            <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <table class="table table-border">
                <tr>
                    <td style="text-align: left;width: 20%;font-weight: bold;background-color: rgb(9, 243, 212);">Client Name :</td>
                    <td style="text-align: left;font-weight: bold;">{{ selectresult['TrdNm'] }}</td>
                    <td style="text-align: left;width: 20%;font-weight: bold;background-color: rgb(9, 243, 212);">PO No. :</td>
                    <td style="text-align: left;font-weight: bold;">{{ selectresult['po_no'] }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;width: 20%;font-weight: bold;background-color: rgb(9, 243, 212);">PO Date :</td>
                    <td style="text-align: left;font-weight: bold;">{{ selectresult['po_date'] |date:'dd-MM-yyyy'}}</td>
                    <td style="text-align: left;width: 20%;font-weight: bold;background-color: rgb(9, 243, 212);">PO Type :</td>
                    <td style="text-align: left;font-weight: bold;">{{ selectresult['po_type'] }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;width: 20%;font-weight: bold;background-color: rgb(9, 243, 212);">Valid Till :</td>
                    <td style="text-align: left;font-weight: bold;">{{ selectresult['valid_till'] |date:'dd-MM-yyyy'}}</td>
                    <td style="text-align: left;width: 20%;font-weight: bold;background-color: rgb(9, 243, 212);">Product Name :</td>
                    <td style="text-align: left;font-weight: bold;">{{ selectresult['product_name'] }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;width: 20%;font-weight: bold;background-color: rgb(9, 243, 212);">Product Code :</td>
                    <td style="text-align: left;font-weight: bold;">{{ selectresult['product_code'] }}</td>
                    <td style="text-align: left;width: 20%;font-weight: bold;background-color: rgb(9, 243, 212);">Order Qty (NOS) :</td>
                    <td style="text-align: left;font-weight: bold;">{{ selectresult['order_qty']  }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;width: 20%;font-weight: bold;background-color: rgb(9, 243, 212);">Pack Size (Kg):</td>
                    <td style="text-align: left;font-weight: bold;">{{ selectresult['pack_size'] }}</td>
                    <td style="text-align: left;width: 20%;font-weight: bold;background-color: rgb(9, 243, 212);">Order No :</td>
                    <td style="text-align: left;font-weight: bold;">{{ selectresult['order_no'] }}</td>
                </tr>
            </table>

            <h3>Raw Material :</h3>
            <table class="table table-border" style="margin-top: 0px;">
                <tr>
                    <th style="text-align:left; font-weight: bold;background-color: rgb(9, 243, 212); color: black;">Sr</th>
                    <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Subtype</th>
                    <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Name</th>
                    <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Code</th>
                    <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Grade</th>
                 </tr>
                <tr *ngFor="let item of raw_materials; let i=index">
                    <td style="text-align:left ;font-weight: bold;">{{i + 1}}.</td>
                    <td style="text-align:left ;font-weight: bold;">{{item.material_subtype}}</td>
                    <td style="text-align:left ;font-weight: bold;">{{item.material_name}}</td>
                    <td style="text-align:left ;font-weight: bold;">{{item.material_Code}}</td>
                    <td style="text-align:left ;font-weight: bold;">{{item.grade}}</td>
                </tr>
            </table>
            <h3>Packing Material :</h3>
            <table class="table table-border" style="margin-top: 0px;">
              <tr>
                  <th style="text-align:left; font-weight: bold;background-color: rgb(9, 243, 212); color: black;">Sr</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Subtype</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Name</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Material Code</th>
                  <th style="text-align:left;font-weight: bold; background-color: rgb(9, 243, 212); color: black;">Grade</th>
               </tr>
              <tr *ngFor="let item of packing_materials; let i=index">
                  <td style="text-align:left ;font-weight: bold;">{{i + 1}}.</td>
                  <td style="text-align:left ;font-weight: bold;">{{item.material_subtype}}</td>
                  <td style="text-align:left ;font-weight: bold;">{{item.material_name}}</td>
                  <td style="text-align:left ;font-weight: bold;">{{item.material_code}}</td>
                  <td style="text-align:left ;font-weight: bold;">{{item.grade || "-"}}</td>
              </tr>
          </table>
            
         
            <br>
            <button class="btn btn-sm btn-info" (click)="downloadpo(selectresult['file'])">View Uploaded PO</button>

        
        </div>
    </div>
    <div class="card-footer">
 
        <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
    </div>
</div>

 