 

<!------------------------------------------>
<div class="component qa-legacy-dash">
  <div class="subsection">
    <div class="purchase-block">
      <div style="text-align:end" class="exit-section">
        <div class="header-block" style="margin:10px 0px">
          <h3>SOP Management</h3>
          <div routerLink="/qa" class="name-board2"><i class="fas fa-times"></i>
          </div>
        </div>
        <!-- Section 1 -->
        <div class="main-section" style="margin: 0px 10px 10px 10px !important;">
          <div class="category">
            <div class="line-section">
              <div class="header-div">
                <h3>SOP Initiation</h3>
              </div>
            </div>
            <div class="block-container">


              <div class="item-block" *ngIf="isuser == 'Yes' || ischecker == 'Yes' || isapprover == 'Yes' " routerLink="existingSop">
                <i class="far fa-file-alt"></i>
                <span>Existing SOP</span>
              </div>

              <div class="item-block" *ngIf="isuser == 'Yes'" routerLink="initiate">
                <i class="far fa-file-alt"></i>
                <span>New SOP Initiate</span>
              </div>

              <div class="item-block" *ngIf="isuser == 'Yes'" routerLink="uploadSop">
                <i class="far fa-file-alt"></i>
                <span>Upload SOP File</span>
              </div>

              <div class="item-block" *ngIf="( ischecker == 'Yes' || isapprover == 'Yes' ) && loggedInDept == 'Quality Assurance'"
               routerLink="qaReviewSop">
                <i class="far fa-file-alt"></i>
                <span>Reviewed By QA</span>
              </div>

              <div class="item-block" *ngIf="ischecker == 'Yes' || isapprover == 'Yes' "
               routerLink="finalUpload">
                <i class="far fa-file-alt"></i>
                <span>Final Upload (Signed Copy)</span>
              </div>

             
              <div class="item-block" routerLink="activeSopLog">
                <i class="far fa-file-alt"></i>
                <span>Active SOPs Log</span>
              </div>

              <a class="item-block" href="https://sop.aurenyxgmp.com/#/" target="_blank" rel="noopener noreferrer">
                <i class="fas fa-robot"></i>
                <span>AI SOP</span>
              </a>

              
            </div>

        <!-- <div class="line-section">
          <div class="header-div">
            <h3>New SOP & Revision</h3>
          </div>
        </div>

        <div class="block-container">
          <div class="item-block" routerLink="new">
            <i class="fas fa-clipboard"></i>
            <span>Prepare final SOP</span>
          </div>

          <div class="item-block" *ngIf="isapprover" routerLink="checking">
            <i class="fas fa-check-circle"></i>
            <span>SOP for Checking</span>
          </div>

          <div class="item-block" routerLink="log">
            <i class="fas fa-book"></i>
            <span>SOP Log</span>
          </div>
        </div>
 
        <div class="block-container">
          <div class="item-block" routerLink="training">
            <i class="fas fa-chalkboard-teacher"></i>
            <span>Training of SOP</span>
          </div>

          <div class="item-block" routerLink="implementation">
            <i class="fas fa-tasks"></i>
            <span>Implem. of SOP</span>
          </div>

          <div class="item-block" routerLink="distribution">
            <i class="fas fa-archive"></i>
            <span>SOP Distrib. Record</span>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</div>
</div>
</div>