label{
    margin-top: 5% ;
    margin-bottom: 5%;
}
.card-header{
    background-color: #2196f3bf;
}
input[type="file"],
input[type="date"],
input[type="text"],
select,
textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* Adjusted to a more typical percentage for consistency */
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 15px;
    transition: all 0.5s ease;
    /* Smooth transition for all styles */
}

/* Focus styles for text inputs, dropdowns, and textareas */
input[type="file"]:focus,
input[type="date"]:focus,
input[type="text"]:focus,
select:focus,
textarea:focus {
    background-color: #f7fdff;
    /* Light background color on focus */
    border: 1px solid rgb(55, 55, 255);
    /* Blue border on focus */
    box-shadow: 0 0 5px turquoise;
    /* Turquoise shadow on focus */
    outline: none;
    /* Remove default outline */
}