<div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">Vehicle Entry Log</div>
        <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" routerLink="new" style="background-color:green;color: white;" *ngIf="isuser == 'Yes'">
            New
          </button>
          <button class="btn btn-sm" routerLink="/security" style="background-color: red;color: white;">
            {{'common.close' | translate}} </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <table class="table">
          <tr>
          <th style="text-align: center;">Sr</th>
          <th style="text-align: center;">{{'common.date' | translate}}</th>
          <th style="text-align: center;">Vehicle Type</th>
          <th style="text-align: center;">Vehicle No</th>
          <th style="text-align: center;">Entry Time</th>
          <th style="text-align: center;">Exit Time</th>
          <th style="text-align: center;">Visitors/ Employees Name</th>
          <th style="text-align: center;">Driver Name</th>
          <th style="text-align: center;">Entry By</th>
          <th style="text-align: center;">Exit</th>
          </tr>
          <tr *ngFor="let tool of results; let i = index">
          <td style="text-align: center;">{{i+1}}</td>
          <td style="text-align: center;">{{tool.entry_date | date:'dd-MM-yyyy'}}</td>
          <td style="text-align: center;">{{tool.vechile_type}}</td>
          <td style="text-align: center;">{{tool.vechile_no}}</td>
          <td style="text-align: center;">{{tool.entry_date | date: 'dd-MM-YYYY hh:mm'}}</td> 
          <td style="text-align: center;">{{ hasExited(tool) ? (tool.out_time | date: 'dd-MM-YYYY hh:mm') : '-' }}</td>
          <td style="text-align: center;">{{tool.visitor_name}}</td>
          <td style="text-align: center;">{{tool.driver_name}}</td>
          <td style="text-align: center;">{{tool.inentry_by}}</td>
          <td style="text-align: center;">
            <button
              *ngIf="canExit(tool)"
              type="button"
              class="btn btn-sm btn-danger"
              (click)="exitVechile(tool.id)"
            >
              EXIT
            </button>
            <span *ngIf="!canExit(tool)" class="label label-success">Exited</span>
          </td>
       
          </tr>
          <tr *ngIf="results?.length == 0">
            <td colspan="10">{{'common.noRecords' | translate}}</td>
          </tr>
        </table>
      
        <!-- <clr-datagrid [clrDgLoading]="loading">
      
          <th style="text-align: left;">Sr</th>
          <th style="text-align: left;">{{'common.date' | translate}}</th>
          <th style="text-align: left;">Vehicle Type</th>
          <th style="text-align: left;">Vehicle No</th>
          <th style="text-align: left;">Entry Time</th>
          <th style="text-align: left;">Exit Time</th>
          <th style="text-align: left;">Visitors/ Employees Name</th>
          <th style="text-align: left;">Driver Name</th>
          <th style="text-align: left;">Entry By</th>
          <th style="text-align: left;">{{'common.table.action' | translate}}</th>
       
        <clr-dg-row *clrDgItem="let tool of item;let i=index" [clrDgItem]="tool">
          <td style="text-align: left;">{{i+1}}</td>
          <td style="text-align: left;">{{tool.entry_date | date:'dd-MM-yyyy'}}</td>
          <td style="text-align: left;">{{tool.vechile_type}}</td>
          <td style="text-align: left;">{{tool.vechile_no}}</td>
          <td style="text-align: left;">{{tool.entry_date | date:'HH:mm'}}</td>
          <td style="text-align: left;">{{tool.out_time |date:'HH:mm'}}</td>
          <td style="text-align: left;">{{tool.visitor_name}}</td>
          <td style="text-align: left;">{{tool.driver_name}}</td>
          <td style="text-align: left;">{{tool.inentry_by}}</td>
          <td style="text-align: left;"> <button *ngIf="tool.status =='pending'" class="btn btn-icon btn-danger-outline btn-sm" (click)="exitVechile(tool.id)">EXIT</button></td>
        </clr-dg-row>

            <clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="10">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} tool
              </clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid> -->
     
    </div>
    <div class="card-footer"><button class="btn btn-primary" (click)="download()">{{'common.download' | translate}}</button></div>
  </div>