<div class="container-fluid">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Water Sampling Allocation</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/qc/water" style="background-color: red;color: white;">
                  CLOSE
                </button>
              </div>
            </div>
          </div>
        <div class="card-block">
            <div class="card-text">
                <table class="table table-border">
                    <tr>
                        <th>Sr.No.</th>
                        <th>Department</th>
                        <th>Water Type</th>
                        <th>Point No.</th>
                        <th>Point Name </th>
                        <th>Testing Type</th>
                        <th>Frequency</th>
                        <th>Due Date</th>
                        <th>Allocate</th>
                    </tr>
                    <tr *ngFor="let result of results; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{result.department}}</td>
                        <td>{{result.water_type }}</td>
                        <td>{{ result.point_no }}</td>
                        <td>{{result.point_name}}</td>
                        <td>{{ result.testing_type }}</td>
                        <td>{{ result.frequency }}</td>
                        <td>{{ result.due_date }}</td>
                        <td>
                            <button class="btn btn-sm btn-info"   (click)="allocate(i)">ALLOCATE</button>
                        </td>
                    </tr>
                    <tr *ngIf="results?.length == 0">
                        <td colspan="9">No Records Found!</td>
                    </tr>
                </table>
               
            </div>
        </div>
    </div>
</div>

<clr-modal [(clrModalOpen)]="isAllocate">
    <h3 class="modal-title">Allocate Water Sampling & Testing Person</h3>
    <div class="modal-body">
        <div class="clr-row">
            <div class="clr-col-12">
                <label>Person Name:</label>
                <select name="sampling_person" [(ngModel)]="sampling_person" required>
                    <option></option>
                    <option>Cyclone</option>
                    <option *ngFor="let person of persons" [value]="person.emp_id">{{ person.firstname }} {{ person.lastname }} - ( {{ person.emp_id }} )</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="allocatePerson()">ALLOCATE</button>
        <button type="button" class="btn btn-danger" (click)="isAllocate = false">CLOSE</button>
    </div>
</clr-modal>