<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Water Specification</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-success" routerLink="new" *ngIf="isuser == 'Yes'">{{'common.new' | translate}}</button>
          <button class="btn btn-sm btn-info" routerLink="checking" *ngIf="ischecker == 'Yes'">Checking</button>
          <button class="btn btn-sm btn-warning" routerLink="approve" *ngIf="isapprover == 'Yes' || qms_approver == 'Yes'">Approval</button>
          <button class="btn btn-sm btn-danger" routerLink="/master/specification/raw">{{'common.close' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        
        <!-- <table class="table table-border">
          <tr>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Spec No</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Water Type</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Version No</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Supersede No</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sample Qty</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Effective Date</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Revision Period</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">view</th>
          </tr>
          <tr *ngFor="let user of specifications;let i = index">
            <td style="text-align: left;">{{user.specification_no}}</td>
            <td style="text-align: left;">{{user.water_type}}</td>
            <td style="text-align: left;">{{user.version_no}}</td>
            <td style="text-align: left;">{{user.supersede_no}}</td>
            <td style="text-align: left;">{{user.sample_qty}} {{user.unit}}</td>
            <td style="text-align: left;">{{user.approve_date |date: 'dd-MM-yyyy'}}</td>
            <td style="text-align: left;">{{user.review_dat | date: 'dd-MM-yyyy'}}</td>
            <td style="text-align: left;">
              <button class="btn btn-sm btn-info" (click)="viewSpecification(i)">{{'common.view' | translate}}</button>
            </td>
          </tr>
          <tr *ngIf="specifications?.length == 0">
            <td colspan="7">{{'common.noRecords' | translate}}</td>
          </tr>
        </table> -->

        <clr-datagrid [clrDgLoading]="loading">
          
          <clr-dg-column>Spec No.</clr-dg-column>
          <clr-dg-column clrDgField="water_type">Water Type</clr-dg-column>
          <clr-dg-column clrDgField="version_no">Version No</clr-dg-column>
          <clr-dg-column clrDgField="supersede_no">Supersede No</clr-dg-column>
          <!-- <clr-dg-column clrDgField="sample_qty">Sample Qty</clr-dg-column> -->
          <!-- <clr-dg-column clrDgField="approve_date">Effective Date</clr-dg-column> -->
          <clr-dg-column clrDgField="review_date">Revision Period</clr-dg-column>
          <clr-dg-column>Status</clr-dg-column>
          <clr-dg-column>View</clr-dg-column>
        
        <clr-dg-row *clrDgItems="let user of specifications;let i = index" [clrDgItem]="user">
          <clr-dg-cell>{{user.specification_no}}</clr-dg-cell>
          <clr-dg-cell>{{user.water_type}}</clr-dg-cell>
          <clr-dg-cell>{{user.version_no}}</clr-dg-cell>
          <clr-dg-cell>{{user.supersede_no}}</clr-dg-cell>
          <clr-dg-cell>{{user.review_date | date: 'dd-MM-yyyy'}}</clr-dg-cell>
          <clr-dg-cell>
            <span
              class="label label-warning"
              *ngIf="displayStatus(user.status) === 'Checking'"
            >Checking</span>
            <span
              class="label label-info"
              *ngIf="displayStatus(user.status) === 'Pending Approval'"
            >Pending Approval</span>
            <span
              class="label label-success"
              *ngIf="displayStatus(user.status) === 'Approved'"
            >Approved</span>
            <span
              class="label label-danger"
              *ngIf="displayStatus(user.status) === 'Rejected'"
            >Rejected</span>
            <span
              class="label"
              *ngIf="displayStatus(user.status) !== 'Checking' && displayStatus(user.status) !== 'Pending Approval' && displayStatus(user.status) !== 'Approved' && displayStatus(user.status) !== 'Rejected'"
            >{{ displayStatus(user.status) }}</span>
          </clr-dg-cell>
          <clr-dg-cell>
            <button class="btn btn-sm btn-info" (click)="viewSpecification(i)">{{'common.view' | translate}}</button>
          </clr-dg-cell>
       </clr-dg-row>
       <clr-dg-footer>
           <clr-dg-pagination #pagination [clrDgPageSize]="10">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} user
           </clr-dg-pagination>
       </clr-dg-footer>
  </clr-datagrid>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="download()">{{'common.download' | translate}}</button>
    </div>
</div>


<div class="card" *ngIf="isView">
  <div class="card-header">water Material Specification</div>
  <div class="card-block">
    <div class="card-text">
      <table class="table abcd" style="color: black;">
        <tr>
          <td  style="text-align: left;"><b>Specification No:</b></td>
          <td  style="text-align: left;">: {{ selectedSpec['specification_no'] }}</td>
        </tr>
        <tr>
          <td  style="text-align: left;"><b>Specification Type</b></td>
          <td  style="text-align: left;">: {{ selectedSpec['spec_type'] }}</td>
        </tr>
        <tr>
          <td  style="text-align: left;"><b>Water Type:</b></td>
          <td  style="text-align: left;">: {{ selectedSpec['water_type'] }}</td>
        </tr>
        <tr>
          <td  style="text-align: left;"><b>Version No</b></td>
          <td  style="text-align: left;">: {{ selectedSpec['version_no'] }}</td>
        </tr>
        <tr>
          <td  style="text-align: left;"><b>Supersede No</b></td>
          <td  style="text-align: left;">: {{ selectedSpec['supersede_no'] }}</td>
        </tr>
        <tr>
          <td  style="text-align: left;"><b>Sample Qty</b></td>
          <td  style="text-align: left;">: {{ selectedSpec['sample_qty'] }} {{ selectedSpec['unit'] }}</td>
        </tr>
        <tr>
          <td  style="text-align: left;"><b>Micro Qty</b></td>
          <td  style="text-align: left;">: {{ selectedSpec['sample_qty'] }} {{ selectedSpec['unit'] }}</td>
        </tr>
     
      </table>
      <!-- <div class="clr-row">
        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
          <label>Safety Precaution:</label>
          <textarea rows="2" name="safety_precaution" [ngModel]="selectedSpec['safety_precaution']" required readonly tabindex="-1"></textarea>
        </div>
        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
          <label>Sampling Plan:</label>
          <textarea rows="2" name="sampling_plan" [ngModel]="selectedSpec['sampling_plan']" required readonly tabindex="-1"></textarea>
        </div>
        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
          <label>Sample to be drawn from:</label>
          <textarea rows="2" name="sample_drawn_from" [ngModel]="selectedSpec['sample_drawn_from']" required readonly tabindex="-1"></textarea>
        </div>
        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
          <label>Sample to be drawn with:</label>
          <textarea rows="2" name="sample_drawn_with" [ngModel]="selectedSpec['sample_drawn_with']" required readonly tabindex="-1"></textarea>
        </div>
      </div> -->
      <h3>Tests:</h3>
      <table class="table" *ngIf="!isExistingSpec()">
        <tr>
          <th>Sr. No.</th>
          <th style="text-align: left;">Test Type</th>
          <th style="text-align: left;">Test</th>
          <th style="text-align: left;">Sub Test</th>
          <th>Limit Type</th>
          <th>Limits</th>
          <th style="text-align: left;">{{'common.description' | translate}}</th>
        </tr>
        <tr *ngFor="let comp of selectedSpec['tests'] ; let i = index;">
          <td>{{ i+1}}</td>
          <td style="text-align: left;">{{comp.test_type || '-'}}</td>
          <td style="text-align: left;">{{comp.test || '-'}}</td>
          <td style="text-align: left;">{{comp.subtest ? comp.subtest : 'NA'}}</td>
          <td>{{comp.limit_type || comp.limit || '-'}}</td>
          <td>{{comp.limits || '-'}}</td>
          <td style="text-align: left;">{{comp.description || comp.descr || '-'}}</td>
        </tr>
        <tr *ngIf="selectedSpec['tests']?.length == 0">
          <td colspan="7">{{'common.noRecords' | translate}}</td>
        </tr>
      </table>
      <table class="table" *ngIf="isExistingSpec()">
        <tr>
          <th>Sr. No.</th>
          <th style="text-align: left;">Test</th>
          <th style="text-align: left;">Sub Test</th>
          <th style="text-align: left;">{{'common.description' | translate}}</th>
          <th>Limit Type</th>
          <th>Limits</th>
        </tr>
        <tr *ngFor="let comp of selectedSpec['tests'] ; let i = index;">
          <td>{{ i+1}}</td>
          <td style="text-align: left;">{{comp.test || '-'}}</td>
          <td style="text-align: left;">{{comp.subtest ? comp.subtest : 'NA'}}</td>
          <td style="text-align: left;">{{comp.description || comp.descr || '-'}}</td>
          <td>{{comp.limit_type || comp.limit || '-'}}</td>
          <td>{{comp.limits || '-'}}</td>
        </tr>
        <tr *ngIf="selectedSpec['tests']?.length == 0">
          <td colspan="6">{{'common.noRecords' | translate}}</td>
        </tr>
      </table>

      <h3>Revision History:</h3>
      <table class="table">
        <tr>
          <th style="text-align: left;">Sr</th>
          <th style="text-align: left;">Specification No</th>
          <!-- <th style="text-align: left;">Version No</th> -->
          <th style="text-align: left;">Change Control No</th>
          <th style="text-align: left;">Reason For Change</th>
        </tr>
        <tr *ngFor="let user of selectedSpec['revisions']; let i = index">
          <td style="text-align: left;">{{ i+1 }}</td>
          <td style="text-align: left;">{{user.spec_no}}</td>
          <!-- <td style="text-align: left;">{{user.version_no}}</td> -->
          <td style="text-align: left;">{{user.change_mode}}</td>
          <td style="text-align: left;">{{user.reason}}</td>
        </tr>
        <tr *ngIf="selectedSpec['revisions']?.length == 0">
          <td colspan="5">{{'common.noRecords' | translate}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="downloadRecord()">{{'common.download' | translate}}</button>
    <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
  </div>
</div>