
<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue; margin-top: -2px; text-align: left;"> Safety Trainings Section Report:</div>
            <div class="clr-col-lg-3" style="text-align: right; padding-right: 0px; margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/admin/saftey" style="background-color: red; color: white;">
                    <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                </button>
            </div>
        </div>
    </div>
<div>
 <form #signsafetyform="ngForm">
    <div class="card-block">
        <div class="card-text">
            <h4> Training Detailes</h4>
            <div class="clr-row">
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                    <label><b>Date of Trainings:</b><span style="color: red;">*</span></label>
                    <input type="date" name="trainings_date" ngModel required>
                </div>
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                    <label><b>Time of Trainings:</b><span style="color: red;">*</span></label>
                    <input type="time" name="time" ngModel required>
                </div>
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                    <label><b>Trainer:</b><span style="color: red;">*</span></label>
                    <input type="text" name="trainer" ngModel required>
                </div>
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                    <label><b>Duration of Trainings:</b><span style="color: red;">*</span></label>
                    <input type="text" name="duration" ngModel required>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
     <div class="card-header" style="text-align: left; color: black; background-color: rgb(96, 189, 212);">Training Objective: </div>
        <div class="card-block">
          <div class="clr-row">
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><b>Objective of Safety Training Sestion:</b><span style="color: red;">*</span></label>
                <input type="text" name="objective" ngModel required>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label><b>Outlins of Key Topics Covered:</b><span style="color: red;">*</span></label>
              <input type="text" name="topic" ngModel required>
          </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><b>Participants:</b></label>
                <select type="text" name="zone" ngModel required>
                    <option></option>
                    <option>Lab</option>
                    <option>XYZ</option>
                </select>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label><b>Department:</b></label>
              <select type="text" name="zone" ngModel required>
                  <option></option>
                  <option>QA</option>
                  <option>QC</option>
                  <option>Store</option>
                  <option>XYZ</option>
              </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" style="text-align: left; color: black; background-color: rgb(96, 193, 223);">Training Topics Covered</div>
           <div class="card-block">
             <div class="clr-row">
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><b>Hazard Identifiaction & Risk Assecment:</b></label>
                <input type="checkbox" name="topic" ngModel >
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><b>Preper Use of Personal Protective:</b></label>
                <input type="checkbox" name="topic" ngModel >
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><b>Equipment:</b></label>
                <input type="checkbox" name="topic" ngModel >
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><b>Safe Wore Practices & Protocols:</b></label>
                <input type="checkbox" name="topic" ngModel >
              </div>
           </div>
         </div>
       </div>
       <div class="card">
        <div class="card-header" style="text-align: left; color: black; background-color: rgb(96, 193, 223);">Training Details</div>
           <div class="card-block">
             <div class="clr-row">
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><b>Training Methods Used:</b></label>
                <select type="text" name="method" [(ngModel)]="method" required>
                    <option></option>
                    <option>Presentation</option>
                    <option>Practical</option>
                    <option>Exercises</option>
                    <option>Q&A</option>
                    <option>Sestion</option>
                    <option>Other</option>
                </select>
            </div>
               <div *ngIf="method == 'Other'"class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                   <label><strong><b>Other:</b></strong></label>
                   <input type="text" name="detaile" ngModel required>
               </div>
               <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                   <label><strong><b>Practical Exercises (If Any) :</b></strong></label>
                   <input type="text" name="extinsuisher" ngModel required>
               </div>
               <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong><b> Assesment & Evaluation :</b></strong></label>
                <input type="text" name="fire_hoses" ngModel required>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong><b>Feedback:</b></strong></label>
                <input type="text" name="alarm_station" ngModel required>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><b>Certification Issued:</b></label>
                <select type="text" name="certification" ngModel required>
                    <option></option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
           </div>
         </div>
       </div>
       <div class="card">
        <div class="card-header" style="text-align: left; color: black; background-color: rgb(96, 193, 223);">Review & Action</div>
           <div class="card-block">
             <div class="clr-row">
               <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                   <label><strong><b>Review Date:</b></strong></label>
                   <input type="date" name="dept_contact" ngModel required>
               </div>
               <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                   <label><strong><b>Follow-UP Action:</b></strong></label>
                   <input type="text" name="security_peron" ngModel required>
               </div>
               <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong><b>Additional notes  :</b></strong></label>
                <input type="text" name="evacuation_presure" ngModel required>
              </div>
              
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label>Attachment:</label>
                <input type="file" name="attachment" ngModel (change)="onFileChanged3($event)">
            </div>
           </div>
         </div>
       </div>      
</form>
</div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="save(signsafetyform)">{{'common.submit' | translate}}</button>
    </div>
</div>





