<div class="container-fluid">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Leave Card Log</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-danger" routerLink="/employee-dashboard/dashboard">{{'common.close' | translate}}</button>
              </div>
            </div>
          </div>
        <div class="card-block">
            <div class="card-text">
                <table class="table table-border">
                    <tr>
                        <th style=" background-color: rgb(14, 67, 112); color: white;">{{'common.table.srNo' | translate}}</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Employee Name</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Employee Id</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Total Leaves</th>
                        <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Leave Taken</th>
                        <th style="text-align: left;  background-color: rgb(14, 67, 112); color: white;">Balance Leave</th>
             
                    </tr>
                    <tr *ngFor="let user of results; let i = index">
                        <td>{{i+1}}.</td>
                        <td style="text-align: left;">{{user.afirstname}} {{user.alastname}}</td>
                        <td style="text-align: left;">{{user.emp_id}}</td>
                        <td style="text-align: left;">{{user.total_leave}}</td>
                        <td style="text-align: left;">{{user.leave_taken}}</td>
                        <td style="text-align: left;">{{user.leave_balance}}</td>
                  
                    </tr>
                    <tr *ngIf="results?.length==0">
                        <td colspan="6">No Record Found!</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>