<div *ngIf="isNew">
  <div class="container" *ngIf="!isShow">
    <div class="card">
      <div class="card-header">Damage Container Inspection</div>
      <div class="card-block">
        <div class="card-text">
          <table class="table">
            <thead>
              <tr>
                <th>Receiving No.</th>
                <th>Material Name</th>
                <th>Received Qty</th>
                <th>Total Damage</th>
                <th>Outer Damage</th>
                <th>Inner Damage</th>
                <th>view</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let damage of damages;let i = index">
                <td>{{ damage.receiving_no }}</td>
                <td>{{ damage.material_name }}</td>
                <td>{{ damage.qty_received }}</td>
                <td>{{ damage.total_damage }}</td>
                <td>{{ damage.outerdamage }}</td>
                <td>{{ damage.innerdamage }}</td>
                <td>
                  <button class="btn btn-sm btn-info" (click)="showInspectionForm(i)">{{'common.view' | translate}}</button>
                </td>
              </tr>
              <tr *ngIf="isRecord">
                <td colspan="7">{{'common.noRecords' | translate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-danger" (click)="showHome('home')">{{'common.close' | translate}}</button>
      </div>
    </div>
  </div>

  <div class="contianer" *ngIf="isShow">
    <div class="card">
      <div class="card-header">Damage Container Inspection: {{ details["material_name"] }}</div>
      <div class="card-block">
        <div class="card-text">
          <form #inspectionform="ngForm">
            <div class="clr-row">
              <div class="clr-col-lg-4 clr-col-md-4 clr-sm-12 clr-col-xs-12">
                <label>Receiving No:</label>
                <input type="text" name="receiving_no" ngModel="{{ details['receiving_no'] }}" readonly>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-sm-12 clr-col-xs-12">
                <label>Material Name:</label>
                <input type="text" name="material_name" ngModel="{{ details['material_name'] }}" readonly>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-sm-12 clr-col-xs-12">
                <label>Medicap Lot No:</label>
                <input type="text" name="batch_no" ngModel="{{ details['batch_no'] }}" readonly>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-sm-12 clr-col-xs-12">
                <label>Qty Received:</label>
                <input type="text" name="qty_received" ngModel="{{ details['total_damage'] }}" readonly>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-sm-12 clr-col-xs-12">
                <label>Mfg. Date:</label>
                <input type="text" name="mfg_date" ngModel="{{ details['mfg_date'] }}" readonly>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-sm-12 clr-col-xs-12">
                <label>Exp. Date:</label>
                <input type="text" name="exp_date" ngModel="{{ details['exp_date'] }}" readonly>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-sm-12 clr-col-xs-12">
                <label>Manufacturer:</label>
                <input type="text" name="manufacturer" ngModel="{{ details['manufacturer'] }}" readonly>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-sm-12 clr-col-xs-12">
                <label>Total No. of Containers:</label>
                <input type="text" name="total_containers" ngModel="{{ details['total_containers'] }}" readonly>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-sm-12 clr-col-xs-12">
                <label>Total No. of Containers Damaged:</label>
                <input type="text" name="total_damage" ngModel="{{ details['total_damage'] }}" readonly>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-sm-12 clr-col-xs-12">
                <label>Outer Packing:</label>
                <input type="text" name="outer_packing" ngModel="{{ details['outer_packing'] }}" readonly>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-sm-12 clr-col-xs-12">
                <label>Container type:</label>
                <input type="text" name="container_type" ngModel="{{ details['container_type'] }}" readonly>
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-sm-12 clr-col-xs-12">
                <label>Container subtype:</label>
                <input type="text" name="container_subtype" ngModel="{{ details['container_subtype'] }}" readonly>
              </div>
            </div>
            <div class="clr-row">
              <table class="table">
                  <thead>
                    <tr>
                      <th>Container No</th>
                      <th>Condidtion</th>
                      <th>{{'common.table.remark' | translate}}</th>
                      <th>{{'common.status' | translate}}</th>
                      <th style="width: 11%;">Prepare<br>Seperate GRN</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let report of details['damage_report']; let i = index" ngModelGroup="containerweighing">
                      <td style="width:7%;">{{ report.container_no }}</td>
                      <td style="width:13%">{{ report.conditions }}</td>
                      <td style="width: 50%; padding:0px;">
                        <input style="margin: 0px;height: 100%;" type="text" name="remark{{i}}" ngModel required>
                      </td>
                      <td style="padding:0px;">
                        <input type="hidden" name="container{{i}}" ngModel="{{ report.container_no }}" required>
                        <select style="margin:0px; height: 100%;" name="status{{i}}" ngModel="approve" required>
                          <option value="approve">Can be Accepted</option>
                          <option value="reject">{{'common.rejected' | translate}}</option>
                          <option value="individual_sampling">Accept on Special Terms: Individual Sampling</option>
                        </select>
                      </td>
                      <td style="padding:0px;">
                        <select style="margin:0px; height: 100%;" name="seperate_grn{{i}}" ngModel="No" required>
                          <option>No</option>
                          <option>Yes</option>
                        </select>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="inspectionform.form.valid && saveInspection(inspectionform)">{{'common.submit' | translate}}</button>
        <button class="btn btn-danger" (click)="isShow = false">{{'common.close' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="isLog">
  <div class="card">
    <div class="card-header">Damage Container Inspection Report</div>
    <div class="card-block">
      <div class="card-text">
        <table class="table">
          <tr>
            <th>Receiving No.</th>
            <th>Mateiral Code</th>
            <th>Container No.</th>
            <th>Condition</th>
            <th>{{'common.table.remark' | translate}}</th>
            <th>{{'common.status' | translate}}</th>
            <th>Prepare Seperate GRN</th>
            <th>Entry By</th>
            <th>Entry Date</th>
          </tr>
          <tr *ngFor="let report of reports">
            <td>{{ report.receiving_no }}</td>
            <td>{{ report.material_code }}</td>
            <td>{{ report.container_no }}</td>
            <td>{{ report.conditions }}</td>
            <td>{{ report.qa_remark }}</td>
            <td>{{ report.qa_status }}</td>
            <td>{{ report.seperate_grn }}</td>
            <td>{{ report.qa_entry_by }}</td>
            <td>{{ report.qa_entry_date }}</td>
          </tr>
          <tr *ngIf="isRecord1">
            <td colspan="9">{{'common.noRecords' | translate}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" (click)="showHome('home')">{{'common.close' | translate}}</button>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="isHomePage">
  <div class="card">
    <div class="card-header">Damage Container Inspection</div>
    <div class="card-block">
      <div class="card-text">
        <div class="clr-row">
          <div class="clr-col-xl-6 clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-12 so-icon">
            <div class="card clickable social-card social-card-github" (click)="showHome('new')">
              <div class="card-block" style="text-align: center">
                <div class="community-social-icon">
                  <img alt="github" width="50px" height="50px" src="assets/QA/line_clearance.png">
                </div>
                <p class="card-text"><b>Awaiting Damage Container Inspection</b></p>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-6 clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-12 so-icon">
            <div class="card clickable social-card social-card-github" (click)="showHome('log')">
              <div class="card-block" style="text-align: center">
                <div class="community-social-icon">
                  <img alt="github" width="50px" height="50px" src="assets/QA/incident_reporting.png">
                </div>
                <p class="card-text"><b>Damage Container Insepction Report</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
