<div class="container-fluid">
  <div class="row">
    <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Manpower Requisition
            </div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
              <button class="btn btn-sm" routerLink="/hr/recruitment/requisition"
                style="background-color: red;color: white;">
                <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
              </button>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-text">
 
            <form #candidateform="ngForm">
              <div class="clr-row">
                <!-- <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>Name of the Project : <span style="color: red;">*</span></strong></label>
                  <input type="text" name="project" placeholder="Enter Project" ngModel required>
                </div> -->
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>Department : <span style="color: red;">*</span></strong></label>
                    <select name="department" [(ngModel)]="department" (change)="getDesignation1()" required>
                      <option value="">Select Department</option>
                      <option *ngFor="let dept of departments" [value]="dept.department_name">{{ dept.department_name }}</option>
                    </select>
                </div>

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>Position : <span style="color: red;">*</span></strong></label>
                  <select name="designation" [(ngModel)]="designation" required [disabled]="!department">
                    <option value="">Select Position</option>
                    <option *ngFor="let item of designations" [value]="item.designation">{{ item.designation }}</option>
                  </select>
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>Details Of : <span style="color: red;">*</span></strong></label>
                  <input type="text" name="details" placeholder="Enter Details" ngModel required>
                </div>

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>Manpower Required : <span style="color: red;">*</span></strong></label>
                  <input type="text" name="manpowerRequired"  ngModel required>
                </div>

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>Replacement : <span style="color: red;">*</span></strong></label>
                  <select  name="replacementManP" [(ngModel)]="replacementManP"  required>
                    <option disabled selected>Select Replacement</option>
                    <option>YES</option>
                    <option>NO</option>
                  </select>  
                </div>

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12" *ngIf="replacementManP == 'YES'">
                  <label><strong>Details of Replacement : <span style="color: red;">*</span></strong></label>
                  <select name="replacementEmployee" ngModel required>
                    <option></option>
                    <option *ngFor="let employee of employees1" [value]="employee.emp_id">{{ employee.firstname}} {{
                      employee.lastname}} ( {{employee.emp_id}} )</option>
                  </select>
                </div>

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>Available : </strong></label>
                  <input type="text" name="availableManp"  ngModel >
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>Additional : </strong></label>
                  <input type="text" name="additionalManp"  ngModel >
                </div>


                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>Internal Deployment sugg. if any : </strong></label>
                  <input type="text" name="intternalDeploymentIfAny" ngModel > 
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>No. of People and Level required : <span style="color: red;">*</span></strong></label>
                  <input type="text" name="noOfpeopleReq" ngModel required>
                </div>



                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>Experience Required : <span style="color: red;">*</span></strong></label><br>
                  <select name="expYears" ngModel required style="width: 50%;" required>
                    <option></option>
                    <option *ngFor="let year of yearsArray" [value]="year">{{ year}}</option>
                  </select>
                  <select name="expMonths" ngModel required style="width: 50%;" required>
                    <option></option>
                    <option *ngFor="let month of monthLabels" [value]="month">{{ month}}</option>
                  </select>
                </div>

                <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>Skill sets required : <span style="color: red;">*</span></strong></label>
                  <div class="clr-row">
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                      <label><strong>1 : </strong></label>
                      <input type="text" name="skill1" ngModel >
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                      <label><strong>2 : </strong></label>
                      <input type="text" name="skill2" ngModel >
                    </div>
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                      <label><strong>3 : </strong></label>
                      <input type="text" name="skill3" ngModel >
                    </div>
                  </div>
                </div> 

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>Educational Qualifications  : <span style="color: red;">*</span></strong></label>
                  <input type="text" name="educationQualification" ngModel required placeholder="Enter educational qualifications">
                </div>
                


                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>Time period for recruitment : <span style="color: red;">*</span></strong></label>
                  <input type="text" name="timePeriodForReq" ngModel required>
                </div>

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>Speci. Sugg. if any for Speedy | Recru. : </strong></label>
                  <input type="text" name="specificSuggestions" ngModel >
                </div>

                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label><strong>Remarks : </strong></label>
                  <input type="text" name="remarks" ngModel >
                </div>

              </div>
            </form>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" (click)="saveForm(candidateform)">{{'common.submit' | translate}}</button>
          <button class="btn btn-danger" routerLink="/hr/recruitment/requisition">{{'common.close' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
