<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">New Physician</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/hr/medical/physicians/" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
    <div class="card-block">
        <div class="card-text">
            <form #myForm = "ngForm">
                <div class="clr-row">
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                        <label>Doctor Name:</label>
                        <input type="text" name="doctor_name" ngModel required>
                    </div>

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                         <label>Qualification:</label>
                         <input type="text" name="qualification" ngModel required>
                    </div>

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                         <label>Clinic Name:</label>
                         <input type="text" name="clinic_name" ngModel required>
                    </div>

                    

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                          <label>Contact No:</label>
                          <input type="text" maxlength="10" id="salary" name="contact_no" ngModel
                          required
                          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                    </div>

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                         <label>Email ID:</label>
                         <input type="email" name="email_id" ngModel required>
                    </div>

                     <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                         <label>Password:</label>
                         <input type="password" name="password" ngModel required>
                     </div>
                     <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                      <label>Address:</label>
                      <textarea id="address" name="address"  style="height:100px" ngModel required></textarea>
                </div>
                     <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                      <label>Upload Image:</label>
                      <input type="file" name="image" ngModel (change)="onFileChanged1($event)">
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                      <label>Upload Contract Agreement:</label>
                      <input type="file" name="contract_agreement" ngModel (change)="onFileChanged2($event)">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="save(myForm)">{{'common.save' | translate}}</button>
    </div>
</div>