<div class="card">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">Line Configuraion Log.</div>
      <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        
        <button class="btn btn-sm" routerLink="/master/linemaster" style="background-color: red;color: white;">
          {{'common.close' | translate}} </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
        <form #groupForm="ngForm">
     <table class="table table-border">
       <tr>
         <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Line No.</th>
         <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Line Name.</th>
         <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Room Name</th>
         <!-- <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">For Group</th> -->
         <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Equipments</th>
         <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Mfg Line Min Capacity</th>
         <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Mfg Line Max Capacity</th>
         <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Mfg Line Batch Operartions</th>
         <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Filling Line Min Capacity</th>
         <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Filling Line Max Capacity</th>
         <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Stage of Production</th>
         <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Entry By</th>
         <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Entry On</th>
       </tr>
       <tr *ngFor="let config of results; let i = index">
         <td style="text-align: left;">{{config.line_no}}</td>
         <td style="text-align: left;">{{config.line_name}}</td>
         <td style="text-align: left;">{{config.Section}}</td>
         <!-- <td style="text-align: left;">{{config.group_name}}</td> -->
         <td style="text-align: left;">
           <button type="button" class="btn btn-danger-outline" (click)="AddEqup(i)">View Equipment</button>
         </td>
         <td style="text-align: left;">{{config.MfgLineMinCapacity}}</td>
         <td style="text-align: left;">{{config.MfgLineMaxCapacity}}</td>
         <td style="text-align: left;">{{config.batchOperations}}</td>
         <td style="text-align: left;">{{config.FillingLineMinCapacity}}</td>
         <td style="text-align: left;">{{config.FillingLineMaxCapacity}}</td>
         <td style="text-align: left;">   
           <button  
          type="button"
          class="btn btn-danger-outline"
          (click)="openStageViewModal(i)">
          View
        </button>
      </td>
         <td style="text-align: left;">{{config.enrty_by}}</td>
         <td style="text-align: left;">{{config.entry_date | date: 'dd-MM-YYYY'}}</td>
       </tr>   
     </table>
    </form>
    </div>
 
  </div>
  <div class="card-footer">
     <button class="btn btn-sm" routerLink="/master/linemaster" style="background-color: red;color: white;">
          {{'common.close' | translate}} </button>
    
  </div>
</div>


<clr-modal [(clrModalOpen)]="isequip" clrModalSize="xl" class="full-modal">
  <h3 class="modal-title">Equipment:</h3>

  <div class="modal-body">
    <form #termForm="ngForm">
      <table class="table">
        <tr>
            <th style="background-color: rgb(14, 67, 112); color: white;">Sr. No.</th>
          <th style="width: 50px; background-color: rgb(14, 67, 112); color: white;">Select Equipment.</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Code</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Capacity</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Min Capacity</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Max Capacity</th>
         </tr>

     
        <tr *ngFor="let term of equipmentList; let i = index">
          <td>{{i + 1}}.</td>
          <td style="padding: 0px;">{{term.equipment_name}}</td>
          <td style="padding: 0px;">{{term.equipment_code}}</td>
          <td style="padding: 0px;">{{term.capacity}} {{term.unit}}</td>
          <td style="padding: 0px;">{{term.from_range}} {{term.unit}}</td>
          <td style="padding: 0px;">{{term.to_range}} {{term.unit}}</td>
         </tr>
      </table>
    </form>
  </div>

  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline" (click)="saveTerm(termForm)">{{'common.save' | translate}}</button> -->
    <button type="button" class="btn btn-danger" (click)="isequip = false">{{'common.close' | translate}}</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="isStageViewModal" clrModalSize="md">
  <h3 class="modal-title">Selected Stages</h3>

  <div class="modal-body">
    <table class="table stage-table">
      <thead>
        <tr>
          <th style="background-color: rgb(14, 67, 112); color: white;">Dosage Form</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Stage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stage of selectedStages">
          <td>{{ stage.dosage_form }}</td>
          <td>{{ stage.stage }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="isStageViewModal = false">{{'common.close' | translate}}</button>
  </div>
</clr-modal>