<div class="card" *ngIf="!isView && !isShow">
  <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-lg-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Packing Material Dispensing Receiving</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-danger" routerLink="/packing/dispensing">{{'common.close' | translate}}</button>
        </div>
      </div>
  </div>
  <div class="card-block">
      <div class="card-text">
          <table class="table">
              <tr>
                <th>Sr.</th>
                <th>Store Disp Date</th>
                <th>plan No</th>
                <th style="text-align: left;">Product Type</th>
                <th style="text-align: left;">Product Code</th>
                <th style="text-align: left;">Product Name</th>
                <th>Batch Size</th>
                <th>Medicap Lot No</th>
                <th>Request By</th>
                <th>{{'common.table.action' | translate}}</th>
              </tr>
              <tr *ngFor="let result of results; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ result.pm_store_disp_date | date: 'dd-MM-yyyy' }}</td>
                <td>{{ result.plan_no }}</td>
                <td style="text-align: left;">{{ result.dosage_form }}</td>
                <td style="text-align: left;">{{ result.product_code }}</td>
                <td style="text-align: left;">{{ result.product_name }}</td>
                <td>{{ result.batch_size}} {{ result.unit }}</td>
                <td>{{ result.batch_number}}</td>
                <td>{{ result.dispense_request_sent_by }}</td>
                <td>
                  <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                </td>
              </tr>
              <tr *ngIf="results?.length == 0">
                  <td colspan="9">{{'common.noRecords' | translate}}</td>
              </tr>
          </table>
      </div>
  </div>
</div>

<div class="card"  *ngIf="isShow && !isView">

  
    
    

  <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;"> Dispensing Details </div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" (click)="isShow = false">{{'common.close' | translate}}</button>
        </div>
      </div>
  </div>
  <div class="card-block">
      <div class="card-text">
          <div class="card-text">
              <h3>Product Details:</h3>
              <table class="table">
                  <!-- <tr>
                      <td style="text-align: left; border:1px solid black;"><b> Company Unit:</b></td>
                      <td style="text-align: left; border:1px solid black;" colspan="3">{{selectedResult['company_unit']}}</td>
                  </tr> -->
                  <tr>
                      <td style="text-align: left; border:1px solid black;"><b>Product Name:</b></td>
                      <td style="text-align: left; border:1px solid black;">{{selectedResult['product_name']}}</td>
                      <td style="text-align: left; border:1px solid black;"> <b>Batch/LOT No.:</b></td>
                      <td style="text-align: left; border:1px solid black;">{{selectedResult['batch_number']}}</td>
                  </tr>
                  <tr>
                      <td style="text-align: left; border:1px solid black;"><b>Grade:</b></td>
                      <td style="text-align: left; border:1px solid black;">{{selectedResult['grade']}}</td>
                      <td style="text-align: left; border:1px solid black;"><b> Batch Size/LOT Size:</b></td>
                      <td style="text-align: left; border:1px solid black;">{{selectedResult['batch_size']}}</td>
                  </tr>
      
                  <!-- <tr>
                      <td style="text-align: left; border:1px solid black;"><b>BMR No.:</b></td>
                      <td style="text-align: left; border:1px solid black;">{{selectedResult['bmr_no']}}</td>
                      <td style="text-align: left; border:1px solid black;"><b>MFR NO.:</b></td>
                      <td style="text-align: left; border:1px solid black;">{{selectedResult['mfr_no']}}</td>
                  
                  </tr> -->
              </table>
        
              <h3>Material Details:</h3>
              <div style="overflow-x: auto;overflow-y:auto ;">
                  <table class="table">
                      <tr>
                          <th>Sr.</th> 
                          <th style="text-align: left;">Material Subtype</th>
                          <th style="text-align: left;">Material Code</th>
                          <th style="text-align: left;">Material Name</th> 
                          <th>Standard Qty</th> 
                          <th>Batch Qty</th> 
                          <!-- <th>Actual Qty</th>  -->
                      </tr>
                      <tr *ngFor="let comp of selectedResult['materials']; let i = index">
                          <td>{{ i + 1 }}.</td> 
                          <td style="text-align: left;">{{ comp.material_subtype }}</td>
                          <td style="text-align: left;">{{ comp.material_code }}</td>
                          <td style="text-align: left;">{{ comp.material_name }}</td> 
                          <td>{{ comp.qty }} {{ comp.unit }}</td>
                          <td>{{ comp.b_qty }}</td>
                          <!-- <td>{{ comp.actual_qtyy }}</td> -->
                      </tr>
                      <tr *ngIf="selectedResult['materials'].length == 0">
                          <td colspan="7">{{'common.noRecords' | translate}}</td>
                      </tr>
                  </table>
              </div>
          </div>
      </div>
  </div>
  <div class="card-footer">
      <button class="btn btn-primary" (click)="receive()">Receive</button>
      <button class="btn btn-danger" (click)="isView=false">{{'common.close' | translate}}</button>
  </div>
</div>

