<div class="card" *ngIf="!isNew">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Premix Master</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-success" (click)="isNew = true">{{'common.new' | translate}}</button>
                <button class="btn btn-sm btn-danger" routerLink="/unitformula">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <div class="clr-row">
              <div class="clr-col-lg-5">
                  <label>Search </label>
                  <input type="text" placeholder="Search..." [(ngModel)]="searchQuery">
              </div>
            </div>

            <div class="datagrid-wrapper">
                <clr-datagrid [clrDgLoading]="loading" [clrDgFilter]="searchQuery" >

                    <clr-dg-column style="width: 10;">{{'common.table.srNo' | translate}}</clr-dg-column>
                    <clr-dg-column>Premix Code</clr-dg-column>
                    <clr-dg-column>Premix Name</clr-dg-column>
                    <clr-dg-column style="text-align: left;">Premix Description</clr-dg-column>
                    <clr-dg-column>Entry By/Dt.</clr-dg-column>
                    <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column>
            
                    <clr-dg-row *clrDgItems="let result of filteredMaterials; let i = index" [clrDgItem]="result"  >
                        <clr-dg-cell>{{ i+1}}.</clr-dg-cell>
                        <clr-dg-cell><strong>{{ result.premixCode}}</strong></clr-dg-cell>
                        <clr-dg-cell>{{ result.premixName}}</clr-dg-cell>
                        <clr-dg-cell style="text-align: left;">{{ result.premixDescription }} </clr-dg-cell>
                        <clr-dg-cell>{{ result.entryBy }} / {{ result.entryOn | date:'dd-MM-yyyy' }}</clr-dg-cell>
                        <clr-dg-cell >
                          <button class="btn btn-sm btn-info" (click)="view(result)">{{'common.view' | translate}}</button>
                        </clr-dg-cell>
                    </clr-dg-row>
                </clr-datagrid>
            </div>
          
        </div>
    </div>
    <div class="card-footer">
         <button class="btn btn-danger"  routerLink="/unitformula">{{'common.close' | translate}}</button>
    </div>
</div>



<clr-modal [(clrModalOpen)]="isView" clrModalSize="xl"  [clrModalClosable]="true">
  <h3 class="modal-title"> View Premix Details</h3>
  <div class="modal-body">
    <div class="card">
      <div class="card-block">
       <div class="card-text">
            <form #basicForm="ngForm">
                <div class="clr-row">

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label><strong>Premix Name : <span style="color: red;">*</span></strong></label>
                        <input type="text" name="premixName" [(ngModel)]="selectedPremix['premixName']" required readonly>
                    </div>

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label><strong>Premix Code : <span style="color: red;">*</span></strong></label>
                        <input type="text" name="premixCode" [(ngModel)]="selectedPremix['premixCode']" required readonly>
                    </div>

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label><strong>Premix Description : <span style="color: red;">*</span></strong></label>
                        <input type="text" name="premixDescription" [(ngModel)]="selectedPremix['premixDescription']" required readonly>
                    </div>
 
                </div>

            </form>            

            <div class="clr-row"  >
                <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                    <div class="card">
                        <div class="card-header" style="text-align: center">
                            <div class="clr-row" style="margin-bottom: -10px;">
                                <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">Raw Materials List:</div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row container-fluid">
                                <table class="table table-border">
                                    <tr>
                                        <th style="font-weight: bolder; color: white; background-color:rgb(41, 78, 146); ">{{'common.table.srNo' | translate}}</th>
                                        <th style="font-weight: bolder; color: white; background-color:rgb(41, 78, 146); text-align: left;">Material type</th>
                                        <th style="font-weight: bolder; color: white; background-color:rgb(41, 78, 146); text-align: left;">Material Subtype</th>
                                        <th style="font-weight: bolder; color: white; background-color:rgb(41, 78, 146); text-align: left;">Material Name</th>
                                        <th style="font-weight: bolder; color: white; background-color:rgb(41, 78, 146); text-align: left;">Material Code</th>
                                        <th style="font-weight: bolder; color: white; background-color:rgb(41, 78, 146); text-align: left;">Grade </th>
                                        <th style="font-weight: bolder; color: white; background-color:rgb(41, 78, 146); text-align: left;">% Qty </th>
                                    </tr>
                                    <tr *ngFor="let mat of selectedPremix['materialList']; let i = index">
                                        <td style="color: blue;">{{ i + 1 }}.</td>
                                        <td style="color: blue; text-align: left;">{{ mat.material_type || '-' }}</td>
                                        <td style="color: blue; text-align: left;">{{ mat.material_subtype || '-' }}</td>
                                        <td style="color: blue; text-align: left;">{{ mat.material_name || '-'}}</td>
                                        <td style="color: blue; text-align: left;">{{ mat.material_code || '-'}}</td>
                                        <td style="color: blue; text-align: left;">{{ mat.grade || '-'}} </td>
                                        <td style="color: blue; text-align: left;">{{ mat.perQty || '-'}} %</td>
                                    </tr>
                                    <tr *ngIf="selectedPremix['materialList']?.length == 0">
                                        <td colspan="6">{{'common.noRecords' | translate}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
               
               
                
                </div>
          
            </div>
          
        </div>
      </div>
    </div> 
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
  </div>
</clr-modal>


<div class="card" *ngIf="isNew">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">New Premix Master</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-danger" (click)="isNew = false">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <form #basicForm="ngForm">
                <div class="clr-row">

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label><strong>Premix Name : <span style="color: red;">*</span></strong></label>
                        <input type="text" name="premixName" ngModel required>
                    </div>

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label><strong>Premix Code : <span style="color: red;">*</span></strong></label>
                        <input type="text" name="premixCode" ngModel="#AutoGenerated" required>
                    </div>

                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label><strong>Premix Description : <span style="color: red;">*</span></strong></label>
                        <input type="text" name="premixDescription" ngModel required>
                    </div>
 
                </div>

            </form>            

            <div class="clr-row"  >
                <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                    <div class="card">
                        <div class="card-header" style="text-align: center">
                            <div class="clr-row" style="margin-bottom: -10px;">
                                <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">Raw Materials List:</div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row container-fluid">
                                <form #rawForm="ngForm">
                                    <div class="clr-row">

                                        <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                            <label><strong>Material Subtype : <span style="color: red">*</span></strong></label>
                                            <select name="material_subtype" [(ngModel)]="material_subtype"
                                                required  (change)="getApprovedRawMaterials($event.target.value)" >
                                                <option></option>
                                                <option *ngFor="let type of materialSubTypes" [ngValue]="type.material_subtype">{{type.material_subtype}}</option>
                                            </select>
                                        </div>

                                        <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-3 clr-col-xs-12">
                                            <label><strong>Material Name : <span style="color:red">*</span></strong></label>
                                            <select name="material_name" (change)="getSelectedMaterial($event.target.selectedIndex)" ngModel>
                                                <option></option>
                                                <option *ngFor="let material of materials;" [value]="material.material_code">{{material.material_name }} - ( {{ material.material_code }} )</option>
                                            </select>
                                        </div>

                                        <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-2 clr-col-xs-12">
                                            <label><strong>Material Code : <span style="color:red">*</span></strong></label>
                                            <input type="text" name="material_code" [(ngModel)]="selectedMaterial['material_code']" required readonly>
                                        </div>

                                        <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-2 clr-col-xs-12">
                                            <label><strong>% Qty : <span style="color:red">*</span></strong></label>
                                            <input type="number" name="perQty" [(ngModel)]="selectedMaterial['perQty']" required  >
                                        </div>
  
                                        <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                                            <br><button class="btn btn-primary" (click)="add(rawForm)">{{'common.add' | translate}}</button>
                                        </div>
                                    </div>
                                </form>

                                <table class="table table-border">
                                    <tr>
                                        <th style="font-weight: bolder; color: white; background-color:rgb(41, 78, 146); ">{{'common.table.srNo' | translate}}</th>
                                        <th style="font-weight: bolder; color: white; background-color:rgb(41, 78, 146); text-align: left;">Material type</th>
                                        <th style="font-weight: bolder; color: white; background-color:rgb(41, 78, 146); text-align: left;">Material Name</th>
                                        <th style="font-weight: bolder; color: white; background-color:rgb(41, 78, 146); text-align: left;">Material Code</th>
                                        <th style="font-weight: bolder; color: white; background-color:rgb(41, 78, 146); text-align: left;">Grade </th>
                                        <th style="font-weight: bolder; color: white; background-color:rgb(41, 78, 146); text-align: left;">% Qty </th>
                                        <th style="font-weight: bolder; color: white; background-color:rgb(41, 78, 146); ">{{'common.table.action' | translate}}</th>
                                    </tr>
                                    <tr *ngFor="let comp of materialList; let i = index">
                                        <td style="color: blue;">{{ i + 1 }}.</td>
                                        <td style="color: blue; text-align: left;">{{ comp.material_subtype || '-' }}</td>
                                        <td style="color: blue; text-align: left;">{{ comp.material_name || '-'}}</td>
                                        <td style="color: blue; text-align: left;">{{ comp.material_code || '-'}}</td>
                                        <td style="color: blue; text-align: left;">{{ comp.grade || '-'}}</td>
                                        <td style="color: blue; text-align: left;">{{ comp.perQty || '-'}} %</td>
                                        <td>
                                            <clr-icon shape="trash" class="is-error" (click)="materialList.splice(i, 1)"></clr-icon>
                                        </td>
                                    </tr>
                                    <tr *ngIf="materialList.length == 0">
                                        <td colspan="6">{{'common.noRecords' | translate}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
               
               
                
                </div>
          
            </div>
          
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary"  (click)="savePremix(basicForm)">{{'common.save' | translate}}</button>
        <button class="btn btn-danger"  (click)="isNew = false">{{'common.close' | translate}}</button>
    </div>
</div>


 
 