<div class="card" *ngIf="!isNew">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">Log Book of Inventory</div>
        <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-primary" (click)="isNew=true">{{'common.new' | translate}}</button>
          <button class="btn btn-sm btn-danger" routerLink="/it">{{'common.close' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <clr-datagrid>
           <clr-dg-column>{{'common.table.srNo' | translate}}</clr-dg-column>
           <clr-dg-column style="text-align: left;">Item Name</clr-dg-column>
           <clr-dg-column style="text-align: left;">Received On</clr-dg-column>
           <clr-dg-column style="text-align: left;">Issued to Department</clr-dg-column>
           <clr-dg-column style="text-align: left;">Received By(Sign/Date)</clr-dg-column>
           <clr-dg-column style="text-align: left;">Issued By(Sign/Date)</clr-dg-column>
           <clr-dg-row *clrDgItems="let res of results; let i = index">
             <clr-dg-cell>{{i + 1}}.</clr-dg-cell>
             <clr-dg-cell style="text-align: left;">{{res.itemName}}</clr-dg-cell>
             <clr-dg-cell style="text-align: left;">{{res.recevOn}}</clr-dg-cell>
             <clr-dg-cell style="text-align: left;">{{res.IssuedtoDept}}</clr-dg-cell>
             <clr-dg-cell style="text-align: left;">{{res.recevBy}}</clr-dg-cell>
             <clr-dg-cell style="text-align: left;">{{res.issuedBy}}</clr-dg-cell>
              <clr-dg-cell></clr-dg-cell>
          </clr-dg-row>
         </clr-datagrid>
        </div>
    </div>
</div>

<div class="card" *ngIf="isNew">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">Log Book of Inventory</div>
        <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-danger" routerLink="/it">{{'common.close' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="card-block">
        <div class="card-text">
              <form #databackuplog="ngForm"  class="clr-row">
                  <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Item Name: <span style="color: red;"><b>*</b></span></label>
                        <input type="text" name="itemName" ngModel required>
                  </div>
                  <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Received On : <span style="color: red;"><b>*</b></span></label>
                        <input type="text" name="recevOn" ngModel required>
                  </div>
                  <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Issued to Department: <span style="color: red;"><b>*</b></span></label>
                        <input type="date" name="IssuedtoDept" ngModel required>
                  </div>
                  <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Received By(Sign/Date): <span style="color: red;"><b>*</b></span></label>
                        <input type="date" name="recevBy" ngModel required>
                  </div>
                  <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Issued By(Sign/Date):</label>
                        <input type="date" name="issuedBy" ngModel required>
                  </div>
              </form>
        </div>
    </div>
</div>
