.bar{
    background-color:rgba(206, 197, 197, 0.733);
    height: 50px;
    margin:13px;
   
    display: inline;
}
.btn{
    font-size: 1rem;
    line-height: 1.5;
}

.fa{
  height: 10px;
  width: 10px;
  padding: 10px;
  margin: 10px;
  
}
.fa-regular {
  height: 10px;
  width: 10px;
  padding: 10px;
  margin: 10px;
  

}
  

.icon-bar {
    width: 100%;
    background-color:black;
    overflow: auto;
  }
  
  .icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #04AA6D;
  }
  
  ul {
    list-style-type: none;
    margin: 8px;
    padding: 10px;
  }
 
  