<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-6" style="color: aliceblue;margin-top: -2px;text-align: left;">New Requisition</div>
          <div class="clr-col-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/engi-store/requisition" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <form #indendForm="ngForm">
                <div class="clr-row">
                    <div class="clr-col-lg-4 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                        <label>Material Type:</label>
                        <select name="material_subtype" ngModel required (change)="getGeneralMaterials($event.target.value)">
                            <option>Stationary</option>
                            <option>Engineering Spares</option>
                            <option>Engine</option>
                            <option>Equipment Parts</option>
                            <option>Civil Material</option>
                            <option>Electrical Material</option>
                            <option>Mechanical Material</option>
                            <option>Housekeeping Material</option>
                            <option>Material Handling </option>
                            <option>Safety Material</option>
                            <option>Miscellanious</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-5 clr-col-md-5 clr-col-sm-12 clr-col-xs-12">
                        <label>Material Name:</label>
                        <select name="material_code" ngModel required (change)="selectMaterial($event.target.selectedIndex)">
                            <option></option>
                            <option *ngFor="let material of materials" [value]="material.material_code">{{ material['material_name'] }} - {{ material.grade }}</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                        <label>Required Qty:</label>
                        <input type="text" name="qty" ngModel required>
                    </div>
                    <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                        <label>Unit:</label>
                        <select name="unit" ngModel required>
                            <option></option>
                            <option *ngFor="let unit of units">{{ unit.unit }}</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                        <label>Requirement:</label>
                        <select name="requirement" ngModel required>
                            <option>Urgent</option>
                            <option>Regular</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                        <label>Vendor:</label>
                        <select name="vendor" ngModel required (change)="selectVendor($event.target.selectedIndex)">
                            <option></option>
                            <option *ngFor="let vendor of vendors" [value]="vendor.vendor_no">{{ vendor['vendor_name'] }}</option>
                        </select>
                    </div>
                   
                   
                    
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="add(indendForm)">ADD TO LIST</button>
    </div>
     <div class="card-block">
        <div class="card-title">Materials List:</div>
        <div class="card-text">
        <clr-datagrid>
            <clr-dg-column>Material Type</clr-dg-column>
            <clr-dg-column>Material Code</clr-dg-column>
            <clr-dg-column>Material Name</clr-dg-column>
            <clr-dg-column>Req. Qty</clr-dg-column>
            <clr-dg-column>Requirement</clr-dg-column>
            <clr-dg-column>Vendor No</clr-dg-column>
            <clr-dg-column>Vendor Name</clr-dg-column>
          
            <clr-dg-column>Del</clr-dg-column>
        
            <clr-dg-row *ngFor="let user of materialList; let i = index">
                <clr-dg-cell>{{ user.material_subtype }}</clr-dg-cell>
                <clr-dg-cell>{{user.material_code}}</clr-dg-cell>
                <clr-dg-cell>{{user.material_name}}</clr-dg-cell>
                <clr-dg-cell>{{user.qty}} {{user.unit}}</clr-dg-cell>
                <clr-dg-cell>{{user.requirement}}</clr-dg-cell>
                <clr-dg-cell>{{user.vendor}}</clr-dg-cell>
                <clr-dg-cell>{{user.vendor_name}}</clr-dg-cell>
              
                <clr-dg-cell><clr-icon shape="trash" class="is-error" (click)="del(i)"></clr-icon></clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
        </div>
    </div> 
    <div class="card-footer">
        <button class="btn btn-primary" (click)="save()">{{'common.save' | translate}}</button>
    </div>
</div>

