<div class="card"> 
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-lg-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Password Reset</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-success" routerLink="awaiting">Awaiting </button>
          <button class="btn btn-sm btn-danger" routerLink="/it">{{'common.close' | translate}}</button>
        </div>
      </div>
    </div>
   <div class="card-block">
  
        <div class="card-text">
          <!-- <table class="table table-border">
            <tr>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.date' | translate}}</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Employee Id </th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Department </th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">New Password</th>
                <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Status </th>
              
            </tr>
            <tr *ngFor="let res of results;let i=index">
              <td style="text-align: left;">{{i+1}}</td>
              <td style="text-align: left;">{{res.approve_date}}</td>
              <td style="text-align: left;">{{res.emp_id}}</td>
              <td style="text-align: left;">{{res.department}}</td>
              <td style="text-align: left;">{{res.new_password }}</td>
              <td style="text-align: left;">{{res.status | titlecase}}</td>
            </tr> 
           <tr *ngIf="results?.length==0">
             <td colspan="10">No Record Found!</td>
           </tr>
          </table> -->

          <clr-datagrid [clrDgLoading]="loading">
            
            <clr-dg-column>Sr.</clr-dg-column>
            <clr-dg-column clrDgField="approve_date">{{'common.date' | translate}}</clr-dg-column>
            <clr-dg-column clrDgField="emp_id">Employee Id</clr-dg-column>
            <clr-dg-column clrDgField="department">{{'common.department' | translate}}</clr-dg-column>
            <clr-dg-column clrDgField="new_password">New Password</clr-dg-column>
            <clr-dg-column clrDgField="status">{{'common.status' | translate}}</clr-dg-column>
          
      
        <clr-dg-row *clrDgItem="let res of results;let i=index" [clrDgItem]="res">
          <clr-dg-cell>{{ i + 1 }}.</clr-dg-cell>
          <clr-dg-cell>{{res.approve_date}}</clr-dg-cell>
          <clr-dg-cell>{{res.emp_id}}</clr-dg-cell>
          <clr-dg-cell>{{res.department}}</clr-dg-cell>
          <clr-dg-cell>{{res.new_password }}</clr-dg-cell>
          <clr-dg-cell>{{res.status | titlecase}}</clr-dg-cell>
       </clr-dg-row>
       <clr-dg-footer>
           <clr-dg-pagination #pagination [clrDgPageSize]="10">
             <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
             {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
             of {{pagination.totalItems}} res
           </clr-dg-pagination>
         </clr-dg-footer>
</clr-datagrid>
        </div> 
   </div> 
    <div class="card-footer">
    <button class="btn btn-primary" (click)="download()">{{'common.download' | translate}}</button> 
    </div>
  </div>
 