<div class="container-fluid">
    <div class="card">
        <div class="card-header">Distribution Record of Label</div>
        <div class="card-block">
            <div class="card-text">
                <div class="clr-row">
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                      <label>From Date</label>
                      <input type="date" name="fromDate" ngModel required>
                    </div>
                    <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                      <label>To Date</label>
                      <input type="date" name="toDate" ngModel required>
                    </div>
                    <div class="clr-col-lg-6 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" style="margin-top: 6px;">
                      <label>&nbsp;</label><br>
                      <button class="btn btn-success">GET RECORDS</button>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <th style="vertical-align: middle;">{{'common.date' | translate}}</th>
                        <th style="vertical-align: middle;">Label Type</th>
                        <th style="vertical-align: middle;">{{'common.department' | translate}}</th>
                        <th style="vertical-align: middle;">Area</th>
                        <th style="vertical-align: middle;">Activity</th>
                        <th style="vertical-align: middle;">Issued for Product</th>
                        <th style="vertical-align: middle;">Medicap Lot No</th>
                        <th style="vertical-align: middle;">Lot No.</th>
                        <th style="vertical-align: middle;">No. of Labels Printed</th>
                        <th style="vertical-align: middle;">Authorised By</th>
                        <th style="vertical-align: middle;">Printed By</th>
                    </tr>
                    <tr>
                        <td colspan="11">{{'common.noRecords' | translate}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>