<div class="card" *ngIf="!isView">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Weighing of Material Log</div>
      <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm" routerLink="/godownStore/raw/weighing" style="background-color: red;color: white;"> {{'common.close' | translate}} </button>
      </div>
    </div>
  </div>
 
        <clr-datagrid>
            
                <clr-dg-column>Sr.</clr-dg-column>
                <clr-dg-column >Weighing Date</clr-dg-column>
                <clr-dg-column >Weighing No</clr-dg-column>
                <clr-dg-column >Packaging Slip</clr-dg-column>
                <clr-dg-column >Material Type</clr-dg-column>
                <clr-dg-column >Material Code</clr-dg-column>
                <clr-dg-column >Material Name</clr-dg-column>
                <clr-dg-column>Accepted Qty</clr-dg-column>
                <clr-dg-column>Containers</clr-dg-column>
                <clr-dg-column>View</clr-dg-column>
            
       

              <clr-dg-row *clrDgItems="let result of results; let i = index" [clrDgItem]="result">
                <clr-dg-cell>{{ calculateStartSrNo() + i+1}}</clr-dg-cell>
                <clr-dg-cell>{{ result.weighing_date | date:'dd-MM-yyyy'}}</clr-dg-cell>
                <clr-dg-cell>{{result.weighing_no}}</clr-dg-cell>
                <clr-dg-cell>{{result.ch_no}}</clr-dg-cell>
                <clr-dg-cell>{{result.material_type}}</clr-dg-cell>
                <clr-dg-cell>{{result.material_code}}</clr-dg-cell>
                <clr-dg-cell>{{result.material_name}}</clr-dg-cell>
                <clr-dg-cell>{{result.received_qty}}</clr-dg-cell>
                <clr-dg-cell>{{result.containers}}</clr-dg-cell>
                <clr-dg-cell><button class="btn btn-sm btn-info btn-icon" (click)="view(calculateStartSrNo() + i)">
                  <clr-icon shape="eye" class="is-info"></clr-icon>
                </button></clr-dg-cell>
      
              </clr-dg-row>
           
              <clr-dg-footer>  <!--copy this <clr-dg-footer> complete tag -->
                <clr-dg-pagination #pagination [(clrDgPageSize)]="pageSize" (clrDgPageChange)="onPageChange($event)">
                  {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                  of {{pagination.totalItems}} 
                </clr-dg-pagination>
              </clr-dg-footer>
          </clr-datagrid>
          <div class="card-footer">
            <button class="btn btn-primary" (click)="downloadLog()">DOWNLOAD PDF</button>
            </div>
          
    </div>



    

<div class="card" *ngIf="isView">
  <div class="card-header">Weighing of Material Log</div>
  <div class="card-block">
      <div class="card-text">
        <table class="table table-border">
        
          <tr>
            <td style="text-align: left;"><b>Material Name:</b></td>
            <td style="text-align: left;">{{ selectedReport['material_name'] }}</td>
            <td style="text-align: left;"><b>Vendor Type:</b></td>
            <td style="text-align: left;">{{ selectedReport['vendor_type'] }}</td>
          </tr>
        
            <tr>
            <td style="text-align: left;"><b>Packaging Slip:</b></td>
            <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['ch_no'] }}</td>
            <td style="text-align: left;"><b>Packaging Slip Date:</b></td>
            <td style="text-align: left;">{{ selectedReport['challan_date'] | date: 'dd-MM-yyyy' }}</td>
            </tr>
            <tr>
            <td style="text-align: left;"><b>PO No.:</b></td>
            <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['po_no'] }}</td>
            <td style="text-align: left;"><b>PO Date:</b></td>
            <td style="text-align: left;">{{ selectedReport['po_date'] | date: 'dd-MM-yyyy'}}</td>
            </tr>
            <tr>
            <td style="text-align: left;"><b>Material Type:</b></td>
            <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['material_type'] }}</td>
            <td style="text-align: left;"><b>Material Subtype:</b></td>
            <td style="text-align: left;">{{ selectedReport['material_subtype'] }}</td>
            </tr>
            <tr>
            <td style="text-align: left;"><b>Material Code:</b></td>
            <td style="text-align: left;border-right: 1px solid black;">{{ selectedReport['material_code'] }}</td>
            <td style="text-align: left;"><b>Material Grade:</b></td>
            <td style="text-align: left;">{{ selectedReport['gradeName'] }}</td>
            </tr>
            <tr>
            <td style="text-align: left;"><b>PO Qty:</b></td>
            <td style="text-align: left;" >{{ selectedReport['qty'] }} {{ selectedReport['unit'] }}</td>
            <td style="text-align: left;"><b>Material For :</b></td>
            <td style="text-align: left;" >{{ selectedReport['materialForName'] }}  </td>
            </tr>
        </table>
        <br>
        <div class="clr-col-lg-12"> 
          <label>Balance</label>
          <input type="text" name="balance" [ngModel]="selectedReport['balance']" readonly  tabindex="-1">
        </div>
        <h3>Labeling Details:</h3>
        <table class="table table-border">
          <tr>
            <th style="background-color: rgb(14, 67, 112); color: white;">Sr.</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Medicap Lot No</th>
            <th style="text-align:right; background-color: rgb(14, 67, 112); color: white;">Qty</th>
            <th style="text-align: right; background-color: rgb(14, 67, 112); color: white;">No Of Containers</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Mfg Date</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" *ngIf="plant_id ==  '72'">{{'common.date' | translate}}</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" *ngIf="plant_id !=  '72'">Exp Date</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
          </tr>
          <tr *ngFor="let list of selectedReport['batches'];let i=index">
            <td>{{i+1}}</td>
            <td>{{list.batch_no}}</td>
            <td style="text-align:right;">{{list.qty_received}}</td>
            <td style="text-align:right;">{{list.total_containers}}</td>
            <td>{{list.mfg_date |date:'MMM-yyyy' | uppercase}}</td>
            <td *ngIf="plant_id !=  '72'">{{list.exp_date | date:'MMM-yyyy' | uppercase}}</td>
            <td *ngIf="plant_id ==  '72'">{{list.date_type}} / {{ list.exp_date | date:'MMM-yyyy' | uppercase}}</td>
            <td><button class="btn btn-primary" (click)="viewDetails(i)">{{'common.view' | translate}}</button></td>

          </tr>
          <tr *ngIf="selectedReport['batches']?.length == 0">
              <td colspan="7">No Record Found!</td>
          </tr>
        </table>
        


        <br>
        <div class="card">
          <div class="card-header" style="text-align: center">
              <div class="clr-row" style="margin-bottom: -10px;">
                <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">Checklist</div>
                <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                  <button class="btn btn-sm btn-info btn-icon" (click)="isView1=!isView1">
                    <clr-icon shape="eye" class="is-warning"></clr-icon>
                  </button>
                </div>
              </div>
          </div>
          <div class="card-block" >
            <table class="table">
              <tr>
                <th>Sr.</th>
                <th style="text-align: left; ">Parameters</th>
                <th>{{'common.remarks' | translate}}</th>
          </tr>
          <tr *ngFor="let hr of checklist;let i = index" style="margin: 0px;">
                <td style="padding: 0px !important; margin: 0px;">{{i+1}}</td>
                <td style="text-align:left;padding: 0px !important;margin: 0px;">{{hr.params}}</td>
                <td style="width:35%  !important; height: 25px !important;padding: auto !important;box-sizing: border-box !important; margin:auto !important">
                 {{hr.chk_value}}</td>
            </tr>
            </table>
          </div>
        </div>
        <br>
          
    

        
      </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="downloadPDF('manual')">Download Manual PDF</button>
    <button class="btn btn-success" (click)="downloadPDFdigital('digital')">Download Digital PDF</button>
    <button class="btn btn-danger" (click)="viewf()">{{'common.close' | translate}}</button>
  </div>
</div>


<clr-modal [(clrModalOpen)]="isProceed" [clrModalSize]="'xl'">
  <h3 class="modal-title">Weighing Details</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-lg-6">
        <label>Medicap Lot No</label>
        <input type="text" name="batch_no" [ngModel]="batches['batch_no']" readonly tabindex="-1">
      </div>
      <div class="clr-col-lg-6">
        <label>Total container</label>
        <input type="text" name="total_containers" [ngModel]="batches['total_containers']" readonly
          tabindex="-1">
      </div>
      <div class="clr-col-lg-6">
        <label>Pack Size</label>
        <input type="text" name="pack_size" [ngModel]="batches['pack_size']" readonly tabindex="-1">
      </div>
      <div class="clr-col-lg-6">
        <label>Qty </label>
        <input type="text" name="qty_received" [ngModel]="batches['qty_received']" readonly tabindex="-1">
      </div>
    </div>
 
  
     
      
      <table class="table table-border containerTbl">
        <tr>
          <th style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;" rowspan="2">Container No</th>
          <th style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;" colspan="3">Labeling Details Printed on Label (Unit)</th>
          <th style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;" colspan="3">Actual Weight verification Observed Weights(Unit)</th>
          <th style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;" rowspan="2">Difference</th>
          <th style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;" rowspan="2">Tolerence</th>
          <th style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;" rowspan="2">{{'common.table.action' | translate}}</th>
        </tr>
        <tr>
          <th  style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;">Gross Weight</th>
          <th  style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;">Tare Weight</th>
          <th  style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;">Net Weight</th>
          <th  style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;">Gross Weight</th>
          <th  style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;">Tare Weight</th>
          <th  style="background-color: rgb(14, 67, 112); color: white;font-weight: bolder;">Net Weight</th>
        </tr>
        <tr *ngFor="let res of batches['weight']; let i = batches">
          <td style="font-weight: bolder;">{{  res.container_no }}</td>
          <td style="font-weight: bolder;">{{  res.lbgross_weight }}</td>
          <td style="font-weight: bolder;">{{  res.lbtare_weight}}</td>
          <td style="font-weight: bolder;">{{  res.lbgross_weight - res.lbtare_weight }}</td>
          <td style="font-weight: bolder;">{{  res.acgross_weight}}</td>
          <td style="font-weight: bolder;">{{  res?.lbtare_weight}}</td>
          <td style="font-weight: bolder;">
            {{ res.acgross_weight - res.lbtare_weight }}
          </td>
          <td style="font-weight: bolder;">
            {{ (res.acgross_weight - res.lbtare_weight)-res.lbnet_weight}}
          </td>
          <td style="font-weight: bolder;">
            {{ ((res.acgross_weight - res.lbtare_weight)-(res.lbnet_weight)) / (res.lbnet_weight)}}
          </td>
          <td style="font-weight: bolder;">
            {{res.action}}
          </td>
        </tr>
      </table>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isProceed=false">{{'common.cancel' | translate}}</button>
  </div>
  </clr-modal>