<div class="card"*ngIf="!isView">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">Packing Material Control Sample Register</div>
        <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <!-- <button class="btn btn-sm btn-success" routerLink="new">New Entry</button> -->
          <button class="btn btn-sm btn-success" routerLink="approval">Packing Material Control Sample Approval</button>
          <button class="btn btn-sm" routerLink="/qa/controlsample" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
        </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <!-- <div class="clr-row">
        <div class="clr-col-4">
          <label>Material Type:</label>
          <select name="material_type" [(ngModel)]="material_type" required>
            <option></option>
            <option value="Primary">Primary</option>
            <option value="Secondary">Secondary</option>
            <option value="Tertiary">Tertiary</option>
          </select>
        </div>
        <div class="clr-col-3">
          <label>From Date:</label>
          <input type="date" name="from_date" [(ngModel)]="from_date" required>
        </div>
        <div class="clr-col-3">
          <label>To Date:</label>
          <input type="date" name="to_date" [(ngModel)]="to_date" required>
        </div>
        <div class="clr-col-1">
          <button class="btn btn-danger" (click)="getPackingControlSamples()" style="margin-top: 30px;">{{'common.search' | translate}}</button>
        </div>
      </div> -->
      <table class="table">
        <tr>
        <th>Sr.</th>
        <th style="text-align: left;">Material Name</th>
        <th style="text-align: left;">Material type</th>
        <th style="text-align: left;">Material Code</th>
        <th>Medicap Lot No</th>
        <th>{{'common.status' | translate}}</th>
        <th>{{'common.table.action' | translate}}</th>
        </tr>
        <tr *ngFor="let result of results; let i = index">
        <td>{{ i + 1 }}.</td>
        <td style="text-align: left;">{{ result.material_name || 'NA'}}</td>
        <td style="text-align: left;">{{ result.material_subtype || 'NA'}}</td>
        <td style="text-align: left;">{{ result.material_code || 'NA'}}</td>
        <td>{{ result.batch_no }}</td>
        <td>{{ result.status }}</td>
        <td><button class="btn btn-sm btn-info"(click)="view(i)">{{'common.view' | translate}}</button></td>
        </tr>
        <tr *ngIf="results?.length == 0">
        <td colspan="12">{{'common.noRecords' | translate}}</td>
        </tr>
    </table>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="download()">DOWNLOAD REPORT</button>
  </div>
</div>



<div class="card" *ngIf="isView">
  <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-lg-4" style="color: aliceblue;margin-top: -2px;text-align: left;">Packing Material Control Sample Log</div>
          <div class="clr-col-lg-8" style="text-align: right;padding-right: 0px;margin-top: -7px;">
              <button class="btn btn-sm btn-danger" (click)="isView=false">{{'common.close' | translate}}</button>
          </div>
      </div>
  </div>
  <div class="card-block">
      <div class="card-text">
        <table class="table">
          <tr>
            <td style="text-align: left;"><b>Material Name:</b></td>
            <td style="text-align: left;">{{selectedResult['material_name'] ? selectedResult['material_name'] : 'NA' }}</td>
            <td style="text-align: left;"><b>Material Type:</b></td>
            <td style="text-align: left;">{{selectedResult['material_subtype'] ? selectedResult['material_subtype'] : 'NA' }}</td>
          </tr>
          <tr>
            <td style="text-align: left;"><b>Material Code:</b></td>
            <td style="text-align: left;">{{selectedResult['material_code'] ? selectedResult['material_code'] : 'NA' }}</td>
            <td style="text-align: left;"><b>Medicap Lot No:</b></td>
            <td style="text-align: left;">{{selectedResult['batch_no'] ? selectedResult['batch_no'] : 'NA' }}</td>
          </tr>
          <tr>
            <td style="text-align: left;"><b>Grade:</b></td>
            <td style="text-align: left;">{{selectedResult['grade'] ? selectedResult['grade'] : 'NA' }}</td>
            <td style="text-align: left;"><b>Medicap Lot No:</b></td>
            <td style="text-align: left;">{{selectedResult['ar_no'] ? selectedResult['ar_no'] : 'NA' }}</td>
          </tr>
          <tr>
            <td style="text-align: left;"><b>Mfg Date:</b></td>
            <td style="text-align: left;">{{selectedResult['mfg_date'] ? (selectedResult['mfg_date'] | date: 'dd-MM-yyyy') : 'NA' }}</td>
            <td style="text-align: left;"><b>Exp Date:</b></td>
            <td style="text-align: left;">{{selectedResult['exp_date'] ? (selectedResult['exp_date'] | date: 'dd-MM-yyyy') : 'NA' }}</td>
          </tr>
          <tr>
            <td style="text-align: left;"><b>Stored Qty:</b></td>
            <td style="text-align: left;">{{selectedResult['sample_quantity'] ? selectedResult['sample_quantity'] + ' ' + selectedResult['unit'] : 'NA' }}</td>
            <td style="text-align: left;"><b>Available Qty:</b></td>
            <td style="text-align: left;">{{selectedResult['avl_qty'] ? selectedResult['avl_qty'] : 'NA' }}</td>
          </tr>
          <tr>
            <td style="text-align: left;"><b>Withdrawal Qty:</b></td>
            <td style="text-align: left;">{{selectedResult['withdrawal_qty'] ? selectedResult['withdrawal_qty'] : 'NA' }}</td>
            <td style="text-align: left;"><b>Status:</b></td>
            <td style="text-align: left;">{{selectedResult['status'] ? selectedResult['status'] : 'NA' }}</td>
          </tr>
          <tr>
            <td style="text-align: left;"><b>Room Temperature(℃):</b></td>
            <td style="text-align: left;">{{selectedResult['room_temp'] ? selectedResult['room_temp'] : 'NA' }}</td>
            <td style="text-align: left;"><b>Humidity (% RH):</b></td>
            <td style="text-align: left;">{{selectedResult['humidity'] ? selectedResult['humidity'] : 'NA' }}</td>
          </tr>
          <tr>
            <td style="text-align: left;"><b>Sampling BY:</b></td>
            <td style="text-align: left;">{{selectedResult['sample_by'] ? selectedResult['sample_by'] : 'NA' }}</td>
          </tr>
          <tr>
            <td style="text-align: left;"><b>Rack No:</b></td>
            <td style="text-align: left;">{{selectedResult['rack_no'] ? selectedResult['rack_no'] : 'NA' }}</td>
            <td style="text-align: left;"><b>Material Subtype:</b></td>
            <td style="text-align: left;">{{selectedResult['material_subtype'] ? selectedResult['material_subtype'] : 'NA' }}</td>
          </tr>
        </table>
      </div>
  </div>
</div>