<div class="module">
    <div class="subdiv">
      <div class="purchase-container">
        <div style="text-align: end" class="close-block">
          <div class="heading-container" style="margin: 10px 0px">
            <h3>Appraisal </h3>
          <div routerLink="/hr" class="name-board1">
            <i class="fas fa-times"></i>
          </div>
        </div>
  
       
        </div>
  
        <div class="master-block">
          <div class="section">
            <div class="line-container" >
              <div class="heading">
                <h3>Appraisal</h3>
              </div>
            </div>
            <div class="card-block" style="    
            display: grid;
            grid-template-columns: repeat(6, 150px);
            grid-gap: 35px;
            overflow-x: auto;
            max-width: 100%;">
                <!-- <div class="item-block" routerLink="/hr/performance" (click)="goToDashboardPage('performance')">
                    <i class="fas fa-chart-line"></i>
                    <span>360° Appraisal</span>
                </div> -->
            
                <div class="item-block" routerLink="/hr/Apprisalrequest" (click)="goToDashboardPage('Apprisalrequest')">
                    <i class="fas fa-hand-holding-usd"></i> <!-- Updated icon for Loan -->
                    <span>Appraisal Request</span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>