<div class="card" *ngIf="!isNew">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">Weighing Balance Daily Performance Check Record</div>
            <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-primary" (click)="isNew=true">{{'common.new' | translate}}</button>
                <button class="btn btn-sm btn-danger" routerLink="/ehs/elecweighbal">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
     <div class="card-block">
        <div class="card-text">
            <clr-datagrid>
                    <clr-dg-column>{{'common.date' | translate}}</clr-dg-column>
                    <clr-dg-column>Standard Weight</clr-dg-column>
                    <clr-dg-column>Weight Observed</clr-dg-column>
                    <clr-dg-column>Done By</clr-dg-column>
                    <clr-dg-column>Checked By</clr-dg-column>
                    <clr-dg-column>{{'common.remarks' | translate}}</clr-dg-column>
                    <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column>
                </clr-datagrid>
        </div>
    </div>            
</div>    
<div class="card" *ngIf="isNew">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;">
             Weighing Balance Daily Performance Check Record
            </div>
        </div>
    </div>  
    <div class="card-block">
        <div class="card-text">
         <form #perfcheck="ngForm">
           

                <clr-datagrid>
                    <clr-dg-column>{{'common.date' | translate}}</clr-dg-column>
                    <clr-dg-column>Standard Weight</clr-dg-column>
                    <clr-dg-column>Weight Observed</clr-dg-column>
                    <clr-dg-column>Done By</clr-dg-column>
                    <clr-dg-column>Checked By</clr-dg-column>
                    <clr-dg-column>{{'common.remarks' | translate}}</clr-dg-column>
                    <clr-dg-column>{{'common.table.action' | translate}}</clr-dg-column>
              
                <clr-dg-row>
                    <clr-dg-cell>
                        <input type="date" name="dates" [(ngModel)]="selectedData['dates']" required>
                    </clr-dg-cell>

                    <clr-dg-cell>
                        <input type="text" name="std_weight" [(ngModel)]="selectedData['std_weight']" required>
                    </clr-dg-cell>

                    <clr-dg-cell>
                        <input type="text" name="weight_obv" [(ngModel)]="selectedData['weight_obv']" required>
                    </clr-dg-cell>

                    <clr-dg-cell>
                        <select name="done_by" ngModel (change)="getEmpdata($event.target.selectedIndex)">
                        <option></option>
                        <option *ngFor="let person of InvolvedPersons">{{ person.emp_name }}</option>
                        </select>
                    </clr-dg-cell>

                    <clr-dg-cell>
                        <select name="chk_by" ngModel (change)="getEmpdata($event.target.selectedIndex)">
                        <option></option>
                        <option *ngFor="let person of InvolvedPersons">{{ person.emp_name }}</option>
                        </select>
                    </clr-dg-cell>

                    <clr-dg-cell>
                        <input type="text" name="remark" [(ngModel)]="selectedData['remark']" required>
                    </clr-dg-cell>

                    <clr-dg-cell>
                        <button type="submit" class="btn btn-primary" (click)="saveRecord(perfcheck)">{{'common.submit' | translate}}</button>
                    </clr-dg-cell>
                </clr-dg-row>

                <!-- <tr *ngFor="let data of perfcheck; let i = index">
                    <td>{{data.dates}}</td>
                    <td>{{data.std_weight}}</td>
                    <td>{{data.weight_obv}}</td>
                    <td>{{data.done_by}}</td>
                    <td>{{data.chk_by}}</td>
                    <td>{{data.remark}}</td>
                    <td><button type="submit" class="btn btn-primary" (click)="saveRecord()">{{'common.submit' | translate}}</button></td>
                </tr> -->
             </clr-datagrid>
            </form>
        </div>
    </div>
</div>