<div class="container-fluid">
    <div class="card">
      <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">CAPA Log </div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
            <form #logForm="ngForm">
                <div class="clr-row">
                    <div class="clr-col-lg-3">
                        <label>From Date</label>
                        <input type="date" name="fromdate" [(ngModel)]="fromdate">
                    </div>
                    <div class="clr-col-lg-3">
                        <label>To Date</label>
                        <input type="date" name="todate" [(ngModel)]="todate">
                    </div>
                    <div class="clr-col-lg-2">
                        <button class="btn btn-primary" style="margin-top: 30px;" (click)="getChangeControls()">GET RECORDS</button>
                    </div>
                    <div class="clr-col-lg-2" style="display: none;">
                        <button class="btn btn-warning" style="margin-top: 30px;" (click)="clearrecords()">{{'common.clear' | translate}}</button>
                    </div>
                    <div class="clr-col-lg-2">
                      <button class="btn btn-primary" style="margin-top: 30px;" (click)="getprint()">{{'common.print' | translate}}</button>
                  </div>
                </div>
            </form>
          <table class="table">
            <tr>
              <th style="width: 40px;">Sr.</th>
              <th style="text-align: left;">CAPA No.</th>
              <th style="text-align: left;">Request By</th>
              <th style="text-align: left;">{{'common.category' | translate}}</th>
              <th style="text-align: left;">CAPA Required in-System</th>
              <th style="text-align: left;">Entry Date</th>
            </tr>
            <tr *ngFor="let entry of dataList; let i = index">
              <td>{{ i + 1 }}.</td>
              <td style="text-align: left;">{{ entry.capa_no }}</td>
              <td style="text-align: left;">{{ entry.entry_by }}</td>
              <td style="text-align: left;">{{ entry.category }}</td>
              <td style="text-align: left;">{{ entry.required_in_system }}</td>
              <td style="text-align: left;">{{ entry.entry_date }}</td>
            </tr>
            <tr *ngIf="dataList?.length == 0">
              <td colspan="7" style="text-align: center;">{{'common.noRecords' | translate}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
</div>