<div class="container-fluid">
    <div class="card" *ngIf="!isView">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
                <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Final Comment
                    Deviation
                </div>
                <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                    <button class="btn btn-sm" routerLink="/qa/qms/deviation"
                        style="background-color: red;color: white;">
                        CLOSE </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                <!-- my-table.component.html -->
                <table class="table table-border">
                    <tr>
                        <th>Deviation No</th>
                        <th>Deviation For</th>
                        <th>Product/Material/Equipment</th>
                        <th>Medicap Lot No / Lot No</th>
                        <th>Raised By</th>
                        <th>View</th>
                    </tr>

                    <tr *ngFor="let item of results; let i = index">
                        <td style="text-align: left;">DV/0{{ item.id }}</td>
                        <td style="text-align: left;">{{ item.deviation_for }}</td>
                        <td style="text-align: left;">{{ item.product }} {{ item.material_type }} {{ item.equipment_name
                            }}</td>
                        <td style="text-align: left;">{{ item.batch_no }} {{ item.lot_no }}</td>
                        <td style="text-align: left;">{{ item.entry_by }}</td>
                        <td style="text-align: left;">
                            <button class="btn btn-primary" (click)="viewDeviation(i)">View</button>
                        </td>
                    </tr>
                    <tr>
                        <td *ngIf="results?.length == 0" colspan="6">No Records Found!</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="isView">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
                <div class="clr-col-9" style="color: aliceblue; margin-top: -2px; text-align: left;">
                    Deviation Review
                </div>
                <div class="clr-col-lg-3" style="text-align: right; padding-right: 0px; margin-top: -7px;">
                    <button class="btn btn-sm" (click)="viewf()"
                        style="background-color: red; color: white;">CLOSE</button>
                </div>
            </div>
        </div>
        <div class="card-block" style="margin-top: 1%;">
            <div class="card-text">
                <form #deviation="ngForm">
                    <table class="table custom-break">
                        <tr>
                            <td style="text-align: left;">
                                <strong>LOCATION :</strong> Olive Healthcare Unit II
                            </td>
                            <td style="text-align: left;" *ngIf="selectedDev.dev_title">
                                <strong>DEVIATION TITLE :</strong> {{ selectedDev.dev_title }}
                            </td>
                            <td style="text-align: left;" *ngIf="selectedDev.deviation_for">
                                <strong>DEVIATION FOR :</strong> {{ selectedDev.deviation_for }}
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;" *ngIf="selectedDev.issue_code">
                                <strong>Issue Code :</strong> {{ selectedDev.issue_code }}
                            </td>
                            <td style="text-align: left;" *ngIf="selectedDev.reference">
                                <strong>Reference :</strong> {{ selectedDev.reference }}
                            </td>
                            <td style="text-align: left;" *ngIf="selectedDev.referred_issue">
                                <strong>Referred Issue(s) :</strong> {{ selectedDev.referred_issue }}
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;" *ngIf="selectedDev.market">
                                <strong>Market :</strong> {{ selectedDev.market }}
                            </td>
                            <td style="text-align: left;" *ngIf="selectedDev.customer">
                                <strong>Customer :</strong> {{ selectedDev.customer }}
                            </td>
                            <td style="text-align: left;" *ngIf="selectedDev.event_to">
                                <strong>Event Related to :</strong> {{ selectedDev.event_to }}
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;"
                                *ngIf="selectedDev.deviation_for === 'Product' && selectedDev.product">
                                <strong>Products :</strong> {{ selectedDev.product }}
                            </td>
                            <td style="text-align: left;"
                                *ngIf="selectedDev.deviation_for === 'Material' && selectedDev.material_type">
                                <strong>Material :</strong> {{ selectedDev.material_type }}
                            </td>
                            <td style="text-align: left;"
                                *ngIf="selectedDev.deviation_for === 'Equipment' && selectedDev.equipment_name">
                                <strong>Equipment :</strong> {{ selectedDev.equipment_name }}
                            </td>
                            <td style="text-align: left;"
                                *ngIf="selectedDev.deviation_for === 'Product' && selectedDev.batch_no">
                                <strong>Medicap Lot No(s) :</strong> {{ selectedDev.batch_no }}
                            </td>
                            <td style="text-align: left;"
                                *ngIf="selectedDev.deviation_for === 'Material' && selectedDev.lot_no">
                                <strong>Lot No.(s) :</strong> {{ selectedDev.lot_no }}
                            </td>
                            <td style="text-align: left;"
                                *ngIf="selectedDev.deviation_for === 'Other' && selectedDev.other_detail">
                                <strong>Other Details :</strong> {{ selectedDev.other_detail }}
                            </td>
                            <td style="text-align: left;" *ngIf="selectedDev.date_initial">
                                <strong>Date of Initiation :</strong> {{ selectedDev.date_initial | date:'dd/MM/yyyy'}}
                            </td>

                        </tr>
                        <tr>

                            <td style="text-align: left;" *ngIf="selectedDev.date_target">
                                <strong>Target Date of Closure :</strong> {{ selectedDev.date_target |
                                date:'dd/MM/yyyy'}}
                            </td>
                            <td style="text-align: left;" *ngIf="selectedDev.date_initial">
                                <strong>Date of Initiation :</strong> {{ selectedDev.date_initial | date:'dd/MM/yyyy'}}
                            </td>
                            <td style="text-align: left;" *ngIf="selectedDev.date_id">
                                <strong>Date of Identification :</strong> {{ selectedDev.date_id | date:'dd/MM/yyyy'}}
                            </td>
                            <td style="text-align: left;" *ngIf="selectedDev.date_occurrence">
                                <strong>Date of Occurrence :</strong> {{ selectedDev.date_occurrence |
                                date:'dd/MM/yyyy'}}
                            </td>

                        </tr>
                        <tr>
                            <td style="text-align: left;" *ngIf="selectedDev.extended_invest">
                                <strong>Extended Investigation Required :</strong> {{ selectedDev.extended_invest }}
                            </td>
                            <td style="text-align: left;" *ngIf="selectedDev.date_id">
                                <strong>Date of Identification :</strong> {{ selectedDev.date_id | date:'dd/MM/yyyy'}}
                            </td>
                            <td style="text-align: left;" *ngIf="selectedDev.date_occurrence">
                                <strong>Date of Occurrence :</strong> {{ selectedDev.date_occurrence |
                                date:'dd/MM/yyyy'}}
                            </td>
                            <td style="text-align: left;" *ngIf="selectedDev.system">
                                <strong>System :</strong> {{ selectedDev.system }}
                            </td>

                        </tr>
                        <tr>
                            <td class="custom-width" style="text-align: left;" colspan="3"
                                *ngIf="selectedDev.immediate_action">
                                <strong>Immediate Action Taken / To Be Taken :</strong> {{ selectedDev.immediate_action
                                }}
                            </td>
                        </tr>
                        <tr>
                            <td class="custom-width" colspan="3" style="text-align: left;" *ngIf="selectedDev.stage">
                                <strong>Stage :</strong> {{ selectedDev.stage }}
                            </td>
                        </tr>
                        <tr>
                            <td class="custom-width" colspan="3" style="text-align: left;"
                                *ngIf="selectedDev.description">
                                <strong>Description of Deviation :</strong> {{ selectedDev.description }}
                            </td>

                        </tr>
                        <tr>
                            <td class="custom-width" colspan="3" style="text-align: left;"
                                *ngIf="selectedDev.investigation">
                                <strong>Investigation Finding :</strong> {{ selectedDev.investigation }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left;" *ngIf="selectedDev.investigation">
                                <strong>File :</strong>
                            </td>
                            <td><button class="btn btn-sm btn-info"
                                    (click)="uploadDeviation(selectedDev['file_inital_dept'])">View
                                    Uploaded File</button></td>

                        </tr>
                    </table>
                    <h5>Review and Comment From HOD</h5>
                    <table class="table">
                        <!-- Comments Section -->
                        <tr>
                            <td colspan="3" class="comments-cell custom-width">
                                <strong>COMMENTS :</strong>
                                {{ selectedDev.comments }}
                            </td>
                        </tr>

                        <!-- Investigation Section -->
                        <tr>
                            <td colspan="3" class="investigation-cell custom-width">
                                <strong>INVESTIGATION :</strong>
                                {{ selectedDev.investigation_hod }}
                            </td>
                        </tr>

                        <!-- Corrective Action Plan Proposal -->
                        <tr>
                            <td class="action-plan-cell">
                                <strong>Corrective Action Plan Proposal(s) Required :</strong>
                                {{ selectedDev.corrective_action_plan }}
                            </td>
                            <td colspan="2" class="proposed-action-cell custom-width"
                                *ngIf="selectedDev.corrective_action_plan === 'Yes'">
                                <strong>Proposed Corrective Action Plan(s) :</strong>
                                {{ selectedDev.Corrective_p }}
                            </td>

                        </tr>

                        <!-- Preventive Action Plan Proposal -->
                        <tr>
                            <td class="action-plan-cell">
                                <strong>Preventive Action Plan Proposal(s) Required :</strong>
                                {{ selectedDev.preventive_action_plan }}
                            </td>
                            <td colspan="2" class="proposed-action-cell custom-width"
                                *ngIf="selectedDev.preventive_action_plan === 'Yes'">
                                <strong>Proposed Preventive Action Plan(s) :</strong>
                                {{ selectedDev.preventive_action_plan_details }}
                            </td>

                        </tr>

                        <!-- Other Action Plan Proposal -->
                        <tr>
                            <td class="action-plan-cell">
                                <strong>Other Action Plan Proposal(s) Required :</strong>
                                {{ selectedDev.other_action_plan }}
                            </td>
                            <td colspan="2" class="proposed-action-cell custom-width"
                                *ngIf="selectedDev.other_action_plan === 'Yes'">
                                <strong>Proposed Other Action Plan(s) :</strong>
                                {{ selectedDev.other_action_plan_details }}
                            </td>

                        </tr>

                        <!-- File Attachments -->
                        <tr>
                            <td colspan="2" style="text-align: left;" *ngIf="selectedDev.investigation">
                                <strong>File :</strong>
                            </td>
                            <td><button class="btn btn-sm btn-info"
                                    (click)="uploadDeviation(selectedDev['deviationHodFile'])">View
                                    Uploaded File</button></td>

                        </tr>


                    </table>

                    <table class="table">

                        <!-- QA Review & Comments Section -->
                    <tr>
                        <td style="text-align: left;">
                            <strong>QA REVIEW & COMMENTS:</strong>
                    
                        </td>
                        <td colspan="2" style="text-align: left;">
                    
                            {{ selectedDev.comments_qa_dept }}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <strong>Additional Review / Comments - Other Departments (if required):</strong>
                    
                        </td>
                        <td colspan="2" style="text-align: left;">
                    
                            {{ selectedDev.additional_dept }}
                        </td>
                    
                    </tr>
                        <!-- File Attachments Section -->
                        <!-- <tr>
                                                                                                                        <td style="text-align: left;">
                                                                                                                            <strong>File Attachments (if any) (QA):</strong>
                                                                                                                        </td>
                                                                                                                        <td style="text-align: left;">
                                                                                                                            <input type="file" name="document_qa" [(ngModel)]="document_qa" (change)="onFileChanged($event)"
                                                                                                                                accept="application/pdf">
                                                                                                                        </td>
                                                                                                                    </tr> -->



                        <!-- Proposed Action Plan Section -->
                        <tr>
                            <td colspan="3">
                                <h5>Proposed Action Plan</h5>
                                <table class="table table-border" style="display: contents;">
                                    <thead>
                                        <tr>
                                            <th>Sr. No</th>
                                            <th>Action Plan</th>
                                            <th>Assigned To</th>
                                            <th>TCD</th>
                                        </tr>
                                    </thead>
                                    <tbody style="display: contents;">
                                        <tr *ngFor="let plan of selectedDev.actionplans; let i = index">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ plan.action_plan }}</td>
                                            <td>{{ plan.emp }}</td>
                                            <td>{{ plan.tcd }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <table class="table">
                        <tr>
                            <td style="text-align: left;">
                                <strong>Decision</strong>
                        
                            </td>
                            <td colspan="2" style="text-align: left;">
                        
                                {{ selectedDev.decHod }}
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">
                                <strong>Remark(s) / Reason(s)</strong>
                        
                            </td>
                            <td colspan="2" style="text-align: left;">
                        
                                {{ selectedDev.reasonHod }}
                            </td>
                        </tr>
                    </table>

                    <table class="table">
                        <tr>
                            <td style="text-align: left;">
                                <strong>Review & Comment :</strong>
                               
                            </td>
                            <td  colspan="2" style="text-align: left;">
                                
                                {{ selectedDev.rcomment }}
                            </td>
                        </tr><tr>
                            <td style="text-align: left;">
                                <strong>Decision</strong>
                            
                            </td>
                            <td  colspan="2" style="text-align: left;">
                              
                                {{ selectedDev.rcomment }}
                            </td>
                        </tr><tr>
                            <td style="text-align: left;">
                                <strong>Remark(s)/Reason(s)</strong>
                               
                            </td><td colspan="2" style="text-align: left;">
                               
                                {{ selectedDev.rea_qa }}
                            </td>
                        </tr>
                    </table>


                    <div class="card" style="margin-top: 1%; padding: 3%;">
                        <div class="clr-row">
                            <div class="clr-col-lg-12">
                                <div class="clr-col-lg-12">
                                    <label>Comment</label>
                                    <input type="text" name="Commentsss" ngModel>
                                </div>
                                <div class="clr-col-lg-3">
                                    <label>File Attachments(if any)</label>
                                    <input type="file" name="document_hod" [(ngModel)]="document_hod"
                                        (change)="onFileChanged3($event)" accept="application/pdf">
                                </div>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="approve(deviation)">Approve</button>
            <!-- <button class="btn btn-primary" (click)="returnDeviation()">Return</button> -->
            <button class="btn btn-danger" (click)="viewf()">CLOSE</button>
        </div>
    </div>