<div class="card">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-9" style="color: aliceblue; margin-top: -2px; text-align: left;">
        ICH Equipment Qualification Hub
      </div>
      <div class="clr-col-3" style="text-align: right; padding-right: 0; margin-top: -7px;">
        <button class="btn btn-sm btn-danger" routerLink="/engineering/equip-qualification">
          <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <p class="eq-hub__intro">
        Follow the ICH qualification lifecycle for equipment. Open a stage below to continue the workflow.
      </p>
      <div class="clr-row eq-hub__grid">
        <div class="clr-col-lg-3 clr-col-md-4 clr-col-sm-6 clr-col-xs-12" *ngFor="let stage of stages">
          <a class="eq-hub__card" [routerLink]="stage.route">
            <clr-icon [attr.shape]="stage.icon" size="28"></clr-icon>
            <strong>{{ stage.title }}</strong>
            <span>{{ stage.desc }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
