<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Artwork  Approval Log</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">


                <button class="btn btn-sm"  routerLink="/qa/artwork"  style="background-color: red;color: white;">
                    <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <table class="table table-border">
                <tr>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.srNo' | translate}}</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Product Name</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Material Name</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Material Type</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">QA Status</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">QC Status</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Production Status</th>


                   <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>

                </tr>
                <tr *ngFor="let result of results; let i = index">
                    <td style="text-align: left;">{{i+1}}</td>
                    <td style="text-align: left;">{{ result['product_list'].product_name}} ({{ result['product_list'].product_code}})</td>
                    <td style="text-align: left;">{{ result['material_list'][0].material_name}} ({{ result['material_list'][0].material_code}})</td>
                    <td style="text-align: left;">{{ result['material_list'][0].material_type|| 'NA' }}</td>
                    <td style="text-align: left;">{{ result.Qa_status }}</td>
                    <td style="text-align: left;">{{ result.Qc_status }}</td>
                    <td style="text-align: left;">{{ result.Production_status || 'NA' }}</td>





                    <td>
                        <button class="btn btn-sm btn-info" (click)="fileView(result.upload_file)">{{'common.view' | translate}}</button>
                    </td>

                </tr>
                <tr *ngIf="results?.length == 0">
                    <td colspan="8">{{'common.noRecords' | translate}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>


