<app-qc-module-dashboard-shell
  themeVariant="marketing"
  sidebarNavMode="modules"
  [showDeptToolbar]="false"
  dashboardTitle="Glassware Master"
  sectionLabel="Glassware Master Section"
  sidebarTitle="Glassware Master Modules"
  closeRouterLink="/rnd"
  searchPlaceholder="Search modules"
  [cards]="cards"
  paletteStorageKey="rnd-master-glassware-dashboard-dashboard-component"
  sidebarStorageKey="rnd-master-glassware-dashboard-dashboard-component_sidebar"
></app-qc-module-dashboard-shell>
