.card {
    border-color: hsl(9, 100%, 30%);
}
.card-header {
    background-color:hsl(9, 100%, 30%);
    color:white;
    text-align: center;
}
select, input[type=text], input[type=number], input[type=date], textarea {
    width: 100%;
    height: auto;
    padding: 4px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
}
.invalidinput {
    background-color: red;
}
input:read-only{
    background-color: lightgray;
}
