/* Master DashBoard Design Start*/
.module {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  
  .subdiv {
    background: antiquewhite;
    border-radius: 20px;
  }
  
  .close-block {
    display: flex;
    position: relative;
    justify-content: center;
  }
  .name-board1 {
    font-size: 24px;
    cursor: pointer;
    border-radius: 3px;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    width: 25px;
    padding: 3px;
    min-width: 29px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .master-block {
    background: #abbedf;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
  }
  
  .heading-container {
    text-align: center;
    display: flex;
    margin: 0 auto;
    align-items: center;
  }

  .heading-container h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-weight: 700;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 3px;
    background: #31318b78;
    color: white;
    font-size: 17px;
  }

  .heading-container button {
    position: absolute;
    top: 10px;
    right: 30%;
  }
  
  /* Master DashBoard Design End*/
  
  /* Timer Start */
  
  .timer-display {
    font-size: 24px;
    font-weight: bold;
    color: #3333d3;
    margin: 5px 20px 5px 0px;
  }
  .test-timer {
    text-align: left;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 99;
    left: 44px;
  }
  
  .controls button:hover {
    background-color: #45a049;
  }
  
  .popup {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  .popup p {
    margin: 0;
  }
  
  .controls button[disabled] {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
  
  .controls button[disabled]:hover {
    background-color: #cccccc;
  }
  /* Timer Start */
  
  .pdf-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    
    .pdf-page {
      height: 70vh;
      overflow-y: auto;
    }
    
    .pagination {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding: 10px;
      text-align: center;
    }
    
    .pagination button {
      margin: 0 5px;
    }
    