<div class="container-fluid" *ngIf="isInit">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">CERTIFICATE OF ANALYSIS</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/qc/testing-rds" style="background-color: red;color: white;">
                  CLOSE
                </button>
              </div>
            </div>
        </div>
      <div class="card-block">
        <div class="clr-row">
          <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
            <label>Material Name</label>
            <select name="material_name" [(ngModel)]="material_name" required (change)="filterStock()">
                <option></option>
                <option *ngFor="let mat of materials" value="{{ mat.material_name}}" >{{ mat.material_name }}</option>
            </select>
          </div>
          <!-- <div class="clr-col-lg-4 clr-col-md-4">
            <label>date:</label>
            <input type="date" name="entry_date" [(ngModel)]="entry_date" required>
          </div> -->
          <div class="clr-col-lg-4 clr-col-md-4">
          <button class="btn btn-danger" (click)="clear()" style="margin-top: 33px;">Clear Filter</button>
          </div>
        </div>
        <div class="card-text">
            <table class="table table-border"> 
                <tr>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.date' | translate}}</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">product Code</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">product Name</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Medicap Lot No</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sampling No</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.status' | translate}}</th>
                    <!-- <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">view pdf</th> -->
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">view</th>
                </tr>
        
                <tr *ngFor="let user of results; let i = index">
                    <td style="text-align: left;">{{i+1}}</td>
                    <td style="text-align: left;">{{ user.entry_date | date: 'dd-MM-yyyy'}}</td>
                    <td style="text-align: left;">{{user.product_code}}</td>
                    <td style="text-align: left;">{{user.product_name}}</td>
                    <td style="text-align: left;">{{user.ar_no}}</td>
                    <td style="text-align: left;">{{user.sampling_no}}</td>
                    <td style="text-align: left;">{{user.status}}</td>
                    <!-- <td>
                        <button class="btn btn-sm btn-info" (click)="viewCOA(user.testing_no)">view pdf</button>
                    </td> -->
                    <td>
                        <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
    
    
    
</div>
<div class="container-fluid" *ngIf="!isInit">
    <div class="card">
      <div class="card-header">Testing Approval</div>
      <div class="card-block">
        <div class="card-text">
          <form class="clr-row" #testingForm="ngForm">
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label>Test No:</label>
              <input type="text" name="testing_no" [ngModel]="selectedOrder['testing_no']" readonly>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label>Sampling No:</label>
              <input type="text" name="sampling_no" [ngModel]="selectedOrder['sampling_no']" readonly>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label>Specification No:</label>
              <input type="text" name="specification_no" [ngModel]="selectedOrder['specification_no']" readonly>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label>A. R. No:</label>
              <input type="text" name="ar_no" [ngModel]="selectedOrder['ar_no']" readonly>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label>product Name:</label>
              <input type="text" name="product_name" [ngModel]="selectedOrder['product_name']" readonly>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label>Material Grade</label>
              <input type="text" name="material_grade" [ngModel]="selectedOrder['grade']" readonly>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <label>product Code:</label>
              <input type="text" name="item_code" [ngModel]="selectedOrder['product_code']" readonly>
            </div>
            <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12" ngModelGroup="testResults">
              <table class="table table-border">
                <tr>
                  <th style="background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Test</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Subtest</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.description' | translate}}</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Limits</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Reference Type</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;"> Result</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.table.remark' | translate}}</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Start Time</th>
                  <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">End Time</th>
                  <!-- <th style="text-align: left;">Observation</th> -->
                  <!-- <th>{{'common.table.action' | translate}}</th> -->
                </tr>
                <tr *ngFor="let user of tests; let i = index">
                    <input type="hidden" name="id{{i}}" ngModel="{{ user.id }}">
                    <td>{{i+1}}</td>
                    <td style="text-align: left;">{{user.test}}</td>
                    <td style="text-align: left;">{{user.subtest}}</td>
                    <td style="text-align: left;">{{user.description}}</td>
                    <td style="text-align: left;">{{user.limits}}</td>
                    <td style="text-align: left;">{{ user.reference_type}}</td>
                    <td style="text-align: left;">{{user.t_result }}</td>
                    <td style="text-align: left;">{{user.a_remark }}</td>
                    <td style="text-align: left;">{{user.start_time}}</td>
                    <td style="text-align: left;">{{user.end_time}}</td>
                    <!-- <td style="text-align: left;">{{user.observation}}</td> -->
                    <!-- <td *ngIf="user.observation === 'pass'">Approve</td> -->
                    <!-- <td *ngIf="user.observation === 'fail'">
                      <button class="btn btn-sm btn-info" *ngIf="user.fail_status === 'pending'" (click)="showOOSForm(i)">Report Error</button>
                      <span *ngIf="user.fail_status === 'inprocess'">{{ user.fail_form }} approval pending</span>
                      <span *ngIf="user.fail_status === 'correction'">
                        Testing person Correction pending
                        <br style="padding-bottom: 5px;">
                        <span *ngIf="user.fail_form === 'error1'" style="cursor: pointer;background: gray; color: white;padding-left: 5px; padding-right: 5px;">Incidant No.: {{ user.fail_no }}</span>
                      </span>
                    </td> -->
                  </tr>
              </table>
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer">

          <button class="btn btn-sm btn-info" (click)="viewCOA()">view pdf</button>

      </div>
    </div>
</div>
