table {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s;
   }
   
   table:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   }
   
   table th, table td {
    background-color: #f8f9fa;
    color: #495057;
    border-right: 1px solid #ced4da;
   }
   
   table th:first-child, table td:first-child {
    border-left: 1px solid #ced4da;
   }