select, input[type=text], input[type=number], input[type=date] {
    width: 100%;
    height: auto;
    padding: 4px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 8px;
  }
  input:read-only{
    background-color: lightgray;
  }
  
  .card {
    border-color: #004A70;
  }
  .card-header {
    text-align:center;
    background-color: #004A70;
    color: white;
  }
  