.card {
  cursor: pointer;
}

.about-boxes {
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  float: left;
}
.about-boxes .about-box{position:relative;cursor:pointer;text-align:center;}
.about-boxes .about-box .about-icon{font-size:35px;position:relative;border:1px solid #ddd;padding:5px 15px;margin:10px 0;display:inline-block;-moz-transition:color 0.25s ease-in-out;-webkit-transition:color 0.25s ease-in-out;-o-transition:color 0.25s ease-in-out;transition:color 0.25s ease-in-out;}
.about-boxes .about-box .about-icon:before, .about-boxes .about-box .about-icon:after{width:0;height:0;content:"";position:absolute;z-index:0;border:1px solid transparent;}
.about-boxes .about-box .about-icon:before{top:0;left:0;}
.about-boxes .about-box .about-icon:after{bottom:0;right:0;}
.about-boxes .about-box .about-icon i{font-size:30px;-moz-transition:all 0.25s ease-in-out;-webkit-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;color:#fff;line-height:42px;}
.about-boxes .about-box .about-icon .about-box h4{margin-top:0;color:#fff !important;text-transform:capitalize;margin-bottom:10px;}
.about-boxes .about-box h3{margin-top:0;color:#fff !important;text-transform:uppercase;text-align:center; padding: 2% 0% 0% 0%; line-height:18px;}
.about-boxes .about-box:hover .about-icon:before,
.about-boxes .about-box:hover .about-icon:after{width:100%;height:100%;}
.about-boxes .about-box:hover .about-icon:before{border-top-color:#fff;border-right-color:#fff;-moz-transition:width 0.25s ease-out, height 0.25s ease-out 0.25s;-o-transition:width 0.25s ease-out, height 0.25s ease-out 0.25s;-webkit-transition:width 0.25s ease-out, height 0.25s ease-out 0.25s;transition:width 0.25s ease-out, height 0.25s ease-out 0.25s;}
.about-boxes .about-box:hover .about-icon:after{border-bottom-color:#fff;border-left-color:#fff;-moz-transition:border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;-o-transition:border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;-webkit-transition:border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;transition:border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;}
.about-boxes{padding-bottom:30px;padding-top:30px;width:100%;float:left;}
.about-boxes .col-md-3{margin-bottom:30px;}
.about-boxes1{background-color:#ee3d45;float:left;width:20%;padding:2% 0px;}
.about-boxes2{background-color:#ef8e1d;float:left;width:20%;padding:2% 0px;}
.about-boxes3{background-color:#36b9e5;float:left;width:20%;padding:2% 0px;}
.about-boxes4{background-color:#8574a0;float:left;width:20%;padding:2% 0px;}
.about-boxes5{background-color:#0d8f37;float:left;width:20%;padding:2% 0px;}
.about-boxes6{background-color:#780c61;float:left;width:20%;padding:2% 0px;}

.about-boxes11{background-color:#ee3d45;float:left;width:100%;padding:0% 0px;}
.about-boxes12{background-color:#ef8e1d;float:left;width:100%;padding:0% 0px;}
.about-boxes13{background-color:#36b9e5;float:left;width:100%;padding:0% 0px;}
.about-boxes14{background-color:#8574a0;float:left;width:100%;padding:0% 0px;}
.about-boxes15{background-color:#0d8f37;float:left;width:100%;padding:0% 0px;}
.about-boxes16{background-color:#780c61;float:left;width:100%;padding:0% 0px;}


.about-boxes-new{float:left;width:20%;padding:0% 0px; position:relative;}
.about-box22{position: absolute;cursor:pointer;text-align:center; background-color:#000; width:100%; left:0px; top:75px; opacity:0.6;}
.about-box22 h3{text-align:center; color:#fff; padding: 8px 0px 8px 0px; margin:0px; font-size:13px;}


.about-boxes7{background-color:#ff6600;float:left;width:20%;padding:2% 0px;}
.about-boxes8{background-color:#669900;float:left;width:20%;padding:2% 0px;}
.about-boxes9{float:left;width:33.33%;padding:2% 0px;}
.about-boxes10{float:left;width:25%;padding:2% 0px;}
h5 { color: white;}











.custom-card {
  width: 165px;
  height: 85px;
  border: none;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  perspective: 1000px;
}

.custom-card .card-block {
  text-align: center;
  border-top: solid 3px rgb(160, 83, 68);
  border-radius: 7px;
  position: relative;
  z-index: 1;
  padding-top: 10px;
  transition: transform 0.4s, box-shadow 0.4s;
}

.custom-card:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, #7f7f7f, #b5b5b5, #7f7f7f); /* Professional gradient colors */
  transition: left 0.4s;
  z-index: 0;
  transform: translateZ(-1px);
}

.custom-card:hover:before {
  left: 0;
}

.custom-card img {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 2;
  transition: transform 0.4s;
}

.custom-card:hover img {
  transform: scale(1.2);
}

.custom-card:hover .card-block {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust the shadow as needed */
  transform: translateZ(2px);
}

/* old design */
.modules1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  gap: 20px; /* Adjust the gap between images */
  align-content: center; /* Center content vertically within the container */
  border-radius: 70px 0 0 70px;
  background: linear-gradient(to right, #dddddd 25%, #dddddd 25%, #dddddd 50%, #dddddd 50%, rgb(3, 219, 219) 75%, rgb(3, 219, 219) 75%);
  width: 100%;
  height: 100%;
}
  
.modules1 .deptimg {
  display: inline-block;
  width: 250px; /* Adjust according to your preference */
  height: 150px; /* Adjust according to your preference */
 /*  border: 1px solid #ccc;   */
  border-radius: 10px; /* Border radius */
  margin: 5px; /* Adjust according to your preference */
  transition: transform 0.3s ease; /* Transition for animation */
}
  
 
.modules1 .deptimg:hover {
  transform: perspective(1000px) scale(1.1); /* Zoom effect on hover */
}
/* old design */








.gmp-container {
  height: 100%;
  width: 100%;
  display: flex;
  background: linear-gradient(358deg, rgba(102, 204, 255, 1) 5%, rgba(102, 204, 255, 1) 29%, rgba(255, 255, 255, 1) 82%, rgba(255, 255, 255, 1) 92%, rgba(255, 255, 255, 1) 100%);
}
  
.subdiv1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.gmp-subbdiv2 {
  display: flex;
  flex-direction: column;
  background: linear-gradient(358deg, rgba(68, 129, 241, 1) 5%, rgba(68, 129, 241, 1) 29%, rgba(255, 255, 255, 1) 82%, rgba(255, 255, 255, 1) 92%, rgba(255, 255, 255, 1) 100%);
  width: 20%;
}
  
.subdiv2 {
  flex: 3;
  padding: 20px;
}

  

  
.tab-icon {
  height: 50px;
  width: calc(100% - 40px);
  font-size: 18px;
  font-weight: bold;
  color: rgb(19, 1, 1);
  background: linear-gradient(to right, rgb(3, 219, 219) 25%, rgb(3, 219, 219) 25%, #dddddd 50%, #dddddd 50%, #dddddd 75%, #dddddd 75%);
  margin: 10px 0;
  border-radius: 35%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}
  
.tab-icon::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: linear-gradient(135deg, rgb(172, 198, 245), rgb(172, 198, 245));
  border-radius: 25%;
  z-index: -1;
  transition: transform 0.3s ease;
}
  
.tab-icon:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
  
.tab-icon:hover::before {
  transform: translateY(5px);
}

.dashboard1 {
  height: 100%;
  background-color: rgb(143, 178, 243);
  backdrop-filter: blur(20px);
  border-radius: 90px 0 0 90px;
  padding: 20px;
}


.welcomediv {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center items horizontally */
  text-align: center;
}

.logo {
  width: 200px; /* Adjust according to your preference */
  height: 200px; /* Adjust according to your preference */
  margin-bottom: 10px; /* Adjust spacing between image and text */
  animation: bounce 1s infinite alternate; /* Bounce animation */
}



.text {
  color: #0c67dd; /* Beautiful color for text */
  font-weight: bolder;
  font-size: 30px;
  animation: blink 1s infinite; /* Blink animation */
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

  /* Responsive Styles */
  /* @media (max-width: 768px) {
    .gmp-container1 {
      flex-direction: column;
    }
    .subdiv1, .subdiv2 {
      width: 100%;
    }
    .modules1 {
      align-items: flex-start;
    }
  } */

/* ====== Dashboard Design Start ============ */
/* DashBoard Start */
.main-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  flex-wrap: wrap;
  column-gap: 5px;
  justify-content: center;
}

.gmp-modules1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  flex-direction: column;
}

.gmp-modules1 .deptimg {
  display: inline-block;
  width: 200px; /* Adjust according to your preference */
  height: 100px; /* Adjust according to your preference */
  border-radius: 10px; /* Border radius */
  margin: 5px; /* Adjust according to your preference */
  transition: transform 0.3s ease; /* Transition for animation */
}

.gmp-modules1 .deptimg:hover {
  transform: perspective(1000px) scale(1.1); /* Zoom effect on hover */
  cursor: pointer;
}

.dashboard-gmp {
  height: 100%;
  background: antiquewhite;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.gmp-dashboard {
  height: auto;
  background: linear-gradient(358deg, rgba(0, 188, 212, 1) 0%, rgba(3, 219, 219, 1) 16%, rgba(255, 255, 255, 1) 57%, rgba(255, 255, 255, 1) 86%, rgba(255, 255, 255, 1) 100%);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.gmp-subdiv2 {
  flex: 3;
  background: linear-gradient(358deg, rgba(68, 129, 241, 1) 5%, rgba(68, 129, 241, 1) 29%, rgba(255, 255, 255, 1) 82%, rgba(255, 255, 255, 1) 92%, rgba(255, 255, 255, 1) 100%);
}

.gmp-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}
/* == */
.gmp-logo-default {
  width: 100%;
  /* justify-content: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gmp-logo-default img {
  width: 60px;
  height: 60px;
  margin: 0px 0px 0px 10px;
}
.gmp-logo-default .paper-less-text {
  margin: 0px 0px 10px 15px;
  font-size: 15px;
  font-weight: 700;
  color: #08755c;
}
.gmp-logo-default .sub-title{
  font-size: 10px;
  margin: 0px;
  padding: 0px;
}
/* == */

.gmp-welcomediv {/* == */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  justify-content: center;
  margin: 0px;
  top: 50%;
}
.gmp-welcomediv .heading-main {
  font-family: "Jost", sans-serif;
  font-size: 55px;
  font-weight: 900;
  color: #08755c;
}
.gmp-welcomediv .sub-heading-main {
  font-family: "roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #08755c;
}/* == */



.gmp-logo .logo{
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

ol.even {
  position: relative;
  /* margin-left: 5.9rem; */
  /* position: relative; */
  margin-left: 5.7rem;
  margin-top: 7px;
}

ol.odd {
  position: relative;
  margin-bottom: -1.6rem;
  margin-left: 3.1rem;
}

.third-row {
  position: relative;top: -1.6rem;
}

.hex-container {
  position: relative;
  display: inline-block;
  margin-top: 25px;
}
.hex {
  position: relative;
  margin: 0.8em auto;
  /* width: 3rem;
  height: 5.2rem; */
  width: 2.7rem;
  height: 4.7rem;
  font-size: 12px;
  background: #4481f1;
  color: white;
  transform: rotate(-90deg);
  display: inline-block;
  list-style-type: none;
  margin-right: 2.8rem;
  transition: all 150ms ease-in-out;
  z-index: 2;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  i {
    color: white;
  }
}

.hex:before,
.hex:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: "";
  z-index: -1;
}

.hex:before {
  transform: rotate(60deg);
}

.hex:after {
  transform: rotate(-60deg);
}

.hex:hover {
  /* width: 3.1rem;
  height: 5.3rem !important; */
  border-radius: 5px;
  /* border: 2px solid black; */

  /* background: #08755c; */
  background: #728fc6;
  color: black;
  cursor: pointer;

  i {
    color: black !important;
  }
}

.admin-active {
  background: linear-gradient(#c04706,#db611e, #a04615);
}

.inventory-active {
  background: linear-gradient(#42c1f0, rgb(37, 137, 173), #1a6681);
}

.factory-active {
  background: linear-gradient(to right, #f5df1e, #b6a33b, #362e04); /* three shades of yellow */
}
.engineering-active {
  background: linear-gradient(to right, #186386, #0a374c, #051d29); /* three shades of yellow */
}

.hex .hex-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -moz-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  -o-transform: translate(-50%, -50%) rotate(90deg);
  font-weight: 500;
  line-height: initial;
  text-align: center;
}

.move-up-down {
  animation: moveUpDown 0.6s ease infinite alternate;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px); /* Adjust distance of movement as needed */
  }
}

/* Desktop to tablet */
@media screen and (min-width: 1024px) and (max-width: 1050px) {
  ol.even {
    position: relative;
    margin-left: 5.9rem;
  }
}
@media screen and (min-width: 1200px) {
  ol.even {
    position: relative;
    margin-left: 5.9rem;
  }
  .module {
    width: 95%;
  }
}

@media only screen and (min-width: 776px) and (max-width: 800px) {
  .hex {
    width: 2.5rem;
    height: 4.4rem;
  }
}

/* Desktop to tablet */

/* Mobile */
.sidebar {
  display: block;
}
.side-menu-container {
  display: none;
  overflow: visible;
}

.side-menu-block {
  display: block;
  position: fixed;
  top: 0;
  left: -238px;
  width: 250px;
  height: 100%;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  border-radius: 10px;
}
.block-container {
  max-width: 80vw;
  overflow-x: auto;
}

/* Upto tablet screen screen */
@media only screen and (max-width: 776px) {
  .subdiv2 {
    flex: 3;
    padding: 10px 10px 10px 0px;
  }
  /* side-menu */
  .side-menu-container {
    display: block;
    position: relative;
    overflow: visible;
  }

  .block-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .side-menu-icon-block {
    right: -28px;
    top: 10px;
    display: flex;
    justify-content: right;
    position: absolute;
  }

  .side-menu-icon img{
    width: 30px;
    height: 30px; 
    transition: transform 0.3s ease;
  }
    
  /* side-menu */
  /* Close Icon */
  .close-icon-block {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 9px;
  }

  .close-icon {
    position: relative;
    top: 10px;
    right: 0px;
    cursor: pointer;
    color: #000;
    font-size: 30px;
    width: 30px;
    height: 30px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 4px;
    color: white;
    background: red;
  }
  /* Close Icon */

  /* Welcome Block */
  .date-head {
    color: black;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
    width: 100%;
  }

  .date-head strong {
    color: #0d750dfc;
  }

  .heading-main {
    font-size: 28px !important;
  }

  .sub-heading-main {
    font-size: 15px !important;
  }

  .welcomediv {
    position: absolute;
    top: 32%;
  }

  .gmp-welcomediv {
    position: absolute;
    top: 32%;
  }
  /* Welcome Block */

  .sidebar {
    display: none;
  }
  .main-btn-wrapper {
    display: none;
  }

  .sidebar-block {
    display: block;
    position: fixed;
    top: 0;
    left: -245px;
    width: 250px;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    border-radius: 10px;
    overflow: visible;
    background-color: #08755c;
  }

  .sidebar-block.active {
    left: 0;
    border-radius: 14px;
    background: burlywood;
    z-index: 1;
  }

  .hex-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    height: 24rem;
  }

  .odd-menu,
  .even-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu-item {
    position: relative;
    margin: 10px;
    width: 100px;
    height: 100px;
    background: #4481f1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-item:hover {
    background: #728fc6;
    transform: scale(1.05);
  }

  .menu-item.active-tab {
    background: #007bff;
  }

  .menu-item.active-tab:hover {
    background: #0056b3;
  }

  .menu-item.active-tab .menu-content {
    color: white;
  }

  .active-tab {
    border-radius: 5px;
    background: #728fc6;
    color: black;
  }

  .menu-item i {
    margin-bottom: 5px;
  }

  .gmp-container {
    flex-direction: column;
  }
  .subdiv1, .subdiv2 {
    width: 100%;
  }
  .gmp-modules1 {
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
  .header-nav,.date-head {
    display: none;
  }
  .date-head {
    display: none !important;
  }
}
#floating-support-button {
  position: absolute;
  background: aquamarine;
  border-radius: 8px;
  border: 1px solid blue;
  bottom: 0px;
  right: 21px;
}
/* Upto tablet screen */
/* buttons */
/* administration */
#administration {
  padding: 5px 10px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  background: linear-gradient(to top, #c04807 50%, #DA611E 50%);
  color: transparent;
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-mask-image: linear-gradient(to top, #fff 50%, #ffff 50%);
  mask-image: linear-gradient(to top, #fff 50%, #ffff 50%);
}

#administration:hover {
  background-position: bottom;
}
/* administration */
/* factory */
#factory {
  padding:5px 10px;
  display:inline-block;
  position:relative;
  text-decoration:none;
  font-weight:bold;
  font-size:15px;
  border-radius: 5px;
  background-image: 
    linear-gradient(to top, #fff 50%, #ffff 50%),
    linear-gradient(to top, #fc8b0b 50%, #cbb144 50%);
  
  -webkit-background-clip: text,padding-box;
  background-clip: text,padding-box;
  -webkit-text-fill-color: transparent;
  color: transparent;  
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

#factory:hover{
  background-position: bottom;
}
/* inventory */
#inventory {
  padding:5px 10px;
  display:inline-block;
  position:relative;
  text-decoration:none;
  font-weight:bold;
  font-size:15px;
  border-radius: 5px;
  background-image: 
  linear-gradient(to top, #fff 50%, #ffff 50%),
  linear-gradient(to top, #0c4c5f 50%, #1286A8 50%);

  -webkit-background-clip: text,padding-box;
  background-clip: text,padding-box;
  -webkit-text-fill-color: transparent;
  color: transparent;  
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

#inventory:hover{
  background-position: bottom;
}
/* inventory */
/* quality */
#quality {
  padding:5px 10px;
  display:inline-block;
  position:relative;
  text-decoration:none;
  font-weight:bold;
  font-size:15px;
  border-radius: 5px;
  background-image: 
    linear-gradient(to top, #fff 50%, #ffff 50%),
    linear-gradient(to top, #185534 50%, #24995b 50%);
  -webkit-background-clip: text,padding-box;
  background-clip: text,padding-box;
  -webkit-text-fill-color: transparent;
  color: transparent;  
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

#quality:hover{
  background-position: bottom;
}
/* quality */
/* engineering */
#engineering {
  padding:5px 10px;
  display:inline-block;
  position:relative;
  text-decoration:none;
  font-weight:bold;
  font-size:15px;
  border-radius: 5px;
  background-image: 
    linear-gradient(to top, #ffff 50%, #ffff 50%),
    linear-gradient(to top, #1ea4e7 50%, #0B374D 50%);
  -webkit-background-clip: text,padding-box;
  background-clip: text,padding-box;
  -webkit-text-fill-color: transparent;
  color: transparent;  
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

#engineering:hover{
  background-position: bottom;
}
/* engineering */
/* others */
#others {
  padding:5px 10px;
  display:inline-block;
  position:relative;
  text-decoration:none;
  font-weight:bold;
  font-size:15px;
  border-radius: 5px;
  background-image: 
    linear-gradient(to top, #ffff 50%, #ffff 50%),
    linear-gradient(to top, #690652 50%, #af0287 50%);
  -webkit-background-clip: text,padding-box;
  background-clip: text,padding-box;
  -webkit-text-fill-color: transparent;
  color: transparent;  
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

#others:hover {
  background-position: bottom;
}
/* others */
/* masters */
#masters {
  padding:5px 10px;
  display:inline-block;
  position:relative;
  text-decoration:none;
  font-weight:bold;
  font-size:15px;
  border-radius: 5px;
  cursor:pointer;
  background-image: 
  linear-gradient(to top, #fff 50%, #ffff 50%),
  linear-gradient(to top, #721c10 50%, #AC2A1A 50%);

  -webkit-background-clip: text,padding-box;
  background-clip: text,padding-box;
  -webkit-text-fill-color: transparent;
  color: transparent;  
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

#masters:hover{
  background-position: bottom;
}
/* masters */
/* buttons */
.product-card-block ul {
  --col-gap: 1rem;
  --barH: 1rem;
  --roleH: 2rem;
  --flapH: 2rem;

  /* width: min(60rem, 90%); */
  margin-inline: auto;

  display: flex;
  flex-wrap: wrap;

  gap: var(--col-gap);
  padding-inline: calc(var(--col-gap) / 2);

  justify-content: center;
  align-items: flex-start;
  list-style: none;
}

.product-card-block ul li {
  width: 110px;
  display: grid;
  grid-template:
      "role"
      "icon"
      "title"
      "descr";
  align-items: flex-start;
  gap: 1rem;
  padding-block-end: calc(var(--flapH) + 1rem);
  text-align: center;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) var(--roleH),
          rgba(0, 0, 0, 0.4) calc(var(--roleH) + 0.5rem),
          rgba(0, 0, 0, 0) calc(var(--roleH) + 0.5rem + 5rem));
  clip-path: polygon(calc(var(--col-gap) / -2 - 5px) 0,
          calc(100% + var(--col-gap) / 2 + 5px) 0,
          calc(100% + var(--col-gap) / 2 + 5px) calc(100% - var(--flapH)),
          50% 100%,
          calc(var(--col-gap) / -2 - 5px) calc(100% - var(--flapH)));
}

/* bar */
.product-card-block ul li::before {
  content: "";
  grid-area: role;
  height: var(--barH);
  width: calc(100% + var(--col-gap));
  margin-left: calc(var(--col-gap) / -2);
  margin-top: calc(var(--roleH) / 2 - var(--barH) / 2);
  background: grey;
  z-index: -1;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4),
          rgba(255, 255, 255, 0.2) 30%,
          rgba(255, 255, 255, 0.1) 40%,
          rgba(0, 0, 0, 0.1) 60%,
          rgba(0, 0, 0, 0.2) 70%,
          rgba(0, 0, 0, 0.4));
}

/* role */
.product-card-block ul li::after {
  content: "";
  grid-area: role;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(255, 255, 255, 0.4),
          rgba(255, 255, 255, 0.2) 30%,
          rgba(255, 255, 255, 0.1) 40%,
          rgba(0, 0, 0, 0.1) 60%,
          rgba(0, 0, 0, 0.2) 70%,
          rgba(0, 0, 0, 0.4));
  height: var(--roleH);
}

.product-card-block ul li .icon,
.product-card-block ul li .title,
.product-card-block ul li .descr {
  padding-inline: 1rem;
  color: white;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.product-card-block ul li .icon {
  font-size: 3rem;
}

.product-card-block ul li .title {
  font-size: 17px;
  font-weight: 700;
}

.product-card-block ul li .descr {
  font-size: 0.9rem;
  border: 1px solid white;
  background: dodgerblue;
}

.product-card-block ul li .descr a {
  color: white;
}

.product-card-block ul li .descr a:hover {
  color: red;
}

.credits {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.credits a {
  color: var(--color);
}

/* :horizontal marque tag */
.marquee {
  height: 80px;
  width: 80%;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 10px 0;
  margin: 10px 0px;
}
.marquee-content {
  display: flex;
  animation: scroll 30s linear infinite;
}
@keyframes scroll {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}
/* :horizontal marque tag */

/* marque tag */
.vertical-marquee {
  height: 150px;
  overflow: hidden;
  position: relative;
  background: #f1f1f1;
  color: #333;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.vertical-marquee-content {
  white-space: nowrap;
  position: absolute;
  animation: marquee 10s linear infinite;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}
.vertical-marquee-text {
  position: absolute;
  color: white;
  font-size: 13px;
  /* background: darkslateblue; */
  margin-top: 0px;
  border-radius: 4px;
  padding: 0px 0px;   
  width: -webkit-fill-available;
}

@keyframes marquee {
  from {
      top: 100%;
  }

  to {
      top: -100%;
  }
}

/* Announsement */
.announcement {
  width: 120px;
  text-align: center;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.announcement h1 {
  color: #ff4500;
  font-size: 1.2em;
  margin: 0 0 10px 0;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.person img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #ff4500;
  margin-bottom: 5px;
}

.name {
  font-size: 1em;
  color: #333;
}
/* Achivement Start */
.announcement-container {
  width: 120px;
  text-align: center;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.announcement-container h1 {
  color: #228B22;
  font-size: 1em;
  margin: 0 0 10px 0;
}

.individual-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.individual-achievement img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid #228B22;
  margin-bottom: 5px;
}

.person-name {
  font-size: 0.9em;
  color: #333;
}

.achievement-detail {
  font-size: 0.8em;
  color: #555;
  text-align: center;
}
/* Announsement */

/* product list  */
  /* ====== Dashboard Design End ============ */