<div class="card"*ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-lg-6" style="color: aliceblue;margin-top: -2px;text-align: left;"> Optimization Batch</div>
          <div class="clr-col-lg-6" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-danger" routerLink="/rnd/optimisation" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
          </div>
        </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <table class="table">
          <tr>
            <th>Sr.</th>
            <th style="text-align: left;">Product Code</th>
            <th style="text-align: left;">Product Name</th>
            <th style="text-align: left;">Batch Size</th>
            <th style="text-align: left;">{{'common.status' | translate}}</th>
            <th style="text-align: left;">{{'common.table.action' | translate}}</th>
          </tr>
          <tr *ngFor="let result of results; let i = index">
            <td style="text-align: left;">{{ i + 1 }}.</td>
            <td style="text-align: left;">{{ result.product_code}}</td>
            <td style="text-align: left;">{{ result.product_name }}</td>
            <td style="text-align: left;">{{ result.batch_size }} {{ result.unit }}</td>
            <td [ngClass] = "{'positive' : result.status == 'pending'}">{{ result.status }}</td>
             <td style="text-align: left;">
              <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
            </td>
          </tr>
          <tr *ngIf="results?.length == 0">
            <td colspan="7">No. Records Found!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  
  
  
  <div class="card" *ngIf="isView">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Optimisation Batch</div>
      <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm" (click)="isView = false" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <h3>Product Details:</h3>
      <table class="table">
          <tr>
              <td style="text-align: left; border:1px solid black;"> <b>Product Code</b></td>
              <td style="text-align: left; border:1px solid black;">{{selectedResult['product_code']}}</td>
              <td style="text-align: left; border:1px solid black;"><b>Product Name</b></td>
              <td style="text-align: left; border:1px solid black;">{{selectedResult['product_name']}}</td>
          </tr>
          <tr>
              <td style="text-align: left; border:1px solid black;"><b>Generic Name</b></td>
              <td style="text-align: left; border:1px solid black;">{{selectedResult['generic_name']}}</td>
              <td style="text-align: left; border:1px solid black;"><b>Grade</b></td>
              <td style="text-align: left; border:1px solid black;">{{selectedResult['grade']}}</td>
          </tr>
          <tr>
              <td style="text-align: left; border:1px solid black;"><b>Dosage Form</b></td>
              <td style="text-align: left; border:1px solid black;">{{selectedResult['dosage_form']}}</td>
              <td style="text-align: left; border:1px solid black;"><b>color</b></td>
              <td style="text-align: left; border:1px solid black;">{{selectedResult['color_used']}}</td>
          </tr>
          <tr>
              <td style="text-align: left; border:1px solid black;"><b>Label Claim</b></td>
              <td style="text-align: left; border:1px solid black;" colspan="3">{{selectedResult['label_claim']}}</td>
          </tr>
      </table>
  
      <br>
      <div class="clr-row">
        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
          <label>Trial Title:</label>
          <input type="text" name="trial_title" [ngModel]="selectedResult['trial_title']" readonly>
        </div>
  
        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" *ngIf="selectedResult['ownership_type'] !== 'Own'">
          <label>Trial Batch Size:</label>
          <input type="text" name="batch_size" [ngModel]="selectedResult['batch_size']" readonly>
        </div>
  
        <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
          <label>Trial Objective:</label>
          <input type="text" name="objective" ngModel="{{ selectedResult['objective'] }} " readonly>
        </div>
  
        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
          <label>Previous Trial Conclusion & Variations:</label>
          <input type="text" name="previous_trial" ngModel="{{ selectedResult['previous_trial'] }} " readonly>
        </div>
      </div>
  
      
  
  
      <h4> Procedures:</h4>  
      <table class="table">
        <tr>
          <th style="text-align:left">Sr.</th>
          <th style="text-align: left;">Procedure</th>
        </tr>
        <tr *ngFor="let comp of selectedResult['procedures'];let i = index">
          <td style="text-align: left;">{{ i + 1 }}.</td>
          <td style="text-align: left;">{{ comp.procedure }}</td>
        </tr>
        <tr *ngIf="selectedResult['procedures'].length == 0">
          <td colspan="8">{{'common.noRecords' | translate}}</td>
        </tr>
      </table>    
  
      <h4> Materials:</h4>  
      <table class="table">
        <tr>
          <th style="text-align: left;">Sr.</th>
          <th style="text-align: left;">Code</th>
          <th style="text-align: left;">{{'common.name' | translate}}</th>
          <th>Grade</th>
          <th>Unit Qty</th>
          <th>Contribution to Yield</th>
          <th>Role</th>
        </tr>
        <tr *ngFor="let comp of selectedResult['materials'];let i = index">
          <td style="text-align: left;">{{ i + 1 }}.</td>
          <td style="text-align: left;">{{ comp.material_code }}</td>
          <td style="text-align: left;">{{ comp.material_name }}</td>
          <td>{{ comp.grade }}</td>
          <td>{{ comp.qty }} {{ comp.unit }}</td>
          <td>{{ comp.contribution }}</td>
          <td>{{ comp.role }}</td>
        </tr>
        <tr *ngIf="selectedResult['materials']?.length == 0">
          <td colspan="8">{{'common.noRecords' | translate}}</td>
        </tr>
      </table>    
      <h4>Equipments:</h4>
      <table class="table">
        <tr>
          <th style="text-align: left;">Sr</th>
          <th style="text-align: left;">Equipment Type</th>
          <th style="text-align: left;">Equipment Name</th>
        </tr>
        <tr *ngFor="let user of selectedResult['equipments'];let i = index">
          <td style="text-align: left;">{{ i+1 }}.</td>
          <td style="text-align: left;">{{ user.equipment_type }}</td>
          <td style="text-align: left;">{{ user.equipment_name }}</td>
        </tr>
        <tr *ngIf="selectedResult['equipments']?.length == 0">
          <td colspan="2">No. Records Found!</td>
        </tr>
      </table> 
  
  
      <h4> Testing:</h4>  
      <table class="table">
        <tr>
          <th style="text-align:left;">Sr.</th>
          <th style="text-align: left;">Specification</th>
          <th style="text-align: left;">Limit</th>
          <th style="text-align: left;">Result</th>
          
        </tr>
        <tr *ngFor="let comp of selectedResult['testings'];let i = index">
          <td style=text-align:left;>{{ i + 1 }}.</td>
          <td style="text-align: left;">{{ comp.specification }}</td>
          <td style="text-align: left;">{{ comp.limit }}</td>
          <td style="text-align: left;">{{ comp.result }}</td>
        </tr>
        <tr *ngIf="selectedResult['testings']?.length == 0">
          <td colspan="8">{{'common.noRecords' | translate}}</td>
        </tr>
      </table>    
  
  
      <h4> Observations Of Trial:</h4>  
      <table class="table">
        <tr>
          <th style="text-align: left;">Sr.</th>
          <th style="text-align: left;">Particulars</th>
          <th style="text-align: left;">{{'common.date' | translate}}</th>
          <th style="text-align: left;">Time Start</th>
          <th>End Time</th>
          <th>Done By</th>
          <th>Checked By</th>
          <th>Result Observed</th>
        </tr>
        <tr *ngFor="let comp of selectedResult['observations'];let i = index">
          <td style="text-align: left;">{{ i + 1 }}.</td>
          <td style="text-align: left;">{{ comp.particulars }}</td>
          <td style="text-align: left;">{{ comp.date }}</td>
          <td style="text-align: left;">{{ comp.time }}</td>
          <td>{{ comp.end}}</td>
          <td>{{ comp.done }}</td>
          <td>{{ comp.checked }}</td>
          <td>{{ comp.result }}</td>
        </tr>
        <tr *ngIf="selectedResult['observations']?.length == 0">
          <td colspan="8">{{'common.noRecords' | translate}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary"(click)="proceed()">save & proceed for trials</button>
    <button class="btn btn-danger" (click)="isView=false">{{'common.close' | translate}}</button>
  </div>
  </div>
  
  
  
  
  
  
  
  
  
  