<div class="card" *ngIf="!isView">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Weighing of Containers</div>
      <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm" routerLink="/store/godown/raw/weighing" style="background-color: red;color: white;"> CLOSE
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <table class="table table-border">
        <tr>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Sr.</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Packaging Slip</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Receiving Date</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Receiving No</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Material Type</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Material Code</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Material Name</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">Grade</th>
          <th style="text-align: right; background-color: rgb(14, 67, 112); color: white">No. Of Batches</th>
          <th style="text-align: right; background-color: rgb(14, 67, 112); color: white">Containers</th>
          <th style="text-align: left; background-color: rgb(14, 67, 112); color: white">view</th>
        </tr>
        <tr *ngFor="let result of results; let i = index">
          <td>{{ i+1 }}</td>
          <td style="text-align: left;">{{ result.challan_no }}</td>
          <td style="text-align: left;">{{ result.receiving_date | date:'dd-MM-yyyy' }}</td>
          <td style="text-align: left;">{{ result.document_no}}</td>
          <td style="text-align: left;">{{ result.material_type }}</td>
          <td style="text-align: left;">{{ result.material_code }}</td>
          <td style="text-align: left;">{{ result.material_name }}</td>
          <td style="text-align: left;">{{ result.grade }}</td>
          <td style="text-align: left">{{ result['batches']?.length }} </td>
          <td style="text-align: left">{{ result.containers }}</td>
          <td>
            <button class="btn btn-sm btn-info" (click)="viewResult(i)">{{'common.view' | translate}}</button>
          </td>
        </tr>
        <tr *ngIf="results?.length == 0">
          <td colspan="9">{{'common.noRecords' | translate}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="card" *ngIf="isView">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Weighing of Containers</div>
      <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <button class="btn btn-sm btn-danger" (click)="isView = false"> {{'common.close' | translate}} </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <h3>Challan Details:</h3>
      <table class="table table-border">
        <tr>
          <td style="text-align: left;"><b>Material Name:</b></td>
          <td colspan="3" style="text-align: left;">{{ selectedResult['material_name'] }}</td>
        </tr>
        <tr>
          <td style="text-align: left;"><b>Vendor Name:</b></td>
          <td colspan="3" style="text-align: left;">{{ selectedResult['vendor_name'] }}</td>
        </tr>
        <tr>
          <td style="text-align: left;"><b>Manufacturer:</b></td>
          <td style="text-align: left;"colspan="3">{{ selectedResult['manufacturer'] }}</td>
        </tr>
        <tr>
          <td style="text-align: left;"><b>Packaging Slip:</b></td>
          <td style="text-align: left;">{{ selectedResult['challan_no'] }}</td>
          <td style="text-align: left;"><b>Packaging Slip Date:</b></td>
          <td style="text-align: left;">{{ selectedResult['challan_date'] | date:'dd-MM-yyyy' }}</td>
        </tr>
        <tr>
          <td style="text-align: left;"><b>PO No.:</b></td>
          <td style="text-align: left;border-right: 1px solid black;">{{ selectedResult['po_no'] }}</td>
          <td style="text-align: left;"><b>PO Date:</b></td>
          <td style="text-align: left;">{{ selectedResult['po_date'] | date:'dd-MM-yyyy'}}</td>
        </tr>
        <tr>
          <td style="text-align: left;"><b>Material Type:</b></td>
          <td style="text-align: left;border-right: 1px solid black;">{{ selectedResult['material_type'] }}</td>
          <td style="text-align: left;"><b>Material Subtype:</b></td>
          <td style="text-align: left;">{{ selectedResult['material_subtype'] }}</td>
        </tr>
        <tr>
          <td style="text-align: left;"><b>Material Code:</b></td>
          <td style="text-align: left;border-right: 1px solid black;">{{ selectedResult['material_code'] }}</td>
          <td style="text-align: left;"><b>Material Grade:</b></td>
          <td style="text-align: left;">{{ selectedResult['grade'] }}</td>
        </tr>
        <tr>
          <td style="text-align: left;"><b>PO Qty:</b></td>
          <td style="text-align: left;border-right: 1px solid black;" colspan="3">{{ selectedResult['qty'] }} {{
            selectedResult['unit'] }}</td>
        </tr>
      </table>
      <br>
      <form #weighingForm="ngForm">
        <div class="clr-row">
          <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
            <label>Balance(Verification):</label>
            <select name="balance" [(ngModel)]="balance" required (change)="selectBalance($event.target.selectedIndex)">
              <option></option>
              <option *ngFor="let balance of balances; let i = index" [value]="balance.equipment_code">{{
                balance.equipment_code }}</option>
            </select>
          </div>
          <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
            <label>Criteria For Weighing Checking:</label>
            <select name="weighing_critiera" [(ngModel)]="weighing_critiera" (change)="selectBatch($event.target.value)" required>
              <option>10%</option>
              <option>√n +1</option>
            </select>
          </div>
          <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
            <label>Weighing Type:</label>
            <select name="weighing_type" [(ngModel)]="weighing_type"  required>
              <option>Container</option>
              <option>Weighing Bridge</option>
            </select>
          </div>
        </div>
        <h3 style="text-align: center; color: red" *ngIf="selectedBalance['status'] == 'pending'">Balance Calibration
          pending <button class="btn btn-sm btn-info" routerLink="/calibration/balance/new">PERFORM CALIBRATION</button>
        </h3>
      </form>
      <h3 *ngIf="weighing_type=='Container'">Labeling Details:</h3>
      <table class="table table-border" *ngIf="weighing_type=='Container'">
        <tr>
          <th style="background-color: rgb(14, 67, 112); color: white;">Sr.</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Medicap Lot No</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Qty</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">No Of Containers</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Mfg Date</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Exp Date</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">{{'common.table.action' | translate}}</th>
        </tr>
        <tr *ngFor="let list of selectedResult['batches'];let i=index">
          <td>{{i+1}}</td>
          <td>{{list.batch_no}}</td>
          <td>{{list.qty_received}}</td>
          <td>{{list.total_containers}}</td>
          <td>{{list.mfg_date | date:'MMM-yyyy' | uppercase}}</td>
          <td>{{list.exp_date | date:'MMM-yyyy' | uppercase}}</td>
          <td><button class="btn btn-primary" (click)="proceed(i)" *ngIf="list['status'] == 'pending'">
              Proceed</button>
            <button class="btn btn-primary" *ngIf="list['status'] == 'approve'">Done</button>
          </td>

        </tr>
        <tr *ngIf="selectedReport['batches']?.length == 0">
          <td colspan="5">No Record Found!</td>
        </tr>
      </table>

      <h3 *ngIf="weighing_type=='Weighing Bridge'">Weighing Bridge:</h3>
      <table class="table table-border" *ngIf="weighing_type=='Weighing Bridge'">
        <tr>
          <th style="background-color: rgb(14, 67, 112); color: white;">Total Weight(kg)</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Tare wt Printed on Container</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Total No Of Container (As Per Challan)</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Vechicle No</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Vechile Gross wt</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Vechile Tare wt</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Net wt</th>
          <th style="background-color: rgb(14, 67, 112); color: white;">Upload Slip</th>
        </tr>
        <tr>
          <td style="padding: 0px;"><input type="text" name="total_weight" ngModel style="margin: 0px;"></td>
          <td style="padding: 0px;"><input type="text" name="printed_wt" ngModel style="margin: 0px;"></td>
          <td style="padding: 0px;"></td>
          <td style="padding: 0px;"><input type="text" name="vechile_no" ngModel style="margin: 0px;"></td>
          <td style="padding: 0px;"><input type="text" name="v_grosswt" ngModel style="margin: 0px;"></td>
          <td style="padding: 0px;"><input type="text" name="v_tarewt" ngModel style="margin: 0px;"></td>
          <td style="padding: 0px;"><input type="text" name="v_netwt" ngModel style="margin: 0px;"></td>
          <td style="padding: 0px;"><input type="file" name="slip" ngModel style="margin: 0px;"></td>
        </tr>
      </table>
      <br>
      <div class="clr-row">
        <div class="clr-col-lg-3">
          <label>Weighing By:</label>
          <select name="weighing_by" [(ngModel)]="weighing_by">
            <option></option>
            <option *ngFor="let emp of employess;let i=index">{{emp.firstname}}</option>
            <option>NA</option>
          </select>
        </div>
        <div class="clr-col-lg-3">
          <label>Select Checker:</label>
          <select name="check_by" [(ngModel)]="check_by">
            <option></option>
            <option *ngFor="let emp of employess;let i=index">{{emp.firstname}}</option>
            <option>NA</option>
          </select>
        </div>
      </div>

    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="saveWeighings(weighingForm)">{{'common.save' | translate}}</button>
    <button class="btn btn-danger" (click)="isView = false">{{'common.close' | translate}}</button>
  </div>
</div>


<!-- <clr-modal [(clrModalOpen)]="isProceed" [clrModalSize]="'xl'">

  <h3 class="modal-title">Weighing Details</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-lg-6">
        <label>Medicap Lot No</label>
        <input type="text" name="batch_no" [ngModel]="selectedBatch['batch_no']" readonly tabindex="-1">
      </div>
      <div class="clr-col-lg-6">
        <label>Total container</label>
        <input type="text" name="total_containers" [ngModel]="selectedBatch['total_containers']" readonly tabindex="-1">
      </div>
      <div class="clr-col-lg-6">
        <label>Pack Size</label>
        <input type="text" name="pack_size" [ngModel]="selectedBatch['pack_size']" readonly tabindex="-1">
      </div>
      <div class="clr-col-lg-6">
        <label>Qty </label>
        <input type="text" name="qty_received" [ngModel]="selectedBatch['qty_received']" readonly tabindex="-1">
      </div>
    </div>
    <h3>Total No. of containers is to be sampled(√n +1) : {{ total_cont }}</h3>
    <form #containerData="ngForm">
      <table class="table">
        <tr>
          <th>Container No.</th>
          <th>Gross Wt. ({{ selectedResult['unit'] }})</th>
          <th>Tare Wt. ({{ selectedResult['unit'] }})</th>
          <th>Net Wt. ({{ selectedResult['unit'] }})</th>
        </tr>
        <tr *ngFor="let container of numbers; let i = index">
          <td style="padding: 0px;">
            <input type="text" name="container_no{{ i }}" [(ngModel)]="container.container_no"
              (keypress)="number($event.target.value)" required style="margin: 0px;">
          </td>
          <td style="padding: 0px;">
            <input type="text" name="gross_wt{{ i }}" [(ngModel)]="container.gross_wt"
              (keypress)="number($event.target.value)" required style="margin: 0px;height: 33px;">
          </td>
         
          <td>{{ container.gross_wt - container.net_wt }}</td>
          <td>{{ pack_size }}</td>
        </tr>
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="saveWeighingsList(containerData)">{{'common.save' | translate}}</button>
    <button type="button" class="btn btn-outline" (click)="isProceed=false">{{'common.cancel' | translate}}</button>
  </div>
</clr-modal>  -->



<clr-modal [(clrModalOpen)]="isProceed" [clrModalSize]="'xl'">
  <h3 class="modal-title">Weighing Details</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-lg-6">
        <label>Medicap Lot No</label>
        <input type="text" name="batch_no" [ngModel]="selectedBatch['batch_no']" readonly tabindex="-1">
      </div>
      <div class="clr-col-lg-6">
        <label>Total container</label>
        <input type="text" name="total_containers" [ngModel]="selectedBatch['total_containers']" readonly tabindex="-1">
      </div>
      <div class="clr-col-lg-6">
        <label>Pack Size</label>
        <input type="text" name="pack_size" [ngModel]="selectedBatch['pack_size']" readonly tabindex="-1">
      </div>
      <div class="clr-col-lg-6">
        <label>Qty </label>
        <input type="text" name="qty_received" [ngModel]="selectedBatch['qty_received']" readonly tabindex="-1">
      </div>
    </div>
    <div *ngIf="isRoot">
      <h3>Total No. of containers For Weighing(√n +1) : {{ total_cont }}</h3>
      <form #containerData="ngForm">
        <table class="table table-border">
          <tr>
            <th style="background-color: rgb(14, 67, 112); color: white;" rowspan="2">Container No</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" colspan="3">Labeling Details Printed on Label
              (Unit)</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" colspan="3">Actual Weight verification
              Observed Weights(Unit)</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" rowspan="2">Difference</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" rowspan="2">
              Tolerence({{selectedResult['tolerance']}})%</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" rowspan="2">{{'common.table.action' | translate}}</th>
          </tr>
          <tr>
            <th style="background-color: rgb(14, 67, 112); color: white;">Gross Weight</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Tare Weight</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Net Weight</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Gross Weight</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Tare Weight</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Net Weight</th>
          </tr>
          <tr *ngFor="let number of numbers;let i=index">
            <input type="text" name="container_no" [(ngModel)]="number.container_no" required style="margin: 0px;">
            <td style="padding: 0px;">
              <input type="number" name="lbgross_weight" [(ngModel)]="number.lbgross_weight" required
                style="margin: 0px;">
            </td>
            <td style="padding: 0px;">
              <input type="number" name="lbtare_weight{{i}}" [(ngModel)]="number.lbtare_weight" required
                style="margin: 0px;">
            </td>
            <td style="padding: 0px;">
              <input type="number" name="lbnet_weight" [(ngModel)]="number.lbnet_weight" required style="margin: 0px;">
            </td>
            <td style="padding: 0px;">
              <input type="number" name="acgross_weight" [(ngModel)]="number.acgross_weight" required
                style="margin: 0px;">
            </td>
            <td style="padding: 0px;">
              <input type="number" name="actare_weight{{i}}" [(ngModel)]="number.lbtare_weight" required
                style="margin: 0px;">
            </td>
            <td style="padding: 0px;">
              {{ number.acgross_weight - number.lbtare_weight }}
            </td>
            <td>
              {{ (number.acgross_weight - number.lbtare_weight)-number.lbnet_weight}}
            </td>
            <td style="padding: 0px;">
              {{ ((number.acgross_weight - number.lbtare_weight)-(number.lbnet_weight))*no / (number.lbnet_weight)}}
            </td>
            <td style="padding: 0px;">
              <select name="action{{i}}" [(ngModel)]="number.action" required style="margin: 0px;">
                <option *ngIf="((number.acgross_weight - number.lbtare_weight)-(number.lbnet_weight))*no / (number.lbnet_weight) > 1">Reject</option>
                <option *ngIf="((number.acgross_weight - number.lbtare_weight)-(number.lbnet_weight))*no / (number.lbnet_weight) < 1">Accept</option>
              </select>
            </td>
          </tr>
        </table>
        <div class="clr-row">
          <div class="clr-col-12" *ngIf="Action=='Not Accepteble'">
            <label>Conclusion:</label>
            <input type="text" name="concludion" value="Verify All Other Container" readonly>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="isTen">
      <h3>Total No. of containers For Weighing(10%) : {{ total_cont }}</h3>
      <form #containerData="ngForm">
        <table class="table table-border">
          <tr>
            <th style="background-color: rgb(14, 67, 112); color: white;" rowspan="2">Container No</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" colspan="3">Labeling Details Printed on Label (Unit)</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" colspan="3">Actual Weight verification Observed Weights(Unit)</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" rowspan="2">Difference</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" rowspan="2">Tolerence({{selectedResult['tolerance']}})%</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" rowspan="2">{{'common.table.action' | translate}}</th>
          </tr>
          <tr>
            <th style="background-color: rgb(14, 67, 112); color: white;">Gross Weight</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Tare Weight</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Net Weight</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Gross Weight</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Tare Weight</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Net Weight</th>
          </tr>
          <tr *ngFor="let number of numbers2;let i=index">
            <input type="text" name="container_no" [(ngModel)]="number.container_no" required style="margin: 0px;">
            <td style="padding: 0px;">
              <input type="number" name="lbgross_weight" [(ngModel)]="number.lbgross_weight" required style="margin: 0px;" >
            </td>
            <td style="padding: 0px;">
              <input type="number" name="lbtare_weight{{i}}" [(ngModel)]="number.lbtare_weight" required style="margin: 0px;">
            </td>
            <td style="padding: 0px;">
              <input type="number" name="lbnet_weight"[(ngModel)]="number.lbnet_weight" required style="margin: 0px;">
            </td>
            <td style="padding: 0px;">
              <input type="number" name="acgross_weight" [(ngModel)]="number.acgross_weight" required style="margin: 0px;">
            </td>
            <td style="padding: 0px;">
              <input type="number" name="actare_weight{{i}}" [(ngModel)]="number.lbtare_weight" required style="margin: 0px;">
            </td>
            <td style="padding: 0px;">
              {{ number.acgross_weight - number.lbtare_weight }}
            </td>
            <td>
              {{ (number.acgross_weight - number.lbtare_weight)-number.lbnet_weight}}
            </td>
            <td style="padding: 0px;">
              {{ ((number.acgross_weight - number.lbtare_weight)-(number.lbnet_weight))*no / (number.lbnet_weight) | number:'1.0-2'}}
            </td>
            <td style="padding: 0px;">
              <select name="action{{i}}" [(ngModel)]="number.action" required style="margin: 0px;">
                <option *ngIf="((number.acgross_weight - number.lbtare_weight)-(number.lbnet_weight))*no / (number.lbnet_weight) > 1">Reject</option>
                <option *ngIf="((number.acgross_weight - number.lbtare_weight)-(number.lbnet_weight))*no / (number.lbnet_weight) < 1">Accept</option>
              </select>
            </td>
          </tr>
        </table>
        <div class="clr-row">
          <div class="clr-col-12" *ngIf="Action=='Not Accepteble'">
            <label>Conclusion:</label>
            <input type="text" name="concludion" value="Verify All Other Container" readonly>
          </div>
  
        </div>
      </form>
    </div>

    <div *ngIf="isHundred">
      <h3>Total No. of containers For Weighing(100%) : {{ total_cont }}</h3>
      <form #containerData="ngForm">
        <table class="table table-border">
          <tr>
            <th style="background-color: rgb(14, 67, 112); color: white;" rowspan="2">Container No</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" colspan="3">Labeling Details Printed on Label
              (Unit)</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" colspan="3">Actual Weight verification
              Observed Weights(Unit)</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" rowspan="2">Difference</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" rowspan="2">Tolerence(1%)</th>
            <th style="background-color: rgb(14, 67, 112); color: white;" rowspan="2">{{'common.table.action' | translate}}</th>
          </tr>
          <tr>
            <th style="background-color: rgb(14, 67, 112); color: white;">Gross Weight</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Tare Weight</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Net Weight</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Gross Weight</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Tare Weight</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Net Weight</th>
          </tr>
          <tr *ngFor="let number of numbers1;let i=index">
            <input type="text" name="container_no" ngModel required style="margin: 0px;">
            <td></td>
            <td></td>
            <td></td>
            <td style="padding: 0px;">
              <input type="text" name="gross_weight" ngModel required style="margin: 0px;">
            </td>
            <td style="padding: 0px;">
              <input type="text" name="tare_weight" ngModel required style="margin: 0px;">
            </td>
            <td style="padding: 0px;">
              <input type="text" name="net_weight" ngModel required style="margin: 0px;">
            </td>
            <td>

            </td>
            <td style="padding: 0px;">
              <input type="number" name="tolerance" [(ngModel)]="tolerance" required style="margin: 0px;">
            </td>
            <td></td>
          </tr>
        </table>
        <div class="clr-row">
          <div class="clr-col-12" *ngIf="Action=='Not Accepteble'">
            <label>Conclusion:</label>
            <input type="text" name="concludion" value="Verify All Other Container" readonly>
          </div>

        </div>
      </form>
    </div>

  </div>
  <form #tankerForm="ngForm">
    <div class="clr-row">
      <div class="clr-col-12">
        <label>Weighing Verification</label>
        <div class="clr-control-container clr-control-inline">
          <div class="clr-checkbox-wrapper" *ngFor="let res of weighings ; let i = index">
            <input class="clr-checkbox" id="{{res.particular}}" [(ngModel)]="res.value"
              (change)="updateMarket($event.target.checked, i)" type="checkbox" name="res.particular">
            <label for="{{res.particular}}" class="clr-control-label">{{res.particular}}</label>
          </div>
        </div>
      </div>
      <table class="table table-border">
        <tr>
          <th style="background-color: rgb(14, 67, 112); color: white;"></th>
          <th style="background-color: rgb(14, 67, 112); color: white;"></th>
          <th style="background-color: rgb(14, 67, 112); color: white;"></th>
          <th style="background-color: rgb(14, 67, 112); color: white;"></th>

        </tr>
      </table>
    </div>
  </form>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="saveWeighingsList(containerData)">{{'common.save' | translate}}</button>
    <button type="button" class="btn btn-outline" (click)="isProceed=false">{{'common.cancel' | translate}}</button>
  </div>
</clr-modal>