<div class="card">
  <div class="card-header" style="text-align: center">
    <div class="clr-row" style="margin-bottom: -10px;">
      <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">Storage Condition</div>
      <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
        <app-master-excel-provision
          configId="STORAGE_CONDITION"
          buttonClass="btn btn-sm btn-primary"
          (uploaded)="getStorageConditions()"
        ></app-master-excel-provision>
        <button class="btn btn-sm" routerLink="/master" style="background-color: red;color: white;">
          {{'common.close' | translate}}
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <form #makeform="ngForm">
        <table class="table table-border">
          <tr>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Sr.no.</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Storage Condition</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Storage Display Name</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Temperature</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Humidity(%)</th>
            <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Action</th>
          </tr>
          <tr>
            <td>1.</td>
            <td style="padding: 0px;">
              <input type="text" name="storage_condition" required ngModel #storage_condition="ngModel" style="margin: 0px;height: 33px;">
            </td>
            <td style="padding: 0px;">
              <input type="text" name="storage_display_name" ngModel #storage_display_name="ngModel" style="margin: 0px;height: 33px;">
            </td>
            <td style="padding: 0px;">
              <input type="text" name="temperature" required ngModel #temperature="ngModel" style="margin: 0px;height: 33px;">
            </td>
            <td style="padding: 0px;">
              <input type="text" name="humidity" ngModel #humidity="ngModel" style="margin: 0px;height: 33px;">
            </td>
            <td style="padding: 0px; vertical-align: middle;">
              <button type="button" class="btn btn-sm btn-info" (click)="saveStorageCondition(makeform)">{{'common.save' | translate}}</button>
            </td>
          </tr>
        </table>
      </form>

      <div class="sc-log-toolbar">
        <span>Total Records: <strong>{{ totalRecords }}</strong></span>
        <button type="button" class="btn btn-sm btn-outline" (click)="getStorageConditions()" [disabled]="loading">Refresh</button>
      </div>

      <div class="sc-log-scroll" *ngIf="!loading">
        <table class="table table-border sc-log-table">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Storage Condition</th>
              <th>Storage Display Name</th>
              <th>Temperature</th>
              <th>Humidity</th>
              <th>Plant ID</th>
              <th>Entry By</th>
              <th>Entry Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of storage_conditions; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ result.storage_condition || '-' }}</td>
              <td>{{ result.storage_display_name || '-' }}</td>
              <td>{{ result.temperature || '-' }}</td>
              <td>{{ result.humidity || '-' }}</td>
              <td>{{ result.plant_id || '-' }}</td>
              <td>{{ result.entry_by || '-' }}</td>
              <td>{{ result.entry_date || '-' }}</td>
            </tr>
            <tr *ngIf="storage_conditions.length === 0">
              <td colspan="8" style="text-align:center;color:#64748b;">No storage condition records found.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="loading" style="padding:1rem;text-align:center;color:#64748b;">Loading storage conditions...</div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-danger" routerLink="/master">{{'common.close' | translate}}</button>
  </div>
</div>
