<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">  Withdraw Sample Qty </div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/qa/approval/sampling" style="background-color: red;color: white;">
              <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
            </button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">

            <table class="table">
                <tr>
                    <th>Sr</th>
                    <th>BMR /LMR No.</th>
                    <th>BMR /LMR Type.</th>
                    <th>Sampling No.</th>
                    <th>Plant</th>
                    <th>Product Type</th>
                    <th>Product Name</th>
                    <th>Grade</th>
                    <th>Medicap Lot No</th>
                    <th>Batch Size</th>
                    <th>Batch Qty</th>
                    <th>Mfg. Date</th>
                    <th>Exp. Date</th>
                    <th>Receive By</th>
                    <th>view</th>
                </tr>
                <tr *ngFor="let result of results; let i = index">
                    <td>{{i+1 }}</td>
                    <td>{{ result.document_no || "NA"}}</td>
                    <td>{{ result.document_type || "NA"}}</td>
                    <td>{{ result.sampling_no || "NA"}}</td>
                    <td>{{ result.company_unit || "NA"}}</td>
                    <td>{{ result.product_type || "NA" }}</td>
                    <td>{{ result.product_name || "NA"}}</td>
                    <td>{{ result.grade || "NA"}}</td>
                    <td>{{ result.batch_no || "NA"}}</td>
                    <td>{{ result.batch_size || "NA"}}</td>
                    <td>{{ result.batch_qty || "NA"}}</td>
                    <td>{{result.mfg_date | date: 'MMM-yyyy' | uppercase}}</td>
                    <td>{{result.exp_date | date: 'MMM-yyyy' | uppercase}}</td>
                    <td>{{ result.received_by || "NA"}}</td>
                    <td>
                        <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                    </td>
                </tr>
                <tr *ngIf="results?.length == 0">
                    <td colspan="14">{{'common.noRecords' | translate}}</td>
                </tr>
            </table>



            <!-- <clr-datagrid [clrDgLoading]="loading">
                
                <clr-dg-column>Sr</clr-dg-column>
                <clr-dg-column clrDgField="document_no">BMR /LMR No.</clr-dg-column>
                <clr-dg-column clrDgField="document_type">Document Type</clr-dg-column>
                <clr-dg-column clrDgField="sampling_no">Sampling No.</clr-dg-column>
                <clr-dg-column clrDgField="company_unit">Plant</clr-dg-column>
                <clr-dg-column clrDgField="product_type">Product Type</clr-dg-column>
                <clr-dg-column clrDgField="product_name">Product Name</clr-dg-column>
                <clr-dg-column clrDgField="grade">Grade</clr-dg-column>
                <clr-dg-column clrDgField="batch_no">Medicap Lot No</clr-dg-column>
                <clr-dg-column clrDgField="batch_size">Batch Size </clr-dg-column>
                <clr-dg-column clrDgField="batch_qty">Batch Qty</clr-dg-column>
                <clr-dg-column>Mfg. Date</clr-dg-column>
                <clr-dg-column>Exp. Date</clr-dg-column>   
                <clr-dg-column clrDgField="received_by">Receive By</clr-dg-column>   
                <clr-dg-column>view</clr-dg-column>
            
            <clr-dg-row *clrDgItem="let result of results; let i = index" [clrDgItem]="result">
                <clr-dg-cell>{{i+1 }}</clr-dg-cell>
                <clr-dg-cell>{{ result.document_no}}</clr-dg-cell>
                <clr-dg-cell>{{ result.document_type }}</clr-dg-cell>
                <clr-dg-cell>{{ result.sampling_no }}</clr-dg-cell>
                <clr-dg-cell>{{ result.company_unit }}</clr-dg-cell>
                <clr-dg-cell>{{ result.product_type }}</clr-dg-cell>
                <clr-dg-cell>{{ result.product_name }}</clr-dg-cell>
                <clr-dg-cell>{{ result.grade }}</clr-dg-cell>
                <clr-dg-cell>{{ result.batch_no }}</clr-dg-cell>
                <clr-dg-cell>{{ result.batch_size }}</clr-dg-cell>
                <clr-dg-cell>{{ result.batch_qty }}</clr-dg-cell>
                <clr-dg-cell>{{result.mfg_date | date: 'MMM-yyyy' | uppercase}}</clr-dg-cell>
                <clr-dg-cell>{{result.exp_date | date: 'MMM-yyyy' | uppercase}}</clr-dg-cell>
                <clr-dg-cell>{{ result.received_by }}</clr-dg-cell>
                <clr-dg-cell>
                    <button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button>
                </clr-dg-cell>
            </clr-dg-row>

        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} result 
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid> -->
        </div>
    </div>
</div>

<div class="card" *ngIf="isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-7" style="color: aliceblue;margin-top: -2px;text-align: left;">Sampling Details </div>
          <div class="clr-col-lg-5" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-danger" (click)="isView=false">{{'common.close' | translate}}</button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <table class="table">
                <tr>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);"> Product Name:</td>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);">{{ selectedResult['product_name'] || 'NA'}}</td>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);">Product Grade</td>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);">{{ selectedResult['grade'] || 'NA'}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);">Lot/ Medicap Lot No:</td>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);">{{ selectedResult['batch_no'] || 'NA'}}</td>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);"> Lot /Batch Qty</td>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);">{{ selectedResult['batch_qty'] || 'NA'}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);"> MFG Date:</td>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);">{{ selectedResult['mfg_date'] || 'NA'}}</td>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);"> Exp Date:</td>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);">{{ selectedResult['exp_date'] || 'NA'}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);"> Prepare By:</td>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);">{{ selectedResult['prepared_by'] || 'NA'}}</td>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);">Check By :</td>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);">{{ selectedResult['checked_by'] || 'NA'}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);"> Receive Date:</td>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);">{{ selectedResult['received_date'] | date : 'dd-MM-yyyy'}}</td>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);">Receive By:</td>
                    <td style="text-align: left;border:1px solid rgb(4, 4, 116);">{{ selectedResult['received_by'] || 'NA'}}</td>
                </tr>
            </table>
            <table class="table">
                <tr>
                   <td style="background-color: rgb(4, 4, 116);color: white;text-align: left;">Sample Qty:</td> 
                   <td style="background-color: rgb(4, 4, 116);color: white;"></td>
                   <td style="background-color: rgb(4, 4, 116);color: white;"></td>
                   <td style="background-color: rgb(4, 4, 116);color: white;"></td>
                </tr>
                   <tr>
                    <td  style="text-align: left;width: 20%;"><b>Sampling Unit:</b></td>
                    <td style="padding: 0px;">
                        <select name="sampling_unit" [(ngModel)]="selectedResult['sampling_unit']" required style="margin: 0px;">
                            <option></option>
                            <option *ngFor="let unit of units">{{ unit.unit }}</option>
                        </select>
                    </td>
                
                    <td  style="text-align: left;width: 20%;"><b> Chemical Analysis:</b></td>
                    <td style="padding: 0px;"><input type="text" name="chemical_analysis" [(ngModel)]="selectedResult['chemical_analysis']" (keyup)="calculation()" required></td>
                </tr>
                <tr>
                    <td  style="text-align: left;"><b> Microbiology Analysis:</b></td>
                    <td style="padding: 0px;"><input type="text" name="microbiology_analysis" [(ngModel)]="selectedResult['microbiology_analysis']" (keyup)="calculation()" required></td>
               
                    <td  style="text-align: left;"><b> Reserse Qty:</b></td>
                    <td style="padding: 0px;"><input type="text" name="reserve_analysis" [(ngModel)]="selectedResult['reserve_analysis']" (keyup)="calculation()" required></td>
                </tr>
                <tr>
                    <td  style="text-align: left;"><b> Additionnal Sample Qty:</b></td>
                    <td style="padding: 0px;"><input type="text" name="additional_sample" [(ngModel)]="selectedResult['additional_sample']" (keyup)="calculation()" required></td>
                    <td  style="text-align: left;"><b> Stability Sample :</b></td>
                    <td style="padding: 0px;">
                    <select name="stability_sample" [(ngModel)]="stability_sample" required>
                       
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                    </td>
               
                   
                </tr>
                <tr *ngIf="stability_sample=='Yes'">
                    
                    <td  style="text-align: left;"><b>FG  Sample Qty:</b></td>
                    <td style="padding: 0px;"><input type="text" name="fg_sample_qty" [(ngModel)]="fg_sample_qty" (keyup)="calculation()" required></td>

                    <td style="text-align: left;"><b> Total Qty:</b></td>
                    <td  style="text-align: left;">{{total}}</td>
                </tr>
                <tr *ngIf="stability_sample=='No'">                 
                   

                    <td style="text-align: left;"><b> Total Qty:</b></td>
                    <td  style="text-align: left;">{{total}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="withdrawSample()"> Withdraw Sample </button>
        <button type="button" class="btn btn-danger" (click)="isView= false">{{'common.close' | translate}}</button>
    </div>
</div>