<div class="card">
    <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Sections for Approval</div>
        <div class="clr-col-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm" routerLink="/section" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
        </div>
      </div>
  </div>
  <div class="card-block">
    <div class="card-text">
        <table class="table">
            <tr>
                <th style="text-align: left;">Sr.</th>
                <th style="text-align: left;">{{'common.department' | translate}}</th>
                <th style="text-align: left;">Room Name</th>
                <th style="text-align: left;">Room Number</th>
                <th style="text-align: left;">Building No</th>
                <th style="text-align: left;">Room No</th>
                <th style="text-align: left;">{{'common.table.action' | translate}}</th>
            </tr>

            <tr *ngFor="let user of results; let i = index">
                <td style="text-align: left;">{{ i + 1 }}.</td>
                <td style="text-align: left;">{{user.department}}</td>
                <td style="text-align: left;">{{user.section_name}}</td>
                <td style="text-align: left;">{{user.section_code}}</td>
                <td style="text-align: left;">{{user.building_no}}</td>
                <td style="text-align: left;">{{user.room_no}}</td>
                <td style="text-align: left;">
                    <button class="btn btn-sm btn-success" (click)="update('active', user.id)">{{'common.approve' | translate}}</button>
                    <button class="btn btn-sm btn-danger" (click)="update('reject', user.id)">{{'common.reject' | translate}}</button>
                </td>
            </tr>
        </table>
    </div>
  </div>
</div>