<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-9" style="color: aliceblue; margin-top: -2px; text-align: left;"> Master Login</div>
            <div class="clr-col-lg-3" style="text-align: right; padding-right: 0px; margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/it" style="background-color: red; color: white;">
                    <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
                </button>
            </div>
        </div>
    </div>
<div>
 <form #masterloginform="ngForm">
    <div class="card-block">
        <h4>Login Information</h4>
        <div class="card-text">
            <div class="clr-row">
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                    <label><b>Username :</b><span style="color: red;">*</span></label>
                    <input type="text" name="username" ngModel required>
                </div>
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                    <label><b>Password :</b><span style="color: red;">*</span></label>
                    <input type="text" name="pass" ngModel required>
                </div>
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                    <label><b>Department:</b><span style="color: red;">*</span></label>
                    <select type="text" name="designation" [(ngModel)]="designation" required>
                        <option></option>
                        <option>IT support</option>
                        <option>Software Developer</option>
                        <option>Network Administrator</option>
                        <option>Database Management</option>
                        <option>Other</option>
                    </select>
                </div>
                <div *ngIf="designation == 'Other'" class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                    <label><b>Other:</b></label>
                    <input type="text" name="other_dept" ngModel required>
                </div>
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                    <label><b>Access Level:</b><span style="color: red;">*</span></label>
                    <select type="text" name="access_level" ngModel required>
                        <option></option>
                        <option>Administratrator</option>
                        <option>User</option>
                        <option>Read-Only</option>
                        <option>Database Management</option>
                    </select>
                </div>
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                    <label><b>Select Your Role:</b><span style="color: red;">*</span></label>
                    <select type="text" name="roll" [(ngModel)]="roll" required>
                        <option>Select</option>
                        <option>Help</option>
                        <option>System</option>
                        <option>Administratrator</option>
                        <option>Devloper</option>
                        <option>Other</option>
                    </select>
                </div>
                <div *ngIf="roll == 'Other'" class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                    <label><b>Other:</b></label>
                    <input type="text" name="other_roll" ngModel required>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
     <div class="card-header" style="text-align: left; color: black; background-color: lightgreen;">Additional Information</div>
        <div class="card-block">
          <div class="clr-row">
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong><b>Employee ID:</b><sup style="color: red;">*</sup></strong></label>
                <input type="text" name="emp_id" ngModel required>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong><b>Employee Email ID:</b><sup style="color: red;">*</sup></strong></label>
                <input type="text" name="email_id" ngModel required>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong><b>Phone No:</b></strong></label>
                <input type="text" name="phon_no" ngModel required>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><strong><b>Location:</b></strong></label>
                <input type="text" name="location" ngModel required>
            </div>
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
                <label><b>Login Permission:</b></label>
                <select type="text" name="permisstion" ngModel required>
                    <option></option>
                    <option>Read/Write accsess</option>
                    <option>Addministration  Previlage</option>
                    <option>Only Read</option>
                    <option>Full Accses</option>
                </select>
            </div>
            <div class="card">
              <div class="card-header" style="text-align: left; color: black; background-color: rgb(216, 230, 107);">Security Measures</div>
                <div class="card-block">
                 <h4><b>Two Facter Authentication</b></h4>
                    <div class="clr-row">
                        <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                            <label><strong><b>Enabled:</b><sup style="color: red;">*</sup></strong></label>
                            <input type="checkbox" name="enabled" ngModel >
                        </div>
                        <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                            <label><strong><b>Disabled:</b></strong></label>
                            <input type="checkbox" name="disabled" ngModel >
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <h4><b>Password Expiration Policy</b></h4>
                    <div class="clr-row">
                        <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                            <label><strong><b>Enforced:</b></strong></label>
                            <input type="checkbox" name="enforced" ngModel >
                        </div>
                        <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
                            <label><strong><b>Not Enforced:</b></strong></label>
                            <input type="checkbox" name="not_enforced" ngModel >
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" style="text-align: left; color: white; background-color: rgb(230, 107, 158);"> Declaration</div>
        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
        <p><b>I nearby ackowledge that I have read and understand the organisation,security & access Policies.I agree to use my login credentials Responsibility and in accordance with thes policies. Date:</b> <input type="date" name="declaration_date"  style="width: 200px;"/> </p>
    </div>
    </div>
</form>
</div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="save(masterloginform)">LOGIN</button>
    </div>
</div>
