@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink-green {
  color: green;
  animation: blink 1s infinite;
}

.blink-red {
  color: red;
  animation: blink 1s infinite;
}



.check {
  color: green;
  font-size: 11px;
  font-weight: bold;
}

.cross {
  color: red;
  font-size: 11px;
  font-weight: bold;
}