<div class="component qa-legacy-dash">
  <div class="subsection">
    <div class="purchase-block">
      <div style="text-align:end" class="exit-section">
        <div class="header-block" style="margin:10px 0px">
          <h3>Corrective Action / Preventative Action ({{ sopRef }})</h3>
          <div routerLink="/qa" class="name-board2"><i class="fas fa-times"></i></div>
        </div>
      </div>

      <div class="main-section" style="margin: 0px 10px 10px 10px !important;">
        <div class="category">
          <div class="line-section">
            <div class="header-div"><h3>1. CAPA Initiation ({{ formB }})</h3></div>
          </div>
          <div class="block-container">
            <ng-container *ngFor="let c of initiationCards">
              <div class="item-block" *ngIf="canShow(c.show)" [routerLink]="c.route">
                <i class="fas" [ngClass]="c.icon"></i>
                <span>{{ c.label }}</span>
                <span>{{ c.formNo }}</span>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="category">
          <div class="line-section">
            <div class="header-div"><h3>2. Approval, Closing &amp; Effectiveness</h3></div>
          </div>
          <div class="block-container">
            <ng-container *ngFor="let c of actionCards">
              <div
                class="item-block"
                *ngIf="canShow(c.show)"
                [routerLink]="c.route.split('?')[0]"
                [queryParams]="c.route.indexOf('mode=qa') >= 0 ? { mode: 'qa' } : {}"
              >
                <i class="fas" [ngClass]="c.icon"></i>
                <span>{{ c.label }}</span>
                <span>{{ c.formNo }}</span>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="category">
          <div class="line-section">
            <div class="header-div"><h3>3. Tracking Log ({{ formA }})</h3></div>
          </div>
          <div class="block-container">
            <div class="item-block" *ngFor="let c of logCards" [routerLink]="c.route">
              <i class="fas" [ngClass]="c.icon"></i>
              <span>{{ c.label }}</span>
              <span>{{ c.formNo }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
