<div class="card"*ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-5" style="color: aliceblue;margin-top: -2px;text-align: left;">Material Issue Request From RND</div>
          <div class="clr-col-lg-7" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm btn-success" routerLink="/npd/material-issue-request" >Pending Requests</button>
            <button class="btn btn-sm btn-danger" routerLink="/npd" >{{'common.close' | translate}}</button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">


          <div class="clr-row">
            <div class="clr-col-lg-5">
              <label>Search </label>
              <input type="text" placeholder="Search..." [(ngModel)]="searchQuery">
            </div>
          </div>

          <div class="datagrid-wrapper">
            <clr-datagrid [clrDgLoading]="loading" [clrDgFilter]="searchQuery" >
                <clr-dg-column>{{'common.table.srNo' | translate}}</clr-dg-column>
                <clr-dg-column>Material Type</clr-dg-column>
                <clr-dg-column>Material Name</clr-dg-column>
                <clr-dg-column>Material Code</clr-dg-column>
                <clr-dg-column>Feasibility Form No.</clr-dg-column>
                <clr-dg-column>Req. Qty.</clr-dg-column>
                <clr-dg-column>Requested By/ON</clr-dg-column>
                <clr-dg-column>Material From</clr-dg-column>
                <clr-dg-column>Free Sample From</clr-dg-column>
                <clr-dg-column>NPD Action By/On</clr-dg-column>

                <clr-dg-row *clrDgItems="let product of filteredMaterials; let i = index" [clrDgItem]="product">
                  <clr-dg-cell>{{i+1}}</clr-dg-cell>
                  <clr-dg-cell>{{product.material_type || '-'}}</clr-dg-cell>
                  <clr-dg-cell>{{product.material_name || '-'}}</clr-dg-cell>
                  <clr-dg-cell>{{product.material_code || '-'}}</clr-dg-cell>
                  <clr-dg-cell><strong>{{product.feasibilityFormNo || '-'}}</strong></clr-dg-cell>
                  <clr-dg-cell>{{product.requestQty }} {{product.reqUnit }}</clr-dg-cell>
                  <clr-dg-cell>{{product.requestByName || '-'}} - ( {{product.requestBy}} ) / {{product.requestOn | date : 'dd-MM-yyyy'}}</clr-dg-cell>
                  <clr-dg-cell>{{product.materialFrom }}</clr-dg-cell> 
                  <clr-dg-cell>{{product.freeSampFromName || '-' }} {{product.freeSampFrom || '-' }}</clr-dg-cell> 
                  <clr-dg-cell>{{product.npdActionByByName || '-'}} - ( {{product.npdActionBy}} ) / {{product.npdActionOn | date : 'dd-MM-yyyy'}}</clr-dg-cell>
                </clr-dg-row>
            </clr-datagrid>
          </div>

        </div>
    </div>
</div>

  
 