.card {
  border-color: #004A70;
}
.card-header {
  background-color: #004A70;
  color: white;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
select, input[type=text] {
  width: 100%;
  height: auto;
  padding: 4px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 8px;
}
.invalidinput {
  background-color: red;
}
input:read-only{
  background-color: lightgray;
}
