<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Checklist Master</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/store/logins/utis" style="background-color: green;color: white;" *ngIf="isuser == 'Yes'">
              New    </button>
            <button class="btn btn-sm" routerLink="/store/logins" style="background-color: red;color: white;">
             CLOSE
            </button>
          </div>
        </div>  
    </div>
    <div class="card-block">
        <div class="card-text">
           <table class="table">
                <tr>
                    <th>{{'common.table.srNo' | translate}}</th>
                    <th style="text-align: left;">Appraisal Type</th>
                    <th style="text-align: left;">{{'common.department' | translate}}</th>
                    <th style="text-align: left;">{{'common.designation' | translate}}</th>
                    <th style="text-align: left;">Checklist Heading</th>
                    <th style="text-align: left;">View</th>                  
                </tr>
                <tr *ngFor="let res of results;let i=index">
                    <td>{{ i+1 }}</td>
                    <td style="text-align: left;">{{ res.apprasil_type}}</td>
                    <td style="text-align: left;">{{ res.department}}</td>
                    <td style="text-align: left;">{{ res.designation}}</td>
                    <td style="text-align: left;">{{ res.checklist}}</td>
                    <td><button class="btn btn-sm btn-info" (click)="view(i)">{{'common.view' | translate}}</button></td>
                </tr>
           </table>
        </div>
    </div>
    <!-- <div class="card-footer">
        <button class="btn btn-primary" (click)="downloadLog()">{{'common.download' | translate}}</button>
    </div> -->
</div>

<!-- <div class="card" *ngIf="isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Checklist Master</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" (click)="isview=false" style="background-color: red;color: white;">
             CLOSE
            </button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <table class="table table-border" style="border:solid rgb(14, 67, 112) 1px ;">
                <tr>
                  <td style="text-align: left;color: rgb(14, 67, 112);">Checklist Heading</td>
                  <td style="text-align: left;width: 10%;color: rgb(14, 67, 112);">{{'common.department' | translate}}</td>
                  <td style="text-align: left;width: 20%;color: rgb(14, 67, 112);">Module</td>
                  <td style="text-align: left;width: 20%;color: rgb(14, 67, 112);">Form Name</td>
                  
                  
                </tr>
                <tr>
                  <td style="text-align: left;">{{ selectedCheckList['heading'] }}</td>
                  <td style="text-align: left;width: 20%;">{{ selectedCheckList['department'] }}</td>
                  <td style="text-align: left;" >{{ selectedCheckList['module'] }}</td>
                  <td style="text-align: left;" >{{ selectedCheckList['form_name'] }}</td>
                </tr>
              
              </table>
      
              <div class="card-block">
                <div class="card-text">
                  <clr-datagrid [clrDgLoading]="loading">
                     <clr-dg-column>Sr.</clr-dg-column>
                     <clr-dg-column>Check Point</clr-dg-column>
                     <clr-dg-column>Checklist Heading</clr-dg-column>
                     <clr-dg-column>{{'common.department' | translate}}</clr-dg-column>
                     <clr-dg-column>Module</clr-dg-column>
             
                     <clr-dg-row *clrDgItems="let user of selectedCheckList.checkList; let i = index">
                       <clr-dg-cell>{{i+1}}</clr-dg-cell>
                       <clr-dg-cell>{{user.check_point}}</clr-dg-cell>
                       <clr-dg-cell>{{user.ch_description}}</clr-dg-cell>
                       <clr-dg-cell>{{user.evl_pr}}</clr-dg-cell>
                       <clr-dg-cell>{{user.evl_type}}</clr-dg-cell>
                    </clr-dg-row>
                    <clr-dg-row *clrDgItems="results?.length==0">
                        <clr-dg-cell>No Record Found!</clr-dg-cell>
                    </clr-dg-row>  
                </clr-datagrid>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="downloadRecord()">{{'common.download' | translate}}</button>
    </div>
</div>
  -->

  <div class="container-fluid" *ngIf="isView">
    <div class="card">
      <div class="card-header">Checklist Master</div>
      <div class="card-block">
        <div class="card-text">
          <table class="table table-border" style="border:solid rgb(14, 67, 112) 1px ;">
            <tr>
              <td style="text-align: left;width: 10%;color: rgb(14, 67, 112);">Appraisal Type</td>
              <td style="text-align: left;width: 10%;color: rgb(14, 67, 112);">{{'common.department' | translate}}</td>
              <td style="text-align: left;width: 20%;color: rgb(14, 67, 112);">{{'common.designation' | translate}}</td>
              <td style="text-align: left;color: rgb(14, 67, 112);">Checklist Heading</td>            
            </tr>
            <tr>
              <td style="text-align: left;width: 20%;">{{ selectedCheckList['apprasil_type'] }}</td>
              <td style="text-align: left;width: 20%;">{{ selectedCheckList['department'] }}</td>
              <td style="text-align: left;" >{{ selectedCheckList['designation'] }}</td>
              <td style="text-align: left;">{{ selectedCheckList['checklist'] }}</td>            
            </tr>
          
          </table>
  
          <div class="card-block">
            <div class="card-text">
                <clr-datagrid [clrDgLoading]="loading">
                    <clr-dg-column>Sr.</clr-dg-column>
                    <clr-dg-column>Check Point</clr-dg-column>
                    <clr-dg-column>Checklist Heading</clr-dg-column>
                    <clr-dg-column>{{'common.department' | translate}}</clr-dg-column>
                    <clr-dg-column>{{'common.description' | translate}}</clr-dg-column>
                    <clr-dg-column>Evaluation Parameter</clr-dg-column>
                    <clr-dg-column>Evaluation Type</clr-dg-column>
         
                <clr-dg-row *clrDgItems="let user of selectedCheckList.checkList; let i = index">
                   <clr-dg-cell>{{i+1}}</clr-dg-cell>
                   <clr-dg-cell>{{user.checklist_particulars}}</clr-dg-cell>
                   <clr-dg-cell>{{user.checklist_heading}}</clr-dg-cell>
                   <clr-dg-cell>{{user.department}}</clr-dg-cell>
                   <clr-dg-cell>{{user.description}}</clr-dg-cell>
                   <clr-dg-cell>{{user.evualation_parameter}}</clr-dg-cell>
                   <clr-dg-cell>{{user.evualation_type}}</clr-dg-cell>
                </clr-dg-row>
                   <clr-dg-row *clrDgItems="results?.length==0">
                        <clr-dg-cell>No Record Found!</clr-dg-cell>
                   </clr-dg-row>  
                </clr-datagrid>
              </div>
          </div>
          
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" (click)="isView=false">{{'common.close' | translate}}</button>
      </div>
   </div>
</div>