<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-lg-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Shift Schedule</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/plant_head/hr" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
          </div>
        </div>
      </div>
    <div class="card-block">
        <div class="card-text">
            <div class="clr-row">
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                    <label><strong>Employee Category:</strong></label>
                    <select name="searchQuery" [(ngModel)]="searchQuery" required>
                        <option></option>
                        <option>Worker / Operator</option>
                        <option>Staff</option>
                        <!-- <option>QC Chemist</option> -->
                    </select>
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                    <br>
                    <button class="btn btn-success" (click)="approveAllShift()">Approve All </button>
                    
                </div>
             
            </div>
    
          <clr-datagrid [clrDgLoading]="loading" [clrDgFilter]="searchQuery">
  
            <clr-dg-column>Sr. No.</clr-dg-column>
            <clr-dg-column>Employee Category </clr-dg-column>
            <clr-dg-column>Emp Id</clr-dg-column>
            <clr-dg-column>Emp Name</clr-dg-column>
            <clr-dg-column>Shift</clr-dg-column>
            <clr-dg-column>{{'common.status' | translate}}</clr-dg-column>
            

            <clr-dg-column>From Date</clr-dg-column>
            <clr-dg-column>To Date</clr-dg-column>
             <clr-dg-column>Approve</clr-dg-column>


          
            <clr-dg-row *clrDgItems="let user of filteredMaterials; let i = index" [clrDgItem]="user">
              <!-- <ng-container *ngIf="user.allocationStatus=='pendingAndReview'"> -->
              
                <clr-dg-cell>{{i + 1}}</clr-dg-cell>
               <clr-dg-cell>{{user.operator_category}}</clr-dg-cell>
               <clr-dg-cell>{{user.Empolyee_Id}} </clr-dg-cell>
               <clr-dg-cell> {{user.firstname}} {{user.lastname}}</clr-dg-cell>
              <clr-dg-cell>{{user.shift_name}}</clr-dg-cell>
              <clr-dg-cell>{{user.allocationStatus}}</clr-dg-cell>

              <clr-dg-cell>{{user.Start_date  | date: 'dd-MM-yyyy'}}</clr-dg-cell>
              <clr-dg-cell>{{user.End_date  | date: 'dd-MM-yyyy'}}</clr-dg-cell>
        
              <clr-dg-cell>
                <button class="btn btn-primary" (click)="Approve(user.a_id)">{{'common.approve' | translate}}</button>

              </clr-dg-cell>

            <!-- </ng-container> -->


              </clr-dg-row>
          </clr-datagrid>

        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="exportToExcel()">Export to Excel</button>
        </div>
    </div>
</div>
