<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Pressure Reading form</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/production/logbooks/pressure" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
          </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <form #temp="ngForm">
                <div class="clr-row">
                    <div class="clr-col-lg-6">
                        <label>Room Name</label>
                        <select name="section" ngModel required>
                            <option></option>
                            <option *ngFor="let se of sections">{{se.section_name}}</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-6">
                        <label>Pressure Reading</label>
                        <input type="text" name="pressure" ngModel required>
                    </div>
                </div>
            </form>  
        </div>  
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="save(temp)">{{'common.save' | translate}}</button>
    </div>
</div>
