<div class="card">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
          <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Employee Performance</div>
          <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
            <button class="btn btn-sm" routerLink="/management/hr" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
          </div>
        </div>
      </div>
    <div class="card-block">
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
              <div class="clr-row"> 
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12">
                  <label>Plant:</label>
                    <select name="plant_code" [(ngModel)]="plant_code" required>
                        <option></option>
                        <option *ngFor="let plant of plants" [value]="plant.plant_code">{{ plant.plant_name }}</option>
                    </select>
              </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                    <label>Department:</label>
                    <select name="department_name" [(ngModel)]="department_name">
                      <option></option>
                      <option *ngFor="let depart of departments"> {{ depart.department_name}}</option>
                    </select>
                </div>
                <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
                  <label>Designation:</label>
                  <select name="designation" [(ngModel)]="designation">
                    <option></option>
                    <option *ngFor="let desig of designations">{{desig.designation}}</option>
                  </select>
                </div>
                <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12" style="margin-top:30px;">
                  <button class="btn btn-danger" (click)="getMonthlyPerformance()">Search </button>
                </div>
              </div>
            </div>
          </div>
            <table class="table table-border">
                <tr>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Sr.</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.department' | translate}}</th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Employee ID</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">Employee Name</th>
                    <th style="text-align: left; background-color: rgb(14, 67, 112); color: white;">{{'common.designation' | translate}}</th>
                    <th>Working Hours</th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Performance (%)</th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">{{'common.table.remark' | translate}}</th>
                </tr>
                <tr *ngFor="let result of results; let i = index">
                    <td>{{ i + 1 }}.</td>
                    <td style="text-align: left;">{{ result.department }}</td>
                    <td>{{ result.emp_id }}</td>
                    <td style="text-align: left;">{{ result.emp_name }}</td>
                    <td style="text-align: left;">{{ result.designation }}</td>
                   <td>{{ result.working_hours }}</td>
                    <td>{{ result.performace }}%</td>
                    <td>{{ result.remark }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>