<!-- /////////////////////////////////////////////////////////////// -->
<!-- /// Raw Material Control Sample Register grid /// -->

<div class="card"*ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-4" style="color: aliceblue;margin-top: -2px;text-align: left;">Raw Material Control Sample Register</div>
            <div class="clr-col-lg-8" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-success" *ngIf="isapprover == 'Yes'" routerLink="approval">Contral Sample For Approval</button>
                <button class="btn btn-sm btn-danger" routerLink="/qa/controlsample">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <table class="table">
                <tr>
                <th>Sr No</th>
                <th style="text-align: left;">Material Name</th>
                <th style="text-align: left;">Material type</th>
                <th style="text-align: left;">Material Code</th>
                <th>Medicap Lot No</th>
                <th>{{'common.status' | translate}}</th>
                <th>{{'common.table.action' | translate}}</th>
                </tr>
                <tr *ngFor="let result of results; let i = index">
                <td>{{ i + 1 }}</td>
                <td style="text-align: left;">{{ result.material_name || 'NA'}}</td>
                <td style="text-align: left;">{{ result.material_subtype || 'NA'}}</td>
                <td style="text-align: left;">{{ result.material_code || 'NA'}}</td>
                <td>{{ result.batch_no || 'NA'}}</td>
                <td>{{ result.status || 'NA'}}</td>
                <td><button class="btn btn-sm btn-info"(click)="view(i)">{{'common.view' | translate}}</button></td>
                </tr>
                <tr *ngIf="results?.length == 0">
                <td colspan="12">{{'common.noRecords' | translate}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="download()">DOWNLOAD REPORT</button>
    </div>
</div>


<!-- /////////////////////////////////////////////////////////////// -->
<!-- /// Raw Material Control Sample Register grid view /// -->

<div class="card" *ngIf="isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-4" style="color: aliceblue;margin-top: -2px;text-align: left;">Raw Material Control Sample Log</div>
            <div class="clr-col-lg-8" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-danger" (click)="isView=false">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text">
            <table class="table">
                <tr>
                    <td style="text-align: left;"><b>Material Name:</b></td>
                    <td style="text-align: left;">{{selectedResult['material_name'] ? selectedResult['material_name'] :'NA'}}</td>
                    <td style="text-align: left;"><b>Material Type</b></td>
                    <td style="text-align: left;">{{selectedResult['material_subtype'] ? selectedResult['material_subtype'] :'NA'}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>Material Code:</b></td>
                    <td style="text-align: left;">{{selectedResult['material_code'] ? selectedResult['material_code'] :'NA'}}</td>
                    <td style="text-align: left;"><b>Medicap Lot No:</b></td>
                    <td style="text-align: left;">{{selectedResult['batch_no'] ? selectedResult['batch_no'] :'NA'}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>Grade:</b></td>
                    <td style="text-align: left;">{{selectedResult['grade'] ? selectedResult['grade'] :'NA'}}</td>
                    <td style="text-align: left;"><b>Medicap Lot No:</b></td>
                    <td style="text-align: left;">{{selectedResult['ar_no'] ? selectedResult['ar_no'] :'NA'}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>Mfg Date:</b></td>
                    <td style="text-align: left;">{{selectedResult['mfg_date'] ? selectedResult['mfg_date'] :'NA'}}</td>
                    <td style="text-align: left;"><b>Exp Date:</b></td>
                    <td style="text-align: left;">{{selectedResult['exp_date'] ? selectedResult['exp_date'] :'NA'}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>Stored Qty:</b></td>
                    <td colspan="3" style="text-align: left;">{{selectedResult['sample_quantity']}} {{selectedResult['unit']}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>Withdrawal Qty:</b></td>
                    <td style="text-align: left;">{{selectedResult['withdrawal_qty'] ? selectedResult['withdrawal_qty'] :'NA'}} </td>
                    <td style="text-align: left;"><b>Status:</b></td>
                    <td style="text-align: left;">{{selectedResult['status'] ? selectedResult['status'] :'NA'}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>Room Temperature(℃):</b></td>
                    <td style="text-align: left;">{{selectedResult['room_temp'] ? selectedResult['humidity'] :'NA'}} </td>
                    <td style="text-align: left;"><b>Humidity (% RH):</b></td>
                    <td style="text-align: left;">{{selectedResult['humidity'] ? selectedResult['humidity'] :'NA'}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>Sampling BY</b></td>
                    <td style="text-align: left;">{{selectedResult['sample_by'] ? selectedResult['sample_by'] : 'NA'}} </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>Rack No</b></td>
                    <td style="text-align: left;">{{selectedResult['rack_no'] ? selectedResult['rack_no'] :'NA'}} </td>
                    <td style="text-align: left;"><b>Material Subtype:</b></td>
                    <td style="text-align: left;">{{selectedResult['material_subtype'] ?selectedResult['material_subtype'] :'NA'}}</td>
                </tr>

            </table>
        </div>
    </div>
</div>