<div class="app-theme-picker">
  <button
    type="button"
    class="app-theme-picker__toggle"
    (click)="togglePanel()"
    [attr.aria-expanded]="isOpen"
    aria-haspopup="true"
    title="Change application theme"
  >
    <i class="fas fa-palette" aria-hidden="true"></i>
    <span>{{ activeThemeName }}</span>
  </button>

  <div class="app-theme-picker__backdrop" *ngIf="isOpen" (click)="closePanel()"></div>

  <div class="app-theme-picker__panel" *ngIf="isOpen" role="dialog" aria-label="Theme options">
    <div class="app-theme-picker__head">
      <h4 class="app-theme-picker__title">Theme</h4>
      <button type="button" class="app-theme-picker__close" (click)="closePanel()" aria-label="Close">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="app-theme-picker__grid">
      <button
        type="button"
        class="app-theme-picker__option"
        *ngFor="let theme of themes"
        [class.active]="theme.id === activeThemeId"
        [class.recommended]="theme.recommended"
        (click)="selectTheme(theme)"
        [attr.aria-label]="'Theme ' + theme.name"
      >
        <span class="app-theme-picker__swatch" [style.background]="theme.swatch"></span>
        <span class="app-theme-picker__meta">
          <span class="app-theme-picker__name">{{ theme.name }}</span>
          <span class="app-theme-picker__badge" *ngIf="theme.recommended">Recommended</span>
        </span>
      </button>
    </div>
  </div>
</div>
