table {
  font-size: 14px;
}
input[type="text"],
textarea {
  background-color: #f7f9fc;
}
thead th {
  background-color: #cfe2ff;
  text-align: center;
}

.inline-input {
  display: inline-block;
  vertical-align: middle;
}
