.custom-card {
    width: 165px;
    height: 85px;
    border: none;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    perspective: 1000px;
}

.custom-card .card-block {
    text-align: center;
    border-top: solid 3px rgb(160, 83, 68);
    border-radius: 7px;
    position: relative;
    z-index: 1;
    padding-top: 10px;
    transition: transform 0.4s, box-shadow 0.4s;
}

.custom-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, #7f7f7f, #b5b5b5, #7f7f7f);
    /* Professional gradient colors */
    transition: left 0.4s;
    z-index: 0;
    transform: translateZ(-1px);
}

.custom-card:hover:before {
    left: 0;
}

.custom-card img {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 2;
    transition: transform 0.4s;
}

.custom-card:hover img {
    transform: scale(1.2);
}

.custom-card:hover .card-block {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Adjust the shadow as needed */
    transform: translateZ(2px);
}