<div class="card" *ngIf="!isView">
    <div class="card-header" style="text-align: center">
        <div class="clr-row" style="margin-bottom: -10px;">
            <div class="clr-col-lg-9" style="color: aliceblue;margin-top: -2px;text-align: left;">New Calibration of Bulk Density Apparutas</div>
            <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm btn-success" (click)=new()>{{'common.new' | translate}}</button>
                <button class="btn btn-sm btn-danger" routerLink="/qc/qc-calibration">{{'common.close' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text" *ngIf="isNew">
            <form #gcForm="ngForm">
                <h3>A.	Carrier Flow Accuracy:</h3>
                <div class="clr-row">
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                        <label>Set Flow:</label>
                        <input type="text" name="set_flow" [(ngModel)]="set_flow" />
                    </div>

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Limit(± 10%:)</label>
                        <input type="text" name="limit" [(ngModel)]="limit" />
                    </div>

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Observed Flow:</label>
                        <input type="text" name="limit" [(ngModel)]="limit" />
                    </div>

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Mean:</label>
                        <input type="text" name="mean" [(ngModel)]="mean" />
                    </div>
                    
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Status:</label>
                        <select name="status" ngModel>
                            <option></option>
                            <option>Complies</option>
                            <option>does not comply </option>
                       </select>
                    </div>
                </div>
                <h3>System Precision (Repeatability)</h3>
                <div class="clr-row">
                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                        <label>Standard:</label>
                        <input type="text" name="standard" [(ngModel)]="standard" />
                    </div>

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Make</label>
                        <input type="text" name="make" [(ngModel)]="make" />
                    </div>

                    <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                        <label>Batch no:</label>
                        <input type="text" name="batch_no" [(ngModel)]="batch_no" />
                    </div>
              </div>
              <h3>Chromatographic conditions:</h3>
              <div class="clr-row">
                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                      <label>Condition:</label>
                      <input type="text" name="condition" [(ngModel)]="standard" />
                  </div>

                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                      <label>Performed</label>
                      <input type="text" name="performe" [(ngModel)]="performe" />
                  </div>

                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                      <label>Actual condition:</label>
                      <input type="text" name="actual_condition" [(ngModel)]="actual_condition" />
                  </div>
            </div>
            <h3>Retention time:</h3>
              <div class="clr-row">
                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                      <label>Run Type:</label>
                      <input type="text" name="run_type" [(ngModel)]="run_type" />
                  </div>

                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                      <label>Area</label>
                      <input type="text" name="area" [(ngModel)]="area" />
                  </div>

                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                      <label>Area1:</label>
                      <input type="text" name="area1" [(ngModel)]="area1" />
                  </div>
                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                    <label>Time:</label>
                    <input type="time" name="time" [(ngModel)]="time" />
                </div>
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                    <label>Time1:</label>
                    <input type="time" name="time1" [(ngModel)]="time1" />
                </div>
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                    <label>Results:</label>
                    <select name="result" ngModel>
                        <option></option>
                        <option>Complies</option>
                        <option>does not comply </option>
                   </select>
                </div>
            </div>
            <h3>Linearity results:</h3>
            <div class="clr-row">
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                    <label>Linearity Level:</label>
                    <input type="text" name="linearity_level" [(ngModel)]="linearity_level" />
                </div>

                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                    <label>Run #</label>
                    <input type="text" name="run" [(ngModel)]="run" />
                </div>

                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                    <label>Area of Toluene:</label>
                    <input type="text" name="toluene" [(ngModel)]="toluene" />
                </div>
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                  <label>Area of Benzene:</label>
                  <input type="text" name="benzene" [(ngModel)]="benzene" />
              </div>
              <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                  <label>Results:</label>
                  <select name="result" ngModel>
                      <option></option>
                      <option>Complies</option>
                      <option>does not comply </option>
                 </select>
              </div>
             </div>
             <h3>Chromatographic conditions:</h3>
            <div class="clr-row">
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                    <label>Parameter:</label>
                    <input type="text" name="parameter" [(ngModel)]="parameter" />
                </div>

                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                    <label>Standard condition</label>
                    <input type="text" name="stand_cond" [(ngModel)]="stand_cond" />
                </div>

                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                    <label>Actual Condition:</label>
                    <input type="text" name="a_cond" [(ngModel)]="a_cond" />
                </div>
             </div>
             <h3>Retention time:</h3>
              <div class="clr-row">
                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                      <label>Run Type:</label>
                      <input type="text" name="run_type1" [(ngModel)]="run_type1" />
                  </div>

                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                      <label>Peak area</label>
                      <input type="text" name="p_area" [(ngModel)]="p_area" />
                  </div>

                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                      <label>Peak area1:</label>
                      <input type="text" name="p_area1" [(ngModel)]="p_area1" />
                  </div>
                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                    <label>Retention time:</label>
                    <input type="time" name="r_time" [(ngModel)]="r_time" />
                </div>
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                    <label>Retention time1:</label>
                    <input type="time" name="r_time1" [(ngModel)]="r_time1" />
                </div>
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                    <label>Results:</label>
                    <select name="result1" ngModel>
                        <option></option>
                        <option>Complies</option>
                        <option>does not comply </option>
                   </select>
                </div>
            </div>
            <h3>Auto-sampler (Head Space) calibration for Linearity:</h3>
              <div class="clr-row">
                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                      <label> Linearity Level:</label>
                      <input type="text" name="l_level" [(ngModel)]="l_level" />
                  </div>

                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                      <label>Run #</label>
                      <input type="text" name="run1" [(ngModel)]="run1" />
                  </div>

                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                      <label>Area of Ethanol:</label>
                      <input type="text" name="ethanol" [(ngModel)]="ethanol" />
                  </div>
                  <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                    <label>Area of THF:</label>
                    <input type="text" name="area_thf" [(ngModel)]="area_thf" />
                </div>
                <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4 clr-col-xs-4" style="margin-top:10px;">
                    <label>Results:</label>
                    <select name="result2" ngModel>
                        <option></option>
                        <option>Complies</option>
                        <option>does not comply </option>
                   </select>
                </div>
            </div>
                 <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12" style="margin-top:10px;">
                        <button class="btn btn-success" (click)="save(gcForm)">{{'common.save' | translate}}</button>
                        <button class="btn btn-danger" (click)="isNew = false">{{'common.close' | translate}}</button>
                    </div>
               
            </form>
        </div>
        <div class="card-text" *ngIf="!isNew">
            <div class="clr-row">
                <div class="clr-col-lg-12 clr-col-md-8 clr-col-sm-4 clr-col-xs-12" style="margin-top:10px;">
                    <table class="table table-border">
                        <tr>
                            <td style="text-align:left; width: 25%;">Subject :</td>
                            <td style="text-align:left"></td>
                            <td style="text-align:left; width: 25%;">Date Of Calibration </td>
                            <td style="text-align:left"></td>
                        </tr>
                        <tr>
                            <td style="text-align:left">Instrument :</td>
                            <td style="text-align:left"></td>
                            <td style="text-align:left">Next Calibration Due</td>
                            <td style="text-align:left"></td>
                        </tr>
                        <tr>
                            <td style="text-align:left">Instrument ID:</td>
                            <td style="text-align:left" colspan="3"></td>
                        </tr>
                    </table>
                </div>

        <div class="clr-col-lg-12 clr-col-md-8 clr-col-sm-4 clr-col-xs-12" style="margin-top:10px;">
                    <h3>Injector – A:</h3>
                    <table class="table table-border">
                        <tr>
                            <th style="background-color: rgb(14, 67, 112); color: white;">Sr. No.</th>
                            <th style="background-color: rgb(14, 67, 112); color: white;">Set flow </th>
                            <th style="background-color: rgb(14, 67, 112); color: white;">Limit(± 10%)</th> 
                            <th style="background-color: rgb(14, 67, 112); color: white;">Mean</th>
                            <th style="background-color: rgb(14, 67, 112); color: white;">{{'common.status' | translate}}</th>

                        </tr>
                        <tr *ngFor="let result of results; let i= index">
                            <td>{{ i+1}}</td>
                            <td>{{result.set_flow}}</td>
                            <td>{{result.limit}}</td>
                            <td>{{result.mean}}</td>
                            <td>{{result.status}}</td>
                        </tr>
                    </table>
         </div>
         <div class="clr-col-lg-12 clr-col-md-8 clr-col-sm-4 clr-col-xs-12" style="margin-top:10px;">
            <h3>System Precision (Repeatability:</h3>
            <table class="table table-border">
                <tr>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Sr. No.</th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Standard </th>
                    <th style="background-color: rgb(14, 67, 112); color: white;">Make</th> 
                    <th style="background-color: rgb(14, 67, 112); color: white;">Batch no</th>
             </tr>
                <tr *ngFor="let result of results; let i= index">
                    <td>{{ i+1}}</td>
                    <td>{{result.standard}}</td>
                    <td>{{result.make}}</td>
                    <td>{{result.batch_no}}</td>
                  </tr>
            </table>
       </div>
       <div class="clr-col-lg-12 clr-col-md-8 clr-col-sm-4 clr-col-xs-12" style="margin-top:10px;">
        <h3>Chromatographic conditions:</h3>
        <table class="table table-border">
            <tr>
                <th style="background-color: rgb(14, 67, 112); color: white;">Sr. No.</th>
                <th style="background-color: rgb(14, 67, 112); color: white;">Condition</th>
                <th style="background-color: rgb(14, 67, 112); color: white;">Performed</th> 
                <th style="background-color: rgb(14, 67, 112); color: white;">Actual condition</th>
         </tr>
            <tr *ngFor="let result of results; let i= index">
                <td>{{ i+1}}</td>
                <td>{{result.condition}}</td>
                <td>{{result.performe}}</td>
                <td>{{result.actual_condition}}</td>
              </tr>
        </table>
       </div>
       <div class="clr-col-lg-12 clr-col-md-8 clr-col-sm-4 clr-col-xs-12" style="margin-top:10px;">
        <h3>Retention time:</h3>
        <table class="table table-border">
            <tr>
                <th style="background-color: rgb(14, 67, 112); color: white;"rowspan="2">Run Type</th>
                <th style="background-color: rgb(14, 67, 112); color: white;"colspan="2">Toluene</th>
                <th style="background-color: rgb(14, 67, 112); color: white;"colspan="2">Benzene</th> 
                <th style="background-color: rgb(14, 67, 112); color: white;"rowspan="2">Result</th>
         </tr>
         <tr>
            <th style="background-color: rgb(14, 67, 112); color: white;">Retention time</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Area</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Retention time</th> 
            <th style="background-color: rgb(14, 67, 112); color: white;">Area</th>
         </tr>
            <tr *ngFor="let result of results; let i= index">
                <td>{{result.time}}</td>
                <td>{{result.area}}</td>
                <td>{{result.time1}}</td>
                <td>{{result.time1}}</td>
                <td>{{result.result}}</td>
              </tr>
        </table>
       </div>
       <div class="clr-col-lg-12 clr-col-md-8 clr-col-sm-4 clr-col-xs-12" style="margin-top:10px;">
        <h3>Retention time:</h3>
        <table class="table table-border">
            <tr>
                <th style="background-color: rgb(14, 67, 112); color: white;">Linearity Level</th>
                <th style="background-color: rgb(14, 67, 112); color: white;">Run #</th>
                <th style="background-color: rgb(14, 67, 112); color: white;">Area of Toluene</th> 
                <th style="background-color: rgb(14, 67, 112); color: white;">Area of Benzene</th>
                <th style="background-color: rgb(14, 67, 112); color: white;">Result</th>
         </tr>
            <tr *ngFor="let result of results; ">
                <td>{{result.linearity_level}}</td>
                <td>{{result.run}}</td>
                <td>{{result.toluene}}</td>
                <td>{{result.benzene}}</td>
                <td>{{result.result}}</td>
              </tr>
        </table>
       </div>
       <div class="clr-col-lg-12 clr-col-md-8 clr-col-sm-4 clr-col-xs-12" style="margin-top:10px;">
        <h3>Chromatographic conditions:</h3>
        <table class="table table-border">
            <tr>
                <th style="background-color: rgb(14, 67, 112); color: white;">Parameter</th>
                <th style="background-color: rgb(14, 67, 112); color: white;">Standard condition</th>
                <th style="background-color: rgb(14, 67, 112); color: white;">Actual Condition</th> 
         </tr>
            <tr *ngFor="let result of results; ">
                <td>{{result.parameter}}</td>
                <td>{{result.stand_cond}}</td>
                <td>{{result.a_cond}}</td>
              
              </tr>
        </table>
       </div>
       <div class="clr-col-lg-12 clr-col-md-8 clr-col-sm-4 clr-col-xs-12" style="margin-top:10px;">
        <h3>Observation:</h3>
        <table class="table table-border">
            <tr>
                <th style="background-color: rgb(14, 67, 112); color: white;"rowspan="2">Run Type</th>
                <th style="background-color: rgb(14, 67, 112); color: white;"colspan="2">Ethyl alcohol</th>
                <th style="background-color: rgb(14, 67, 112); color: white;"colspan="2">Tetrahydrofuran</th> 
                <th style="background-color: rgb(14, 67, 112); color: white;"rowspan="2">Result</th>
         </tr>
         <tr>
            <th style="background-color: rgb(14, 67, 112); color: white;">Retention time</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Peak Area</th>
            <th style="background-color: rgb(14, 67, 112); color: white;">Retention time</th> 
            <th style="background-color: rgb(14, 67, 112); color: white;"> Peak Area</th>
         </tr>
            <tr *ngFor="let result of results; let i= index">
                <td>{{result.r_time}}</td>
                <td>{{result.p_area}}</td>
                <td>{{result.r_time1}}</td>
                <td>{{result.p_time1}}</td>
                <td>{{result.result1}}</td>
              </tr>
        </table>
       </div>
       <div class="clr-col-lg-12 clr-col-md-8 clr-col-sm-4 clr-col-xs-12" style="margin-top:10px;">
        <h3>Linearity results:</h3>
        <table class="table table-border">
            <tr>
                <th style="background-color: rgb(14, 67, 112); color: white;">Linearity Level</th>
                <th style="background-color: rgb(14, 67, 112); color: white;">Run #</th>
                <th style="background-color: rgb(14, 67, 112); color: white;">Area of Ethanol</th> 
                <th style="background-color: rgb(14, 67, 112); color: white;">Area of THF</th> 
                <th style="background-color: rgb(14, 67, 112); color: white;">Result</th> 
         </tr>
            <tr *ngFor="let result of results; ">
                <td>{{result.l_level}}</td>
                <td>{{result.run1}}</td>
                <td>{{result.ethanol}}</td>
                <td>{{result.area_thf}}</td>
                <td>{{result.result2}}</td>
              </tr>
        </table>
       </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" (click)="download()">{{'common.download' | translate}}</button>
            </div>
        </div>
    </div>