<div class="container-fluid">
    <div class="card">
        <div class="card-header" style="text-align: center">
            <div class="clr-row" style="margin-bottom: -10px;">
              <div class="clr-col-9" style="color: aliceblue;margin-top: -2px;text-align: left;">Equipment Status Log</div>
              <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
                <button class="btn btn-sm" routerLink="/production/logbooks" style="background-color: red;color: white;">{{'common.close' | translate}}</button>
              </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-text">
                <div class="clr-row">
                    <div class="clr-col-lg-4">
                        <label>Equipment Type:</label>
                        <select name="equipment_type" [(ngModel)]="equipment_type" required>
                            <option></option>
                            <option value="LAF">LAF</option>
                            <option value="Other">Other</option>
                            <option value="Balance">Balance</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-3">
                        <label>Status:</label>
                        <select name="status" [(ngModel)]="status" required>
                            <option></option>
                            <option value="checked">checked</option>
                            <option value="pending">{{'common.pending' | translate}}</option>
                            <option value="approve">approve</option>
                        </select>
                    </div>
                    <div class="clr-col-lg-2" style="padding: 0px;">
                        <button class="btn btn-danger" (click)="getDeptAllEquipments()" style="margin-top: 30px;">{{'common.search' | translate}}</button>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <th>Sr.</th>
                        <th style="text-align: left;">Equipment Code</th>
                        <th style="text-align: left;">Equipment Name</th>
                        <th style="text-align: left;">Equipment Type</th>
                        <th>{{'common.status' | translate}}</th>
                    </tr>
                    <tr *ngFor="let result of results;let i = index">
                        <td>{{ i+1 }}.</td>
                        <td style="text-align: left;">{{ result.equipment_code }}</td>
                        <td style="text-align: left;">{{ result.equipment_name }}</td>
                        <td style="text-align: left;">{{ result.equipment_type }}</td>
                        <td>{{ result.status }}</td>
                    </tr>
                    <tr *ngIf="results?.length == 0">
                        <td colspan="5">No Record Found!</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="download()">{{'common.download' | translate}}</button>
        </div>
    </div>
</div>