<div class="card prev-frequency__card" *ngIf="!isView">
  <div class="card-header" style="text-align: center">
      <div class="clr-row" style="margin-bottom: -10px;">
        <div class="clr-col-9 prev-frequency__title" style="margin-top: -2px;text-align: left;">Preventive Maintenance Frequency.</div>
        <div class="clr-col-lg-3" style="text-align: right;padding-right: 0px;margin-top: -7px;">
          <button class="btn btn-sm btn-primary" routerLink="/engineering/preventive/checklist" >
             Checklist
          </button>
          <button class="btn btn-sm" routerLink="/engineering/preventive" style="background-color: red;color: white;">
            <clr-icon shape="window-close" class="is-solid"></clr-icon> CLOSE
          </button>
        </div>
      </div>
  </div>
  <div class="card-block">
      <div class="card-text">
        <div class="clr-row prev-frequency__search">
          <div class="clr-col-lg-5">
            <label>Search</label>
            <input type="text" placeholder="Search equipment, department, location..." [(ngModel)]="searchQuery">
           </div>
        </div>
     
        <clr-datagrid class="prev-frequency__grid" [clrDgLoading]="loading" [clrDgFilter]="searchQuery">
          
          <clr-dg-column>Equipment Name</clr-dg-column>
          <clr-dg-column>{{'common.description' | translate}}</clr-dg-column>
          <clr-dg-column>{{'common.department' | translate}}</clr-dg-column>
          <clr-dg-column>Location</clr-dg-column>
          <clr-dg-column>Current Status</clr-dg-column>
          <clr-dg-column>Set Frequency</clr-dg-column>
          <clr-dg-column>Generate Schedule</clr-dg-column>
    
          <clr-dg-row *clrDgItems="let result of filteredMaterials; let i = index" [clrDgItem]="result">
          
             <clr-dg-cell>{{ result.equipment_name }}</clr-dg-cell>
             <clr-dg-cell>{{ result.description || 'N/A'}}</clr-dg-cell>
             <clr-dg-cell>{{ result.department }}</clr-dg-cell>
             <clr-dg-cell>{{ result.location || 'N/A'}}</clr-dg-cell>
            <clr-dg-cell>{{ result.status}}</clr-dg-cell>
            <clr-dg-cell>
              <button class="btn btn-sm btn-icon btn-outline-danger" (click)="view(result)">
                <clr-icon class="is-warning" shape="pencil"> </clr-icon> Set Frequency
              </button>
            </clr-dg-cell>
            <clr-dg-cell>
              <button class="btn btn-sm btn-icon btn-outline-success" (click)="view1(result)">
                <clr-icon class="is-warning" shape="pencil"> </clr-icon> Generate Schedule
              </button>
            </clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </div>
      <!-- <table class="table">
        <tr *ngFor="let data of equipmentslog; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{data.equipment_name}}</td>
        </tr>
      </table> -->
  </div>
</div>


 


<clr-modal [(clrModalOpen)]="isLast" clrModalSize="small" clrModalClosable="false">
  <h3 class="modal-title">Update Equipment Last Maintenance Dates</h3>
  <div class="modal-body">
    <table class="table table-border">
      <tr>
        <td colspan="3">Inspection Dates</td>
      </tr>
      <tr *ngFor="let res of selectedResult?.inpection_freequency; let j = index">
        <td>{{ j + 1 }}</td>
        <td>{{ res.particular }}</td>
        <td> <input type="date" name="inspection_date_{{j}}" [(ngModel)]="res.last_insp_date"></td>
      </tr>
      <tr>
        <td colspan="3">Prev. Maint. Dates</td>
      </tr>
      <tr *ngFor="let res of selectedResult?.prev_maint_frequency; let j = index">
        <td>{{ j + 1 }}</td>
        <td>{{ res.particular }}</td>
        <td> <input type="date" name="last_prevent_date_{{j}}" [(ngModel)]="res.last_prevent_date"></td>

      </tr>

    </table>
  </div>
  <div class="modal-footer">
    <button [disabled]="!isbutton"  type="button" class="btn btn-primary" (click)="openDigiSign()">{{'common.update' | translate}}</button>
    <button type="button" class="btn btn-danger" (click)="isLast = false">{{'common.close' | translate}}</button>
  </div>
</clr-modal>











<clr-modal [(clrModalOpen)]="isView" clrModalSize="m" clrModalClosable="false">
<h3 class="modal-title">Set Frequency</h3>
<div class="modal-body">
  <div class="clr-row">
  <form #equipmentForm="ngForm" style="padding: 20px;">
  
    <div class="clr-row">
   
         <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-4 clr-col-xs-12" ></div>
         <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12" >
          <label><b>Preventive Frequency: <span style="color: red">*</span></b></label>
          <ul>
            <li *ngFor="let res of preventive; let j = index">
              <input type="checkbox" name="preventive_{{j}}" [(ngModel)]="res.checked" [ngModelOptions]="{standalone: true}" style="margin-right: 5px;" />
              <label>{{res.particular}}</label>
            </li>
          </ul>
          
        </div>
  
        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12" >
          <label><b>Inspection Frequency: <span style="color: red">*</span></b></label>
          <ul>
            <li *ngFor="let res of inspection; let j = index">
              <input type="checkbox" name="inspection_{{j}}" [(ngModel)]="res.checked" [ngModelOptions]="{standalone: true}" style="margin-right: 5px;" /> 
              <label>{{res.particular}}</label>
            </li>
            
          </ul> 
        </div>
 
       </div>
  </form>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="updateEquipmentdata(equipmentForm)"
    [disabled]="equipmentForm.invalid">Set Frequency</button>
  <button type="button" class="btn btn-danger" (click)="isView= false ">{{'common.close' | translate}}</button>
</div>
</clr-modal>



<clr-modal [(clrModalOpen)]="isDIGI" [clrModalClosable]="true">
  <h3 class="modal-title">&#9989; Sign Digitally For User ID : <span style="color: blue;">{{emp_id}} </span></h3>
  <div class="modal-body">
    <div class="card">
      <div class="card-block">
        <div class="card-text">
          <form #addMaterialForm="ngForm">
            <div class="modal-body">
              <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                <label>Enter Passward Or 4 Digit Authorization PIN <span style="color: red">*</span></label>
                <input type="password" name="loginPassward" [(ngModel)]="loginPassward" required >
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" (click)="digiSign(addMaterialForm)">{{'common.submit' | translate}}</button>
       </div>
    </div>
  </div>
</clr-modal>